  /*Body*/

/*MelaninAustin*/
h1, .Section, h2, p, .Google {
  text-align: center;
}

h1 {
  color: black;
  background-color: #aa8eb5;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  border: 1.5px solid;
  margin: auto;
}

.Section {
  margin: 0 auto;
  position: relative;
  top: 25%;
  width: 90%;
}

/*Celebrating the Diaspora*/
.subheading {
  margin-top: 0px;
  color: black;
  background-color: #aa8eb5;
  font-weight: 900;
  font-size: 50px;
  border: 1px solid;
}

h2 {
  margin-top: 45px;
  color: black;
  background-color: #aa8eb5;
  font-weight: 900;
  font-size: 50px;
  border: 1.5px solid;
  border-radius: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*Paragraphs*/
p {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5em;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  top: 80%;
  width: 95%;
}

/*Google link*/
.Google {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.90);
  display:block;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 200;
  word-spacing: 0.05em;
  letter-spacing: 0.01em;
  font-style: italic;
  line-height: 14px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  position:relative;
  top: 80%;
  width: 90%;
}

/*Body Background Image*/
.main {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-5/shards.png");
  margin: 0;
  padding: 40px;
}

/*Initial Background Image*/
.header {
  background-image: url("images/yegide-matthews-60888.jpg");
  background-position: center center;
  background-size: cover;
  height: 1000px;
  width: 100%;
}

/*Make fonts throughout site the same*/
* {
  font-family: Roboto, Garamond, serif;
}
