/*made it so that the navbar had a certain color */
.container-fluid {
  background-color: #00308F;
  height: 100px;
}

.portfolio {
padding-bottom: 100px;
}

.ptfl {
  padding-left: 170px;
}
/*made it so the navbar links were more visible and had enough space between them*/
h2 {
  color: white;
  float: left;
  padding-right: 55px;
  padding-top: 25px;
  padding-left: 10px;
}

.form-horizontal {
  padding-top: 100px;
}

.one{
  padding-left: 100px;
}

.two {
  padding-left: 20px;
}
/*made it so the main had a background hue*/
main{
  background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}
form{
  padding-right: 160px;
}

.thomasandsons {
  width: 700px;
  height:500px;
}

.navbar-header {
    left: 0;
    top: 0;
    width: 100%;
}
h2 a {
  color: white;
}
/* added multiple media queries to change the size of the navabar, and pictures*/
@media (max-width:1049px) {
.flex-container{
  float: left;
}
}

@media (max-width: 1013px) {
h2 a{
  font-size: 18px;
}
h2{
  padding-left: 60px;
}
}

@media (max-width:1000px) {
h2{
  padding-left: 40px;
}
}
@media (max-width:920px) {
  h2{
    padding-left: 20px;
  }
}

@media (max-width:840px) {
  h2{
    padding-left: 0px;
  }
}

@media (max-width: 767px){
  h2 a{
    font-size: 12px;
  }

  form{
    padding-left: 20px;
    padding-right: 50px;
  }
}

@media (max-width:669px) {
h2 {
  padding-left: 10px;
  padding-right: 5px;
}
}

@media (max-width:509px) {
  h2 a{
    font-size: 10px;
  }
}

@media (max-width:473px) {
  h2 a{
    font-size: 8.5px;
  }
  h2 {
    padding-left: 2px;
    padding-right: 1px;
  }
}
.flex-container{
  display: flex;
  flex-direction: row;
}

.report {
width: 700px;
height:400px;
}
/*made it so the pictures had space between, above and below them*/
.flex-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.NASA {
  width: 500px;
  height: 450px;
}
/*made it so that the links were more visible with the background */
a.one:link {
  color: green;
}

a.one:visited{
  color: green;
}
