body {
  width: 100%;
}

 header {
   background-image: url("./wine14.jpg");
   height: 500px;
 }

 .photof {
    opacity: 0.75;
  }


.top {
  text-align: center;
  /*margin: 100px 200px 0 170px;*/
  height: 500px;
}

.head {
  display: flex;
  margin-left: 600px;
  padding-top: 100px;
}

.headcopy {
  font-size: 21px;
  font-weight: 300;
  line-height: 5.4;
  font-family: 'Georgia';
  font-style: italic;
  text-align: center;
  color: #ffffff;
}

#headcopy {
  text-align: center;
}

.right {
  background-image: url("./wine16.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

h2 {
  letter-spacing: 2px;
  opacity: 0.5;
  font-family: 'Georgia';
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

h3 {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 24px;
}

.para {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Georgia';
  color: #666;
}

.twohero {
  background-image: url("./wine13.jpg");
  height: 500px;
  background-repeat: no-repeat;
}

.left {
  margin-top: 80px;
}

h4 {
  font-family: 'Georgia';
  color: white;
  font-style: italic;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}

.paratwo {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Georgia';
  color: white;
}

.copy {
  text-align: center;
  padding-top: 90px;
  width: 80%;
  padding-left: 200px;
}

.bottom {
  display: flex;
}

.contain {
  justify-content: space-around;
}

.one {
  background-image: url("./left.jpg");
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;

}

.two {
  background-image: url("./middle.jpg");
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;

}

.three {
  background-image: url("./right.jpg");
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;

}
