body, html{
  height: 100%;
}

header{
  background-image: linear-gradient( rgba(59, 59, 59, 0.5), rgba(59, 59, 59, 0.5) ), url("../img/bg.jpg");
  text-align: center;
  background-position: center;
  color:white;
  padding: 35px 0;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: transparent;
  font-family: Helvetica;
  font-size: 12px;
}

.navbar-nav {
  float: right;
  margin-right: -15px;
}

.navbar-default .navbar-nav>li>a{
  color:white;
}

.logoDiv{
  height: 400px;
  width: 110%;
  padding: 0;
  margin: 0;
  background-image: url("../img/wine1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.65;
}

#quote1{
  font-style: italic;
  font-size: 20px;
}

#author{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 14px;
  padding-top: 10px;
}

.textLeft{
  padding: 70px 10px;
  line-height: 30px;
}

.content1{
  overflow: hidden;
  width: 100%;
  height: 500px;
  text-align: center;
}

.content1 p{
  padding: 10px 5px;
}

#date{
  color: #949494;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}

#experience{
  font-size: 25px;
  font-style: italic;
  padding: 20px;
  margin-top: 25px;
}

#philosophy{
  color: #666666;
  font-size: 17px;
}

.imgRight{
  padding: 0;
}

.wash{
  padding: 0;
  width: 100%;
  margin-top: -150px;
  overflow: hidden;
}

.divWashTop{
  height: 400px;
  padding: 0;
  background-image: url("../img/wash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.content2{
  background-image: linear-gradient( rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5) ), url("../img/person.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

#quote2{
  font-size: 35px;
  font-style: italic;
  padding: 80px 25px 50px 25px;
  line-height: 45px;
}

#philosophy2{
  line-height: 30px;
  padding: 0 25px;
}

.bottleSection{
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

#bottle1Img{
  background-image:url("../img/firstbottle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#bottle2Img{
  background-image:url("../img/secondbottle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#bottle3Img{
  background-image:url("../img/thirdbottle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottleImgs{
  width: 50%;
}

.bottleText{
  font-style: italic;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid black;
  line-height: 25px;
  padding: 0 30px;
  height: 250px;
}

h2{
  padding: 18px 0;
  font-weight: bold;
}

.shopBottles{
  background-color: #91A05C;
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 15px;
  color: white;
  border: none;
  font-family: Helvetica;
  font-style: normal;
}

.awards{
  background-color: #BFBFBF;
  background-image: url("../img/glass.jpg");
  background-position:top;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-attachment: fixed;
}

#awardTitle{
  font-style: italic;
  font-size: 28px;
  font-weight: bold;
  padding: 45px;
}

.awardText{
  padding: 30px 50px;
  line-height: 25px;
}

.contactInfo{
  height: 400px;
  line-height: 25px;
}

.addressImg{
  height: 400px;
  padding: 0;
  background-image: url("../img/pour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h3{
  font-size: 20px;
  font-style: italic;
  padding-top: 20px;
  font-weight: bold;
}

#comment{
  border-bottom: 1px solid black;
  color: #666666;
  padding: 25px 0;
  font-weight: bold;
}

.address{
  padding: 40px;
  background-color: #F8F8F8;
  height: 400px;
}

#address{
  color: #666666;
  padding: 25px 0;
}

#phoneNumber{
  font-weight: lighter;
  color: #666666;
  font-family: Helvetica;
  font-size: 13px;
}

.footer{
  color:white;
  text-align: center;
  background-color: #292929;
  height: 450px;
  padding: 10px;
}

h4{
  font-size: 35px;
  font-style: italic;
  padding: 100px 0 15px 0;
}

#footerComment{
  padding: 25px;
  font-size: 18px;
  line-height: 30px;
}

input{
  background-color: transparent;
  border: 1px solid #f8f8f8;
  margin: 0 8px 8px 0;
  font-family: Helvetica;
  font-size: 12px;
  height: 45px;
}

.footerButton{
  background-color: #91A05C;
  padding: 10px 0;
  height: 45px;
  font-size: 12px;
  color: white;
  border: none;
  font-family: Helvetica;
  font-style: normal;
}
