header {
  background-image: url("../img/wine14.jpg");
  height: 500px;
}

.navbar {
  border-bottom: 1px solid white;
}

.navbar-inverse {
  background-color: transparent;
}

.navbar-nav {
  color: white;
}
