.navbar {
  width: 100%;
  background-color: transparent;
  margin-bottom: 0;
}

.navbar-brand {
  text-transform: uppercase;
}

.search-btn {
  padding: 15px;
  font-size: 20px;
}

.hero-unit {
  padding: 0;
  height: 700px;
  background: url("../img/wine14.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  width: 400px;
  color: white;
}

.section-height {
  height: 400px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  display: flex;
  width: 400px;
  flex-direction: column;
  text-align: center;
}
