.one {
  background-image: url(img/img1.jpg);
}

.two {
background-image: url(img/img2.jpg);
}

.three {
background-image: url(img3.jpg);
}

.four {
background-image: url(img/img4.jpg);
}

.five {
background-image: url(img/img5.jpg);
}
