.container > div {
  height: 100px;
  width: 100px;
  background: red;
  margin: 10px;
}

.container {
  width: 10%;
  margin: 0 auto;
}

/*COLOR SCHEME 1*/
#square1 {
  background-color: #BDB76B;
}

#square2 {
  background-color: #8FBC8F;
}

#square3 {
  background-color: #696969;
}

/*COLOR SCHEME 2*/
#square4 {
  background-color: #DAA520;
}

#square5 {
  background-color: #808080;
}

#square6 {
  background-color: #191970;
}

#square7 {
  background-color: #F0E68C;
}

/*COLOR SCHEME 3*/
#square8 {
  background-color: #1E90FF;
}

#square9 {
  background-color: #696969;
}

#square10 {
  background-color: #B8860B;
}

/*COLOR SCHEME 4*/
#square11 {
  background-color: #A9A9A9;
}

#square12 {
  background-color:#BDB76B;
}

#square13 {
  background-color: #8FBC8F;
}

#square14 {
  background-color:#FF4500;
}
