header {background-color:transparent;
text-align: center;
color: bisque;
font-family: 'Pacifico', cursive;
font-size: 40px;}

h1 {
    color:white;
    background-color: grey;
    font-style: bold;
    text-align: center;
    border-style:outset;
    border-width: 3px;
}

img {
    margin: auto;
  height: 150px;
  padding:1px;
width: 30px;
  border:2px solid tan;}

.column {
    position: relative;
    float: left;
    width: 33.33%;
    overflow:hidden;
  }


a:link {
    color:black;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}


a:active {
    color:black;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

a:hover {
    color:white;
    background-color: transparent;
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.info {
    padding: 25px;
    background-color:tan;
    width: 50%;
    height:500%;
    margin:5%;
    border: black 2px dashed;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    float: left;
    opacity: 0.7;}
    /*align box on upper left hand side*/

.contact {
    padding: 25px;
    background-color:tan;
    width: 50%;
    height:550%;
    margin:5%;
    border: black 2px dashed;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    float: right;
    color: black;
    text-align:center ;
    opacity: 0.7;
}
/*align box on middle right hand side*/



.hours {
    padding: 25px;
    background-color:tan;
    width: 50%;
    height:600%;
    margin:5%;
    border: black 2px dashed;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    float: left;
    text-align: center;
    opacity: 0.7;
}
/*align box on lower left hand side*/

.footerbox {
    position: relative;
    margin-top: -50px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
    background-color: grey;
    text-align: center;
    font-family:arial italic;
    font-size:15px;
  }