/* desktop styling */
body {
    background-color:#76AEB8;
}
/* header styling */

header {
    display:flex;
    flex-direction:column;
    background-color:white;
    height:300px;
    max-width:70%;
    justify-content:center;
    align-items:center;
    margin:auto;
    border-radius:50% 50%;
}
header > img {
    height:200px;
    width:300px;
}
 header > nav {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    width: 50%;
    height:50px;
    font-size:20pt;
    font-family:Snell Roundhand, cursive;
}
/* nav link styling */
nav > a:link {
    text-decoration:none;
    color:#468BA5;
}
nav > a:visited {
    color:#7F3B6F;
}
nav > a:hover {
    font-size:25pt;
    color:#C23796;
}
/* main styling */
main {
    background-image:url(../images/Screen\ Shot\ 2018-08-25\ at\ 6.33.03\ PM.png);
    background-size:cover;
    background-attachment: fixed;
    width:70%;
    height:700x;
    margin:auto;
}
/* section styling */
section {
    height:500px;
    width:80%;
    margin:auto;
    text-align:center;
}
section > h1 {
    color:white;
    font-size:30pt;
    padding-top:20px;
    font-family:Snell Roundhand, cursive;
}
h1 > span {
    color:#C23796;
}
section > p {
    color:white;
    font-size:24pt;
    line-height:50px;
    font-family:Snell Roundhand, cursive;
}
/* aside styling */
main > aside {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:1em;
    height:200px;
}
aside > div {
    height: 190px;
    width:100%;
    text-align:left;
    background-color:#63B0BA;
    border-radius:100%;
    transition: background-color 1s ease;
}
aside > div:hover {
    background-color:#7F3B6F;
    transform: perspective(500px) translate3d(10px, 0, 50px);
 
}
div > h1 {
    text-align:center;
    color:white;
}
div > p {
    padding-left:40px;
    color:white;
}
p > a:link {
    text-decoration:none;
    color:white;
}
p > a:visited {
    color:white;
}
p >a:hover {
    font-size:14pt;
}
div > input.message {
    margin-left:40px;
}
/* footer styling */
footer {
    position:relative;
    bottom:10px;
    left:10px;
    color:white;
    font-size:10pt;
}
/* mobile media query */
@media only screen and (max-width: 768px){
    /* header styling */
    header {
        flex-direction:column;
        max-width:90%;
        height:350px;
        border-radius:0%;
    }
    header > img {
        max-width:200px;
        height:200px;
    }
    header > nav {
        flex-direction:column;
        line-height:20px;
        align-items:center;
        justify-content:center;
        font-size:16pt;
    }
    main {
        width:90%;
        height:700px;
    }
/* section styling */
    section {
        height:350px;
    }
    section > h1 {
        color:white;
        font-size:20pt;
        padding-top:10px;
        font-family:Snell Roundhand, cursive;
    }
    section > p {
        color:white;
        font-size:16pt;
        line-height:30px;
        font-family:Snell Roundhand, cursive;
    } 
    /* aside styling */
    main > aside {
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns:1fr;
        height:200px;
    }   
    aside > div {
        height: 100px;
        width:100%;
        text-align:center;
        background-color:#63B0BA;
        border-radius:0%;
    }
    div > h1 {
        text-align:center;
        color:white;
        font-size:12pt;
        text-decoration:underline;
    }
    div > p {
        padding-left:0px;
        color:white;
        font-size:12pt;
    }
    div > input.message {
        margin-left:0px;
    }
    footer {
        position:relative;
        bottom:1px;
        left:1px;
        color:white;
        font-size:10pt;
    }
}