/*
h1 {
  color: black;
}


header {
  background-color: white;
  width: 500px;
  margin: 10px;
  border: solid;
  text-align: center;
}
nav {
  background-color: yellow;
  border:solid;
  text-align: center;
  margin:5px;

}

main {
  background-color: white;
  width: 500px;
  border: solid;
  text-align: center;
  margin: 10px;

}
section {
  background-color: white;
  width: 300px;
  text-align: center;
  border: solid;
  float: left;

}
article {
  background-color: white;
  border: solid;
  margin: 5px;
}
aside {
  background-color: white;
  width: 200px;
  border: solid;
  float: left;
}
footer {
  background-color: white;
  width: 500px;
  margin: 5px;
  text-align: center;
  border: solid;
}*/
header {
  text-align: center;
  border: 10px, black;
}

main {
  text-align: center;
  border: 1px, black;
}

section {
  text-align: left;
  width: 50%;
  float:left;

}

aside {
  float:left;
  width: 50%;
  text-align:left;
}

footer {
  text-align: center;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
