body {
  font-size: 16px;
  font-family: 'Arima Madurai', cursive;
  font-weight: 200;
  color: #FFFCF4;
}

body h2 {
  font-size: 22px;
}

.background-ocean {
  background-image: url(../img/turksplane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 110%;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #FFFCF4;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 100px;
  width: 100%;
  border: none;
  border-bottom: solid #1D4A71 3px;
}

.brand {
  font-family: 'Pacifico';
  color: #1D4A71;
  float: left;
  padding: 20px;
}

.brand:hover {
  color: #FFFA66;
}

.brand-nav {
  font-size: 35px;
  line-height: 40px;
  padding: 8px;
}

.filter {
  background-color: white;
  height: 100%;
  opacity: .25;
  position: absolute;;
  top: 0;
  left: 0;
}

.nav ul {
  text-align: right;
}

.links {
  margin-right: 10px;
  float: right;
}

.nav li a {
  font-family: 'Arima Madurai', cursive;
  font-weight: 100;
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
  color: #FFFA66;
  background-color: #1D4A71;
}

.nav li a:hover {
  background-color: #FFFCF4;
  border-bottom: solid #FFFA66 3px;
  color: #1D4A71;
}
#navtog {
  height: 50px;
  width: 50px;
  margin: 24px;
  float: right;
}

#burger {
  background-color: #1D4A71;
  padding: 21px;
  margin: 19px;
  margin-right: 39px;
  border-radius: 5px;
}

#burger:hover {
  color: #FFFA66;
}

.dropdown {
  padding: 0;
  margin: 0;
  border-bottom: solid #1D4A71 3px;
  border-top: solid #1D4A71 3px;
}

/*.map {
  padding: 20px;
}

#gmap_canvas img {
  max-width:none!important;
  background:none!important;
}*/

#about {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about p {
  font-style: italic;
}

#about li {
  color: #1D4A71;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}

#about span {
  color: #FFFCF4;
  font-size: 18px;
}

#about img {
  max-width: 275px;
  border: solid #1D4A71 2px;
  margin: 5px;
  text-align: center;
}

#pngsvg {
  background: white;
  padding: 10px;
}

footer {
  background-color: #FFFCF4;
  height: 205px;
  text-align: center;
  color: #1D4A71;
  font-family: 'Arima Madurai';
  font-weight: 100;
  padding-top: 15px;
  border-bottom: solid #1D4A71 3px;
  border-top: solid #1D4A71 3px;
}

footer h4 {
  font-size: 18px;
}

footer li {
  text-align: center;
}

footer li a:hover {
  color: #FFFA66;
  text-decoration: none;
}

#me {
  background-image: url(../img/headshot.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100px;
}

.social ul {
  padding-top: 23px;
}

.social li {
  line-height: 22px;
}

.headshot h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title h1 {
  font-size: 12px;
}

@media (min-width: 768px) {
  .nav li a:hover {
    color: #FFFA66;
    background-color: #1D4A71;
  }

  .nav li a {
    background-color: #FFFCF4;
    border-bottom: solid #1D4A71 3px;
    color: #1D4A71;
    font-size: 20px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 100;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
  }

  #hero-text {
    padding-top: 68%;
  }

  .animated:hover {
    animation-name: wobble;
    animation-duration: 1;
  }
}
