#colors {
  color: hsl(187, 47%, 55%);
  color: hsl(207, 82%, 66%);
  color: hsl(286, 60%, 67%);
  color: hsl( 95, 38%, 62%);
  color: hsl(355, 65%, 65%);
  color: hsl(  5, 48%, 51%);
  color: hsl( 29, 54%, 61%);
  color: hsl( 39, 67%, 69%);
}