h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
}
ul {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
li {
  list-style: none;
  font-family: monospace;
  margin: 10px;
}
#div1 {
  background-color: pink;
  min-height: 2000px;
}
#div1a {
  border-bottom: 1px solid black;
}
#div1b {
  padding-top: 20px;
  margin-left: 20px;
}
img {
  width: 100%;
}
#div2 {
  background-color: red;
  min-height: 2000px;
}
#div2 h1{
  color: white;
}
#h1X {
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 6;
}
