@charset "utf-8";
/*
==========================================
CSS for TEMPLATE
==========================================
*/

/*
-----------------------------------
elements
-----------------------------------
*/
body {background image: url('./img/lake.jpg');
      background size: cover;
      font-family: Arial, sans-serif;
      color: #3C786B;
      -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
       box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
}
h1 {
    font-family: 'Oswald', arial, sans-serif;
    font-size: 36pt;
    line-height: 1.25em;
    color: #42808C;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    font-weight: 700;
}
h2 {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 24pt;
    line-height: 1.5em;
    color: #2B8488;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 700;
}
h3 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 20pt;
    color: #286975;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
    margin-bottom:0;
    font-weight: 700;
}
h4 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
    color: #4296A6;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}
h5 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1em;
    color: #4296A6;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 3px;
    font-weight: 700;
}
p {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #000;
}

a:link {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #276B75;
    text-decoration: none;
}
a:visited {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #276B75;
    text-decoration: none;
}
a:hover {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #276B75;
    text-decoration: underline;
}

ul > li, ol > li  {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding-top: 3px;
}

blockquote {
    border-left: 4px solid #3C786B;
    background-color: #f1f1f1;
}


/*
-----------------------------------
header
-----------------------------------
*/
.top-banner {
    width: 100%;
    background-color: #5E9185;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.top-banner img {
    height: 58px;
    border: none;
}

/*
-----------------------------------
footer
-----------------------------------
*/
.bottom-footer {
    width: 100%;
    background-color: #5E9185;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom-footer p, .bottom-footer a  {
    font-family: Oxygen, arial, sans-serif;
    font-size: 10pt;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
.bottom-footer p:nth-child(1) a {
    font-size: 15px;
}

.bluetext {
    color: #4a778a;
    padding-top:3px;
}
.nobottom {
    padding-bottom: 0;
    margin-bottom: 0;
}
.panel-footer  {
    text-align: center;
}
/*
-----------------------------------
misc
-----------------------------------
*/
.figcap {
    padding-top: 3px;
    font-size: 10pt;
    font-style: italic;
}
.spacemetop {
    margin-top: 20px;
}
/* panels */
@media (min-width: 1197px) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
        height:160px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 975px) and (max-width: 1196px ) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
        height:190px;
    }
    .panel-heading {
        min-height:70px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (max-width: 974px) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}

/*
-----------------------------------
END
-----------------------------------
