body {
  background: url("/web-workbook/IMAGES/rustic.jpeg") 100% #4ab6b8;
  font-family: 'Indie Flower', cursive;
}

body header {
  margin: 0px;
  padding: 20px;
  background-color: rgb(74, 182, 184, .04);
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 1.5em;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: rgb(178, 171, 132);
  width: 90%;
  font-family: 'Indie Flower', cursive;
}

body footer {
  margin: 0px;
  padding: 10px;
  font-size: .8em;
  background-color: rgb(74, 182, 184, .04);
  font-family: 'Indie Flower', cursive;
}
