@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/* Changes to current page style to accomodate nav-menu */
body {
  overflow-x: hidden;
}
main {
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
}
main.body-open {
  transform: translateX(0);
}

/* Hamburger icon styles */
/* ----------------------------------- */
.nav-toggler {
  position: fixed;
  opacity: .3;
  top: .2em;
  left: .2em;
  cursor: pointer;
  z-index: 100;
  background: #303030;
  padding: .2em .6em .3em .4em;
  border-radius: 3px;
  transition: transform 250ms ease-in-out;
}
.nav-toggler:hover {
  opacity: 1;
}
.nav-toggler.nav-open {
  transform: translateX(250px);
  opacity: 1;
}
.bar1,
.bar2,
.bar3 {
  content: '';
  display: block;
  height: 3px;
  width: 2em;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 250ms ease;
  background: #E0E0E0;
}
.nav-open .bar1 {
  transform: translateY(15px) translateY(-7px) rotateZ(45deg);
}
.nav-open .bar2 {
  width: 0;
}
.nav-open .bar3 {
  transform: translateY(-15px) translateY(7px) rotateZ(-45deg);
}

.nav-menu.homepage,
.nav-menu.workbookpage {
  background-color: #303030;
  box-shadow: 0px 0px 45px -5px rgba(0,0,0,0.55);
  position: fixed;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  transition: transform 250ms ease-in-out;
}
.nav-menu.workbookpage {
  height: 100%;
  transform: translateX(-250px);
}
.nav-menu.nav-open {
  transform: translatex(0);
}
.nav-btn {
  display: block;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1.25em 0 .25em;
  color: #E0E0E0;
}
.nav-btn:hover {
  color: #606060;
  background-color: #E0E0E0;
  cursor: pointer;
}

.current-page::before,
.current-page::after {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #e74c3c;
}
.current-page::before {
  content: "\f105";
  margin-right: 2px;
}
.current-page::after {
  content: "\f104";
  margin-left: 2px;
}