@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.nav-toggler {
  position: absolute;
  top: .625em;
  left: .625em;
  cursor: pointer;
  z-index: 100;
}

.bar1,
.bar2,
.bar3 {
  content: '';
  display: block;
  height: 3px;
  width: 1.75em;
  margin: 5px 0;
  border-radius: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
#dark>.bar1,
#dark>.bar2,
#dark>.bar3 { background: #303030 }

#light>.bar1,
#light>.bar2,
#light>.bar3 { background: #E0E0E0 }

.active .bar1 {
  -webkit-transform: translateY(15px) translateY(-7px) rotateZ(45deg);
  transform: translateY(15px) translateY(-7px) rotateZ(45deg);
}
.active .bar2 {
  width: 0;
}
.active .bar3 {
  -webkit-transform: translateY(-15px) translateY(7px) rotateZ(-45deg);
  transform: translateY(-15px) translateY(7px) rotateZ(-45deg);
}

.nav-menu.homepage,
.nav-menu.workbookpage {
  background-color: #303030;
  position: fixed;
  min-width: 100px;
  margin-top: .625em;
  margin-left: 3.1em;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.nav-menu.workbookpage {
  transform: translateX(-200%);
  transition: transform ease-in-out 300ms;
}
.nav-menu.active {
  transform: translateX(0);
}
.nav-menu:hover {
  opacity: 1;
  box-shadow: 0 0 1em 0 rgba(0,0,0,.3);
}
.nav-btn {
  display: block;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1.25em 0 .25em;
  color: #E0E0E0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.nav-btn:hover {
  color: #606060;
  background-color: #E0E0E0;
  cursor: pointer;
}

.current-page::before,
.current-page::after {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #e74c3c;
}
.current-page::before {
  content: "\f105";
  margin-right: 2px;
}
.current-page::after {
  content: "\f104";
  margin-left: 2px;
}