
.final {
  height: 250px;
  background: url("https://images.unsplash.com/photo-1471717275416-cbeef614486b?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.row {
  margin:2px;
}
.box {
  height: 250px;
}
.lessonOne {
  background-color: red;
  /*height: 200px;*/
}
.lessonTwo {
  background-color: green;
  /*height: 200px;*/
}
