.container {
  /*margin: 0 auto;*/
  text-align: center;
  padding-left: 50px;
}
.quarter {
  width:25%;
  height:150px;
  float:left;
  position:relative;
  border: 1px solid black;
  padding: none;
}
.quarter img{
  width:100%;
  height:150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /**/makes photo black and white
}
.quarter img:hover{
  -webkit-filter: none;
  filter: grayscale none;
}
.overlay {
  position:absolute;
  z-index:100;
  color:white;
  top:90px;
  height:60px;
  width:100%;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
}
.overlay p {
  Font-size:10px;
  Font-color:#FFFFFF;
  font-family:sans-serif;
}
.overlay a:link {
    color: white;
    font-size:14px;
    text-decoration: none;
}
.overlay a:visited {
    font-size:18px;
    color:white;
}
.overlay a:hover {
    font-size:18px;
    color:white;
}
.overlay a:active {
    color: white;
}
/*img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}*/
