.container {
  margin: 0 auto;
  text-align: center;
  padding-left: 50px;
}
.quarter {
  width:25%;
  height:150px;
  float:left;
  border: 2px solid black;
}
.quarter img{
  position: relative;
  width: 100%;
  height:100%;
}
.overlay {
  
  border:2px solid #555;
  padding: 5px 5px 5px 5px;
  height:20px;
  width:120px;
  position:absolute;
  /*this moves the button with the movement of the div*/
  margin:0 auto;
  /*keeps the botton to the middle*/
  text-align:center'
  background-color:#FFFFFF;

}
