.body {
  width: 80%;
  margin: auto;
}

.lesson {
  width: 45%;
  height: 200px;
  float: left;
  background-color: #3333ff;
  border-radius: 25px;
  margin: 15px;
}

.final, .nineteen {
  width: 92%;
  height: 200px;
  background-color: #3333ff;
}


 .lesson:hover {
  background-color: red;
  transition: 3s;
}
