.topnav{
  height: 100%;
  position: fixed;
  overflow: auto;
  /*background-color: lightgrey;*/
}
li{
  list-style-type: none;
}
.navigation li a{
  color: white;
  text-decoration: none;
  font-family: verdana
}
.headerbox{
  font-family: verdana;
  padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.Lesson{
  padding: 20px 10px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 25px;
  margin-right: 75px;
  margin-top: 10px;
  background-color: #cccccc;
  opacity: .7;
}
.about1{
  margin-top: 40px;
  text-align: center;
  background-color: blue;
  height: 100px;
}
.backgroundimg{
  background-image: url("https://images.unsplash.com/photo-1467663802424-21ff675548c4?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
