body{
  background-image:;
}
.container{
  margin:auto;
  width: 100%;
}
.lesson{
  float: left;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  padding: 5px;
  margin: 20px;
  opacity: .75;
}
.lesson:hover{
  opacity: 1;
}
.lesson h3{
  color: white;
  padding: 16px;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.lesson a{
  color: white;
  text-decoration: none;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.lesson a:hover{
  color: #33ccff;
}
.header{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  height:50px;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: 'Over the Rainbow', cursive;
  border: 5px dotted black;
}
.one{
  background-image: url("https://images.unsplash.com/photo-1465553082841-c22c9e9f67dc?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=1d8a48e727f73d706b9af359031e9849");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.two{
  background-image: url("https://images.unsplash.com/photo-1468852665336-688059663b5b?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=eaf59120cfc1fd69b46d74f1b7ae85b1");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.three{
  background-image: url("https://images.unsplash.com/photo-1465920431246-94bf7d9d4269?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=a7f1ae8000fe7f08450a4176ae84df0f");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.four{
  background-image: url("https://images.unsplash.com/photo-1414109918748-922adee5554a?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1296&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.five{
  background-image: url("https://images.unsplash.com/photo-1422499590333-3994c63a8ec1?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=844&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.six{
  background-image: url("https://images.unsplash.com/photo-1444021465936-c6ca81d39b84?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1500&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.seven{
  background-image: url("https://images.unsplash.com/photo-1452719265449-25a1ea553885?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.eight{
  background-image: url("https://images.unsplash.com/photo-1453790981250-112d2ad2f35b?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=59f5f45a4f57f9ad676052f94d380536");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.nine{
  background-image: url("https://images.unsplash.com/photo-1461407253610-78178a3f453f?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=f98fbd628f31b8f6d2c28d9a2010a8a8");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.ten{
  background-image: url("https://images.unsplash.com/photo-1452957689853-fd2b4f3d3aa2?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=8f9f328f288895133fffa7989aa89921");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.eleven{
  background-image: url("https://images.unsplash.com/photo-1460499593944-39e14f96a8c6?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=756d0b1a3474e0e2e535173d4ee2e919");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.twelve{
  background-image: url("https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=8ca4b01e5e7b4b9621a9a85fd24adf0c");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.thirteen{
  background-image: url("https://images.unsplash.com/photo-1455582916367-25f75bfc6710?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=7a3b104b3c18a77d0b7a2d14c15bb1b5");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.fourteen{
  background-image: url("https://images.unsplash.com/photo-1463341385077-92f7867ba6a1?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=8924a30358e7190264678c79e276c76f");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.fifteen{
  background-image: url("https://images.unsplash.com/photo-1468872961186-1d26f74f3355?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=65acea17fe4ca2a30f5c60963d18fec4");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.sixteen{
  background-image: url("https://images.unsplash.com/photo-1422036506891-08aee40c0bce?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=9cf12b33b733987ca5a211338eb06a0c");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.seventeen{
  background-image: url("https://images.unsplash.com/photo-1463938067227-128ba2219262?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=ed2d5d0b1f71def44c7fc4c6b18aeaee");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.eighteen{
  background-image: url("https://images.unsplash.com/photo-1450137532707-68fa794ee7f9?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=f213f81ce8c8d87f50e88bb79670e7fb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.nineteen{
  background-image: url("https://images.unsplash.com/photo-1462214770630-b7484391341b?ixlib=rb-0.3.…rop=entropy&cs=tinysrgb&w=1080&fit=max&s=12fffdbaa8368061335276e07e40e1ef");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.twenty{
  background-image: url("https://images.unsplash.com/photo-1457785029629-a627ff64a1f1?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=997&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
