* {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.navbar-brand{
  font-family:SignPainter-HouseScript,'Yellowtail', cursive;
  color:white;
  font-size: 40px;
  vertical-align: middle;
}
.navbar-left>li{
  color:white;
  font-size: 16px;
  font-family: 'Lato','Raleway',sans-serif;
  padding:10px;
  line-height: 40px;
}
#main {
  height:400px;
  background-image:url("images/sweden.jpeg");
  background-size: cover;
  margin-bottom:20px;
  position: relative;
  background-position:top;
  text-align: center;
  letter-spacing: 40px;

}

#main>h1{
  font-size: 50px;
  text-align: center;
  line-height: 400px;
  font-family:'Lato', sans-serif;
  color:white;
  opacity: 0.8;
}
.project a {
  text-decoration: none;
  border:2px white solid;
  padding:5px;
  color:white;
  font-family:'CenturyGothic','Lato',sans-serif;
  font-size:16px;
}
.project {
  height:300px;
  margin:35px;
  opacity:0.7;
    -webkit-filter:grayscale(100%);
}
.project:hover {
  opacity:1.0;
  filter:none;
  -webkit-filter:grayscale(0%);
}

.project:hover .links{
  visibility: visible;
}

.services{
  height:300px;
  clear:both;
  font-family: 'Lato','Raleway',sans-serif;
  margin-bottom: 100px;
}
.whoweare>h4{
  text-align: center;
  line-height: 30px;
  color:#575757;
}
.about{
  margin-left: 190px;
  margin-bottom: -40px;
  color:#e5e5e5;
    margin-top: 50px;
}
.about:hover{
  animation: bounce;
}
.carouseldescription{
  font-style: italic;
  margin:0 auto;
}
#carousel-example-generic{
  width:1000px;
  height:550px;
  margin:0 auto;
  margin-bottom: 50px;
}
.item>img{
  margin:0 auto;
  max-height: 550px;
}
.portfolio{
    font-family: 'Lato','Raleway',sans-serif;
    letter-spacing: 40px;
    text-align: center;
    margin: 30px;
}
/*Styling for data cell titles*/

/*Styling for divs*/
.one {
  display:inline-block;
  position:relative;
  float:left;
  background-image:url("http://idlemindss.github.io/intro-workbook/css/images/museum.jpeg");
  background-size:cover;
}
.one .links {
  display:inline-block;
  visibility: hidden;
  margin-top:100px;
  margin-left: 110px;
}

.two {
  display:inline;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/reaching.jpeg");
  background-size:cover;
  float:left;
  position:relative;
}


.two .links {
  display:inline-block;
  visibility: hidden;
  margin-top:100px;
  margin-left: 75px;
}

.three {
  display:inline;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/calmlake.jpeg");
  background-size:cover;
}
.three .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}

.four {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/tunnel.jpeg");
  background-size:cover;
  float:left;
}
.four .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 100px;
}
.five {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/notepad.jpeg");
  background-size:cover;
}
.five .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.six {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/canyonfire.jpeg");
  background-size:cover;
  float:left;
}
.six .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.seven {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/street.jpeg");
  background-size:cover;
  float:left;
}
.seven .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 110px;
}
.eight {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/sunlight.jpeg");
  background-size:cover;
  float:left;
}
.eight .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.nine {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/record.jpeg");
  background-size:cover;
  float:left;
}
.nine .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 75px;
}
.ten {
  display:inline-block;
  float:left;
  background-image: url("http://idlemindss.github.io/intro-workbook/css/images/trees.jpeg");
  background-size:cover;
  float:left;
}
.ten .links {
  visibility: hidden;
  display:inline-block;
  margin-top:100px;
  margin-left: 110px;
}
h3 {
  font-size:30px;
  font-family:CenturyGothic;
  text-align:center;
  color:#2b2b2b;
  padding-top: 30px;
}
.lessons {
  text-decoration:none;
  color:white;
  font-family:CenturyGothic;
  font-weight: lighter;
  text-align:center;
  margin-left: -70px;
  padding-top: 20px;
}

.curtain{
  background-color: rgba(0, 0, 0, 0.5);
  height:300px;
  margin-left: 0;
  margin-right:0;
  padding-left: 0;
  padding-right: 0;
}
.navbar-default {
  background-color: #000000;
  border-color: #6dc6ca;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #faffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #faffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #faffff;
  background-color: #6dc6ca;
}
.navbar-default .navbar-toggle {
  border-color: #6dc6ca;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6dc6ca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #faffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faffff;
    background-color: #6dc6ca;
  }
}
@media(max-width:800px){
  .project{
    -webkit-filter:grayscale(0%);
    opacity:1;
    margin:10px;
  }
  .project .links{
    visibility: visible;
  }
  .about{
    margin-left: 330px;
  }
}
@media(max-width:500px){
  #main{
    height:400px;
    background-position: left;
    width:100%;
  }
  #main>h1{
    font-size: 50px;
    letter-spacing: none;
    text-align: left;
    height:200px;
    width:200px;
    line-height: normal;
    margin-top: 200px;
  }
  .navbar-brand{
    font-size: 25px;
    font-family:'Yellowtail', cursive;
  }

  .about{
    margin-left: 130px;
  }
  .portfolio{
    letter-spacing: 10px;
  }
  .links>a{
    text-align: center;
    margin-left:0px;
    font-family: 'Lato',sans-serif;
  }
  .lessons{
    font-family:'Lato',sans-serif;
  }
  .whoweare>h3{
    font-family: 'Lato', sans-serif;
  }
}
