.lesson {
    width: 100%;
    height: 300px;
    float: left;
}
.lesson h3 {
    color: #D3D3D3;
    padding: 20px;
    font-size: 40px;
    margin-bottom: 10px;
}
.lesson a {
    color: #D3D3D3;
    text-decoration: none;
    border: 2px solid #D3D3D3;
    padding: 8px;
    margin: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .5);
}
.lesson:hover {
    opacity: .8;
    background-position: center bottom;
}
a:hover {
    background-color: rgba(225, 225, 225, .3);
    opacity: .5;
    box-shadow: 8px 8px 4px #808080;
}
.header {
    background-image: url("https://images.unsplash.com/photo-1468476775582-6bede20f356f?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=783&q=80&cs=tinysrgb");
    width: 100%;
    height: 700px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 40px;
}
.header h1 {
    padding-top: 200px;
    text-shadow: 4px 4px #808080;
}
.one {
    background-image: url("https://images.unsplash.com/photo-1444842741774-771cf4455a78?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.two {
    background-image: url("https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.three {
    background-image: url("https://images.unsplash.com/photo-1458365288895-9f58c5d8ff09?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.four {
    background-image: url("https://images.unsplash.com/photo-1457365050282-c53d772ef8b2?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.five {
    background-image: url("https://images.unsplash.com/photo-1461360370896-922624d12aa1?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=796&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.six {
    background-image: url("https://images.unsplash.com/photo-1460804198264-011ca89eaa43?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=836&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.seven {
    background-image: url("https://images.unsplash.com/photo-1468245856972-a0333f3f8293?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eight {
    background-image: url("https://images.unsplash.com/photo-1464695110811-dcf3903dc2f4?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=674&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nine {
    background-image: url("https://images.unsplash.com/photo-1467348733814-f93fc480bec6?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=771&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ten {
    background-image: url("https://images.unsplash.com/photo-1465415513839-55341da57a98?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=787&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eleven {
    background-image: url("https://images.unsplash.com/photo-1464655646192-3cb2ace7a67e?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tweleve {
    background-image: url("https://images.unsplash.com/photo-1460186136353-977e9d6085a1?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.thirteen {
    background-image: url("https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fourteen {
    background-image: url("https://images.unsplash.com/photo-1460400408855-36abd76648b9?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fifteen {
    background-image: url("https://images.unsplash.com/photo-1461295025362-7547f63dbaea?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sixteen {
    background-image: url("https://images.unsplash.com/reserve/4bZZKXHQTseRktZuFYsi_OnTheDock.jpg?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.seventeen {
    background-image: url("https://images.unsplash.com/photo-1470923267153-a9effefa7551?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=899&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eighteen {
    background-image: url("https://images.unsplash.com/photo-1470922792794-b15b12d20e80?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nineteen {
    background-image: url("https://images.unsplash.com/photo-1470921269614-2937493e6a2c?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.twenty {
    background-image: url("https://images.unsplash.com/photo-1470866405087-a0e25b760dfd?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
