body {
  background-color: goldenrod;
  }

h1{
  display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

h4 {
  display: block;
margin-top: 1.33em;
margin-bottom: 1.33em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

header {
  background-color: midnightblue;
  color: goldenrod;
  text-align: center;
  padding: 30px;
  padding-right: 35%;
  padding-left: 20%;
}
a {
  padding: 20px;
}
section {
  color: midnightblue;
  text-align: center;
  padding-top: 30px;
  padding-right: 35%;
  padding-left: 20%;
  padding-bottom: 30px;
  }

footer {
  text-align: center;
  position: relative;
    padding: 20px;
    width: 82%;
    bottom: 10px;
    }
