.header {
  background-color: white;
  text-align: center;
  margin:auto;
  font-size: 20px;
}
.lesson {
  width: 48%;
  height: 300px;
  float: left;
  color:#ffffff;
  margin: 2.5px;
}
.lesson:hover {

}
.lesson a{
  border: 2px solid white;
  color: white;
  transition: 1s;
  Text-decoration: none;
}
.lesson a:hover {
  font-size: 50px;
  border-radius: 100px;
  border: 2px solid blue;
  background-color: blue;
}
.lesson h3 {
  color: white;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 10px;
}
.one {
  background-image: url("https://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_900.jpg?1448476701");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.two {
  background-image: url("http://kingofwallpapers.com/images/images-169.jpg");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.three {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.four {
  background-image: url("http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.five {
  background-image: url("http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.six {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.seven {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.eight {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.nine {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.ten {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
.eleven {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=compress,format&crop=entropy&");
  background-size: cover;
  background-position: center;
  baground-repeat: no-repeat;
}
