body {
  background-color: goldenrod;
  }

  header {
    background-color: midnightblue;
    color: goldenrod;
    text-align: center;
    padding-top:35px;
    padding-right: 20%;
    padding-left: 5%;
  }

.jumbotron {
  background-color: midnightblue;
  width: 100%;

}

h1{
  /*display: block;*/
  /*background-color: midnightblue;*/
  /*font-size: 2em;*/
  margin-top: -0.8em;
  /*margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;*/
  font-weight: bold;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  padding: 20px;
}
section {
  color: midnightblue;
  text-align: center;
  padding-top: 30px;
  padding-right: 35%;
  padding-left: 20%;
  padding-bottom: 30px;
  }

footer {
  text-align: center;
  position: relative;
    padding: 20px;
    width: 82%;
    bottom: 10px;
    }
