
body{
  color:white;
  background-image:url("http://www.dzzyn.com/wp-content/uploads/2016/02/20-FREE-BEAUTIFUL-HI-RES-WOOD-TEXTURE-WALLPAPER-BACKGROUNDS-20-Black-Wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #aaa7a7;
  background-size: cover;
  font-family:'Acme', sans-serif;
}

h5{
  font-size:40px;
}
#name{
  letter-spacing: 20px;
  padding-top:40px;
  text-shadow: 3px 3px 3px black;
}
#title{
  margin-top:50px;
  letter-spacing: 8px;
  text-shadow: 3px 3px 3px black;
  margin-bottom:30px;
}
header{
  height:250px;
}

.bookLink{
  color:black;
  border-radius:15px;
  padding:10px;
  background-color:yellow;
  font-size:20px;
}
.bookLink:hover{
  text-decoration: none;
  padding:15px;
  font-weight: bold;
  color:black;
}

/*  NAV   */

.navbar{
  border:2px solid white;
  z-index: 1;
  margin-top:75px;
}
.affix {
      top: 0;
      width: 100%;
      margin-top:0px;
      margin-bottom: 100px;
  }

  .affix + .container-fluid {
      /*padding-top: 70px;*/
  }


.dropOne{
  margin-left:55px;
}


/*   MAIN  */

.links{
  margin-top:150px;
}
.lesson{
  width:45%;
  height:300px;
  font-size:32px;
  margin-bottom:20px;
  margin-left:40px;
  border:2px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #aaa7a7;
  background-size: cover;
  }
.lesson h3{
  color:yellow;
  background-color:black;
  border: 2px solid white;
  opacity:.7;
  padding:15px;
  margin:auto;
  font-size:40px;
  /*font-style:italic;*/
  font-weight:bold;
  letter-spacing:2px;
}
.lesson h4{
  padding-left:30px;
  font-size:22px;
  margin-left:35px;
  /*font-style:italic;*/
  letter-spacing: 2px;
}
.lesson a{
  color:white;
  font-size:22px;
  text-decoration:none;
  /*font-weight:bold;*/
}
.lesson:hover{
  background-color: white;
}
.project:hover{
  background-color:rgba(0,0,255,.7);
  border:solid white 2px;
  padding:15px;
  font-size:22px;
}
.project{
  background-color:rgba(0,0,255,.5);
  border:2px solid white;
  border-radius:50px;
  margin-left:15px;
  padding:10px;

}
.homework{
  background-color:rgba(0,100,0,.6);
  border:2px solid white;
  border-radius:50px;
  margin-right:15px;
  padding:10px;
}
.homework:hover{
  background-color:rgba(0,100,0,.7);
  border:solid white 2px;
  padding:15px;
  font-size:22px;
}
.check{
  background-color:rgba(150,0,0,.6);
  border:2px solid white;
  border-radius:50px;
  margin-left:15px;
  padding:10px;
}
.check:hover{
  background-color:rgba(150,0,0,.7);
  border:solid white 2px;
  padding:15px;
  font-size:22px;
}
.five .check{
  margin-left:230px;
}
.fifteen .check{
  margin-left:230px;
}
.final{
  margin-left:230px;
}
.optional{
  background-color:rgba(102,0,102,.6);
  border:2px solid white;
  border-radius:50px;
  margin-right:15px;
  padding:10px;
}
.optional:hover{
  background-color:rgba(102,0,102,.7);
  border:solid white 2px;
  padding:15px;
  font-size:22px;
}

/*   IMAGES    */

.one{
  background-image: url("../img/wiley.jpg");
}
.two{
  background-image: url("../img/mickeyPeril.jpg");
  }
.three{
  background-image: url("../img/porkyHunt.png");
  }
.four{
  background-image: url("../img/hippo.png");
}
.five{
  border-color:red;
  background-image: url("../img/mickeyBeer.jpg");
  }
.six{
  background-image: url("../img/minnie.jpg");
  }
.seven{
  background-image: url("../img/streetFighter.jpg");
  }
.eight{
  background-image: url("../img/dogs.jpg");
  }
.nine{
  background-image: url("../img/donaldMickey.jpg");
  }
.ten{
  border-color:red;
  background-image: url("../img/goofy.jpg");
  }
.eleven{
  background-image: url("../img/pluto.jpg");
  }
.twelve{
  background-image: url("../img/daffy.png");
  }
.thirteen{
  background-image: url("../img/scientist.jpg");
  }
.fourteen{
  background-image: url("../img/plutoAngel.png");
  }
.fifteen{
  border-color:red;
  background-image: url("../img/kid.png");
  }
.sixteen{
  background-image: url("../img/scientist2.jpg");
  }
.seventeen{
  background-image: url("../img/plutoAngel.png");
  }
.eighteen{
  background-image: url("../img/mickeyTied.jpg");
  }
.nineteen{
  background-image: url("../img/goofyCrowd.jpg");
  }
.twenty{
  border-color:red;
  background-image: url("../img/mickeyParade.jpg");
  }
