body {
      width:100%;
      margin: 0 auto;
      padding:10px;
}

main {
      width:100%;
      margin: 0 auto;
}

section {
      width:100%;
      margin: 0 auto;
}

header {
      width:100%;
      height:300px;
      background-color:green;
}

h1 {
      color:#fff;
      text-align: center;
}

h3 {
      color:#fff;
      text-align:center;
      transform: (-50%, -50%)
}

h4 {
      color:#fff;
      text-align:center;
}

.one {
      background-image:url(../img/photo-1422393462206-207b0fbd8d6b.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:bottom;
      background-repeat:no-repeat;
}

.two {
      background-image:url(../img/photo-1432071079086-3f012ce3f1ac.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.three {
      background-image:url(../img/photo-1432539853397-b209cb52eee7.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:top;
      background-repeat:no-repeat;
}

.three {
      background-image:url(../img/photo-1447877015176-3099cb49cd6a.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.four {
      background-image:url(../img/photo-1458022799175-1eb17cf09d90.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.five {
      background-image:url(../img/photo-1466442929976-97f336a657be.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.six {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.seven {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.eight{
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.nine {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.ten {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.eleven {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.twelve {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.thirteen {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.fourteen {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}

.fifteen {
      background-image:url(../img/photo-1468852899431-327ed07f9526.jpeg);
      width:100%;
      height:300px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
}
