ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {
  float: left;}
  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: Courier;
}
ul.topnav li a:hover {
  background-color: #555;
}
ul.topnav li.icon {
  display: none;
}
.Lesson{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-family: Courier;
}
.header{
  background-image: url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  width: 100%;
  height: 300px;
  text-align: center;
  font-weight: bold;
  font-family: Courier;
  background-size: cover;
  font-size: 30px;
  color: black;
  padding-top: 100px;
  padding-bottom: 350px;
}
.one{
width: 33%;
height: 0px;
float: left;
text-align: center;
padding-top: 100px;
}
.two{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.three{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.four{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.five{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.six{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.seven{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.eight{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.nine{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.ten{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.eleven{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.twelve{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.thirteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.fourteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.fifteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.sixteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.seventeen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.eightteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.nineteen{
  width: 33%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
.FINALE{
  width: 100%;
  height: 0px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
#about{
  width: 100%;
  height: 200px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
#contact{
  width: 100%;
  height: 200px;
  float: left;
  text-align: center;
  padding-top: 100px;
}
#body{
  text-align: center;
  font-weight: bold;
  font-family: Courier;
}
 #name{
   text-align: center;
   font-weight: bold;
   font-family: Courier;
   padding: inherit;
 }

/*https://pricedrp9.github.io/intro-workbook*/
