header {
  background-color:white;
  padding: 20 20 20 20;
  font-family:Arial;
  width:500px;
}
nav a {
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
    padding-left: 10px;
}
body{
  background-color: grey;
}
/*section below is the landing page*/
.homegrid{
  font-family:garmound;
  text-align:center;
  background-image: url(/image/grass.jpeg);
  background-size:cover;
  width:100%;
  height:600px;
}
.home{
  width:25%;
  height:200px;
  float:left;
  margin-top:400px;
}
#bio {
  background-image: url(/image/grass.jpeg);
  background-size:cover;
}
#web {
  background-image: url(/image/grass.jpeg);
  background-size:cover;
}
#design {
  background-image: url(/image/grass.jpeg);
  background-size:cover;
}
#contact {
  background-image: url(/image/grass.jpeg);
  background-size:cover;
}
/*section below is the aboutme page*/
.aboutme{
  font-family:garmound;
  text-align:center;
  height:500px;
  padding-top:20px;
  padding-bottom:10px;
  background-color:white;
}
.aboutleft{
  float:left;
  width:40%;
  height:500px;
  padding-left:20px;

}
.aboutleft img{
  width:100%;
  height:500px;
}
.aboutright{
  float:left;
  width:50%;
  height:500px;
}
/*below is all of the content for the webportfolio section*/
.webportfolio {
  background-color:black;
  width:100%;
  height:auto;
  padding-bottom:100px;
  padding-top:100px;
}
.webportfolio h1{
  color:white;
  text-align:center;
  font-size: 40px;
  font-family:sans-serif;
}
.container {
  /*margin: 0 auto;*/
  width:90%;
  text-align: center;
  padding-left: 50px;
  padding-right:20px;
}
.full {
  width:100%;
  height:200px;
  float:left;
  position:relative;
  outline: 2px solid white;
  padding-top: 100px;
}
.fullimage{
  background-image: url(/image/grass.jpeg);
  background-size:contain;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.full a{
  font-size:18px;
}
.full:hover {
    font-size:18px;
    -webkit-filter: none;
    filter: none;
}
.full a:hover {
    font-size:24px;
}
.quarter {
  width:25%;
  height:150px;
  float:left;
  position:relative;
  outline: 2px solid white;
  font-family:garmound;
  text-align:right;
  padding-top:50px;
}
.Elesson19{
  background-image: url(/image/lesson19-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Elesson18{
  background-image: url(/image/lesson18-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Elesson17{
  background-image:url(/image/lesson17-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Dlesson16{
  background-image: url(/image/lesson16-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Dlesson15{
  background-image: url(/image/lesson15-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Dlesson14{
  background-image: url(/image/lesson14-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Dlesson13{
  background-image: url(/image/lesson13-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Clesson12{
  background-image: url(/image/lesson12-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Clesson11{
  background-image: url(/image/lesson11-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Clesson10{
  background-image: url(/image/lesson10-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Clesson9{
  background-image: url(/image/lesson9-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Blesson8{
  background-image: url(/image/lesson8-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Blesson7{
  background-image: url(/image/lesson7-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Blesson6{
  background-image: url(/image/lesson6-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.Blesson5{
  background-image: url(/image/lesson5-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.alesson4{
  background-image: url(/image/lesson4-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.alesson3{
  background-image: url(/image/lesson3-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.alesson2{
  background-image: url(/image/lesson2-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.alesson1{
  background-image: url(/image/lesson1-01.png);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.quarter p {
  font-size:14px;
  color:grey;
  padding-right:20px;
}
/*.container p {
  Font-size:10px;
  Font-color:#000000;
  font-family:sans-serif;
}*/
.container a:link {
    text-decoration: none;
}
.quarter p:visited {
  font-size:14px;
  color:#FFFFFF;
  padding-right:20px;
}
.quarter:hover {
    color:white;
    -webkit-filter: none;
    filter: none;
}
.quarter p:hover {
    color:white;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
/*img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}*/
