.clearfix:after{
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;

}

img {

     width:100%;
     height:200px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
  }

img:hover {
    opacity: .7;
}
.overlay{

  top: 100px;
 left: 100px;
 position: absolute;
 z-index: 100;
 font-weight: bold;
 font-family: sans-serif;
 color: white;
 text-align: center;
 vertical-align: middle;
}

a{
  color:blue;
  text-align: center;
  text-decoration: none;
}
div {
    position:relative;
    z-index: 1;
    width: 50%;
    height: 200px;
    overflow: hidden;
}

.lessons{
  float:left;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
