/*
Color palette: https://coolors.co/651c1f-1d4b44-e9ad71-b86e4a-ece0c5
revamped - https://coolors.co/651c1f-1d4b44-323031-e9ad71-ece0c5
*/

body {
  background: url("../img/alfons-morales-410757.jpg") 100% #b86e4a;
  font-family: 'Lato', sans-serif;
}

body header {
  margin: 0px;
  padding: 20px;
  background-color: #e9ad71cc;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size:1.2em;
  margin:1em 0em .3em;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: #ece0c5f2;
  width: 90%;
  font-family: 'Lato', sans-serif;
}

body footer {
  margin: 0px;
  padding: 10px;
  font-size: .8em;
  background-color: #e9ad71cc;
  font-family: 'Raleway', sans-serif;
}
