header{
  text-align: center;
  background-color: black;
  color: white;
  padding: 8px;
  margin: 0;
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}

a:link{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
    color: white;
    font-size: 30px;
}

a:visited{
  color: white;
}

div {
  text-align: left;
  font-family: Futura, sans-serif;
  color: white;
  background-size: cover;
}

.lesson h3{
  font-size: 40px;
  padding: 8px;
  color: white;
  margin-bottom: 10px;
}

.lesson{
  width:50%;
  height: 200px;
  float:left;
}

.one{
  background-image:url("https://images.unsplash.com/flagged/photo-1461097234092-c596f243b986?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1007&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two{
  background-image:url("https://images.unsplash.com/photo-1416271175580-877f954ca28e?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=2000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.three{
  background-image:url("https://images.unsplash.com/photo-1452804992652-211fb1711fe5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=2000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.four{
  background-image:url("https://images.unsplash.com/photo-1467892748361-67bb7c20d06e?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.five{
  background-image:url("https://images.unsplash.com/photo-1447522200268-a0378dac3fba?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1004&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.six{
  background-image:url("https://images.unsplash.com/photo-1419927501211-807c3271800a?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1054&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seven{
  background-image:url("https://images.unsplash.com/photo-1468075351341-295a94a8f4b3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eight{
  background-image:url("https://images.unsplash.com/photo-1465256410760-10640339c72c?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nine{
  background-image:url("https://images.unsplash.com/photo-1439903866304-bcafddf3c863?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ten{
  background-image:url("https://images.unsplash.com/photo-1470211816403-716bb5ad44a0?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=844&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eleven{
  background-image:url("https://images.unsplash.com/photo-1469799030856-9039ae90a014?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=844&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.twelve{
  background-image:url("https://images.unsplash.com/photo-1468236603768-6b7d3594736f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thirteen{
  background-image:url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fourteen{
  background-image:url("https://images.unsplash.com/photo-1466248597128-17a2d5f14664?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=2256&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fifteen{
  background-image:url("https://images.unsplash.com/photo-1466354424719-343280fe118b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sixteen{
  background-image:url("https://images.unsplash.com/photo-1441734893586-806acd993bc6?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=848&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seventeen{
  background-image:url("https://images.unsplash.com/uploads/1412443967017d95e2723/2919e13b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eighteen{
  background-image:url("https://images.unsplash.com/photo-1464361740297-f862f5db1488?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=844&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nineteen{
  background-image:url("https://images.unsplash.com/photo-1464672737497-fb5327f77347?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.twenty{
  background-image:url("https://images.unsplash.com/photo-1418154462585-8ca028f43c48?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
