body {
  width: 90%;
  margin: 0 auto;
}

#header {
  height: 200px;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: #660033;
  background-image: url("https://images.unsplash.com/photo-1454789591675-556c287e39e2?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=798&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#header h1 {
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
}

#header nav {
  width: 50%;
  padding-top: 20px;
  float: left;
}

nav img {
  height: 60px;
  padding-left: 25px;
}
