.container {
    width: 80%;
    margin: 0 auto;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    text-align: center;
}

section div {
    float: left;
    
}
section div.character {
    width: 30%;
}

section div.character img { 
    width: 100%;
}

section div.text {
    width: 60%;
}