
.container {
  width: 80%;
  margin: 0 auto;
}

.clear-fix:after {
  content: '';
  display: block;
  clear: both;
}

header h1 {
  text-align: center;
}

section div {
  float: left;

}
section div.character {
  width: 30%;
}

section div.character img {
  width: 100%;
}

section div.text {
  width: 60%;
}
/*tablet*/
@media (max-device-width:1023px) and (min-device-width:768px){
  section div.character {
    width: 100%;
    text-align: center;
  }
  section div.character img {
    width: 50%;
  }
  section div.text {
    width: 100%;
    text-align: justify;
  }
  .mushroom{
    margin-top: 60px;
  }
}

/*phones*/
@media (max-device-width:767px){
  section div.character {
    width: 100%;
    text-align: center;
  }
  section div.character img {
    width: 50%;
  }
  section div.text {
    width: 100%;
    text-align: justify;
  }
  .mushroom {
    margin-top: 60px;
  }


}
