body {
  margin: 0 auto;
  width: 100%;
  /*text-align: center;*/
}

header {
  text-align: center;
  color: white;
  background-color: #c25b56;
  margin-bottom: 10px;
}

section {
/*display: flex;
flex-direction: row;*/
}

.left {
  background-color: #37323E;
  height: 400px;
}


.right {
  background-color: #74828f;
  height: 400px;
}

form {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

input {
  background-color: #c25b56;
}
