body{
  width: 1000px;
  margin: 0 auto;
  font-family: 'Orbitron', Helvetica, sans-serif;
  color:white;
  background-position: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/milkyway.jpg");
}

nav{
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  margin: 10px 0;
}


a {
  float: right;
  margin-left: 15px;
  text-decoration: none;
  color: white;
  border-left: 2px solid #982bff;
  padding-left: 15px;
}

#home {
  padding-right: 15px;
  border-right: 2px solid #982bff;
}

#home:hover{
  background-color: #982bff;
}

#button{
  border: none;
  padding: 20px 80px;
  background-color: #982bff;
  margin: 20px;
  font-size: 15px;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
  height: 60px;
  font-family: 'Orbitron', Helvetica, sans-serif;
}

#home:hover, #button:hover{
  box-shadow: 10px 10px 50px #888888;
}

.nameDiv, .dobDiv{
  padding: 10px 0;
}

.container{
  width: 100%;
}
