body {
  background-image: url(../img/ska-wallpaper2.jpg);
  color: white;
}
aside {
  font-weight: bold;
  line-height: 35px;
}

.maytals {
  width: 400px;
  height: 325px;
  margin-left: -100px;
}

h2 {
  border-bottom: 1px grey solid;
}

h1 {
font-weight: bold;
}

#bravo {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 90px;

}

#alpha {
  background-color: #595959;
  padding: 8px;
  color: white;
}

footer {
  background-color: grey;
  color: white;
  display: block;
}
