* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45% 0;
}

h2 {
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}

/*---Start Parallax---*/

.parallax {
  background-image: url('../img/water baby.jpg');

}

/*---End Parallax---*/
