*{
  margin:0;
  padding: 0;
}
body{
  background-image: url('../img/sunset.jpg');
  -webkit-background-size:cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 510px;
  /*background:grey;*/

}
#main{
  margin: 150px auto;
  padding:10px;
  box-shadow: 0 0 22px #000;
  width: 600px;
  height: 400px;

}
#carousel{
  width: 600px;
  height: 400px;
  overflow: hidden;
}
#carousel ul{
  list-style: none;
  width: 1800px;
  height: 400px;
}
#carousel ul li{
  float: left;
  width: 600px;
  height: 400px;
}
#carousel ul li img{
  width: 600px;
  height: 400px;
}
