.background{
  background-image: url("../img/all.jpg");
  height:385px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -15px;

}

footer{
  height: 500px;
  background-color: white;
}
.TT{
  background-color: transparent;
}

.container1 {
  margin-top: 400px;
}

.parallax {
    /* The image used */
    background-image: url("../img/NH.jpg");


    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
