.box1 {
    grid-area: box1;
    background-color: black;
    margin: 5px;
  }
  
  .box2 {
    grid-area: box2;
    background-color: black;
    margin: 5px;
  }
  
  .box3 {
    grid-area: box3;
    background-color: black;
    margin: 5px;
  }
  
  .box4 {
    grid-area: box4;
    background-color: black;
    margin: 5px;
  }

  /* Large and up (Desktops) */
@media (min-width: 700px) {
    .box {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "box1 box2"
        "box3 box4";
        background: #eeeeee;
        padding: 10px;
      }
    }