.mainimagecontainer {
  background-image: url('http://lorempixel.com/1280/500/');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.imagetop {
  margin-top: 20px;
}

.image-fullwidth {
  width: 100%;
  height: auto;
}

.bottomimage {
  height: 400px;
  margin-top: 20px;
}
