.main-img {
  background-image: url(http://lorempixel.com/1280/400/sports/);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-imgs {
  margin-top: 20px;
}
.img-fullwidth {
  width: 100%;
}
