header {
  height: 300px;
  background-image: url("http://lorempixel.com/output/food-q-c-1280-500-8.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.img-spacing {
  margin-top: 20px;
}

.img-full-width {
  width: 100%;
}
