.navbar {
  margin-bottom: 0px;
}

.mainimagecontainer {
  background-image: url("http://lorempixel.com/output/food-q-c-1100-513-3.jpg");
  background-size: cover;
  height: 580px;
  margin-bottom: 20px;
}

.img-top {
  margin-bottom: 20px;
}
