#trees {
  margin: 147px;
}

.tree {
  margin:75px;
  width:20px;
  height:20px;
  /* background-color: brown; */
  /* border-radius:150px; */
  transition: all 1s;
  transition-timing-function: linear;
}

.huge {
  font-size: 5em;
  text-align: center;
  margin-top: 200px;
}

#current-total {
  width:150px;
  height:50px;
  border:1px solid black;
  text-align: center;
  font-size: 48px;
}

.button {
  width:150px;
  height:20px;
  border:1px solid black;
  border-radius:25px;
  text-align: center;
  cursor:pointer;
}

#waterCycle {
  margin-top: 10px;
}
