body{
  background-color: black;

}

header {
    background-color: beige;
    text-align: center;
    height: 50px;
    width: 690px;
}

nav {
    background-color: maroon;
    text-align: center;
    height: 50px;
    width: 690px;
    display: flex;
    justify-content: space-around;
}
h3{
  display: inline;
  text-align: center;
}
main {
    background-color: beige;
    text-align: center;
    padding: 20px;
    height: 50px;
    width: 650px;
}

section {
    background-color: maroon;
    height: 50px;
    width: 500px;
    display: inline-table;
}

article {
    background-color: beige;
    height: 450px;
    width: 500px;
    display: inline;
    float: left;
}

aside {
    background-color: maroon;
    float: right;
    height: 500px;
    width: 150px;
}

footer {
    background-color: maroon;
    clear: both;
    height: 50px;
    width: 670px;
    display: flex;
    justify-content: space-around;

}
