h1 {
    text-align: center;
    font-size: 100px;
    color: green;
    padding: 150px;
    font-weight: bolder;
}

.one {
    display: flex;
    flex: 3;
}

.nasa {
    background-image: url(../img/nasa-background.jpg);
    width: 850px;
    height: 450px;
    margin-left: 150px;
}

.one {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 265px;
}

.two {
    display: inline-table;
}
