body {
  background-color: black;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.flowerholder {
  height:320px;
}

#sunflower {
  height: 300px;
  width: 300px;
  cursor: pointer;
  margin: auto;
  padding-bottom: 10px;
}

.gamebox {
  border: 4px solid black;
  margin: auto;
  width: 500px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.button {
  width:200px;
  height:20px;
  border:1px solid black;
  border-radius:25px;
  text-align: center;
  cursor: pointer;
  margin: 8px;
}
