div.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  img {
    width: 250px !important;
    height: auto;
    margin-left: 25%;
  }
  div.card-body {
    #plans {
      div.plan {
        height: 35px;
        margin-top: 15px;
        border: solid black;
        color: red;
      }
    }
    #irr {
      height: 40px;
      width: 100%;
      border: solid black;
      color: blue;
    }
    #cash {
      height: 40px;
      width: 100%;
      border: solid black;
      color: green;
    }
  }
}