.container {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.cookie {
  width: 50%;
  display: block;
  float: left;
  margin-top: 20px;
  text-align: center;
}

#cps {
  margin-bottom: 30px;
  font-size: 20px;
}

#cps span {
  color: #fba2ed;
}

img {
  height: 45%;
  width: 45%;
  margin-bottom: 30px;
  cursor: pointer;
}

img:active {
  transform: translateY(4px);
}

#currentTotal {
  height: 100px;
  width: 300px;
  border: 3px solid #fba2ed;
  background-color: #e1dae0;
  margin: auto;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 100px;
}

ul {
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}

.store {
  width: 50%;
  float: right;
  display: block;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #4f2508;
}

.box {
  height: 100px;
  width: 300px;
  border: 2px solid #813a08;
  background-color: #c79470;
  color: #4f2508;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  line-height: 100px;
  cursor: pointer;
}
