#picture {
    background-image: url("../img/beatlesgangster.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    padding-top: 200px;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Pacifico;
}

#email form label input {
    display: flex;
    flex: 1;
    font-style: Satisfy;
}

#id h1{
  font-size: 35px;
  text-align: center;
}
footer {
    border-style: solid;
    border-color: black;
    background-image: url("../img/paisley.jpg");
    height: 400px;
    width: 100%;
}

a {
    font-family: Satisfy;
}
