body {
font-family: 'Roboto', sans-serif;
padding: 15px
}

header {
    height: 110px;
    padding: 10px;
    width: 100%auto;
    ;
    margin: auto;
    background-color: #0171C5;
    color: white;
}


.nav-link {
    color: #fff;
    margin-right: 15px;
}

aside {
    background-color: #F3F3F3;
    padding: 10px, 40px;
}

p {

    font-weight: lighter;
}

a {
    color: white;

}

.my-footer {
  padding: 15px;
}
