
body html {
  width: 690px;
  height: 665px;
}

header {
  font-family: "Arial", serif;
  color: white;
  background-color: #0171C5;
  width: 690px;
  height: 120px;
  display: flex;
  justify-content: flex-end;;
  flex-direction: column;
  line-height: 50px;
}

.nav {
  width: 680px;
  height: 40px;
  padding-left: 10px;
}

.statedrive {
  padding-left: 10px;
}

.intelcorearticle {
  width: 690px;
  height: 80px;
}

h2 {
  font-family: Arial, serif;
  font-size: 18px;
  padding-left: 10px;
  color: #2D2733;
  margin-bottom: 20px;
  margin-top: 18px;
}

.intelcorep {
  font-family: Arial, serif;
  padding-left: 10px;
  color: #2D2733;
}

.h1Intel {
  font-size: 40px;
  padding-left: 10px;
}

.intelcustomersupport {
  width: 690px;
  height: 85px;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*line-height: 30px;*/
}

.mainsection {
  display: flex;
  flex-direction: row;
  width: 690px;
  height: 165px;
}

img {
  width: 325px;
  height: 165px;
}

.secondp {
  width: 350px;
}

.h2intel {
  width: 680px;
  height: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.mainsectionarticle {
  width: 365px;
  justify-content: center;
  flex-direction: column;
}

.readywakecreate {
  padding-top: 25px;
  font-size: 15px;
}

.lastsection {
  width: 690px;
  height: 165px;
  display: flex;
  flex-direction: row;
}

.findsupport {
  padding-bottom: 10px;
}

p {
  font-size: 10.5px;
  font-family: Arial, serif;
  padding-left: 10px;
  margin-bottom: 10px;
}

a {
  color: white;
}

.readmore {
  color: #0171C5;
}

.architectofthefuture {
  padding-top: 20px;
  font-size: 15px;
  padding-left: 3px;
}

.lastparagraph {
  padding-left: 3px;
}
/*header {
  background-color: #0071c5;
  padding: 10px;
}

header-#h1 {
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}

body.nav-link {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
}
main h2 {
  font-size: 28px;
  font-weight: 200;
}

main aside h3 {
  font-size: 24px;
  font-weight: 200;
}

main p {
  font-size: 16px;
  color: #555;
}

body html aside {
  background-color: #f3f3f3;
  padding: 15px;
}

.my-footer {
  padding: 15px;
}*/
