body {
  margin: auto;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  float: left;
  width: 12px;
  height: 300px;
  margin-right: 150px;
  background-color: gray;
  border-radius: 10px 10px 0 0;
}

.base {
  width: 110px;
  height: 12px;
  background-color: gray;
}

.block {
  height: 25px;
  border-radius: 5px;
}

#first {
  width: 100px;
  background-color: red;
}

#second {
  width: 75px;
  background-color: yellow;
}

#third {
  width: 50px;
  background-color: green;
}

#fourth {
  width: 25px;
  background-color: blue;
}
