body {
  background-color: green;
  /*  makeing the back gorung green*/
}

#pies {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  /*  makeing the width and hight so it looks biger
  doing display flex to make it center
  and marign is use to help center img*/
}

#currentTotal {
  width: 200px;
  height: 50px;
  border: 5px solid red;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  margin: auto;
  /* makeing the hight and width to make the obejcet look biggercneter the text and font-size to make text look bigger  */
}

.button {
  width: 200px;
  height: 50px;
  border: 5px solid red;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  /* width and hight to make object look bigger
border so text goes around it text- align to make text center  */
}

h1 {
  color: blue;
  margin: auto;
  text-align: center;
  /* makeing the color blue
marig to ma it center
text- align to center the text  */
}

#rps {
  width: 200px;
  height: 50px;
  font-size: 50px;
  border: 5px solid red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  /*  fonts size so it biger and display flext to center the text with justify- content. */
}

h2 {
  text-align: center;
  font-size: 30px;
  color: blue;
  /* just to ceter the text */
}

footer {
  color: white;
  text-align: center;
  /*  for Copyright*/
}

}