body {
    background-color: pink;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1em;
}
.muffin{
    display: grid;

    grid-column: span 2;
    grid-row: span 17;
}
.muffin:hover {background-color: pink}

.muffin:active {
  background-color: pink;
  box-shadow: 0 5px pink;
  transform: translateY(4px);
}
.timer {
    text-align: center;
    grid-column: 1/3;
    margin-right: 14px;
}
img {
    margin: auto;
    cursor: pointer;
}
.bonus {
    grid-column: span 2;
    grid-row: span 20;
}
.helper {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    grid-gap: 1em;
    cursor: pointer;
}
.apron {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    cursor: pointer;
}
.oven-mitts {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    cursor: pointer;
}
.fan {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    cursor: pointer;
}
.monster {
    border: 1px solid black;
    text-align: center;
    height: 30px;
    grid-gap: 1em;
    cursor: pointer;
}