.grid1{
  display: grid; 
  grid-template-columns: auto  auto auto auto;
 }
 
 .row1{
   background-color:pink;
   grid-column-start:1;
   grid-column-end:5;
   grid-row-start:1;
   grid-row-end:2;
   text-align: center;
 }
 
 .sec1{
   grid-column-start:1;
   grid-column-end:3;
   grid-row-start:2;
   grid-row-end:4;
 }
 
 .sec2{
   background-image: url("../css/Spidersapien_Pink.jpg");
   background-position: center;
   background-size: cover;
   grid-column-start:3;
   grid-column-end:5;
   grid-row-start:2;
   grid-row-end:4;
 }

 footer{
   background-color: pink;
   grid-column-start:1;
   grid-column-end:5;
   grid-row-start:4;
   grid-row-end:5;
   text-align: center;
 }
 
 #wheel {
   width:150px;
   height:150px;
   border-radius:150px;
 }
 
 img {
   transition: all 3s;
   transition-timing-function: linear;
 }
 
 #currentTotal {
   width:150px;
   height:50px;
   border:1px solid black;
   text-align: center;
   font-size: 48px;
 }
 
 .button {
   width:170px;
   height:20px;
   border:1px solid black;
   border-radius:25px;
   text-align: center;
   cursor:pointer;
 }