.grid1{
  display: grid; /*just setting up the grid*/
  grid-template-columns: auto  auto auto auto;
 }
 
 .row1{/*header*/
   background-color:pink;
   grid-column-start:1;
   grid-column-end:5;
   grid-row-start:1;
   grid-row-end:2;
   text-align: center;
   font-family: 'Audiowide';
   margin-bottom: 4em;
 }
 
 .sec1{
  background-image: url("../css/Fist_Hand_Emoji_large\ \(1\).png");/*section for the counter and an image*/
  background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   grid-column-start:1;
   grid-column-end:3;
   grid-row-start:2;
   grid-row-end:4;
   height: 200px;
   text-align: center;
 }
 

 .sec2{
   background-image: url("../css/Pink.jpg");/*this is where it all starts to fall apart*/
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   grid-column-start:3;
   grid-column-end:5;
   grid-row-start:2;
   grid-row-end:4;
   
 }



 #robotCounter {
   height: 200px;
   width: 200px;
   text-align: center;
 }

 .count {
   position: relative;
   color: red;
   font-size: 2em;
   font-weight: bold;
   top: 50px;

 }


 footer{
   background-color: darkgray;
   grid-column-start:1;
   grid-column-end:5;
   grid-row-start:4;
   grid-row-end:5;
   text-align: center;
   font-family: 'Audiowide';
   margin-top: 4em;
 }

 .robots{
   background-image: url("../css/Pink.JPG");
   background-size: contain;
 }