h1 {
    padding: 20px 0px 40px;
    font-family: 'Pacifico', cursive;
}
img {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
}
#span1 {
    text-decoration: line-through;
}
#B {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 5px 8px;
}
h4 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}
figcaption {
    color: white;
    background-color: green;
    width: 20%;
    position: relative;
    margin: -20px 0px;
}
.pull-left {
    background-color: red;
    margin: 0px 0px;
    position: absolute;
}
#A {
    margin-top: -20px;
    padding-top: 20px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}
