#hoodie_2 {
    background: url(../img/hoodie-1.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 320px;

}
#hoodie_2 {
    background: url(../img/hoodie-2.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 320px;

}
#hoodie_3{
    background: url(../img/hoodie-3.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 320px;

}
#hoodie_4 {
    background: url(../img/hoodie-4.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 320px; 
}
