h1 {
font-family: cursive;
}

.price{
    position: absolute;
    box-sizing: content-box;
    width: 69px;
    height: 30px;
    right: 45px;
    top: 270px;
    background-color: aqua;

}


.my-container{
    margin: 30px;
}



h4{
    border: 10px dotted black; 
}
