header {
    font-family: 'Lily Script One', cursive;
    text-align: center;
}
article {}
.patient {
    border: solid 1px black;
    height: 406px;
    background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/hoodie_1_back-470x470.jpg");
    background-size: cover;
    background-position: center;
}
a {
    float: right;
    margin-top: 360px;
    color: white;
    background-color: #66D9C1;
    font-size: 30px;
    text-decoration: none;
}
.name {
    height: 60px;
    border: solid 1px black;
    text-align: center;
    font-size: 20px;
}
.button {
    border: solid 1px black;
    padding-left: 40%;
}
button {
    background-color: #3A4543;
    text-decoration: none;
    color: white;
    padding: 10px 12px;
}
.happy {
    background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/hoodie_1_front.jpg");
    background-size: cover;
    background-position: center;
    border: solid 1px black;
    height: 406px;
}
.flying {
    background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/poster_1_up-300x300.jpg");
    background-size: cover;
    background-position: center;
    border: solid 1px black;
    height: 406px;
}
#sale {
    background-color: red;
    color: white;
    float: left;
    text-decoration: none;
    margin-top: 10px;
}
.was {
    text-decoration: line-through;
    font-size: 30px;
}
.happy2 {
    background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/poster_2_up-300x300.jpg");
    background-size: cover;
    background-position: center;
    border: solid 1px black;
    height: 406px;
}
