.header {
   font-size: 60pt;
   padding: 40px 0;
   font-family: 'Dancing Script', cursive;
}

/*controls all $ amounts style*/
figure .amount {
   background-color: green;
   font-size: 14pt;
   color: white;
}
/*end $ amounts style*/

h3 {
   font-size: 14pt;
   font-weight: bold;
   background: #FF6600;
   color: white;
   padding: 5px 10px;
   text-transform: uppercase;
}

article h4 {
   border: 2px solid #D8D8D8;
   padding: 20px 0;
}

.title a {
   color: black;
   font-weight: bold;
}

.btn-block {
   text-transform: uppercase;
   background-color: #333300;
   color: white;
   font-weight: bolder;
}
