
img {
  width: 100%;
  height: auto;
}
/* //global styles */

/* .container */
.container{
  display: flex;
  flex-direction: column;
  background: #fff;
}
header {
  font-family: 'Lily Script One', cursive;
  font-size: 2em;
  height: 200px;
  width: 100%;
  text-align: center;

}
section{
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 1px solid #E7E7E7;
 width: 100%;
 margin: auto;
}
.box1{
  position: relative;

}
.price{
  background: #5dc1ab;
  border:1px solid #5dc1ab;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;

}
article {
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  display: flex;
  justify-content: center;
}
.b1{
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  background: #2C3533;
  color: white;
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


/**
 * Media Queries
 **/
@media screen and (min-width: 320px) {
  .container::before {
    content: "320px";
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }
}
@media screen and (min-width: 480px) {
  .container::before {
    content: "480px";
    color: maroon;
  }
}
@media screen and (min-width: 620px) {
  .container::before {
    content: "620px";
    color: orange;
  }
.box0{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section{
  flex-basis: 45%;
  margin: auto;
}

}
@media screen and (min-width: 810px) {
  .container::before {
    content: "810px";
    color: black;
  }
  .box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section{
    flex-basis: 20%;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .container::before{
  }

}
