.patient {
  /*background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/hoodie_1_back-470x470.jpg");*/
  background-color: blue;
  height: 300px;
  width: 300px;
}

.patient span {
  position: absolute;
  background-color: red;
  bottom: 0px;
  right: 0px;
}

.box1 {
  padding: 0px;
}
