body {
  width: 85%;
  margin: auto;
}
.search {
  height: 400px;
  text-align: center;
  padding: 2% 0 0 0;
}
div {
  border: solid;
  border-width: thin;
  border-color: #808080;
}
img {
  background-color: #808080;
  height: 100px;
  width: 100px;
}
p {
  border: solid;
  margin: 100px;
  background-color: #808080;
  color: white;
}
