.patient {
  background-image: url("http://inspirythemes.biz/html-templates/cream/images/temp-images/hoodie_1_back-470x470.jpg");
  height: 300px;
  width: 300px;
}

span {
  position: absolute;
  background-color: red;
  bottom: 0px;
  right: 0px;
}

.poo {
float: right;}
