.blogpost {
  font-weight: bold;
  border-style: groove;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, black 0%,white 100%), url('w3css.gif');
    background-blend-mode:darken;
}
.description {
  animation-fill-mode: both;
  
  font-style: oblique;
  margin: auto;
  color: green;
}
.headline {
  font-weight: bold;
  font-family: sans-serif;
  color: orange;
  text-shadow: 2px 2px red;
}
.byline {
  text-shadow: 5px 5px 10px #00FF00;
}
.date {
  color: grey;
  text-decoration-skip: edges;
  text-align: justify;
  font-family: fantasy;
  font-size: 20px
}
body {
    padding-left: 30px;
    background-blend-mode: darken;
    text-align: center;

  }
h1 {
    font-stretch: extra-expanded;
    color: navy;
    margin-left: 30px;
    padding: inherit;
}
