body {
  width: 75%;
  margin: 0 auto;
}

header, nav, main, section, aside, footer {
  padding: 5px;
  margin-top: 10px;
}

section, aside {
  float: left;
}

section {
  width: 70%;
}
aside {
  width: 20%;
}

footer {
  clear: both;
}

article img {
  width: 40%;
  float: left;
  margin-right: 8px;
  margin-top: 8px;
}
