
/*Already commited work by client*/

html {
  min-width: 300px;
}

div, h2, p, figure {
  margin: 0;
  padding: 0;
}

body {
width: 75%;
margin: 0 auto;
}

header, nav, main, section, aside, footer {
padding: 5px;
margin-top: 10px;
}


nav li{
  display: inline-block;
}

nav-body. {
  display:flex;
  flex: 1;
}

ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}


h1 {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-family: georgia;
}

a {
  text-decoration: none;
  color: black;
}

li a:hover {
   font-weight: bold;
   text-decoration: underline;
}

.columns {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.main-column {
  flex: 2;
  margin: 30px
}

.main-column {
border-right: 1px solid black;
padding-right: 15px
}

}
nav {
  margin: 0px;
  padding: 0px;
}

article h1 {
  border-bottom: 1px solid black;
}

.article-image img {
  display: block;
  height: 100%;
  left: 5;
  position: relative;
  top: 0;
  width: 100%;
}

.article-image-two img {
  display: block;
  height: 50%;
  left: 0;
  position: relative;
  top: 0;
  width: 50%;
}

.article-image-three img {
  display: block;
  height: 60%;
  left: 0;
  position: relative;
  top: 0;
  width: 60%;
}

.article-image-four img {
  display: block;
  height: 50%;
  left: 0;
  position: relative;
  top: 0;
  width: 50%;
}

.article-image-five img {
  display: block;
  height: 50%;
  left: 0;
  position: relative;
  top: 0;
  width: 50%;
}



.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.main-column .article-info {
  border-bottom: 1px solid black;
}

aside img{
  width: 100%
}
