body {
width: 75%;
margin: 0 auto;
}

header, nav, main, section, aside, footer {
padding: 5px;
margin-top: 10px;
}

.bucks{
  width:100%;
}

.adidas{

}

header{
  text-align: center;
}

section, aside {
float: left;
}

section {
width: 70%
}
aside {
width: 20%;
}

footer {
clear: both;
}
