#header{
  border: 1px solid #3a3f3f;

}

body{
  background-color: #bac5c6;
}

h1{
  text-align: center;
  text-align: center;
  font-family: Chronical Display;
  font-size: 72px;
  color: #3a3f3f ;
  margin-bottom: 20px;
}
ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;

}

li{
  text-decoration: underline;
  font-family: Avenir;
  margin: 35px;
  Font-size: 28px;
  color: #3a3f3f;
}

main{
  display: flex;
  border: 1px solid orange;
  justify-content: space-between;
}

main{
  margin-top: 100px;
}
.heading{
  font-size: 28px;
}
 }
/*.heading{
  width: 450px;
  border:1px solid green;*/
}
.image{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 450px;
  border: 1px solid yellow;
}

.adver{
  display: flex;
  flex-direction:column;
  align-items: : flex-end;
  width: 500px;
  border: 2px solid black;
}

footer{
  border: 1px solid blue;
}
