#header{
  border: 1px solid #3a3f3f;

}

body{
  background-color: #bac5c6;
}

h1{
  text-align: center;
  text-align: center;
  font-family: Chronical Display;
  font-size: 72px;
  color: #3a3f3f ;
  margin-bottom: 20px;
}
ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;

}

li{
  text-decoration: underline;
  font-family: Avenir;
  margin: 35px;
  Font-size: 28px;
  color: #3a3f3f;
}

main{
  display: flex;
  
  justify-content: space-between;
}

main{
  margin-top: 100px;
}
.heading{
  font-size: 32px;
  font-family: Chronical Display;
  color: #3a3f3f;
  width: 500px;

}
 }
/*.heading{
  width: 450px;
  border:1px solid green;*/
}

.image{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 350px;

}

.artical{
  width: 500px;
  font-family: Avenir;
  font-size: 22px;
}

.adver{
  display: flex;
  flex-direction:column;
  align-items: : flex-end;
  width: 400px;
  border: 2px solid black;

}
.adver img{
  width: 400px;
  height:500px;
}

.adver p{
  width: 400px;
  height: 300px;
  font-size: 20px;
  font-family: Avenir;
}

footer{
  border: 1px solid #3a3f3f;
  margin-top: 30px;
  height: 150px;
}

footer p{
  text-align: center;
  padding-top: 50px;
  font-family: Avenir;
  color: #3a3f3f;
  font-size: 18px;


}
