body {
  background-image: url(http://www.schugwinery.com/image/Winery/Tasting-Room/SCHUG-43.jpg);
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 300px;
}

.text {
  font-size: 72px;
  font-style: italic;
  color: blue;
}
