.bg {
  height: 700px;
  background: url('../img/wine-bg.jpg') top center;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, .3);
}
.navbar {
    background-color: transparent;
    background: transparent;
    color: white;
  }
.navbar-brand {
  font-size: 24px;
  margin-top: 9px;
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-right {
  font-size: 17px;
  margin-top: 9px;
  color: white;
}
.btn-default {
  color: white;
  margin-top: 9px;
  background-color: rgba(0, 0, 0, .0);
  border: none;
  border-left: 1px solid black;
  border-radius: 0;
}
#div1 {
  margin-top: 10%;
  text-align: center;
  font-family: serif;
}
#div1 h4 {
  margin-top: 10%;
  font-size: 24px;
  color: grey;
}
#div1 h3 {
  margin-top: 10%;
  font-size: 36px;
}
#div1 h5 {
  margin-top: 10%;
  font-size: 18px;
}
#div2 {
  background: url('../img/wine13.jpg') top center;
  box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, .3);
  height: 500px;
}
#div3 {
  margin-top: 100px;
  width: 60%;
  margin-left: 20%;
  color: white;
  text-align: center;
  font-family: serif;
}
#div3 h2 {
  font-size: 36px;
}
#div3 h4 {
  font-size: 24px;
}
#div7 img {
  max-width: 80%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
#div7 a {
  font-size: 14px;
  color: white;
  background-color: green;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  #div3 h2 {
    font-size: 24px;
  }
  #div3 h4 {
    font-size: 18px;
  }
  #div7 img {
    max-width: 40%;
    margin-top: 40px;
  }
}
