/* navbar styles */
#my_navbar{
  background-color: rgba(255, 255, 255, .25);
  border: none;
  color: black;
  margin-bottom: 0;
}

#my_navbar a{
  color: black;
}

/*first section*/
#first_section{
  padding-top: 13%;
  padding-bottom: 13%;
  background-image: linear-gradient(rgba(0,0,0, .6),rgba(0,0,0,.6)),
  url(../img/wine-bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
  margin-top: -50px;
}

#first_section h1{
  margin-bottom: 45px;
}

/*second section*/

.cleaning{
    max-height: 100%;
    max-width: 80%;
}

.vertical-align{
  padding: 0 10%;
  top: 50%;
  transform: translate3d(0 -50% 0);
  -webkit-transform: translate3d(0 -50% 0);
  -moz transform: translate3d(0 -50% 0);
}

.text_section {
   padding-top: 15%;
}
.ti_section {
   max-height: 450px;
   overflow: hidden;
}

/*third section*/
#third_section{
  padding-top: 10%;
  padding-bottom: 13%;
  background-image: url(../img/wine13.jpg);
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

/*media queries*/

@media screen and (max-width:767px) {
    #my navbar{
      position: absolute;
      top: 0;
      width:100%;
    }
    #first_section{
      padding-top: 30%;
    }
}

/* three bottles*/

.three_bottles img{
  width: 35%;
}

.three_bottles a{
  padding: 8px 12px;
  background-color: #91a05c;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}
