/*Nav Bar style */

#my_navbar {
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 0;
}

/*first section */

#first_section {
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url(../img/wine-bg.jpg);
    color: white;
    background-size: cover;
    margin-top: -50px;
}
#first_section h1 {
    margin-bottom: 45px;
}

/* second section */

.cleaning {
    max-height: 100%;
    width: 80%;
}
.text_section {
    padding-top: 15%;
}
.ti_section {
    max-height: 550px;
    overflow: hidden;
}

/* third section */

#third_section {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    color: white;
}
.three_bottles img {
    width: 35%;
}
.three_bottles a {
    padding: 8px 12px;
    background-color: #91a05c;
    color: white;
    text-decoration: none;
    /* make space below link*/
    display: inline-block;
    margin-bottom: 20px;
}
