/*.hero {
  background-image: url("../img/wine-bg.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 150px;
  background-size: cover;
  background-color: #404040;
  height: 400px;
  color: white;
}
.65years {
  background-image: url("../img/wine13.jpg");
}*/
