.hero{
  background-image: url(../img/wine-bg.jpg);
  height:500px;
  text-align: center;
}
.herotext h3{
  font-size: 20px;
  color:white;
}
.herotext p{
  font-size:13px;
  color:white;
}
.hero img{
  height:400px;
}

.washer{
  height:500px;
}
.washer img{
  height:500px;
  width:100%;
}
.washertext{
  padding-top: 125px;
  text-align: center;
}
.producing{
  background-image: url(../img/wine13.jpg);
  height:500px;
}
.producingtext{
  text-align: center;
  padding-top: 225px;
  color:white;
}
.types img{
  height:500px;
  padding-left: 130px;
}
.types h4, p{
  padding-top: 20px;
  text-align: center;
}
.types a{
  border: 1px solid green;
margin-left: 45%;
background-color: green;
color:white;
padding:5px;
}
