body {
    background: url("../images/sayagata-400px.png");
}

h1 {
    font-family: Helvetica;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 5px 0 0 5px;
}

h2 {
    font-family: Helvetica;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: -2px 0 0 5px;
}

p {
    font-family: Helvetica;
    font-weight: 400;
    padding: -2px 0 0 5px;
    font-size: 14pt;
}

li {
    font-family: Helvetica;
    font-variant: small-caps;
    font-weight: auto;
    padding: -2px 0 0 5px;
    font-size: 14pt;
    font-kerning: auto;
}

.name {
    color: black;
    /*color: hsla(147, 100%, 50%, 1);
    #00ff73;*/
    font-family: Helvetica;
    font-weight: lighter;
    text text-shadow: 0 0 0 5 .75px;
    text-align: center;
    vertical-align: middle;
    padding: 2.5% 0 .75% 0;
}

.address {
    font-family: Helvetica;
    text-transform: capitalize;
    font-weight: normal;
}

.underline {
    border-bottom: solid;
    color: #666;
    margin: 0 auto:
}

.bio {
    font: Helvetica;
}

li {
    margin: 0 auto;
}

#table {
    padding: 3%;
}

td {
    align: center;
    valign: middle;
}

td.button a {
    display: block;
    background: #069;
    border: 1px groove #075;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 .5em;
    color: #fff;
    font-family: Helvetica;
    text-transform: uppercase;
    padding: .75em 1em .75em 1em;
    transition: .5s linear;
}

td.button a:hover {
    background: #09c;
    border-color: 09c;
    transition: .5s linear;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

section, aside {
    float: left;
}

section {
    width: 70%
}

aside {
    width: 20%;
}

footer {
    clear: both;
}
