body {
margin: 0;
}
h2{ font-family: 'Pangolin', cursive;
font-size: xx-large;
text-align: center;
color:black;
}
h5{font-family: 'Pangolin', cursive;
font-size: large;
text-align: center;
color:black;
}


.header {
  background-color: #3D524A;
  width:auto;
  Height:300px;
  margin: 0px;
  border-style: solid:30px;color: #3D524A;
  padding: 0px;

}
.classImage{
width: 28%;
height: 20;
/* margin-right: 200px; */
/* object-position: center; */
padding-right: 10px;
padding-left: 10px;
margin-left: 100px;
margin-left: 212px;
}
.lightImg{
    width: 20%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 136px;
}

/* Middle column */
