/*body {
margin: 0;
}
h1,h2,h3,h4{ font-family: 'Pangolin', cursive;
font-size: xx-large;
text-align: center;
}
h5{font-family: 'Pangolin', cursive;
color:black;
font-size: xx-large;
}
h5{font-family: 'Pangolin', cursive;
color:black;
}

.container{
  text-align: center
}
  .box{display:inline;
  }*/

img  {
    float: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    border: solid 2px green;
    padding: 2%;
    background-color: blue;
    height: 50%;
}
