header
{ height: 0%;
  padding: 200px 0;
  background-image:url(headerpic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  flex-wrap: wrap;
}

h1
{ flex-direction: left;
  text-align: left;;
}

h2
{
  flex-direction: column;
  text-align: left;
}

form{

}
