header {
  background-image: url("img/sub_header_home.jpg");
  height: 500px;
  color: white;
  background-size: cover;
  background-repeat: round;
  padding-top: 150px;
}


article {
  width: 200px;
}

main {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}

#navbarTogglerDemo01 {
  background-color: #e2d1e4;
}

.navbar .btn-outline-success {
    color: black;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
