section {
  font-family: 'Open Sans';
  text-align: center;
  margin: auto 40px;
}

h2 {
  font-family: 'Lily Script One';
  font-size: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

h3 {
  border-top: solid #ebebeb 1px;
  border-bottom: solid #ebebeb 1px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

h3:hover {
  color: #6FD5C2;
}

img {
  width: 100%;
}

.item {
  border: solid #ebebeb 1px;
  height: 430px;
  width: 270px;
  padding: 0px;
  margin: 15px;
}

.product#flying {
  background-size: contain;
  width: 269px;
  height: 269px;
  display: flex;
  flex-direction: row;
  color: white;
}

.product {
  background-size: contain;
  width: 269px;
  height: 269px;
  display: flex;
  flex-direction: column-reverse;;
  color: white;
}

.product-text {
  display: flex;
  flex-direction: column;
}

.price {
  align-self: flex-end;
  background-color: #6FD5C2;
  font-size: 18px;
  width: 85px;
  height: 40px;
  margin-bottom: 0px;
  padding-top: 8px;
  position: absolute;
}

.price:hover {
  background-color: #3A4443;
}

.sale {
  flex: 50%;
  background-color: #FC3F37;
  font-size: 18px;
  width: 85px;
  height: 40px;
  margin-bottom: 0px;
  padding-top: 8px;
  position: absolute;
}

.shop {
  border-top: solid #ebebeb 1px;
  border-bottom: solid #ebebeb 1px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

.shop:hover {
    color: #6FD5C2;
    text-decoration: none;
}

.add {
  background-color: #3A4443;
  color: white;
  width: 130px;
  padding: 18px;
  margin-top: 19px;
  align-self: center;
  font-weight: bold;
}

.add:hover {
  background-color: #6FD5C2;
  text-decoration: none;
}

#flying {
  background-image: url("/img/flyingninja.jpg");
  position: absolute;
}

#happy {
  background-image: url("/img/happyninja.jpg");
}

#patient {
  background-image: url("/img/patientninja.jpg");
}

#ship {
  background-image: url("/img/shipyouridea.jpg");
}

#strike {
  font-size: 14px;
}

#saleprice {
  position: relative;
  right: 100%;
}
