img
{
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.about
{
  text-align: center;
  border-bottom: solid;
}
.micasa
{
  text-align: center;
  font-size: 20px;
}
p
{
  font-size: 20px;
}
iframe
{
  border:solid;
}
.review1, .review2, .review3, .review4 {
  background-color: white;
  border: solid;
  text-align: center;
  font-size: 10px;
}
.p1 {
  color: black;
  font-size: 18px;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;

}

.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    border: 1px solid red;
    text-align: center;
}
Attachments area
