/*text styling*/

h3 {
  font-family: georgia;
  font-style: italic;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
  font-family: georgia;
  font-style: italic;
}

p {
  font-size: 16px;
}

header {
  background-image: url('img/wine-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}

#third {
  background-image: url('img/wine13.jpg');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}

#wine {
  font-family: georgia;
  font-style: italic;
}

#awards {
  background-image: url('img/glass.jpg');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px;
}


/*png styling*/

#logo {
  opacity: 0.6;
  width: 400px;
  height: 500px;
}

#awards img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  #logo {
    width: 250px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  #logo {
    width: 150px;
    height: 200px;
  }
}
