		 /*.navbar {
		   margin-bottom: 10px;
		   border-radius: 0px;
		   background-color: transparent;
		 }

		 #navbarTogglerDemo01 {
		   background-color: #e2d1e4;
		 }

		 .navbar .btn-outline-success {
		   color: black;
		   background-image: none;
		   background-color: transparent;
		   border-color: #5cb85c;
		 }

		 .jumbotron {
		   background-image: url("img/wine-bg.jpg");
		   background-size: cover;
		 }
		 */

		 .without {
		   color: white;
		   font-size: 12px;
		   display: flex;
		   justify-content: center;
		   margin-top: 300px;
		   margin-top: 10px;
		   font-family: 'Georgia';
		   font-style: italic;
		   font-size: 21px;
		 }

		 #david {
		   font-size: 13px;
		   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		   color: white;
		 }

		 i {
		   margin: 20px;
		 }

		 .combining {
		   font-size: 12px;
		 }

		 .fimage {
		   display: flex;
		   - align-items: center;
		   margin-left: 350px;
		 }

		 header {
		   background-image: url("img/wine-bg.jpg");
		   background-size: cover;
		   - height: 759.2px;
		   height: 859.2px;
		 }

		 .navbar {
		   background-color: transparent;
		   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		   font-size: 11px;
		 }

		 .dropdown {
		   margin: 10px;
		 }

		 .navvy {
		   margin-left: 300px;
		 }

		 #est {
		   font-family: 'Georgia';
		   font-style: italic;
		   color: gray;
		   font-size: 16px;
		 }

		 .wine {
		   font-family: 'Georgia';
		   font-style: italic;
		 }

		 .blocktwo {
		   background-image: url("img/wine13.jpg");
		   height: 804.8px;
		   width: 759.2;
		   background-size: cover;
		   display: flex;
		   justify-content: center;
		   text-align: center;
		 }

		 #producing {
		   color: white;
		   font-family: 'Georgia';
		   font-style: italic;
		   font-size: 32px;
		 }

		 #sed {
		   color: white;
		 }
