*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-red{
  border: 1px solid red;
}
.border-blue{
  border: 1px solid blue;
}
.border-green{
  border: 1px solid green;
}
body{
  height: 100vh;
  background-color: #cc5577;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.86'%3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23cd5776' x='10' width='11' height='11'/%3E%3Crect fill='%23cd5875' y='10' width='11' height='11'/%3E%3Crect fill='%23ce5a74' x='20' width='11' height='11'/%3E%3Crect fill='%23cf5c72' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cf5d71' y='20' width='11' height='11'/%3E%3Crect fill='%23d05f70' x='30' width='11' height='11'/%3E%3Crect fill='%23d06170' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d1626f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d2646e' y='30' width='11' height='11'/%3E%3Crect fill='%23d2666d' x='40' width='11' height='11'/%3E%3Crect fill='%23d3676c' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d4696c' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d46b6b' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d56e6c' y='40' width='11' height='11'/%3E%3Crect fill='%23d5726e' x='50' width='11' height='11'/%3E%3Crect fill='%23d67670' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d77a72' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d77e73' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d88275' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d88577' y='50' width='11' height='11'/%3E%3Crect fill='%23d98978' x='60' width='11' height='11'/%3E%3Crect fill='%23da8d7a' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23da907c' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23db947d' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23db977f' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23dc9b81' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23dd9e83' x='70' width='11' height='11'/%3E%3Crect fill='%23dda184' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23dea486' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dea888' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dfab8a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dfae8b' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e0b18d' x='80' width='11' height='11'/%3E%3Crect fill='%23e1b48f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23e1b790' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23e2ba92' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23e2bd94' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e3c096' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e3c297' x='90' width='11' height='11'/%3E%3Crect fill='%23e4c599' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e5c89b' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e5ca9d' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e6cd9f' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e6cfa0' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e7d2a2' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e7d4a4' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e8d6a6' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e8d9a7' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e9dba9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ddab' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23eadfad' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23eae1ae' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ebe3b0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ebe5b2' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ece7b4' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ece9b6' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23edebb7' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23edecb9' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
nav{
  height: 90px;
  width: 100%;
  display: block;
  position: fixed;
  padding: 10px 15px;
  background-color: rgba(128, 128, 128, 0.538);
  transition: background-color 0.3s ease;
}
nav:hover{
  background-color: rgba(128, 128, 128, 0.8);
}
nav .logo{
  display: inline-block;
  height: 70px;
  width: 70px;
  text-align: center;
}
nav .logo i{
  font-size: 65px;
  margin: 15% 0;
}
nav ul{
  height: 100%;
  padding: 10px 0 0;
  float: right;
}
/* ul li:nth-child(2){
  width: 300px;
} */
ul li{
  display: inline-block;
  padding: 13px;
  margin: 0 auto;
}
header{
  height: 100vh;
  padding-top: 90px;
}