* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}
body{
  height: 100vh;
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
nav {
  height: 90px;
  width: 100%;
  display: block;
  position: fixed;
  padding: 10px 15px 10px 15px;
  background-color: rgba(128, 128, 128, 0.5);
  transition: background-color 0.3s ease;
}
nav:hover {
  background-color: rgba(128, 128, 128, 0.8);
}
nav .logo {
  display: inline-block;
  height: 70px;
  width: 70px;
  text-align: center;
}
nav .logo i {
  font-size: 65px;
  margin: 15% 0;
}
nav ul {
  height: 100%;
  padding: 12px 0 0;
  float: right;
}
/* ul li:nth-child(2) {
  width:300px;
} */
ul li {
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}
header {
  height: 100vh;
  padding-top: 90px;
}