body {
  background-color: #EBF5FB;
}
a:hover {
  color: #800000;
}
.s1 {
  border: 5px solid #34495E;
  padding: 50px;
  margin: 50px;
}
li {
  list-style-type: circle;
}
header {
  text-align: center;
}
h2 {
  color: #2E4053;
}
.element1 {
  border: 5px solid #34495E;
  padding: 50px;
  margin: 50px;
}
.element2 {
  border: 5px solid #34495E;
  padding: 50px;
  margin: 50px;
}
