.hero-image {
  height: 500px;
}

.hero-text {
  font-size: 50px;
  transition: none;
}

.bio-para {
  line-height: 150%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
