/*Fonts used:
font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Macondo Swash Caps', cursive;
*/

body {
  background-color: #915c48;
}

header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin: 75px 0;
}

header a {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fce8b3;
}

header a:hover {
  color: #fce8b3;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  margin: 15px 0;
  font-family: 'Macondo Swash Caps', cursive;
}

header h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 19px;
}

/*----
Global navigation
----*/

nav {
  font-family: 'Fjalla One', sans-serif;
  width: 30%;
  height: auto;
  margin: 10px auto;
  border-top: 2px solid #f4a07c;
  border-bottom: 2px solid #f4a07c;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fce8b3;
}

nav a:hover {
  color: #f3f3f3;
  text-decoration: none;
}

/*----
Main content / global
----*/

.container {
  box-sizing: border-box;
}

.vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overview {
  padding: 10px;
}

.partition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.partition h2 {
  padding: 9px 31px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#aboutMeTitle {
  border-right: 1px solid black;
  height: 160px;
  display: flex;
  align-items: center;
}

.partition p {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  margin: 10px;
}

.partition img {
  margin: 30px;
  box-shadow: 0 0 3px white;
}

footer {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
  display: inline-block;
  margin: 10px 10px;
}

footer a {
  color: #fce8b3;
  font-size: 17px;
  text-decoration: none;
}

footer a:hover{
  color: #f3f3f3;
}

/*-----
Web Design
-----*/

.projectLink {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  margin: 10px 0;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: black;
}

.description {
  text-align: center;
}

.projectLink a {
  text-align: right;
  width: 95%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
}

.projectLink a:hover {
  color: #fce8b3;
  text-decoration: none;
}

h4 {
  font-size: .9em;
  font-style: italic;
}


/*----
Photography
----*/

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}
