/**/
/*Header section*/
/**/
header {
  width: 900px;
  margin: auto;
  height: 250px;
  background-color: rgb(144,200,200);
  /*min-width: 575px;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#logo_div {
  width: 80px;
  margin: auto;
  padding: 35px 0px;
}

#header_logo {
  width: 100%;
}

#top_nav_master {
  padding: 20px;
  width: 100%;
}

#header_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 30px;
}

.top_links {
  font-family: "Rockwell Condensed";
  color: black;
  text-decoration: none;
  font-size: 200%;
  text-shadow: 0px 0px rgb(125,125,125);
  transition: text-shadow 1s;
}

.top_links:hover {
  font-family: "Rockwell Condensed";
  color: black;
  text-decoration: none;
  text-shadow: 5px 5px rgb(250,250,250);
  /*font-size: 200%;*/
}

.top_slash {
  font-family: "Rockwell Condensed";
  color: black;
  text-decoration: none;
  font-size: 200%;
}
/**/
/*End of Header section*/
/**/

/**/
/*Pic Intro section*/
/**/
#pic_intro {
  box-sizing: border-box;
  height: 350px;
  width: 900px;
  margin: auto;
  padding: 20px;
  background-color: rgb(40,44,52);
  display: flex;
  align-items: center;
}

#profile_pic_div {
  /*box-sizing: content-box;*/
  /*width: 100%;*/
  /*padding-left: 30px;
  padding-right: 30px;*/
}

#profile_pic {
  width: 100%;
  height: auto;
}

#PSC_title {
  font-family: "Rockwell Condensed";
  color: white;
  text-align: center;
  font-size: 222%;
}

#PSC_desc {
  font-family: "Rockwell Condensed";
  color: white;
  text-align: center;
  font-size: 120%;
}
/**/
/*End of Pic Intro section*/
/**/

/**/
/*Featured Work section*/
/**/
#featured {
  height: 350px;
  width: 900px;
  margin: auto;
  padding: 20px;
  background-color: rgb(144,200,200);
}

#featured_title_div {
  width: 100%;
  margin: auto;
  text-align: center;
}

#featured_title {
  font-size: 222%;
  font-family: "Rockwell Condensed";
}

/*.link_img {
  box-shadow: 0px 0px rgb(125,125,125);
  transition: text-shadow 1s;
}

.link_img:hover {
  box-shadow: 5px 5px rgb(250,250,250);
}*/

/*#featured_pic_div_lg {

}*/

#yartarb_title_div {
  width: 100%;
  margin: auto;
  text-align: center;
}

#featured_pic {
  width: 100%;
}
/**/
/*End of Featured Work Section*/
/**/

/**/
/*Quote 1 Section*/
/**/
.quote_section {
  box-sizing: border-box;
  width: 900px;
  margin: auto;
  height: 200px;
  padding: 20px;
  background-color: rgb(40,44,52);
  display: flex;
  align-items: center;
}

.quote_pic_div {
  display: flex;
  justify-content: center;
}

.quote_div {
}

.quote_pic {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 5px solid white;
  /*height: auto;*/
}

.quote {
  color: white;
  text-align: left;
  font-size: 250%;
  font-family: "Rockwell Condensed";
}

.quoter {
  color: white;
  text-align: right;
  font-family: "Calibri";
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
}
/**/
/*End of Quote 1 Section*/
/**/

/**/
/*Middle Links Section*/
/**/
#middle_links_section {
  width: 900px;
  margin: auto;
  background-color: rgb(144,200,200);
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle_link_div {
  width: 22%;
}

.middle_link_title_div {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

.middle_link {
  font-family: "Rockwell Condensed";
  color: black;
  text-decoration: none;
  font-size: 222%;
  text-shadow: 0px 0px rgb(125,125,125);
  transition: text-shadow 1s;
}

.middle_link:hover {
  font-family: "Rockwell Condensed";
  color: black;
  text-decoration: none;
  text-shadow: 5px 5px rgb(250,250,250);
  /*font-size: 200%;*/
}

.mid_links_text {
  color: black;
  text-align: center;
  font-size: 150%;
  font-family: "Rockwell Condensed";
}

.middle_pic_div {
  width: 80%;
  margin: auto;
}

.middle_logo {
  width: 100%;
}
/**/
/*End of Middle Links Section*/
/**/

/**/
/*Quote 2 Section*/
/**/

/**/
/*End of Quote 2 Section*/
/**/

/**/
/*Footer Section*/
/**/
footer {
  width: 900px;
  margin: auto;
  height: 200px;
  background-color: rgb(144,200,200);
}

#footer_follow_logos_div {
  padding: 5px;
}

#follow_us_text_div {
  float: right;
  padding-right: 30px;
}

#follow_us_text {
  font-size: 150%;
}

#footer_follow_logos_div_master {
  width: 100%;
  float: right;
  padding-right: 25px;
}

.footer_follow_logos_div {
  float: right;
  padding: 0px 10px 10px 10px;
}

#illuminati, #twitter, #facebook, #reddit {
  height: 20px;
}

#footer_logo {
  height: 50px;
  float: right;
}

#footer_logo_div {
  width: 100%;
  float: right;
  padding-top: 25px;
  padding-left: 10px;
}
/**/
/*End of Footer Section*/
/**/

@media (max-width: 992px) {

  header {
    width: 100%;
    box-sizing: border-box;
  }

  #pic_intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    /*box-sizing: border-box;
    padding: 10px;*/
  }

  #featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .quote_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .quote {
    display: flex;
    justify-content: center;
  }

  .quoter {
    display: flex;
    justify-content: center;
  }

  #middle_links_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  footer {
    width: 100%;
  }
}

@media (max-width: 551px) {
  .top_links {
    font-size: 150%;
  }

  .top_slash {
    font-size: 150%;
  }

  #slash4 {
    display: none;
  }
}
