/*
color scheme:
dark grey #7C90A0
grey #D7CDCC
maroon #795663
light gre #E8EEF2
light blue #C1E0F7
*/

body {
  border: 1px black solid;
  font-family: "HelveticaCondensed", Arial, sans-serif;
  background-color: #D7CDCC;
}

#wrapper {

}

header {
  border: 1px black solid;
  background-color: #7C90A0;
  padding: 5px 0;
}

#site-title {
  position: relative;
  top: 8px;
  left: 30px;
  height: 0px;
  z-index: 1;
  font-weight: 200;
  font-size: 30px;
}

nav {
  position: relative;
  margin: auto;
}

#nav {
  /* background-color: #7C90A0; */
  display: flex;
  align-items: center;
  justify-content: center;

}

nav a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  color: #E8EEF2;
}

nav a:hover {
  color: #795663;
}

nav a:active {
  color: #795663;
}

main {
  border: 1px black solid;
  background-color: #C1E0F7;
}

section {
  border: 1px black solid;
}

aside {
  border: 1px black solid;
  background-color: ;
}
