.navbar {
  background-color: #E9A122;
}

main {
  background-color: rgb(129, 24, 24);
}

.lenny {
  margin-top: 90px;
}

.tour {
  margin-top: 25px;
  margin-bottom: 10px;
}

.navbar-toggle {
  background-color: rgb(129, 24, 24);
}

/*.collapsed :visited, :hover, :active {
  background-color: rgb(129, 24, 24);
}*/

.icon-bar {
  background-color: #E9A122 !important;
}
