html {
  
}

body {
  background-image: url("../img/lz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

main {
  text-align: center;
  padding-top: 250px;
  color: white;

}
