

body {
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/13494927_259168211106916_2855962792625270565_n.jpg?_nc_log=1&oh=55a29becf1d85382746de31602366fd8&oe=5944CAD9");
  background-position: center;
  background-repeat:repeat;
  background-size:200px 200px;
  background-color: white;
}

.navbar {
border: 5px solid black;
}

#hero {
  box-sizing: border-box;
  width:100%;
  height:200px;
  background: white;
  border:2px solid black;
}

h1 {
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  padding-top: 40px;

}
