/* overall styling */
html {
  background-size: cover;
  font-family: 'Lato',sans-serif;
  color:black;
  font-family: brandon-grotesque;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  margin:0;
}

/* navigation styling */
.innerheader{
  height:120px;
  background-color: white;
  text-decoration: none;
}
.navigation {
  width: 100%;
  background-color: white;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  max-height:inherit;
  margin-left: auto;
  margin-right: auto;
}

.navigationbar{
  float:right;
  padding-left: 30px;
  padding-right: 20px;
  max-width: 1610px;
  max-height:inherit;
  margin-top:50px;
  margin-right:50px;
}

a{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

a:hover{
  color:#000;
}

.fa{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

.fa:hover{
  color:#a8a8a8;
}

img{
  height:75px;
  padding:20px;
}

/* body styling */
body{
  margin:0;
}

h1{
  font-family: 'lato',sans-serif;
  color:#a8a8a8;
  font-size: 29px;
  text-align:center;
  margin-top:50px;
}

h2{
  font-family: Cabin;
  font-weight:600;
  letter-spacing: .18em;
  color:#a8a8a8;
  font-size: 14px;
  text-align:center;
}

figure{
  float:left;
}

figcaption{
  margin-left:20px;
  font-family: Cabin;
  letter-spacing: .18em;
  color:#a8a8a8;
  font-size: 14px;
  justify-content: center;
}

.pasteventpics{
  height:300px;
}
/* footer styling */
footer {
  float:bottom;
  text-align: center;
  margin-top:450px;
  color:#a8a8a8;
}

p{
  font-family: 'Lato',sans-serif;
  text-align:center;
  font-size: 16px;
}

.navigationbar2{
  text-align:center;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}
