body {
  background-image: url("../roadbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 870px;
  background-attachment: fixed;
  font-family: 'Cabin Condensed', sans-serif;
  text-shadow: 0px 0px .25px #003300;
}
header {
  height: 150px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}
h1 {
  font-size: 70px;
  font-family: 'Cantata One', serif;
  color: #2E3192;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px #003300;
  text-decoration: underline;
}
nav {
  height: 70px;
  width:100%;
  margin-top: 20px;
  text-align: center;
}
.navbutton {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #2E3192;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  border-bottom: ridge green 1px;
  border-width: 2px;
}
.navbutton:hover {
  color: darkgreen;
  border-color: darkgreen;
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
h2 {
  color: #2E3192;
  font-size: 45px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  text-shadow: 1px 1px 3px #003300;
}
.featuredsection{
  height: 420px;
  width: 59%;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
}
.featuredsection img {
  height: 200px;
  width: 100px;
  border-radius: 10px;
  border: solid #2E3192 7px;
  box-shadow: 5px 5px 5px #003300;
  text-align: center;
}
#slider-container{
  width:100%;
  text-align:center;
}
.button {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
.button-display-right {
  float: right;
}
.button-display-left {
  float:left;
  bottom: 0;
  left: 0;
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  */
}
.aboutsetion {
  padding-top: 40px;
  border: solid white 1px;
  width: 800px;
  height:500px;
}
.jeffphoto {
  border-radius: 10px;
  box-shadow: 3px 1px 2px #003300;
  margin-left: 125px;
}
h3 {
  width: 100px;
  font-size: 20px;
  color: #030E8D;
  text-shadow: 1px 1px 2px #003300;
}
.aboutpara {
  padding-left: 20px;
  font-size: 17px;
  margin-right: 125px;
}
.aboutheader {
  padding-left: 20px;
  width: 200px;
  padding-bottom: 10px;
}
.photocontain {
  padding: 10px;
}
.photodescrip{
  vertical-align: top;
}
.featurephoto {
  width: 80%;
  float:center;
  display: inline-block;
  margin:0 auto;
}
.buttonleft {
  width: 5%;
  padding-left: 10px;
  float:left;
}
.buttonleft button{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.buttonright {
  width: 5%;
  padding-right: 10px;
  float:right;
}
.buttonright button{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inventorytable {
  margin-left: 100px;
  margin-right: 100px;
}
.inventoryphoto {
  width: 90%;
  margin-top: 40px;
  margin-left: 13px;
  text-align: center;
  box-shadow: 5px 5px 5px #003300;
  border-radius: 10px;
}
.inventorydescription {
  margin-right: 10px;
  padding: 20px;
  text-align: left;
}
.descriptionlist {
  list-style-type: none;
  font-size: 20px;
}
.financehead {
  font-size: 25px;
  text-decoration: underline;
  width: 200px;
  padding-left: 50px;
}
.financeheadgrid {
  text-align: center;
}
.financedescription {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}
.testimonialsection {
  margin-top: 40px;
}
.testpara {
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  text-indent: 15px;
}
.testcred {
  font-weight: bold;
  margin-bottom: 30px;
  text-indent: 70px;
  padding-bottom: 30px;
  font-size: 18px;
}
.mapimg {
  width: 400px;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #003300;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  margin-right: 40px;
  vertical-align: top;

}
.addressbox {
  padding-left: 30px;
  vertical-align: top;
  padding-top: 40px;
  font-size: 20px;
}
.contactinfo {
  padding-top: 30px;
}
.footerpara {
  padding-right: 50px
}
.footer {
  border-top: solid white 3px;
  color: white;
  width: 100%;
  height: 50px;
  color: white;
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
text-align: center;
padding-top: 30px;
font-size: 20px;
}
