/*Style section*/


/*Color pallete is located on PDF in root folder*/


/*font-family: 'Great Vibes', cursive;*/


/*font-family: 'Roboto', sans-serif;*/

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff0d8;
}


/*navbar styling right here*/

header {
  width: 100%;
  height: 70px;
}

.headtitle {
  display: block;
  font-size: 35px;
  font-family: 'Great Vibes', cursive;
  float: left;
  padding: 10px;
  color: #7d7782;
}

.mainnav {
  float: right;
  margin-top: 20px;
}

.mainnav>a {
  color: white;
  padding: 10px;
  margin: 5px;
  color: #7d7782;
  border: #7d7782 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.mainnav>a:hover {
  color: white;
  padding: 10px;
  margin: 5px;
  color: #fff0d8;
  border: #7d7782 2px solid;
  background-color: #7d7782;
  border-radius: 5px;
}


/*this is only for styling the first button, trying to send people direct to the RSVP, what I have them here for!*/

.rsvpbutton {
  display: block;
  background-color: #ff6961;
  color: white;
  width: 280px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
}

.rsvpbutton:hover {
  display: block;
  background-color: #b19cd9;
  color: white;
  width: 280px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
}

#weddingLocation {}

#JIC {}

#funstuff {}

#rsvp {}

.headline {
  display: block;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 4em;
  background-color: #c88d7c;
  color: #fff0d8;
  width: 400px;
  margin: auto;
  opacity: .90;
  padding: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px grey;
  border-radius: 30px 30px 30px 0px;
}

.subheadline {
  font-size: 1.8em;
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 25px 0 25px 0;
  color: #fff0d8;
  background-color: #283328;
  text-align: center;
}

span.subheadline:nth-of-type(even) {
  font-size: 1.8em;
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 25px 0 25px 0;
  color: #fff0d8;
  background-color: #7d7782;
  text-align: center;
}

.textchunk {
  box-sizing: content-box;
  display: block;
  width: 500px;
  margin: 20px auto 0 auto;
  background-color: #fff0d8;
  color: #7d7782;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 140%;
  padding: 25px;
  border-radius: 10px;
  opacity: .9;
}


/*This section styles the boxes inside the Recommendations part of the site, each is idential with new info in there*/

#funstuff {
  box-sizing: border-box;
  display: block;
  max-width: 1000px;
  margin: auto;
}

.aSpot {
  display: inline-block;
  box-sizing: border-box;
  height: 480px;
  width: 485px;
  margin: 5px;
  padding: 15px;
  background-color: #fff0d8;
  border-radius: 5px;
}

.spotName {
  display: inline-block;
  font-size: 35px;
  margin-bottom: 20px;
}

.address>a {
  Color: green;
  font-size: 13px;
  display: inline-block;
  float: right;
  padding: 10px;
}

.spotImg {
  display: inline-block;
  float: right;
  padding: 10px;
}

.spotInfo {
  display: inline;
  clear: both;
}


/*cant freaking figure out the spacing issue on the top of the two top boxes when the site isnt collapsed*/


/*This section deals with locking the background images in place!  Its a div that contains each background image that has a fixed attachment!*/

.bg1 {
  background-image: url(img/yosemitekiss.png);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  padding-top: 100px;
  /*spot for first image  and px breakdown*/
}

.bg2 {
  background-image: url(img/dvring.png);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  /*second background photo*/
}

.bg3 {
  background-image: url(img/breakfast.png);
  height: 1600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  /*third background photo*/
}

#rsvpform {
  display: block;
  width: 550px;
  margin: auto;
}

.footinfo{
  display: block;
  background-color: #53594B;
  width:100%;
  color: white;
  padding:20px;
  letter-spacing: .85em;
  text-align: center;
}
