*{
  border: 1 solid red;
}

body {
width: 75%;
/*margin: 0 auto centers eveything in the body*/
margin: 0 auto;
/*background-color: #EDEEF0;*/
/*background-image: url("https://cdn.pixabay.com/photo/2016/02/18/13/02/berlinen-mauer-1207123_1280.jpg");
background-repeat: repeat-y;*/

}

header{
  background-color: #00471B;
}

h1 {
  background-color: #00471B;
  color: #2F90D9;
}

header, nav, main, section, aside, footer {
padding: 5px;
margin-top: 10px;
}

main, section, article{
  background-color: #FFFFFF;
}

.navbar ul {
  display:flex;
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #989898;
  justify-content: space-around;
  /*flex-direction: column;*/
}



/*ul{
  list-style-type: none;
   margin: 0;
   padding: 8px;
   /*The overflow: hidden makes sure that if you hover over the links they stay within their parent container and ont flow out.*/
   overflow: hidden;
   background-color: #333;
   text-align: center;
}*/

/*The inline property will will lay out the links horzontally*/
li {
  /*display: inline;*/
}

li a {
    color: white;
    text-align: center;
    /*padding: 14px 60px;*/
    /*Text-decoration:none takes away the underline from each link*/
    text-decoration: none;
}

/* Change the link color to #4CAF50 (green) on hover */
li a:hover {
    background-color: #2F90D9;
}

.hero{
  display:flex;
  flex-direction: column;
}
/*Giannis layup img*/
.demarco{
  /*width:100%;
  position: relative;*/
  background: #eee;
  display: block;
  padding-top: 0;
  position: relative;
  width: 250px;
  margin: 0 auto;

  image-rende

}

background: #eee;
display: block;
padding-top: 75%;
position: relative;
width: 100%;




/*Adidas snowstorm img*/
.adidas{

  margin-left: 43px;

}

header{
  text-align: center;

}

/*Audiowide is a google font*/
h1 {
  font-family: 'Audiowide', cursive;

}

section, aside {
float: left;
}

section {
width: 70%
}
aside {
width: 20%;
}

footer {
clear: both;
}
