.main{
  background-image: url("nasa/img/nasa-background.jpg");
  height: 450px;
  width: 850 px;
  max-width: 850px;
}

.nasa{
  margin:auto;
  text-align: center;
  height: 30px;
  color: white;
  padding-top: 200px;
}

h4{
  text-align: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 850px;
    height: 324px;
    background-color: lightgrey;
}

.flex-item {
    width: 30%;
    height: 100px;
    margin: 10px;
}
</style>
</head>
<body>

<div class="flex-container">
  <div class="flex-item">flex item 1</div>
  <div class="flex-item">flex item 2</div>
  <div class="flex-item">flex item 3</div>
</div>
