.main{
  background-image: url("nasa/img/nasa-background.jpg");
  height: 450px;
  width: 850px;
  margin-bottom: 10px;
}

.nasa{
  margin:auto;
  text-align: center;
  font-size: 80px;
  font-family: Helvetica;
  color: white;
  padding-top: 180px;
  font-weight:  bold;

}

h3{
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
}

.flex-container {
    display: webkit-flex;
    display: flex;
    width: 850px;
    height: 324px;
    background-color: lightgrey;
    margin-top: 10px;
}

.flex-item {

    width: 270px;
    height: 324px;
    margin: 10px;
    text-align:left;
  }
