/*occured to me that instead of assigning each element the font I could globally
declare it */
.main{
  background-image: url("nasa/img/nasa-background.jpg");
  height: 450px;
  width: 850px;
  margin-bottom: 20px;
  font-family: sans-serif; /* I think it's "Hoxton DemiBold" but I'm not paying for it*/
}

.nasa{
  margin:auto;
  text-align: center;
  font-size: 80px;
  /*<!font-family: "Hoxton DemiBold";--Inherits from .main*/
  color: white;
  padding-top: 180px;    /*for centering the word*/
  font-wight: bolder;

}

.name{
  font-family: "Hoxton DemiBold";


}

h3{
  text-align: left;
  /*inherit from .main font-family: "Hoxton DemiBold";*/

  font-size: 25px;
margin-bottom: 5px;
}

p{
  line-height: 25px;
}
.flex-container {
  display: webkit-flex;
  display: flex;
  width: 850px;
  height: 324px;
  background-color: lightgrey;
  margin-top: 20px;
  font-family: sans-serif;
}

.flex-item {

  width: 30%;
  height: 324px;
  margin: 10px;
  text-align:left;
  /* inherit from .main: font-family: "Arial Narrow";*/
}

.text{}

.send{
  background-color: rgb(64, 62, 62);
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
