#container {
    width: auto;;
    height: 1000px;
    /* background-color: grey; */
    margin: auto;
    font-family: arial;
}


#hcursive {
    position: absolute;
    Width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 140px;
    /* background-color: green; */
    font-family: cursive; 
    color: grey;
    opacity: 0.15;
}

h1 {
    margin-top: -40px;
    Width: 100%;
    text-align: center;
    font-size: 80px;
    /* background-color: blue; */
    padding-top: 10%;
    transition: transform 1.5s;
}

h1:hover {
    transform: translate(50px, 25px);
}

section {
    /* background-color: teal; */
    display: grid;
    grid-template: 200px 200px/ repeat(4,1fr);
    grid-gap: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.climb_pic {
    height: 200px;
    width: 100%;
    background-color: green;
    transition: transform 2s;
}

.climb_pic:hover {
    transform: rotateX(180deg);
}

