body {

    font-family:"roboto slab",sans-serif;
    font-weight:300;
    font-size:2em;
    position:relative;
}

h2,h3,h4,h5,h6{
font-family:"Open Sans", sans-serif;
font-weight:100;
margin:0;
}

h1{
  font-family: 'Barrio', cursive;
  font-size: 60px;
  /*border: 1px solid red;*/

}

img {
    /*max-width: 200px;*/
    width:100%;
}

li a {
  color: black
}

.btn-default{
  background-color: color:#e15d5f;
}

.navbar-default {
    border-radius:0;
    border:0;
    border: 1px solid red;


}

.navbar-default{
  margin-bottom: -1px;
}

/**Header Navigation**/
header .navbar{
    padding:10px 0;

}

header .navbar-default{
    background-color:transparent;
    border:none;
}

header .navbar-default .navbar-nav a {
    color:white;
    padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
    color:#EEC856;
}

header .navbar-default .navbar-nav a{
  color:black;
}

header .navbar-default .navbar-nav .active a {
    font-weight:700;
    color:#EEC856;
    background:transparent;
    border-bottom:4px solid #EEC856;
    }

    header .navbar-default .navbar-nav .active a:hover {
        color:#e15d5f;
        background:transparent;
        text-shadow:none;
    }

/**Navbar Brand**/
.navbar-default .navbar-brand{
/*background: url(../img/logo.svg);*/
background-repeat:no-repeat;
background-position: 15px 0;
height:auto;
font-family: 'Barrio', cursive;
/*border:1px solid red;*/

}

.navbar-default .navbar-brand h1{
margin:0;
font-size:1.8em;
font-weight:400;
padding-left:105px;
color:#EEC856;
font-size: 70px;
font-family: 'Barrio', cursive;
text-align: left;


}


header .navbar-brand span.subhead{
    font-family:"roboto slab", serif;
    font-size:.6em;
    font-weight:100;
    display:block;
}

.container-gray{
/*border: 1px solid red;*/
height:31vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #EEEEEE;

}

.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 42%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

}

.carousel-inner{
  /*border: 1px solid red;*/



}

.panel-title{
  text-align:center;
}

form{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

label{
  display: inline-block;
  width:100%;
  text-align: center;

}

.input-box {
  /*margin-left:192px;*/
  margin-bottom: 10px;
  /*border: 1px solid red;*/


}

input [type="text"]{
  font-size: 10px;
}

.submit{
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #EEC856;;
  border:0;
}


/**Navbar Toggle**/
header .navbar-toggle{
    background-color:#eec856;
}

header .navbar-default .navbar-toggle .icon-bar{
    background-color:white;
}

header .navbar-collapse{
    background-color:transparent;
    /*border:1px solid red;*/
}

@media only screen and (max-width:768px;) {
    header .navbar-collapse.in{
    background-color:rgba(0,0,0, .5);
}

}

@media (max-width: 426px) {
    .container-gray {
        height: 36vh;
    }
}
