html {

}

body {
  background-image: url("../img/hand.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

main {
  text-align: center;
  padding-top: 450px;
  color: white;

}

.action {
  color: black;
}
