/* GENERAL */

body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://i.imgur.com/4WGZfvx.jpg");
  background-attachment: fixed;
  color: white;
}

main {
  /* padding: 1em; */
}

h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
  text-decoration: underline;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
}

li {
  font-size: 1.25em;
  padding: 0.5em;
}

/* NAVBAR */
* {
  box-sizing: border-box;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #F8F8F8;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 20px;
  color: #FF956B;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #777777;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* BODY */
button {
  margin-top: 1em;
  background-color: #777777;
  font-size: 1em;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

button:hover {
  background-color: #D36B3D;

}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em 1em;
  grid-area: box1;
  background-color: white;
  color: #FF956B
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1em 1em;
  grid-area: box2;
  background-color: #F8F8F8;
  color: #FF956B
}

.box3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1em 1em;
  grid-area: box3;
  background-color: white;
  color: #FF956B
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
}

/* money back guarantee */
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #F8F8F8;
  color: #777777
}

/* bottom menu */
.bottom-menu {
  padding: 1em;
}

.bottom-menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-menu a {
  text-decoration: none;
  color: white;
}

.bottom-menu a:hover {
  color: #D36B3D;
}

.bottom-menu a:visited {
  text-decoration: none;
}

footer {
  background-color: #FF956B;
  padding: 1em 0em;
  color: white;
  text-align: center;
}

/* weird mobile view stuff for navbar */
@media (max-width:600px) {
  /* NAVBAR */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #777777;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}


/* Small and up (Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

  h1 {
    font-size: 3em;
    padding-top: 0.75em;
  }

  h3 {
    padding-left: 11em;
    padding-right: 11em;
  }

  .boxes {
    display: flex;
    padding-bottom: 1em;
  }

  .box1 {
    flex: 1;
  }

  .box2 {
    flex: 1;
  }

  .box3 {
    flex: 1;
  }

  .bottom-menu2 {
    justify-content: center;
  }
}

/* Extra large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}
