body {
  font-family: "source sans pro";
  margin: 0px;
}

header {
  border-bottom: 1px solid gray;
  height: 90px;
}

h1 {
  float: left;
}

h1 img {
  height: 50px;
  margin-left: 20px;
}

nav {
  text-transform: uppercase;
  font-size: 16px;
}

nav div {
  float:left;
  margin-top: 35px;
  margin-left: 40px;
  color: gray;
}

.selected {
  color: black;
}

nav div input {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "source sans pro";
  margin-top: -5px;
}

.connect {
  height: 25px;
  margin-top: -4px;
}

.featured-image {
  margin: 30px;
}

.featured-image-1 {
  width: 78%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.introduction {
  text-align: center;
  margin: 0 250px;
}

.clearfix {
  width: 1020px;
  margin: 0 auto;
}

.services-images {
  float: left;
  margin: 0 20px 20px;
}

article div img {
  width: 300px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  border-top: 1px solid gray;
  height: 20px;
}

.address {
  text-align: center;
  color: gray;
  margin: 20px;
}
