*  {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.container-1 {
  width: 100%;
  height: 100px;
}

.name {
  float: left;
  width: 30%;
  margin-top: 50px;
  margin-left: 5%;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.menubar {
  float: right;
  width: 36%;
  margin-top: 60px;
}

.menubar a {
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #595959;
}

.container-2 {
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.curtain {
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 500px;
}

.vineyard {
  background-image: url(../img/wine-bg.jpg);
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
  text-align: center;
  color: white;
}


.vineyard h1 {
  padding-top: 160px;
  font-family: 'Open Sans', sans-serif;
  font-family: 32px;
}

.vineyard h3 {
padding-top: 80px;
}

.vineyard p {
  padding-top: 10px;
}

.container-3 {
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.established {
  float: left;
  width: 600px;
  height: 500px;
  text-align: center;
}

.established h6 {
  padding-top: 150px;
  color: #595959;
}
.established h1 {
  padding-top: 50px;
  font-size: 20px;
}

.established p {
  padding-top: 60px;
}

.wineworker img {
  width: 30%;
  height: 500px;
  float: left;
  margin-left: 10%;
}

.container-4 {
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.production {
    background-image: url(../img/wine13.jpg);
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    text-align: center;
    color: white;
}

.production h1 {
  padding-top: 150px;
}

.production p {
  padding-top: 50px;
}

.container-5 {
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.winedescription {
  width: 10%;
  height: 300px;
  margin-left: 17%;
  text-align: center;
  float: left;
}

.winelist img {
  width: 10%;
  height: 300px;
  margin-left: 17%;
}

.winedescription h3 {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.winedescription p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

button {
  margin-top: 20px;
}
