body {
    height: 1000px;
    background-size: 80px 60px cover;
    background-color: darkgrey;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;

}

nav {
    background-color: background-color: rgba(0, 0, 0, 0.0);
}

main {
    background-image: url('../img/Lu_pacman.jpg');
    background-size: 400px cover;
    height: 850px;
    padding-top: 100px;
}

a {
    color: inherit;
}

#contact-info {
    padding-left: 700px;
    color: grey;
}

#ornamental {
    padding-top: 350px;
    padding-left: 30px;
    color: grey;
}

.pull-right {
    float: right;
}




.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
