body {
  height: 100%;
  width: 100%;
  /*background-image: url(./vids/Disk2_Animation.mov);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url(http://www.rw-designer.com/cursor-view/95686.png);
}

.navbar-default .navbar-nav>li>a {
  font-size: 20px;
  color: white;
  font-family: schoolbell;
  filter: blur(1.5px);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  filter: blur(0px);
  overflow: hidden;
  color: white;
}


.navbar-default {
  color: white;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid white;
}

.container-fluid {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS9shy59pjytGP9FfnPMv4FkrgzTRoWDBIU8cQPsmmLFYz2XdYKjw);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top-center;
}

.textwrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

}

h1 {
  color: #f66;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 80px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


p {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.social img {
  height: 30px;
  width: 30px;
}

.social {
  width: auto;
  height: auto;
  /*border: 3px solid white;*/
  padding: 10px;
  opacity: (.5):
}

.social img:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
 -moz-transform:scale(1.25); /* Firefox */
 -ms-transform:scale(1.25); /* IE 9 */
 -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

#overlay img {
  background: transparent;
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:100px;
}

#overlay.currently-loading img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: auto;
  display: flex;
  justify-content:
}

.video {
  filter: blur(3px);
}

.modal-dialog {
  top: 10%;
}

.modal-backdrop {
  position: inherit;
}
