body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: black;
}

#navbar-collapse {
  float: right;
}

#herotext {
  font-family: 'Courgette', cursive;
  font-size: 60px;
}

#ptext {
  font-size: 20px;
  margin-top: 30px;
}

#top {
  background-image: url('../img/heroimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: white;
  text-align: center;
  padding-top: 300px;
}

#about {
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
  background-color: lightgrey;
}
#about-title {
  font-family: 'Courgette', cursive;
  font-size: 30px;
}

#info {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  text-align: left;
  font-size: 15px;
}

#img1 {
  width: 50%;
}

#img2 {
  width: 40%;
}

#img3 {
  width: 44%;
}

#img4 {
  width: 52%;
}
