body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-image: url(http://cdn.pcwallart.com/images/gradient-wallpaper-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  /*width: 100%;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  height: auto;
  width: 200px;
  /*width: 500px;*/
}
