@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

nav.navbar {
	background-color: #f8fafa;
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, a {
	font-family: 'Roboto', sans-serif;
}

h1 {
	letter-spacing: 2px;
	text-transform: uppercase;
}

h2 {
	font-size: 1.75em;
	font-weight: 500;
	text-transform: uppercase;
}

p, span {
	font-family: 'Georgia', serif;
	font-size: 1.1em;
}

#my-name {
	color: #333;
	font-size: 1.20em;
	font-weight: 500;
	letter-spacing: 2px;
}

#my-name:hover {
	color: gray;
}

.upper {
	text-transform: uppercase;
}

#right-links a {
	color: #333;
}

#right-links a:hover {
	color: gray;
}

#hero {
	align-items: center;
	background: #e8eced url('../img/hero.jpg') no-repeat center;
	background-color: #555;
	background-blend-mode: multiply;
	color: white;
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	margin-bottom: 0;
	text-align: center;
}

.secondary {
	background-color: #f8fafa;
}

#about {
	padding: 20px 0;
	//padding-top: 20px;
}

#about > h2 {
	margin-top: 0;
}

.thumbnail {
	border: 0;
	margin-bottom: 10px;
}

.center-me {
	text-align: center;
}

#austin {
	height: 300px;
	margin: 0 auto;
	width: auto;
}

#slider {
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    width: 450px;
}

#slider .slides {
    display: block;
    height: 450px;
    margin: 0;
    padding: 0;
    width: 6000px;
}

#slider .slide {
    list-style-type: none;
    height: 300px;
    width: 450px;
}

.slide-btn {
	margin-bottom: 20px;
    margin-top: 10px;
}

#caption, #mapCaption {
	font-weight: bold;
}

.contact-me {
	margin-top: 20px;
}

.contact-me > div {
	margin-bottom: 20px;
}

.contact-link {
	color: rgb(51, 51, 51);
}

.contact-link:hover {
	color: gray;
	text-decoration: none;
}

.contact-link p {
	padding-top: 5px;
}