body {
   overflow-x: hidden;
}

body {
  background-color: #0fb493; 
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.6s ease;
   -moz-transition: all 0.6s ease;
   -o-transition: all 0.6s ease;
   transition: all 0.6s ease;

}

#wrapper.toggled {
   padding-left: 200px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 250px;

   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background-color:#312A25 !Important;

   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 0;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   right:15px;
   width: 200px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 220px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 200px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 40px;


   }

#wrapper.toggled span {
       visibility:hidden;

   }
 #wrapper.toggled   i {
float:right;
}

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right:60px;
}

#wrapper.toggled {
   padding-right: 60px;
}

#wrapper {
       padding-left: 20px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 50px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 140px;


   }

   #wrapper.toggled span {
       visibility:visible;
       position:relative;
       left:70px;
       bottom:13px;

   }

#wrapper span {
       visibility:hidden;

   }
 #wrapper.toggled   i {
float:right;
}

 #wrapper   i {
float:right;
}

   #page-content-wrapper {
       padding: 5px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }




}

header {
  width: 100%;
  height: 800px;
  background: url(http://www.nickrigby.com/wp-content/uploads/2016/09/designing-website-perth.png) no-repeat fixed;
  background-size: cover;
  background-position: left;
}

body {
  margin: 0px;
  padding: 0px;
}

section {
  width: 100%;
  height: 500px;
  background: url(https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2014/10/laptop-color-design.jpg) no-repeat;
  background-size: cover;
}

img {
  height: 100px;
  width: 100%;

}

.green {
  width: 100%;
  height: 500px;
  background-color: #0fb493;
}

.blue {
  width: 100%;
  height: 500px;
  background-color: #0f9fb4;
}
