body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-image: url(http://cdn.c.photoshelter.com/img-get/I00007i4heCFBC2E/s/860/860/Colors-of-Downtown-Austin-Texas-through-a-Fisheye-Lens.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  /*width: 100%;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  height: auto;
  width: 200px;
  text-align: left;
  /*width: 500px;*/
}

input {
  margin-bottom: 15px;
  color: transparent;
}

select {
  margin-bottom: 15px;
}

label {
  color: white;
}

a {
  color: white;
}

.back {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
