body {
  margin: 0 auto;
  width: 90%;
}
.navbar-nav {
    float: right;
    font-family: 'Codystar', cursive;
    font-size: 12px;
}
.logo:hover {
  color: #c058a7;
}

.navbar-default {
    background-color: white;
    border-color: white;
}
.logo-title {
  font-family: 'Petit Formal Script', cursive;
}

#project-1{
/*need to make background image
background-image: url(../img/berry.jpg);
background-repeat: no-repeat;
width: 100%;
height: 300px;
background-size: cover;
background-position: center;
*/
}

#project-1  .text {
position:relative;
visibility:hidden;
}

#project-1:hover .text {
visibility:visible;
}

#project-2 {
  /*need to make background image*/

}

#project-2  .text {
position:relative;
visibility:hidden;
}

#project-2:hover .text {
visibility:visible;
}
#project-3 {
  /*need to make background image*/

}

#project-3  .text {
position:relative;
visibility:hidden;
}

#project-3:hover .text {
visibility:visible;
}
#project-4 {
  /*need to make background image*/

}

#project-4  .text {
position:relative;
visibility:hidden;
}

#project-4:hover .text {
visibility:visible;
}
#project-5 {
  /*need to make background image*/

}

#project-5 .text {
position:relative;
visibility:hidden;
}

#project-5:hover .text {
visibility:visible;
}
#project-6 {
  /*need to make background image*/

}

#project-6 .text {
position:relative;
visibility:hidden;
}

#project-6:hover .text {
visibility:visible;
}
.button {
color: black;
}
.button:hover {
  text-decoration: none;
  color: #c058a7;
}


.img-circle {
    border-radius: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
h1 {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
}
h2 {
  font-family: 'Codystar', cursive;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;

}
h3 {
  font-family: 'Petit Formal Script', cursive;
  padding-bottom: 15px;
  font-size: 30px;
}
h4 {
  font-family: 'Petit Formal Script', cursive;
  text-align: center;

}
h5 {
  font-family: 'Codystar', cursive;
  font-size: 12px;
  text-align: center;
}
.text {
  font-family: 'Codystar', cursive;
  text-align: center;
}
.snip-it {
  height: 220px;
  width: 100%;
  border-radius: 15%;
}
.resume {
  margin-left: 5%;
  margin-top: 2%;
}
.resume-logo {
  height: 100px;
  width: 100%;
}
.resume-logo-aca {
  height: 130px;
}
.resume-logo-ecu {
  height: 130px;
}
.resume-logo-oe {
  height: 100px;

}
.resume-logo-msh {
  height: 120px;

}
.msh {
  padding-top: 50px;
}
.bullets {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 10px;
}


.references {
  padding-top: 8%;
}


.ref-profile {
  border-radius: 50%;
  height: 150px;
  width: 90%;
}
.ref-title {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding-bottom: 5%;

}
.ref-title:hover {
  color: #c058a7;
  text-decoration: none;
}
.ref-review {
  text-align: center;
  padding: 10%;
}
.review {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Codystar', cursive;
  padding-top: 3%;
  font-size: 10px;
}
.inquiry-head {
  padding-top: 8%;
  text-align: center;

}
.map {
  width: 100%;
}
label {
  font-family: 'Codystar', cursive;
}
.button-2 {
  border: 25%;

}
#q {
  margin-bottom: 6%;
}
input {
  border: none;
  border-bottom: 1px dotted;
  font-family: 'Codystar', cursive;

}
.contact-click {
  text-decoration: none;
  padding: 2%;
}
.contact-click:hover {
  text-decoration: none;
}
#quick-links {
  margin-top: 3%;
}
a {
  text-decoration: none;
}
