/*Nav section */

.main_article {
    border-bottom: solid 1px #ebebeb;
    padding-bottom: 2em;
}
.navbar-default .navbar-brand {
    color: black;
    font-size: 30px;
    font-family: 'Droid Serif', serif;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 16px;
}

/* .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
} */

.category_icon {
    border: solid;
}
.category_tag {
    text-decoration: none;
    color: #41455e;
    font-size: 20px;
}
a {
    text-decoration: none;
}
#my_navbar {
    background-color: white;
    border-top: 1px;
    color: #2b2b2b;
    margin-bottom: 0;
    margin-bottom: 2em;
    margin-top: 1.5em;
}
#main_page {
    background-image: url(../image/10.jpg);
    background-size: cover;
    height: 500px;
}
#main_page a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    border: solid;
    /* black transparent background  */
    background-color: rgba(0, 0, 0, 0.5);
}
#main_page h1 {
    padding-left: 20px;
}
#main_page p {
    padding-top: 350px;
    padding-left: 20px;
    font-size: 20px;
}
#main_page p a {
    background-color: #55b369;
}
#line-div {
    width: calc(83.3333333% - 15px);
    margin-left: calc(8.3333% + 15px);
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
}

/* Carousel*/

.multi-item-carousel {
    .carousel-inner {
        > .item {
            transition: 500ms ease-in-out left;
        }
        .active {
            &.left {
                left: -33%;
            }
            &.right {
                left: 33%;
            }
        }
        .next {
            left: 33%;
        }
        .prev {
            left: -33%;
        }
        @media all and (transform-3d), (-webkit-transform-3d) {
            > .item {
                // use your favourite prefixer here
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none!important;
            }
        }
    }
    .carouse-control {
        &.left, &.right {
            background-image: none;
        }
    }
}
.carousel {
    padding-bottom: 30px;
}
#carousel-line-1 {
    border-bottom: 1px solid #ebebeb;
    margin-top: 30px;
    margin-bottom: 30px;

}

#carousel-line-2 {
  border-bottom: 1px solid #ebebeb;
  margin-top: 40px;
}

.carousel h2 {
    padding-bottom: 10px;
    text-align: center;
}

/*One Half article*/

.onehalf_article {
    padding-top: 20px;
}
#onehalf_article {
    background-image: url(../image/1.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
}
#onehalf_article p {
    font-size: 20px;
    padding-top: 10px;
}
#onehalf_article p a {
    background-color: #55b369;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.onehalf_article_text {
    padding-left: 30px;
}
.onehalf_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.onehalf_article_text h2 a {
    text-decoration: none;
    color: black;
}
.onehalf_article_text p {
    line-height: 30px;
    text-align: justify;
}

/*Second article*/

.second_article {
    padding-top: 20px;
}
#second_article {
    background-image: url(../image/3.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
}
#second_article p {
    font-size: 20px;
    padding-top: 10px;
}
#second_article p a {
    background-color: #FFCC00;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.second_article_text {
    padding-left: 30px;
}
.second_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.second_article_text h2 a {
    text-decoration: none;
    color: black;
}
.second_article_text p {
    line-height: 30px;
    text-align: justify;
}

/*Third article*/

.third_article {
    padding-top: 20px;
}
#third_article {
    background-image: url(../image/6.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
}
#third_article p {
    font-size: 20px;
    padding-top: 10px;
}
#third_article p a {
    background-color: #c0272d;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
.third_article_text {
    padding-left: 30px;
}
.third_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.third_article_text h2 a {
    text-decoration: none;
    color: black;
}
.third_article_text p {
    line-height: 30px;
    text-align: justify;
}

/*Fourth article */

.fourth_article {
    padding-top: 20px;
}
#fourth_article {
    background-image: url(../image/8.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
}
#fourth_article p {
    font-size: 20px;
    padding-top: 10px;
}
#fourth_article p a {
    background-color: #6C473D;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.fourth_article_text {
    padding-left: 30px;
}
.fourth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.fourth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.fourth_article_text p {
    line-height: 30px;
    text-align: justify;
}

/*Fifth article  */

.fifth_article {
    padding-top: 20px;
}
#fifth_article {
    background-image: url(../image/9.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#fifth_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#fifth_article p a {
    background-color: #E96633;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.fifth_article_text {
    padding-left: 30px;
}
.fifth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.fifth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.fifth_article_text p {
    line-height: 30px;
    text-align: justify;
}
.main_article {
    width: calc(83.33333333% - 15px);
    margin-left: calc(8.3333% + 15px);
}

/*Sixth article  */

.sixth_article {
    padding-top: 20px;
}
#sixth_article {
    background-image: url(../image/12.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#sixth_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#sixth_article p a {
    background-color: #76C8CD;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.sixth_article_text {
    padding-left: 30px;
}
.sixth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.sixth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.sixth_article_text p {
    line-height: 30px;
    text-align: justify;
}
.main_article {
    width: calc(83.33333333% - 15px);
    margin-left: calc(8.3333% + 15px);
}

/*Seventh article  */

.seventh_article {
    padding-top: 20px;
}
#seventh_article {
    background-image: url(../image/13.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#seventh_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#seventh_article p a {
    background-color: #c0272d;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.seventh_article_text {
    padding-left: 30px;
}
.seventh_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.seventh_article_text h2 a {
    text-decoration: none;
    color: black;
}
.seventh_article_text p {
    line-height: 30px;
    text-align: justify;
}
.main_article {
    width: calc(83.33333333% - 15px);
    margin-left: calc(8.3333% + 15px);
}

/*Eightth article  */

.eightth_article {
    padding-top: 20px;
}
#eightth_article {
    background-image: url(../image/14.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#eightth_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#eightth_article p a {
    background-color: #76C8CD;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.eightth_article_text {
    padding-left: 30px;
}
.eightth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.eightth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.eightth_article_text p {
    line-height: 30px;
    text-align: justify;
}

/*Nineth article  */

.nineth_article {
    padding-top: 20px;
}
#nineth_article {
    background-image: url(../image/15.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#nineth_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#nineth_article p a {
    background-color: #FFCC00;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.nineth_article_text {
    padding-left: 30px;
}
.nineth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.nineth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.nineth_article_text p {
    line-height: 30px;
    text-align: justify;
}
.main_article {
    width: calc(83.33333333% - 15px);
    margin-left: calc(8.3333% + 15px);
}

/*Tenth article  */

.tenth_article {
    padding-top: 20px;
}
#tenth_article {
    background-image: url(../image/16.jpg);
    height: 300px;
    padding-right: 10px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}
#tenth_article p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
#tenth_article p a {
    background-color: #55b369;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
}
.tenth_article_text {
    padding-left: 30px;
}
.tenth_article_text h2 {
    padding-bottom: 5px;
    line-height: 45px;
}
.tenth_article_text h2 a {
    text-decoration: none;
    color: black;
}
.tenth_article_text p {
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 535px) {
  #main_page a {
      font-size: 20px;
  }

  #main_page p a {
    font-size: 17px;
  }
}
@media (min-width: 536px )and (max-width: 685px) {
    #main_page a {
        font-size: 25px;
    }

#main_page p a {
  font-size: 20px;
}

    #line-div {
        border-bottom: 1px solid #ebebeb;
        margin-top: 20px;
    }
    #carousel-line {
        width: calc(83.3333333% - 15px);
        margin-left: calc(8.3333% + 15px);
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    #my_navbar .collapse {
        display: none !important;
    }
    #my_navbar .navbar-toggle {
        display: block !important;
    }
    #carousel-line {
        width: calc(83.3333333% - 15px);
        margin-left: calc(8.3333% + 15px);
    }
}
