body{
  background-image:url("../img/paperBg.jpg");
  width:80%;
  margin:0 auto;
  font-family:courier;
}
.jumbotron{
  font-family: 'Tangerine', courier;
  background-color:#202020;
  color:white;
  border-radius:10px;
  height:150px;
}
.jumbotron h1{
  margin-top:-20px;
}
.jumbotron h2{
  font-size:2em;
}

main{
  width:90%;
  margin:0 auto;
  background-color:#ddd;
}

.skillsTitle{
  background: linear-gradient(to right, black, white, #101010, #FD0001 , #101010, white, black);
  border:2px solid #101010;
  color:white;
  text-shadow:2px 2px 2px black;
}
.prof{
  border-right:1px dashed black;
}

.prof h3, .prog h3{
  font-weight: bold;
}

.skillList p, .eduList p{
  font-size:18px;
}

.eduTitle{
    background: linear-gradient(to right, black, white, #101010, cyan , #101010, white, black);
    border:2px solid black;
    color:white;
    text-shadow:2px 2px 2px black;
}
.eduList p{
  font-size:22px
}


.expTitle{
  border:2px solid #101010;
  background: linear-gradient(to right, black, white, #101010, #7FFD00 , #101010, white, black);
  color:white;
  text-shadow:2px 2px 2px black;
}
.jobTitle{
  font-size:22px;
  font-weight: bold;
  padding-left:100px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top:15px;
}
.jobDeets{
  font-size:17px;
  width:50%;
  margin:0 auto;
}
.deetsDate{
  padding-right:200px;
}


/*  MQ TABLET   */

@media(min-width:420px) and (max-width:768px){

  .prof{
    /*margin-left:-500px;*/
  }

}





/*  MQ  PHONE   */
