*{
  font-family: 'Roboto', sans-serif;
}
body {
  height: 900px;
}

header{
  margin: auto;
  height: 140px;
}

.logo img{
  margin-top: 65px;
  margin-left: 65px;
  height: 32px;
}

.nav a{
  text-decoration:none;
  font-size: 15px;
  font-weight: 300;
}
.nav{
  margin-top: 60px;
  height:70px;
  /*background:white;*/
  position:relative;
  float: right;
}
.nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
.nav>ul>li{
  margin-left: 5px;
  float:left;
  position:relative;
}
.nav>ul>li>a{
  padding:0 20px;
  color: #5368EC;
  display:block;
  line-height:50px;
  text-transform:uppercase;
  text-decoration:none;
}
.n4 {
      position: absolute;
      bottom: 0px;
      left: -100px;
      z-index: 3;
      margin: 0;
      border: 0;
      /*width: 5px;*/
      height: 5px;
      padding: 0;
      overflow: hidden;
      background: #F7E44E;

     -webkit-transition-property: left, width;
     -moz-transition-property: left, width;
     -ms-transition-property: left, width;
     -o-transition-property: left, width;
     transition-property: left, width;

     -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
     -ms-transition-duration: .5s;
     -o-transition-duration: .5s;
     transition-duration: .5s;
  }
.nav>ul>li>a:hover {
  font-weight: 500;
}
  .n1:hover ~ li.n4 { left: 22px; width: 46px; }
   .n2:hover ~ li.n4 { left: 120px; width: 60px; }
   .n3:hover ~ li.n4 { left: 236px; width: 50px; }






#mystory {
  width: 85%;
  background-color:#5368EC;
  height: 730px;
  color: white;
  margin: auto;
}
.portrait {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 30px;
}





/*h2 {
  margin-top: 60px;
  margin-left: 110px;
  font-size: 28px;
  font-weight: 500;
}
h4 {
  margin-left: 110px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 10px;
}*/
p {
  width: 60%;
  margin-left: 160px;
  font-size: 14px;
  font-weight: 300;
  line-height: 180%;
  padding-bottom: 20px;
}
#mystory a {
  color: #F7E44E;
  text-decoration:none;
  font-weight: normal;
}
