.hero1 {
    background-image: url("https://images.unsplash.com/photo-1475115996703-5200b5adbc09?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #aaa7a7;
    height:700px;
    color:white;
    background-attachment: fixed;
}
.hero1 h3 {
    text-align: center;
    font-size: 23px;
    font-style: italic;
}
.me {
    background-image: url("../img/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    height: 500px;
  }
