body {
    font-family: 'Architects Daughter', cursive;
}
nav {
    margin-top: 10px;
    background-image: url("../img/nav-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: multiply;
    /*background-color: #6e6e6e;*/
    height: 200px;
    width: 100%;
    color: white;
}
.navbar-brand {
    padding: 25px 25px;
    font-size: 60px;
    line-height: 190px;
}
nav a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.star:hover {
    background-color: darkblue;
}

/*below follows code for "hero"*/

#hero {
    background-image: url("../img/globes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    height: 500px;
    color: white;
    margin-top: 210px;
}
#hero h1 {
    font-size: 100px;
    text-align: center;
    padding: 50px;
    line-height: 125px;
}
#hero p {
    font-size: 75px;
    text-align: center;
    padding: 20px;
}

/*below follows code for "about"*/

#about {
    margin-top: 5px;
    height: 600px;
    background-image: url("../img/beach-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: blue;
}
.beach img {
    height: 400px;
    padding-top: 50px;
    margin-left: 50px;
}
.bliss {
    height: 400px;
    padding-right: 20px;
    color: white;
}
.bliss h3 {
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bliss p {
    font-size: 40px;
}

/*below follows code for "criteria"*/

#criteria {
    background-image: url("../img/beach-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    margin-top: 5px;
    height: 600px;
    text-align: center;
}
.criteriabox {
    height: 425px;
    margin: 30px;
    color: white;
}
.criteriabox h3 {
    font-size: 30px;
}
.criteriabox img {
    height: 200px;
    width: 70%;
}
.criteriabox p {
    font-size: 23px;
}

/*End criteria css*/


/*begin places css*/

#places {
    background-image: url("../img/beach-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    height: 1000px;
    margin-top: 5px;
    background-color: red;
}
ul li {
    font-size: 20px;
    color: white;
    text-align: center;
    list-style-type: star;
}
.click a {
    padding: 20px 5px 10px 5px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
}
.click a:hover {
    background-color: darkblue;
    text-decoration: none;
}
.archive {
    font-size: 25px;
    height: 50px;
}
.archive a:hover {
    background-color: darkblue;
    text-decoration: none;
}
.placesbox1 {
    height: 425px;
    width: 95%;
    text-align: center;
    /*margin-left: 200px;*/
    margin-top: 50px;
}
.placesbox2 {
    height: 425px;
    width: 95%;
    text-align: center;
    margin-right: 200px;
    margin-top: 50px;
}
.placesbox3 {
    height: 425px;
    width: 95%;
    margin-right: 200px;
    margin-top: 50px;
}
.placesbox1 img {
    height: 350px;
    width: 90%;
}
.placesbox2 img {
    height: 350px;
    width: 90%;
}
.placesbox1 h3 {
    font-size: 40px;
    text-align: center;
    color: white;
}
.placesbox2 h3 {
    font-size: 40px;
    text-align: center;
    color: white;
}
.placesbox1 p {
    font-size: 30px;
    color: white;
    padding: 20px 20px 20px 20px;
}
.placesbox2 p {
    font-size: 30px;
    color: white;
    padding: 20px 20px 20px 20px;
}
.placesbox3 h3 {
    font-size: 35px;
    color: white;
}
.placesbox3 li {
    font-size: 30px;
    color: white;
    text-align: left;
    /*line-height: 50px;*/
}
.archive a {
    text-decoration: none;
    color: white;
}

/*end places css*/


/*begin contact css*/

#contact {
    margin-top: 5px;
    height: 500px;
    background-image: url("../img/beach-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    color: white;
}
.contactbox1 {
    font-size: 30px;
    margin: 50px;
    color: white;
    height: 500px;
    width: 75%;
}
.contactbox1 li {
    text-align: left;
}
.social {
    width: 100%;
    /*margin-top: 30px;
    margin-left: 130px;*/
    font-size: 30px;
}
.social a {
    padding-top: 200px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.social li {
    display: inline;
    padding: 30px;
    text-align: center;
}
.contact {
    width: 50%;
    margin-top: 30px;
    font-size: 30px;
}
#submit_button {
    background-color: darkblue;
}

/*Below is the media query for iphone*/

@media (max-width: 767px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar {
        color: darkblue;
        height: 20px;
    }
    .navbar-brand {
        padding: 25px 25px;
        font-size: 10px;
    }
    nav a {
        font-size: 10px;
        color: darkblue;
        text-decoration: none;
    }
    .star:hover {
        background-color: darkblue;
    }
    /*below is for hero iphone:*/
    #hero {
        margin: 0;
    }
    #hero h1 {
        font-size: 30px;
        /*text-align: center;*/
        text-align: left;
        margin: 0;
        padding-left: 15px;
        border: 0;
    }
    #hero p {
        font-size: 30px;
        text-align: left;
    }
    #about {
        height: 100%;
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: blue;
    }
    .beach img {
        margin: 0;
    }
    .bliss {
        /*height: 400px;
        padding-right: 20px;*/
        color: white;
    }
    .bliss h3 {
        font-size: 30px;
        text-align: left;
        padding-left: 15px;
    }
    .bliss p {
        font-size: 20px;
        padding-left: 15px;
    }
    /*below is criteria css*/
    #criteria {
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        height: 125%;
        text-align: center;
    }
    .criteriabox {
        height: 100%;
        /*height: 425px;
        margin: 30px;*/
        color: white;
    }
    .criteriabox h3 {
        font-size: 20px;
    }
    .criteriabox img {
        /*height: 200px;*/
        width: 70%;
    }
    .criteriabox p {
        font-size: 15px;
    }
    /*below is places css*/
    #places {
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        height: 100%;
        background-color: red;
    }
    /*ul li {
        font-size: 20px;
        color: white;
        text-align: center;
        list-style-type: star;
    }*/
    .click a {
        padding: 10px 5px 10px 5px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        background-color: red;
        border-radius: 5px;
    }
    .click a:hover {
        background-color: darkblue;
        text-decoration: none;
    }
    .archive {
        font-size: 15px;
        /*height: 20px;*/
    }
    .archive a:hover {
        background-color: darkblue;
        text-decoration: none;
    }
    .placesbox1 {
        height: 100%;
        width: 100%;
        text-align: center;
        /*margin-left: 200px;*/
        /*margin-top: 50px;*/
    }
    .placesbox2 {
        height: 100%;
        width: 95%;
        text-align: center;
        /*margin-right: 200px;
        margin-top: 50px;*/
    }
    .placesbox3 {
        height: 120%;
        width: 95%;
        margin-bottom: 50px;
        /*margin-right: 200px;
        margin-top: 50px;*/
    }
    .placesbox1 img {
        height: 100%;
        width: 90%;
    }
    .placesbox2 img {
        height: 100%;
        width: 90%;
    }
    .placesbox1 h3 {
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .placesbox2 h3 {
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .placesbox1 p {
        font-size: 20px;
        color: white;
        /*padding: 20px 20px 20px 20px;*/
    }
    .placesbox2 p {
        font-size: 20px;
        color: white;
        /*padding: 20px 20px 20px 20px;*/
    }
    .placesbox3 h3 {
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .placesbox3 .archive {
        font-size: 15px;
        text-align: center;
    }
    .archive a {
        text-decoration: none;
        color: white;
    }
    /*begin contact section*/
    #contact {
        height: 100%;
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
    }
    .contactbox1 {
        color: white;
        height: 100%;
        width: 80%;
    }
    .contactbox1 li {
        text-align: left;
    }
    .social {
        width: 100%;
        /*margin-top: 30px;
        margin-left: 130px;*/
        font-size: 30px;
    }
    .social a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    .social li {
        margin: 0;
        display: inline;
        text-align: left;
    }
    .contactbox2 {
        margin-left: 20px;
        font-size: 20px;
        color: white;
    }
    #submit_button {
        background-color: darkblue;
        padding: 10px 10px 10px 10px;
    }
}

/*Below is the media query for ipad*/

@media
/*(max-width: 991px) and */

(min-width: 768px) and (max-width: 991px) {
    body {
        margin-right: 10px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar {
        color: white;
    }
    .navbar-brand {
        padding: 25px 25px;
        font-size: 10px;
    }
    nav {
        height: 20px;
        width: 95%;
        color: white;
        padding-right: 15px;
    }
    nav a {
        font-size: 15px;
        color: white;
        text-decoration: none;
    }
    .star:hover {
        background-color: darkblue;
    }
    /*below is for hero ipad:*/
    #hero {
        margin: 0;
    }
    #hero h1 {
        font-size: 30px;
        /*text-align: center;*/
        text-align: left;
        margin: 0;
        padding-left: 15px;
        border: 0;
    }
    #hero p {
        font-size: 30px;
        text-align: left;
    }
    #about {
        height: 100%;
        text-align: center;
    }
    .beach img {
        width: 70% margin: 0;
    }
    .bliss {
        color: white;
    }
    .bliss h3 {
        font-size: 30px;
        text-align: center;
        padding-left: 15px;
    }
    .bliss p {
        font-size: 25px;
        padding-left: 15px;
        text-align: left;
    }
    /*below is criteria css ipad*/
    #criteria {
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        height: 125%;
        text-align: center;
    }
    .criteriabox {
        height: 100%;
        color: white;
    }
    .criteriabox h3 {
        font-size: 20px;
    }
    .criteriabox img {
        width: 50%;
    }
    .criteriabox p {
        font-size: 15px;
    }
    /*below is places css for ipad*/
    #places {
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        height: 150%;
        background-color: red;
    }
    .click a {
        padding: 10px 5px 10px 5px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        background-color: red;
        border-radius: 5px;
    }
    .click a:hover {
        background-color: darkblue;
        text-decoration: none;
    }
    .archive {
        font-size: 10px;
        /*height: 20px;*/
    }
    .archive a:hover {
        background-color: darkblue;
        text-decoration: none;
    }
    .placesbox1 {
        height: 100%;
        width: 95%;
        text-align: center;
    }
    .placesbox2 {
        height: 100%;
        width: 95%;
        text-align: center;
    }
    .placesbox3 {
        height: 100%;
        width: 95%;
    }
    .placesbox1 img {
        height: 100%;
        width: 90%;
    }
    .placesbox2 img {
        height: 100%;
        width: 90%;
    }
    .placesbox1 h3 {
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .placesbox2 h3 {
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .placesbox1 p {
        font-size: 20px;
        color: white;
        /*padding: 20px 20px 20px 20px;*/
    }
    .placesbox2 p {
        font-size: 20px;
        color: white;
        /*padding: 20px 20px 20px 20px;*/
    }
    .placesbox3 h3 {
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .placesbox3 .archive {
        font-size: 15px;
        text-align: center;
    }
    .archive a {
        text-decoration: none;
        color: white;
    }
    /*begin contact section for ipad*/
    #contact {
        height: 100%;
        background-image: url("../img/beach-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        margin-top: 0px;
    }
    .contactbox1 {
        color: white;
        height: 100%;
        width: 80%;
    }
    .contactbox1 li {
        text-align: left;
    }
    .social {
        width: 100%;
        /*margin-top: 30px;
        margin-left: 130px;*/
        font-size: 30px;
    }
    .social a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    .social li {
        margin: 0;
        display: inline;
        text-align: left;
    }
    .contactbox2 {
        margin-left: 20px;
        font-size: 20px;
        color: white;
    }
    #submit_button {
        background-color: darkblue;
        padding: 10px 10px 10px 10px;
    }
}
