body, html{
  margin: 0;
  padding: 0;
  font-family: 'Share Tech', sans-serif;
}
/*video{
  position: fixed;
  margin-top: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 460px;
  width: auto;
  z-index: 1;
}*/
#hero{
  background-image: url("../img/photocity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 68px;
  text-shadow: 3px 3px black
  color: #fff;
  height: 1000px;
}
h1 {
    color: white;
      font-size: 68px;
      font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}
h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.text{
  z-index: 2;
  position: relative;
  text-align: center;
  height: 200px;
  width: 100%;
  margin-top: 400px;
}
#about{
  background-color: #fff
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 80%;
  position: relative;
  font-size:48px;
  padding: 20px;
}
#about img{
  border-radius: 50px;
  width: 80%;
  height: 450px;
  box-shadow: 2px 2px grey;
}
#about h1{
  text-align: center;
  margin-bottom: 50px;
}
nav{
  margin-bottom: 0px;
  opacity: 0.4;
}
footer{
  text-align:center;
}
footer a{
  text-decoration: none;
  color: #0E1717;
  padding: 10px;
}
footer a:hover{
  color: green;
}
footer p{
  font-weight: 600;
  padding: 20px;
}
@media (max-width: 760px){
  /*video{
    width: 100%;
    height: 200px;
    margin-top: -200px;
  }*/
#hero{
  height: 400px;
  font-size: 48px;
}
.text{
  height: 100px;
  width: 100%;
  margin-top: 50px;
}
}
