body {
    font-family: 'Open Sans', sans-serif;
    color: #2e2e2e;
}
.navbar-inverse {
  background-color: rgb(20, 37, 79)!important;
}
.navbar {
  border: none !important;
}
h1, h2, h3, h4, h5, h6, span {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 100px;
    color: #ce3100;
}
h2 {
    font-size: 27px;
    font-family: serif;
}
h3 {
      color: #313131;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}
.header-img {
      background-image: url('https://images.unsplash.com/19/desktop.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
      height: 100vh;
      background-color: #14254f;
      background-blend-mode: soft-light;
}
.parallax-window {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hello-text {
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
#hello-text h1 {
    padding-top: 0px;
    color: #fff;
}
#hello-text p {
    margin-top: 50px;
}
.button {
    padding: 14px 35px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 100px;
}
.button:hover {
    color: #000;
    background-color: #fff;
}
#showcase, #showcase ul {
    position: relative;
}
#showcase {
    float: left;
    overflow: hidden;
    margin-top: -250px;
    margin-bottom: 50px;
    width: 100%;
    height: 340px;
    z-index: 2;
}
#showcase ul li {
    position: absolute;
    width: 478px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .22);
    transition: margin .3s;
}
#showcase ul li img {
    max-width: 100%;
    border-radius: 3px;
}
#showcase ul li:first-child {
    top: 0;
    left: -12%;
    z-index: 7;
}
#showcase ul li:nth-child(2) {
    top: 30px;
    left: 20%;
    z-index: 5;
}
#showcase ul li:nth-child(3) {
    top: 30px;
    right: 20%;
    z-index: 5;
}
#showcase ul li:nth-child(4) {
    top: 0;
    right: -12%;
    z-index: 7;
}
#showcase ul li:hover {
    z-index: 8;
}
#showcase ul li:first-child:hover {
    margin: 0 0 0 40px;
}
#showcase ul li:nth-child(2):hover {
    margin: -20px 0 0 0;
}
#showcase ul li:nth-child(3):hover {
    margin: -20px 0 0 0;
}
#showcase ul li:nth-child(4):hover {
    margin: 0 40px 0 0;
}
#about, #work {
  background-color: #f5f5f5;
  color: #868695;
  padding: 50px 0;
}
#about h1 {
  color: #ce3100;
}
#portfolio article {
  padding: 50px 0;
}
.img-source {
  height: 480px;
  position: relative;
}
.browser {
    width: 100%;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 4px 4px 0 0;
    background: #ddd no-repeat 6px 5px;
}
#port-one {
  background-color: #eaeaea;
}
#port-one .img-source {
    background-image:url('../img/bootstrap.png');
    background-size: cover;
}
#port-two {
  background-color: #252632;
  color: #fff;
}
#port-two .img-source {
    background-image:url('../img/bootstrap2.png');
    background-size: cover;
}
#port-three {
  background-color: #aa8862;
  color: #fff;
}
#port-three .img-source {
    background-image:url('../img/mshcheckpt2.png');
    background-size: cover;
}
#port-four {
  background-color: #013d5f;
  color: #fff;
}
#port-four .img-source {
    background-image:url('../img/wineryuva.png');
    background-size: cover;
}
footer, #based h3 {
  color: #fff;
}
.footer-img {
  background-image:url('http://blog.davidweekleyhomes.com/wp-content/uploads/2014/03/austin-skyline.jpg');
  background-color: #2e2e2e;
  background-blend-mode: soft-light;
  height: 50vh;
}
