html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
.owl-carousel {
  margin-top: 20px;
}

.item {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.item1 {
  background-image: url(http://s3.amazonaws.com/cratejoy_vendor_images/1efc00cfc06d422ead82435fe86addd3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h4 {
  text-align: center;
  font-size: 2rem;
  line-height: 200px;
  color: #fff;
  margin-top: 0;
}



.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}


.navbar {
  background-color: transparent;
}

.home {
  /*border: 1px solid red;*/
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  text-align: center;
  animation-name: colorchange;
  animation-duration: 15s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  font-size: 28px;
}

@keyframes colorchange {
    0%  {color: black;}
    50%  {
      color: #808000;
      transition: transform 15s ease-in;
      transform: rotate(10deg) translate(100px);
    }
    70%  {color: black;}
    100% {color: #ccc000;}
}

.aboutme {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccc00;
}

.aboutme h1 {
  text-align: center;
  color: #ffffff;
  margin: 5%;
  max-width: 810px;
}

.designs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7vh;
}

.designs a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5%;
}

img {
  width: 200px;
  height: 175px;
}

footer {
   left:0px;
   bottom:0px;
   height:7vh;
   width:100%;
   background-color: transparent;
   /*border: 1px solid lightGray;*/
}

footer a {
  Color: gray;
  margin: 5%;
  font-size: 24px;

}

@media screen and (min-width: 320px) {
  .page::before {
    content: "320px";
    position: absolute;
    color: green;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }
}

@media screen and (min-width: 480px) {
  .page::before {
    content: "480px";
    position: absolute;
    color: green;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }

  img {
    width: 300px;
    height: 260px;
  }
}

@media screen and (min-width: 620px) {
  .page::before {
    content: "620px";
    position: absolute;
    color: green;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }

}

@media screen and (min-width: 810px) {
  .page::before {
    content: "810px";
    position: absolute;
    color: green;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }

  .home h1 {
    font-size: 48px;
  }

  .designs {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: none;
  }

}

@media screen and (min-width: 1400px) {
  .page::before {
    content: "1400px";
    position: absolute;
    color: green;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }
}
