body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/frames.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #aaa7a7;
      background-attachment: fixed;
      color: white;
}
nav a{
  font-family: 'Raleway', sans-serif;
  color: white;
}
nav a:hover{
  color: black;
}
.navbar-brand:hover{
  color: #5bc0de;
}
#hero {
  height: 700px;
  color: white;
}
#hero h3{
  padding-top: 200px;
  font-size: 40px;
  line-height: 2;
}
/*.parallax-window {
    min-height: 400px;
    background: transparent;
}*/
#about{
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
}
#about img{
  width: 50%;
margin: auto;
padding-bottom: 30px;
}
.about-text p{
  padding-top: 50px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
#work{
  margin-top: 80px;
}
.skills{
  padding-top:30px;
}
#work h2{
  padding-bottom: 30px;
}
.winery {
  background-image: url("../img/winery.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  /*transition: .5s;*/
}
.winery:hover, .retail:hover, .restaurant:hover, .business:hover{
  background-blend-mode: multiply;
  background-color: #202020;
  /*transition: .5s;*/
}
.work-button a{
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
}
.work-button{
  display:none;
}
.winery:hover .work-button{
  display:block;
}
.work-button:hover a{
  color: #5bc0de;
  border: 1px solid #5bc0de;
}
.work-button{
  padding-top: 80px;
}
.retail:hover .work-button{
  display:block;
}
.restaurant:hover .work-button{
  display:block;
}
.business:hover .work-button{
  display:block;
}
.retail {
  background-image: url("../img/retail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}
.restaurant {
  background-image: url("../img/restaurant.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}
.business {
  background-image: url("../img/math.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

#contact{
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}
#contact h2{
  padding-bottom: 30px;
}
.submission{
  background-color: white;
  color: black;
}
.submission:hover{
  background-color: #5bc0de;
}
label{
  font-family: 'Raleway', sans-serif;
}
.links{
  padding-top: 50px;
}
.links a{
  font-size: 50px;
  color: white;
}
.links a:hover{
  color: #5bc0de;
}
.git{
  padding: 0px 30px 0px;
}
.map{
  height: 300px;
}

/*
MEDIA*/
/*#hero{
  background-attachment: local;
}*/
