body {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e;
}
h1, h2, h3, h4, h5, h6, span {
  font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 45px;
}
h2 {
  font-size: 40px;
}
h3 {
	font-size: 20px;
	line-height: 15.4px;
}
p {
	font-size: 20px;
	line-height: 22px;
}
.button {
  border: 2px solid #fff;
  padding: 5px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
#heroImg {
  background-image: url('https://images.unsplash.com/19/desktop.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  color: #fff;
  margin-top: 50px;

}
#about {
  background-color: #4a4a4a;
  opacity: 0.8;
  padding: 25px;
  text-align: center;
  color: #fff;
  height: 500px;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 500px;
}

#htOne {
  background-image: url('https://images.unsplash.com/photo-1469719847081-4757697d117a?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80');
}
#htTwo {
  background-image: url('https://images.unsplash.com/photo-1440033203376-20d7503203f1?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=2000&q=80');
}
#htThree {
  background-image: url('https://images.unsplash.com/photo-1440617711314-de01e4cddec6?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
}
#htFour {
  background-image: url('https://images.unsplash.com/photo-1453161535619-303d362ea39f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
}
#philosophy {
  background-color: #1a1a1a;
  text-align: center;
  margin: 0 0;
  padding: 3em 0 5em 0;
  color: #f2f2f2;
}
#philosophy h1 {
  font-size: 90px;
}
#philosophy p {
  margin: 0 auto;
  font-size: 40px;
  line-height: 1.2em;


}
footer {
  padding: 10px 0 20px 0;
  text-align:center;
  border-top: 1px solid #ccc;
  height: 80px;
}
