body {
    color: #212127;
    font-family: "Open Sans", sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

.no-pad {
    padding: 0;
}


/*NAV*/

.navbar-custom {
    margin-bottom: 0;
    background-color: #cee7eb;
}

.nav {
    margin: 20px 0;
}

.navbar-default {
    border-bottom: none;
}

.navbar-collapse {
    border: none;
}

.navbar-header button {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #212127;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    width: 50px;
    height: 3px;
}

.navbar-default .navbar-nav>li>a {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #212127;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff8c77;
}


/*HOME*/

#home {
    height: 550px;
    background-color: #cee7eb;
}

.home-title-pad {
    padding-top: 20px;
}

.home-title img {
    position: relative;
    z-index: 1;
    left: 18%;
    height: 400px;
}

#home p {
    position: relative;
    z-index: 2;
    left: 43%;
    width: 50%;
    margin-top: -68px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: lighter;
}

.box {
    position: relative;
    top: 30%;
    left: 37%;
    width: 25%;
    height: 400px;
    border: 20px solid #cee7eb;
}

.box2 {
    position: relative;
    top: 16%;
    left: 37%;
    width: 22%;
    height: 350px;
    border: 20px solid #ff8c77;
}


/*ABOUT*/

#about {
    height: 560px;
    padding: 60px;
    text-align: center;
    background-color: #212127;
}

.about-me, .about-img {
    height: 440px;
    background-color: #fff;
}

.about-me img {
    height: 130px;
    margin-top: 15px;
}

.about-me p, #portfolio p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: lighter;
    line-height: 2;
}

.about-me p:first-of-type {
    margin-top: 15px;
}

.about-me a {
    letter-spacing: 3px;
    color: #212127;
    font-family: "Open Sans", sans-serif;
}

.fa-custom {
    padding-right: 5px;
    color: #ff8c77;
    font-size: 20px;
}

.about-me a:hover {
    text-decoration: none;
    border-bottom: 2px solid #ff8c77;
}


/*PORTFOLIO*/

#portfolio {
    height: 858px;
    padding: 30px;
    text-align: center;
}

#portfolio>img {
    margin-bottom: 40px;
}

.swipe {
    height: 450px;
}

.swipe img {
    height: 100%;
}

.lesson16-img img {
    height: 77%;
    margin-top: 45px;
}

.lesson9-img img {
    height: 46%;
}

.portfolio-text {
    margin: 70px 0 30px;
}

.swipe-link {
    height: 50px;
    padding: 7px 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff8c77;
    font-size: 12px;
}

.swipe-link:hover {
    color: #212127;
    text-decoration: none;
}

.carousel {
    background-color: #cee7eb;
    padding: 50px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #ff8c77;
}

.carousel-indicators .active {
    background-color: #ff8c77;
}

.carousel-indicators li {
    border: 1px solid #ff8c77;
}


/*RESUME*/

#resume {
    height: 1686px;
    padding: 60px;
    background-color: #212127;
}

.resume-content {
    background-color: #fff;
}

.resume-title {
    position: relative;
    left: 31%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.resume-row {
    margin-bottom: 35px;
}

.resume-content aside {
    margin-top: 20px;
    margin-bottom: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 15px;
}

.resume-content h3 {
    display: block;
    margin-top: 0;
    padding: 15px 0;
    font-size: 25px;
}

.resume-content p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.5;
}

.resume-content aside, .resume-content p {
    color: #262626;
    font-weight: lighter;
}

.map-info {
    padding-top: 100px;
    text-align: center;
}


/*CONTACT*/

#contact {
    height: 600px;
    background-color: #cee7eb;
}

#contact img {
    position: relative;
    left: 25%;
    padding-top: 30px;
}

.contact-space {
    padding: 90px 0;
}

#contact form input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    text-transform: uppercase;
    border-radius: 0;
}

#contact form textarea {
    height: 90px;
    padding: 15px;
    resize: none;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
}

#contact form input, #contact form textarea {
    width: 100%;
    margin-bottom: 20px;
    letter-spacing: 5px;
    border: none;
    outline: none;
    font-size: 12px;
}

.btn {
    width: 100%;
    height: 50px;
    padding: 7px 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background-color: #ff8c77;
    font-size: 12px;
}


/*FOOTER*/

footer {
    padding: 50px;
    text-align: center;
    background-color: #212127;
}

footer p {
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    line-height: 40px;
}


/*PHONE*/

@media screen and (max-width: 768px) {
    #home {
        height: 250px;
    }
    .home-title img {
        left: 5%;
        height: 160px;
    }
    #home p {
        margin-top: -25px;
        font-size: 15px;
    }
    .home-img {
        height: 400px;
        background-image: url("../img/home-img.jpeg");
        background-position: center;
        background-size: cover;
    }
    .box {
        top: 20%;
        left: 25%;
        width: 50%;
        height: 250px;
        border: 15px solid #cee7eb;
    }
    #about {
        height: 735px;
        padding: 30px;
    }
    .about-img {
        height: 236px;
    }
    .about-me img {
        height: 75px;
        margin-top: 15px;
    }
    .about-me p {
        line-height: 1.5;
    }
    #portfolio {
        height: 890px;
    }
    #portfolio>img {
        margin-bottom: 40px;
        height: 120px;
    }
    #portfolio p {
        width: 100%;
        font-size: 13px;
        line-height: 1.5;
    }
    .swipe {
        height: 300px;
    }
    .portfolio-text {
        margin: 0;
    }
    .carousel {
        padding: 25px;
    }
    .port-img {
        height: 400px;
        background-image: url("../img/portfolio-img.jpeg");
        background-position: center;
        background-size: cover;
    }
    .box2 {
        top: 20%;
        left: 25%;
        width: 50%;
        height: 250px;
        border: 15px solid #ff8c77;
    }
    #resume {
        height: 2311px;
        padding: 30px;
    }
    .resume-title {
        left: 0;
        height: 177px;
        padding-bottom: 0;
    }
    .resume-content h3 {
        padding-top: 0;
    }
    .map-info {
        padding-top: 0;
    }
    .map-img {
        width: 250px;
        height: 250px;
        margin-left: 6px;
    }
    #contact img {
        left: 0;
        height: 112px;
        margin: 40px 18px;
        padding: 0;
    }
    .contact-space {
        padding: 0;
    }
}


/*TABLET*/

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
    }
    #home {
        height: 350px;
    }
    .home-title img {
        height: 290px;
    }
    #home p {
        left: 47%;
        margin-top: -45px;
        font-size: 25px;
    }
    .box {
        top: 17%;
        left: 34%;
        width: 33%;
        height: 280px;
    }
    .about-me, .about-img {
        height: 337px;
    }
    #portfolio{
        height: 977px;
    }
    #portfolio>img {
        height: 208px;
    }
    .swipe {
        width: 86%;
    }
    .lesson9-img img{
        height: 51%;
    }
    .box2 {
        top: 17%;
        left: 34%;
        width: 33%;
        height: 280px;
    }
    #resume {
        overflow: hidden;
        height: 2008px;
    }
    .resume-title {
        left: 22%;
        height: 200px;
        margin-bottom: 30px;
    }
    .resume-content aside, .resume-content p, .resume-content h3 {
        width: 95%;
    }
    .map-img {
        width: 300px;
        height: 300px;
        margin-left: 165px;
    }
    #contact {
        height: 650px;
    }
    #contact img {
        height: 165px;
        margin: 40px 106px;
    }
    footer p {
        font-size: 13px;
    }
}


/*LAPTOP*/

@media (min-width: 992px) {
    .parallax-window {
        min-height: 100px;
        background: transparent;
    }
    .parallax-container {
        height: 900px;
    }
    .parallax-container-portfolio {
        height: 500px;
    }
}
