/*ALL ELEMENTS*/
h1, h4{
  font-family: 'Lobster', cursive;
}
a, p, i, {
  font-family: 'Tinos', serif;
}

  /*SECTION 1*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}
#hero {
  background-image: url("../img/2-15b.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
    margin: auto;
  background-attachment: fixed;
  padding-top: 5%;
}
.textbox {
    margin-top: -19%;
}
#hero h1 {
  color: white;
  font-size: 60px;
}
#hero h2 {
  color: white;
  font-size: 50px;
}

/*END SECTION 1*/
/*SECTION 2*/
#whyme {
  background-color: #e6e6e6;
  border-bottom: 1px solid #6e6e6e;
}
#whyme h3 {
  font-size: 30px;
      padding-top: 2%;
}
.whytobuild p{
  font-size: 20px;
  padding: 5% 2% 5% 2%;
}
/*SECTION 3*/
#about {
  background-color: #e6e6e6;
  border-bottom: 1px solid #6e6e6e;
}
.aboutme h4 {
  font-size: 30px;
  padding-left: 35%;
  padding-top: 3%;
}
.awards h4 {
  font-size: 30px;
  padding-left: 35%;
  padding-top: 3%;
}
#about p{
padding: 5% 2% 5% 10%;
  font-size: 20px;
}
#about ul {
  font-size: 20px;
  padding: 5% 2% 5% 0%;
  list-style-type: none;
  margin-left: 26%;
}
.aboutme, .awards {
  padding-bottom: 3%;
}
.resume a {
  font-size: 32px;
    color: black;
    text-decoration: none;
    padding: 1%;
    margin-left: 44%;
    border: 1px solid black;

}
.resume a:hover{
  background-color: rgba(110, 110, 110, .9);
  color: white;
}
.emailtitle, .name, .email {
  padding-bottom: 2%;
}
.email, .map {
  padding-top: 3%;
}
.map h3 {
  padding-bottom: 2%;
}
/*SECTION 4*/
#projects h4 {
  font-size: 50px;
  padding: 2% 0% 5% 0%;
}
#projects p{
  font-size: 20px;
padding: 1% 2% 5% 5%;
}
.rita img{
  width: 100%;
  height: 300px;
}
.intro img{
  width: 100%;
  height: 300px;
}
/*SECTION 5*/
#process {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#process h4 {
  font-size: 50px;
  padding-top: 3%;}
#process i {
  padding: 3%;
}
/*SECTION 6*/
#myCarousel {
  margin-top: 5%;
  margin-bottom: 5%;
}
#myCarousel h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #6e6e6e;
}
/*SECTION 7*/
#findme {
  border-top: 1px solid #e6e6e6;

}
#findme h4 {
  font-size: 50px;
  padding-top: 3%;}
#findme i {
  padding: 3%;
  color: #6e6e6e;
}
/*IPAD AND TABLET ONLY*/
@media (min-width: 768px) and (max-width: 991px) {
  /*SECTION 2*/
  .whytobuild p{
    padding: 2% 2% 2% 2%;
  }
  /*SECTION 3*/
  #about p{
  padding: 5% 5% 0% 5%
  }
  #about ul {
    font-size: 20px;
    padding: 3% 2% 7% 0%;
    list-style-type: none;
    margin-left: 26%;
  }
  .resume a {
      margin-left: 34%;
  }
.map iframe {
  margin-bottom: 5%;
}
/*SECTION 4*/
.rita img{
  height: 220px;
}
.intro img{
  height: 220px;
}
/*SECTION 5*/
#process i {
  padding: 1%;
}
}
/*PHONE ONLY*/
@media (max-width: 767px) {
  .textbox {
      margin-top: -44%;
  }
  #hero h1 {
    font-size: 34px;
  }
  #hero h2 {
    font-size: 30px;
  }
/*SECTION 2*/
#whyme h3 {
  font-size: 25px;
      padding-top: 10%;
}
.whytobuild p{
  font-size: 16px;
  padding: 3% 5% 5% 2%;
}
/*SECTION 3*/
.aboutme h4 {
  font-size: 28px;
  padding-top: 10%;
}
#about p{
  padding: 5% 5% 0% 6%;
  font-size: 16px;
    }
.awards h4 {
  font-size: 28px;
  padding-left: 24%;
  padding-top: 0%;
}
#about ul {
  font-size: 16px;
  margin-left: 7%;
}
.aboutme, .awards {
  padding-bottom: 3%;
}
.resume a {
  font-size: 25px;
  margin-left: 17%;
}
.map iframe {
  margin-bottom: 5%;
}
/*SECTION 4*/
#projects h4 {
  font-size: 40px;
}
#projects p{
  font-size: 15px;
padding: 1% 2% 5% 5%;
}
.rita img{
  height: 180px;
}
.intro img{
  height: 180px;
}
/*SECTION 5 HIDDEN*/
/*SECTION 6 HIDDEN*/
/*SECTION 7*/
#findme h4 {
  font-size: 40px;
  padding-top: 4%;}
#findme i {
  padding: 5%;
}

}
