
    .nav {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.hero {
    background-image: url("../img/server-farm.jpg");
    width: 100% auto;
    height: 630px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    margin: auto;
    background-attachment: fixed;
}
.textbox {
    text-align: center;
    margin: 0 auto;
    padding-top: 160px;
}
.textbox p {
    padding-bottom: 20px;
    /*font-weight: lighter;*/
    color: white;
    font-size: 20px;
    padding-top: 10px;
}
.textbox h1 {
    font-size: 80px;
    font-weight: lighter;
    color: white;
    padding-top: 100px;
}
.textbox p {
    font-weight: lighter;
    color: white;
}

/*second area*/

.second {
    height: 500px;
    background-color: #eeeeee;
}
.left {
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 70px;
    padding-top: 60px;
}
.left img {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}
.left a {
    padding-top: -10px;
}
section h3 {
    padding-top: 20px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.center {
    width: 25%;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    margin-left: 120px;
    padding-top: 60px;
}
.center img {
    width: 300px;
    height: 300px;
    border-radius: 500px;
}
.right {
    width: 25%;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    margin-left: 120px;
    padding-top: 60px;
}
.right img {
    width: 300px;
    height: 300px;
    border-radius: 800px;
}

/*photo  slideshow*/


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 150px;
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/*third area*/

.mywork {
    margin-top: 150px;
}
.mywork h4 {
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #bc9665;
}
.mywork p {
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 15px;

}
.first {
    margin-top: 50px;
}
h2 {
    float: left;
    margin-top: -15px;
    font-weight: lighter;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}
.one {
    margin-left: 370px;
    margin-bottom: -100px;
    background-color: white;
    height: 610px;
    width: 50%;
    background-size: cover;
}
.work {
    background-image: url("../img/aviato.png");
    width: 100% auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.work:hover {
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    size: 100%;
}
.one h2 {
    opacity: 0;
    margin-left: 300px;
    margin-top: 150px;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}
.one:hover h2 {
    opacity: 1;
    color: white;
    font-weight: lighter;
}
.work2 {
    background-image: url("../img/boring.png");
    width: auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.work2:hover {
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    size: 100%;
}
.work3 {
    background-image: url("../img/pink.png");
    width: auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.work3:hover {
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    size: 100%;
}
.work4 {
    background-image: url("../img/swift.png");
    width: auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.work4:hover {
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    size: 100%;
}

/*fourth area*/

.whyone {
    margin-top: 100px;
    background-color: #eeeeee;
    height: 600px;
    padding-left: 300px;
    background-size: cover;
}
.whytwo {
    margin-top: -100px;
    background-color: #eeeeee;
    padding-left: 300px;
    background-size: cover;
}
.showcase {
    width: 25%auto;
    background-color: white;
    height: 300px;
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}
.showcase:hover {
    background: #53a7ea;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.showcasetwo {
    width: 25%auto;
    background-color: white;
    height: 300px;
    margin-bottom: 100px;
    text-align: center;
    padding: 30px;
}
.showcasetwo:hover {
    background: #53a7ea;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

}
h4 {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}
p {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}

/*fifth*/

.years {
    background-image: url("../img/gif.gif");
    width: 100% auto;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    ;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    margin: auto;
    background-attachment: fixed;
}
.paragraph {
    text-align: center;
    margin: 0 auto;
    padding-top: 170px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.paragraph p {
    font-weight: lighter;
    color: white;
    font-family: 'Lato', sans-serif;
}
.paragraph h1 {
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-family: 'Lato', sans-serif;
}
.button {
    margin-top: 60px;
}
.button a {
    padding: 13px;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    border: solid 2px;
    border-color: grey;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.button a:hover {
    background-color: #53a7ea;
}
/*parallax*/

/*sixth*/

.icons {
    margin: auto;
    width: 20%auto;
    padding-left: 130px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: black;
}
.mail:hover {
    color: #53a7ea;
}
a {
    color: black;
}

/*phone*/

@media (max-width: 768px) {
    .one {
        margin: 0px;
        margin-top: 100px;
        background-color: white;
        height: 610px;
        width: 100%;
        background-size: cover;
    }
    .icons {
        padding: 0px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 20px;
    }
    .whyone {
        margin-top: 100px;
        background-color: #eeeeee;
        height: 600px;
        padding: 0px;
    }
    .whytwo {
        margin-top: -100px;
        background-color: #eeeeee;
        padding: 0px;
    }
    .showcase {
        margin-bottom: 100px;
    }
    /*tablet*/
    @media (max-width:991px) {
        .show {
            opacity: 1;
            color: white;
        }
        .icons {
            margin-left: 0px;
            padding-left: 60px;
        }
        .work3 {
            padding-bottom:
        }
        .one {
            margin-bottom: -100px;
        }
