*{
  font-family: 'Roboto', sans-serif;
}
body {
  height: 800px;
  color: #FD7C88;
  font-size: 18px;
}

header{
  margin: auto;
  height: 140px;
}

.logo img{
  margin-top: 65px;
  margin-left: 65px;
  height: 32px;
}

.nav a{
  text-decoration:none;
  font-size: 15px;
  font-weight: 300;
}
.nav{
  margin-top: 60px;
  height:70px;
  /*background:white;*/
  position:relative;
  float: right;
}
.nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
.nav>ul>li{
  margin-left: 5px;
  float:left;
  position:relative;
}
.nav>ul>li>a{
  padding:0 20px;
  color: #5368EC;
  display:block;
  line-height:50px;
  text-transform:uppercase;
  text-decoration:none;
}
.n4 {
      position: absolute;
      bottom: 0px;
      left: -100px;
      z-index: 3;
      margin: 0;
      border: 0;
      /*width: 5px;*/
      height: 5px;
      padding: 0;
      overflow: hidden;
      background: #F7E44E;

     -webkit-transition-property: left, width;
     -moz-transition-property: left, width;
     -ms-transition-property: left, width;
     -o-transition-property: left, width;
     transition-property: left, width;

     -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
     -ms-transition-duration: .5s;
     -o-transition-duration: .5s;
     transition-duration: .5s;
  }
.nav>ul>li>a:hover {
  font-weight: 500;
}
  .n1:hover ~ li.n4 { left: 22px; width: 46px; }
   .n2:hover ~ li.n4 { left: 120px; width: 60px; }
   .n3:hover ~ li.n4 { left: 236px; width: 50px; }






#contact {
  width: 85%;
  background-color:#F7E44E;
  height: 600px;
  margin: auto;
  padding-top: 60px;
}
h2 {
  /*margin-top: 60px;*/
  margin-left: 140px;
  font-size: 28px;
  font-weight: 500;
  color:#FD7C88;
}
#contact a {
  color: white;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #F7E44E;
  border-color: #F7E44E;
}
.panel-body {
    padding: 0px;
}

.panel-default {
  border-color:#F7E44E;
}
.panel {
  background-color:#F7E44E;
}
.form-control {
  width: 80%;
  height: 50px;
  background-color:#fff6b7;
  border: 1px solid #fff6b7;
  box-shadow: inset 0 1px 1px #fff6b7;
  margin-top: 10px;
}
.btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #FD7C88;
  border-color: #FD7C88;

}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
  width: 21%;
}
