p, h6 {
  font-family: 'Roboto Slab', serif;
}

a, h2, h3, h4, h5, input, button {
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 16px;
  color: #baa76a;
}

a {
  text-decoration: none;
  transition: .5s;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 960px !important;
}

h2 {
  font-size: 36px;
}


.navbar {
  border-radius: 0;
  height: 60px;
  margin-bottom: 0;
  background-color: #baa76a;
  /*background-color: transparent;*/
}

.navbar a {
  color: #fff;
  font-size: 18px;
}

.navbar a:hover {
  color: #5a5a5a;
}

.navbar-right>li>a {
  padding-left: -20px;
}

.navbar li a:hover {
  background-color: #baa76a;
}

.navLeft {
  margin-top: 5px;
  margin-left: 3%;
}

.navbar-header {
  padding-left: 3%;
  padding-bottom: 0;
  /*max-height: 60px;*/
}

.navbar-brand {
  margin-top: 5px;
  visibility: hidden;
  display: none;
  font-size: 22px;
}

.navbar-right {
  display: inline;
  padding-right: 3%;
}

.navbar-right li:last-of-type {
  visibility: hidden;
  display: none;
}

button.navbar-toggle {
  margin: 10px 4% 0 0;
}

.navbar-right img {
  height: 28px;
}

.fa-bars {
  color: #fff;
  font-size: 30px;
  margin-top: -5px;
}

/*.burger {
  height: 50px;
  margin-top: -15px;
  box-shadow: 5px 5px 5px #333;
}*/

#hero {
  background-image: url("../img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #777;
  height: 100vh;
}

/*@media (max-width: 900px) {
  .navbar-right {
    visibility: hidden;
  }
}*/





#hero {
  text-align: center;
}

#hero img {
  height: 45%;
  width: 90%;
  margin-top: 200px;
}

.fadeIn {
  transition: 2s;
  delay: 1s;
}

#ourStory {
  margin: 0 auto;
  background-color: #ebebeb;
}

#ourStory h2 {
  text-align: center;
  color: #baa76a;
  margin-top: 62px;
}

.storyText {
  /*max-width: 960px;*/
  margin: 0 auto;
}

.storyText p {
  margin-top: 49px;
  line-height: 180%;
  font-size: 16px;
  color: #595a5a;
  font-weight: 300;
}

.storyText p:last-of-type {
  margin-bottom: 84px;
  font-weight: 700;
}

#beers {
  height: 60px;
  background-color: #5a5a5a;
  margin: 0 auto;
  text-align: center;
}

#beers h2 {
  color: #fff;
  margin-top: 12.5px;
}

#beerSelection {
  max-width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.beerFig {
  margin-top: 70px;
  margin-bottom: 30px;
  max-height: 400px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.beerFig h5 {
  color: #5a5a5a;
}

.beerFig img {
  height: 200px;
  width: 200px;
  border-radius: 200%;
  margin-bottom: 22px;
  border: 6px solid #ddd;
}

.beerFig p {
  width: 89%;
  margin: 0 auto;
  font-size: 14px;
  color: #595a5a;
  line-height: 150%;
}

#events {
  background-color: #5A5A5A;
  text-align: center;
}

.eventText {
  margin-top: 64px;
}

#events h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 64px;
}

#events a {
  font-size: 22px;
  color: #baa76a;
}

#events a:hover {
  text-decoration: none;
  color: #aeaeae;
}

#events p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 80px;
}

#store {
  min-height: 220px;
}

#store h3 {
  font-size: 36px;
  margin-top: 92px;
  color: #5a5a5a;
}

#store a {
  float: right;
  padding: 20px 40px;
  background-color: #baa76a;
  color: #fff;
  font-size: 26px;
  margin-top: 70px;
  transition: .5s;
  margin-bottom: 70px;
  display: inline;
}

#store a:hover {
  background-color: #5a5a5a;
}

.ion-chevron-right {
  display: inline;
  font-size: 24px;
}

#news {
  min-height: 400px;
  background-color: #EBEBEB;
}

#news h2 {
  color: #baa76a;
  margin-top: 130px;
}
.form {
  background-color: rgba(90, 90, 90, 0.7);;
  width: 80%;
  height: 80%;
  margin: 20% auto;
  padding: 30px 0 10px 20px;
  float: right;
}

.form input {
  margin-bottom: 20px;
}

.subBut {
  background-color: transparent;
  margin-left: 5px;
  color: #fff;
  border: 1px soild white;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  transition: .5s;
}

.subBut:hover {
  background-color: #fff;
  color: #5a5a5a;
}

footer {
  background-color: #baa76a;
  min-height: 167px;
}

footer a {
  color: #fff;
}

footer ul {
  padding-left: 0;
}

footer li {
  display: inline;
}

footer h5 {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbot a:hover {
  color: #5a5a5a;
}

.contact a {
  color: #5a5a5a;
}

.navbot {
  margin: 38px 0;
}

.navbot a {
  font-size: 14px;
  padding-right: 15px;
}

.footL {
  margin-left: 7%;
}

.mapBut {
  background-color: transparent;
  padding: 0;
  border: 0px solid #baa76a;
  color: #5a5a5a;
  font-weight: 700;
  text-transform: uppercase;
}

.mapBut:hover {
  background-color: #baa76a;
  color: #5a5a5a;
  border: 0px solid #baa76a;
}

.mapBut:active {
  background-color: #baa76a;
  color: #5a5a5a;
  border: 0px solid #baa76a;
}

.mapBut:visited {
  background-color: #baa76a;
  color: #5a5a5a;
  border: 0px solid #baa76a;
}

.footR {
  float: right;
  padding-right: 7%;
}

.footR li {
  margin-left: 20px;
}

.footR img {
  height: 26px;
}

.footR ul {
  float: right;
  margin-top: 32px;
}

.footR li:last-of-type {
  display: none;
  visibility: hidden;
}

.copyright {
  float: right;
  clear: both;
  margin-top: 54px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #5a5a5a;
}


@media (max-width: 1024px) {
  .navbar-right li:last-of-type {
    visibility: visible;
    display: inline;
  }
  .storyText {
    max-width: 67%;
  }
  #store a {
    float: left;
    margin-top: 20px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
  .purchaseSect {
    float: left;
    clear: both;
  }
  .footR li:last-of-type {
    display: inline;
    visibility: visible;
  }
  .storeText {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #hero img {
    height: 35%;
    width: 90%;
    margin-top: 325px;
  }
  #news h2 {
    text-align: center;
  }
  .form {
    margin-top: 5%;
    width: 50%;
    float: none;
  }
}

@media (max-width: 767px) {
  .navbar-right {
    visibility: visible;
    float: right;
  }
  .navLeft {
    float: left;
    margin-left: 1%;
  }
  .navbar-right ul {
    margin-top: -30px;
  }
  .navbar-right li, .navbar-right li a {
    display: block;
  }
  /*.navbar-right li:first-of-type {
    margin-left: -20px;
  }*/
  #myNavbar {
    background-color: #baa76a;
    /*box-shadow: 0px 5px 5px rgba(51, 51, 51, .8);*/
    /*opacity: .8;*/
  }
  .navbar-brand {
    visibility: visible;
    display: inline-block;
  }
  .beerFig {
    max-height: 500px;
  }
  .storyText {
    max-width: 87%;
  }
  .storyText p {
    font-size: 14px;
  }
  #store h3 {
    font-size: 30px;
  }
  .navbot a {
    font-size: 12px;
  }
  .footR {
    float: left;
    margin-left: 7%;
  }
  .footR li {
    margin-right: 20px;
    margin-left: 0;
  }
  .copyright {
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .pipe {
    display: none;
    visibility: hidden;
  }
  #hero img {
    height: 45%;
    width: 90%;
    margin-top: 200px;
  }
  .form {
    width: 70%;
  }
  #news h2 {
    font-size: 32px;
    margin: 100px auto 50px auto;
  }
}

@media (max-width: 320px) {
  .beerFig {
    max-height: 550px;
  }
  .navbot a {
    font-size: 10px;
  }
  #store a {
    font-size: 16px;
  }
  #store h3 {
    font-size: 24px;
  }
  .ion-chevron-right {
    font-size: 16px;
  }
}



/*3533 Marathon Street, Pantego, Texas 76013*/
