#hero {
  background-image: url("../img/sunset.jpg");
  height:500px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  /*background-blend-mode: multiply;
  background-color: #949494;*/
  color:white;
  margin-top:49px;
}

#hero h1, #hero h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

#hero h1 {
  margin-top: 105px;
  font-size: 82px;
}

#hero img {
  display:inline;
  margin-top: 40px;
}

.middle-image {
  margin-left:5px;
}

.first-image {
  margin-left: 662px;
}

#intro {
  margin-top: 70px;
  margin-bottom: 70px;
}

.skills, .about-me {
  text-align:center;
}

.skills h3 {
  font-size:36px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size:16px;
}

.about-me p {
  font-size:16px
}

.about-me h3 {
  font-size:36px;
}

.projects {
  text-align:center;
  font-size:50px;
  color:black;
  margin-top:20px;
}

#project-pictures {
  margin-bottom:50px;
}

.project-one, .project-two, .project-three {
  text-align:center;
}

#contact {
  background-image: url("../img/sunset.jpg");
  height:350px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  /*background-blend-mode: multiply;
  background-color: #949494;*/
  color:black;
}

form {
    margin-left: 220px;
    margin-top: 30px;
}

.contact-form h3 {
  margin-top:60px;
  text-align:center;
  color:white;
}

.map {
  margin-top:25px;
  margin-left:90px;
}

/*For tablets*/
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .first-image {
      margin-left: 315px;
    }

    #hero h1 {
      margin-top:136px;
    }

    form {
      margin-left: 264px;
      margin-bottom:30px;
    }

    #contact {
      height:500px;
    }

    .map {
      margin-left:185px;
    }

}



/*For phones*/
@media (max-width:767px) {
  .first-image {
    margin-left: 134px;
  }

  #hero {
    height:350px;
  }

  #hero h1 {
    font-size: 33px;
  }

  .skills h3, .about-me h3 {
    font-size: 33px;
  }

  .about-me p {
    font-size: 13px;
  }

  #intro {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  form {
    margin-left: 66px;
  }

  #contact {
    height:250px;
  }

}
