section {
  background-color: black;
}

div {
  height:200px;
  width:200px;
  
}

.one {
  color:red;
  border:10px solid black;
}

.two {
  color:blue;
  border:10px solid black;
}

.three {
  color:green;
  border:10px solid black;
}
