
body {
  background-image: url("../Images/milky-way.jpg");
  background-size: 100%
}
u {
  color: yellow;
}
  section {
  border: solid;
  border-color: brown;
  border-width: 4px;
  width: 350px;
  margin-left: 475px;
}
li {
  list-style-position: inside;
  text-align: center;
}
html {
  text-align: center;
  color:white;
}
