@font-face {
	font-family: 'icon';
	src: url('fonts/robo.eot');
	src: local('â˜º'), url('fonts/robo.woff') format('woff'), url('fonts/robo.ttf') format('truetype'), url('fonts/robo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before , [class^="icon-"]:after, [class*=" icon-"]:after{
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  font-variant: normal;
  margin-right:0.5em;
	}
i[class^="icon-"]:before, i[class*=" icon-"]:before , i[class^="icon-"]:after, i[class*=" icon-"]:after{
  margin:0;
	}


.icon-award:before , .icon-right.icon-award:after		{ content: '\e601'; }
.icon-search:before , .icon-right.icon-search:after 		{ content: '\e602'; }
.icon-brain:before , .icon-right.icon-brain:after 		{ content: '\e603'; }
.icon-lab:before , .icon-right.icon-lab:after 			{ content: '\e604'; }
.icon-lamp:before  , .icon-right.icon-lamp:after			{ content: '\e605'; }
.icon-toggle:before , .icon-right.icon-toggle:after 		{ content: '\e606'; }
.icon-seo:before , .icon-right.icon-seo:after 			{ content: '\e607'; }
.icon-support:before , .icon-right.icon-support:after 	{ content: '\e608'; }
.icon-code:before , .icon-right.icon-code:after 			{ content: '\e609'; }
.icon-design:before , .icon-right.icon-design:after 		{ content: '\e610'; }
.icon-game:before , .icon-right.icon-game:after 			{ content: '\e611'; }
.icon-award1:before , .icon-right.icon-award1:after 		{ content: '\e612'; }
.icon-dribbble:before , .icon-right.icon-dribbble:after 	{ content: '\e613'; }
.icon-behance:before , .icon-right.icon-behance:after 	{ content: '\e614'; }
.icon-pinterest:before , .icon-right.icon-pinterest:after { content: '\e615'; }
.icon-facebook:before , .icon-right.icon-facebook:after 	{ content: '\e616'; }
.icon-twitter:before, .icon-right.icon-twitter:after 	{ content: '\e617'; }
.icon-location-border:before, .icon-right.icon-location-border:after 	{ content: '\e618'; }
.icon-location:before, .icon-right.icon-location:after 	{ content: '\e619'; }
.icon-mail:before, .icon-right.icon-mail:after 			{ content: '\e620'; }
.icon-foot:before, .icon-right.icon-foot:after 			{ content: '\e621'; }
.icon-hand_right:before, .icon-right.icon-hand_right:after 	{ content: '\e622'; }
.icon-hand_left:before , .icon-right.hand_left:after 	{ content: '\e623'; }
.icon-head:before , .icon-right.icon-head:after			{ content: '\e624'; }
.icon-phone:before , .icon-right.icon-phone:after		{ content: '\e625'; }
.icon-user:before , .icon-right.icon-user:after			{ content: '\e626'; }
.icon-note:before , .icon-right.icon-note:after			{ content: '\e627'; }
.icon-music:before , .icon-right.icon-music:after		{ content: '\e628'; }
.icon-menu:before , .icon-right.icon-menu:after			{ content: '\e629'; }
.icon-close:before , .icon-right.icon-close:after		{ content: '\e630'; }
.icon-chechk:before , .icon-right.icon-chechk:after		{ content: '\e631'; }
.icon-photo:before , .icon-right.icon-photo:after		{ content: '\e632'; }
.icon-images:before , .icon-right.icon-images:after		{ content: '\e633'; }
.icon-layout:before , .icon-right.icon-layout:after		{ content: '\e634'; }
.icon-lock:before , .icon-right.icon-lock:after			{ content: '\e635'; }
.icon-attachment:before , .icon-right.icon-attachment:after{ content: '\e636'; }
.icon-view:before , .icon-right.icon-view:after			{ content: '\e637'; }
.icon-like:before , .icon-right.icon-like:after			{ content: '\e638'; }
.icon-unlike:before , .icon-right.icon-unlike:after		{ content: '\e639'; }
.icon-info:before , .icon-right.icon-info:after			{ content: '\e640'; }
.icon-quoate:before , .icon-right.icon-quoate:after		{ content: '\e641'; }
.icon-talk:before , .icon-right.icon-talk:after			{ content: '\e642'; }
.icon-attention:before , .icon-right.icon-attention:after{ content: '\e643'; }
.icon-maps:before , .icon-right.icon-maps:after			{ content: '\e644'; }
.icon-cup:before , .icon-right.icon-cup:after			{ content: '\e645'; }
.icon-setting:before , .icon-right.icon-setting:after	{ content: '\e646'; }
.icon-share:before , .icon-right.icon-share:after		{ content: '\e647'; }
.icon-mic:before , .icon-right.icon-mic:after			{ content: '\e648'; }
.icon-dow1:before , .icon-right.icon-dow1:after			{ content: '\e649'; }
.icon-left1:before , .icon-right.icon-left1:after		{ content: '\e650'; }
.icon-right1:before , .icon-right.icon-right1:after		{ content: '\e651'; }
.icon-up1:before , .icon-right.icon-up1:after			{ content: '\e652'; }
.icon-resize:before , .icon-right.icon-resize:after		{ content: '\e653'; }
.icon-unsize:before , .icon-right.icon-unsize:after		{ content: '\e654'; }
.icon-leftx:before , .icon-right.icon-leftx:after		{ content: '\e655'; }
.icon-rightx:before , .icon-right.icon-rightx:after		{ content: '\e656'; }
.icon-upx:before , .icon-right.icon-upx:after			{ content: '\e657'; }
.icon-downx:before , .icon-right.icon-downx:after		{ content: '\e658'; }
.icon-cd:before , .icon-right.icon-cd:after				{ content: '\e659'; }
.icon-cloud:before , .icon-right.icon-cloud:after		{ content: '\e660'; }
.icon-brush:before , .icon-right.icon-brush:after		{ content: '\e661'; }
.icon-magnet:before , .icon-right.icon-magnet:after		{ content: '\e662'; }
.icon-droplet:before , .icon-right.icon-droplet:after	{ content: '\e663'; }
.icon-save:before , .icon-right.icon-save:after			{ content: '\e664'; }
.icon-database:before , .icon-right.icon-database:after	{ content: '\e665'; }
.icon-bucket:before , .icon-right.icon-bucket:after		{ content: '\e666'; }
.icon-tempo:before , .icon-right.icon-tempo:after		{ content: '\e6647'; }
.icon-key:before , .icon-right.icon-key:after			{ content: '\e668'; }
.icon-rocket:before , .icon-right.icon-rocket:after		{ content: '\e669'; }
.icon-speed:before , .icon-right.icon-speed:after		{ content: '\e670'; }
.icon-traffic:before , .icon-right.icon-traffic:after	{ content: '\e671'; }
.icon-twitter1:before , .icon-right.icon-twitter1:after	{ content: '\e672'; }
.icon-github:before , .icon-right.icon-github:after		{ content: '\e673'; }
.icon-flickr:before , .icon-right.icon-flickr:after		{ content: '\e674'; }
.icon-vimeo:before , .icon-right.icon-vimeo:after		{ content: '\e675'; }
.icon-gplus1:before , .icon-right.icon-gplus1:after		{ content: '\e676'; }
.icon-gplus:before , .icon-right.icon-gplus:after		{ content: '\e677'; }
.icon-in:before , .icon-right.icon-in:after				{ content: '\e678'; }
.icon-instagram:before , .icon-right.icon-instagram:after{ content: '\e679'; }
.icon-dropbox:before , .icon-right.icon-dropbox:after	{ content: '\e680'; }
.icon-skype1:before , .icon-right.icon-skype1:after		{ content: '\e681'; }
.icon-skype:before , .icon-right.icon-skype:after		{ content: '\e682'; }
.icon-smash:before , .icon-right.icon-smash:after		{ content: '\e683'; }
.icon-soundcloud:before , .icon-right.icon-soundcloud:after	{ content: '\e684'; }
.icon-paypal:before , .icon-right.icon-paypal:after		{ content: '\e685'; }
.icon-behance1:before , .icon-right.icon-soundcloud:after{ content: '\e686'; }
.icon-dot:before , .icon-right.icon-dot:after			{ content: '\e687'; }
.icon-dot2:before , .icon-right.icon-dot2:after			{ content: '\e688'; }
.icon-dot3:before , .icon-right.icon-dot3:after			{ content: '\e689'; }
.icon-chartline:before , .icon-right.icon-chartline:after{ content: '\e690'; }
.icon-mobile:before , .icon-right.icon-mobile:after		{ content: '\e691'; }
.icon-display:before , .icon-right.icon-display:after	{ content: '\e692'; }
.icon-charts:before , .icon-right.icon-charts:after		{ content: '\e693'; }
.icon-chart2:before , .icon-right.icon-chart2:after		{ content: '\e694'; }
.icon-play:before , .icon-right.icon-play:after			{ content: '\e695'; }
.icon-stop:before , .icon-right.icon-stop:after			{ content: '\e696'; }
.icon-pause:before , .icon-right.icon-pause:after		{ content: '\e697'; }
.icon-rec:before , .icon-right.icon-rec:after			{ content: '\e698'; }
.icon-nexttrack:before , .icon-right.icon-nexttrack:after{ content: '\e699'; }
.icon-lasttrack:before , .icon-right.icon-lasttrack:after{ content: '\e700'; }
.icon-rss:before , .icon-right.icon-rss:after			{ content: '\e700'; }
.icon-rss:before , .icon-right.icon-rss:after			{ content: '\e701'; }
.icon-folder:before , .icon-right.icon-folder:after		{ content: '\e702'; }
.icon-heart:before , .icon-right.icon-heart:after		{ content: '\e703'; }
.icon-heart-border:before , .icon-right.icon-heart-border:after{ content: '\e704'; }

.icon-right:before {content:none;}
.icon-right:after { margin-right:0;  margin-left:0.5em;}
