

.my_article_1{
  background-color: yellow;
  height: 560px;
  padding-top: 200px;
}

#left_img{
  margin-right: 0px;
  margin-bottom: 5px;
}

#right_img{
  margin-left:-7px;
  margin-bottom: 5px;

}


.my_article_2{
  background-color: lightgrey;
  height: 560px;
  padding-top: 200px;
}


.chris_pic{
  height:270px;
  width: 278px; 
}
