img {
  /*width: 100%;*/
  height: 219.75px;
  width: 100%;
}

.my_text_box_1 {
  height: 219.75px;
  width: 100%;
  background-color:  #eeeeee;
  padding: 20px; 
}



.my_article_1{
  background-color: yellow;
  height: 460px;
  padding-top: 160px;
  margin-bottom: 10px;
}

.my_article_2{
  background-color: #eeeeee;
  height: 460px;
  padding-top: 160px;

}

.top_left_img{
  margin-bottom: 10px;
}

.bottom_left_img{
  margin-top: 10px;
  margin-bottom: 10px;

}

.top_right_img{
  margin-bottom: 10px;
}

.bottom_right_img{
  margin-top: 10px;
  margin-bottom: 10px;

}

/*.my_article_2{
  margin-top: 20px;
}*/

.my_row{
  margin-bottom: 10px;
}

.my_row_2{
  margin-top: 10px;
}
.my_yellow_footer{
  background-color: yellow;
  padding: 10px;
}
