

.my_article_1 {
  background-color: yellow;
  width: 50%;
  height:560px;
  padding-top: 250px;
  margin-bottom: 10px;

}

.my_article_2 {
  width: 50%;
  height:560px;
  padding-top: 250px;
  margin-bottom: 10px;
  background-color: lightgrey;

}

img{
  margin-left:10px;
}*
