.top_banner{
  background-color:red;
  color:#910df3;
}
.welcome_one{
  background-color:yellow;
  height:524px;
}
.links{
  border: solid white 5px;
}
.quadrants{
  margin:5px;
}
.words{
  background-color:#eee;
  height:228px;
  width:251px;
  margin-left:20px;
}
.notebook img{
  width:270px;
  margin:15px;
}
.welcome_two{
  background-color:#eee;
  height:524px;
}
