.bigyellow {
  background-color: #F4ED48;
  height: 586px;
}

.biggray {
  background-color: #EEEEEE;
  height: 586px;
}


.graybox {
  background-color: #EEEEEE;
}

.pic-tile {
  height: 278px;
  /*width: 270px;*/
}

.bottom-pic {
  margin-top: 30px;
}

.secondhalf {
  margin-top: 30px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  padding-top: 0px;
}

.award {
  padding-top:0px;
}
