body{
  font-family: 'Slabo 13px', serif;
}

.text-container-big{
padding: 80px;
margin: 5px;
}

.text-container{
padding: 40px;
margin: 5px;

}

img {
  margin: 5px;

}


.yellow-box{
  height: 635px;
  background-color: #f4ed47;
  margin-top: 5px;
}


h1{
  font-size: 45px;
  margin-top: 25px;
}

.grayb{
  background-color: #f1f1f1;
  height: 312px;
  margin-left: 4px;
  width:100%;
}

.big-grayb{
  background-color: #f1f1f1;
  height: 610px;
  margin-top: 5px;

}

.yellow-contact{
  height: 200px;
  background-color: #f4ed47;

}

.grayb-2{
  background-color: #f1f1f1;
  height: 312px;
}



img {
  width: 100%;
}
