body {
  font-family: 'Roboto Slab', serif;
}

.bigyellow {
  background-color: #F4ED48;
  height: 586px;
}

.bigboxtext {
  margin-top: 0;
  padding-top: 110px;
  padding-left: 15%;
  padding-right: 18%;
}

.bigboxtext h2 {
  line-height: 50px;
}

.bigboxtext p {
  line-height: 35px;
}

.fa {
  font-size: 50px;
}

.biggray {
  background-color: #EEEEEE;
  height: 586px;
}

.graybox {
  background-color: #EEEEEE;
}

.grayboxtext {
  padding-left: 15%;
  padding-right: 18%;
  padding-top: 30px;
}

.grayboxtext h3 {
  line-height: 35px;
}

.graybox p {
  line-height: 30px;
}

.pic-tile {
  height: 278px;
}

.bottom-pic {
  margin-top: 30px;
}

.secondhalf {
  margin-top: 30px;
}

.award {
  padding-top:0px;
}

/*This will hide the carousel controls until the mouse hovers over them*/
.carousel .carousel-control {
  visibility: hidden;
}

.carousel:hover .carousel-control { visibility: visible;
}


/*This changes the color of the carousel indicators*/
.carousel-indicators li {
  background-color: #C2C3BE;
}

.carousel-indicators .active {
  background-color: #444444;
}
