.stalkDiv{
    float: left;
    height: 3000px;
    width: 100px;
    background-size: 100%;
    background-image: url(./Pictures/Beanstalk_NSMB2.png)
}
.contentMain{
    float: right;
    height: 3000px;
    width: 30%;
}