html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
		transition: 3s;
}

/* .container:hover {
	 transform: scale(2, 2);
} */
.container >*  {
	transition: 3s;

}

.container:hover :nth-child(even) {
	transform: translate(-600px) scale(0.5) rotateZ(360deg);
}

.container:hover :nth-child(odd) {
	transform: translate(600px) scale(2) rotateZ(360deg);
}


.box {
	width: 50px;
	height: 50px;
	margin: 10px;
}

#box1 {
	background-color:Bisque;
}
#box2 {
	background-color:Chocolate;
}
#box3 {
	background-color:Coral;
}
#box4 {
	background-color:DarkGoldenRod;
}
#box5 {
	background-color:DarkGreen;
}
#box6 {
	background-color:DarkSeaGreen;
}
#box7 {
	background-color:DimGray;
}
#box8 {
	background-color:GreenYellow;
}
#box9 {
	background-color:LawnGreen;
}
#box10 {
	background-color:Lime;
}
#box11 {
	background-color:MediumSeaGreen;
}
#box12 {
	background-color:MediumVioletRed;
}
