body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.black-box {
  background-color: black;
}

.red-box {
  background-color: red;
}

.orange-box {
  background-color: orange;
}

.yellow-box {
  background-color: yellow;
}

.green-box {
  background-color: green;
}

.blue-box {
  background-color: blue;
}

.indigo-box {
  background-color: indigo;
}

.violet-box {
  background-color: violet;
}

.brown-box {
  background-color: brown;
}

.gold-box {
  background-color: gold;
}

.purple-box {
  background-color: purple;
}

.magenta-box {
  background-color: magenta;
}

div {
  width: 50px;
  height: 50px;
  position: relative;
}

.odd {
  width: 50px;
  height: 50px;
  position: relative;
  transition: all 1s;
  }

.even {
  width: 50px;
  height: 50px;
  position: relative;
  transition:all 2s;
}

div:hover ~ .expand:nth-child(2n+2) {
  transform: scale(2);
}

div:hover ~ .shrink:nth-child(1n+1) {
  transform: scale(.5);
}
div.contact-form{
  width:4px;
}
