.box{
  display: flex;
  height:50px;
  width:50px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}
.box:hover{
  height: 100px;
  width: 100px;
  transition:width 1s,height 3s, background-color 2s;
  background-color: red;

}

.grid{
display: flex;
background-color:lightblue;
margin: 0px 30px ;
align-items:center;
flex-direction: column;
}

.box1{
  background-color: orange;
}
.box2{
background-color: purple;
}
.box3{
background-color: yellow;
}
.box4{
  background-color: green;
}
.box5{
  background-color: blue;
}
.box6{
  background-color:beige;
}
.box7{
  background-color: black;
}
.box8{
  background-color:pink;
}
.box9{
  background-color: red;
}
.box10{
  background-color: violet;
}
.box11{
  background-color: grey;
}
