body{
    background-color:black;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.box{ 
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    border: white 1px solid;
}
.box:nth-of-type(odd):hover{
    transform: scale(2) translateX(250px) rotate(360deg);
    transition: transform 1s;
}
.box:nth-of-type(even):hover{
    transform: scale(.5) translateX(-250px) rotate(-360deg);
    transition: transform 1s;
}
#box-1{
    background-color: red;
}
#box-2{
    background-color: orange;
}
#box-3{
    background-color: yellow;
}
#box-4{
    background-color: green;
}
#box-5{
    background-color: blue;
}
#box-6{
    background-color: purple;
}
#box-7{
    background-color:blueviolet;
}
#box-8{
    background-color: pink;
}
#box-9{
    background-color:white; 
}
#box-10{
    background-color: brown;
}
#box-11{
    background-color: chocolate;
}
#box-12{
    background-color: coral;
}