.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxEvenLg {
  display:flex;
  height: 50px;
  width: 50px;
  -webkit-transition: -webkit-transform 15s;
  transition: transform 15s;
}
.boxOddSm {
  display:flex;
  height: 50px;
  width: 50px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.boxOddSm:hover{
  -webkit-transform: translateX(400px) rotate3d(0,0,1,180deg) scale(0.5) ;
  transform: translateX(400px) rotate3d(0,0,1,180deg) scale(0.5) ;
}
.boxEvenLg:hover{
  -webkit-transform: translateX(-400px) rotate(-180deg) scale(2) ;
  transform: translateX(-400px) rotate(180deg) scale(2) ;
}
.color1{
  background-color: blue;
}
.color2 {
  background-color: Red;
}
.color3 {
  background-color: Green;
}
.color4 {
  background-color: Yellow;
}
.color5 {
  background-color: Pink;
}
.color6 {
  background-color: Purple;
}
.color7 {
  background-color: Orange;
}
.color8 {
  background-color: grey;
}
.color9 {
  background-color: DarkGreen;
}
.color10 {
  background-color: Black;
}
.color11 {
  background-color: Maroon;
}
.color12 {
  background-color: Teal;
}
