main {
  width: 100%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box{
  height: 50px;
  width: 50px;
  margin: 
}

div {
  height: 50px;
  width: 50px;
  margin: 2px;
}

/* Transitions */

.large{
  transition: margin-right 10s;
}

.large:hover {
  margin-right: 2500px;
}

.box1{
  background-color: red;
}

.box2{
  background-color: yellow;
}

.box3{
  background-color: black;
}
.box4{
  background-color: purple;
}
.box5{
  background-color: gray;
}
.box6{
  background-color: blue;
}
.box7{
  background-color: red;
}
.box8{
  background-color: yellow;
}
.box9{
  background-color: indigo;
}
.box10{
  background-color: purple;
}
.box11{
  background-color: orange;
}
.box12{
  background-color: black;
}
