body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image:url("https://img00.deviantart.net/e984/i/2015/287/c/5/red_dragon_by_sandara-d6hpycs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-1 {
    grid-area: box-1;
    border: black 2px solid;
    background: linear-gradient(160deg,#f9eb2d,#ffba2f,#ff8b4c,#ff6269,#d94980,#a3418c,#623e89,#0c3776);
}

.box-2 {
    grid-area: box-2;
    border: black 2px solid;
    background: linear-gradient(160deg,#f9eb2d,#aae957,#59df83,#00cfa8,#00bcbf,#00a6c3,#4a8fb4,#677a98);
}

.box-3 {
    grid-area: box-3;
    border: black 2px solid;
    background: #f9eb2d;
}

.box-4 {
    grid-area: box-4;
    background: #623e89;
    border: black 2px solid;
}

.box-5 {
    grid-area: box-5;
    border: black 2px solid;
    background: aqua;
}

.box-6 {
    grid-area: box-6;
    background: #ffba2f;
    border: black 2px solid;
}

.box-7 {
    grid-area: box-7;
    background: blueviolet;
    border: black 2px solid;
}

.box-8 {
    grid-area: box-8;
    background: brown;
    border: black 2px solid;
}

.box-9 {
    grid-area: box-9;
    background: chartreuse;
    border: black 2px solid;
}

.box-10 {
    grid-area: box-10;
    background: red;
    border: black 2px solid;
}

.box-11 {
    grid-area: box-11;
    background: blueviolet;
    border: black 2px solid;
}

.box-12 {
    grid-area: box-12;
    background: rgb(167, 30, 167);
    border: black 2px solid;
}
.box-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    width: 50px;
    margin: auto;
    gap:2em;
    grid-template-areas: 
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8"
    "box-9"
    "box-10"
    "box-11"
    "box-12"   
}

.box {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    transition: 2s;
}

.box:nth-of-type(odd) {
    transition: 2s;
}

.box:nth-of-type(even) {
transition: 4s;
}

.box-container:hover > .box:nth-of-type(odd) {
    transform: scale(2) translate(100px) rotate(90deg);
}

.box-container:hover > .box:nth-of-type(even) {
    transform: scale(.5) translate(-100px) rotate(-90deg);
    
}