body {
  background: #F4B030;
}

div.box {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
  margin: 10px auto;
  transition: transform 3s ease 1s;
}

.container:hover .box:nth-child(odd) {
  transform: scale(2) translateX(300px) rotate(360deg);
}

.container:hover .box:nth-child(even) {
  transform: scale(.5) translateX(-300px) rotate(-360deg);
}

.box-1 {
  background-color: #154241;
}
.box-2 {
  background-color: #8B309B;
}
.box-3 {
  background-color: #1A5453;
}
.box-4 {
  background-color: #7B2A89;
}
.box-5 {
  background-color: #1F6664;
}
.box-6 {
  background-color: #6B2577;
}
.box-7 {
  background-color: #237775;
}
.box-8 {
  background-color: #5C2066;
}
.box-9 {
  background-color: #278988;
}
.box-10 {
  background-color: #4C1B54;
}
.box-11 {
  background-color: #2D9B99;
}
.box-12 {
  background-color: #3C1642;
}
