#s1 {
background-color: #361C93;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s1:hover {
transform: scale(.5) rotate(-1080deg)translate(300px);

}

#s2 {
background-color: #2D60BF;
height: 50px;
width: 50px;
transition: 2.5s ease-in-out;

}

#s2:hover {
transform: scale(2) rotate(1080deg);

}

#s3 {
background-color: #24F2B4;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s3:hover {
transform: scale(.5) rotate(-1080deg)translate(300px);

}


#s4 {
background-color: #ED331E;
height: 50px;
width: 50px;
transition: all 2.5s ease-in-out;

}

#s4:hover {
transform: scale(2) rotate(1080deg);

}

#s5 {
background-color: #4FF25D;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s5:hover {
transform: scale(.5)translate(300px) rotate(-1080deg);

}

#s6 {
background-color: #ED901E;
height: 50px;
width: 50px;
transition: all 2.5s ease-in-out;

}

#s6:hover {
transform: scale(2) rotate(1080deg);

}

#s7 {
background-color: #32F27F;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s7:hover {
transform: translate(300px)scale(.5)rotate(-1080deg);

}

#s8 {
background-color: #00EFFF;
height: 50px;
width: 50px;
transition: all 2.5s ease-in-out;

}

#s8:hover {
transform: scale(2) rotate(1080deg);

}

#s9 {
background-color: #E3ED23;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s9:hover {
transform: scale(.5)rotate(-1080deg);

}

#s10 {
background-color: #ED7A28;
height: 50px;
width: 50px;
transition: all 2.5s ease-in-out;

}

#s10:hover {
transform: scale(2) rotate(1080deg);

}

#s11 {
background-color: #3E00FF;
height: 50px;
width: 50px;
transition: all 1s ease-in-out;

}

#s11:hover {
transform: scale(.5)rotate(-1080deg);
}

#s12 {
background-color: #2EFF00;
height: 50px;
width: 50px;
transition: all 2.5s ease-in-out;

}

#s12:hover {
transform: scale(2) rotate(1080deg);

}
