.container > div{
  height: 50px;
  width:50px;
  margin: 10px;
}

.container{
  width: 10%;
  margin: 0 auto;
}

.container:hover :nth-child(even){
  transform: scale(2);
  transform: translateX(500px) rotate(50deg);
  transition-duration: 6s;
  transition-timing-function: ease-out;
}

.container:hover :nth-child(odd){
  transform: scale(.5);
  transform: translateX(-500px) rotate(50deg);
  transition-duration: 1s;
  transition-timing-function: ease-in;

}

.black{
  background-color: black;

}
.maroon{
  background-color: maroon;
}
.yellow{
  background-color: yellow;
}
.olive{
  background-color: olive;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.teal{
  background-color:teal;
}
.orange{
  background-color: orange;
}
.gray{
  background-color: gray;
}
.pink{
  background-color: pink;
}
