
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: all 3s ease-in-out;

}

.square:nth-child(odd):hover {
  background-color: purple;
  transform: scale(2) rotate(45deg) translate(100px);

}

.square:nth-child(even):hover {
  width: 25px;
  height: 25px;
  background-color: purple;
  transform: scale(0.5) rotate(-45deg) translate(-100px);
}



.one {
  background-color: blue;
}
.two {
  background-color: red;
}
.three {
background-color: green;
}
.four {
  background-color: turquoise;
}
.five {
background-color: teal;
}

.six {
  background-color: lavender;
}
.seven {
  background-color: grey;
}
.eight {
  background-color: lightblue;
}
.nine {
  background-color: lightpink;
}
.ten {
background-color: yellow;
}
.eleven {
  background-color: black;
}
.twelve {
  background-color: lightgreen;
}
