.container > div{
  height: 50px;
  width:50px;
  margin: 10px;
}

.container{
  width: 10%;
  margin: 0 auto;
}

.container :nth-child(even){
  transition-duration: 3s;
}


.container:hover :nth-child(even){
  transform: translateX(500px) rotate(360deg) scale(2);
  transition-timing-function: ease-out;
}

.container :nth-child(odd){
    transition-duration: .5s;
}


.container:hover :nth-child(odd){
  transform: translateX(-500px) rotate(-360deg) scale(.5);
  transition-timing-function: ease-in;

}

.black{
  background-color: black;
  color: #fff;
  font-size: 30px;

}
.maroon{
  background-color: maroon;
  color: #fff;
  font-size: 30px;
}
.yellow{
  background-color: yellow;
  color: #fff;
  font-size: 30px;
}
.olive{
  background-color: olive;
  color: #fff;
  font-size: 30px;
}
.blue{
  background-color: blue;
  color: #fff;
  font-size: 30px;
}
.green{
  background-color: green;
  color: #fff;
  font-size: 30px;
}
.teal{
  background-color:teal;
  color: #fff;
  font-size: 30px;
}
.orange{
  background-color: orange;
  color: #fff;
  font-size: 30px;
}
.gray{
  background-color: gray;
  color: #fff;
  font-size: 30px;
}
.pink{
  background-color: pink;
  color: #fff;
  font-size: 30px;
}
