header {
  grid-area: header;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
.banner {
  grid-area: banner;
}
footer {
  grid-area: footer;
}

.container {
  display: grid; /* Using the grid */
  grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
    "header"
    "nav"
    "main"
    "aside"
    "banner"
    "footer";
}

@media (min-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* the first column is 1 unit (fraction), the second column is 3 units */
    grid-template-areas: /* stack the components how you want them to appear in the columns */
      "header  header" /* stretch header across both columns at the top */
      "nav     nav"
      "aside   main" /* stack these horizontally, aside first, etc */
      "banner  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    main    aside"
      "nav    main    banner"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
