
.main {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.louter {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s;
}

.box {
  width: 50px;
  height: 50px;
  /* margin: .5em; */
  border: 1px solid #000000;
  transition: transform 2s;
}

.box1 {
  background-color: #0000FF;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: red;
}

.box4 {
  background-color: yellow;
}

.box5 {
  background-color: brown;
}

.box6 {
  background-color: teal;
}

.box7 {
  background-color: gray;
}

.box8 {
  background-color: black;
}

.box9 {
  background-color: white;
}

.box10 {
  background-color: pink;
}

.louter:hover:nth-child(odd) {
  transform: translate(600px);
}

.louter:hover:nth-child(even) {
  transform: translate(-600px);
}

.lbox:hover {
    transform: scale(2.0) rotate(-180deg);
}

.rbox:hover {
    transform: scale(.5) rotate(180deg);
}
