.container > div{
  height: 50px;
  width: 50px;
  background-color:;
  margin: 10px;

}

.container{
  width: 10%;
  margin: 0 auto;
}

.one {
  background-color:black;
}

.two {
  background-color:grey;
}

.three {
  background-color:yellow;
}

.four {
  background-color:orange;
}

.five {
  background-color:red;
}

.six {
  background-color:pink;
}

.seven {
  background-color:purple;
}

.eight {
  background-color:blue;
}

.nine {
  background-color:teal;
}

.ten {
  background-color:green;
}

.eleven {
  background-color: brown;
}

.twelve {
  background-color: darkgrey;
}

.container:hover :nth-child(even){
  background-color: red;
  transform: scale(2) translate(500%) rotate(1080deg);
  transition: all 8s;
  transition-timing-function: ease-in-out;
}

.container:hover :nth-child(odd){
  background-color: blue;
   transform: scale(.5) translate(-2000%) rotate(-1080deg);
   transition: all 3s;
   transition-timing-function: ease-in-out;
}
