.container {
  width: 50px;
  margin: auto;
}

.container div {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.one {
  background-color: #FE0002;
}

.two {
  background-color: #FF4901;
}

.three {
  background-color: #FF7B00;
}

.four {
  background-color: #FEB501;
}

.five {
  background-color: #FFFF01;
}

.six {
  background-color: #01FF02;
}

.seven {
  background-color: #007B00;
}

.eight {
  background-color: #00ADAC;
}

.nine {
  background-color: #0000FE;
}

.ten {
  background-color: #7308A4;
}

.eleven {
  background-color: #BE00FF;
}

.twelve {
  background-color: #CC00AF;
}

.container:hover div:nth-child(even) {
  width: 25px;
  height: 25px;
  transition: all 1s;
  transform: rotate(-45deg) translate(-200px);
}

.container:hover div:nth-child(odd) {
  width: 100px;
  height: 100px;
  transition: all 1s;
  transform: rotate(45deg) translateX(200px);
}