.background{
  background-image: url(http://placehold.it/500x800);
  background-size: cover;
  height: 400px;
  display: flex;
  align-items:center;
}

.navbar{
  margin: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
