html,body {
  margin: 0 auto;
}
header {
  background-color: red;
  padding:20px;
  font-family: monospace;
  overflow: auto;
}
div.top {
  padding: 20px;
  text-align: center;
}
nav {
  background-color: skyblue;
  padding:20px;
}
h1 {
  font-size: 50px;
}
a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: red;
}
main {
  background-color: darkgrey;
  width: 100%;
  margin-top: 20px;
  overflow: auto;
}
section {
  background-color: red;
  float:left;
  width: 50%;
  padding: 20px;
  margin: 20px;
  min-width: 400px;
  overflow: auto;
}
article {
  background-color: skyblue;
  margin: 20px;
  padding: 10px;
  min-width: 350px;
  overflow: auto;
}
aside {
  background-color: lightgrey;
  float: right;
  width: 165px;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}
#logo {
  float:left;
}
#superpic {
  float: right;
  margin: 5px;
}
#ad {
  margin: auto;
}
