body{
    font-family: serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #fB4B4A0;
    margin:50px 0;
    padding:0;
    text-align:center;

}
header{
    font-family: serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}

.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;

}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 17.5%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align:20px;
    margin-bottom: 70px;
    flex-direction: column;
    flex-wrap: wrap;


}

.collumn + .collumn {
  border-left: 8px solid #2f2f2f;
}


.collumn .headline1{
    text-align: center;
    line-height: normal;
    font-family:serif;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    flex-direction: column;
}

.collumn .headline2{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    padding: 10px 0 10px 0;
    flex-direction: column;
}
.collumn .headline3{
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    flex-direction: column;
}
