header {
  background-color: red;
  padding:20px;
  font-family: monospace;
  overflow: auto;
}

div.top {
  padding: 20px;
  text-align: center;
}

.top nav {
  background-color: skyblue;
  padding:20px;
}

h1 {
  font-size: 50px;
}

.top a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

.top a:hover {
  color: red;
}

main {
  background-color: darkgrey;

  margin: 20px;
  overflow: auto;
}

section {
  background-color: red;
  float:left;
  width: 70%;
  padding: 20px;
  margin: 20px;
  min-width: 290px;
  overflow: auto;
  padding: 10px;
}

article {
  background-color: skyblue;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}

aside {
  background-color: skyblue;
  float: right;
  width: 165px;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}

footer {
  text-align: center;
}

#logo {
  float:left;
}

#superpic {
  float: right;
  margin: 5px;
}

#lexcorp {
  margin: auto;
}
