html,body {
  margin: 0 auto;
}

header {
  background-color: red;
  padding:20px;
  font-family: fantasy;
  text-align: center;
}

nav {
  background-color: skyblue;
  padding:20px;
  width: 50%;
  margin: auto;
}

main {
  background-color: darkgrey;
  height:600px;
  width: 100%;
  margin-top: 20px;
}

section {
  background-color: lightgrey;
  float:left;
  height: 80%;
  width: 50%;
  padding: 20px;
  margin: 20px;
}

aside {
  background-color: hotpink;
  float: right;
  height: 300px;
  width: 30%;
  margin: 20px;
}

article {
  background-color: purple;
  width: 75%;
  margin: 20px;
  padding: 10px;

}
 #superpic {
   float: right;
   margin: 5px;
 }
