#page-wrap {
  width: 1050px;
  margin: 0 auto;
}

body {
  background-color: white;
  font-family: Dosis;
}

.title {
  font-size: 50px;
  background-color: #c5d1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  background-color: #c5d1e5;
  width: 1050px;
  height: 100px;
  margin: 0px;
}

nav {
  background-color: grey;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 950px;
  height: 80px;
  margin: 0px;
}

main {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 1050px;
  background-color: #c5d1e5;
}

a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

a:hover {
  color: green;
}


section {
  align-items: flex-start;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin: 10px;
  width: 70%;
}

article {
  display: inline-block;
  margin: 5px;
  width: 95%;
  justify-content: flex-start;
}

aside {
  float: left;
  background-image: url(http://www.beebenow.com/files/State_Farm_banner_ad.jpg);
  background-size: auto;
  background-repeat: repeat-y;
  margin: 10px;
  width: 210px;
  height: 480px;
  justify-content: space-around;
}

footer {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1050px;
  height: 50px;
  background-color: grey;
}
