
header {
  border:2px solid black;
  display:block;
  text-align:center;
  width:850px;
  background-color: #dddddd;
  font-family:fantasy;
  color:black;
  font-weight: bold;

}
nav {
  border:2px solid black;
  display:inline-flex;
  justify-content:space-around;
  width:820px;
  margin:10px;
  font-family: fantasy;
  font-weight: bold;
  color: white;
  background-color: gray;

}
main {
  border:2px solid black;
  width:850px;
  margin-top:10px;
  height:900px;
  justify-content:space-around;
  text-align:center;
  background-color: #DDDDDD
}
section {
  border:2px solid black;
  width:510px;
  height:800px;
  margin:5px;
  float:left;
  text-align:center;
  background-color: gray;
}
article {
  border:2px solid black;
  width:450px;
  height:600px;
  margin:auto;
  text-align:left;
  padding:5px;
  background-color:#DDDDDD

}
article p {
  margin:10px;

}
article h2 {
  text-align:center;
}
img  {
  height:75px;
  width:125px;
  float:left;
  margin:5px;
}
aside {
  border:2px solid black;
  width:310px;
  height:800px;
  float:left;
  margin:5px;
  text-align:center;
  display:flex;
  align-content: center;
  background-color: black;


}
footer {
  border:2px solid black;
  width:850px;
  height:200px;
  clear:both;
  margin-top:10px;
  text-align:center;
  background-color: #dddddd

}
aside img {
  height:625px;
  width:300px;
  justify-content: center;
  align-content: center;
  margin-top:87.5px;

}
footer p {
  justify-content: center;
  align-items: baseline;
}
