nav {
  text-align: center;
  border: black solid 1px;
  margin: 2px;
}

header {
  border: solid black 1px;
  width: 100%;
  margin-bottom: 4px;
}

h1 {
  text-align: center;
}

main {
  border: solid 1px black;
  display: inline-block;
  min-width: 100%;
}

section {
  border: solid black 1px;
  float: left;
  width: 70%;
  min-width: 30%;
  margin: 2px;
}

aside {
  border: black solid 1px;
  float: left;
  width: 28%;
  min-width: 100px;
  height: 500px;
  margin: 2px 2px 0 8px;
}

footer {
  text-align: center;
  border: solid black 1px;
  clear: both;
}

article {
  border: solid black 1px;
  margin: 2px;
}

p {
  text-align: center;
}
