header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.one {
    width: 1560px;
    height: 884px;
    margin: 10px;
    background-blend-mode: multiply;
    background-color: #6E6E6E;
    background-image: url(../img/wine-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 60px;
}

#a {
    margin-bottom: 0px;
}

#one {
    margin-top: 0px;
}

.two {
  width: 578px;
  height: 866px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#powerwash {
  width: 350px;
  height: 600px;
  margin-right: 210px;
}
