/*Navbar styling*/
.navbar-brand .title{
  font-family: 'Press Start 2P', cursive;
}

/*title styling*/
.navbar-light {
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
}

/*Main image stying*/
.jumbotron {
  background-image: url("https://i.pinimg.com/originals/42/10/fb/4210fb75bc8f36114a5c5a9996f54e41.jpg");
  height: 700px;
  padding-top: 250px;
  font-family: 'Libre Barcode 39 Text', cursive;
}
/*jumbotron text size*/
.display-3 {
  font-size: 100px;
}

/*body styling*/
body {
  background-color: lightgrey;
}

/*portfolio stying*/
.portfolio-item {
  margin-bottom: 30px;
}

/*contact styling*/
#contact {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-color: white;
}
