.body{
    display: flex;
    justify-content: center;
}
.outer{
    width:100%;
    display: flex;
    justify-content: center;
}
.gameCanvas {
    /*margin-left: 300px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}
.thisDiv{
    color: blue;
    border: solid green 1px;
}