body {
	background-image: url"(../images/who knows owls.png)";
	background-repeat: no-repeat;
	background-size: 100% auto;
	
  }

    #navlist {
      position: realtive;
    }
    #navlist li{
       margin: 0;
       padding: 0;
       list-style: none;
       position: absolute;
       top: 0;

    }
    #navlist li, #navlist a{
      height: 44px;
      display:block;
    }
    #home{
      left: 0;
      width: 46px;
    background: url('img_navsprites.gif') 0 0;
    }

    #prev{
    left: 63px;
    width: 43px;
    background: url('img_navsprites.gif') -47px 0;
    }
    #next{
      left: 129px;
      width: 43px;
  }
