
body {
	padding-top: 70px;
	padding-bottom: 100px;

}

.navbar{
	background-color: #F8F8F8;
  border-color: #E7E7E7;
}
.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
.container_jumbo{
	margin-top: 10px;
	margin-left: 175px;
	margin-right: 175px;
	color: #1A24BB;

}
.container_grid{
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px;
}

.container_img{
	display: flex;
	justify-content: center;
	background-color: #60C0DC;
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px;
	flex-direction: row;
}

.container_img .item img{
	height: 225px;
	width: 225px;
	margin: 25px;
}

.Grid {
  display: flex;
	background-color: #1269D3;
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px
}

.Grid-cell {
  flex: 1;
	text-align: center;
	font-size: 35px;
	color: white;
}
@media (min-width: 768px) and (max-width: 991px) {
	.Grid {
	  display: none;
		background-color: #1269D3;
	}

	.Grid-cell {
	  flex: 1;
		text-align: center;
}
}

@media (max-width: 767px) {
  .Grid {
		display: none;
		background-color: #1269D3;
	}

	.Grid-cell {
		flex: 1;
		text-align: center;


}
