html body {
    background-color: #3CB5FC;
}

body {
	padding-top: 70px;
	padding-bottom: 100px;
}

.container{
	background-color: #F8F8F8;
  border-color: #E7E7E7;
}

.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

.container_jumbo{
	margin-top: 10px;
	margin-left: 175px;
	margin-right: 175px;
	color: #1A24BB;
}

.row{
	color: #05348D;
}
.container_grid{
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px;
}

.container_img{
	display: flex;
	justify-content: center;
	background-color: ;
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px;
	flex-direction: row;
}

.container_img .item img{
	height: 80%;
	width: 80%;
	margin: 10px;
	padding: 10px 0 0 10px;
	justify-content: center
}

.bar {
  display: flex;
	background-color: #020C7E;
	margin-top: 40px;
	margin-left: 175px;
	margin-right: 175px
}

.bar-cell {
  flex: 1;
	text-align: center;
	font-size: 35px;
	color: white;
	padding:10px;
}

.images {
	display: flex;
	flex-direction: row;
	background-color: #60C0DC;
}

@media (min-width: 768px) and (max-width: 991px) {
	.bar {
	  display: none;
		background-color: #1269D3;
	}

	.bar-cell {
	  flex: 1;
		text-align: center;
}
}

@media (max-width: 767px) {
  .bar {
		display: none;
		background-color: #1269D3;
	}

	.bar-cell {
		flex: 1;
		text-align: center;
}

.images {
	display: flex;
	flex-direction: column;
}
