body {
  height: 100%;
  /* background-image:url("/images/grapes.jpg"); */
  background-color: #300607;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-style: italic;
  color: white;
  font-family: Georgia;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  filter: brightness(.85);
}

.transparent {
  background: black;
  background-color: black;
  border-color: transparent;
  background-image: none;
}

.navbar-brand {
  margin-left: 20px;
  color: white;
}

.nav {
  border-bottom: 5px solid gold;
}

/* .nav-item {
  color:gold;
} */

.firstsection {
  background-color: transparent;
  height: 600px;
  width: auto;
  justify-content: center;
  align-items: center;
  filter: brightness(.7);
  display: flex;
}

#brand {
  height: 100%;
  width: 100%;
  display: block;
  padding-left: 20px;
}

#mason {
  height: 600px;
  width: 1899px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 15px;
  padding-top: 1px;
}

.openp {
  color: black;
  text-align: center;
  font-family: Georgia;
  font-size: 100%;
}

.secondsection {
  background-color: transparent;
  height: 350px;
  width: 100%;
  display: block;
  text-align: center;
}

.width100 {
  width: 100%;
}

/* .thirdsection {
  height: 100%;
  background-image:url("/images/sweet-wines-1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  text-align:center;
  font-style:italic;
  color: white;
  font-family: Georgia;
  align-content:center;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  filter: brightness(.85);
  } */

}

.whitetext {
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 506px;
}

.whiteguy {
  background-image: url("images/sweet-wines-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.open {
  font-size: 100%;
  color: white;
  text-align: center;
}

.fourthsection {
  height: 100%;
  background-color: white;
}

/* .fourthcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  text-align: center;
} */

.winebottles {
  height: 60vh;
  width: 25vh;
}

.visitshop {
  background-color: #91a05c;
  font-family: Arial;
  color: white;
  box-shadow: none;
}

.medal {
  height: 200px;
}

.fifthrow {
  display: flex;
}

#awards {
  margin: 75px;
}

.fifthcontainer {
  display: flex;
  flex-direction: column;
}

.sixthsection {
  height: 650px;
  font-family: Georgia;
  color: grey;
}

.wineground {
  background-image: url("./image/ourstory.jpg");
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sixthfloat {
  background-color: #f8f8f8;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sixthp {
  font-style: italic;
  color: black;
}

.sixthwriting {
  width: 60%;
  font-size: 100%;
}

.seventhsection {
  height: 100vh;
  color: white;
  background-color: #292929;
  font-family: Georgia;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#emailaddress {
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px;
  height: 50px;
  width: 200px;
}

.signupnow {
  background-color: #91a05c;
  color: white;
  height: 50px;
  width: 200px;
}

.icons {
  text-decoration: none;
  margin: 10px;
}

i {
  margin: 10px;
}
