header {
      background-color:#0171c5;
      font-family: Arial, sans-serif;
      color: #ffffff;
      padding-bottom:10px;
      padding-left: 10px;
}

h1 {
      padding-top: 40px;
      padding-bottom:10px;
}

header a {
      color:#ffffff;
      font-weight: 300;
      padding-right: 10px;
}

body {
      font-family: Arial, sans-serif;
}

h2 {
      font-size:20px;
}

h1, h2, h3, h4 {
      font-weight: 300;
}

main > h2 {
      padding-left: 10px;
}

main > p {
      padding-left: 10px;
}

p {
      font-size: .75em;
}

div {
      background-color:#f3f3f3;
      padding: 10px;
}

img {
      height: 200px;
      float:right;
}
