header {
  width: 100%;
  height: 100px;
  background-color: lightblue;

}
header h3 {
  text-decoration: underline;
}
header h1 {
  color: white;
}
aside {
  float: right;
  position:relative;
  top: -100px;
}
section {
  padding-top: 100px;
}
