Body {
  font-family: Arial,sans-serif;
}

header {
 background-color:#0071c5;
 width: 1024px;
 height: 100px;
 margin: auto;
 padding: 10px 10px 10px 10px;
 font-family:sans-serif;
}
h1 {
  color:white;
}
a {
  color:white;
}

main {
  margin:auto;
  width:1024px;
}
aside {
  background-color:grey;
  width: 1024px;
  margin:auto;
  padding: 10px 10px 10px 10px
}
aside p {
  font-size: 8pt
}
