body {
  width: 700px;
  margin: auto;
}

nav {
  width:720;
  height: 130;
  background-color: blue;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: arial;
}

.navlink {
  color: white;
}

section h1{
  color: black;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  color: black;
}

#customersupport {
  width: auto;
  height: 100px;
  background-color: lightgray;
}

img {
  width: 320px;
  height: 170px;
}

table {
  border-bottom: 0px;
}
