body {
    font-family: Tahoma;
}

header {
    background-color: #0171C5;
    color: white;
}

nav a {
    color: white;
}

nav {
    text-size: 50px;
}

p {
    color: 	#555555;
}

#support {
    background-color: #F3F3F3;
}

h1 {
    font-size: 100px;
    font-weight: normal;
}

h2 {
    font-size: 60px;
    font-weight: normal;
}

p {
  font-size: 30px;
}

h3 {
  font-size: 50px;
  font-weight: normal;
}

#pic1 {
  width: 60%;
}

#pic2 {
  width: 100%;
}
