.dev1{
  background-color: #0f7dc2;
  width: 900px;
  height: 150px;
  margin: auto;
  padding: 10px;
}
.headertext{
  font-family: sans-serif;
  color: white;
}
.maintext{
  color: black;
  font-family: sans-serif;
}
.dev2{
  margin: auto;
  width: 900px;
}
.dev3{
  width: 70%;
}
.dev4{
  margin: auto;
  background-color: #f0f0f0;
  width: 900px;
  padding: 10px;
}
.dev7{
  float: left;
  box-sizing: border-box;
  width: 50%;
}
.dev8{
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 32px;
}
.dev9{
  margin: auto;
  width: 500px
}
th{
  background-color: #0f7dc2;
  color: white;
  font-family: sans-serif;
  text-align: left;
}
.de10{
  margin: auto;
}
