body {
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}

header {
  height: 120px;
  padding: 10px;
  background-color: #0099e1;
  color: white;
}

header a {
  color: white;
  padding-right: 10px;
}

header h1 {
  padding: 35px 0;
}

main {
  padding: 10px;
}

#top_section {
  padding-top: 20px;
}

#support {
  background-color: #eee;
  height: 90px;
  padding: 10px;
}

#support h1 {
  padding-top: 20px;
}

h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
}

td {
  padding: 0 3px;
}
