
body {
  font-family: 'Arial', sans-serif;
}

header, main, footer {
  width: 1024px;
  margin: auto;
}

header {
  background-color: #0071c5;
  padding: 10px;
}

header h1 {
  font-weight: 100;
  font-size: 60px;
  color: #fff;
}

header a {
  color: #fff;
}

body .nav-link {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
}
main < h2 {
  font-size: 28px;
  font-weight: 200;
}

main aside h3 {
  font-size: 24px;
  font-weight: 200;
}

main > p {
  font-size: 16px;
  color: #555;
}

aside {
  background-color: lightgray;
  padding: 15px;
}
