header {
  background-color: blue;
  padding-top: 18px;
  padding-left: 8px;
}

h1 {
  color: white;
  font-family: Arial,sans-serif;
}
a {
  color: white;
  font-family: arial,sans-serif;
  }
a#i7 {
  padding-right: 15px;
}
