body {
    background-color: gray;  
    background-image: url("../img/airline.jpg");
    width: 100%;
    Height: 100vh;
    background-repeat: no-repeat;
    color: white;
    font-family: "Futura";
    Background-size: cover;
    margin: 0px;
    padding: 0px;
}
nav {
    background-color: #0c3657;
    border-bottom: 1px solid white;
    border-color: white;
    height: 81px;
    width: 100vw;
    padding: 0px;
    Margin: 0px;
}
nav .logo-nav-container {
    display: inline-block;
    box-align: left;
    background-color: yellow;
    box-sizing: border-box;
    height: 60px;
    width: 49%;
}

nav .buttons-nav-container {
    display: inline-block;
    box-sizing: border-box;
    background-color: red;
    height: 60px;
    width: 49%;
}