body {
  background: url("../img/airline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #fff;
  -webkit-background-size: cover;
}

.navlink img {
  margin-right: 5px;
  align-items: flex-start;
}

.navlink li {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
}

.navlink a {
  text-decoration: none;
  color: #fff;
}

.inputleft {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.inputleft p {
  display: inline-block;
  order: 3;
}

.inputleft select {
  order: 3;
}

.inputright {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.details {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  order: 1;
  flex-wrap: wrap;
}

.whiterow {
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
}

.button {
  order: 99;
}

.content {
  margin-top: 100px;
  margin-left: 75px;
}

.customerform {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 400px;
  border-radius: 2px;
}

.customerform div {
  padding: 10px;
  border-radius: 2px;
}

.searchtype {
  display: flex;
  order: 1;
  background-color: rgb(33, 167, 143);
  padding: 0 !important;
}

.flight {
  order: 1;
  width: 33%;
  text-align: center;
}

.choice {
  order: 1;
  width: 33%;
  text-align: center;
}

.searchtype .flight {
  background-color: #0063b7;
}

.inputcontain {
  padding: 20px;
  order: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  background-color: #193a55;
}

.passengers {
  display: flex;
  justify-content: space-between;
}

.inputmain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 !important;
}

div {
}

button {
  background-color: #0063b7;
  border: none;
  width: 100%;
  color: #fff;
  height: 40px;
  border-radius: inherit;
  letter-spacing: 1px;
  font-size: 0.8em;
}

input {
  height: 40px;
  margin: 5px;
  padding-left: 10px;
  border-radius: inherit;
}

select {
  width: 50px;
  height: 40px;
  display: inline;
}

.top {
  background-color: #193a55;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  border-bottom: 2px solid #fff;
}

.logo {
  order: 1;
}

.header {
  background-color: darkblue;
}

head {
  background-color: darkblue;
  width: 100%;
  padding: 5px;
}

p,
input[type="radio"] {
  font-size: 0.9em;
  vertical-align: middle;
}

logo {
  color: black;
  width: 50;
}

link {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-emphasis-color: white;
  font-size: 5px;
}
