body{
  background: url("../img/airline.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;

}
.top{
  background: #193A55;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.logo{
  width: 50%;
  position: relative;
}

.nav{
  position: relative;
  right: 5%;
  margin-left: 5%;
  box-sizing: border-box;

}

.nav li{
  display: inline-block;
  margin: 0 10px;

}

.nav-links{
  float: left;
  margin: 0 5px;
}

.nav img{
  float: left;

}

.nav a{
  text-decoration: none;
  color: #ffffff;
}

.main-link{
  color: #027E7C;
  font-weight: bold;
}

.nav a:hover:not(.main-link){
  color: #027E7C;
}

.content-box{
  background: #123754;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 500px;
  height: 400px;

}

.icons {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  float: left;
  background: #018D80;
}

.icons li {
  display: inline-block;
  padding: 0 58.336px;
  float: left;
  /*box-sizing: border-box;*/

}

.main-form{
  background: #0063B7;
}

.icons li:hover:not(.main-form) {
  background: #0063B7;
}

.destination, .passenger-info{
  position: relative;
  height: 100%;
  width: 100%;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.formField{
  border: 3px solid #ffffff;
  background: #123754;
  margin: 15px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.passenger-info .formField{
  width: 90px;
  margin-left: 10px;
  color: #ffffff;
}

main label{
  color: #ffffff;
  font-size: 15px;
}

.bttn-Submit{
  border: none;
  position: relative;
  height: 50px;
  top: 30px;
  margin: 0 5%;
  background: #0D67BD;
  color: #ffffff;
  text-align: center;
  align-items: center;
  width: 90%;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
