body {
  background-image: url("../img/airline.jpg");
  background-repeat: no-repeat;
  background-color: #193A55;
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Slabo 27px', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
  background-color: #193A55;
  border-bottom: 1px solid white;
  padding-right: 100px;
  height: 85px;
}

.logo {
  float: left;
  padding-left: 35px;
  max-width: 350px;
  height: auto;
}

.sidebar a {
  padding: 30px 10px 5px 5px;
  color: #f2f2f2;
  float: right;
  font-size: 15px;
  opacity: .7;
}

.sidebar a.active {
  color: #018D80;
}

.sidebar a:hover {
  color: #018D80;
}

.form {
  background-color: #193A55;
  width: 420px;
  height: 360px;
  margin: 90px 0px 0px 90px;
  float: left;
}

.icon-bar {
  display: block;
  background-color: #018D80;
  height: 50px;
}

.icon-bar a {
  display: block;
  background-color: #018D80;
  text-decoration: none;
  padding: 10px 55px 10px 55px;
  float: left;
}

.icon-bar a:hover {
  background-color: #0063B7;
}

.icon-bar a.active {
  background-color: #0063B7;
}

input[type=text] {
  width: 40%;
  padding: 15px;
  margin: 35px 20px 10px 20px;
  box-sizing: border-box;
  background-color: #193A55;
  font-size: 13px;
  color: rgba(242, 242, 224, .4);
  border-radius: 5px;
}

input[type=date] {
  width: 40%;
  padding: 15px;
  margin: 10px 20px 0px 20px;
  box-sizing: border-box;
  background-color: #193A55;
  font-size: 13px;
  color: #f2f2f2;
  border-radius: 5px;
}

.passengers {
  float: left;
  margin: 20px 15px 20px 20px;
  font-size: 13px;
  color: #f2f2f2;
}

select {
  width: 18%;
  height: 50px;
  margin: 20px 18px 0px 20px;
  background-color: #193A55;
  font-size: 13px;
  color: #f2f2f2;
  border: 1.5px solid white;
}

.radio {
  color: #f2f2f2;
  font-size: 13px;
  float: right;
  padding: 33px 60px 0px 10px;
}

button {
  border: none;
  padding: 8px;
  color: #f2f2f2;
  margin: 20px 10px 0px 10px;
  background-color: #0063B7;
  text-align: center;
  cursor: pointer;
  width: 400px;
  font-size: 15px;
  display: block;
}
button:hover {
}
