body {
    margin: 0;
    padding: 0;
    background-image: url('../img/airline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "roboto", sans-serif;
    color: white;
}
nav {
    height: 81px;
    background-color: rgb(16, 22, 80);
    border-bottom: 1px solid;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain, cover;
}
li {
    float:right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "roboto", sans-serif;
}
.trip-box {
    margin-top: 90px;
    margin-left: 90px;
    height: 400px;
    width: 560px;
    border-radius: 5px;
    background-color: #123754;
}
.top-three-button {
    height: 15%;
    width: 100%;
    background-color: white;
}
.top-three-button .header-button-inactive {
    box-sizing: border-box;
    height: 100%;
    width: 32%;
    float: left;
    background-color: blue;
}
.trip-bottom-box {
    position: relative;
    height: 80%;
}
.search-button-box {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color:white;
}
.search-button-box .search-button {
    box-sizing: border-box;
    height: 90%;
    width: 96%;
    background-color: blue;  
}
