.boxy {
border: red 1px solid;
}
body {
  background: blue;
  margin: 0px;
}
main {
  width: 1024px;
  height: 720px;
  margin: auto;
  background-image: url("../img/airline.jpg");
  background-size: cover;
}
header {
  height: 62px;
  width: 100%;
  background-color: #123754
}
.logo {
  height: 60px;
}
menu {
  height: 40px;
  width: 500px;
  float: right;
  margin-right: 30px;
}
.content {
  width: 100%;
  height: 658px;
}
#searchMenu {
  height: 300px;
  width: 400px;
  float: left;
  margin-left: 100px;
  margin-top: 150px;
}
#search {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
}
.tabs {
  width: 33%;
  height: 80px;
  float: left;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.tabs img {
  margin-left: 40px;
  margin-top: 15px;
}
