/*header, main, section {
  border: 1px solid red;
}*/

header {
  height: 82px;
  background-color: rgb(25,58,85);
  border-bottom: 1px solid white;
}

*, *::after, *::before {
  font-family: "Arial";
}

main {
  height: 600px;
  background-image: url("../img/airline.jpg");
  background-size: cover;
  background-size: auto;
}

#logo {
  float: left;
  padding-left: 30px;
}

#top_nav_master {
  float: right;
  padding: 30px 70px 30px 0px;
}

.top_nav {
  padding: 0px 10px 0px 10px;
  color: white;
  text-decoration: none;
  float: right;
  font-family: "Calibri";
}

.top_nav_logo {
  width: 11px;
}

.main_nav {
  height: 365px;
  width: 400px;
  background-color: rgb(25,58,85);
  position: relative;
  border-radius: 5px;
  top: 100px;
  left: 70px;
}

.nav_tab {
  width: 33.333%;
  height: 15%;
  float: left;
  border-radius: 5px;
  background-color: rgb(1,141,128);
}

.main_nav_logo {
  width:30%;
  padding: 0px 40px 0px 40px;
  margin: auto;
}
