body {
  background-image: url("../img/airline.jpg");
  height: 100%;
  position: relative;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
}

.navbar {
  height: 81px;
  text-align: right;
  color: white;
  background-color: #163a56;
  box-sizing: border-box;
  width: 920px;
  padding: 30px;
  border: 1px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.box {
  position: absolute;
  top: 170px;
  left: 70px;
  width: 300px;
  background-color: #163a56;
  padding-bottom: 20px;
}

.icons {
  width: 33%;
  background-color: teal;
  float: left;
  text-align: center;
}

.icons:hover {
  background-color: #0063B7;
}

button {
  background-color: #0063B7;
  padding: 10px 100px 10px 100px;
  margin-top: 15px;
  margin-left: 12px;
  color: white;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.icons img {
  height: 30px;
}

input[type="text"], input[type="date"] {
  height: 25px;
  background-color: transparent;
  color: white;
  width: 130px;
}

label {
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

select {
  background-color: transparent;
  height: 30px;
  width: 45px;
}

.top {
  padding-top: 25px;
}

.middle {
  padding-top: 15px;
  padding-bottom: 15px;
}

.first {
  margin-left: 9px;
  margin-right: 8px;
}