header{
background:#123754;
}

.logo{
  float:left;
}
nav div{
  float:left;
  margin:3px;
  height: 60px;
  width: 60px;
  }
header nav div img{
  height: 20px;
  width: 20px;
  float:left;
  }
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
body{
  background-image: url("../img/airline.jpg");
  background-repeat: no-repeat;}

  main{
      background-color:#00004d;
      height:300px;
      width: 450px;
      position:relative;
      top:103px;
      left:50px;
      /*display: inline-block;*/
}

.booking-options{
  background-color:teal;
  height:70px;
}

main div div{
  float:left;
  margin:4px;
}

main div nav div img{
background-color: blue;
height: 50px;
width:70px;



}


.radio-buttons{
  color:white;
}
