body {
  background-image: url("../img/airline.jpg");
  height: 100vh;
  background-size: cover;
}

header {
  background-color: #193A55;
}

.nav-bar {
  padding-left: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: white 1px solid;
  height: 81px;
  color: #0B164C;
  vertical-align: top;
}

.nav-bar image {
  float: left;
}

.nav-bar ul {
  margin: 0;
  padding-top: 40px;
  padding-right: 140px;
  display: inline-block;
}

image {
  background-color: #0B164C;
}

ul {
  float: right;
}

li {
  display: inline;
  margin: auto;
  padding: 0px;
  color: whitesmoke;
}

article {
  background-color: #193A55;
  padding: 0px;
  margin: 200px;
  width: 458px;
  height: 500px;
  border: 0px;
}

.main-box {
  margin: 0px;
  background: #193A55;
  margin-left: 8vw;
  margin-top: 15vh;

}
.main-box nav {
  background-color: blue;
  width: 33.3%;
  border: none;
  padding: 0px;
  margin: 0px;
}

.main-box {
  width: 600px;
  height: 450px;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
}