@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
  background-image: url(https://github.com/konarie1990/web-workbook/blob/gh-pages/03week/airplane/img/airline.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  font-family: 'Lato', sans-serif;
  min-width: 800px;
}

header {
  background-color: #1B3B54;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid grey;
  font-size: 12px;
}

.toplist {
  width: 100%;
  height: 60px;
  border: 50px;
  border-color: pink;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  height: 67px;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 0px;
  
}

.toplist > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 33px;
  text-decoration: none;
  color: white;
  float: right;
}

form {
  background-color: rgb(19,55,83);
  width: 330px;
  height: 220px;
  margin-top: 70px;
  margin-left: 60px;
  border-radius: 6px;
  padding: 0;
  border: 0;
  color: white;
}

.radio-group img {
  margin-top: 8px;
  width: 50%;
  background-color: rgb(11,141,128);
}

.radio-group img:first-child {
  background-color: rgb(2,99,179);
}

.button {
  display: inline-block;
  padding-left: 17%;
  background-color: rgb(11,141,128);
  border: 0;
}

.textinput {
  display: inline-block;
}

.searchflights {
  background-color: rgb(2,99,179);
  width: 80%;
  text-align: center;
}