.topNav {
width: 100%;
height: auto !important;
display: flex;
flex- wrap: wrap;
justify-content: space-between;
align-items:;
border-bottom: 2px solid red;
}

.rightnav {
  justify-content: l;
}

.rightnav li {
  display: flex;
  display: inline-block;
  margin: 0 30px;
  padding: 10px;
  position: relative;

  opacity:
}

.rightnav a {
  text-decoration: none;
  font-sixe: 40px;
  color: grey;
}

.rightnav li a:hover {
  color: red;
}

body {
background-image: url("http://res.cloudinary.com/dcchyrv8j/image/upload/v1494089563/Checkpoint1_nzlax5.jpg") no-repeat center center fixed;
}
