body {
  width: 100%;
}

nav {
  height: 85px;
  background-color: #193A55;
  border-bottom: 1px solid silver;
}

.topnav {
  float: right;
  font-family: 'Open Sans', sans-serif;
  color: silver;
  width: auto;
  margin-top: -50px;
  margin-right: 50px;
}

.home {
  color: #3ca362;
  float: left;
}

.deal {
  float: left;
}

.schedule {
  float: left;
}

.login {
  float: left;
}

main {
  background-image: url('../img/airline.jpg');
  width: 100%;
  height: 720px;
}

.selector {
  background-color: #193A55;
  border-style: 25px dotted black;
  background-origin: border-box;
  height: 390px;
  width: 390px;
  margin-left: 120px;
  /*margin-top: 140px;*/
  image-orientation: inherit;
}

.selectornav {
  image-orientation: inherit;
}

.planebutton {
  background-color: #3c60a3;
  height: 50px;
  width: 130px;
  text-align: center;
  float: left;
}

.hotelbutton {
  float: left;
  background-color: #3ca362;
  height: 50px;
  width: 130px;
  text-align: center;
}

.carbutton {
  float: left;
  background-color: #3ca362;
  height: 50px;
  width: 130px;
  text-align: center;
}

.departbutton {
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: gray;
  height: 30px;
  width: 130px;
  padding-top: 10px;
  padding-left: 5px;
  margin: 20px;
  float: left;
}

.arrivebutton {
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: gray;
  height: 30px;
  width: 130px;
  padding-top: 10px;
  padding-left: 5px;
  margin: 20px;
  float: left;
}

.datebutton1 {
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: silver;
  height: 30px;
  width: 130px;
  padding-top: 10px;
  padding-left: 5px;
  margin: 20px;
  clear: both;

}

.datebutton2 {
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: silver;
  height: 30px;
  width: 130px;
  padding-top: 10px;
  padding-left: 5px;
  margin: -65px 50px 20px 20px;
  float: right;
}
