.nav {

  display: flex;
  background-color: #123754;

  width: 100%;
  padding: 20px;
  border-bottom: 2px solid white;
  color: white;
  justify-content: space-around;
}

.logo {



}
.nav li{
  margin: 20px;
  list-style: none;
}
.nav li{
  margin: 20px;
  list-style: none;
}

.nav li:hover{
  color: rgb(41, 149, 163);


.nav li:hover{
  color: rgb(41, 149, 163);
}

body {
  background-image: url("../img/airline.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.content {
  display: flex;

  background-color: #123754;
  border-radius: 15px;
  width: 400px;
  height: 350px;
  margin: 100px;
  position: relative;
}

.buttons{
  border-radius: 15px;
  justify-content: center;
}

.buttons .one{
  height: 45px;
  width: 140px;
  background-color: rgb(72, 168, 108);
  position: absolute;
}
.buttons .two{
  height: 45px;
  width: 130px;
  background-color: rgb(72, 168, 108);
  margin-left: 140px;
  position: absolute;
  margin-bottom:
}
.buttons .three{
  height: 45px;
  width: 130px;
  background-color: rgb(72, 168, 108);
  margin-left: 270px;
  position: absolute;
}
.buttons a {

}
.content div a img{
  padding-left: 40px

}

input[type=text]{
  border:2px solid white;
  border-radius: 15px;
  background-color: #123754;
  margin: 20px;
  padding: 15px;
  font-size: 12px;

}
input[type=date]{
  background-color: #123754;
  border:2px solid white;
  color: grey;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;

}

.content .buttons a{
  background-color: rgb(72, 168, 108);
  display: flex;
  margin-top: 0px;
  height: 50px;
  width: 125px;
  border-radius: 15px;

}

.content div a img{


.arrive{
  padding-top:50px;
  position: absolute;
  margin-left: 200px;
}
.content div:hover{
  background-color: rgb(39, 82, 191);

}

.leftside {
  justify-content: flex-start;
  flex-direction: column;
}

.rightside {
  float: right;
}



.search {
  background-color: rgb(39, 82, 191);
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  height: 50px;
  width: 300px;
  border-radius: 15px;

}
