body {
  background-image: url("../img/airline.jpg");
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.top {
  background-color: #193A55;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 50%
  position: relative;
}

.nav {
  position: relative;
  right: 5%;
  margin-left: 5%;
  box-sizing: border-box;
}

.nav-links {
  float: left;
  margin: 0 10px;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}

.nav img {
  float: left;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}
