 body { background-image: url("../img/airline.jpg");
    background-size: cover;
    width: 100%;
    hight: auto;
    }
    .logo {background-position: 60%;
background-color: #183a55;}
.blue_container ul {list-style: none;
}
.blue_container ul li {
    margin: 10px;
    display: inline;
    float: right;
}  
.a {color: #03b5a3;
}
.blue_container ul li img {
    margin-right: 5px;
    margin-top: 10%;
}
.small_bar {height: calc(100vh - 82px);
    position: inline;}
    main {box-sizing: border-box;
      width: 542px;
      height: 386px;
      background: #193a55;
      border-radius: 5px;
      position: absolute;  
      top: 250px;
      left: 50px;
    }
    .section {
      width: 542px;
      height: 386px;
      background: #193a55;
      border-radius: 5px;
      position: absolute; 
      top: 50px;
      left: 50px;
    }
    .small_bar {display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;}
.jeden,
.dwa,
.trzy {display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3); 
  height: 60px;
  background: #018D80;}

.jeden {background: #0063B7; 
  border-top-left-radius: 5px;
}
.trzy { border-top-right-radius: 5px;
}
.bbb1 {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding-top:50px
}
.bbb2 { display:flex;
  flex-direction:row;
  padding-bottom:50px;
  padding-top:20px;
  justify-content:space-around;}

.box1, .box2, .box3, .box4 {
  width: 175px;
  height:40px;
  border: 2px solid;
  border-color:white;
  border-radius:2px;
  color:white; 
}
.bbb3 {
  display:flex;
}
p {
  color:white;
  padding-left:50px;
}
.box5 {
  width:70px;
  height:40px;
  border: 2px solid white;
  color:white;
  border-radius:2px;
  margin-left:15px;
}
.R {
  color:white;
  padding-left:110px;
}
.O {
  color:white;
  padding-left:20px;
}

    