* {
    box-sizing: border-box
} 
body {
    background-image: url("../img/airline.jpg");
}
  .top {
    display:flex;
    width:100%;
    background: #193A55;
    border-bottom: 1px solid white;
    align: items-center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  html, body{
    padding: 0;
    margin: 0;
  }
  #nav{
    position:relative;
    right: 7%;
    margin-right: 30px;
    color: #fff;
    margin-top: 30px;
  }
  #nav li{
    display: inline-block; 
    list-style-type:none;
    margin: 10px;
  }
  #nav>li:hover{
    color: #0eb5a3;
  }
  html, body {
    font-family: 'Roboto', sans-serif;
}
section{
  width: 425px;
  height: 390px;
  background: #193a55;
  border-radius: 5px;
  position: absolute;  
  top: 180px;
  left: 110px;
}

.tabs {
    display: flex;
  }
  .tab1{
    border-top-left-radius: 5px; 
  }
  .tab3{
    border-top-right-radius: 5px;
  }
  .tab1, .tab2, .tab3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3); /* take up 1 third each */
    height: 60px;
    background: #018D80;
  }
  .tabs :hover{
      background:#0063b7;
  }
  .wrapper1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top:50px
  }
  .wrapper2 {
    display:flex;
    flex-direction:row;
    padding-bottom:50px;
    padding-top:20px;
    justify-content:space-around;
  }
  .box1, .box2, .box3, .box4 {
    width: 175px;
    height:45px;
    border: 2px solid;
    border-color:white;
    border-radius:2px;
    color:white;
    padding: 10px; 
  }
  .wrapper3 {
    display:flex;
  }
  
  p {
    color:white;
    padding-left:20px;
    float:left;
  }
  .box5 {
    width:70px;
    height:40px;
    border: 2px solid white;
    color:white;
    border-radius:2px;
    margin-left:15px;
    background-color: #193a55;
  }

  .R {
    color:white;
    padding-left:20px;
  }
  
  .O {
    color:white;
    padding-left:20px;
  }
  .button{
    height: 40px;
    margin:10px;
    background-color: #0d67bd;
    color: white;
    border-radius:5px;
    display: flex;
    justify-content: center;
    width:95%;
    font-family: 'Roboto', sans-serif;
    border:none;
  }
  
