html, body {
  margin: 0 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background: url("../img/airline.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #193A55;
  height: 15%;
  border-bottom: 2px solid white;
}

.logo {
  padding-top: 10px;
  float: left;
}

ul {
  padding-right: 20px;
  list-style: none;
  float: right;
}

li {
  padding-top: 30px;
  display: inline-block;
}

li:hover {
  color: #00c6b3;
  cursor: pointer;
}

li img {
  margin:0 10px;
}

.jumbotron {
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}

.searchbox {
  display: flex;
  position: absolute;
  background-color: #193A55;
  height:360px;
  width: 400px;
  margin-top: 100px;
  margin-left: 75px;
  border-radius: 10px;
}

.btn {
  width: 33.3333%;
  height: 50px;
  background-color: #00c6b3;
}

.btn:hover {
  height: 60px;
  padding-top: 10px;

  cursor: pointer;
}

.btn1 {
  border-top-left-radius: 10px;
  background-color: blue;
}

.btn3 {
  border-top-right-radius: 10px;
}
.btn img {
  height: 40px;
  padding-left: 45px;
  padding-top: 5px;
}

*:focus {outline: none;}

.depart {
  margin: 75px 13px;
  position: absolute;

}

input {
  font-size: 14px;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #193A55;
  font-family: inherit;
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

select {
  height: 50px;
  width: 69px;
  margin-left: 5px;
  border: 2px solid white;
  background-color: #193A55;
  color: white;
  font-size: 14px;
}

button {
  bottom: 0;
  position: absolute;
  background: blue;
  margin: 15px 20px;
  height: 42px;
  width:90%;
  color: white;
  font-size: 14px;
  border-style: none;
}

button:hover {
  background-color: darkblue;
  cursor: pointer;
}
.radio {
  position: absolute;
  width: 170px;
  height: 50px;
  margin-top: 225px;
  margin-left: 210px;
  display: flex;
font-size: 14px;
}

.radio input {
  width: 30px;
  word-wrap: nowrap;

  margin: 15px 0px 0px 0px;
}

.radio label {
  width: 75px;
  padding-top: 27px;

}

.passengers {
  position: absolute;
  margin-left: 25px;
  margin-top: 235px;
}

.passengers label {
  font-size: 25px;
}
