/*header, main {
  border: 1px solid red;
}*/
header {
  height: 70px;
  background-color: #193a55;
  border-bottom: 1px solid white;
}
main {
  height: 600px;
  background-image: url("../img/airline.jpg");
  background-size: cover;
}
nav {
  position: relative;
  float: right;
  padding-right: 80px;
  padding-top: 30px;
}
.logo {
  width: auto;
  height: 67px;
  position: relative;
  padding-left: 20px;
}
section {
  height: 305px;
  width: 335px;
  background-color: #193a55;
  position: relative;
  top: 50px;
  left: 70px;
}
a {
  color: #cccccc;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  padding-right: 15px;
  font-size: 13px;
}
a:hover{
  color: cyan;
}
.car, .hotel, .plane {
  position: relative;
  float: left;
  padding-top: 10px;
}
.car {
  padding-left: 31px;
  padding-right: 31px;
  background-color: #018d80;
}
.hotel {
  padding-left: 31px;
  padding-right: 31px;
  background-color: #018d80;
}
.plane {
  padding-left: 31px;
  padding-right: 30px;
  background-color:
#0063b7;
}
.searchForm {


}
.depart {
  position: relative;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 67px;
  width: 50px;
  height: auto;
  border-radius: 2px;
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 1px solid white;
  text-align: left;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
}
.arrive {
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  position: relative;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 70px;
  width: 50px;
  height: auto;
  border-radius: 2px;
}
.departDate {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 1px solid white;
  margin-left: 18px;
  margin-right: 4px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 2px;
  position: relative;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 45px;
}
.arriveDate {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  border: 1px solid white;
  margin-left: 15px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 2px;
  position: relative;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 45px;
}
.passenger {
  position: relative;
  float: left;
  padding-left: 7px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 6px;
  margin-left: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.passDropdown {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: ;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 12px;
}
.radioForm {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10;
  margin-right: 180;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.searchFlights {
  position: relative;
  float: left;
  padding-left: 109px;
  padding-right: 109px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0063b7;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 13px;
}
