/*header, main  {
  border: 1px solid red;
}*/

header {
    height: 100px;
    background-color: #193A55;

}
header::after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
  padding: 10px 0;
}
main {
   height: 600px;
   background-image: url("../img/airline.jpg");
   background-size: cover;
}
section {
   width: 335px;
   height: 305px;
   background-color: #193A55;
   position: relative;
   top: 50px;
   left: 50px;
}



  nav {
    float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: 000#;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
