.img {
  margin-top: -20%;
  background-size: cover;
}
.img h1 {
  position: relative;
  text-align: center;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: -45%;
  font-family: sans-serif;
}
div img {
  padding-top: 50px;
  width: 100%;
  object-fit: cover;
}
#div1 {
  margin-top: 40%;
}
#div2 {
  text-align: center;
  background-color: lightgrey;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#div2a {
  background-color: white;
  margin: 10% 20%;
  padding: 10% 0;
}
#div2b {
  background-color: lightgreen;
  margin: 10% 20%;
  padding: 10% 0;
}
.visible-xs-block {
  font-family: monospace;
}
#div2 h4 {
  font-size: 30px;
  font-weight: bold;
}
#div2 p {
  font-size: 30px;
}
#li1 {
  font-weight:800;
}
#div2 a {
  font-size: 16px;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px 13px;
  margin-top: 20px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 32px;
  }
}
