.chair {
  text-align: center;
  background-image: url("../img/chair.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
  padding-top: 165px;
}

.title {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 500;
}

.bigmountain {
  height: 256px;
  width: 349px;
}

.photos-one {
  margin-top: 25px;
}

.lower-pic {
  margin-top: 50px;
}

.price {
  height: 200px;
  background-color: #F0F0F0;
  font-family: 'Roboto Mono';
  text-align: center;
  padding-top: 35px;
}

.price h2 {
  font-size: 45px;
}

.plan-one {
  height: 720px;
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.silver {
  background-color: white;
  text-align: center;
  height: 680px;
  padding-top: 20px;
  line-height: 42px;
}

.gold {
  background-color: #D7F7E3;
  text-align: center;
  height: 680px;
  padding-top: 20px;
  line-height: 42px;
}

h4 {
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-size: 35px;
  font-family: 'Roboto Mono';
}

p {
  font-size: 18px;
  font-family: 'Roboto Mono';
  font-weight: 100;
}

.robo-bold {
  font-family:'Roboto Mono';
  font-weight: 500;
}


.btn {
  background-color: #575757;
  margin-top: 35px;
}
