.desk {
    background-image: url("http://bone.themanoid.com/images/office/03.jpg");
    background-size: cover;
    height: 80vh;
    text-align: center;
    transform: translate3d(0px, 13.2px, 0px);
}
.desk h1 {
    font-size: 5em;
    padding-top: 350px;

}
.phone{
  text-align: center;
}

.phone2 {
    background-color: #d7f8e5;
}
img {
    width: 100%;
    margin: 20px 0;
}
.grid {
    padding: 0 100px;
}

.phone h3{
  font-size: 2.75em;

}
ul{
  list-style: none;
}

.button{
  font-size: 2em;
  background-color: black;
  color:white;
  padding:5px 20px;
}

.font1{
  font-weight: bolder;
}
.background{
  background-color: black;
}
