#intro {
  height: 600px;
  text-align: center;
  background-image: url("http://bone.themanoid.com/images/office/03.jpg");
  background-position: bottom;
  background-size: cover;
}
#intro h1 {
  margin-top: 120px;
}
.hover-show {
  padding: 150px 0px 0px 30px;
}
.hover-show2 {
  padding: 375px 0px 0px 30px;
}
.hover-show, .hover-show2 {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, .0);
  font-family: 'Cutive Mono', monospace;
  background-color: rgba(0, 0, 0, .0);
  transition: all 500ms ease;
}
.hover-show h2, .hover-show2 h2 {
  font-size: 20px;
}
.hover-show:hover, .hover-show2:hover {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  transition: all 500ms ease;
}
#land {
  background-image: url("http://bone.themanoid.com/images/thumbs/07.png");
  background-position: center;
  background-size: cover;
}
#mars {
  background-image: url("http://bone.themanoid.com/images/thumbs/04.png");
  background-position: center;
  background-size: cover;
}
#plan {
  background-image: url("http://bone.themanoid.com/images/thumbs/02.png");
  background-position: center;
  background-size: cover;
}
#concept {
  background-image: url("http://bone.themanoid.com/images/thumbs/05.png");
  background-position: center;
  background-size: cover;
}
#suit {
  background-image: url("http://bone.themanoid.com/images/thumbs/03.png");
  background-position: center;
  background-size: cover;
}
.smthumb {
  height: 250px;
  margin: 20px 10px;
}
.lgthumb {
  height: 520px;
  margin: 20px 10px;
}
#pricing {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #f0f0f0;
  padding: 5px 15px;
}
#pricing h2 {
  font-size: 40px;
  padding: 15px 10px;
}
#pricing h1 {
  display: inline-block;
}
.light {
  color: rgb(200, 200, 200);
}
h4 span {
  font-size: 15px;
}
h4 {
  margin: 30px 0px;
}
#silver {
  background-color: white;
}
#gold {
  background-color: #d7f7e3;
}
#silver, #gold {
  padding: 15px 0px 30px 0px;
  margin: 10px;
}
a {
  background-color: black;
  padding: 10px 15px;
}
a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) {
  #intro {
    height: 300px;
    padding: 0px 50px;
  }
  #intro h1 {
    margin-top: 60px;
    font-size: 40px;
  }
}
