.body {
    margin 0 auto;
    font-size: 16px;
}

header {
    margin-top: 5%;
}

.hero {
    background-image: url("../img/desk.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 700px;
}

.hero h1 {
    text-align: center;
    font-size: 4.5em;
    margin-top: 20%;
}

/*//// end hero ////*/

.portfolio {
    margin-top: 2%;
    width: 100%;
}

.smaller {
	height: 264px;


}
.larger {
	height: 563.5px;
	
}
.box {
  cursor: pointer;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 400px;
}

.box img {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.box .overbox {
  position: absolute;
  color: white;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  
  height: 100%;
}

.box:hover .overbox { opacity: 1;}



/*//// end portfolio ////*/
