header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("http://bone.themanoid.com/images/office/03.jpg");
    height: 400px;
}
h1 {
    text-align: center;
    line-height: 250px;
    font-size: 54px;
}
main {
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.left-top{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://bone.themanoid.com/images/thumbs/07.png");
  height:250px;
}
.left-bottom{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://bone.themanoid.com/images/thumbs/04.png");
}
.middle-top{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://bone.themanoid.com/images/thumbs/02.png");
}
.middle-bottom{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://bone.themanoid.com/images/thumbs/05.png");
}
.right{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://bone.themanoid.com/images/thumbs/03.png");
}
@media (max-width: 768px) {
    header {
        height: 500px;
    }

    section {}
}
