.body {
    margin: 0 auto;
    font-size: 16px;
}

header {
    margin-top: 5%;
}

.hero {
    background-image: url("../img/desk.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 700px;
}

.hero h1 {
    text-align: center;
    font-size: 4.5em;
    margin-top: 20%;
}


/*//// portfolio images ////*/

.portfolio {
    margin-top: 2%;
    width: 100%;
}

.img-link {
    display: inline-block;
    position: relative;
}

.side img {
    height: 264px;
    width: 100%;
    padding-bottom: 8%;
}

.suit img {
    width: 350px;
    height: 501.5px;
}


/*///// Text over images ////*/

.img-link a {
    text-decoration: none;
    opacity: 0;
}

h4 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    color: #EFEFEF;
    font-size: .825em;
}

h3 {
    position: absolute;
    top: 44%;
    left: 10%;
    width: 80%;
    color: white;
}

.side p {
    position: absolute;
    top: 66%;
    left: 10%;
    width: 80%;
    color: #EFEFEF;
    font-size: 1em;
}

.suit h3 {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
}

.suit p {
    position: absolute;
    top: 87%;
    left: 10%;
    width: 80%;
    color: #EFEFEF;
    font-size: 1em;
}

.huv {
    opacity: 0;
}

.all:hover .huv {
    opacity: 1;
}


/*//// not working right ////*/

/*.all img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}*/


/*//// end portfolio ////*/


/*//// start of mobile ////*/

.plans {
    background-color: #F0F0F0;
    border-bottom: 1px solid black;
    text-align: center;
}

.window {
    width: 86%;
    margin-left: 7%;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
}

.silver {
    background-color: #FFFFFF;
}

.gold {
    background-color: #D7F7E3;
}

.diamond {
    background-color: #FFFFFF;
}

.window h2 {
    font-size: 3em;
    padding-top: 5%;
    padding-bottom: 8%;
}

.price {
    color: black;
    font-size: 2.5em;
    padding-bottom: 8%;

}

.price span {
    font-size: .5em;
}

.list-one {
    font-size: 1.5em;
    font-weight: bold;
}

.list-two {
    font-size: 1.5em;
    color: #D4D4D4;
    padding-bottom: 10%;
}

.window a {
    background-color: #2D2D2D;
    color: white;
    font-size: 2em;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8%;
}
