header img{
  width:100%;
  height:600px;
}
header{
  margin-bottom: 20px;
}
.overlay{
  position:absolute;
  z-index: 100;
  font-weight:normal;;
  font-family: sans-serif;
  color: black;
  text-align: center;
  vertical-align: middle;
  margin-top: -400px;
  margin-left: 450px;
  font-size: 60px;
}
.grid {
  height: 250px;
}

@media (max-width: 375px) {
  h1{
    text-align: center;
  }
  h2{
    font-weight: normal;
    text-align: center;
    width: 50%;
    margin-left: 75px;
    margin-bottom: 0px;
  }
  header img{
    height:610px;
    margin-bottom: 0px;
  }
.overlay{
width: 50%;
text-align: center;
margin-left: 65px;
font-size: 40px;

}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
header{
  margin-bottom: 0px;
}
}
img{
  width:100%;
  margin-bottom: 20px;

}

.btn{

  border-radius: 0;
  font-weight: 400;
  padding: 15px;

  }
  a {
    color: white;
    text-decoration: none;
    background-color: #404040;
    margin-top: 10px;
    font-weight: 600;

  }
  .pic{
    height:520px;
  }

.containertwo{

  background-color:#d3d3d3;

}
.well{
  margin-bottom: 0px;
}

.silverbox{
 background-color: white;
 width: 50%;
margin-left: 75px;


}
.goldbox{
  background-color:#AEFFBD;
  width:50%;
  margin-left: 75px;
}
