body{
  font-family: Helvetica;
}

main{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 800px;
  margin: auto;
}
header{
  display: flex;
  background-color: yellow;
  width: 600px;
}

header p{
  margin:0 auto;
  font-size: 80px;
}

#quotesContainer{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

#quotesContainer div{
  height: 150px;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#quotesContainer div p:nth-child(2){
  align-self: flex-end;
}

div{
  color: yellow;
  background-color: #aa42f4;
}

h2{
  color: white;
  margin: 0 auto;
  padding-top: 35px;
}

#membershipsContainer{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#membershipsContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #a8a8a8;
  width: 700px;
  height: 125px;
  font-size:35px:
}

form section{
  width: 300px;
  font-size: 20px;
  align-self: center;
}

input{
  border: 2px solid black;
}
