*{
  border:1px solid cyan;
}

body{
  font-family: Helvetica;
}

main{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 800px;
  margin: auto;
}
header{
  display: flex;
  background-color: yellow;
  width: 600px;
}

header p{
  margin:0 auto;
  font-size: 80px;
}

#quotesContainer{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

#quotesContainer div{
  height: 150px;
  width: 290px;
}

div{
  color: yellow;
  background-color: #aa42f4;
}

#membershipsContainer{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#membershipsContainer div{
  text-align: center;
  width: 150px;
  height: 150px;
}

form{
  background-color: #f2f2f2;
  width: 600px;
  height: 125px;
}
