*{
  border:1px solid black;
}

body{
  font-family: Helvetica;
}

main{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}
header{
  display: flex;
  justify-content: center;
  background-color: yellow;
  width: 600px;
  margin: auto;
}

header p{
  margin:0 auto;
  font-size: 80px;
}

#quotes{
  display: flex;
  justify-content: space-between;
}

div{
  color: yellow;
  background-color: #aa42f4;
}
