body {
  font-family:sans-serif;
  background-color: black;
  margin:auto 100px;
}

header {
  background-color: yellow;
  height:90px;
  font-size:2em;
  text-align: center;
}

.quotes {
  display: flex;
  flex-direction: column;
  color:yellow;
  background-color: #9825FB;
  flex:1 1 auto;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
}

.quotes p:first-child {
  align-self: flex-start;
}

.quotes p:nth-child(2) {
  align-self: flex-end;
}
