


div.wrapper {
  width: 70%;
  margin: auto;
  background-color: black;
  padding-top: 50px;
}

nav {
  background-color: yellow;
  width: 70%;
  margin: auto;
  height: 100px;
  text-align: center;
}

nav h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 100px;
  margin: 0px;
}

div.testimonials {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

div#arnold {
  background-color: #EE82EE;
  margin-left: 50px;
  height: 150px;
  width: 300px;
  margin-right: 5px;
  color: yellow;

}
div#terminator {
  background-color: #EE82EE;
  margin-right: 50px;
  height: 150px;
  width: 300px;
  margin-left: 5px;
  color: yellow;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 60px;
}

div.membershiplevels {
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
}

div#bronze, div#silver, div#gold {
  height: 120px;
  width: 120px;
  background-color: #EE82EE;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.membershiplevels p {
  margin-top: -20px;
}

h3 {
  padding-top: 20px;
}
.membershiplevels p {
  padding-top: 0px;
  text-align: center;
}

footer {
  display: flex;
  background-color: lightgray;
  width: 80%;
  height: 120px;
  margin: 30px auto;
  justify-content: space-between;;
}

div.empty {
  visibility: hidden;
}

div.nameemailwrapper {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 22px;
}

form#phoneinput {
  margin-top: 20px;
  margin-right: 20px;
}

button {
  height: 40px;
  width: 275px;
  margin-top: 10px;
  border: 3px solid black;
}

input[type="text"] {
  width: 160px;
  height: 20px;
  border: 1px solid black;
}
