body {
  background-color: black;
  margin: auto;
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  /*line-height: 50px;*/
  width: 80%;
  margin: 5% 10% 5% 10%;
}

h1 {
  font-size: 5em;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 200px;
  /*background-color: red;*/

}

.quote {
  background-color: #B400FF;
  color: yellow;
  width: 48%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bold {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 0 10px;
  /*padding: 0;*/
}

.light {
  font-size: 30px;
  margin-right: 10px;
  /*padding: 0;*/
  align-self: flex-end;
}

h2 {
  color: white;
  text-align: center;
  margin: 5%;
  font-size: 3em;
}

.levels {
  background-color: #B400FF;
  color: yellow;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.upper {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.lower {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
