


div.wrapper {
  width: 70%;
  margin: auto;
  background-color: black;
  padding-top: 50px;
}

nav {
  background-color: yellow;
  width: 70%;
  margin: auto;
  height: 100px;
  text-align: center;
}

nav h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 100px;
  margin: 0px;
}

div.testimonials {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

div#arnold {
  background-color: #EE82EE;
  margin-left: 50px;
  height: 150px;
  width: 300px;
  margin-right: 5px;
  color: yellow;

}
div#terminator {
  background-color: #EE82EE;
  margin-right: 50px;
  height: 150px;
  width: 300px;
  margin-left: 5px;
  color: yellow;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 60px;
}

div.membershiplevels {
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
}

div#bronze, div#silver, div#gold {
  height: 120px;
  width: 120px;
  background-color: #EE82EE;
  text-align: center;
}
