body {
  background-color: black;
  font-family: sans-serif;
  /*margin: auto;*/
  width: 100%;
  height: 100%;
  /*display: flex;*/
}
header {
  display: flex;
  background-color: yellow;
  height: 150px;
  width: 80%;
  /*text-align: center;*/
  margin: auto;
  font-size: 100px;
  /*line-height: 140px;*/
  /*font-weight: lighter;*/
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
section {
  display: flex;
  height: 200px;
  width: 80%;
  padding-top: 30px;
  color: yellow;
  /*justify-content: space-between;*/
  margin: auto;
  justify-content: space-between;
  /*align-items: center;*/
  /*align-content: center;*/


}
section > div {
  display: flex;
  flex-direction: column;
  background-color: darkviolet;
  height: 200px;
  width: 400px;
  justify-content: space-around;
  /*align-content: space-around;*/
  font-size: 23px;
  padding-left: 30px;
  padding-right: 30px;

}
p {
  align-self: flex-end;
  margin: 0px;
}

#mlevels {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  /*font-weight: lighter;*/
  /*background-color: orange;*/
  margin-top: 50px;

  /*margin-top: px;*/
}

footer {
  display:flex;
  width: 80%;
  height: 200px;
  color: yellow;
  /*justify-content: center;*/
  margin: auto;
  justify-content: space-between;
}

footer > div {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  background-color: darkviolet;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}


  /*justify-content: center;*/}
#box-right {
  /*margin-left: 10px;*/

}

#mlevels > a {
  display: flex;
  align-content: center;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#form {
  display: flex;
  /*flex-direction: column;*/
  width: 85%;
  height: 150px;
  background-color: gray;
}

form > div {
  height: 100px;
  font-size: 25px;
}

div#form-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

div#form-right {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  float: right;
}
