body {
  color: black;
  font-size: 20px;
}
#nav {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.btn {
  font-size: 30px;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
}
.bio {
  text-align: center;
  margin-top: 10px;
}
/*Mobile break point*/
@media  (max-height: 700px) and (max-width: 770px) {
  h3 {
    display: none;
  }
  .container{
    margin-bottom: 50px;
  }
  .btn {
    width: 100%;
  }
}
