#videosList {
 max-width: 600px;
  overflow: hidden;
}

.video {

  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

.video {
  position: absolute;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    
}
