.body {
  background: darkolivegreen;
}
#shape {
  border-style: 1px solid black;
  width: 400px;
  height: 100px;
  background-color: green;
  margin: 0 auto;
}
#grad {
  width: 200px;
  height: 100px;
  background-color: green;
  margin: 0 auto;
}
#text {
  width: 200px;
  height: 100px;
  background-color: green;
  margin: 0 auto;
}
