body {
  color: black;
  font-size: 20px;
}
#nav {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
}
a {
  color: black;
  text-decoration: none;
}
.btn {
  font-size: 30px;
  font-family: 'Caveat', cursive;
}
.btn1:hover {
  background-color: black;
  color: red !important;
}
.btn2:hover {
  background-color: black;
  color: yellow !important;
}
.btn4:hover {
  background-color: black;
  color: blue !important;
}
.containersection {
  width: 100%;
  padding: 80px;
  margin: 0;
}
/*Mobile break point*/
@media  (max-height: 700px) and (max-width: 770px) {
  .btn {
    width: 100%;
  }
}
