body {
  background-color: blue;
  margin: 0px;
  padding: 0px;
}

.myCanvas1 {
  width: 400px;
   height: 300px;
   margin-left: 0 auto;
   border-style: solid black;
   border-style: solid;
   border-width: 2px;
   background: radial-gradient(red, yellow, orange, brown);
}

#myCanvas2 {
  width: 400px;
   height: 300px;
   margin: 0 auto;
   
 }
