.loop-vid, .speech-vid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#myCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #0745c1;
}
