
body {
  background-color: black !important;
  background-image: url(../images/TicTacBKG2.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-height: 100%;
  color: #555;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 1%;

}

.box {
  width: 100px;
  height: 100px;
  background-color: #ddf5b8;
  float: left;
  font-size: 75px;
  text-align: center;
  line-height: 82px;
  margin: 0 auto;
  border: 6px solid white;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}

.box-x:before {
  content: "x";
}

.box-o:before {
  content: "o";
}

button {
  position: relative !important;


}

.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
  vertical-align: top !important;
}

.navbar .navbar-collapse {
  text-align: center !important;
}

h2 {
  text-align: center;
  color:white;
}