header {
  text-align: center;

}

body{
  width: 100%;
  background: url("../hink pic.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}


#wow {
  float: right;
  background: lightblue;
  opacity: .7;
  width: 325px !important;
	height: 225px !important;
	border-radius: 70% !important;
	-webkit-border-radius: 70%;
	-moz-border-radius: 70%;
	-o-border-radius:70%;
	border: 3px solid black !important;
  float: left;
}
}

.red {
  text-align: center;
  border-width: auto;
  background: red;
  float: right;
  flex-wrap: wrap;


}

.blue {
  text-overflow: ellipsis;
  background: blue;
  float: inherit;
  flex-wrap: wrap;

}

.green {
  text-decoration: line-through;
  background: green;
  flex-wrap: wrap;
  float: left;

}

.green:hover, .red:hover, .blue:hover{
  background: lightblue;
}


/*FORM*/

.progress {
	background-color: rgb(50, 50, 50);
	height: 30px;
	margin-bottom: 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
  color: lightblue;
}



.progress-bar {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(60,190,68);
  color: lightblue;
}

.progress-bar2 {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(160,110,120);
}
.progress-bar3 {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(140,110,200);
}
.outside{
  flex-flow: row;
}
.form {
  background: grey;
  float: left;
}

.bar-text span {
	padding: 40px 15px;
}

h1 {

  font-family: fantasy;

}


@media screen and (max-width: 752px) {
	#wow, .form{
		background: black;
    border-spacing: 25%;
	}

  @media screen and (max-width: 452px) {
  	#wow, .form, body{
  		background: pink;
    }
      /*width: 100%;*/
      /*background: url("../hink pic.jpg")repeat center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
