.header {
    height: 200px;
    color: darkgray;
    
    
}

.first{
    
font-family: sans-serif;
    color: lightgrey;
    text-align: center;
}

.master{
   float: left; 
   outline: dotted 5px black;
    width:50%;
    
}

.a-one{
    margin-left: 520px;
    text-decoration: underline;
    color: darkseagreen;
}

.laptop-pic {
    width:165px;
    height: 85px;
    float: left;
    
}

.h2 {
  font:arial;
    color: gray;
    
}

.second {
    color: grey;
    font-size: 14px;
    
    
}

.A2H2 {                 /* new headphones class*/
   font-family: arial;
    color: darkgrey;
    font-size: 18px;
    float: left;
    
}

.A2P {
   font-size: 12px;
    color: darkgrey;
    float: right;
}


}

.A2P2 {
    font-size: 12px;
    color: darkgrey;
    
}

.A23H2 {
     font-family: arial;
    color: darkgrey;
    font-size: 18px;
    
}

.A2P3 {
    font-size: 12px;
    color: darkgrey;
    
    
}

.right-box {
    float: right;
    
    
}
