

*{
  margin:0;
}
body {
    background-color: #cccccc;}


li {
  font-size:18px;
  margin-right: 190px;
  margin-bottom: 85px;
  margin-top: -55px;
  display: inline;
  float: right;
  list-style: none;
  font-family: serif;

}
li a:hover {
  color: white;
  text-decoration: underline;
}


.wrapper {
       width: auto;
       margin-left: auto;
       margin-right: auto;
  }
  .header {
    width: auto;
    padding: 15px;
}
  #logo{
        text-shadow: 5px 5px 5px #000000;
        color: #ffffff;
        font-size: 56px;
        background-color: black;
        border-radius: 10px;
        text-align: center;
}
.content {
  font-family: serif;
  font-size: 14pt;
  color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 310px;

}
p{
  margin-top: -10px;
  font-family: georgia;
  padding: 10px;
}
.title{
  font-family: serif;
  font-size: 18pt;
  background: black;
  color: white;
  padding: 10px;
  display:block;
  margin-top: -40px;
  text-align: center;
  width:600px;
  margin-left:-2%;
  margin-right: 0%;
  border-radius: 5px;
}

.nav {
  height: 45px;
  background-color: darkgray;
  margin-top: 25px;
  margin-bottom:-5px;
  width:auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
}

.navigation ul{
  text-align: center;
}
.content {
  min-height:380px;
  background-color: darkgray;
  width: 600px;
  float:left;
  padding: 40px;

}
.sidebar {
    width: 500px;
    height: 450px;
    float: right;
    background: darkgray;
    font-size: 14pt;
    padding: 14px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-family: georgia;
    text-align: justify;
    }

.footer{
  clear:both;
  background: black;
  height: 10px;
  color: white;
  text-align: left;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 12pt;
  border-radius: 10px;
}
h2{
  background-color: #3F51B5;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
}
img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
}
#icon {
  width: -10px;
}
