@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700|Roboto:400,700');

/* font-family: 'Roboto', sans-serif;
font-family: 'Noto Serif SC', serif; */

* {
  box-sizing: border-box;
}
/* .border-1 {
  border:2px solid red;
}
.border-2 {
  border:2px solid blue;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 80%;
  box-shadow: 1px 1px 16px 0px rgba(134, 134, 134, 0.1);
}
.card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
  padding: 1em 2em 0;
}
.card__content div {
  margin-bottom: 1.3em;
}
.card__content .subtitle {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  color: #7e7e7e;
  font-weight: 700;
}
.card__content .title {
  font-family: 'Noto Serif SC', serif;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 31px;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: .5em;
}
.card__content .description {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #7e7e7e;
  line-height: 22px;
}
.card__content .link a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #2c2c2c;
  letter-spacing: 3px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
}
.card__image {
  background: url('https://images.unsplash.com/photo-1544488994-3a0753185c37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  order: 1;
}







/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
  .card__content {
    padding: 2em;
  }
  .card__content .description {
    line-height: 16px;
  }
  .card__image {
    flex: 2;
  }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .card__content {
    order: 1;
    padding: 6em 2em 0;
  }
  .card__content .description {
    line-height: 22px;
    font-size: 13px;
  }
  .card__content .link a {
    font-size: 13px;
  }
  .card__image {
    order: 2;
    flex: 2;
  }

}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  .card {
    height: 550px;
    width: 900px;
  }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}