#blue {
    background: blue;
    float: left;
}
.red{
    border: red dashed 5px;
    float: left;
}
div {
    height: 100px;
    width: 100px
}
.green {
    border: green solid 2px;
    float: left;
}
.green:hover {
    background: green
}
div > h6 {
    color: white
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both
}