body {
  margin: auto;
  max-width: 90%;
}

header {
  text-align: center;
  max-width: 50%;
  margin: 25px auto 60px auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

article {
  float: left;
  width: 45%;
  background-color: #f7f7f7;
  margin-left: 3%;
}

article img {
  width: 96%;
  padding: 2%;
}

article a {
  float: right;
}

aside {
  float: left;
  width: 45%;
  margin-left: 4%;
  height: 500px;
  margin-right: 3%;
}

aside img {
  width: 92%;
  padding: 4%;
}

aside div {
  background-color: #f7f7f7;
}

.forty {
  float: left;
  width: 40%;
}

.sixty {
  width: 60%;
  float: left;
}

.mtop {
  margin-top: 22px;
}

footer {
  border-top: 1px solid #f7f7f7;
}

footer div {
  float: left;
  width: 30%;
  padding-left: 3%;
}

.border {
  border-left: 1px solid #f7f7f7;
  border-right: 1px soild #f7f7f7;
}
