body {
  width: 690px;
  margin: auto;
  font-family: Arial;
  color: rgb(150, 150, 150);
}
header {
  text-align: center;
}
section {
  height: 300px;
}
section > div {
  width: 340px;
  height: 280px;
  float: left;
  margin-right: 20px;
  background-color: rgb(225, 225, 225);
  padding: 5px 5px 15px 5px;
}
aside {
  float: left;
}
aside > div {
  width: 310px;
  height: 80px;
  background-color: rgb(225, 225, 225);
  padding: 5px;
}
aside > div:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 15px;
}
aside img {
  width: 50%;
  float: left;
  margin-right: 5px;
}
h3, h4 {
  margin: 0 auto;
}
a {
  color: green;
  float: right;
}
footer {
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
}
footer > div {
  width: 218px;
  height: 125px;
  float: left;
  padding: 2px;
}
footer > div:nth-child(2) {
  border-left: 2px solid rgb(225, 225, 225);
  border-right: 2px solid rgb(225, 225, 225);
}
footer p, h4 {
  padding-left: 4px;
}
#keyboard {
  width: 100%;
}
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
