body {
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  margin-bottom: 75px;
  width: 60%;
  margin-left: 275px;
}
h1 {
  font-weight: lighter;
  color: grey;
}
h1 p {
  text-align: center;
}
h3 {
  font-weight: lighter;
  color: grey;
}
p {
  color: grey;
}
.clearfix:after {
   display: block;
   content: "";
   clear: both;
}
article a {
  color: green;
  padding-left: 400px;
}

li {
  list-style-type: none;
}
.box img {
  height: 80px;
  float: left;
  padding: 10px;
}
article img {
  width: initial;
  padding: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.box {
  background-color: #f3f3f3;
  display: block;
  margin: 15px;
  padding: 5px;
}
article {
  background-color: #f3f3f3;
  float: left;
  width: 40%;
  margin-left: 150px;
  padding-bottom: 25px;
  margin-top: 15px;
}
article h3 {
  padding-left: 35px;
}
article p {
  padding-left: 35px;
  padding-right: 20px;
}
.footertext {
  float: left;
  width: 290px;
  margin: 20px;
}
aside {
  float: left;
  width: 40%;
}
footer {
  float: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-left: 150px;
  margin-top: 75px;
  margin-bottom: 20px;
}
.aside h3 {
  font-weight: lighter;
}
.profession , .features {
  border-right: 1px solid lightgrey;
}
.transparent a {
  padding-left: 190px;
  color: green;
}
