/*Add CSS rules*/
.header {
  text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
.main {
  background-color: #f3f3f3;
  width: 45%;
  height: 340px;
  float: left;
  /*width: 50%;
  height: 300px;*/
  /*text-align: left;*/
}
.content a{
  text-align: right;
  color: green;
}
.article {
  width: 90%;
  Height: 200px;
}
.article img {
  width: 100%;
  Height: 200px;
}
.content {
  width: 90%;
  Height: 90px;
}
.aside {
  float: left;
  width: 45%;
  height: 340px;
}
.topbox {
  background-color: #f3f3f3;
  width: 90%;
  height: 90px;
}
.middlebox {
  background-color: #f3f3f3;
  width: 90%;
  height: 90px;
}
.bottombox {
  background-color: #f3f3f3;
  width: 90%;
  height: 90px;
}
.img {
  width: 50%;
  Height: 100px;
  float: left;
}
.img img {
  width: 50%;
  Height: auto;
}
.text {
  width: 50%;
  Height: auto;
  float: left;
}
.text h3{
  margin-bottom: 15px;
}
.text p{
  font-size: 13px;
  margin-bottom: 15px;
}
.footer {
  clear: both;
  width: 100%
  height: 100px;
}
li:before
{
    content: '✔';
    color: green;
    margin-left: -1em;
    margin-right: .100em;
}

ul
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}
.profession{
  float: left;
  width: 30%;
  Height: auto;
}
.features{
  float: left;
  width: 30%;
  Height: auto;
}
.pricing{
  float: left;
  width: 30%;
  Height: auto;
}
.pricing a{
  text-align: right;
  color: green;
}
