/*all-over styling*/

* {
    font-family: sans-serif;
    color: dimgrey;
    font-weight: lighter;
}
header>h1 {
    text-align: center;
}
header>p {
    text-align: center;
}
p {
    font-size: 10pt;
}

/*left side of screen*/

.left {
    width: 45%;
    padding: 2%;
    background-color: whitesmoke;
    height: 425px;
    float: left;
    margin-right: 25px;
}
a {
    float: right;
    color: limegreen;
}
.left_img {
    height: 200px;
    width: 100%;
}

/*right side of screen*/

.right_img {
    width: 33%;
    height: 80%;
    float: left;
    padding: 7px;
}
.rt_container {
    height: 425px;
}
.right_stuff {
    background-color: whitesmoke;
    height: 31%;
    width: 42%;
    margin-bottom: 3%;
    padding: 2px;
    float: left;
}

/*bottom of screen*/
footer {
    clear: both;
    float: left;
    margin-top: 25px;
    margin-right: 5px;
    width: 100%;
    height: 150px;
    border-top: 2px solid dimgrey;
    border-bottom: 2px solid dimgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}
.column {
    float: left;
    width: 32%;
    padding: 5px;
}
.transparent {
    margin-bottom: 25px;
}
.clearfix:after {
    */ visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
