header {
    text-align: center;
    width: 47%;
    margin: auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
main {
    width: 690px;
    margin: auto;
    height: 360px;
}
header h1 {
    font-size: 40px;
}
.bigimage img {
    width: 100%;
}
.bigimage {
    width: 350px;
    height: 380px;
    float: left;
    margin-right: 20px;
}
aside {
    float: left;
}
aside img {
    width: 150px;
    float: left;
    margin-right: 20px;
}
aside .text {
    float: left;
}
.footerbox {
  float: left;
}
footer {
  margin: auto;
  width: 47%;
}
