* {
    font-family: sans-serif;
}
body {
    width: 690px;
    margin-left: 50%;
    transform: translateX(-50%);
}
header {
    /*border: 1px solid black;*/
    text-align: center;
}
.centered {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 50%;
}
h2 {
    font-size: .8em;
}
p, a {
    font-size: .7em;
}
main {
    /*border: 1px dashed red;*/
    height: 300px;
}
section {
    /*border: 1px solid black;*/
    float: left;
}
.section1 {
    width: calc(50% - 30px);
    background-color: #f2f2f2;
    /*height: 300px;*/
    padding: 15px;
    height: 270px;
}
.section2 {
    margin-left: 20px;
    width: calc(50% - 20px);
    height: 300px;
}
.large-image {
    height: 100%;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.small-image {
    height: 40%;
    width: 40%;
    float: left;
}
.section2-stacked-boxes {
    background-color: #f2f2f2;
    width: 320px;
    margin-bottom: 15px;
    height: 90px;
}
.section2-innerbox {
    padding: 5px;
    display: inline-block;
}
.section2-innerbox-small {
    float: left;
    width: 45%;
    padding: 5px;
    height: 70px;
}
.section2-innerbox-small-right {
    margin-top: -12px;
}
#section2-box-bottom {
    margin-bottom: 0px;
}
.green-link a {
    color: green;
    float: right;
}
footer {
    clear: both;
    height: auto;
    margin-top: 50px;
    border-top: 1px solid lightgray;
    width: 95%;
    overflow: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
li {
    color: gray;
    font-size: .8em;
}
footer p {
    color: gray;
    font-size: .8em;
}
.checkmark {
    color: green;
}
.footer-outerbox {
    margin-top: 20px;
}
.footer-boxes {
    float: left;
    width: calc(33% - 40px);
    padding: 20px;
    border-right: 1px solid lightgray;
    height: 150px;
}
#footer-box-right {
    border-right: 0px;
}
.footer-below {
    border-bottom: 1px solid lightgray;
}
