.header {
  text-align: center;
  font-family: "Economica";
}

#largeimage {
  background-color: #f7f7f7;
  width: 350px;
  height: 360px;
  margin: 80px;
  font-family: "Economica";
}

.keyboard img {
  width: 300px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  float: right;
  color: green;
  text-decoration: underline;
  font-family: "Economica";
}

.morbi {
  padding: 25px;
}

.rightcontainer {
 padding-left: 20px;
 width: 300px;
 float: left;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
  margin-left: 30px;
}

.rightcontainer img {
 height: 80px;
 width: 150px;
 float: left;
}

.headphonediv {
 float: left;
 background-color: #f7f7f7 ;
 width: 460px;
 height: 110px;
 margin-bottom: 30px;
}

.headphonediv img {
 float: left;
}

.p1text {
 float: left;
 margin-left: 20px;
}

.deskdiv {
 float: left;
 background-color: #f7f7f7 ;
 width: 460px;
 height: 110px;
}

.p2text {
 float: left;
 margin-left: 20px;
}

.windowdiv {
 float: left;
 background-color: #f7f7f7 ;
 margin-top: 30px;
 width: 460px;
 height: 110px;
}

.p3text {
 float: left;
 margin-left: 30px;
}
