body {
  width: 90%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}

header {
  margin-top: 0px;
  margin-bottom: 45px;
  text-align: center;
}

header h1 {
  margin-top: 5px;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 48px;
}

.content {
  width: 48%;
}

.content p {
  text-align: justify;
}

.left {
  height: 450px;
  background-color: #f2f2f2;
  float: left;
  padding: 10px;

}

img, .left, .rightbox {
  border-radius: 10px;
}

.left img {
  width: 100%;
}

.left a, .footbox a {
  float: right;
  color: #33cc33;
}

.right {
  float: right;
}

.right img {
  width: 40%;
  float: left;
  margin-top: 5px;

}

.rightbox {
  margin-bottom: 28px;
  background-color: #f2f2f2;
  padding: 10px;
}

.rightbox p {
  line-height: 150%;
}

.boxtext {
  width: 58%;
  margin: 0;
  float: right;
}

.boxtext h2 {
  margin: 5px 0 0 0;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 20px 0;
  margin-bottom: 80px;
  margin-top: 50px;
  color: black;
}

.footbox {
  width: 25%;
  padding: 0 4%;
  float: left;
}

.footbox li {
  padding: 3px 0;
}

.footbox h3 {
  margin: 0;
}

.middle {
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
