*{
  box-sizing: border-box;
}
header{
  margin: auto;
  width: 550px;
  text-align: center;
}

main{
  justify-content: center;
  display: flex;
}
div.mainimg {
  background: rgb(244, 245, 246);
}
div.mainimg>img{
  width: 300px;
  height: 150px;
}
section.left{
  margin-right: 20px;
  width: 350px;
  background: rgb(244, 245, 246);
  height: 300px;
}

section.right{

  height: 300px;
width: 320px;

}
.item{
  
  display: flex;
}
div.imgg>img{
  width: 80px;
  height: 50px
}
