body{
  font-family: sans-serif;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
}
header>div, footer>div{
  width:690px
}
main,footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mainBox{
  width:350px;
  height: 300px;
  padding:0;
  margin:0 20px 0 0;

}
.sideBox{
  width:320px;
  height:300px;
  padding:0;
  margin:0;

}
header h1,header p{
  text-align: center;
}
footer>div{
  margin-top:50px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: center;
}

.mainBox img{
  width:330px;
  height: 150px;
}
.sideBox img{
  width:150px;
  padding: 5px;
}
.sideBox .content{
  width:150px;
}
.mainBox div{
  width: 330px;
  height:300px;
  padding: 0 10px;
  margin: 0;
  background-color: gray;
}
.sideBox div{
  width:320px;
  height: 90px;
  background-color: gray;
  margin:0 0 15px 0;
  display:flex;
  flex-flow: row;
}
.sideBox div:last-child{
  margin-bottom: 0;
}
.footerBox{
  border-right: 2px solid gray;
  width: 33%;
  margin: 5px 0;
  box-sizing: content-box;
}
