
header {
  text-align: center;
}
main {
width: 100%;
height: 300px;
/*float: left;*/
}
article {
  background-color: lightgrey;
  display: block;
  width: 40%;
  height: 100%;
  padding: 5% 10% 5% 10%;
  float: left;
}
/*div {
  float: left;*/
}
img {
  width: 90%;
  text-align: center;
}
.box {
  height: 33%;
  width: 95%;
  background-color: darkgray;
  padding: 5%;
  margin-bottom: 1%;
  float: left;
}
.box>a {
  /*width: 100%;*/
  height: 80px;
  float: left;
}
/*ul {
  list-style-position: inside;
  padding-left: 0%;
}

footer {
  width: 100%;
  text-align: center;
  float: left;
}
li {
  list-style-type: none;
  color: green;
}
.gray {
  color: darkgray;
}*/
clearfix: after {
    display: block;
    content: " ";
    clear: both;
  }
