{
  font-family: sans-serif;;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
}
.parent {

}
main {
  display: flex;
}
.left {
display: flex;
flex-direction: column;
background-color: #f2f2f2;
height: 300px;
width: 350px;
margin-right: 20px;
}
.left > img {
  height: 150px;
  width: auto;
  padding: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 320px;
  font-size: 14px;
}
.right > article {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}
.right > article > img {
  height: 80px;
  width: auto;
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: row;
}
