.navbar {
  background-color: white;
}
.navbar-right {
  margin-right: 50px;
}
.navbar-brand {
  padding-right:0px;
  padding-top: 8px;
}
/*landing page*/
.landing {
  background-color: black;
  height:600px;

}
.logo {
  background-color: white;
  height:300px;
  margin-top: 150px;
}
/*end of landing page */
/*what i do section*/
.what {
  background-color: grey;
  height:400px;
}
.info {
  background-color: white;
  height:400px;
  margin-right: 50px;
}
/*end of what i do section*/
/*portfolio section*/
.portfolio {
  height:600px;
}
/*caption and thumbnail*/
.thumbnail {
  margin-bottom:0px;
  padding-right:10px;
}
.caption {
  background-color: grey;
}
/*left side*/
.myleft {
  margin-left: 25px;
}
.portinfo {
  background-color: pink;
  height:300px;
}
.portimgleft {
  background-color: red;
  height:300px;
}
/*middle*/
.mymiddle {
  margin-left: -30px;
}
.portimgmid {
  height:300px;
  background-color: green;
}
/*right*/
.myright {
  margin-left: -30px;
}
.portimgright {
  background-color: yellow;
  height:300px;
}
/*end portfolio*/
/*quote section*/
.quote {
  height:400px;
  background-color: red;
}
/*bio section*/
.bio {
  height:600px;
}
.information {
  background-color: grey;
  height:600px;
}
.infoimg {
  background-color:pink;
  height:600px;
}
/*end about*/
/*contact*/
.contact {
  background-color: orange;
  height:400px;
}
/*endcontact*/
/*footer*/
.footer {
  height:200px;
}
