*{
    margin:0px;
    padding:0px;
}

html{
    background: white;
}

div,
p{
    margin:0px;
    padding:0px;
}

.outer{
    width:300px;
    height:200px;
    background-color: white;
    border-width: 1px;
    border-color: black;
}

.inner{
    padding:20px;
    background-color: gray;
}