/*text*/
h1 {
 font-family: 'Give You Glory';
 font-style: normal;
 font-weight: 400;
}
h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}
p {
  font-family: 'Arimo', sans-serif;
  font-style: normal;
  font-size: 16px;
}
/*navagation*/
.navbar {
  background-color: white;
}
.navbar-right {
  margin-right: 50px;
}
.icons {
  margin-left: 10px;
  margin-top: 10px;
}
.icon {
  padding-right:5px;
}
/*landing page*/
.landing {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  height:700px;
}
.logo {
  background-color: rgba(0, 0, 0, 0.2);
  height:315px;
  margin-top: 180px;
  padding-left: 10px;
  border: #EFBD0E solid 2px;
  padding-top: 10px;
  text-align: center;
}
.logo h2 {
  font-size: 16px;
  color: white;
}
.button {
  background-color:  #EFBD0E;
  width:100px;
  height:30px;
  margin-left:150px;
  margin-top: 10px;
  padding-top: 5px;
}
.button a{
  color:grey;
  text-decoration: none;
}
.button a:hover {
  text-decoration: line-through;;
}
/*end of landing page */
/*what i do section*/
.what {
  height:500px;
}
.info {
  background-color: white;
  height:300px;
  margin-right: 50px;
  text-align: justify;
  padding-top: 10px;
}
.info h2 {
  margin-top: 50px;
  font-size: 80px;
  font-style: bold;
  text-align: center;
  border: 1px solid #EFBD0E;
  background-color: #EFBD0E;
  color:white;
}
.info h2:hover {
  -webkit-animation: wobble 3s;
    animation: wobble 1s;
}

/*portfolio section*/
.portfolio {
  height:650px;
  padding-top: 20px;
  background-color: #DDEDFA;
}
/*caption and thumbnail*/
.thumbnail {
  margin-bottom:0px;
  /*padding-right:10px;*/
}
.caption {
  background-color: grey;
}
/*left side*/
.myleft {
  margin-left: 25px;
}
.portinfo {
  background-color: white;
  height:300px;
  outline: black solid 1px;
  padding-left: 20px;
  padding-top: 20px;
}
.porfolio h2 {
  font-size: 30px;
  font-weight: bold;
}
.portfolio h1 {
  padding-top: 20px;
  font-size:30px;
  line-height: 50px;
}
.portfolio h1:nth-child(3) {
  text-align: right;
  padding-right:5px;
  line-height: 20px;
}
.portimgleft {
  height:300px;
}
/*middle*/
.mymiddle {
  margin-left: -30px;
}
.portimgmid {
  height:300px;
}
/*right*/
.myright {
  margin-left: -30px;
}
.portimgright {
  background-color: white;
  height:300px;
}
.more {
  padding-left: 70px;
  padding-top: 40px;
}
/*end portfolio*/
/*quote section*/
.quote {
  height:500px;
  background-image: url(../img/quote.jpg);
  background-size: cover;
}
.text {
  line-height: 50px;
  margin-top: 150px;
  margin-left: 20px;
}
.text h2 {
  font-size: 20px;
  text-align: right;
  padding-right:50px;
}
/*bio section*/
.bio {
  height:500px;
  background-color: #EFBD0E;
}
.information {
  height:600px;
  padding: 50px 50px 0px 50px;
}
.information h1 {
  font-size: 80px;
  margin-bottom: 30px;
}
.information p {
  text-align: justify;
}
.infoimg {
  height:600px;
  margin-left: -30px;
}
/*end bio*/
/*contact*/
.contact {
  height:600px;
  background-color:grey;
  color:white;
  padding-top: 20px;
}
.contact h1 {
  font-size: 50px;
}
.myform {
  margin-top: 10px;
}
.mylabel {
  padding-top: 10px;
  margin-left: -15px;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
}
.mysubmit {
  margin-top: 10px;
  color:grey;
}
.contactinfo {
  margin-top:80px;
  margin-left: 10px;
}
.phone {
  border: 2px solid white;
  height:90px;
  padding: 10px 10px 10px 20px;
}
.contactinfo a {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color:white;
  padding-left: 10px;
}
/*endcontact*/
/*footer*/
.footer {
  height:300px;
}

/*portfolio landing*/
.parallax-window {
    min-height: 300px;
    background: transparent;
}
.portfoliolanding h2 {
  padding-top: 50px;
  padding-left: 40px;
  font-size: 100px;
  color:black;
}
/*end of landing*/
/*portfolio discription */
.portfolioset {
  height:1000px;
  margin-top: 20px;
}
.carousel {
  height:325px;
  padding-top: 5px;
}
.projectinfo {
  padding-left: 40px;
  text-align: justify;
}
@media  (max-width: 414px) {
  .landing {
    height:550px;
  }
  .logo {
    background-color: rgba(0, 0, 0, 0.4);
    height:250px;
    margin-top: 100px;
  }
  .logo h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .button {
    margin-top: 10px;
    margin-left: 100px;
  }
  .what {
    height:810px;
  }
  .info {
    height:260px;
    margin-right: 0px;
    text-align: justify;
    padding-top: 5px;
  }
  .info h2 {
    margin-top: 20px;
    font-size: 60px;
  }
  p {
    font-size: 14px;
  }
  .portfolio {
    height:780px;
    padding-top: 5px;
  }
  .portinfo {
    background-color: #DDEDFA;
    font-style: bold;
    height:60px;
    outline: none;
    padding-left: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
  }
  .myleft {
    margin-left: 0px;
  }
  .portimgright {
    background-color: #DDEDFA;
    height:50px;
    padding-left: 80px;
  }
  .bio {
    height:300px;
    background-color: #EFBD0E;
  }
  .information h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .contact h1 {
    font-size: 40px;
    padding-top: 10px;
  }
  .myform {
    margin-top: 0px;
  }
}
@media  (min-width: 415px) and (max-width: 766px) {
  .landing {
    height:300px;
    background-size: cover;
    background-position: bottom;
  }
  .logo {
    background-color: rgba(0, 0, 0, 0.4);
    height:200px;
    margin-top: 60px;
  }
  .logo h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .logo img {
    width:30%;
    margin-left: 200px;
  }
  .button {
    margin-top: 40px;
    margin-left: 250px;
  }
  .what {
    height:600px;
  }
  .info {
    height:200px;
    margin-right: 0px;
    text-align: justify;
    padding-top: 5px;
  }
  .info h2 {
    margin-top: 5px;
    font-size: 60px;
  }
  p {
    font-size: 14px;
  }
  .portfolio {
    height:780px;
    padding-top: 5px;
  }
  .portinfo {
    background-color: #DDEDFA;
    font-style: bold;
    height:60px;
    outline: none;
    padding-left: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
  }
  .myleft {
    margin-left: 100px;
  }
  .portimgright {
    background-color: #DDEDFA;
    height:50px;
    padding-left: 200px;
  }
  .bio {
    height:300px;
    background-color: #EFBD0E;
  }
  .information h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .contact h1 {
    font-size: 40px;
    padding-top: 10px;
  }
  .myform {
    margin-top: 0px;
  }
}
@media (min-width: 767px) and (max-width: 1024px){
  .button {
    margin-left:150px;
    margin-top: 10px;
  }
  .logo h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .info {
    margin-right: 0px;
    padding-left: 10px;
    padding-right:10px;
  }
  p {
    font-size: 14px;
  }
  .portinfo {
    height:1200px;
  }
  .porfolio h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .portfolio h1 {
    padding-top: 20px;
    font-size:20px;
    line-height: 50px;
  }
  .portimgleft {
    height:100px;
  }
  .portimgright {
    height:200px;
  }
}
