body{
  background-image:url(../img/hill.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
}

#name{
  font-family: arial;
  text-align: center;
  color: black;
  padding-top: 110px;
  font-size: 20px;
}

#one{
float:right;
}

#two{
  float: right;
}

#three{
  float: right;
}

a{
  text-decoration:none;
  font-family: arial;
  padding: 20px;
  color: black;
}

#enchanted{
  padding-left: 300px;
  padding-top: 80px;
  float: left;


}

#potw{
  float: none;
  font-family: arial;
  font-size: 16px;
  padding-left: 300px;
  padding-top: 80px;
color: white;
}

#para{
  color: white;
  padding-right: 300px;
}

#camping{
  padding-top: 250px;
  height: 300px;
  length: 200px;
  font-family: arial;
  font-size: 16px;
  color: white;


}

#camp{
  padding-left: 150px;
  font-size: 16px;
  font-family: arial;
  color: white;

}

#sponsor{
  padding-left: 40px;
  color: white;
  font-size: 16px;
  font-family: arial;

}

#hiking{
float: none;
}
