body {
	font-family: 'Roboto', 'Arial', sans-serif;
	margin: 0 auto;
	width: 70%;
	padding: 10px 0px;
}

h1 {
	font-size: 4em;
	font-weight: bold;
}

h2 {
	font-size: 2.5em;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	font-size: 1.25em;
	padding: 10px;
}

#home {
	font-weight: bold;
}

#home:hover {
	color: darkgray;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul > li {
	display: inline-block;
	margin-left: 20px;
}

ul > li > a:hover {
	color: darkgray;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

section {
	margin-bottom: 30px;
}

#hero {
	background-image: url('../img/platter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
  	background-blend-mode: multiply;
  	height: 500px;
  	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#hero > button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: lightgreen;
	//color: white;
	border: none;
}

#hero > button:hover {
	background-color: green;
}

#hero > button:hover > a {
	color: white;
}

#about {
	display: flex;
	justify-content: space-between;
}

#about > div.left > img {
	height: 250px;
}

#about > div.right {
	margin: 0px 40px;
}

#featured {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

#featued > h3 {
	display: block;
}

.special {
	//margin: 0 10%;
}

.special > img {
	width: 75%;
	margin: 0 auto;
}

#customers {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.customer {
	//width: 50%;
	margin: 0 40px;
}

.customer > img {
	width: 100%;
	margin-bottom: 10px;
}

p.right {
	float: right;
	font-size: .85em;
}

#friends {
	background-image: url('../img/friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
  	background-blend-mode: multiply;
  	height: 400px;
  	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

#friends > div > h2 {
	margin: 0px 40px;
}

#friends > div > button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: lightgreen;
	//color: white;
	border: none;
	display: inline;
	float: left;
	margin-right: 10px;
}

#friends > div > button:hover {
	background-color: green;
}

#friends > div > button:hover > a {
	color: white;
}