body{
background-image: url("../pic/second.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:auto;
height:300px;
width 100%;
background-blend-mode: multiply;
background-color: #6E6E6E;
}

h1{
  font-family:helvetica-black;
  font-weight:bold;
}
