main {
    background-color: #FFB85F;
}

#nav {
    font-family: 'Marcellus SC', serif;
    color: orange;
    font-size: 20px;

}

#hero {
    color: #00AAA0;
    padding-top: 0;
    text-align: center;
}
	@media (min-width: 768px) and (max-width: 991px) {
    #hero { height: auto;
      width: auto;


    }
	@media (max-width: 767px) { #hero{

  height: auto;
  width: auto;
    }}


.with {
    margin-left: 40px;
    color: #FCF4D9;
}


/*MY FLEXBOX CSS*/
.designfunction{
  font-size: 50px;
height: 200px;
width: 332px;


}
#flexbox {
    display: flex;
    background-color: transparent;
    height: 200px;
    width: 332px;

    justify-content: space-around;
}

#design {
    color: #462066;
    order: 1;
}

#slash {
    order: 2;
}

#function {
    color: #FF7A5A;
    order: 3;
}

@media screen and (min-width: 300px) main.css:2 .button {
    padding: 0.4em 1.8em 0.35em;
}


/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
    background-color: transparent;
    color: #00AAA0;
    cursor: pointer;
  margin-top: 1px;
    width: 40%;
    font-family: 'VT323', monospace;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.projects {
    margin-top: 0px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active, button.accordion:hover {
    background-color:#462006;
    color: #FCF4D9;
}


/* Style the accordion panel. Note: hidden by default */

div.panel {
    font-family: 'Lobster';
    padding: auto;
    background-color: #FCF4D9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.contact {
    color: #FCF4D9;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

p {
    color: #FF7A5A;
}

.button {
    position: relative;
    display: table;
    margin: 0 auto;
    border: 1px solid Hex: #8ED2C9;
    padding: 0.3em 0.5em;
    background: transparent;
    font-size: 0.95em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #462066;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

footer p {
    background-color: #8ED2C9;
    color: #462066;
    border-top: solid;
    border-color: #8ED2C9;
    border-width: .05em;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 1.0em;
    display: block;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}
