#nav {}

#hero {
    padding-top: 350px;
    text-align: center;
}
.video{ 

height: 700px;
width: auto;
}




footer p { border-top: solid;
  border-color: black;
  border-width: .05em;
    display: block;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 1.5em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}
