.text_entry {
  margin-bottom:25px;
}

.my_form {
  background-color: springgreen;
  height:1000px;
}

.my_php {
  background-color: purple;
  height:1000px;
  color:white;
}

.my_email {
  margin-left:34px;
  margin-bottom:25px;
}

.my_input {
  margin-bottom: 30px;
}

.my_button {
  color: black;
}
