

.jumbotron{
  background-image:url("../img/mjhero.jpg");
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height:450px;
  color:white;
  margin-bottom:0px;
}
.jumbotron h1{
  margin-top:40px;
}


.wood{
  border-top:2px solid white;
  background-image:url("../img/wood.jpg");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  height:400px;
  margin:0 auto;
}
.textBox{
  background-color:#5DB7DE;
  width:80%;
  margin:0 auto;
  height:300px;
  border:2px solid white;
  border-radius:15px;
  margin-top:20px;
}
.textBox p{
  color:white;
  font-size:22px;
}
.textBox h1{
  padding-top:50px;
  padding-bottom:30px;
}
.textBox p{
  padding-top:20px;
}
.formBox h1{
  padding-top:50px;
}
.formBox{
  background-color:#F1E9DB;
  width:80%;
  margin:0 auto;
  height:300px;
  margin-top:20px;
  border:2px solid white;
  border-radius:15px;
  margin-top:20px;
}
