.row {
    margin-left: -15px;
    margin-right: -15px;
}
.item {
    height: 480px;
    text-align: center;
    position: relative;
    min-height: 1px;
}
h2 {
    font-family: 'Lily Script One', cursive;
    text-align: center;
    line-height: 120px;
    font-size: 48px;
    font-weight: 500;
}
img {
    height: 268px;
    width: 268px;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
}
img:hover {
    transform: scale(1.05);
    transition: all 500ms ease;
}
img:hover+ .pricetag {
    background-color: #3A4543;
    transition: all 500ms ease;
}
.product {
    transition: all 500ms ease;
    overflow: hidden;
}
.sale {
    min-height: 20px;
    min-width: 40px;
    padding: 4px 8px;
    line-height: 20px;
    top: 0;
    background: #f04933;
    position: absolute;
    color: white;
    font-weight: 800;
    font-size: .857em;
}
.pricetag {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 14px;
    background-color: #66d9c1;
    transition: all 500ms ease;
}
.button {
    margin: 10px 60px 40px 60px;
    border: 2px solid #3A4543;
    padding: 10px 5px 10px 5px;
    background-color: #3A4543;
    font-size: 14px;
    color: white;
    font-weight: 700;
    transition: all .5s ease;
}
.button:hover {
    background-color: #66d9c1;
    border-color: #66d9c1;
    transition: all .5s ease;
}
del {
    font-size: 14px;
}
.product {
    position: relative;
}
h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 17px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 28px;
    transition: all .5s ease;
}
h4:hover {
    color: #66d9c1;
    transition: all .5s ease;
}
.section {
    width: 268px;
    border: 1px solid #e5e5e5;
    margin: auto;
}
.formFix {
  margin: auto;
  text-align: center;
  padding: 50px;
}
.labelText {
  padding: 10px;
  font-size: 20px;
}
.submitSection {
  border-radius: 25px;
  text-align: center;
  padding: 5px;
}
.submitSection:focus {
  outline: none;
  border-color: #3A4543;
  border-style: outset;
  border: solid;


}
.btn-info {
  margin: 10px;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
}
