/*Section for Navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-left: 49px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar a {
  font-size: 24px;
  padding-top: 10px;
}

/*Section for name and img*/

.name {
  padding: 95px;
  text-align: center;
}

.name h1 {
  font-size: 100px;
  color: white;
  font-family: 'Black Ops One', cursive;
}

.hero {
  margin-left: 0px;
  margin-right: 0px;
  width: 124%;
  margin-left: -112px;
}

.img {
  background-image: url("../img/halloates.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 639px;
  background-blend-mode: multiply;
  background-color: #b3b3b3;
}

/*Section for signup form*/

.panel {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: -380px;
}
