main {
  background-color: #2fc2ef;
  margin: 0 auto;
  padding: 0 60px;
}

section {
  background-color: #eee;
  color: #000;
  flex-wrap: wrap;
  padding-top: 30px;
}

article {
  margin: 0 18% 70px;
}

h1 {
 text-align: center;
}
/*
#article-1 {
  flex-basis: 100%;
}

#article-2, #article-3 {
  flex-basis: 49%;
}*/

#desktop {
  display: none;
}

#phone {
  display: block;
}
