body, html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top {
  height: 25%;
  background-color: #33A8DD;
  color: white;
}

main > h1 {
  width: 50%;
  margin: 6% auto;
  padding-left: 22%;
  font-size: 155%;
  font-family: 'Cinzel', serif;
  color: white;
  font-weight: lighter;
  white-space: pre-line;
}

article {
  justify-content: center;
  flex-direction: column;
}

section {
  margin: 2% auto;
  width: 27%;
  height:30%;
  text-align: center;
}

.bottom {
  background-color: #F7F5F6;
  color: black;
}

.blue {
  border-top: 20px solid #33A8DD;
}

.orange {
  border-top: 20px solid #F46731;
}

.teal {
  border-top: 20px solid #2BCDC0
}

h2 {
  margin: 7% auto;
  font-family: 'Cinzel', serif;
  font-size: 130%;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 90%;
  font-weight: lighter;
  margin: 7%;
}
