.container{
  height:1340px;
  width:500px;
}

header{
  width:500px;
  height:380px;
  background-color:#33A8DD;
  color:#F1ECF2;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:37px;
}

section{
  display:flex;
  height:960px;
  flex-direction:column;
  align-items:center;
  background-color:#F7F5F6;
  color:#010000;
}

article{
  width:171px;
  height:276px;
  margin-top:57px;
  text-align:center;
}

div{
  width:173px;
  height:30px;
}

article > h1{
  font-size:28px;
  margin-top:17px;
  margin-bottom:21px;
}

article > p{
  font-size:15px;
}
