main {
  width: 100%;
}

header {
  height: 380px;
  background-color: #33A8DD;
}

header > h1 {
  width: 295px;
}

section {
  background-color: #F7F5F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  color: black;
}
