/* laptop */

@media (max-width: 1823px) and (min-width: 1024px) {

body {
  max-width: 100%;
  margin: 0 auto;
}

main {
  width: 70%;
  margin: 0 auto;
}

h1, h2, p{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 125px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}
#top {
  background-color: #05c4d6;
  width: 100%;
  height: 300px;
}

#bottom {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 50px;
}

.box {
  width: 15%;
  border-top: 30px solid blue;
}

.one {
  border-top: 30px solid red;
}

.two {
  border-top: 30px solid green;
}

}

/*phone size*/

@media (max-width: 767px) {

  body {
    max-width: 100%;
    margin: 0 auto;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }

  h1, h2, p{
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 125px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }
  #top {
    background-color: blue;
    width: 100%;
    height: 100%;
  }

  #bottom {
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 75px;
  }

  .box {
    width: 65%;
    margin: auto;
    border-top: 30px solid blue;
  }

  .one {
    border-top: 30px solid red;
  }

  .two {
    border-top: 30px solid green;
  }




}
