body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: -5px;
  }

h1 {
    color: #F7F5F6;
    font-weight: lighter;
    font-size: 54px;
    width: 290px;
  }

h2 {
    font-size: 35px;
    font-weight: lighter;
  }

#welcome {
    background-color: #3BA9DB;
    text-align: left;
    height: 380px;
    line-height: 60px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

#bottom {
    background-color: #F7F5F6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }

#skyblue {
    background-color: #F7F5F6;
    border-top: 25px solid #3BA9DB;
    width: 172px;
    margin: 30px;
  }

#orange {
    background-color: #F7F5F6;
    border-top: 25px solid #F2673B;
    width: 172px;
    margin: 30px;
  }

#teal {
    background-color: #F7F5F6;
    border-top: 25px solid #38CCBF;
    width: 172px;
    margin: 30px;
  }

@media (min-width: 639px) {

    body {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    h1 {
      color: #F7F5F6;
      font-weight: lighter;
      font-size: 54px;
      width: 500px;
    }

    h2 {
      font-size: 35px;
      font-weight: lighter;
      color: #F7F5F6;
    }

    p {
      color: white;
    }

    #welcome {
      background-color: #38CCBF;
      text-align: left;
      height: 380px;
      line-height: 60px;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    #bottom {
      background-color: black;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      padding: 0;
    }

    #skyblue {
      background-color: black;
      border-top: 25px solid #3BA9DB;
      width: 172px;
      margin: 30px;
    }

    #orange {
      background-color: black;
      border-top: 25px solid #F2673B;
      width: 172px;
      margin: 30px;
    }

    #teal {
      background-color: black;
      border-top: 25px solid #38CCBF;
      width: 172px;
      margin: 30px;
    }
  }
