.wrapper {
  margin: auto;
  width: 100%;

}
.top {
  width: 100%;
  background-color: #2bcdc0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}
.bottom {
  width: 100%;
  background-color: black;
  text-align: center;
  padding-top: 30px;
  float: left;
}
.tri {
  text-align: center;
  box-sizing: border-box;
  padding: 35px;
  float: left;
}
.blue {
  margin: auto;
  background-color: #33a8dd;
  width: 60%;
  height: 25px;
}
.orange {
  margin: auto;
  background-color: #f46731;
  width: 60%;
  height: 25px;
}
.teal {
  margin: auto;
  background-color: #2bcdc0;
  width: 60%;
  height: 25px;
}
@media (max-width: 767px) {
  .tri {
    width: 100%;
    background-color: #f7f5f6;
    color: black;
  }
}
@media (min-width: 768px) and (max-width: 1344px) {
  .tri {
    width: 33%;
  }
  }

body {
  font-family: Arial, sans-serif;
  color: white;
}
