.container {
  width: 1000px;
  margin: 0 auto;
}

.uppersection {
  width: 900px;
  height: 400px;
  background-color: #2BCDC0;
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 100;
  font-family: serif;

}

.uppersection > p {
  font-weight: 800;
  padding-left: 18px;
}

.lowersection {
  width: 900px;
  height: 400px;
  background-color: black;
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titlebox {
  width: 150px;
  text-align: center;
}

.bluebar {
  width: 150px;
  height: 25px;
  background-color: #33A8DD;
  color: white;
  font-weight: 100;
}

.greenbar {
  width: 150px;
  height: 25px;
  background-color: #2BCDC0;
  color: white;
  font-weight: 100;
}

.orangebar {
  width: 150px;
  height: 25px;
  background-color: #F46731;
  color: white;
  font-weight: 100;
}
