* {
  background-color: darkslategrey;
  text-align: center;
  font-family: sans-serif;
}

.parallax {
  background-image: url("jack.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: hotpink;
  font-family: fantasy;
}

#pic {
  max-height: 300px;
  border-radius: 100%;
  border: 5px solid mediumseagreen;
  margin: 10px;
}

a {
  font-size: 30px;
  color: mediumseagreen;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}

a:hover {
  color: hotpink;
}

div a {
  font-size: 20px;
}

div.hw {
  margin: 30px;
  border: 1px solid hotpink;
  border-radius: 20px;
}

h3 {
  color: mediumseagreen;
  text-decoration: underline;
}
