@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/*    +=================+
    /   Sidebar       /
  +=================+ 
*/
.sidebar {
  opacity: 0.15;
  background-color: #303030;
  position: fixed;
  min-width: 12%;
  margin-top: .5em;
  margin-left: .5em;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.sidebar:hover {
  opacity: 1;
  box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
}
.nav-btn {
  display: block;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.nav-btn{
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: .25em;
  color: #E0E0E0;
}
.nav-btn:hover {
  font-size:1.4rem;
  color: #606060;
  background-color: #E0E0E0;
  box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
  cursor: pointer;
}