/* You can style your landing page here */
/*
@media (max-width:375) {
  article {                            < --- phone
  width:100%;
}
}
@media (min-width:376) and (max-width: 768) {
  article {
  width:50%;                          < -- tablet
}
}
article {
  width:33%;                          < -- computer
}

^^^This can all be done without by using "row" classes and "col-xs-#/col-md-#/col-lg-#"^^^
*/
