


#wk1{
  /*border: 1px solid red;*/
  /*display:flex;
  justify-content: center;*/
  margin: o auto;


}
.week {
  width:300px;
  min-height:200px;
  margin-right:20px;
  margin-bottom: 20px;
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  background-color: #7cbb00;
}

.second-row{
  /*border:1px solid red;*/
  /*display:flex;
  justify-content: center;*/

}

 #week-1{
  background-color: #ffbb00;
}

#week-2{
  align-self: flex-end;
}

#week-3{
  background-color: #f65314;
}
#week-4{
  background-color: #00a1f1;
}

#week-5{
  background-color: #737373;
}

#week-6{
  background-color: #ffbb00;
}

#week-7{
  background-color: #191970;

}

.week ul li a{
  color:white;
}



/*.box-header{
  background-color: #00a1f1;
  width:250px;
  height:30px;
  text-align: center;
  color:white;


}*/

ul li{
  list-style-type: none;
  color:white;
}
