/* You can style your landing page here */

h1 {
  font-family: Monofett;
  text-align: center
}

section {
  height: 500px;
}

article {
  height: 250px;
}

a {
  font-size: 3em;
  font-family: Six Caps;
}

article:nth-child(2) {
  background-image: url("img/pic-9.jpg");
  background-size: cover;
}

article:nth-child(3) {
  background-image: url("img/pic1.jpg");
  background-size: cover;
}

article:nth-child(4) {
  background-image: url("img/pic-17.jpg");
  background-size: cover;
}

article:nth-child(5) {
  background-image: url("img/pic-12.jpg");
  background-size: cover;
}

article:nth-child(6) {
  background-image: url("img/pic-4.jpg");
  background-size: cover;
}

article:nth-child(7) {
  background-image: url("img/pic-16.jpg");
  background-size: cover;
}

article:nth-child(8) {
  background-image: url("img/pic-6.jpg");
  background-size: cover;
}

article:nth-child(9) {
  background-image: url("img/pic-7.jpg");
  background-size: cover;
}

article:nth-child(10) {
  background-image: url("img/pic-10.jpg");
  background-size: cover;
}

article:nth-child(11) {
  background-image: url("img/pic-8.jpg");
  background-size: cover;
}

article:nth-child(12) {
  background-image: url("img/pic-5.jpg");
  background-size: cover;
}
