body {
  background: rainbow;
}

h1 {
  font-size: 40px;
}

p {
  font family: comic-sans, sans-serif;
  font-style: italic;
}

h2 {
  color= Red;
  font-size= 25 px;
}

ul{
  font-style= bold;
}
 /* Why isn't the bottom elements working!*/
 
