* {
  font-family: arial;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("img/moos.jpg");
  background-size: contain;
  /*background-position: left;*/
  /*background-size: cover;*/
  /*background-size: 100% 100%*/
  background-repeat: no-repeat;
  height: 700px
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.text {
  color: #212F3C;
  position: right;
}

a {
  color: darkgrey;
}
