.boxy {
  border: red 1px solid;
}/*Placeholder border*/

body {
  background-color: lightgreen;
}

header {
  width: 1024px;
  height: 100px;
  margin: auto;
  color: darkgreen;
  background-color: white;
  border-bottom: grey solid 2px;

}

header>div {
  font-family: 'Pacifico', cursive;
  float: right;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 38px;
}/*Floating the links to the right of the header*/

header>div:hover {
 color: lightgreen;
}/*Changes the color of the links when cursor hovers over*/

.logo {
  height: 100px;

}

main {
  width: 1024px;
  height: 720px;
  margin: auto;
  background-image: url("../img/backgroundfish.jpg");
  font-family: 'Pacifico', cursive;
  padding-top: 50px;
}
/*Main section setup*/

section {
  height: 200px;
  width: 500px;
  margin-left: 30px;
  font-size: 25px;
  background-color: lightgrey;
  padding-top: 20px;
} /*Adding a section for info about the business*/

section>div {
  margin-bottom: 20px;
}
