.boxy {
  border: red 1px solid;
}

body {
  background-color: lightgreen;
}

header {
  width: 1024px;
  height: 100px;
  margin: auto;
  color: darkgreen;
  background-color: white;
  border-bottom: grey solid 2px;

}

header>div {
  font-family: 'Pacifico', cursive;
  float: right;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 38px;
}

header>div:hover {
 color: lightgreen;
}

.logo {
  height: 100px;

}

main {
  width: 1024px;
  height: 720px;
  margin: auto;
  background-image: url("../img/backgroundfish.jpg");

}
