  body {
  background-size: cover;
  background: black;
  margin: 0px;
}
.background_photo {
  position: relative;
  float: right;
}
.headline {
  width: 700px;
  margin: 0px;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 10px;

}
h1 {
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 80px;
}
h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  font-size: 30px;
}
.about_me {
  width: 1000px;
  padding-left: 30px;
  padding-top: 10px;
}
p {
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: #ec710c;
}
a:hover {
  color: #09f4fb;
}
.hiddenimg {
  display: none;
}

.hiddentxt {
  color: #ec710c;
  font-family: 'Rubik Mono One', sans-serif;
}

.hiddentxt a {
  color: #ec710c;
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
}

.hiddenclick {
  color: #ec710c;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Rubik Mono One', sans-serif;
}

.hiddenclick a {
  color: #ec710c;
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
}

.hiddenclick a:visited {
  color: #ec710c;
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}
.footer {
  padding-left: 30px;
  margin-top: 100px;
  width: 400px;
}
.FB {
  float: left;
  margin-right: 100px;
}
