/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.boxy {
	border: red 1px solid;
}

header {
	height: 90px;
	width:100%;
	background-color: white;
}

.headerLogoSize img {
    width: 100px;
    height: 60px;
}
body{
	background-color: #142027;
}
menu{
  float:right;
  margin-right: 100px;
	margin-top: 30px
}
section{
	width: 50%;
	height: 700px;
}
aside{
	width: 45%;
	height: auto;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}

.headerText {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}
.largePic {
	float: right;
	margin-top: 200px;
	margin-right: 50px;
}
.sectionTexBox {
	width: 500px;
 margin-top: 200px;
 margin-right: 150px;
 background-color: grey;
 padding: 20px;
}
.smallButton1 {
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 270px;
	margin-left: 100px;
}
.smallButton2 {
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 0px;
}
.smallButton3 {
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 0px;
}
.smallButton4 {
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 0px;
}.smallButton5 {
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-left: 0px;
}
.article1{
	width: 100px;
	height: 100px;
	float: right;
	width: 49%;
	height: 700px;
}
.learnMoreButton{
	width: 167px;
	height: 45px;
	font-size: 20px;
	margin-top: 10px;
	background-color: #c3a97a;
}
.findOurCiderButton{
	width: 167px;
	height: 45px;
	font-size: 20px;
	border: #c3a97a 2px solid;
}
.goldText{
	color: #c3a97a;
}
.darkGoldText{
	color: #9c8b79;
}
.fancyText{
		font-family: aec-block, Impact, Charcoal, sans-serif;
}
footer {
	float: left;
	margin-top: 20px;

}
