/* make th background a color i want */
body
{
  background-color: pink;
}
/* puting in a border color, style and moveing the box model were i want */
.main{
  margin-left:350px;
  margin-right: 350px;
border-style: solid;
border-width: 5px 5px 5px 5px;
border-color: yellow;
}
/* font size and color */
h1{
  font-family: cursive;
  font-size: 70px;
}
/* puting the page were i want it and give the border a type i wan */
.fun{
  margin-left: 200px;
  margin-right: 600px;
border-style: solid;
border-width: 10px 10px 10px 10px;
}
/* changing font and colorof text */
h2{
  color: Red;
  font-size: 40px;
}
/* changing font and colorof text */
.tell{
  color: green;
  font-size: 15px;
}
/* makeing the border of the page and collor */
.work{
font-size: 15px;
   border: 5px solid green;
   margin-left: 350px;
   margin-right: 300px;
   color: black;
}
/* font size and color */
h3{
  color: red;
  font-size: 35px;
}
/* giveing the border a color and size and also the font */
.work2{
   border: 5px solid red;
  font-size: 50px;
}
/* puting the login in were i want it to be colorand size for border */
.login{
  margin-left: 900px;
  border: 5px solid black;
}
