body {
  background-image: url("img_3063.png");
}

/* Header includes nav bar on both left and right */

header {
  position: relative;
  color: #4d4d4d;
  background-color: #afcfaf;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;

}
.navLeft {
  position: relative;
  float: left;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 25px;
  color: #afcfaf;
  background-color: #4d4d4d;
  text-decoration: none;
  font-family: 'Gruppo', cursive;
}
.navRight {
  position: relative;
  float: right;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 25px;
  color: #afcfaf;
  background-color: #4d4d4d;
  text-decoration: none;
  font-family: 'Gruppo', cursive;
}

/* nav bar specifics */

a {
  padding-right: 40px;
  color: #afcfaf;
  text-decoration: none;
}
a:hover {
  color:	#D5AD6D; /*if no support for background-clip*/
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 40px;
  text-align: center;
  position: relative;
  padding-top: 15px;
  float: left;
  font-family: 'Pacifico', cursive;
}

/* short note on what the biz believes is most important. Add more images in a carousel later */

.bio {
  position: relative;
  float: left;
  color: white;
  width: 220px;
  height: 400px;
  font-size: 25px;
  background-color: #afcfaf;
  color: #4d4d4d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 20px;
  margin-left: 35px;
  font-family: 'Gruppo', cursive;
  border-radius: 10px;
  text-align: center;
}

.homePhoto>img {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 35px;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  }

/* h2 will be for all sub headings on page */

h2 {
  position: relative;
  float: left;
  color: #afcfaf;
  width: 170px;
  height: 60px;
  font-size: 50px;
  background-color: #4d4d4d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 25px;
  margin-top: 150px;
  margin-left: 40px;
  font-family: 'Pacifico', cursive;
  border-radius: 10px;
  text-align: center;
}

/* Standard heading and text sections */

.about {
  position: relative;
  float: right;
  color: white;
  width: 800px;
  height: 175px;
  font-size: 25px;
  background-color: #afcfaf;
  color: #4d4d4d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 50px;
  margin-right: 35px;
  font-family: 'Gruppo', cursive;
  border-radius: 10px;
  text-align: center;
}

/* head, subheading and text...will add photos later */

#artistsCandace{
  position: relative;
  float: left;
  color: #4d4d4d;
  background-color: #afcfaf;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 25px;
  margin-top: 110px;
  margin-left: 75px;
  margin-bottom: 10px;
}
#candaceDescription {
  position: relative;
  float: right;
  color: #afcfaf;
  background-color: #4d4d4d;
  font-family: 'Gruppo', cursive;
  font-size: 22px;
  width: 820px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 35px;
  margin-bottom: 10px;
}
#imelda {
  width: 875px;
}
#artistsImelda {
  position: relative;
  float: right;
  color: #4d4d4d;
  background-color: #afcfaf;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 25px;
  margin-left: 180px;
  margin-top: 10px;
}
#imeldaDescription {
  position: relative;
  float: left;
  color: #afcfaf;
  background-color: #4d4d4d;
  font-family: 'Gruppo', cursive;
  font-size: 22px;
  width: 820px;
  height: 115px;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 35px;
  margin-top: 10px;
}
#nicole {
  width: 875px;
  position: relative;
  float: right;
}
#artistsNicole {
  position: relative;
  float: left;
  color: #4d4d4d;
  background-color: #afcfaf;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 25px;
  margin-top: 10px;
}
#nicoleDescription {
  position: relative;
  float: right;
  color: #afcfaf;
  background-color: #4d4d4d;
  font-family: 'Gruppo', cursive;
  font-size: 22px;
  width: 820px;
  height: 130px;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 35px;
  margin-top: 10px;
}
#services {
  margin-top: 300px;
}
#servicesDescription {
  color: #afcfaf;
  position: relative;
  float: left;
  font-family: 'Gruppo', cursive;
  font-size: 22px;
  background-color: #afcfaf;
  color: #4d4d4d;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 40px;
}
h3 {
  font-size: 30px;
  font-weight: bold;
}
h5 {
  text-indent: 30px;
}
#gallery>h2 {
  margin-top: 20px;
}
#gallery {
  float: left;
}
.photos>img {
  position: relative;
  float: right;
  width: 22%;
  height: 22%;
  border-radius: 15px;
  margin-top: 20px;
  margin-right: 40px;
}
