body {
  background: black;
  color: white;
}

/* header */
header {
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  height: 10vh;
  z-index: 1;
}

#logo {
  margin:8px;
  filter:invert(100%);
  width: 50px;
  height: 50px;
}

#nav, #share {
  float:right;
  display: inline-block;
  text-align: center;
}

#share a, #nav a {
	width: 50px;
  height: 50px;
	display: inline-block;
	margin: 8px;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	opacity: 0.75;
  position: relative;
}

#share a:hover, #nav a:hover {
	opacity: 1;
}

#share i, #nav i {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

/* social media colors */
.facebook {
 	background: #3b5998;
}

.twitter {
  background: #55acee;
}

.twitch {
  background: #6441a5;
}

/* main content */
main>img {
  width: 100%;
}

section {
  border-bottom: solid white 2px;
  margin: 5% 10% 5%;
  height: 80vh;
}

section div {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
h1, h2 {
  font-family: 'Anton', sans-serif;
  font-size: 8vh;
  margin-bottom: 2vh;
}

p + p {
  margin-top: 3vh;
}

p, ul, .location a {
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
}

span.days {
  font-weight: bold;
}

.hours {
  float: left;
}

.location {
 float:right;
}

.location a:hover {
  color: blueviolet;
}
#eventWrapper {
  clear: both;
}
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Lato', sans-serif; */
