html {
  overflow: scroll;
}

header {
  background-color: #FF7400;
  border-bottom: 2px solid #C95C00;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  display: block;
  height: 100px;
  width: auto;
  position: absolute;
  left: 40px;
  /*bottom: 320px;*/
  padding: 4px;
}

/*ALL NAVIGATION!!*/

nav {
  display: inline;
  position: absolute;
  right: 40px;
  top: 30px;
}

.navLinks {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #FFEBCD;
  padding-right: 20px;
}

.navLinks:hover {
  color: #FFC700;
}

/*MAIN BLOCK AREA!!*/

main {
  background-color: #FF8219;
  height: 500px;

}

.bagels {
  position: static;
  height: 500px;
  width: auto;
  padding-right: 10px;
}

/*BOX BEHIND ADDRESS/HOURS*/

.box {
  width: 560px;
  height: 78px;
  border-radius: 4px;
  background-color: #E82C0C;
  border-top: 4px solid #FFC700;
  border-left: 4px solid #D4A500;
  border-right: 4px #FF0000 solid;
  border-bottom: 4px #AD0000 solid;
  position: absolute;
  top: 126px;
  left: 49%;

}

.address {
  position: absolute;
  padding: 1px;
  top: 126px;
  left: 50%;
  color: #FFEBCD;
  /*padding-right: 4px;*/
  text-decoration: none;
  font-size: 1.6em;
  font-family: 'Noto Sans', sans-serif;
}

.hours {
  position:absolute;
  top: 156px;
  left: 50%;
  color: #FFEBCD;
  font-size: 1.6em;
  padding-right: 4px;
  font-family: 'Noto Sans', sans-serif;
}


.address:hover {
  color: #FFC700;
}

.caption {
  font-size: 4.6em;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  position: absolute;
  top: 46%;
  left: 50%;
  text-align: right;
  line-height: 110%;
}

.bigger {
  font-size: 140%;
}

/*THREE SQUARES BELOW MAIN BLOCK!!*/

.bottomBlocks {
  background-color: #FF7400;
  height: 300px;
  border-top: 2px solid #C95C00;
  color: #FFEBCD;
}

h2  {
  color: #FFEBCD;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  /*position: absolute;
  top: 4px;
  left: 200px;*/
}

h2:hover {
  color: #E82C0C;
}

/*LEFT SIDE!!*/

.leftBlock {
  float:left;
  height:auto;
  width: 33%;
  /*border-right: 1px solid white;*/
  /*background-color: white;*/
}

.coffee {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 4px;
  height: 100px;
  width: auto;
  padding-right: 4px;
}

.leftBlock p {
  padding: 0 4px;
  display: inline-block;
  font-family: 'Lora', serif;
  hyphens: auto;
  padding-bottom: 0px;

}

/*MIDDLE BLOCK!!!*/

.middleBlock {
  display: inline-block;
  float: left;
  height:auto;
  width: 34%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 2px;
}

.juice{
  display: inline-block;
  position: relative;
  top: 4px;
  left: 4px;
  height: 100px;
  width: auto;
  padding-right: 4px;
}

/*RIGHT BLOCK!!!*/

.rightBlock {
  height:auto;
  width: 33%;
  display: inline-block;
  float: left;
  height:auto;
  position: relative;
  padding-bottom: 0px;
  padding left: 2px;
}

.pie {
  display: inline-block;
  position: relative;
  height: 100px;
  width: auto;
  padding-top: 4px;
}

/*FOOTER!!*/

footer {
  border-top: 2px solid #AD0000;
  padding-top: 4px;
  background-color: #E82C0C;
  height: 100px;
  padding-bottom: 0px;
}

footer a {
  position: relative;
  top: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #FFEBCD;
  font-family: 'Lora', serif;
  padding: 00% 10%;
}

footer a:hover {
  color: #FF7400;
}
