.boxed {border: 10px solid black;
  border-width: 10px;
  height:30px;
background-color:white;
text-align: center;
font-size: 25px;
font-weight: bold;
font-family: monospace;
}
.boxed2{border:20px solid red;border-width: 15px; height:20px;background-color:white;}
header{text-align:right; font-family: serif;font-weight: bolder;font-size: 17px}

h1{text-align:center;;font-family: serif;font-size: 26px;}
.shears{ background-color:red;border-width:10px; background-size:contain;margin:18x;
  height:80px; width:90px; float:right;
}
h2{text-align:center;font-family: cursive;}
.phone{background-color:white;border-width:32px;height:28px;width:28px; float:left; }
h3{text-align:left;font-family:serif}
ul{font-style: bolder; font-family:serif;font-variant: small-caps;
font-size: 30px;
font-weight:bolder;
font-family: serif;}
li{ font-famiy:serif;font-weight: lighter;font-size: 21px;}
p {font-size 9px;font-weight:light;font-family:serif;}



body {background-color:#B3E5FC  }
}
}
