.boxy {
  border: red 1px solid;
}
body {
  background: f5f5f5;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 22px;
}
h1 {
  text-align: center;
  font-family: Courier New;
  font-weight: 100;
  font-size: 70px;
  font-kerning: normal;
  letter-spacing: -1px;
  padding: 50px 20px 20px 20px;
}
.nav {
  text-align: center;
  text-transform: uppercase;
  padding: 40px 40px 40px 40px;
}
.nav a:hover {
  background-color: yellow;
}
.nav li {
display: inline;
}
.nav a {
  text-decoration: none;
  margin: 0px 20px;
  padding: 4px 6px;
}
#homeButton:hover {
  background-color: white;
  padding: 40px 40px 40px 40px;
}
#mainContent {
  width: 75%;
  text-align: left;
  margin: auto;
  padding: 25px 15px 15px 25px;
}
#skillsSection {
  width: 600px;
  text-align: left;
  margin: auto;
  padding: 30px;
}
.divRight {
  float: right;
  list-style-type: disc;
}
.divRight ul {
list-style-type:disc;
}
.divLeft ul {
list-style-type:disc;
}
#productSection {
  margin: auto;
  width: 67%;
  height: 1200px;
  padding: 10px 0px 160px;
}
.productThumb {
  width: 300px;
  height: 400px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.productThumbWide {
  width: 619px;
  height: 400px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
/* Product hover states */
.productThumb:hover {
  -webkit-filter: sepia(100%);
}
.productThumbWide:hover {
  -webkit-filter: sepia(100%);
}
/* Product active states */
.productThumb:active {
  -webkit-filter: saturate(3);
}
.productThumbWide:active {
  -webkit-filter: saturate(3);
}
.siteFooter {
  position: relative;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #707071;
  text-align: center;
  color: white;
  font-size: 11pt;
}
