body{
    font-family: 'Julius Sans One', sans-serif;
}
header{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.mainImage{
background-image: url('img/CoffeeShop.jpg');
background-position: center;
background-size:cover;
min-height: 450px;
}
.navbar{
    width: 600px;
    margin:auto;
    padding-top:none;  
}
nav ul{
    list-style:none;
}
li{
    display:inline;
    padding: 2px 20px 40px 20px;
}

a{
    color: white;
    text-decoration: none;
}     
a:hover{
    background-color: aqua;      
}

#welcome{
    padding:50px;
    font-size: 100px;
}
#logo{
    filter: invert(100%);
    padding: none;
    margin: none;
}

.eventsContainer{
    width: 80%;
    padding: 10px;
    margin:auto;
}
.event{
    float: left;
    width: 44%;
    margin: 30px;
    text-align: center;
}

.event p{
    margin: 10px;
}
.sectionHeading{
    font-size:30px;
    text-align: center;
}
.mainFooter{
    clear: both;
    min-height: 200px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 40px;
    background-color: #1A1B1B;

}
.socialLinks{
    padding: 10px;
    transition: transform .2s;
    margin: auto;
}

.socialLinks:hover {
        transform: scale(1.5);    
}

.textHeader{
    font-size:20px;
    font-weight: bold;
}

