body{
  background: linear-gradient(135deg, rgb(227, 227, 227), rgb(93, 104, 116));
}

.Logo {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
  border-bottom: black 2px solid;
}

menu {
  text-align: center;
  padding-bottom: 20px auto;
  background-color: navy;
  margin-top: 40px;
}


.home-link {
  font-weight: bold;
  font-size: 30px;
  font-family: arial;
  margin-right: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
}

.home-link:hover {
  color: red;
}

.AboutUs-link {
  font-weight: bold;
  font-size: 30px;
  font-family: arial;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
}

.AboutUs-link:hover {
  color: red;
}

  .MyCart-link {
    font-weight: bold;
    font-size: 30px;
    font-family: arial;
    margin-left: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
  }

  .MyCart-link:hover {
    color: red;
  }

  /*End of header and Nav Menu */

  /*Beginning of body */

  h2 {
    font-family: arial;
    color: red;
    margin-left: 180px;
    font-size: 30px;
    margin-top: 50px;
  }

  .intel-build {
    margin-bottom: 100px;
  }

.img1 {
    height: 450px;
    width: 600px;
    float: left;
    padding-bottom: 30px;
    border-bottom: 2px solid red;
  }


.first-list {
    float: right;
    text-align: left;
    font-size: 20px;
    font-family: arial;
    color: navy;
    margin-left: px;
    padding-bottom: 186px;
    border-bottom: 2px solid red;
}

  li {
    margin: 10px;
  }



  .mostimages {
    float: left;
    height: 450px;
    width: 600px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid red;
  }

  .most-lists {
    float: right;
    text-align: left;
    font-size: 20px;
    font-family: arial;
    color: navy;
    padding-bottom: 166px;
    margin-top: 70px;
    border-bottom: 2px solid red;
}

/* End of body */
