body {
    background-color: rgb(179, 117, 238);
    display:flex;
    justify-content: center;

}

 button {
     height: 440px;
     width: 430px;
     background-color: blueviolet;
     border-radius: 50%;
     border: 2px black solid;
 }
 .button-div {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height:650px;
     width: 600px;
 }
 div {
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 p {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: white;
 }
span {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:30px;

}