body {
    display:flex;
    justify-content: center;

}

 button {
     height: 100px;
     width: 100px;
     background-color: blueviolet;
     border-radius: 50%;
     border: 2px black solid;
 }
 .button-div {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 1px black solid;
     height: 200px;
     width: 200px;
 }
 div {
     border: 3px orange solid;
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }