body {
    background-color:black;
    display:flex;
    justify-content: center;
}
/*clicker style*/
 button {
     height: 300px;
     width: 300px;
     background-color: blueviolet;
     border-radius: 50%;
 }

 .button-div {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height:650px;
     width: 600px;
 }

 div {
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 /* click counter style*/
 p {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: white;
 }
 /* timer style*/
span {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size:30px;

}
.nav {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

