body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Sansita', sans-serif;
}

nav.navbar{
  background-color: rgba(255,255,255,0.5);
  color: white;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

#hero{
    background-image: url("../img/boat.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding-top: 20px;
    text-align: center;
    padding: 300px;
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    font-family: 'Sansita', sans-serif;
    letter-spacing: 2px;
    margin-top: 50px;
}

#logo{
  height: 78px;
  width: 78px;
  opacity: .5;
}

#hero h1{
  opacity: .75;
}

#hero p{
  opacity: .75;
  padding-top: 15px;
}

#about{
  text-align: center;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  font-style: italic;
}

#aboutimage{
  width: 100%;
}

#abouttext{

}

#about h3 {
	padding: 50px 15px;
	font-style: italic;
	font-size: 21px;
	font-weight: normal;
	font-family: Georgia;
}
#about h2 {
	padding: 50px 15px;
	font-style: italic;
	font-size: 3.0em;
	font-family: Georgia;
}
#about p {
	padding: 50px 15px;
	font-size: 1.2em;
	line-height: 30px;
	margin-top: 30px;
	font-family: Georgia;
}

#video{
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  border: 3px solid white;
  margin-top: 0 ;
}
