body{
    font-family: "Roboto", sans-serif;
    cursor: default;
}

.containerstyle {
  display: grid;
  grid-template-columns: 0px auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 0;
  grid-template-areas:
    "nav header header header header"
    "nav body body body body"
    "nav body body body body"
    "nav footer footer footer footer";
}

.navstyle {
  display: grid;
  grid-template-columns: 150px auto auto auto;
  grid-template-rows: auto;
  grid-gap: 0;
  grid-template-areas:
    "nav header header header header"
    "nav body body body body"
    "nav body body body body"
    "nav footer footer footer footer";
}

#navcol {
  grid-area: nav;
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  background-color: lightblue;
}
#navlist {
  margin: 5px;
  margin-top: 15px;
  font-size: 20pt;
}
.navitem {
  margin-bottom: 20px;
}

header {
  min-height: 75px;
  grid-area: header;
  display: flex;
  background-color: lightblue;
}
.navcon {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: space-evenly;
}

.navbtn {
  width: 35px;
  height: 6px;
  background-color: black;
  margin-left: 5px;
}
h1 {
  font-size: 35pt;
  font-weight: bolder;
  margin-top: auto;
  margin-right: auto;
  margin-left: 30px;;
}
h2 {
  font-size: 25pt;
  margin-left: 10px;
  margin-right: 35px;
  margin-top: auto;
}

.section1 {
  grid-area: body;
  width: 500px;
  height: 500px;
}
#navtopbtn{
    min-height: 75px;
    min-width: 150px;
}
.listheader {
  font-weight: bold;
  font-size: 18pt;
  border-bottom: 1px black solid;
}

.navlist {
  margin-bottom: 3px;
  margin-top: 5px;
}
.navlist:hover {
  opacity: 0.5;
}
