body {
    margin: 0 auto;
    width: 75%;
    padding: 2%;
}

.title-container {
    background-color: #757475;
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.stripe {
    background-image: url(../img/stripe.png);
    height: 30px;
}

.container1 {
    display: flex;
    height: 1000px;
    background-color: black;
    align-items: center;
    justify-content: center;
    /* border-top: 15px solid #A5A5A5; */
}

.column {
    display: flex;
    width: 500px;
    margin: 0 20px;
    color: #282828;
    text-align: center;
    font-family: amatic sc;
    justify-content: space-evenly;

}

.column h1 {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 600px;
}

.container2 {
    display: flex;
    height: 200px;
    background-color: black;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

#wheel1 {
    transform: rotate(90deg);
}

#wheel3 {
    transform: rotate(180deg);
}
/* --------------------------------------- */
.container3 {
    height: 10px;
    border: 2px solid black;
}
.container3a {
    height: 20px;
    border: 2px solid black;
}
.container3b {
    height: 30px;
    border: 2px solid black;
}
.container4 {
    height: 50px;
    border: 2px solid black;
}
.container5 {
    height: 70px;
    border: 2px solid black;
}
.container6 {
    display: flex;
    height: 150px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
.container6 h3 {
    font-family: muli;
    font-size: 25px;
}
.container7 {
    height: 70px;
    border: 2px solid black;
}
.container8 {
    height: 50px;
    border: 2px solid black;
}
.container9 {
    height: 30px;
    border: 2px solid black;
}
.container9a {
    height: 20px;
    border: 2px solid black;
}
.container9b {
    height: 10px;
    border: 2px solid black;
}

div.stripe2 {
    background-image: url(../img/stripe2.png);
    height: 130px;
    border-top: 500px solid black;
    /* border-bottom: 30px solid black;  */
}

div.stripe3 {
    background-image: url(../img/stripe3.png);
    height: 360px;
    border-bottom: 20px solid orange; 
}


/* --------------------------------------- */

.content1 {
    display: grid;
    grid-template-columns: 25% 75%;
    border-top: 250px solid black;

}
.container10 {
    background-image: url(../img/art1.png);
    display: flex;
    height: 245px;
    /* border: 2px solid black; */
    font-family: muli;
}

li {
    list-style-type: none;
}

.container11 {
    display: grid;
    height: 245px;
    /* border: 2px solid black; */
    /* border-right: 10px solid black; */
    border-right: 30px solid #FBE14C;
    align-items: center;
    justify-items: center;
}

.container11 > h2 {
    color: #530E2F;
    font-family: kumar one outline;
    font-size: 65px;
    /* margin-top: 20px; */
}

.content2 {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 50px solid #3A4252;;
}
.container12 {
    display: flex;
    height: 200px;
    background-color: black;
    border: 2px solid black;
    /* border-left: 20px solid black; */
    justify-content: center;
    align-items: center;
}

div.school {
    /* display: flex; */
    color: white;
    font-family: muli;
    font-size: 20px;
    margin-left: 30px;
}

.container13 {
    background-color: darkgrey;
    border-right: 60px solid maroon;
    border-left: 130px solid #191D4C;
}

.container14 {
    height:30px;
    background-image: url(../img/stripe.png);
    border-bottom: 10px solid black;
}

.container15 {
    height: 200px;
    background-color: white;
}

div.stripe4 {
    background-image: url(../img/stripe4.png);
    height: 60px;
    border-bottom: 10px solid red;
}

.content3 {
    display: grid;
    height: 400px;
    justify-content: center;
    align-content: center;
    /* background-color: #757475; */
    border: 2px solid black;
    
}

.content3 h1 {
    font-family: bungee outline;
    font-size: 60px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: muli;
    margin-left: 100px;
    font-size: 20px;
    /* justify-content: center; */
    align-content: center;
    /* justify-content: space-evenly; */
}

.container16 {
    height: 70px;
    border: 2px solid black;
}
.container17 {
    height: 70px;
    border: 2px solid black;
}
.container18 {
    height: 50px;
    border: 2px solid black;
}
.container19 {
    height: 30px;
    border: 2px solid black;
}
.container20 {
    height: 20px;
    border: 2px solid black;
}
.container21 {
    height: 10px;
    border: 2px solid black;
}

div.stripe5 {
    height: 190px;
    background-image: url(../img/stripe5.png);
}


.content4 {
    display: grid;
    height: 400px;
    margin: 0 auto;
    font-family: kumar one outline;
    justify-content: center;
    align-items: center;

}

/* ================================================ */
.footer {
    display: flex;
    background-color: orange;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-top: 20px solid black;
}

.contact {
    width: 220px;
    margin: 0 20px;
}

i {
    margin: 70px;

}

@media (max-width: 576px) {
    .title-container {
        background-color: gray;
    }

    .title-container img {
        display: none;
    }
    h1 {
        font-size: 1em;
    }

    .title h1 {
        font-size: 45px;
        margin: 10px;
        text-align: center
    }

    .column {
        color: black;
        text-align: center;
        margin-top: 5%;
    }

    .container1 {
        display: grid;
        background-color: black;
        flex-direction: column;
        height: 100%;
        align-items: center;
        flex-flow: column;
    }

    .container1 h1 {
        color: white;
        font-size: 20px;
    }

    #wheel1 {
        display: none;
    }

    #wheel3 {
        display: none;
    }

    .container11 h2{
        font-size: 35px;
    }

    .school p {
        font-size: 15px;

    }

    .aca-logo {
        display: none;
    }
