.nasa {
  background-image: url(../img/nasa-background.jpg);
  width: 850px;
  height: 450px;
  margin-left: 15%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 20%;
  font-family: sans-serif;
  font-size: 500%;
}

h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 80%;
  color: #808080;
}

 #container {
   background-color: #e6e6e6;
   width: 850px;
   height: 324px;
   margin-top: 20px;
   margin-left: 15%;
 }

 .social {
   width: 270px;
   float: left;
   padding-right: 20px;
   padding-left: 20px;
 }

 .office {
   float: left;
   width: 270px;
 }

 .contact {
   float: left;
   width: 270px;
 }
