html, body {
  margin: 0 auto;
}

header {
  background-color: black;
  color: inherit;
  /*height: 200px;*/
  width: 100%;
  border: solid black;
  /*display: inline-block;*/
  padding: 5px;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 8px 8px 16px black;
  background-color: grey;
  font-size: 60px;
  margin: 20px;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 4px grey;
  font-size: 40px;
  margin: 20px;
}

h3 {
  text-align: center;
  text-shadow: 2px 2px 4px grey;
  font-size: 30px;
  margin: 20px;
}

nav {
  background-color: white;
  color: black;
  height: 100px;
  width: 99%;
  border: solid black;
  /*margin: 5px 10px 5px 10px;*/
}

.topics {
  background-color: yellow;
  color: inherit;
  float: left;
  margin: 1.2em 4%;
  /*margin: 1em 0.1em 1em 1.5em;*/
  /*clear: left;*/
  text-align: center;
  font-family: monospace, arial;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  border: solid black 1px;
  text-decoration: none;
  width: 25%;
  box-sizing: border-box;
}

.topics:first-child {
  margin-left: 4%;
}

div {
  /*margin-bottom: 1em;*/
  width: 100px;
  height: 50px;
}

main {
  background-color: darkgrey;
  color: white;
  min-height: 800px;
  height: 100%;
  width: 100%;
  border: solid black;
  margin: 10px 0px;
  /*margin-top: 10px;*/
  /*padding-top: 80px;*/
  box-sizing: border-box;
  /*float: right;*/
}

img {
  width: 190px;
  height: 140px;
  float: left;
}

aside {
  background-color: tan;
  color: black;
  float: right;
  min-height: 600px;
  width: 200px;
  border: solid black;
  margin: 0px 5px 5px 5px;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  /*display: inline-block;;*/
}

section {
  background-color: white;
  color: black;
  float: right;
  min-height: 600px;
  width: calc(98% - 200px);
  /*min-width: 40px;*/
  border: solid black;
  /*margin: 0px 0px 5px 5px;*/
  box-sizing: border-box;
  padding: 10px;
}

article {
  background-color: white;
  color: black;
  /*float: left;*/
  height: 485px;
  width: 100%;
  /*border: solid black;*/
  /*margin: 2em 25% 0.2em 1%;*/
  box-sizing: border-box;
  overflow: scroll;
  font-size: 20px;
}

footer {
  /*background-color: black;*/
  height: 50px;
  width: 100%;
  border: solid black;
  box-sizing: border-box;
}
