/*Keep in mind to use inline-block*/


body {
  margin: auto;
  border:solid black;
  width: 75%;
  background-image: url("img/Paper1.jpg");
  background-repeat: repeat;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  /*border:solid black;*/
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

a {
  font: black;
  text-decoration: none;
  align-self: center;
}

a:hover {
  text-decoration: underline;
}

h1 {
  align-self: center;
}

h2 {
  align-self: center;
}

li:hover {

}

main {
  display: flex;
  /*border: solid black;*/
  height:500px;
  justify-content: flex-start;
}

section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 73%;
  height: 99%;
  border: solid black;
  border-left: 0;
}

article {
  margin-top: -15px;
  height: 80%;
  width: 100%;
  border: solid black;
  /*background-image: url("img/Supes.jpg");
  background-size:cover;*/
  border-left: 0;
  border-right: 0;
}
p {
  font-size: 14px;
  align-self: center;
}
.supes {
  width: 100%;
  height:100%;
}
.we{
  width:100%;
  height:100%;
}

aside {
  width: 27%;
  height:99%;
  border: solid black;
  border-left: 0;
  border-right: 0;
  /*background-image: url("img/WE.jpg");
  background-size: cover;
  background-position: center;*/
}

footer {
  border-top: solid black;
}

div {
  display: flex;
  justify-content: space-around;
}

.be {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.rb {
  width: 100%;
  height: 80%;
}
