header {
  background-color: pink;
  width: 1000px;
  display:inline-block;
  border-style: solid;
  }

header h1 {
  text-align: center;
  font-family: Helvetica;
}

nav {
  background-color: orange;
  width: 1000px;
  border-style: solid;
  float:none;
}

nav p {
  text-align: center;
  font-family: Helvetica;
  /*justify-content: space-between;*/
}

main {
  background-color: purple;
  width: 1000px;
  display:inline-block;
  border-style: solid;
  padding-bottom: 50px;
  clear:both;
}

main p {
  text-align:center;
}

a {
  align: center;
  padding: 250px 0px;
}

body {
  clear:both;
}

section {
  background-color: green;
  width: 70%px;
  border-style: solid;
  min-width: 700px;
  padding-bottom: 50px;
  margin: 5px;
  float:left;
}

aside {
  background-color: yellow;
  width: 25%;
  min-width:145px;
  border-style: solid;
  /*padding: 5px 0px;*/
  margin: 5px;
  float:left;
}

footer {
  background-color: gray;
  width: 1000px;
  border-style: solid;
  float: left;
  align: center;
  padding-top: 20px;
  clear:both;
}

footer p {
  text-align: center;
}

@media query (max-width:495px){
  section, aside {
    min-width:100%;
  }
}
