body{
  width: 1000px;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #ec9787;
}
.page{
  width: 980px;
  height: 82px;
  border: 0px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: white;
}
.top-of-page{
  width: 100%;
  height: 100%;
  border: 0px;
  border-color: white;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: white;
}
nav + h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  float: right;
  font-family: "open sans condensed", sans-serif;
  color: black;
}
nav li{
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline;
  float: right;
  font-family: "open sans condensed", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}
.top-of-page>h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: inline;
  float: left;
  font-family: "open sans condensed", sans-serif;
  font-size: 60px;
  color: black;
}
main{
  width: 100%;
  height: 786px;
}
.box1{
  width: 980px;
  height: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #f9dbd6;
}
/* end of title and navigation box check to see if you can take out anything extra */
.row1{
  width: 980px;
  height: 250px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #f9dbd6;
  float: right;
}
.box2{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: right;
  position: relative;
}
/*box 2 holds the image of the maple table*/

img.align-top-row1{
  display: block;
  position: absolute;
  top: 0px;
  left: 40px;
  border: 0px;
  margin: 0px auto;
}
.text-block{
  position: absolute;
  bottom: 50px;
  left: 30px;
  height: 20px;
  background-color: #f6f6f6;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description for the maple table*/

.box3{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f6f6f6;
  float: right;
  position: relative;
}
/*holds the image of the stool*/

img.align-top-row2{
  display: block;
  position: absolute;
  top: 0px;
  left: 15px;
  border: 0px;
  margin: 0px auto;
}
.text-block1{
  position: absolute;
  bottom: 35px;
  left: 10px;
  height: 20px;
  background-color: #f6f6f6;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description of the stool*/

.box4{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f6f6f6;
  float: right;
  position: relative;
}
/*holds the image of the hexagon table*/

img.align-top-row3{
  display: block;
  position: absolute;
  top: 0px;
  left: 35px;
  border: 0px;
  margin: 0px auto;
}
.text-block2{
  position: absolute;
  bottom: 50px;
  left: 25px;
  height: 20px;
  background-color: #f6f6f6;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description of the hexagon table*/
.row2{
  width: 980px;
  height: 250px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #f9dbd6;
  float: right;
}
.box5{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: right;
  position: relative;
}
/*this box holds the desalto chair*/

img.align-middle-row1{
  display: block;
  position: absolute;
  bottom: 45px;
  left: 40px;
  border: 0px;
  margin: 0px auto;
}
/*desalto chair*/

.text-block3{
  position: absolute;
  bottom: 50px;
  left: 35px;
  height: 20px;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description of desalto chair*/

.box6{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: right;
  position: relative;
}
/*this box holds the canvas side chair*/

img.align-middle-row2{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 5px;
  border: 0px;
  margin: 0px auto;
}
/*image of canvas side chair*/

.text-block4{
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 20px;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description of canvas side chair*/

.box7{
  width: 33.33%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: right;
  position: relative;
}
/*this box holds the image of the round side table*/

img.align-middle-row3{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 25px;
  border: 0px;
  margin: 0px auto;
}
/*image of round side table*/

.text-block5{
  position: absolute;
  bottom: 50px;
  left: 25px;
  height: 20px;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/*description of round side table*/
.row3{
  width: 980px;
  height: 250px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #f9dbd6;
  float: right;
}
.box8{
  width: 30%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #ffffff;
  float: right;
  position: relative;
}
img.align-bottom-row1{
  display: block;
  position: absolute;
  bottom: 35px;
  left: 40px;
  border: 0px;
  margin: 0px auto;
}
.text-block6{
  position: absolute;
  bottom: 45px;
  left: 25px;
  height: 20px;
  background-color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.box9{
  width: 30%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #ffffff;
  float: right;
  position: relative;
}
img.align-bottom-row2{
  display: block;
  position: absolute;
  bottom: 25px;
  right: 70px;
  border: 0px;
  margin: 0px auto;
}
.text-block7{
  position: absolute;
  bottom: 45px;
  left: 0px;
  height: 20px;
  background-color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.box10{
  width: 40%;
  height: 250px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #ffffff;
  float: right;
  position: relative;
}
img.align-bottom-row3{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 0px;
  margin: 0px auto;
}
.text-block8{
  position: absolute;
  bottom: 45px;
  left: 25px;
  height: 20px;
  background-color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 12px;
  color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
