
html {
  font-family: sans-serif;
  background-color: #4C3081;
}

body {
  width: 75%;
  margin: 10% 15% 10% 15%;
}

#hero{
background-image: url("../img/sdsausage.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 60%;
position: relative;
width: 100%;
min-height: 350px;
max-height: 350px;
/*below is border that I commented out*/

/*align-self: center;*/
/*border-left: solid 51px;
border-right: solid 51px;
border-bottom: solid 25px;
border-top: solid 51px;
border-color: #2F1D4F;*/
}


h1 {
  margin: 0;
  padding-top: 7%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  font-size: 500%;
  font-family: 'aladin', cursive;
  text-align: center;
  color: white;
}

.columns {
  /*display: flex;*/
}

.column {
  background: #2F1D4F;
  border: 5px solid #2F1D4F;
  /*display: flex;*/
  flex: 1;
  flex-direction: column;
  padding: 15px;
}

.main-column {
  flex: 2;
}

.article {
  background: #FF8500;
  border: 5px solid #4C3081;
  color: white;
  flex: 1;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.article-body{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.article-content{
  flex: 1;
}

.article-info{
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

.article-image{
  background: red;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;

}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.first-article {
  flex-direction: row;
}

.first-article .article-body{
  flex: 1;
}

.first-article .article-image {
  height: 400px;
  order: 2;
  padding: 0;
  margin:0;
  width: 200px;

/*I made the picture narrow so that it would look better in the row format. I'll probably change this later*/

}

h2{
  font-family: 'aladin', cursive;
  font-size: 150%;
  margin-top: 10px;
  margin-bottom: 7px;
}

a{
  text-decoration: none;
  font-family: 'Kavivanar', cursive;
  font-size: 14;
}



@media screen and (min-width: 800px) {
  .columns,
  .column{
    display: flex;
  }
}

@media screen and (min-width:1000px){
  .first-article{
    flex-direction: row;
  }

  .first-article .article-body{
    flex: 1;
  }

  .first-article .article-image {
    height: 500px;
    order: 2;
    padding-top: 0;
    width: 300px;

  }

  .main-column {
    flex: 3;
  }

  .nested-column {
    flex:2;
  }
}
