main {
    background-color: green;
    height: 400px;
    width: 800px;
}
@media all and (blue)

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

section {
    background-color: black;
    height: 400px;
    width: 800px;
}

article {
    display: inline-block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;
}

.blue {
    background-color: blue;
    height: 20px;
    width: 80px;
}

.green {
    background-color: green;
    height: 20px;
    width: 80px;
}

.red {
    background-color: red;
    height: 20px;
    width: 80px;
}
