html {
  height: 100%;
}

body {
  min-height: 100%;
}

header {
  background: url(../img/sub_header_home.jpg);
  background-size: cover;
  height: 559px;
  color: white;
  margin-bottom: 18px;
}

h1 {
  font-size: 60px;
  font-family: times;
  padding-top: 150px;
  margin-bottom: 1.5%;
}

h4 {
  font-size: 26px;
  font-family: times;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: times;
  font-size: 20px;
}
