header {
  height: 51px;
  color: #999;
  background-color: #222;
  margin-bottom: 15px;
}

body {
  font-family: Helvetica, sans-serif;
}

main {
  width: 848px;
}

aside {
  width: 264px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container-hflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding-top: 17px;
  height: 51px;
  text-decoration: none;
  color: #999;
  background-color: inherit;
  padding-right: 30px;
}

.logo:hover {
  color: white;
  background-color: inherit;
}

.navbar > li {
  display: inline-block;
  text-decoration: none;
  color: #999;
  background-color: inherit;
}

.navbar > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 0px 7px 0px 7px;
  color: #999;
  background-color: inherit;
  height: 50px;
  line-height: 51px;
}

.navbar > li > a:hover {
  background-color: #000;
  color: #fff;
}

.navbar {
  display: inline-block;
}

.herounit {
  padding: 50px;
  background-color: #ddd;
  color: inherit;
  border-radius: 10px;
}

.herounit-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.herounit-text {
  font-size: 18px;
}

.verticalmenu > li > a {
  display: block;
  padding: 5px;

  text-decoration: none;
  color: #000;
  background-color: inherit;
  border-bottom: none;
  border: 1px solid #ccc;
}

.verticalmenu > li {
  list-style-type: none;
}

.verticalmenu {
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .verticalmenu {
      display: none;
    }
}

.verticalmenu > li > a:hover {
  background-color: blue;
  color: white;
}

.verticalmenu > li:last-child > a {
  border-bottom: none;
}
