body{
  font-family: Helvetica, sans-serif;
}

header{
  height:51px;
  background-color:#222;
  color: #999;

}

.container{
  width: 1140px;
  margin: 0 auto;

}

.logo{
  padding: 15px 0px;
  display: inline-block;
}

.navbar{
  display: inline-block;
}

.navbar > li{
  display: inline-block;
}

.navbar > li > a{
  color:#999;

}
