body {
  font-family: Helvetica, sans-serif;
}

header {
  height: 51px;
  background-color: #222;
  color: #9d9d9d;
  margin-bottom: 15px;
}

.container {
  width: 1140px;
  margin: 0 auto;

}

.logo {
  padding: 15px 0;
  display: inline-block;
  text-decoration: none;
  color: #9d9d9d;
}

/*.logo:visited {*/
  /*color: #500;*/
/*}*/


.navbar {
  display: inline-block;
}

.navbar > li {
  display: inline-block;
  list-style-type: none;
}

.navbar > li > a {
  text-decoration: none;
  color: #9d9d9d;
  display: inline-block;
  padding: 16.5px 10px;
}

.navbar > li > a:hover {
  background-color: #000;
  color: #fff;
}

.container-hflex {
  display: flex;
  justify-content: space-between;
}

main {
  width: 848px;

}

.herounit {
  background-color: #eee;
  padding: 50px;
  border-radius: 10px;
}

.herounit-title {
  margin-bottom: 10px;
  font-size: 46px;
  font-weight: bold;
}

.herounit-text {
font-size: 18px;
}

aside {
  width: 264px;
}

.menuvertical {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.menuvertical > li {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid #e1e1e1;
}

.menuvertical > li:hover {
  background-color: #2F79B9;
}

.menuvertical > li:last-child {
  border-bottom: none;
}

.menuvertical > li > a:hover {
  color: white;
}

.menuvertical > li > a {
  display: block;
  text-decoration: none;
  color: #000;

}
