header {
  height: 51px;
  color: #999;
  background-color: #222;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  padding-top: 17px;
  height: 51px;
  text-decoration: none;
  color: #999;
  background-color: inherit;
  padding-right: 30px;
}

.logo:hover {
  color: white;
  background-color: inherit;
}

.navbar > li {
  display: inline-block;
  text-decoration: none;
  color: #999;
  background-color: inherit;
}

.navbar > li > a {
  display: inline-block;
  text-decoration: none;
  padding: 0px 7px 0px 7px;
  color: #999;
  background-color: inherit;
  height: 50px;
  line-height: 51px;
}

.navbar > li > a:hover {
  background-color: black;
  color: white;
}

.navbar {
  display: inline-block;

}
