body {
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  background: white;
}

h1 {
  color: grey;
  line-height: 1;
  font-size: 3em;

  span {
    color: lightgray;
    display: block;
    font-size: 5.5em;
    letter-spacing: $letter-spacing;
  }
}