html, body {
  width: 100%;
  height: 205vh;
}

.alpha01 {
  width: 100vw;
  height: 0;
  padding-top: 50%;
  background-image: url(../img/flag1.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;

}

.my-beta01 {
  width: 100vw;
  height: 53vw;
  background-color: black;
  /*padding-top: 50%;*/
}

.my-beta02 {
  display: inline-block;
  object-fit: contain;
  padding-right: 0;
  margin: 1% auto 0 5%;
  height: 100%;
  width: 95vw;
}
