html, body {
  width: 100%;
  height: 205vh;
}

.my-alpha01 {
  width: 100vw;
  height: 100vh;
  padding-top: 55%;
  background-image: url(../img/flag1.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;
  /* add in after animation is added
  overflow-x: hidden;*/

}


.my-alpha02 {
  background-color: transparent;
  z-index: 5;
  height: 100vh;
  padding-top: 100%;
  margin-top: -100%;
}

/*not used
.my-alpha02 {
  height: 80vh;
  width: 30vw;
  background-color: #B9A279;
  margin-top: -45%;
  /*margin-left: 100%;
  padding-top: 17%;
  transform: translateX(333%);
  transition: all 3s;

}*/


.my-alpha03 {
  background-image:url(../img/longhorn3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 70vh;
  position: absolute;
  margin-top: -250%;
  margin-left: 320%;
  transform: translateX(-50%);
  transition: all 2s;
  z-index: 10;

}

.my-alpha02:hover .my-alpha03{
  transform: translateX(-175%);
}

.my-alpha04 {
  height: 70vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
}

/*.my-alpha06 {
  display: flex;
  justify-content:
}*/

.my-alpha07 {
  width: .1vw;
  height: 40vh;
  margin-top: -15%;
  padding-left: 5%;
  /*margin-left: 5%;*/
}

.my-alpha06 > h3 {
  color: white;
}

.my-alpha08 {

  list-style-type: none;
  margin-top: 5%;
  /*margin: 47% 0 0 6%;*/
  /*margin: 2% 30% 0 auto;
  padding-left: 0;*/
}

.my-alpha08 > li {
  margin-top: 5%;
}

.my-alpha08 > li > a {
  color: white;
}


.my-beta02 {
  display: block;
  object-fit: contain;
  padding-right: 0;
  margin: 1% auto 0 10%;
  height: 100%;
  width: 95vw;
}

.my-beta03 {
  font-family: 'Cinzel', serif;
  font-size: 3em;
}

.beta-bt-left {
  position: absolute;
  bottom: 40%;
  left: -5%;
}

.beta-bt-right {
  position: absolute;
  bottom: 40%;
  right: 5%;
}

.my-beta-4 {
  max-height: 130vh;
  max-width: 170vh;

}
