html, body {
  width: 100%;
  height: 305vh;
}

body {
  background-image: url(../img/burlap1.png);
}

@media only screen and (min-width: 961px) and (max-width: 1301px) {
.my-alpha01 {
  width: 98vw;
  height: 100vh;
  padding-top: 55%;
  background-image: url(../img/flag2.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;
  overflow-x: hidden;
  border-radius: 3%;
}

.my-alpha09 {
  z-index: 30;
  margin-top: -55%;
}

.my-alpha10 {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-around;
}

.my-alpha11 {
  display: inline-block;
  margin: 1% auto auto 1%;
  height: inherit;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.my-alpha12 {
  display: inline-block;
  margin: -1% 15% auto auto;
  font-family: 'Cinzel', serif;
  font-size: 230%;
  font-weight: bold;
  color: black;
}

.my-alpha12 > h1 {
  font-family: 'Cinzel', serif;
  font-size: 190%;
  font-weight: bold;
  color: black;
  margin-top: 10%;
}

.my-alpha12 > h1 > span {
  font-size: 70%;
  text-decoration: underline;
}

.my-alpha13 > button {
  background-color: transparent;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 130%;
  font-weight: bolder;
  color: white;
}

.my-alpha13 > ul {
  background-color: transparent;
  border: none;
}

.locations > ul {
  background-image: url(../img/blue1.png);
  border: none;
}

.my-alpha13 > ul > li > a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: white;
}

.my-alpha02 {
  background-color: transparent;
  z-index: 5;
  height: 100vh;
  padding-top: 100%;
  margin-top: -100%;
}

.my-alpha03 {
  border-radius: 10px;
  background-image:url(../img/longhorn3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 70vh;
  position: absolute;
  margin-top: -250%;
  margin-left: 320%;
  transform: translateX(-50%);
  transition: all 2s;
  z-index: 10;
}

.my-alpha02:hover .my-alpha03{
  transform: translateX(-174%);
}

.my-alpha04 {
  border-radius: 10px;
  height: 70vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
}

.my-alpha07 {
  margin-top: -10%;
  padding-left: 15%;
}

.my-alpha07 > img {
  height: 40vh;
  width: 1vw;
}

h3 {
  color: white;
  font-family: 'Trirong', serif;
  overflow-x: visible;
  z-index: 12;
  margin-left: -25%;
}

.my-alpha08 {
  list-style-type: none;
  margin-top: 5%;
}

.my-alpha08 > li {
  margin-top: 5%;
}

.my-alpha08 > li > a {
  color: white;
  font-family: 'Trirong', serif;
}

.my-alpha13  > ul > li > .my-alpha14 {
  background-color: black;
  border: 0;
  width: auto;
  font-size: 70%;
  margin-left: 10%;
}

.my-beta01 {
  width: 98vw;
  height: 53vw;
  background-color: black;
  border-radius: 3%;
  margin-top: 2vh;
}

.my-beta02 {
  display: block;
  object-fit: contain;
  padding-right: 0;
  margin: 1% auto 0 10%;
  height: 100%;
  width: 95vw;
}

.my-beta03 {
  font-family: 'Cinzel', serif;
  font-size: 3em;
}

.beta-bt-left {
  position: absolute;
  bottom: 40%;
  left: -5%;
}

.beta-bt-right {
  position: absolute;
  bottom: 40%;
  right: 5%;
}

.my-beta-4 {
  height: 500px;
  width: 900px;
  max-height: 45%;
  max-width: 70%;
}


.my-gamma03 {
  width: 98vw;
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
}

.my-gamma04 {
  height: 75vh;
  width: 45vh;
  background-color: tan;
  color: black;
  /*font-size: 110%;*/
  text-align: center;
  border-radius: 5px;
  padding: 0 3vh;
}

.my-gamma05 {
  height: 20%;
  width: 60%;
  margin: 3% auto;
}

.my-gamma06 {
  height: 20%;
  width: 60%;
  margin: 3% auto;
}

.my-gamma07 {
  height: 15%;
  width: 25%;
  margin: 7% auto;
}

.my-gamma04 > h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 170%;
  margin-top: 10%;
}

.my-gamma04 > p {
  font-family: 'Ubuntu', sans-serif;
}

.my-delta01 {
  background-color: transparent;
}

.my-delta01 > div > h4 {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 200%;
}

.my-delta03 > form {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 100%;
}

.my-delta04 {
  background-color: black;
}

/*end of min-961px media query*/
}
