html, body {
  width: 100%;
  height: 205vh;
}

body {
  background-image: url(../img/burlap1.png);
}

@media only screen and (max-width: 480px){

.my-alpha01 {
  width: 96vw;
  height: 0;
  padding-top: 10%;
  background-image: url(../img/flag2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;
  margin-bottom: 26vh;
}

.my-alpha09 {
  z-index: 30;
  margin-top: -13%;
}

.my-alpha10 {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-around;
}

.my-alpha11 {
  display: inline-block;
  margin: 3% auto auto 20%;
  height: inherit;
  width: 10vw;
  display: flex;
  justify-content: space-around;
}

.my-alpha12 {
  display: inline-block;
  margin: -1% 6% auto auto;
}

.my-alpha12 > h1 {
  font-family: 'Cinzel', serif;
  font-size: 90%;
  font-weight: bold;
  color: white;
}

.my-alpha12 > h1 > span {
  font-size: 30%;
  text-decoration: underline;
}

.my-alpha13 > button {
  background-color: transparent;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 70%;
  color: white;
  text-decoration: underline;
}

.my-alpha13 > ul {
  background-image: url(../img/red2.png);
  border: none;
}

.my-alpha13 > ul > li > a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40%;
  color: white;
}

.my-alpha13  > ul > li > .my-alpha14 {
  background-color: black;
  border: 0;
  width: auto;
  font-size: 70%;
  margin-left: 10%;
}

.my-alpha02 {
  height: 26vh;
  width: 96vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(../img/longhorn3.png);
  background-size:auto;
  background-position: 0 55%;
}

.my-alpha07 > img {
  height: 18vh;
  width: 1vw;
}

h3 {
  color: white;
  font-family: 'Trirong', serif;
  overflow-x: visible;
  font-size: 130%;
  margin-left: 6.5%;
  margin-bottom: 0;
}

.my-alpha08 {
  list-style-type: none;
  margin-top: .3%;
}

.my-alpha08 > li {
  margin-top: .5%;
}

.my-alpha08 > li > a {
  color: white;
  font-family: 'Trirong', serif;
  font-size: 50%;
}

.beta01 {
  z-index: -10;
  width: 96vw;
  height: 0;
  padding-top: 50%;
  background-color: black;
}

.my-beta01 {
  width: 96vw;
  height: 53vw;
  background-color: black;
  margin: 27vh auto 0;
}

.my-beta02 {
  display: inline-block;
  object-fit: contain;
  margin: 6% 2% 0 auto;
  height: 40vw;
  width: 95vw;
}

.my-gamma03 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-gamma04 {
  height: 40vh;
  width: 96vw;
  background-color: tan;
  color: black;
  /*font-size: 110%;*/
  text-align: center;
  border-radius: 5px;
  margin: 1vh auto;
  padding: 3vw;
}

.my-gamma05 {
  height: 16%;
  width: 13%;
  margin: 1% auto -8% 83%;
}

.my-gamma06 {
  height: 16%;
  width: 15%;
  margin: 1% auto -8% 83%;
}

.my-gamma07 {
  height: 16%;
  width: 12%;
  margin: 3% auto -8% 84%;
}

.my-gamma04 > h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 120%;
  margin-top: 2%;
}

.my-gamma04 > p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 80%;
}

.my-delta01 {
  background-color: transparent;
}

.my-delta01 > div > h4 {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 200%;
}

.my-delta03 > form {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 100%;
}

.my-delta04 {
  background-color: black;
}

/*End of max-480px media query*/
}
