body {
  width: 100%;
  height: 100%;
}

.color-1 {
  background-color: #d3bd8e;
  color: inherit;
}

.welcome-image img {
  max-height: 600px;
  width: 100%;
}

.welcome-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.welcome-button h1 {
  font-family: 'Courgette', cursive;
  font-size: 60px;
  color: #04560a;
  background-color: inherit;
  line-height: 50px;
}

.welcome-button p{
  font-size: 20px;
  line-height: 60px;
}

.welcome-height {
  height: 500px;
}

.tan {
  background-color: #04560a;
  color: #d3db8e;
  font-size: 16px;
  padding: 8px;
}

.tan:hover {
  text-decoration: none;
  color: #04560a;
  background-color: #d3db8e;
}
