.heroimg{
 /*width: 95%;*/
/*-webkit-background-size:cover;*/
/*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  background-size: cover;
 /*margin: auto;*/
 background-image: url('../img/newmtn2.jpg');
 height: 710px;
 /*background-blend-mode: multiply;*/
 /*background-color: #6E6E6E;*/
 /*background-position:left;*/
 /*background-position: 20% 65% !important;*/
 background-position-y: 73%;
 background-repeat: no-repeat;
 /*align-items: center;*/
 text-align: center;
 padding-top:100px;
 /*padding-right: 100px;*/
 font-family: 'Buda', cursive;
 font-weight:bolder;
 }
 nav{
   font-family: 'Buda', cursive;
 }

 h1{
   font-size: 60px;
   padding-bottom: 40px;
 }
#text{
  font-size: 36px;
  padding-bottom: 30px;
}
h4{
  font-size: 24px;
  font-weight: bold;
}
#aboutme{
  font-family: 'Buda', cursive;

}



/*--------------service.html CSS---------*/
#space{
font-family: 'Buda';
/*width: 600px;
border: 1px solid;*/
padding-left: 100px;
background-image: url('../img/stars.jpg');
background-repeat: no-repeat;
background-size:cover;
color:white;
height: 710px;
 background-position-y: 93%;

}

#chrispic{
  /*float: left;*/
  width: 150px;
  border-radius:50%;
  margin-top: 130px;


}
#aboutme{
  width: 60%;
  /*padding-left: 200px;*/
  padding-top: 120px;
  color:white;

}

#codeimage1{
  height: 230px;
  /*float:right;*/
  padding-left: 150px;
  padding-bottom: 20px;


}
#codeimage2{
  height: 230px;
  /*float:right;*/
  padding-left: 150px;
  padding-top: 20px;
}



/*--------------------navbarcss---------*/
#socialmedia{
  padding-left: 1050px;
  padding-top: 12px;
  color

}


/*---------------contact.html CSS----------------*/
.contactimg{
  background-image: url('../img/sunset.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  /*font-size: 18px;*/

}
.input{
  padding-top: 200px;
font-family: 'Buda', cursive;
color:#EDCDAD;

}
.panel-body{
  background-color:black;
  color:#EDCDAD;
}
.form-group{
/*background-color:#EDCDAD;*/
}


/*--------------Portfolio.html CSS--------------*/
*{
  margin:0;
  padding: 0;
}
#body1{
  background-image: url('../img/sunset.jpg');
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #6E6E6E;
    background-position-x: 23%;
width:1000px;
padding-left: 195px;
    height: 310px;
  /*background:grey;*/
/*-----------------Javascript-------------*/
}
#main{
  margin: 20px auto;
  padding:10px;
  box-shadow: 0 0 22px #000;
  width: 500px;
  height: 300px;
  font-family: 'Buda';

}
#carousel{
  width: 500px;
  height: 300px;
  overflow: hidden;
}
#carousel ul{
  list-style: none;
  width: 1500px;
  height: 300px;
}
#carousel ul li{
  float: left;
  width: 500px;
  height: 300px;
}
#carousel ul li img{
  width: 500px;
  height: 300px;
}
/*------------------cssportfoliotext--------*/

#port1{
padding-top: 80px;
text-align: center;
  font-family: 'Buda';
font-size: 42px;
font-weight: bolder;
}
/*margin-top:30px;*/
