.heroimg{
 /*width: 95%;*/
-webkit-background-size:cover;
-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /*margin: auto;*/
 background-image: url('../img/newmtn2.jpg');
 height: 710px;
 /*background-blend-mode: multiply;*/
 /*background-color: #6E6E6E;*/
 /*background-position:left;*/
 /*background-position: 20% 65% !important;*/
 background-position-y: 73%;
 background-repeat: no-repeat;
 /*align-items: center;*/
 text-align: center;
 padding-top:100px;
 /*padding-right: 100px;*/
 font-family: 'Buda', cursive;
 font-weight:bolder;
 }
 nav{
   font-family: 'Buda', cursive;
 }

 h1{
   font-size: 60px;
   padding-bottom: 40px;
 }
#text{
  font-size: 36px;
  padding-bottom: 30px;
}
h4{
  font-size: 24px;
  font-weight: bold;
}
#aboutme{
  font-family: 'Buda', cursive;

}



/*--------------service.html CSS---------*/
main{
font-family: 'Buda';
/*width: 600px;
border: 1px solid;*/
padding-left: 100px;
background-image: url('../img/stars.jpg');
background-repeat: no-repeat;
background-size:cover;
color:white;
height: 710px;
 background-position-y: 93%;
}

#chrispic{
  float: left;
  width: 150px;
  border-radius:50%;
  margin-top: 130px;


}
#aboutme{
  width: 50%;
  padding-left: 200px;
  padding-top: 120px;
}


/*---------------contact.html CSS----------------*/
.contactimg{
  background-image: url('../img/sunset.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  font-size: 18px;



}
.input{
  padding-top: 200px;
font-family: 'Buda', cursive;
color:#EDCDAD;

}
.panel-body{
  background-color:black;
  color:#EDCDAD;
}
.form-group{
/*background-color:#EDCDAD;*/
}
