body {
    width: 95%;
    margin: 0 auto;
}

.navbar-brand {
    height: 50px;
}

.navbar-brand>.fa {
    margin-right: 5px;
    color: #9d9d9d;
}

.navbar-brand>.fa:hover {
    color: #fff;
}

.strike {
    text-decoration: line-through;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 90px;
    display: inline;
}

#name {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.top {
    background-color: #aaa;
}

input {
    margin-right: 6%;
}

#contactMe>div>div>div.modal-body>form>label:nth-child(7) {
    width: 100%;
}

.jumbotron {
    background: none;
}

.name {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    color: #000;
}

.descript {
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #000;
}

#about {
    position: relative;
    margin-top: 170px;
    margin-bottom: 450px;
    bottom: -70px;
}

#about h2 {
    font-size: 2em;
    text-align: center;
}

.about-me {
    font-size: 1.5em;
}

.flash {
    padding: 0;
    margin-bottom: 100px;
}

#projects {
    position: relative;
    margin: 50px auto 200px auto;
    bottom: -50px;
}

.font {
    padding-top: 180px;
}

.item {
    margin-bottom: 50px;
    background-position: center;
}

#contact {
    margin: 255px auto 100px auto;
}

#contact h2 {
    margin: 20px auto;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.fa {
    color: #333;
}

.fa:hover {
    color: #666;
}

.thelynx {
    display: flex;
    position: relative;
    top: 20px;
    margin: 0 auto;
    justify-content: space-between;
}

.thelynx p {
    color: #333;
}

.fa:hover~p {
    color: #666;
}

form textarea {
    width: 98%;
    height: 100px;
}

form label {
    position: relative;
    margin: 5px 0;
}

.submitbutt {
    position: relative;
    display: inline-block;
    width: 30%;
    right: -11px;
}

@media (min-width:1200px) {
    .contact-link i {
        margin: 0 auto;
    }
    .contact-link p {
        position: relative;
        text-align: center;
        margin-top: 10px;
        margin-right: 30px;
        width: 135px;
        left: -45px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .thelynx {
        width: 95%;
        left: -17px;
    }
    .contact-link p {
        position: relative;
        width: 128px;
        text-align: center;
        margin-top: 10px;
        margin-right: 35px;
        left: -41px;
    }
}

@media (max-width:991px) {
    .thelynx {
        position: relative;
        right: -10%;
    }
    .blurb {
        position: relative;
        left: -54%;
        width: 128px;
        margin-top: 10px;
    }
    .blurb2 {
        position: relative;
        margin-top: 10px;
    }
}

@media (max-width:767px) {
    .thelynx {
        right: -10%;
        margin: 0 auto;
    }
    .navbar-brand~.fa {
        font-size: 3em;
    }
    #about p {
        text-align: center;
    }
}

@media (max-width:767px) {
    #projects {
        margin-bottom: 10px;
    }
    #contact {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width:651px) {
    .thelynx {
        right: -15%;
    }
}

@media (max-width:600px) {
    .thelynx {
        right: -14%;
    }
}

@media (min-width:400px)and (max-width:599px) {
    .thelynx {
        right: -5%;
    }
}

input[type=text] {
    width: 40px;
    height: 25px;
    margin-right: 17px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    transition-delay: 0.3s;
}

input[type=text]:focus {
    width: 45%;
    margin-right: 3%;
}

textarea[type=textarea] {
    width: 10%;
    height: 25px;
    margin-bottom: 20px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    /* Safari */
    transition: width 2s, height 2s, transform 2s;
    transition-delay: 0.3s;
    resize: none;
}

textarea[type=textarea]:focus {
    width: 98%;
    height: 100px;
    resize: none;
    ;
}

button, input, select, textarea {
    margin: 0;
}

.mapp {
    margin-bottom: 50px;
}

.carousel-inner {
    overflow: inherit;
}

footer p {
    position: relative;
    bottom: -169px;
    left: 0;
}
