#background{
  background-image: url("../img/atl01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;

  height: 1300px;
  width: 1300px;


}


.learn{
  float:right;
}

.TT {
  background-color: transparent;

}
