html, body {
  width: 100%;
  height: 205vh;
}

.my-alpha01 {
  width: 100vw;
  height: 0;
  padding-top: 50%;
  background-image: url(../img/flag1.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;

}

.my-alpha03 {
  background-image:url(../img/longhorn3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 30vh;
  /*position: absolute;
  margin-top: -250%;
  margin-left: 320%;
  transform: translateX(-50%);
  transition: all 2s;
  z-index: 10;*/

}

/*.my-alpha02:hover .my-alpha03{
  transform: translateX(-175%);
}*/

.my-alpha04 {
  height: 30vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5));
}

/*.my-alpha06 {
  display: flex;
  justify-content:
}*/

.my-alpha05 > h3 {
  color: white;
}

.my-alpha07 {
  margin-top: 0;
  overflow-x: hidden;
}

.my-alpha08 {
  list-style-type: none;

}

.my-alpha08 > li {
  margin-top: 5%;
}

.my-alpha08 > li > a {
  color: white;
}

.my-beta01 {
  width: 100vw;
  height: 53vw;
  background-color: black;
  /*padding-top: 50%;*/
  /*padding: 0 8%;*/
}

.my-beta02 {
  display: inline-block;
  object-fit: contain;
  align-self: center;
  margin: .5% auto auto 3%;
  height: 52vw;
  width: 95vw;
}

/*.beta02special {
  height: 100%;
  margin: 6% 10% auto auto;
}*/
