html, body {
  width: 100%;
  height: 205vh;
}

body {
  background-image: url(../img/burlap1.png);
}

@media only screen and (min-width: 481px) and (max-width:960px){

.my-alpha01 {
  width: 96vw;
  height: 0;
  padding-top: 50%;
  background-image: url(../img/flag2.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;
  margin-bottom: 38vh;
  border-radius: 3%;
}

.my-alpha02 {
  margin-top: 1vh;
  height: 35vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(../img/longhorn3.png);
  /*background-repeat: no-repeat;*/
  background-size:auto;
  background-position: 0 55%;

}

h3 {
  color: white;
  font-family: 'Trirong', serif;
  overflow-x: visible;
  margin-left: 60%;
}

.my-alpha07 > img {
  height: 22vh;
  width: 1vw;
}

.my-alpha08 {
    height: 20vh;
}

h3 {
  color: white;
  font-family: 'Trirong', serif;
  overflow-x: visible;
  font-size: 190%;
  margin-left: 6.5%;
  margin-bottom: 0;
}

.my-alpha08 {
  list-style-type: none;
  margin-top: 1%;
}

.my-alpha08 > li {
  margin-top: 1.15%;
  z-index: 19;
}

.my-alpha08 > li > a {
  color: white;
  font-family: 'Trirong', serif;
  z-index: 100;
  font-size: 110%;
}

.my-beta01 {
  /*margin-top: 35vh;*/
  width: 96vw;
  height: 53vw;
  background-color: black;
  border-radius: 3%;
}

.my-beta02 {
  display: inline-block;
  object-fit: contain;
  align-self: center;
  margin: .5% auto auto 3%;
  height: 52vw;
  width: 95vw;
}

.my-gamma03 {
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-gamma04 {
  height: 40vh;
  width: 95vh;
  background-color: tan;
  color: black;
  /*font-size: 110%;*/
  text-align: left;
  border-radius: 5px;
  margin: 2vh auto;
  padding: 1vw;
}

.my-gamma05 {
  height: 16%;
  width: 13%;
  margin: 1% auto -8% 83%;
}

.my-gamma06 {
  height: 16%;
  width: 15%;
  margin: 1% auto -8% 83%;

}

.my-gamma07 {
  height: 16%;
  width: 12%;
  margin: 3% auto -8% 84%;
}

.my-gamma04 > h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 170%;
  margin-top: 2%;
}

.my-gamma04 > p {
  font-family: 'Ubuntu', sans-serif;
}

/*End of max-960px media query*/
}
