html, body {
  width: 100%;
  height: 205vh;
}

.my-alpha01 {
  width: 100vw;
  height: 0;
  padding-top: 50%;
  background-image: url(../img/flag1.png);
  background-repeat: no-repeat;
  background-size: 100vw, 75vh;
  background-position: 35% 105%;

}

.my-beta01 {
  width: 100vw;
  height: 53vw;
  background-color: black;
  /*padding-top: 50%;*/
  /*padding: 0 8%;*/
}

.my-beta02 {
  display: inline-block;
  object-fit: contain;
  align-self: center;
  margin: .5% auto auto 3%;
  height: 52vw;
  width: 95vw;
}

/*.beta02special {
  height: 100%;
  margin: 6% 10% auto auto;
}*/
