/*This css formats the "Wolfie Fullmoon" Title*/
/*Used cssWarp to create http://csswarp.eleqtriq.com/*/

#warped {position: absolute; display: block; width:802px; height:440px;color:white; left:80px;top:-120px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'Kalam';font-size:38px;font-weight:bold;font-style:normal;
line-height:1; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
width: 30px; height: 38px; left: 26.13px; top: 134.99px;}

#warped .w1 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
width: 17px; height: 38px; left: 65.43px; top: 136.69px;}

#warped .w2 {-moz-transform: rotate(-6.05rad);-webkit-transform: rotate(-6.05rad);-o-transform:
rotate(-6.05rad);-ms-transform: rotate(-6.05rad); transform: rotate(-6.05rad);
width: 9px; height: 38px; left: 91.72px; top: 140.7px;}

#warped .w3 {-moz-transform: rotate(-5.9rad);-webkit-transform: rotate(-5.9rad);-o-transform:
rotate(-5.9rad);-ms-transform: rotate(-5.9rad); transform: rotate(-5.9rad);
width: 13px; height: 38px; left: 110.02px; top: 147.24px;}

#warped .w4 {-moz-transform: rotate(-5.74rad);-webkit-transform: rotate(-5.74rad);-o-transform:
rotate(-5.74rad);-ms-transform: rotate(-5.74rad); transform: rotate(-5.74rad);
width: 9px; height: 38px; left: 130.82px; top: 156.66px;}

#warped .w5 {-moz-transform: rotate(-5.59rad);-webkit-transform: rotate(-5.59rad);-o-transform:
rotate(-5.59rad);-ms-transform: rotate(-5.59rad); transform: rotate(-5.59rad);
width: 16px; height: 38px; left: 145.48px; top: 169.79px;}

#warped .w6 {-moz-transform: rotate(-5.48rad);-webkit-transform: rotate(-5.48rad);-o-transform:
rotate(-5.48rad);-ms-transform: rotate(-5.48rad); transform: rotate(-5.48rad);
width: 16px; height: 38px; left: 164.32px; top: 187.78px;}

#warped .w7 {-moz-transform: rotate(-5.49rad);-webkit-transform: rotate(-5.49rad);-o-transform:
rotate(-5.49rad);-ms-transform: rotate(-5.49rad); transform: rotate(-5.49rad);
width: 16px; height: 38px; left: 181.96px; top: 206.41px;}

#warped .w8 {-moz-transform: rotate(-5.62rad);-webkit-transform: rotate(-5.62rad);-o-transform:
rotate(-5.62rad);-ms-transform: rotate(-5.62rad); transform: rotate(-5.62rad);
width: 19px; height: 38px; left: 200.94px; top: 225.21px;}

#warped .w9 {-moz-transform: rotate(-5.84rad);-webkit-transform: rotate(-5.84rad);-o-transform:
rotate(-5.84rad);-ms-transform: rotate(-5.84rad); transform: rotate(-5.84rad);
width: 18px; height: 38px; left: 225.55px; top: 240.38px;}

#warped .w10 {-moz-transform: rotate(-6.01rad);-webkit-transform: rotate(-6.01rad);-o-transform:
rotate(-6.01rad);-ms-transform: rotate(-6.01rad); transform: rotate(-6.01rad);
width: 9px; height: 38px; left: 252.17px; top: 248.73px;}

#warped .w11 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
width: 9px; height: 38px; left: 270.49px; top: 252.75px;}

#warped .w12 {-moz-transform: rotate(-6.26rad);-webkit-transform: rotate(-6.26rad);-o-transform:
rotate(-6.26rad);-ms-transform: rotate(-6.26rad); transform: rotate(-6.26rad);
width: 30px; height: 38px; left: 289.19px; top: 255.38px;}

#warped .w13 {-moz-transform: rotate(-6.37rad);-webkit-transform: rotate(-6.37rad);-o-transform:
rotate(-6.37rad);-ms-transform: rotate(-6.37rad); transform: rotate(-6.37rad);
width: 17px; height: 38px; left: 329.67px; top: 254.4px;}

#warped .w14 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
width: 17px; height: 38px; left: 355.88px; top: 251.56px;}

#warped .w15 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
width: 20px; height: 38px; left: 383.71px; top: 246.8px;}
