*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Niramit', sans-serif;
}
body{
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(https://placeimg.com/1000/1000/tech);
    background-size: cover;
    
  }





.menu-container{
   
    color: #fff;
    
    display: flex;
    justify-content: center;
   
    
}

.menu{
  
    width: 900px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
   
    
}

.bio-img{
    border-radius: 70%;
    filter:drop-shadow(5px 5px 4px #260C0C);
    


}
.bio-info-container{
    
    display: flex;
    justify-content: center;
  
}
.bio-info{
   color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    filter:drop-shadow(5px 5px 4px #260C0C);
    flex-wrap: wrap;



    
}


