img {
	
	width: 30%;
	float: left;
	margin: 1.66%;
}


p {
	font-family: Raleway;
	margin-left: 1.6%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #d8d8d8;
	width: 30%;
	padding-bottom: 20px;
}

.navbar-light {
	width: 700px;
}

