#bio {
  font-style: italic;
}
nav {
  text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 20%;
}
img:hover {
  background-color: orange;
}
header {
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}
