#wrapper{
    width:1024px; 
    margin:0 auto;
   }
   body { 
       background-image: linear-gradient(160deg,#6d706b,#3b6c3b);
   }

   /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;

}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: Garamond; 
    
    
    
}
   #header h1{
     text-align:center;
     
   }
     nav.navigation {
     display: block;
     margin-bottom: 10px;
     background-color: black
     
   }
   nav.navigation  ul {
     list-style: none;
     font-size: 20px; 
     text-align: center;
   }
   nav.navigation  ul li {
     display: inline-block;
   }
   nav.navigation  ul li a {
     display: block;
     float: left;
     padding: 3px 6px;
     color: #575c7d;
     font-size:22px;
     text-decoration: none;
     font-weight: bold;
   }
   nav.navigation  ul li a:hover {
     background: #ccc;
     color: #fff;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     padding: 3px 6px;
     margin: 0;
     text-decoration: none;
   }
   #content {
    display: block;
    clear: both;
    margin-bottom: 20px;
    min-height: 500px;
  }
  
  #left-sidebar {
    width: 25%;
    float: left;
    margin: 0 15px;
    background:lightslategray; 
    min-height: 500px; 
    text-align: center;
  }
  #right {
    float: right;
    width: 62%;
    background: lightslategray; 
    text-align: center;
    min-height: 500px;
  }
  footer{text-align: center;
  color: white;
  font-size:20px}
  
  
  
 
  

