h1, h2, ul, li, div, p {
  margin: 20px;
}

h2 {
  padding: 10px;
  font-size: 1.5em;
  font-family: sans-serif;
}

#theCart {
  padding: 30px;
  background-color: lightgrey;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
}

li {
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  height: 30px;

}

button {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
