body {
  background: rgb(58,179,113);
  color: white;
  text-align: center;
}

.m {
   margin-top: 25px;
   margin-bottom: 25px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.row {
margin-bottom: 20px;
}

.img1 {
  width:100%;
  height:100%;
  }

.img2 {
  width:100%;
  height:100%;
  margin-bottom: -20;
}

.whitebox {
  background:white;
  margin-top: -20;
}

h2 {
  color: black;
  margin-top: 0px;

}

p {
  color: black;
}

.ninety {
  width: 90%;
  margin: 0 auto;
}

.shadow {
  box-shadow: 5px 5px 5px black;
}
