body {
  padding-top: 60px;
  background: #000;
}

.jumbotron {
  background: no-repeat url(/web-workbook/05week/news-website/images/news-banner.jpg) 50% 50%;
  padding: 90px 60px
}

img {
  width: 100%
}

p {
  margin: 0 0 30px;
}

.container-fluid .content {
  padding-left: 50px;
  padding-right: 50px;
}

div.row.h2 {
  background: #141414;
}

h2, h3, h4 {
  color: #fff
}

a:hover {
  text-decoration: none;
}

h3:hover {
  text-decoration: underline;
}
