article {
  border: 1px solid black;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.img {
  width: 100%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  grid-area: title;
}

.story0 {
  grid-area: story0;
}

.story1 {
  grid-area: story1;
}

.story2 {
  grid-area: story2;
}

.story3 {
  grid-area: story3;
}

.story4 {
  grid-area: story4;
}

.story5 {
  grid-area: story5;
}

.story6 {
  grid-area: story6;
}

.story7 {
  grid-area: story7;
}

.story8 {
  grid-area: story8;
}

.story9 {
  grid-area: story9;
}

body {
  display: grid;
  grid-template-areas:
    "title"
    "story0"
    "story1"
    "story2"
    "story3"
    "story4"
    "story5"
    "story6"
    "story7"
    "story8"
    "story9"
}

@media (min-width:576px) {

}

@media (min-width:768px) {
  body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "story0 story0"
      "story1 story2"
      "story3 story4"
      "story5 story6"
      "story7 story8"
      "story9 story9"
  }
  .story9 {
    display: flex;
  }
  .story9 .details {
    margin-left: 10px;
  }
}

@media (min-width:992px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title title title title"
      "story0 story0 story1 story1"
      "story2 story2 story3 story4"
      "story2 story2 story5 story5"
      "story6 story7 story8 story9"
  }
  .story0, .story1, .story5 {
    display: flex;
  }
  .story0>.details, .story1>.details, .story5>.details {
    margin-left: 10px;
  }
  .story9 {
    display: block;
  }
}
