body{
  width: 98%;
  margin: 2% auto;
  background-color: black;
}

header{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}

header h1{
  font-size: 4em;
  color: white;
  font-weight: 900;
  }

  header a{
    font-size: 1em;
    color: white;
    text-decoration: none;

  }

  article{ background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5%;

  }

  img{
    width: 800px;
  }



  .byline{
    width: 100%;

  }

  span{
    float: right;

  }

  .ketchup{
    width: 400px;
  }

  .sam{
    width: 400px;
  }

  .robert{
    width: 400px;
  }

  .art{
    width: 400px;
  }
