body {
  background-color: #3ab371;
}

.container-fluid {
  margin: 5%;
}
/*Title*/
header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0vh 5vh 0vh;
}

a {
  color: #8dd2ac;
  text-decoration: underline;
  font-size: 1.5em;
}

/* bottom boxes*/
.row2 {
  margin-top: 5%;
}

/* box-shadow and darker text*/
.selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.4);
}

.selected h2, .selected p {
  color: black;
}

/*all boxes*/
.article {
  background-color: white;
  color: #606161;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article h2, .article p, article byline {
  padding: 0px 18px 0px 18px;
}

h2 + p {
  min-height: 15vh;
}

.byline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
