#container {
  display:flex;
}

#dragList {
  margin:50px 0 0 50px;
}

#object1 {
  height:50px;
  width:50px;
  background: red;
  border-radius: 100%
}

#object2 {
  height:50px;
  width:50px;
  background: orange;
}

#object3 {
  height:50px;
  width:50px;
  background: green;
  border-radius: 100%
}

#object4 {
  height:50px;
  width:50px;
  background: blue;
}

#dropArea {
  height:200px;
  width:200px;
  background: lightblue;
  margin:50px;
}
