body {
color: black; text-align: center;background-color: grey ;
}
* {
  font-family: 'Chewy', cursive;
}
/*target body element*/
.box-model {
width: 250px;
height: 50%; /* 50% of the available space - that is, relative to the element's parent*/
}
