li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: green;
}

h3 {
  font-family: 'Spectral', serif;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.hero-img {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  text-align: center;
  position: absolute;
  margin-left: -15px;
  margin-right: -15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: yellow;
  text-align: center;
  cursor: pointer;
  transition: 1.3s;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
  transform: scale(1.2);
}

@media only screen and (max-width: 767px) .About {
  padding-bottom: 0;
}

.container-about {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.about {
  padding: 70px 0;
}

.about-text {
  font-family: 'Spectral', serif;
  font-size: 18px;
}

.col-md-6 .col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.social-media {
  margin-bottom: 18px;
  text-align: center;
}

i {
  width: 35px;
  height: 35px;
  text-align: center;
  color: green;
  transition: 2s;
}

.social-media:hover {
  transform: scale(1.5);
}


.about-text {
  text-align: center;
}

.col-md-6 .col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


/*i:hover .info:hover & {
    transform: translateX(100px);
  }

.fa-fa-user {
  transition: all 1.5s linear;

}*/

.web-img {
  width: 300px;
  height: 415px;
}

.download:hover & {
  transform: scale(1.4);
}

.download {
  font-family: 'Spectral', serif;
  font-size: 12px;
  background-color: yellow;
  transition: 1.3s;
  /*transform: skewX(-20deg);*/
}

.download:hover {
  background-color: black;
  color: white;
  transform: skewX(-20deg);
}


/*Contact css*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: yellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
