body, html {
    height: 100%;
    font-family: 'Wallpoet', cursive;

}
a:hover{
  text-decoration: none;
}

.parallax {
    /* The image used */
    background-image: url("../img/lights.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#welcome:hover{
  background-color: #fff;
  color: #000;
  transition-duration: 4s;

}
div.container-fluid.parallax{
  display: flex;
  justify-content: center;
  align-items: center;


}
#welcome{
  display: flex;
  justify-content: center;
  padding: 2%;
  border: 1px solid #fff;
  color: #fff;

}
.lets{
  color: #fff;
}
.navbar{
  border-radius: 0;
  border: none;
  background-color: #000;

}

.about{
  display: flex;
  flex-grow: 2;
  justify-content: center;
  flex-direction: column;
  background-color: #262525;
  color: #fff;

}
div.container-fluid{
  padding: 1%;

}
div.container-fluid.about{
  margin: 0;
}
.aboutHeader{
  display: flex;
  justify-content: center;
}
nav.navbar.navbar-default{
  margin: 0;
}
.row{
  width: 100%;
  height: 500px;
  background-color: #fff;
  padding: 2%;
}


.item{
width: 150px;
height: 150px;
border: 1px solid #ddd;
}

.item span{
font-size: large;
}
.parallaxTwo{
  /* The image used */
  background-image: url("clouds.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
