body {
    background-color: lightgray;
}
main {
    width: 600px;
    margin: auto;
}
article {
    border-style: hidden;
    border-color: LIGHTGRAY;
    padding: 10px;
    background-color: white; 
    margin-top: 2px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
p { 
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

