header {
  background-color: black;
  height: 150px;
  width: 100%;
}
h1{
  font-family: Bastion;
  color: white;
  font-size: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
nav{
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
main {
  background-color: purple;
  height: 600px;
  width: 750px;
}
section{
  background-color: aqua;
  height: 550px;
  width: 700px;
}
article {
  background-color: white;
  height: 450px;
  width: 580px;
  display: flex;
}
footer {
  background-color: lightblue;
  height:50px;
  width:1000px;
}
aside {
  background-color:pink;
  height:600px;
  width: 200px;
  float:right;
  clear: right;
}
