header {
  background-color: black;
  height: 150px;
  width: 100%;
}

h1 {
  font-family: Bastion;
  color: white;
  font-size: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav {
  background-color: white;
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
  font-family: serif;
}

main {
  background-color: purple;
}

section {
  background-color: aqua;
  float: left;
  width: 70%;
}

article {
  background-color: white;
  /*display: flex;*/
}

footer {
  background-color: lightblue;
  height: 50px;
  width: 80%;
}

aside {
  background-color: pink;
  height: 600px;
  width: 29%;
  float: left;
}
