body {
  background-image: "Desktop/web-workbook/03week/airplane/img/depositphotos_118836352-stock-photo-fishing-net-with-dark-blurred.jpg";
}
header {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: white;
  font-size: 100px;
}
a {
  max-height: 50px;
  max-width: auto;
}
