body {
  background-color: black;
  width: 400px;
  margin: auto;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  color: white;
  font-size: 300%;
  text-align: center;
}

b {
  font-family: 'Indie Flower', cursive;
}

.x {
  font-family: 'Indie Flower', cursive;
  color: #AA00FF;
}

.o {
  font-family: 'Indie Flower', cursive;
  color: #00FF00;
}

#board {
  margin: auto;
  clear: both;
}

.box {
  width: 131px;
  height: 131px;
  float: left;
  border: 3px solid white;
  border-left: 0;
  font-size: 100px;
  text-align: center;
}

.row .box {
  border-top: 0;
}

.box:last-child {
  border-right: 0;
}

.row:last-child>.box {
  border-bottom: 0;
}

button {
  float: none;
  margin: 25px auto;
  text-align: center;
  border: 3px solid gray;
  background-color: black;
  color: gray;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  margin: 50px 0 0 125px;
}

button:hover {
  cursor: pointer;
  color: white;
  border: 3px solid white;
}
