/*div {
  border: 1px solid red;
}*/

h1, h2, h3, h4, h5, p, a, span {
  font-family: "Work Sans", Helvetica, sans-serif;
}

.creatives {
  height: 500px;
  background-image: url("../img/office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.creatives h1 {
  margin-top: 175px;
}


.foursquare_tl  {
  height: 200px;
  background-image: url("../img/tl.JPG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 250px auto;
}

.foursquare_tr  {
  height: 200px;
  background-image: url("../img/tr.JPG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 250px auto;
}

.foursquare_bl  {
  height: 200px;
  margin-top: -200px;
  background-image: url("../img/bl.JPG");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 250px auto;
}

.foursquare_br  {
  height: 200px;
  margin-top: -200px;
  background-image: url("../img/br.JPG");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 250px auto;
}

.tallimg  {
  height: 400px;
  background-image: url("../img/tall.JPG");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.fantastic h2 {
  height: 100px;
}

.plan {
  height: 500px;
  background-color: #f0f0f0;
  padding-top: 25px;
}

.gold {
  height: 450px;
  background-color: #d7f8e5;
}

.silver {
  height: 450px;
  background-color: white;
}

.silver h4, .gold h4 {
  font-weight: bold;
  margin: 50px 0;
}

.view_button  {
  background-color: #2e2e2e;
  color: white;
  font-weight: bold;
  line-height: 30px;
  margin-top: 25px;
  font-size: 12px;
}

.basic p {
  font-weight: bold;
}

.gray p {
  color: #2e2e2e;
  opacity: .8;
}
