/* styling elements for whole document,
min and max-width to prevent content from moving when window squshies or expands */

html {
  color: #333333;
}

/*Styles applied to navigation/header section */


nav {
  width: 98%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Avenir";
  position: fixed;
  padding-top: 10px;
}

nav>span:hover {
  color: #ffa64d;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #ffa64d;
}
/* End of navigation/header styling */

/* Styling for welcome/landing page */

.welcome {
  color: white;
  background-color: white;
  height: 750px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../img/smoothies.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* Used to scale the image as large as possible without stretching it */
}

#logo {
   height: 200px;
  width: 250px;
  margin-top: 100px;
  margin-bottom: 125px;
}

#mission {
  font-family: "Gloria Hallelujah";
  text-align: center;
}

/* End of styling for landing page */

/* Styling for About section */

.about {
  background-color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* About content */

.about>p {
  font-family: "Avenir";
  font-size: 20px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 30px;
}

/* End of About section styling */


.fruits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#fruitgrid1 {
  width: 100%;
}

#fruitgrid2 {
  width: 100%;
}

#fruitgrid3 {
  width: 100%;
}

/* Styling for Menu */

.menu {
  height: 450px;
  background-color: #ebf6f9;
  font-family: "Avenir";
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu_header {
  font-family: "Gloria Hallelujah";
  font-size: 30px;
  color: #003366;
  padding-bottom: 10px;

}

.juice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 36px;
}

/* Used to bold names of juice */

[type=name] {
  font-weight: 600;
}

/* End of Menu styling */

/* Styling for location section */

.shops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: "Avenir";
  font-size: 18px;
  line-height: 28px;
  padding-left: 100px;
  padding-right: 100px;
}

#locations_header {
  font-family: "Gloria Hallelujah";
  font-size: 30px;
  color: #003366;
  padding-bottom: 30px;

}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#store1 {
  width: 20%;
  height: auto;
}

#store2 {
  width: 20%;
  height: auto;
}

#store3 {
  width: 20%;
  height: auto;
}

/* End of styling for locations */

/* Styling for contact section */

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ebf6f9;
  padding-left: 100px;
  height: 250px;
  font-family: "Avenir";
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

#contact_header {
  font-family: "Gloria Hallelujah";
  font-size: 30px;
  color: #003366;
  padding-bottom: 30px;
}

.social {
  width: 30px;
  height: auto;
  color: white;
  padding-top: 5px;
}

/* End of contact styling */
