{
  background: #fff;
  font: 12px 'Roboto Slab', sans-serif;
  ;
  line-height: 1.4;
  margin: 60px 0;
  margin-bottom: 100px;
  margin: auto;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: .5em;
}

h2 {
  text-transform: uppercase;
  line-height: .5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

em {
  color: #999;
}

p {
  line-height: 1.4;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-bottom: 2em;
}

blockquote {
  margin: 0;
  margin-bottom: 1em;
}

.item {
  margin-bottom: 1em;
}

#resume {
  margin: 0 auto;
  width: 100%;
}

.resume-wrapper {
  margin: 0 auto;
  max-width: 935px;
}

section {
  padding: 0 10px;
}

.side {
  border-right: 1px solid #ccc;
}

#basics {
  margin-bottom: -10px;
}

#basics h3 {
  margin-top: 0.70em;
  font-weight: bold;
}

#basics .contact strong, #location strong {
  clear: both;
  float: left;
  line-height: 1.3;
  width: 120px;
}

#profiles, #skills {
  overflow: hidden;
}

.header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.header .fullname {
  padding: 0 20px;
  border: 3px solid #fff;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-transform: uppercase;
}

.header .label {
  font-family: Roboto Slab, sans-serif;
  text-transform: uppercase;
}

.header .contact {
  font-family: "Open Sans", sans-serif;
}

.content, .summary {
  margin: 20px 20px
}

.position, .name, .institution {
  font-weight: bold;
}

.position:after {
  content: ' at ';
  font-weight: normal;
}

.keywords span:after {
  content: ","
}

.keywords span:last-child:after {
  content: '';
}

section .website, section .date {
  text-align: right;
}

.website {
  font-style: italic;
  color: #999;
}

.date {
  text-transform: uppercase;
  color: #666;
}

#interests ul {
  padding: 0;
}

#interests ul li {
  list-style-type: none;
}
