body{
  display:flex;
  background-color:black;
  height:100%;
  width: 100%;
  background-image:url("../images/Pineapple1.jpg");
  background-size:contain;
  color: white;
  font-size:75px;
  font-family: cursive;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
#buttons{
  display:flex;
  height: 500px;
  width:35%;
  flex-direction:column;
  padding-top: 50px;
  padding-bottom: 50px;
  align-self: flex-start;

}

#title{
  display:flex;
  width:80%;
  height:150px;


}

.button{
  display:flex;
  background-color:#212315;
  width: 50%;
  height: 80px;
  text-align:center;
  font-size: 25px;
  padding-right:25px;
  padding-bottom: 25px;
  font-family: cursive;
  font-size: 50px;
  color: white;
}

#footer{
  display:flex;
  width: 80%;
  height:10%;
}

a:link{
    color:white;
    text-decoration:cursive;
    font-size: 100px;
    font-color:white;
