

*{
padding: 0px;
margin: 0px;

}

body{font-family: sans-serif;
  text-align: center;
  background: purple;
}

h1{
  color:white;
  font-family: georgia;
  font-size: 70px;

}

#canvasDiv{
margin-top: -100px
}


canvas{
  background-color: white;
  box-shadow: 20px 20px 50px purple;
  -webkit-transition: -webkit-transform 1s;
  /*for mozilla*/
  -moz-transition: -moz-transform 1s;
  /*for ie*/
  -ms-transition: -ms-transform 1s;
  /*for opera*/
  -o-transition: -o-transform 1s;


}

canvas:hover{
width:101px;
height:99px;

}



#canvasDiv{
  margin:150px auto 40px;
}

/*reset button*/
button{
  margin-top: -20px;
  background-color: purple;
  border: none;
  border-radius: 15px;
  color:pink;
  width:308px;
  font: 45px georgia;
  /*text-shadow: 5px 5px 30px white;*/
  /*font-family: tahoma;*/

}

button:hover{
  font-size: 50px;
  width:310px;
    opacity: 0.7;}
