body {
  font-family: sans-serif;
}

h1 {
  font-size: 34px;
  padding-left: 90px;
}

ul {
  list-style-type: none;
  padding: 0px;
  background-color: #313131;
  overflow: hidden;
  padding-left: 83px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 25px 10px;
  text-decoration: none;
  color: white;
  width: 100%;
}

p {
  font-size: 14px;
}

.greenbox {
  float: left;
  background-color: #55a747;
  color: white;
  width: 33%;
  height: 200px;
  margin-left: 94px;
  padding-left: 60px;
  padding-right: 60px;
}

.blackbox {
  float: left;
  background-color: #313131;
  color: white;
  width: 33%;
  height: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

.signup {
  text-decoration: none;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  float: right;
  padding: 10px;
}
