h1{
  font-family: sans-serif;
  font-size: 36px;
  margin-left: 120px;
}
nav{
  width:1300px;
  height: 70px;
  background-color: #2b2b2b;
  margin-bottom: 10px;
}
nav a{
  color:#FFF;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  margin:10px;
  position: relative;;
  top: 25px;
  left:110px;
}
.left{
  background-color: #4DC061;
  float:left;
  margin-left: 120px;
  height:250px;
}
.right{
  float:left;
  background-color: #2b2b2b;
  height:250px;
}
p~a{
  text-decoration: none;
  color:#fff;
  border: solid 2px #fff;
  padding:10px;
  font-family: sans-serif;
  margin:0px 50px 0px 300px;
}
h2~p, section h2{
  color:#fff;
  font-family: sans-serif;
  margin-left: 50px;
  margin-bottom: 20px;
}
h2{
  margin-top: 70px;
}
