.head{
  background-color: #333333;
  height: 50px;
  padding-left: 70px;
  padding-top: 30px;
}

.navbar a {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  height: 100px;
  text-decoration: none;
  margin-left: 20px;
}

h1{
  font-family: sans-serif;
  margin-left: 90px;
}

h3{
  font-family: sans-serif;
}

section{
  color: white;
}

.left{
  background-color: green;
  width: 450px;
  height: 175px;
  float: left;
  margin-left: 90px;
  margin-top: 10px;
  padding-left: 35px;
  padding-top: 50px;
}

.right{
  background-color: #333333;
  width: 450px;
  height: 175px;
  float: left;
  margin-top: 10px;
  padding-left: 35px;
  padding-top: 50px;
}

p {
  font-family: sans-serif;
  font-size: 14px;
}

.buttonone{
  border: 2px solid white;
  background-color: green;
  color: white;
  margin-left: 285px;
}

.buttontwo{
    border: 2px solid white;
    background-color: #333333;
    color: white;
    margin-left: 285px;
}
