.center {
  width: 900px;
  margin: 0 auto;
}

header {
  border: 1px solid #000;
  width: 900px;
  height: 140px;
  background-color: lightgrey;
}

h1 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
}

nav {
  border: 1px solid #000;
  width: 880px;
  height: 40px;
  margin: 30px auto;
  background-color: lightslategrey;
}

main {
  border: 1px solid #000;
  width: 900px;
  height: 600px;
  margin: 15px auto;

}

section {
  border: 1px solid #000;
  background-color: lightgrey;
  width: 600px;
  height: 550px;
  float: left;
  margin: 35px 2px;
}

article {
  display: flex;
  border: 1px solid #000;
  background-color: lightgrey;
  width: 60px;
  height: 450px;
  margin: 52px auto;
  display: inline-flex;
  justify-content: left;
  background-color: lightgrey;
}

p {
  margin: 8px;
}

aside {
  float: right;
  width: 20%;
  height: 50%;
  background-color: lightgrey;
  min-width: 145px;
}

footer {
  border: 1px solid #000;
  width: 900px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  background-color: lightgrey;
}
