.center {
  width: 800px;
  margin: 0 auto;
}

header {
  border: 1px solid #000;
  width: 800px;
  height: 140px;
}

h1 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
}
nav {
  border: 1px solid #000;
  width: 780px;
  height: 40px;
  margin: 30px auto;
}

main {
  border: 1px solid #000;
  width: 800px;
  height: 600px;
  margin: 10px; auto;
}
section {
  border: 1px solid #000;
  background-color: yellow;
  width: 500px;
  height: 550px;
  float: left;
  margin: 35px 2px;
}
article {
  display: flex;
  border: 1px solid #000;
  background-color: grey;
  width: 60px;
  height: 450px;
  margin: 52px auto;
  display: inline-flex;
  justify-content: left;
}

p {
  margin: 8px;
}

aside {
  float: right;
  width: 20%;
  height: 50%;
  min-width: 145px;
}

footer {
  border: 1px solid #000;
  width: 800px;
  height: 60px;
  display: inline-flex;
  justify-content: left;
}
