#game-container li {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   list-style: none;;
   float   : left;
   width   : 33%;
   padding : 15px;
   border: 1px solid red;

}

.rock-hand {
  background-image: url(rock-paper-scissors.jpg);
  background-position: -240px 0px;
}
.paper-hand {
  background-image: url(rock-paper-scissors.jpg);
  background-position: 0px 0px;
}
.scissors-hand {
  background-image: url(rock-paper-scissors.jpg);
  background-position: -120px 0px;
}
#computer-graphic {
  height: 180px;
  width: 120px;
  margin-top: 125px;
}
.rock-hand-icon {
  background-image: url(rock-paper-scissors-icons.jpg);
  background-position: -120px 0px;
}
.paper-hand-icon {
  background-image: url(rock-paper-scissors-icons.jpg);
  background-position: 0px 0px;
}
.scissors-hand-icon {
  background-image: url(rock-paper-scissors-icons.jpg);
  background-position: -248px 0px;
}
#countdown-graphic {
	height: 300px;
	width: 300px;
}
