.background {
            padding-top: 30px;
            margin: 30px;
            background-color: lightgray;
            min-width: 400px;
            min-height: 200px;
            border-radius: 5px;
            }

            div:hover{
            background-color: #e5e2b0;
            }

            a:link{color: red;}
            a:visited{color: green;}
            a:hover{color: darkorange;}
            a:active{color: #dcf293;}

            .center{text-align: center;}
            h1{
            font-family: Helvetica Neue;
                font-size: 100px;
                color: #ffffff;
                text-shadow: 3px 2px white;
                background: #d66664;
            }

            h2{
            font-family: Helvetica Neue;
                font-size: 40px;
                color: #992a16;
                text-shadow: 3px 2px white;
                background: #f4e3b7;
            }

            h3{
            font-family: Helvetica Neue;
                font-size: 20px;
                color: #992a16;
                text-shadow: 3px 2px white;
                background: #f4e3b7;
            }

            p{
            font-family: Georgia;
                font-size: 22px;
                color: green;
                text-indent: 50px;
            }
            p::first-letter {
            text-transform: uppercase;
            color: red;
            font-size: 30px;
            }

            li{
            font-family: Courier;
            font-size: 22px;
            }

            body{
              background-image: url("map2.png");

              background-repeat: no-repeat;
                margin-left: 5%;
                margin-right: 5%;
            }
            .content-left {
                float:left;
                margin-right:5px;
            }
            .content-right{
                float:right;
                margin-left: 5px;
            }
            .clearfix::after{
                content: "";
                clear: both;
                display: table;
            }
            .main{
                width: 75%;
            }
            .sidebar{
                width: 25%;
            }

            .block {
  /*  size of the box  */
  /*  these are interpreted differently based on the box-sizing rule  */
  width: 75px;
  height: 50px;

  /*  margin  */
  /*  Space between boxes  */

  margin-top: 360px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 35px;

  /* margin shorthand versions */
  /* margin: top right bottom left */
  /* margin: 10px 20px 30px 40px; */

  /* margin: top left/right bottom */
  /* margin: 10px    20px    40px; */

  /* margin: top/bottom left/right */
  /* margin:   10px       40px;    */

  /* margin: top/right/bottom/left */
  /* margin: 40px; */


  /*  border  */
  /*  Draws the edge of the box  */

  border-top: 10px solid #c19343;
  border-right: 10px solid #c19343;
  border-bottom: 10px solid #c19343;
  border-left: 10px solid #c19343;

  /* border shorthand version */
  /* This shorthand will apply the same border to all 4 sides */
  /* border: width style color */
  /* border: 10px solid red; */


  /*  padding  */
  /*  Space between the border and the content  */

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;

  /* padding shorthand versions */
  /* Same as margin!    */

}

.content {
  background-color: lightgray;
}

.first {
  background-color: #edece3;
}

.second {
  /* Try changing 'border-box' to content-box to see what happens */
  box-sizing: border-box;
  background-color: #f4f14b;
}
