*{
 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;

}
.griditem {
  border: 1px solid #eee;
  background-color: crimson;
  border-radius: 6px;
  color: #fff;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;

}
