.fire {
  font-family: 'Permanent Marker', cursive;
  color:white;
  background-image: url(http://www.flamesoftheforest.com.au/assets/Uploads/FOTF-arrival-flame-trench-RS.jpg);
  background-size:cover;
  height:325px;
  padding:30px;
  text-align:center;
}
.fire > h1 {
  font-size:68px;
}

/*form*/

.my_php {
  margin-left:0;
  background-color: grey;
  height:400px;
  color:white;
  font-family: Courier;
}


.my_php > h4 {
  margin-top:15px;
  margin-bottom:25px;
}


.my_email {
  margin-left:34px;
  margin-bottom:25px;
}

.my_input {
  margin-bottom: 30px;
}

.my_message {
  margin-top:15px;
}

.my_button {
  color: black;
}

/*Billy Joel or Sylvester Stallone? No one knows.*/
.rambo {
  background-image:url(https://cdn2.vox-cdn.com/thumbor/ICRa9xXWQDuyUzquSIB6laR7faA=/0x0:1024x683/1280x854/cdn0.vox-cdn.com/uploads/chorus_image/image/47776447/rambo.0.0.jpg);
  color:white;
  height: 400px;
  background-size:cover;
}
.rambo > p {
  font-family: 'Oswald', sans-serif;
  padding-top:150px;
  font-size:18pt;
}
