body {
  margin:0;
}

#my_navbar {
  background-color: rgba(255,255,255,.7);
  border: none;
  color: black;
  margin:0;
  border-radius: 0;
}

.cover_photo {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/cover.jpg) no-repeat center;
  padding-top: 15%;
  padding-bottom: 15%;
  color: white;
  background-size: cover;
  font-size: 1.7em;
  background-position: 10% 50%;
  box-sizing: border-box;
  text-align: center;
  margin-top: -50px;
}

.cover_photo h1 {
  font-size: 4em;
  font-family: 'Special Elite', cursive;
}

.line {
  border-bottom: 1px solid white;
  width:20%;
  margin: 0 auto 30px auto;
}

.section_2 {
  text-align: center;
  padding: 14% 10%;
  font-size: 2em;
  background-color: #dddddd;
}

.section_2 h2 {
  font-size: 2.3em;
  color: #606060;
}

.section_3 {
  text-align: center;
  font-size: 2em;
  height: 600px;
  background-color: #404040;
}

.hits {
  padding: 10% 10%;
  color: white;
  height:600px;
  font-weight: 100;
}

.hits h2 {
  font-size: 1.2em;
  font-family: 'Special Elite', cursive;

}

.white {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/whitedudes.jpg) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  height:600px;
  font-size: .8em;
  color:white;
  text-align: left;
  font-weight: 100;
  padding-top: 30%;
}

.form_section {
  background-color: #dddddd;
  padding-top: 2%;
  padding-bottom: 3%;
  height:650px;

}

.form_section h2 {
  font-size: 2.5em;
  font-family: 'Special Elite', cursive;

}

.tour {
  height:400px;
  font-size:2em;
  padding-top:10%;
  background-color: #8e69a3;
}

.tour h2 {
  font-size: 3em;
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: white;
}

.left {
}

.right {
  padding-left: 7%;
  padding-right:7%;
  padding-top: 4%;
  text-align: center;
}

/* Phone Stylins */
/*
@media only screen and (max-width : 480px) {
  .hits {
    height: 300px;
  }
  }*/
}
