/* navbar */

.navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}


.navbar-toggle {
    padding: 5px;
}

.navbar-toggle > img {
    width: 22px;
}

#carousel-example-generic {
    max-height: 700px;
    overflow: hidden;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption h2 {
    font-size: 40px;
}


.divider {
    height:50px;
}