body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: black;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #9BA1A3;
  top: 0;
  left: 0;
}
nav, header, #services, #about, #contact{
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#hours {
  margin-left: 10px;
  float: left;
  color: white;
  line-height: 60px;
  text-shadow: 2px 2px 2px black;
}

ul {
  list-style-type: none;
  float: right;
  line-height: 60px;
}

nav > ul > li {
  display:inline;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
}
a:hover {
  color: #ED112E;
}

header {
  margin-top: 60px;
  height: 400px;
  line-height: 400px;
  font-family: 'Frijole', cursive;
  text-align: center;
  font-size: 4em;
  background-image: url("../img/wide.jpg");
  background-size: cover;
  background-attachment: fixed;
}

 #about {
  height: 300px;
  padding-top: 180px;
  background-color: #A649D1;
  text-align: center;
}

#services {
  padding-top: 75px;
  background-color: #74D149;
  height: 800px;
  text-align: center;
}

.pics {
  width: 400px;
  height: 350px;
}

article {
  float: left;
  width: 400px;
  padding: 20px;
}

h3 {
  padding: 10px;
}
.prices {
  padding: 20px;
}

#contact {
  padding-top: 20px;
  height: 600px;
  text-align: center;
  padding-bottom: 10px;
  background-color: #A649D1;
}
#contact, footer {
  clear: both;
}

#details {
  padding: 10px;
  margin-top: 2px;
}
footer {
  text-align: center;
}
