/*header styles*/

*{
  background-color: white;
}
header{
  background-color: black;
  color:#BB3A10;
}
header img{
  width:100%;
}

header h1{
font-size: 7rem;
text-align: center;
}

img{
  height:50vh;
  padding-top:4rem;
  width:100%;

}


.opacity:hover p{
  visibility: none;
  opacity: 1;
}

.opacity{
  display:inline-block;
  position: relative;


}
.opacity p{
  position: absolute;
  top:3rem;
  width:93%;
  height:45vh;
  bottom: 0;
  left: 3%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  visibility: visible;
  opacity: 0;
  padding:0;
  font-size: 5rem;
  text-align: center;
}

/*meme stylings */
.meme{
  display:inline-block;
}

footer a{
  color: #337ab7;
  text-decoration: none;
  float: right;
  font-size: 3rem;

}

/*lyrcs stylings*/

.lyrics{
color:black;
}

.tour{
  font-size: 4rem;
  text-align: center;
}

.tourphoto{
  width: 30%;
  margin-left: 35%;
}

/*keepcalm stylings*/
.keepcalm{
  width: 30%;
  margin-left: 35%;
  height:80vh;
}

/*form stylings*/

h3{
  text-align: center;
}
.question{
  text-align: center;
  font-size: 2rem;
  padding-top:3vh;

}

#button{
  text-align: center;
  font-size: 2rem;
margin-left: 45%;
}
