            .header {
        color: white;
        padding: 40px;
        width: 100%auto;
    }
    h2 {
        float: left;
        margin-top: -15px;
        font-weight: lighter;
        font-size: 50px;
    }
    .header a {
        float: right;
        margin-right: 25px;
        margin-top: -8px;
        padding-left: 20px;
        text-decoration: none;
        color: white;
    }
    .hero {
        background-image: url("http://www.thatfoodcray.com/wp-content/uploads/2015/02/atum-desserant-hong-kong-dessert-restaurant-molecular-gastronomy-causeway-bay-24.jpg?457e81");
        width: 100% auto;
        height: 530px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        margin: auto;
        background-attachment: fixed;
    }
    .textbox {
        text-align: center;
        margin: 0 auto;
        padding-top: 120px;
    }
    .textbox p {
        padding-bottom: 20px;
        /*font-weight: lighter;*/
        color: white;
        font-size: 20px;
        padding-top: 90px;
    }
    .textbox h1 {
        font-size: 75px;
        font-weight: lighter;
        color: white;
    }
    .textbox p {
        font-weight: lighter;
        color: white;
    }
    /*second area*/

    .one {
        background-color: white;
        height: 610px;
        width: 50%;
    }
    .fa {
        margin-left: 50px;
    }
    .text {
        height: 295px;
        width: 400px;
        margin-left: 130px;
        text-align: center;
        margin-top: 180px;
    }
    .two {
        background-image: url("https://tomostyle.files.wordpress.com/2010/07/img_0845.jpg");
        background-size: cover;
        background-position: right;
        height: 305px;
        width: 367.5px auto;
        font-weight: lighter;
    }
    .two:hover {
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        size: 100%;
    }
    .show {
        opacity: 0;
    }
    .two:hover .show {
        opacity: 1;
        color: white;
        font-weight: lighter;
    }
    .three:hover .show {
        opacity: 1;
        color: white;
        font-weight: lighter;
    }
    .four:hover .show {
        opacity: 1;
        color: white;
        font-weight: lighter;
    }
    .five:hover .show {
        opacity: 1;
        color: white;
        font-weight: lighter;
    }
    .four {
        background-image: url("http://aniphyo.com/blog/wp-content/uploads/2010/11/tuffle.jpg");
        background-size: cover;
        height: 305px;
        width: 352.5px auto;
    }
    .four:hover {
        background-blend-mode: multiply;
        background-color: #6e6e6e;
    }
    .three {
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cc/2c/1b/cc2c1bdf6eaf200700d871e7adc37a0c.jpg");
        background-size: cover;
        height: 305px;
        width: 367.5px auto;
    }
    .three:hover {
        background-blend-mode: multiply;
        background-color: #6e6e6e;
    }
    .five {
        background-image: url("http://splice-bio.com/wp-content/uploads/2015/09/Molecular_gastronomy_science_s.jpg");
        background-size: cover;
        ;
        background-position: center;
        height: 305px;
        width: 352.5px auto;
    }
    .five:hover {
        background-blend-mode: multiply;
        background-color: #6e6e6e;
    }
    .texttwo {
        width: 200px;
        margin-left: 30px;
    }
    .row h3 {
        font-size: 40px;
        margin-top: 120px;
        text-align: center;
        font-family: sans-serif;
        font-weight: lighter;
    }
    /*third section*/

    .years {
        background-image: url("http://restaurant.business.brookes.ac.uk/images/slideshow/restaurant.jpg");
        width: 100% auto;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        ;
        background-blend-mode: multiply;
        background-color: #6e6e6e;
        margin: auto;
        background-attachment: fixed;
    }
    .paragraph {
        text-align: center;
        margin: 0 auto;
        padding-top: 170px;
        font-family: helvetica;
        font-weight: lighter;
    }
    .paragraph h1 {
        font-size: 50px;
        font-weight: lighter;
        color: white;
        font-family: sans-serif;
    }
    .paragraph p {
        font-weight: lighter;
        color: white;
    }
    .button a {
        height: 40px;
        width: 120px;
        padding: 13px;
        margin-top: 60px;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 28px;
        background-color: #91a05c;
        border-radius: 8px;
    }
    /*footer*/

    .icons {
        margin: auto;
        width: 20%auto;
        padding-left: 80px;
        padding-top: 120px;
        padding-bottom: 120px;
    }


    /*phone*/

    @media (max-width: 768px) {
        .two {
            margin-top: -120px;
            width: 100%auto;
        }
        .three {
            margin-top: -120px;
        }
        .four {
            margin-top: -120px;
        }
        .five {
            margin-top: -120px;
        }
        .show {
            opacity: 1;
            color: white;
        }
        .show h3 {
padding-top: 140px;
        }
        .icons {
            padding: 0px;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        /*tablet*/
        @media (max-width:991px) {
            .show {
                opacity: 1;
                color: white;
            }
            .show h3 {
            padd
            }
