.jotform-form {
    padding : 10px;
}

.form-header-group {
    border-color : #98B7D2 !important;
}

.form-all {
    box-sizing : border-box;
    border-color : #98B7D2 !important;
    box-shadow : none !important;
}

.form-textbox, .form-textarea, .form-dropdown {
    padding : 4px 8px;
    font-size : 14px;
    background-image : none;
    border-radius : 4px;
    box-shadow : none;
    box-sizing : border-box;
    -webkit-transition : border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-textbox:focus,
.form-textarea:focus,
.form-dropdown:focus {
    border-color : #66afe9!important;
    outline : 0;
    -webkit-box-shadow : 0 0 8px rgba(102, 175, 233, .6)!important;
    box-shadow : 0 0 8px rgba(102, 175, 233, .6) !important;
}

.form-line {
    box-sizing : border-box;
}

.form-submit-button,
.form-submit-print,
.form-submit-reset {
    text-shadow : none;
}

@media screen and (max-width:768px){
    .form-image {
        width : 100%;
        height : auto;
    }

    .form-header-group {
        margin : 0 !important;
        background-size : 70px;
    }

    [data-type="control_head"] {
        margin : 0;
    }

    .form-collapse-table {
        margin : 0;
    }

    .form-submit-reset, .form-submit-print {
        margin : 0 !important;
    }

    .form-matrix-row-headers, .form-matrix-column-headers {
        word-break : break-all;
    }

}

.qq-upload-button, .form-submit-button {
    color : #fff;
    background : #337ab7;
    border-color : #2e6da4;
    box-shadow : none;
}

.qq-upload-button:hover, .form-submit-button:hover {
    color : #fff;
    background : #286090;
    border-color : #204d74;
}

.form-submit-reset, .form-submit-print {
    background : #fff !important;
    box-shadow : none;
}

.form-submit-reset:hover, .form-submit-print:hover {
    background : #ededed !important;
}

.form-collapse-table {
    background : #fff !important;
    box-shadow : none;
}

.form-collapse-table:hover {
    background : #ededed !important;
}

.form-spinner input {
    height : auto !important;
    border-radius : 0;
}

.form-collapse-mid {
    text-shadow : none;
}

.form-collapse-right-show {
    background : url(https://cms.jotform.com/uploads/image_upload/image_upload/brantleyw/34691_collapse_show_gray.png) no-repeat center;
}

.form-collapse-right-hide {
    background : url(https://cms.jotform.com/uploads/image_upload/image_upload/brantleyw/34690_collapse_hide_gray.png) no-repeat center;
    -ms-transform : rotate(-180deg);
    -webkit-transform : rotate(160deg);
    transform : rotate(-180deg);
}

li[data-type="control_image"] div {
    text-align : center;
}

.form-matrix-table input[type='checkbox'], .form-matrix-table input[type='radio'] {
    -webkit-appearance : none;
    -webkit-user-select : none;
    border : 2px solid #2E6DA4 !important;
    border-radius : 2px;
    color : #444;
    font : inherit;
    margin : 0 1px 0 0;
    outline : none !important;
    text-shadow : 0 1px 0 #F0F0F0;
    cursor : pointer;
}

.form-matrix-table input[type='radio'] {
    border-radius : 100%;
    bottom : 1px;
    height : 18px;
    position : relative;
    vertical-align : middle;
    width : 18px;
}

.form-matrix-table input[type='checkbox'] {
    bottom : 2px;
    height : 18px;
    position : relative;
    vertical-align : middle;
    width : 18px;
}

.form-matrix-table input[type='checkbox']:checked::before {
    -webkit-user-select : none;
    background-color : #2E6DA4;
    background-size : 100% 100%;
    content : '';
    display : block;
    height : 100%;
    width : 100%;
}

.form-matrix-table input[type='radio']:checked::before {
    background-color : #2E6DA4;
    border-radius : 100%;
    bottom : 3px;
    content : '';
    display : block;
    left : 3px;
    position : absolute;
    top : 3px;
    height : 8px;
    width : 8px;
}

.form-matrix-table {
    border-collapse : collapse;
    border-spacing : 0;
    width : 100%;
    height : 100%;
    margin : 0px;
    padding : 0px;
}

.form-matrix-column-headers,
.form-matrix-row-headers,
.form-matrix-values {
    background : #FFF;
}
