.boxy {
  border: red 1px solid;
}

body {
  margin: auto;
  display: flex;
  background-color: white;
  align-items: center;
  width: 850px;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  display: flex;
  background-image: url(../img/nasa-background.jpg);
  width: 850px;
  height: 450px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px
}

main{
  display: flex;
  height: 324px;
  width: 850px;
  justify-content: space-between;
  background-color: lightgrey;
}

main>div {
  margin-left: 20px;
  height: 324px;
  width: 270px;
}

#contact {
  display: flex;
  flex-direction: column;
}

.inputsize {
  height: 60px;
}

button {
  border: none;
  color: white;
  background-color: grey;
  width: 60px;
  font-size: 18px;
}
