body{
  width: 850px;
  margin: 0 auto;
}

.img-Container{
  background-image: url(../img/nasa-background.jpg);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  color: #ffffff;
  font-size: 5.25em;
  font-family: 'Roboto', sans-serif;
}

.main-container{
  background: #E6E6E6;
  display: flex;
  height: 324px;
  justify-content: space-around center;
  /*box-sizing: border-box;*/
  margin: 20px 0px;

}

.column{
  width: 270px;
  font-family: 'Roboto',sans-serif;
  color: grey;
}

.column h1{
  font-size: 1.5em;
  padding: 15px 0;
  font-weight: bold;
  color: black;
}

ul{
  /*display: block;*/
  list-style: none;
}

a{
  text-decoration: none;
  color: grey;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.fields .button{
  box-sizing: border-box;
  margin: 5px 15px;
  height: 25px;

}

.button{
    background: #4d4d4d;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 90px;
    height: 35px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.15em;
  }
