#flexbox {
            display: flex;
            background-image: url("../img/nasa-background.jpg");
            width: 850px;
            height: 450px;
            font-family: 'Anton', sans-serif;
            font-size: 70px;
            color: white;
            justify-content: center;
            align-items: center;
}



.circle {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

#green {
  background-color:

}

#flexbox2 {

            display: flex;
            background-color: lightgrey;
            height: 324px;
            width: 810px;
            padding: 1.2em;
            margin-top: 25px;
            justify-content: space-between;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;

}

h1 {
font-size: 17px;


}
.Column1 {
  height: 50px;
  width: 50px;



}

#SocialMedia {
  background-color: green;

}

.Column2 {
  height: 250px;
  width: 250px;

}

#OfficeInfo {
  background-color: yellow;
}

.Column3 {
  height: 250px;
  width: 250px;

}

#ContactUs {
  background-color: red;

}

.contact input {
    width: 100px;
    height: 20px;
  }


    .message  {
   flex: 1;
   width: 50%;
   height: 100px;

  }

  .contact button {
   background: #383838;
   color: white;
   border: 0;
   padding: 1em;

   font-size: 14px;
   width:
   height:
  }
