body {
    height: 100vh;
    width: 100vh;
}


.container-nasa {
    background-image: url('../img/nasa-background.jpg');
    height:450px;
    width:850px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nasa-text {
    color: white;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-self: center;
    justify-content: center;
}

.bottom-container {
    height: 324px;
    width: 850px;
    background-color: lightgrey;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.container-nasa .bottom-container {
    display: flex;
    justify-content: space-around;
}
