body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  background:
   url(../img/nasa-background.jpg);
   center center / cover
   no-repeat;
   height: 450px;
   width: 850px;
   color: white;
}

.NASA {
  font-size: 80px;
  font-weight: 700;
  font-family: Arial;
}

.content {
  display:flex;
  justify-content:space-between;
  background: #e6e6e6;
  width: 850px;
  height: 324px;

}


h4 {
  font-weight: 700;
}

.SM {
margin-top: 20px;
margin-left: 20px;
width: 250px;
}

.links {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.OI {
  margin-top: 20px;
  width: 270px;
}

.OIp {
  margin-top: 10px;
}

.CU {
  margin-top: 20px;
  margin-right: 20px;
}

.inputname {
  width: 245px;
  height: 25px;
}

.inputmsg {
  width: 245px;


}

.send {
  width: 65px;
  height: 30px;
  background: rgb(81,81,81);
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 10px;

}
.sendp {
  margin-top: 3px;
}
