.container {
  height: 100vh;
  width: 100vw;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topbox {
  height: 450px;
  width: 850px;
  background-image: url(../img/nasa-background.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.nasa {
  color: white;
  font-size: 50px;
}

.bottombox {
  height: 324px;
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.innerBottomBox {
  height: 324px;
  width: 270px;
  padding: 20px;
  background-color: lightgrey;
  padding: 20px;
  margin-top: 80px;
}

.topname {
  display: flex;
  flex-direction: column;
  width: 240px;
  clear: both;
}

.bottommsg {
  display: flex;
  flex-direction: column;
  width: 240px;
  clear: both;
}

button {
  background-color: black;
  color: white;
  width: 60px;
}