body {
  align-items: center;
  margin-left: 30px;
}
#Nasa {
  display: flex;
  background-image: url(../img/nasa-background.jpg);
  height: 450px;
  width: 850px;
  justify-content: center;
}
.rectangle {
  color: white;
  align-content: center;
  margin-top: 135px;
}
h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
}
#Social {
  display: flex;
  background-color: #DCDCDC;
  height: 324px;
  width: 850px;
  justify-content: space-around;
}
.collum {
  font-family: sans-serif;
  font-weight: normal;

}
ul {
  line-height: 30px;
}
.box {
  height: 80px;
}
.smallbox {
  height: 20px;
}
article {
  font-size: 12px;
}
button {
  font-size: 20px;
  background-color: gray;
  color: white;
  width: 80px;
}
