.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-around;
}

.pictureContainer {
  flex: 1;
  background-image: url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: 100%;
  height: 450px;
  width: 850px;
  margin: auto;
}

.mainContentContainer {
  flex: 2;
  display: flex;
  flex-direction: row;
  height: 324px;
  width: 850px;
  margin: auto;
  background-color: lightgray;
}

.columnContainer {
  height: 322px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin: auto;
}

.contentSpacer {
  height: 20px;
  width: 100vw;
}

.spacer {
  width: 20px;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.columnContainer>div:nth-of-type(1) {
  height: auto;
  width: 100%;
  background-color: lightgray;
  font-size: 30px;
  font-style: initial;
}

.columnContainer>div:nth-of-type(2) {
  height: 234px;
  width: 100%;
  background-color: lightgray;
  margin-top: 15px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textDiv {
  height: 50px;
  width: auto;
  margin: 0;
  background-color: lightgray;
}

.textContainer {
  text-align: justify;
}

.message{
  height: 100px;
  width: 165px;
}

.formSubmit{
    background-color:rgb(48, 44, 44);
    width: 70px;
    height: 30px;
    border: 0px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}