body {
    background-color: white;
}

.outerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nasa-background.jpg");
    height: 450px;
    width: 850px;
    margin-bottom: 20px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}

.container_1 {
    background-color: white;
    height: 450px;
    width: 850px;
    flex-direction: row;
}

.container_2 {
    background-color: lightgray;
    width: 850px;
    height: 275px;
    flex-direction: row;
}

.container_3 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightgray;
    height: 275px;
    width: 270px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    text-align: left;
}

.container_4 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightgray;
    height: 275px;
    width: 270px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    text-align: left;
    margin-right: 20px;
    margin-left: 290px;
    margin-top: -275px;
}

.container_5 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightgray;
    height: 275px;
    width: 270px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    text-align: left;
    margin-right: 40px;
    margin-left: 580px;
    margin-top: -275px;   
}

.name {
    height: 25px;
    width: 200px;
}

.contact {
    width: 200px;
    height: 80px;
}

button {
    background-color: #555555;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    margin-right: 180px;
    font-size: 16px;
    padding: 12px;
}