* {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 15px;
}

/* text box size */

.message {
  width: 250px;
  height: 110px;
}

/* name box size */

.name {
  width: 250px;
}

/* send button details */

.send {
  background-color: #4D4D4D;
  color: white;
  font-size: 20px;
  width: 75px;
  height: 40px;
}

body {
  width: 850px;
  height: 774px;
}

/* picture in span */

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 450px;
}

/* could add to span? */

.nasa {
  background-image: url("../img/nasa-background.jpg");
}

.text {
  font-weight: bold;
  color: white;
  font-size: 80px;
}

main {
  display: flex;
  justify-content: space-around;
  background-color: #E6E6E6;
  width: 850px;
  height: 324px;
}

.social {
  height: 324px;
  width: 270px;
}

.office {
  height: 324px;
  width: 270px;
}

.contact {
  height: 324px;
  width: 270px;
}
