#flex-container {
  display: flex;
  background-image: url("../img/nasa-background.jpg");
  height: 450px;
  width: 850px;
  color: white;
  font-size: 40px;
  font-family: arial, sans-serif;
  justify-content: center;
  align-items: center;
}

#flexbox {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  font-family: sans-serif;
  height: 324px;
  width: 850px;
  margin: 20px 0px;
}

#flexbox p {
  font-size: 15px;
  line-height: 2;
  color: #404040;
}

button {
  background-color: #404040;
  font-family: arial, sans-serif;
  color: white;
  border: none;
  padding: 8px;
}
