body {
  font-family: 'Courier New', Courier, monospace;
  background: black;
}

.main {
  margin: 0 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nasa {
  background-image: url(../img/nasa-background.jpg);
  width: 850px;
  height: 450px;
}

.nasa>h1 {
  color: white;
  text-align: center;
  font-size: 50pt;
  padding-top: 20%;
}

.contactbox {
  margin-top: 20px;
  background: #E6E6E6;
  width: 850px;
  height: 270px;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-size: 16pt;
}

.innerBox {
  height: 324px;
  width: 270px;
  padding: 0% 10px;
}

.button {
  position: relative;
  background-color: #4D4D4D;
  color: white;
  height: 40px;
  width: 100px;
  text-align: center;
  font-family: 'roboto slab', serif;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 20px;
}

.name {
  width: 250px;
  height: 20px;
}

.message {
  width: 250px;
  height: 75px;
}

.social>p {
  font-size: 11pt;
}

.office>p {
  font-size: 11pt;
}