body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 900px;
  margin: 1%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/nasa-background.jpg');
  height: 450px;
  width: 850px;
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;*/
}

header h1 {
  color: white;
  font-size: 5em;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  /*display: flex;
  color: white;
  height: 325px;
  width: 850px;
  background-position: center;
  justify-content: center;
  font-size: 5em;
  font-family: 'Heebo', sans-serif;*/
}

main {
  display: flex;
  justify-content: center;
  height: 324px;
  width: 850px;
  /*margin-top: 2%;*/
  background-color: lightgrey;
  margin-top: 1%;
}

.info-box {
  /*display: flex;*/
  font-size: 20px;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  /*border: 1px solid black;*/
  width: 270px;
  justify-content: space-between;
  margin: 10px;
  /*justify-content: space-between;*/
}

h1 {
  margin-bottom: 20px;
  /*color: black;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;*/
}

ul {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
  list-style-type: none;
}

p {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

input {
  width: 175px;
  height: 30px;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

textarea {
  width: 175px;
  height: auto;
  padding: 12px 12px;
  box-sizing: border-box;
  resize: none;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

.button {
  background-color: darkgrey;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
