body {
}

.galaxy {
  display: flex;
  background-image: url("../img/nasa-background.jpg");
  height: 450px;
  width: 850px;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  font-size: 80px;
  margin: auto;
  margin-bottom: 20px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  width: 850px;
  height: 324px;
  margin: auto;
}

.flexy {
  font-family: 'Kanit', sans-serif;
  font-size: 10pt;
  margin: 20px;
  width: 270px;
  height: 324px;
}

.flexy h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20pt;
}

div input {
  width: 220px;
}

button {
  background-color: grey;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
