.galaxy{
  background-image: url("../img/nasa-background.jpg");
  background-repeat:no-repeat;
  height:450px;
  justify-content: center;
  align-items: center;
  display: flex;
}

body{
  width:850px;
}
header{
font-weight: bold;
font-size:20px;
margin-top: 20px;
margin-bottom:20px;
}



.info{
  display: flex;
  height:324px;
  justify-content:space-around;
  align-items: baseline;
  flex-direction: row;
  background-color: #E6E6E6;
  margin-top: 20px;
}

.office-info{
width:270px;
height:320px;

}

.social-media{
  width:270px;
  height:320px;
}

.contact-us{
  width:270px;
  height:320px;
  margin: 0 auto;
}

 textarea{
  height:90px;
}

[type="submit"]{
background: black;
  width:80px;
  height:35px;
  color:white;
  font-size: 20px;
}
