* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;


}

ul {
    list-style: none;
}

.footer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f2f2;


}

.container-nasa {
    color: white;
    background: url('/img/nasa-background.jpg') top left/cover no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nasa-text {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    font-size: 4em;
}


.footer-boxes li {

    width: 30%;

    align-content: center; padding: 1em;
}

.footer-boxes ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em;


}

.footer-boxes
p {
margin-top: 1em;
    

}

small{
    display: block;
    margin-top: 1em;
}
.footer-boxes #apples{
    height: 5em;
}