body{
  background-image: url("../img/nasa-background.jpg");
background-repeat: no-repeat;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    width: 840px;
    height:324px;
    background-color: lightgrey;
    color: #696969;
}

.flex-item {
    background-color: ;
    width: 270px;
    height: 324px;
    margin: 20px;
}
