body{
  background-color: pink;
  color: purple;


}

  ul {
      list-style-type: none;
      margin: 20px;
      padding: 20;
  }
.topnav{ display: flex;
flex-direction: row;
width: 1375px;
height: 60px ;
background-color: aqua;
color: black;
}
img {
    border-radius: 30px;
}
header {
  display: flex;
  text-align: center;
  color: hotpink;
  justify-content: space-around;
}
h1 {
  font-size: 80px;
  color: purple;
  align-content: center;
}

.flex-container {
  flex-direction: column;
  flex-grow: center;
  align-items: center;
  }
.pictures:hover{

      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
  }

  .pictures:hover {
      -webkit-transform: rotate(360deg); /* Safari */
      transform: rotate(360deg);
  }


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.flex-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
  margin: 20px;
  padding-top: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: auto;
}


input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.forms{
  display: flex;
  flex-direction: column;
  background-color: green
width: 100px;
height: 100px;
  padding: 60px;
  margin: 20px;

}
footer{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 40px;
  background-color: lightblue;
  }
