body{
  background-color: pink;
/*  color: purple;*/


}

ul {
    list-style-type: none;

}
.topnav{ display: flex;
flex-direction: row;
width: 1375px;
height: 60px ;
background-color: aqua;
color: black;
}
img {
    border-radius: 30px;
}
header {
  display: flex;
  text-align: center;
  color: hotpink;
  justify-content: space-around;
}
h1 {
  font-size: 80px;
  color: purple;
  align-content: center;
}
h4{ text-align: center;}
.flex-container {
  flex-direction: column;
  flex-grow: center;
  align-items: center;
  }
.pictures:hover{

      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 4s;
  }

  .pictures:hover {
      -webkit-transform: rotate(360deg); /* Safari */
      transform: rotate(360deg);
  }


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.flex-item {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgreen;
  color: orange;
  margin: 60px;
  padding-top: 5px;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: auto;
}


input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.forms{
  display: block;
  flex-direction: column;
  background-color: lightgreen;
  color: orange;
width: 50px;
height: 50px;
  padding: 40px;
  margin-left: 100px;

}
form{
  background-color: lightblue;

}
/*footer{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 40px;
  background-color: lightblue;
  }*/

  footer{display: flex;
      flex: initial;
      background-color: grey;
      color: goldenrod;
    height: 40px;
  width: inherit;
  margin-top: 40px;
}
