html  {
  background-color: transparent;
}

body {
  width: 75%;
  margin: 0 auto;
}

header, nav, main, section, aside, footer {
  padding: 5px;
  margin-top: 10px;
}

header {
  background-color: purple;
}

body{
  background-color: green;
}

h2{
  background-color: blue;
  color: white;
}

article{
  background-color: orange;
}

p{
  font-style: italic;
}

section, aside {
  float: left;
}

section {
  width: 70%
}
aside {
  width: 20%;
  background-color: pink;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  color: yellow;
}

footer {
  clear: both;
  background-color: inherit;
  color: red;
}
