body {
  font-family:monospace;
  width: 75%;
  margin: 0 auto;
  background-color: silver
}

header, nav, main, section, aside, footer {
  padding: 5px;
  margin-top: 10px;
}

section, aside {
  float: left;
}

section {
  width: 70%;

}
aside {
  width: 20%;
}

footer {
  clear: both;
}
