body {
  width: 75%;
  margin: 0 auto;
}

header, nav, main, section, aside, footer {
  padding: 5px;
  margin-top: 10px;
}

header{
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

a{
  color:#ffffff;
}

section, aside {
  float: left;
}

section {
  width: 70%
}

article h2{
  text-align:center;
}

aside {
  width: 20%;
}

aside h3{
  text-decoration:underline;
}

footer {
  clear: both;
  background-color: black;
  color:white;
  text-align: center;
}
