body {
  width: 75%;
  margin: 0 auto;
}

header, nav, main, section, footer {
  padding: 5px;
  margin-top: 10px;
}

nav {
  font-size: 20px;
}

section {
  float: left;
}

section {
  width: 70%
}
aside {
  width: 20%;
  height: 20px;
  float: right;
  margin-top: 1px;
  padding: 5px;
}

footer {
  clear: both;
}
