body {
  width: 100%;
  background-image: url('../img/computer-header2.jpg');
  background-repeat: no-repeat;
}

/*menu links styling*/
li {
  font-size: 1.8em;
  list-style: none;
  padding-top: 5%;
  padding-right: 15px;
}

/*styling for hidden menu*/
p.navbar-text {
  font-size: 2em;
  margin-top: 1%;
  margin-left: 90px;
  text-align: right;
  /*margin-right: 50px;*/
  width: 65%;
}

/*This is the large title in header*/
#title {
  font-size: 8em;
  font-weight: bold;
  color: #0099CC;
}

/*second line in header*/
#by-line {
  font-size: 2.5em;
  font-weight: bold;
  color: #d35400;
}

/*container for header titles*/
header {
  margin-top: 12%;
  margin-right: 5%;
  margin-bottom: 30%;
  margin-left: 5%;

}

/*this is the about section*/
#about {
  width: 100%;
  height: auto;
  margin-bottom: 0%;
  background: white;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

/*about section text*/
#about .lead {
  color: #808b96;
  font-size: 1.5em;
  font-weight:400;
  font-style: oblique;
  text-align: left;
  padding-left: 4%;
  padding-right: 4%;
}

/*styling for section titles*/
.section-titles {
  font-size: 4em;
  font-weight: bold;
  font-style: oblique;
  color: #0099CC;
  margin-bottom: 1%;
}

.line {
  border-top: 2px solid #0099CC;
	text-align: center;
}

.line:before {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 0px;
	background: white;
	color: #0099CC;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/*styling for skills list*/
article {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  margin: 5%;
}

#skills {
  /*padding-top: 10px;*/
}

.skill-lead {
  color:#d35400;
  font-size: 2.25em;
}

.skill-list {
  color: #808b96;
  font-style: oblique;
}

/*styling for design portfolio section*/
#design-portfolio {
  padding-top: 30px;
}

#web-design-title {
  font-size: 2.25em;
  font-weight: normal;
  font-style: normal;
  color: #d35400;
  margin-bottom: 1%;
  margin-top: 3%;
}

.portfolio-images  {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 5px 10px 10px grey;

    border:2px;
    border-color: grey;
    width:400px;
    height: 250px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.portfolio-images:hover  {
    box-shadow: 0px 0px 150px grey;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

/*styling for media design section - different than web design section*/
.media-images  {
    width:400px;
    height:auto;
    box-shadow: 5px 10px 10px grey;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10%;
    margin-top: 5%;

  }

/*video*/
  iframe {
    box-shadow: 5px 10px 10px grey;
  }

#adobe-image {
  width:560px;
  height: auto;
  position: relative;
  box-shadow: 5px 10px 10px grey;
}

/*beggining of contact section*/
#contact {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  background: white;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

form {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
}

/*styling for social media title*/
#social-media {
  font-size: 40px;
  font-weight: normal;
  font-style: oblique;
  color: #d35400;
  margin-bottom: 2%;
  margin-top: 6%;
  }

.social-images  {
    display:inline-block;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 5%;

    border:0;
    width:110px;
    height:95px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.social-images:hover  {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

/* styling for the footer */
footer {
  text-align:center;
  width: 100%;
  height: 40px;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 20px;
  font-style:oblique;
  color: #d35400;
}
