body {
  font: verdana;
  width: 100%;
  background-image: url('../img/computer-header2.jpg');
  background-repeat: no-repeat;
}

li {
  font-size: 2em;
  list-style: none;
}

/*.nav-text {
  font-size: 1.5em;
}*/

h1 {
  font-size: 10em;
}

header {
  margin-top: 5%;
  margin-bottom: 20%
}

Section {
  padding: 20px 0;
  margin-left: 5%;
  margin-right: 5%;
}

#about {
  margin-bottom: 20%;
}


article {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  margin: 5%;
}

#community-blog {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
}

#bistro {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
}
