body {
  width: 100%;
  background-image: url('../img/computer-header2.jpg');
  background-repeat: no-repeat;
}

/*menu links styling*/
li {
  font-size: 1.8em;
  list-style: none;
  padding-top: 5%;
  padding-right: 15px;
}

/*styling for hidden menu*/
p.navbar-text {
  font-size: 2em;
  margin-top: 1%;
  margin-left: 90px;
  text-align: right;
  /*margin-right: 50px;*/
  width: 65%;
}

#title {
  font-size: 8em;
  font-weight: bold;
  color: #0099CC;
}

#by-line {
  font-size: 2.5em;
  font-weight: bold;
  color: #303030;
}

header {
  margin-top: 12%;
  margin-right: 5%;
  margin-bottom: 30%;
  margin-left: 5%;

}

#about {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 80%;
  background: white;
}

.section-titles {
  font-size: 4em;
  font-weight: bold;
  font-style: oblique;
  color: #0099CC;
  margin-bottom: 1%;
}

.line {
  border-top: 2px solid #0099CC;
	text-align: center;
}

.line:before {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 0px;
	background: white;
	color: #0099CC;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

#about .lead {
  color: #808b96;
  font-size: 1.75em;
  font-weight:400;
  font-style: oblique;
  padding-left: 4%;
  padding-right: 4%;
}

article {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  margin: 5%;
}

h1 {
  color: #0099CC;
}

.skill-lead {
  color:#566573;
  font:
}

.skill-list {
  color: #808b96;
  font-style: oblique;
}

#web-design-title {
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  color: #566573;
  margin-bottom: 1%;
  margin-top: 6%;
}

.portfolio-images  {
    /*display:inline-block;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;

    border:2px;
    border-color: grey;
    width:400px;
    height:auto;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.portfolio-images:hover  {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.media-images  {
    /*display:inline-block;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;

    border:2px;
    border-color: grey;
    width:400px;
    height:auto;
/*#community-blog {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
}

#bistro {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
}*/

.form-size{
  margin-right: 10%;
  margin-left: 10%;
  }

/*container for social media */
  #social-media {
    width: 100%;
    height: auto;
    /*margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
  }
/* styling
 for social media images*/
/* heading for socal media section*/
/*h4 {
  text-align: center;
  font-size: 40px;
  color: #663355;
  font-weight: bold;
  margin-bottom: 20px;*/
}

#social-title {
  font-size: 3em;
  font-weight: bold;
  font-style: oblique;
  color: #0099CC;
  margin-bottom: 1%;
  margin-top: 6%;
}
.social-images  {
    display:inline-block;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 5%;

    border:0;
    width:110px;
    height:95px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.social-images:hover  {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

/* styling for the footer */
footer {
  text-align:center;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
  font-style:oblique;
  color: brown;
}
