.main {
  margin: auto;
}

.nav {
  margin-bottom:0
}

.navbar-right {
  font-family: 'Raleway', sans-serif;
  padding-right: 30px;
}

.hero {
  background: url("../img/wine-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.f {
  margin: auto;
  opacity: 0.8;
}

.herotext {
  text-align: center;
  color: white;
  width: 40%;
  font-size: 30px;
  font-style: italic;
  font-family: 'Georgia';
}

.herotext2 {

  color: white;

}

.icon {
  font-size: 20px;
  color: white;
}



.i {
  font-size: 20px;
}

.hero {
  margin-top:0;
}

.herocontent {
  display: flex;
  flex-flow: column;
align-items: center;
}

.lefttext {
    padding-top: 100px;
    margin: auto;
    text-align: center;
    width: 75%;
}

.est {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-size: .75em;
    font-family:
}

.signature {
      max-height: 80px;
}

.right {
  width: 50%;
  background: url('../img/wine16.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height:500px;
}

.hero2 {
  background: url("../img/wine13.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.herotext3 {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 30px;
  font-style: italic;
  font-family: 'Georgia';
}

.herocontent2 {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.herotext4 {
  text-align: center;
  color: white;
  width: 50%;
  font-family: 'Georgia';
}

.bottom {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;

}

.winebottle {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
}
.winerow {
  width: 100%;
}

h2 {
  font-style: italic;
  font-family: georgia;
}

.wineinfo {
  font-family: georgia;
  text-align: center;
  width: 80%;
}

.visit {
  text-decoration: none;
  color: white;
  background-color: #91a05c;
  padding: 10px 20px;
}
