
html, body {
	margin: 0;
	padding: 0;
	background: url(http://cdn.wallpapersafari.com/62/98/GwtApK.jpg);
	background-size: 100%;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 30px;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 20px;
}
