body {
  background-color: black;
  background-image: url("http://bestanimations.com/Holidays/Fireworks/fireworks/fireworks-animated-gif-7.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
h1 {
  color: white;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 72pt;
  border: 20px solid #ffffff;
}
