
img {
    width: 100%;
}

#left_box {
    height: 394;
    width: 500px;
    float: left;
    display: inline-block;
    border-right: 3px solid white; 
}
#right_box {
    text-align: center;
    height: 394px;
    width: 500px;
    background-color: rgb(240, 240, 240);
    float: left;
    display: inline-block;
    position: fixed;
}
#berries_p {
    color: #555;
    padding-bottom: 20px;
}
#berries_h1 {
    color: #252b3b;
    font-size: 1.9em;
    padding: 30px;
    margin: 50px;
}
a {
    color: #252b3b;
    border: 2px solid #555;
    text-decoration: none;
    padding: 5px;
}
