div.box{
  padding-left: 10px;
  background-color: rgb(240,240,240);
  width: 500px;
  height: 395px ;
  float: left;
}
img{
  width: 500px;
  height: inherit;
  float: left;
  padding: 2px;
}
h1{
  padding-top: 60px;
  color: #252b3b ;
  font-size: 1.9em;
  font-weight: lighter bold;
}
p{
   color: #555;
   font-weight: lighter;
   font-family: serif;
   padding-bottom: 20px;
   padding-top: 30px;
}
a{
  font-weight: bold;
  text-decoration: none;
  color: #252b3b;
  border: 2px solid #252b3b;
    padding: 5px;
    padding-top: 5px;
}
