.wrapperA {
    /*width: 500px;*/
    max-height: 100%;
}
.wrapperB {
    /*width: 500px;*/
    max-height: 100%;
    background-color: rgb(240,240,240);
}
a {
    font-weight: bold;
    color: #252b3B;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
}
h1 {
    text-align: center;
    color: #252b3b;
    font-size: 1.9em;
}
table {
    width: 100%;
}
p {
    text-align: center;
    font: #555;
    padding-bottom: 20px;
}
