.left{
float:left;
width:500px;
position:relative;
}
.left img{
position:absolute;
height:inherit;
width:inherit;
}
/*not too sureon how to make it 100% relative to parent. Gave .left position relative and the image position absolute*/
.right{
width:500px;
background-color:rgb(240,240,240);
text-align:center;
float:right;
margin-right:26%;
padding:10% 0% 6% 0%;
}
/*combined 4 directions on padding*/
h3{
  color:252b3b;
  font-size:1.9em;
}

p{
  color:#555;
  padding-bottom:20 px;
}

#button{
  display: inline-block;
  color: 252b3b;
  border-style:solid;
  border-color:#555;
  border-width:2px;
  padding:5px 5px 5px 5px;
}
  #button a{
    text-decoration:none;
    font-weight:bold;
  }
