* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}

p {
  font-family: 'Crimson', serif;
}

nav {
  background-color: #242424;
  height: 60px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

ul {
  display: flex;
  width: 50%;
}

li {
  list-style: none;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.page {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

/*home page*/

.background {
  background-image: url("pinacolada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.largetype {
  height: 450px;
  float:left;
  border: 6px solid black;
  margin-left: 10px;
}

.chatbox {
  clear: both;
  text-align: center;
  padding: 40px;
  width: 595px;
  margin-bottom:20px;
}


.border {
  border: 1px solid red;
}

/*art page*/
.audrey {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}

.artwork {
  height: 550px;
  width: auto;
  padding: 10px;
}

.gallery2 {
  padding-top: 15px;
  height: 205px;
  width: auto;
}

.latest {
  height: 100px;
  float: right;
  margin-bottom: 100px;
}

/*photography page*/
.png {
  margin-top: 60px;
  height: 135px;
}

.photography {
  margin-bottom: 80px;
}

/*design page*/
.paragraph {
  width: 500px;
  text-align: right;
  padding-bottom: 40px;
}

.intro {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.containers, .titles {
  display: flex;
  justify-content: center;
}

.flyers {
  margin-top: 100px;
}

.branding {
  padding-left: 100px;
}

.holder {
  height: 150px;
  }

/*videos page*/
.videos {
  padding: 30px;
}

.wrap {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
  height: 60px;
  background-color: #242424;
  font-size: 15px;
  color: white;
}
