
.home-up{
  width: 100%;
  height: 300px;
  background-color: #2BCDC0;
  text-align: center;
  color: #F0F1EE;
  font-family: 'Lora', serif;
}
.home-down{
  width: 100%;
  height: 300px;
  background-color: #1B1B1B;
  text-align: center;
  color: #F0F1EE;
}
.box{
  width: 20%;
  height: 300px;
  margin-left: 10%;
  float: left;
}

.rectangle{
  width: 80%;
  height: 25px;
  margin-top: 20%;
  margin-left: 10%;
}
h1{
  padding-top: 100px;
  font-size: 45px;
}
p{
  width: 80%;
  height: 25px;
  margin-left: 10%;
}
/* Phone size */
@media (max-width: 767px) {
  .home-up{
    height: 350px;
    text-align: left;
    background-color: #33A8DD;
  }
  .home-down{
    height: 900px;
    color: Black;
    background-color: #F7F5F6;
  }
  .box{
    width: 80%;
    height: 300px;
    margin-left: 10%;
    float: left;
  }
  .rectangle{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
  }
  h1{
    padding-left: 80px;
    width: 50%;
    font-size: 60px;
  }
  p{
    width: 50%;
    margin-left: 25%;
  }
}

h2{
  font-size: 32px;
}


#rectangle-blue{
  background-color: #33A8DD;
}
#rectangle-orange{
  background-color: #F46731;
}
#rectangle-green{
  background-color: #2BCDC0;
}
