h1 {
  color: #ff0000;
  font-size: 48px;
  font-weight: normal;
  background-color: #00ff00;
}

h2 {
  color: #0000ff;
  border-bottom: 1px solid #f00;
}

.headline {
  color: #ccc;
  font-size: 20px;
}

.greytext {
  color: #ccc;
}

body .firstparagraph .headline a > span {
  color: #000;
}

header a {
  color: #aaa;
}

.specialsocialmenu a {
  color: #f00;
}

.mainmenu > li {

}
