html, body {
  margin: 0 auto;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.topheader {
  background-color: black;
  color: inherit;
  width: 100%;
  border: solid black;
  padding: 5px;
}

h1 {
  text-align: center;
  color: white;
  background-color: grey;
  font-size: 60px;
  text-shadow: 8px 8px 16px black;
  margin: 20px;
}

nav {
  background-color: white;
  display: flex;
  width: 98%;
  border: solid black;
  margin: 10px;
  height: 100px;
  justify-content: space-around;
}

div.selections {
  width: 25%;
  height: 40px;
  background-color: yellow;
  text-align: center;
  font-size: 20px;
  margin: 25px;
  padding: 8px;
  border: solid black 1px;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  border: solid black;
  margin: 5px;
  background-color: lightgrey;
}

.wrapper > * {
  flex: 1 100%;
}

.mainhead {
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  background-color: lightgrey;
}

img {
  width: 190px;
  height: 140px;
  margin: 5px;
}

.section {
  border: solid black;
  margin: 5px;
  text-align: center;
  background-color: lightblue;
}

.page {
  display: flex;
}
.article {
  border: solid black;
  margin: 5px;
  background-color: white;
}

footer {
  border: solid black;
}

.aside {
  border: solid black;
  margin: 5px;
  width: 200px;
  display: none;
  background-color: tan;
}

@media all and (min-width: 600px) {
  .page { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .aside { display: inline;}
  .page { flex: 1 0px; }
  .page    { order: 1; }
  .aside   { order: 2; }
  .footer  { order: 3; }
}
