td {
    width: 500px;
}

img {
    width: 100%
}

.text {
    text-align: center;
    background-color: rgb(240, 240, 240);
}

h3 {
    color: #252b3b;
    font-size: 1.9em;
}

p {
    color: #555555;
    padding-bottom: 20px;
}

a {
    font-weight: bold;
    color: #252b3b;
    border: 2px solid #555;
    padding: 5px;
    text-decoration: none;
}