.nasa{
  width:850px;
  height:450px;
  text-align: center;
  background-image:url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color:white;
  line-height: 450px;
  font-size: 50px;
  margin-left: 125px;
  font:Arial;
}
.container{
  background-color: #E6E6E6;
  width:850px;
  height:324px;
  margin-left: 125px;
  margin-top: 40px;
}
.social{
  float:left;
  margin-left: 20px;
  line-height: 25px;
  height:324px;
  width:270px;
}
.office{
  float:left;
  width:270px;
  margin-left: 20px;
  line-height: 25px;
}
.contact{
 width:270px;
 height:324px;
 float:left;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
