section{
  margin: 5px;
  width: 850px;
}

.jumbotron{
  height: 450px;
  width: 850px;
  background-image: url("../img/nasa-background.jpg");
}

.jumbotron h1{
  font-family: arial;
  text-align: center;
  font-size: 50px;
  color: white;
  line-height: 450px;
}

.footer-box
{
  width: 250px;
  float: left;
  margin-left: 25px;

}

.footer-box a{
text-decoration: none;
color: black;
}
.footer-box p{
  font-family: "arial";
}
.footer-box h2{
  font-family: "arial";
}

.clear-fix:after{
  content: "";
  clear: both;
  display: block;
}

.bottom-section{
  background-color: lightgrey;
}
