.spaceImg {
  width: 850px;
  height: 450px;
  background-image: url("../img/nasa-background.jpg");
  text-align: center;
  margin: auto;
  line-height: 450px;
  font-size: 40px;
  color: white;
}
.section {
  background-color: grey;
}

.box {
  height: 324px;
  width: 230px;
  float: left;
  margin-left: auto;
  margin: 20px;
  align-items: center;
  padding-left: 40px;

}
.one {
  text-align: left;
  margin-left: 15%;

}
.two {
  text-align: left;

}
.three {
}
input {
  width: 40%;
   padding: 5px 20px;
   border: 1px solid green;
}
select {
  width: 60%;
   padding: 5px 20px;
   border: 1px solid green;
}
