body {
  background-color: #40B273;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.art2 {
  width: 47.5%;
}

.art3 {
  width: 47.5%;
}

.smol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.art4 {
  height: inherit;
}

.art5 {
  margin-top: 50px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
