body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.col-md-12 {
  padding: 0;
}

.navbar {
  background-color: white;
  margin-bottom: 0;
}

.navbar-form {
  padding: 0;
}

.navbar-brand {
  padding: 10px 20px;
  font-size: 31px;
}

.current {
  background-color: transparent;
  border-bottom: 3px solid red;
}

.navbar-default .navbar-nav > .current > a:hover {
  border-bottom: none;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav > .dropdown > a:hover {
  border: 1px solid grey;
}

.btn {
  background: #c6000e;
  color: white;
  font-size: 12px;
  padding-top: 10px;
  border: none;
  border-radius: 0;
}

.divider {
    margin: 80px 0;
}

.inline {
  display: inline-block;
}

.jumbotron {
  color: white;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("http://lorempixel.com/output/cats-q-g-1430-280-8.jpg");
  background-position: center;
  background-size: cover;

}

.jumbotron > .container > p {
  font-size: 18px;
}

.pull-right {
  float: right;
}

footer {
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .navbar-default .navbar-nav>li>a:hover {
    border-bottom: 3px solid red;
  }
}

@media (min-width: 768px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
  }
}
