body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.col-md-12 {
  padding: 0;
}

.navbar {
  background-color: white;
}

.navbar-form {
  padding: 0;
}

@media (min-width: 900px) {
  .navbar-default .navbar-nav>li>a:hover {
    border-bottom: 3px solid red;
  }
}

.current {
  background-color: transparent;
  border-bottom: 3px solid red;
}

.navbar-default .navbar-nav > .current > a:hover {
  border-bottom: none;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav > .dropdown > a:hover {
  border: 1px solid grey;
}

.btn {
  background: #c6000e;
  color: white;
  font-size: 12px;
  padding-top: 10px;
  border: none;
  border-radius: 0;
}
