body, html {
    box-sizing: border-box;
    margin: 0;
    height: 100%
}

#wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#content1 {
    background-image: url("back.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 50;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin: 10px 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 60px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: #7DC246;
    text-align: center;
    padding: 14px 10px;
    padding-right: 2px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: black 1px 1px;
}

li a:hover {
    color: #D8DF26;
}

#content2 {
    background-color: #F3F3F3;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 49;
    grid-row-end: 100;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 70px;
    text-align: center;
    color: #7DC246;
}

#content3 {
    background-color: white;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 99;
    grid-row-end: 150;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 70px;
    text-align: center;
    color: #7DC246;
}


#content4 {
    background-color: #F3F3F3;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 149;
    grid-row-end: 200;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 70px;
    text-align: center;
    color: #7DC246;
}


#content5 {
    background-color: white;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 201;
    grid-row-end: 250;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 70px;
    text-align: center;
    color: #7DC246;
}

/* cell phone media query */
@media (max-width: 576px) {
    #wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    
    #content1 {
        background-image: url("back.jpg");
        background-size: 80%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: grid; 
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 30;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #logo {
        margin: 10px 10px;
    }
    
    ul {
        list-style-type: none;
        margin-top: 60px;
        overflow: hidden;
    }
    
    li {
        
    }
    
    li a {
        color: #7DC246;
        text-align: center;
        padding: 8px 4px;
        padding-right: 2px;
        text-decoration: none;
        font-size: 14px;
        text-shadow: black 1px 1px;
    }
    
    li a:hover {
        color: #D8DF26;
    }
    
    #content2 {
        background-color: #F3F3F3;
        display: grid; 
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 29;
        grid-row-end: 60;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        text-align: center;
        color: #7DC246;
    }
    
    #content3 {
        background-color: white;
        display: grid; 
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 59;
        grid-row-end: 80;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        text-align: center;
        color: #7DC246;
    }
    
    
    #content4 {
        background-color: #F3F3F3;
        display: grid; 
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 79;
        grid-row-end: 110;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        text-align: center;
        color: #7DC246;
    }
    
    
    #content5 {
        background-color: white;
        display: grid; 
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 109;
        grid-row-end: 140;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        text-align: center;
        color: #7DC246;
    }
}





  




