body, html {
    box-sizing: border-box;
    margin: 0;
    height: 100%
}

#wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content1 {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 40;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin: 10px 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    margin-top: 60px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: #7DC246;
    text-align: center;
    padding: 14px 10px;
    padding-right: 2px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: black 1px 1px;
}

li a:hover {
    color: #D8DF26;
}

.content2 {
    background-color: #F3F3F3;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 37;
    grid-row-end: 67;
    position: relative;
}

.content2image {
    background-image: url("frank.jpg");
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.content3 {
    background-color: white;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 68;
    grid-row-end: 98;
    position: relative;
}

.content4 {
    background-color: #F3F3F3;
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 99;
    grid-row-end: 129;
    position: relative;
}







  




