.btn.btn-shortcode {
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1.5;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #fff !important;
    background-color: #242424;
    text-decoration: none !important;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.btn.btn-shortcode:hover, .btn.btn-shortcode:focus {
    background-color: #29BFAD !important;
}

.btn.btn-shortcode.is-round {
    border-radius: 18px;
}

.btn.btn-shortcode.is-3d {
    border-radius: 6px;
    position: relative;
    z-index: 2;
}

.btn.btn-shortcode.is-3d:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 3px;
    bottom: -3px;
    background-color: inherit;
    border-radius: 6px;
    opacity: .7;
}

.dropcap-shortcode.is-default {
    text-transform: uppercase !important;
    display: block;
    float: left;
    margin: 0 15px 0 0;
    font-size: 60px;
    line-height: 60px !important;
    text-align: center;
}

.dropcap-shortcode.is-background {
    background-color: #282828;
    text-transform: uppercase !important;
    color: #fff;
    display: block;
    float: left;
    margin: 0 15px 0 0;
    font-size: 40px;
    line-height: 40px !important;
    padding: 18px 12px;
    text-align: center;
}

.accordion-shortcode {
    display: block;
    margin-left: 30px !important;
    background-color: #f7f7f7;
    padding: 15px 20px 25px 20px;
    margin-bottom: 30px;
}

.accordion-shortcode h3.accordion-item-title {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.accordion-shortcode h3.accordion-item-title:before {
    content: '+';
    display: inline-block;
    margin-right: 7px;
}

.accordion-item-content {
    display: none;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}

.row-shortcode {
    display: block;
    margin-bottom: 30px;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.col-shortcode {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

