
header{
  width: 100%
  height: 500px;
}
.section1header{
  display: flex;
  justify-content: space-around;
  background-color:#C0E9FC;
  align-items: center;
  width: 100%;
  height: 60px;
}
.button{
  background-color:#C0E9FC;
  border-style: none;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
}

.section2header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  background-color: #C0E9FC;
}

#profilepicture{
    width: 400px;
    height: 300px;
    width: 29%;
    background-image: url("../images/resume.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    margin-left: 70px;

  }

#profile{
  width: 600px;
  height: 170px;
  font-weight: bold;
  font-size: 60px;
  font-family: fantasy;
  margin-bottom:20px;
  margin-right: 90px;
}
main{
  background-color: purple;
  width: 100%;
  height: 800px;
}
.myname{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
