.header22{
  visibility: hidden;
}
header{
  width: 100%
  height: 500px;
}
.section1header{
  display: flex;
  justify-content: space-around;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  align-items: center;
  width: 100%;
  height: 60px;
}
.button{
  background: none;
  border-style: none;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
}

.section2header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
background-color: #DCE8F1;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

#profilepicture{
    width: 400px;
    height: 300px;
    width: 29%;
    background-image: url("../images/resume.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    margin-left: 70px;

  }

#profile{
  width: 600px;
  height: 170px;
  font-weight: bold;
  font-size: 60px;
  font-family: fantasy;
  margin-bottom:20px;
  margin-right: 90px;
}
main{
  background-color:#DCE8F1;
  width: 100%;
  height: 900px;
}
.myname{
  display: flex;
  width: 100%;
  height: 200px;
  font-size: 70px;
  font-weight: bold;
  font-family: fantasy;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.sectionflexboxes{
  background-color: #DCE8F1;
}
#boxesrow1{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#boxesrow2{
  display: flex;
  justify-content: center;
}
.box{
  background-color: white;
  width: 250px;
  height: 250px;
  border: 1px;
  border-style: solid;
  border-color: black;
}
#box1{
background-image: url("../images/model1.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box2{
background-image: url("../images/model4.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box3{
background-image: url("../images/modelme.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box4{
background-image: url("../images/model15.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box5{
background-image: url("../images/model2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box6{
background-image: url("../images/modelme2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box7{
background-image: url("../images/model54.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box8{
background-image: url("../images/model100.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box9{
background-image: url("../images/poster2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box10{
background-image: url("../images/footer5.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box11{
background-image: url("../images/surf.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box12{
background-image: url("../images/poster.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box13{
background-image: url("../images/poster3.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#box14{
background-image: url("../images/poster4.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

#footer1{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.boxx{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 150px;
  height: 150px;
  background-color: white;
}

#footer2{
  display:flex;
  background-color:#DCE8F1;
  flex-direction: column;
  width: 100%;
  height: 170px;
  justify-content:center;
  align-items:center;
}

#copyrights{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.socialmedia{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.fa:hover{
  opacity: 0.7;
}

.fa{
  width: 40px;
}

@media(max-width:476px){


#footer2{
  visibility: visible;
  }
  .section1header{
    visibility: hidden;
  }
  header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    font-size: 5px;
  }
  .myname{
    visibility: hidden;
}
main{
  background-color:#C0E9FC;
}
.section2main{
  visibility: hidden;
}

.header22{
visibility: visible;
display: flex;
align-items: flex-end;
height:30px;
width:100%;
background-color:lightgrey;
}
#boxesrow1{
  background-color: white;

}
#boxesrow2{
  background-color:white;
}

#box3{
  visibility: visible;
}
#box4{
  visibility: visible;
}
#box7{
  visibility: visible;
}
#box8{
  visibility: visible;
}
#box1{
  visibility: visible;
}
#box2{
  visibility: visible;
}
.box{
  width: 400px;
  height: 150px;
  border: 3px;
  border-style: solid;
  border-color: black;
}

}
