*:focus {
  outline-style: none !important;
  outline: 0 !important;
}

#content {
  margin: 0 auto;
  width: 100%;
  max-width: 275px;
}

.header {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

#todo-list {
  margin: 20px 0;
  padding: 0;
}

form {
  text-align: center;
}

#todo-list li {
  display: table;
  margin: 10px auto;
  padding: 10px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #fdfdfd;
  width: 100%;
}

#todo-list li span {
  text-align: right;
}


input[type="submit"] {
  padding:5px 0;
  text-align: center;
  background:#ccc;
  border: 0 none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 14px;
  width: 20%;
}

input[type=text] {
  padding:6px;
  border:1px solid #ccc;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 65%;
}
