#daily{
  font-weight: bolder;
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 3em;

}

#superman{
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;


}

nav ul li{
  font-size: 15pt;
  text-align: center;
  display: inline-block;
  margin-left:18%;

  padding: 10px;

}
a{

  text-decoration: none;
  color: black;
}
body {
    width: 75%;
    margin: 0 auto;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

section, aside {
    float: left;
}

section {
    width: 70%
}
aside {
    margin-left: 8%;
    width: 20%;
}

footer {
    text-align: center;
    clear: both;
}
