body {
    width: 75%;
    margin: 0 auto;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}
header{
  background-color: lightblue;
}
section, img{
  padding-top: 6px;
  width: 100%;
}

section, aside {
    float: left;
}

section {
    width: 70%
}
aside {
    width: 18%;
}
aside img{
  padding-top:67px;
  width: 160%;
}
aside, h4{
  padding-top:67px;
}
footer {
    background-color: lightblue;
    clear: both;
}
footer img{
  width: 40px;
  height: 40px;
}
