body {
    width: 75%;
    margin: 0 auto;
}

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

section, aside {
    float: left;
}
section img{
  width:100%;
}
section {
    width: 70%
}
aside {
    width: 20%;
}
aside img{
  width:160%;
padding-top: 21px;
}

footer {
    clear: both;
}

footer img {
  width:40px;

}
