body{
  background-color:green;
}

  h1{
    text-align: center;
    margin:0;
  }
  h2{
    margin:0;
  }

article{
  background-color:white;
  font-size:20px;
  padding:20px;
  /*margin-bottom:30px*/

}

img[src="img/car.jpg"]{
  width:936px;
  height:520px;
  padding:0;
}

.author{
  float:left;

}
.comments{
  float:right;
}

.article-second-column{
  height:397px;
}

.bottom-row{
  margin-top: 45px
}
.second-column{
width:auto;
height:auto;
padding:0;
box-shadow: 4px 5px 20px grey;
}


footer{
  background-color: white;
  padding:20px;
}

.article-first-column{
  height:215px;
}

.second-row-column3{
  height:250px;
}
