body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.top-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-top: 10px;
}

.bottom-flex {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /*justify-content: space-between;*/
  /*margin-left: 160px;
  margin-top: 30px;*/
}

.box-1 {
  margin-left: 162px;
}

.box-2 {
  margin-right: 80px;
}


.bottom-yellow {
  margin-left: 150px;
}


/*
.b2-flex {
  display: flex;
  margin-right: 800px;
}

.bottom-yellow {
  display: flex;
  justify-content: flex-end;
  margin-right: 230px;
}*/
