ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #155556;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change on hover */
li a:hover {
    background-color: #111;
}

body {
  font-style: italic;
  font-family: cursive;
font-size:12px;
}

.topnav{
font-weight: bold;
font-size: 500px;
}

{
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

H1 {
  align: center;
  font-size: 45px;
  font-family: fantasy;
  font: Arial;
  box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

body {
  position: relative;
  margin: 0;
  right: inherit;
  position: relative;

  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Arial,;
  background-color: #ebf43f;
background-image: linear-gradient(53deg, #ebf43f 0%, #1669a0 50%, #ffffff 100%);



}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h2 {
  margin-top: 0;
}

/*nav2*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    align-items: center;
}

li {
    float:auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/* Footer Style*/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
