header {
  border-width: 20px;
  position: relative;
  bottom: 0px;
  background-color: #666699;
  font-size: 40px;
}

h1 {
  text-align: left;
  margin: 0px;
  padding: 0px;
  color: #9C2542;
  font-family: Akronim;
}

nav {
  float: right;
  font-size: 20px;
  position: relative;
  bottom: 25px;
  margin-right: 10px;
}

body {
  height: 600px;
  background: url("../cp1/lettuce.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

main {
  color: black;
  font-family: impact, sans-serif;
  font-size: 20px;
}

div#sec1 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/asian.jpg");
}

div#sec2 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/chicken.jpg");
  color: white;
}

div#sec3 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/pasta.jpg");
}

div#sec4 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/beet.jpg");
  color: white;
}

div#sec5 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/avocado.jpg");
}

div#sec6 {
  display: inline-block;
  vertical-align: top;
  margin: 5%;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  background: url("../cp1/corn.jpg");
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  word-spacing: 5px;
}
