.container-1 {
  background-image: url(../img/sub_header_home.jpg);
  width: 100%;
  height: 500px;
}

.container-1 h1 {
  text-align: center;
  color: white;
  padding-top: 150px;
}

.container-1 p{
  color: white;
  padding-top: 20px;
  text-align: center;
}


.my-box {
  float:left;
  /*width: 25%;*/
  height: 300px;
  text-align: center;
}

.my-box img {
  margin-top: 15px;
}
