

main{
background-color: white;
}

#hero{
  text-align: center;
  height: 350px;
}

.jumbotron{
  background-color: white;
}

.helpcols{
  height: 750px;
}

.helpcols h1{
  font-size: 54px;
  text-align: center;
  padding-bottom: 4%;
}
.helpcols h3{
  font-size: 26px;
  text-align: center;
  padding-bottom: 1%;
}

#faqcol{
  background-color: #4285F4;
  color: lightgray;
}
#billingcol{
  background-color: lightblue;
}
#promocol{
  background-color: #4285F4;
  color: lightgray;
}
#notifcol{
  background-color: lightblue;
}

#contacthelp{
  text-align: center;
  height: 200px;
  padding-top: 100px;
}


@media all and (max-width: 1300px) {
  .helpcols{
    height: 800px;
  }
}

@media all and (max-width: 990px) {
  .helpcols{
    height: 625px;
  }
  #faqcol{
    background-color: #4285F4;
    color: lightgray;
    }
  #billingcol{
    background-color: lightblue;
  }
  #promocol{
    background-color: lightblue;
    color: black;
  }
  #notifcol{
    background-color: #4285F4;
    color: lightgray;
    }
}
@media all and (max-width: 766px) {
  #hero{
    text-align: center;
    height: 200px;
  }
  img{
    width: 100px;
  }
  .helpcols{
    height: 450px;
  }
  .helpcols h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: -20px;
  }
  .helpcols h3{
    font-size: 20px;
    text-align: center;
    padding-bottom: 1%;
  }

  #faqcol{
    background-color: #4285F4;
    color: lightgray;
  }
  #billingcol{
    background-color: lightblue;
    color: black;
  }
  #promocol{
    background-color: #4285F4;
    color: lightgray;
  }
  #notifcol{
    background-color: lightblue;
    color: black;
  }
}

@media all and (max-width: 575px) {
  .helpcols{
    height: 550px;
  }
}
@media all and (max-width: 500px) {
  .helpcols{
    height: 600px;
  }
}
