
.home-up{
  width: 100%;
  height: 200px;
  background-color: #2BCDC0;
  text-align: center;
  color: #F0F1EE;
  padding-top: 100px;
  font-family: 'Lora', serif;
  font-size: 56px;
}
.home-middle{
  background-color: #1B1B1B;
}
.home-down{
  width: 100%;
  height: 300px;
  background-color: #33A8DD;
  text-align: center;
  color: #F0F1EE;
}
.box{
  width: 20%;
  height: 300px;
  margin-left: 4%;
  float: left;
}
.rectangle{
  width: 80%;
  height: 25px;
  margin-top: 20%;
  margin-left: 10%;
}
p{
  width: 80%;
  height: 25px;
  margin-left: 10%;
}
/* Phone size */
@media (max-width: 767px) {
  .home-up{
    width: 45%;
    height: 300px;
    text-align: left;
    padding-left: 5%;
    float: left;
  }
  .home-down{
    height: 1100px;
  }
  .box{
    width: 40%;
    height: 320px;
    margin-left: 7%;
    padding-top: 10px;
    float: left;
  }
  .rectangle{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
  }
  p{
    width: 50%;
    margin-left: 25%;
  }
}

h2{
  font-size: 32px;
}


#rectangle-black{
  background-color: #1B1B1B;
}
#rectangle-orange{
  background-color: #F46731;
}
#rectangle-green{
  background-color: #2BCDC0;
}
#rectangle-white{
  background-color: #FFFFFF;
}
