header{
  height: 160px;
  background-color: mediumseagreen;
  padding: 15px;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 10px;

}
nav{
  height:640px;
  width:186px;
  background-color: purple;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

}

section{
  width: 100%;
  min-height: 640px;
  background-color: blue;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

main{
  display:flex;
}

article{
  width:47%;
  height:214px;
  background-color: lightblue;
  margin: 10px;
}

@media (max-width:375px){
  article{
    width: 100%;

  }
}

footer{
  height: 160px;
  background-color: mediumseagreen;
  padding: 15px;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 10px;

}
