.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #00e6b8;
  min-height: 400px;
}

h1, p {
  color: white;
}

section {
  background-color: black;
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

main {
  display: flex;
}

article {
  width: 20%;
  min-width: 165px;
  height: 95%;
  margin: 20px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div{
  margin-top: 10px;
  height: 50px;
  width: 75%;
}
#blue{
  background-color: #1aa3ff
}

#orange{
  background-color: #ff8533
}

#teal{
  background-color: #00e6b8
}

/*MEDIA QUERY*/

@media screen and (max-width: 375px) {
  section{
    background-color: #e6e6e6
  }
  article{
    width: 95%;
  }
}
