.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer{
  background-color: #f2f2f2;
  min-height: 160px;
}

nav {
  background-color: #e6f2ff;
  width: 180px;
  height: 640px;
}

section {
  background-color: #ffe6ff;
  min-height: 640px;
  width: calc(100% - 180px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main {
  display: flex;
}

article {
  width: 47%;
  height: 214px;
  background-color: #b3b3ff;
  margin: 5px;
}
 article:first-child{
   width: 100%;
 }
