h2 {
  text-align: center;
}

header {
  background-color: #2bcdc0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 900px;
  height: 400px;
}

.bottom {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 900px;
  height: 400px;
}

.columns {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 20%;
}
