body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;
}

header {
  background-color: #2bcdc0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 800px;
  height: 400px;
}

.bottom {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 800px;
}

.columns {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .columns {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 20%;
  }
}
