nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  background-color: green;
  color: slateblue;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  min-width: 600px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  width: 300px;
  margin: 5px;
  padding: 1px;
  border: 1px solid black;
  box-shadow: 2px 4px 11px black;

}
