body {
width: 75%;
margin: 0 auto;
}

#nav {
  display: flex;
  align-self: right;
  margin-top:auto;
}

#opcity{
  background-image: image();
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 850px;
  height: 350px;
}
