header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section{
  display: flex;
}
.first{
  height: 400px;
  background-image: url(http://placehold.it/1000x400);
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first h1{
  font-size: 40px;
  margin-bottom: -8px;
}
.first h3{
  font-size: 26px;
}
.first a{
  font-size: 20px;
  color: #000;
  border: 1px solid black;
  padding: 8px 30px;
  text-decoration: none;
}
.second{
  padding: 10px;
  margin: 35px;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.second p{
  padding: 10px 70px;
}
.third{
  margin: 35px;
  padding: 60px 20px;
  background-color: #f2f2f2;
  justify-content: space-around;
  text-align: center;
}
.third article{
  width: 220px;
}
.forth{
  justify-content: space-around;
}
.forth article{
  width: 350px;
  align-items: flex-end;
}
.forth p{
  text-align: center;
}
.forth p:last-child{
    margin-top: -10px;
}
.fifth{
  height: 200px;
  background-image: url(http://placehold.it/1000x200);
  background-size: cover;
  font-size: 30px;
  padding: 60px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 35px;
}
.fifth p{
  padding: 50px;
  text-align: center;
}
.fifth div{
  height: 50px;

}
.fifth div a{
  color: #000;
  border: 1px solid black;
  padding: 8px 30px;
  text-decoration: none;
  margin: 0px 30px;
}
