
.nav-links{
  display:flex;
  justify-content: space-around;
  /*flex-direction: column;*/
}

.hero{
  background-image: url("../img/air-force.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width:850px;
  height:450px;
  margin: 0 auto;
  font-family: 'Fira Sans',sans-serif;
  font-size:4.6em;
  color: #ffffff;
}

li{
  list-style: none;
}
