






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("https://images.unsplash.com/photo-1494232410401-ad00d5433cfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    font-family: 'Charmonman', cursive;
  }
 .container-inner {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

 } 
 .button-wrapper {
   border: 1px solid red;
   padding: 50px 125px;
   border-radius: 4px;
   background-color: rgba(61, 20, 114, 0.842);
   transform: scale(1);
   transition: transform 300ms ease;
   
    
 }
 a {
   text-decoration: none;
   color: #4d4e4f;
   font-size: 40px;
 }
 .button-wrapper:hover {
   transform: scale(1.1);
 }
