@import url('https://fonts.googleapis.com/css?family=Charmonman');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Charmonman', cursive;
}
.list__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;

}
.list {
  height: 400px;
  width: 600px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 75%;
}
img {
  height: 100px;
  border-radius: 50%;
  width: 100px;
}
.list__item {
  border: 1px solid purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 5px 5px 13px 0px blueviolet (0,0,0,15);
}
.list__image {
  flex-shrink: 0;
}
.list__content {
  flex-grow: 1;
  display: flex;
  flex-direction: center;

  border: 5px solid grey;
  padding: 0 0 0 20px;
}