body{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #938D8D;
	background-image: url(https://github.com/kkannen/web-workbook/blob/gh-pages/09week/New%20folder/img/black-linen-2.png?raw=true);
	font-family: 'Walter Turncoat', cursive;
}

#bulletin{
	width: 30%;
	border: 10px ridge #BD8556;
	padding: 1em;
	background-image: url(http://images.all-free-download.com/images/graphiclarge/cork_board_208292.jpg);
	box-shadow: 10px 10px 30px #121212;
}

#theOffice{
	display: flex;
	flex-direction: row;
}

#paperButton{
	background-color: white;
	width: 100%;
/* 	height: 100px; */
	box-shadow: 3px 3px 20px #98591E;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2px;
  background: -webkit-linear-gradient(left top, white, #ddd);
  background: -o-linear-gradient(bottom right, white, #ddd);
  background: -moz-linear-gradient(bottom right, white, #ddd);
  background: linear-gradient(to bottom right, white, #ddd);
	transition: all 50ms;
	padding: 50px 0px 15px 0px;
}


#paperButton:active{
	box-shadow: 1px 1px 10px #98591E;
	transform: translate(2px, 2px)
}


.face{
	border: 1px solid black;
	height: 75px;
	width: 75px;
}

h2{
	text-align: center;
	align-self:center;
	margin: auto;
}

#piecesPaper{
	height: 1.15em;
	text-align: left;
	display: inline-block;
}

.button{
	margin:10px;
	background-color: white;
	box-shadow: 3px 3px 20px #98591E;
	padding: 10px;
	background: -webkit-linear-gradient(left top, white, #ddd);
  background: -o-linear-gradient(bottom right, white, #ddd);
  background: -moz-linear-gradient(bottom right, white, #ddd);
  background: linear-gradient(to bottom right, white, #ddd);
}

.counter{
		margin:5px;
	background-color: white;
	box-shadow: 3px 3px 20px #98591E;
	padding: 5px;
	background: -webkit-linear-gradient(left top, white, #ddd);
  background: -o-linear-gradient(bottom right, white, #ddd);
  background: -moz-linear-gradient(bottom right, white, #ddd);
  background: linear-gradient(to bottom right, white, #ddd);
}

.button:active{
	box-shadow: 1px 1px 10px #98591E;
	transform: translate(2px, 2px)
}

#employeePics{
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	width: 70%;
/* 	justify-content: space-around; */
}

.polaroid{
	height: 336px;
	width: 300px;
	background-image: url(http://www.clker.com/cliparts/R/A/6/i/F/y/note-pin-md.png);
	background-size: cover;
	background-position: center top;
	overflow: hidden;
	margin: 0em 1.5em 0em 1.5em;
}

.headshot{
	height: 150px;
	width: 50%;
	margin: 60px 30% 0px 20%;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #fffb30;
/* 	overflow: hidden; */
}
