.container {
  display: flex;
flex-wrap: wrap;
flex-direction: column;

}

.img{
  display: flex;
justify-content: space-around;
  width: 50%;
  height: 50%;
flex: 2;
}

.article {
  display: flex;
flex: 2;

}

.aside {
flex:-2;
align-self: flex-end;

}
.header {
  display:flex;
  font-family: 'News Cycle', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  align-self: center;
}
