.clearfix:after {
content:"";
display:block;
clear:both;
}
body{
  font-family: 'Vesper Libre', serif;
background-image:url(../image/background.jpg);
background-blend-mode: multiply;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
color: white;
}
#Home, #About, footer{
  width: 100%;
  height: 500px;
}
header h1{
  text-align: center;
  font-size: 25px;
  margin: 30px;
}
.nav{
  text-align: center;
  position: fixed;
}
.nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    font-weight: bolder;
  }
  .bar{
    margin-bottom: 10px;
  }
#Home img{
  height: 200px;
  width:25%;
}
.box{
  height: 200px;
  width:25%;
  float: left;
}
.box a{
  color: black;
  text-decoration: none;
  border: 1px solid lightgrey;
  float: right;
  padding: 6px;
}
.box a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    font-weight: bolder;
  }

.one{
  background-image: url("../image/black-and-white-designer-fashion-kanye-west-Favim.com-195708.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.two{
  background-image: url("../image/carpenters.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.three{
  background-image: url("../image/business-law.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.four{
background-image: url("../image/doctor-banner.png");
background-blend-mode: multiply;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.socialmedia img{
  height: 30px;
}
.socialmedia{
  padding-top: 80px;
}
.socialmedia a{
  padding-left: 15px;
}
