.clearfix:after {
content:"";
display:block;
clear:both;
}
body{
  font-family: 'Vesper Libre', serif;
background-image:url(../image/background.jpg);
background-blend-mode: multiply;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
color: white;
}
.one{
  background-image: url("../image/black-and-white-designer-fashion-kanye-west-Favim.com-195708.jpg");
}
.two{
  background-image: url("../image/carpenters.jpg");
}
.three{
  background-image: url("../image/business-law.png");
}
.four{
background-image: url("image/doctor-banner.png");
}
.socialmedia img{
  height: 30px;
}
.socialmedia{
  padding-top: 80px;
}
.socialmedia a{
  padding-left: 15px;
}
