#burger {
    max-width:100%;
    max-height:100%;
    /* this stuff below was copied when I looked up how to flip images */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#container {
    background: url(https://i.imgur.com/HZeMY7w.jpg);
    max-width: 100%;
    /* background-size: attributume; */
    height: 1400px;
    margin-top: -450px;
}

/* body.scrolled #navbar {
    opacity: 1;
    transition: opacity .2s;
  } */

#navbar {
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 63px;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0,161,223);
    box-shadow: 2px 2px 2px gray;
}

#logo {
    margin-left: 25px;
    margin-top: 8px;
    width: 165px;
    cursor: pointer;
}

#rightnav {
    float: right;
    font-size: 22px;
    height: 63px;
    margin-top: -33px;
    margin-right: 20px;
    cursor: pointer;
}

#info {
    width: 100%;
    height: 625px;
    font-size: 40px;
    background-color: white;
}

#hungry {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: white;
    height: 200px;
    width: 600px;
    padding-top: 720px;
    padding-left: 70px;
    text-shadow: 1px 1px 1px gray;
}

#local {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 45px;
}

#findfood {
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px gray;
}

#foodbutton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(0,161,223);
    margin-left: 347px;
    margin-top: 4px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

#getapp {
    font-size: 25px;
    text-shadow: 1px 1px 1px gray;
    margin-top: 40px;
    padding: 10px 18px;
}

#apple {
    padding: 10px 10px;
    background-color: rgb(0,161,223);
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 5px;
    cursor: pointer;
}

#android {
    padding: 10px 10px;
    background-color: rgb(0,161,223);
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* for some reason i couldnt get the apple and android circles to even */

#infoinfo {
    height: 300px;
    width: 350px;
    background-color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 55%;
    margin-top: -450px;
}

#favor {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(0,161,223);
}

#iphone {
    margin-left: 17%;
    margin-top: 70px;
}

#download {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: gray;
    margin-left: 55%;
    margin-top: -140px;
}

#appstore {
    width: 25%;
    height: auto;
    margin-top: -5%;
    cursor: pointer;
}

#playstore {
    width: 32%;
    height: auto;
    margin-top: -20%;
    margin-left: 150px;
    cursor: pointer;
}

.runner {
    background-image: url(../img/favor1.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    letter-spacing: 1px;
    /* vertical-align: middle; */
    font-size: 22px;
    font-weight: normal;
}

.partner {
    background-image: url(../img/favor2.jpg);
    width: 49.25%;
    height: 400px;
    background-size: cover;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: normal;
}

.career {
    float: right;
    margin-top: -418px;
    background-image: url(../img/favor3.jpg);
    width: 49.25%;
    height: 400px;
    background-size: cover;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: middle;
    font-size: 22px;
    font-weight: normal;
}

.bottomtext {
    padding-top: 150px;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: -20px;
}

/* #h1part {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

#h1car {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
} */

.morebutton {
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    border-radius: 1px;
    border-width: 1px;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    background-color: (255,255,255,0);
}

.footer{
    width: 100%;
    height: 140px;
    background-color: rgb(0,161,223);
}
.morebutton:hover {
    background-color: rgba(255,255,255,0.4);
}

#upper {
    font-weight: bold;
    font-size: 22px;
    margin-left: 30px;
    padding-top: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

/* .icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    color: rgb(0,161,223);
    text-align: center;
    margin: 0 auto;
} */

#clickp {
    padding-left: 110px;
    margin-top: -50px;
    cursor: pointer;
}

#clickb {
    padding-left: 230px;
    margin-top: -50px;
    cursor: pointer;
}

#clickpr {
    padding-left: 320px;
    margin-top: -50px;
    cursor: pointer;
}

#clickg {
    padding-left: 420px;
    margin-top: -50px;
    cursor: pointer;
}

.icon {
    float: right;
    padding-right: 30px;
    cursor: pointer;
}

#icont {
    margin-top: -20px;
}

#iconi {
    padding-left: 35px;
    margin-top: -21px;
}

#iconf {
    padding-left: 70px;
    margin-top: -24px;
}

#lower {
    font-weight: lighter;
    font-size: 14px;
    padding-left: 30px;
    margin-top: 20px;
}

#privacy {
    /* float: right; */
    padding-left: 1000px;
    margin-top: -15px;
    cursor: pointer;
}

#terms {
    float: right;
    padding-right: 30px;
    margin-top: -15px;
    cursor: pointer;
}