p {
    color:D6B9C1;
}
#blue {
    background-color:rgb(53, 207, 228);
    float:left;
}
.red {
    border:red dashed 5px;
    float:left;
}
div {
    height: 100px;
    width: 100px;
}
.green {
    border: green solid 2px;
    float: left;
}
.green:hover {
    background:blue;
}
div > h6 {
    color:white;
}
.clearfix:after {
    visibility:hidden;
}