#myNavbar {
  font-family: 'Squada One', serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-right: 375px;
}

#hero {
  font-family: 'Squada One', serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#social {
  display: flex;
  justify-content: center;
}

.email {
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
}

.phone {
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
}

.linked {
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
}

.twitter {
  margin: 25px 25px 25px 25px;
  padding: 10px -20px 10px 10px;
}


footer {
  text-align: center;
  font-family: 'Squada One', serif;
  font-size: 16px;
}
