#myNavbar {
  font-family: 'Squada One', serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-right: 375px;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  padding-top: 125px;
}

#contact {
  font-size: 72px;
  font-family: 'Squada One', serif;
  color: white;
  text-align: center;

}

#emailphone {
  font-family: 'Squada One', serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email {
  padding: 35px 30px 25px 25px;
}

.phone {
  padding: 25px 25px 25px 25px;
}

#social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#icons {
  font-size: 72px;
  font-family: 'Squada One', serif;
  color: white;
  text-align: center;
}

footer {
  text-align: center;
  font-family: 'Squada One', serif;
  font-size: 16px;
  padding-top: 60px;
}
