body{
  margin: auto;
}

img{
  width: 90%;
  height: 250px;
  margin: 20px;
}


.background{
  background-image: url("http://bone.themanoid.com/images/office/03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  margin-left: -20px;
  margin-right: -20px;

}

.suit{
  width: 90%;
  height: 560px;
}

h1{
  font-size: 60px;
  font-family: sans-serif;
  text-align: center;
}

h2, h3, h4{
  text-align: center;
}

h4{
  padding-top: 10px;
}

.were-creative{
  text-align: center;
  padding-top: 200px;

}

.fantastic{
font-family: courier;
sans-serif;
background-color: #F0F0F0;

}

.gold, .silver{
  background-color: #F0F0F0;
  text-align: center;
}

.silver-box{
  background-color: white;
  width: 75%;
  height: 400px;
  margin-left: 12%;
  font-family: courier;


}

.gold-box{
  background-color: #D7F8E5;
  width: 75%;
  height: 400px;
  margin-left: 12%;
  font-family: courier;
}

.metal-wrds{
  list-style-type: none;
  margin-left: -15%;
  padding-top: 20px;
}

.li-wrds{
  padding-top: 20px;
}


.view{
  padding-top: 3px;
  text-align: center;
  color: white;
  width: 40%;
  height: 30px;
  background-color: black;
  margin-left: 30%;
}

a{
  text-decoration: none;
  color:white;
}
