body {
  background-image: url(http://allfreedesigns.com/wp-content/uploads/2013/05/cork-texture-1.jpg);
  background-repeat: repeat;
}

.quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: cursive;
  font-size: 25px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background-color: #eae672;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.blue {
  margin-top: 50px;
  background-color: blue;
  color: white;
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}

.purple {
  background-color: purple;
  color: white;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
