main{
  display: grid;
  grid-template-columns: auto 200px auto;
  grid-column-gap: 100px;
  grid-row-gap: 25px;

}

.projectButton{
  background-color: darkgray;

}

.totalSmashed{
  grid-column: span 3;

}
.clicked{
  display:none;
}
/* fancy way to seeing if something was clicked on and what to do about it */

.invisible{
  display:none;
}

/* Leave a button unseen until hits threashold */


.disabled{
  cursor: not-allowed;
  opacity: 0.6
}

/* fancy cursor change to let user knwo it is disabled...to bad
it doesn't actually disable things...shakes fist*/




.left{
  padding: 10px;
}
.middle{
  padding: 10px;
  background-color: lightgray;
}

h3{
  margin: 0;
  padding: 0;
  /* everytime I don't use a reset file a fairy dies */
}

.right{
  padding: 10px;
  background-color: lightgray;

}

h1{
  padding: 0;
  margin: 0;
  /* dead fairy counter : 2 */
}

header{
  grid-column: span 3;
}
img {
  height: 100px;
  grid-column: span 3;

}

.upgrades{
  display: none;
}
.gunpoint{
  display: none;
}

.beamLevelContainer{
  display: none;
}

/* old way of enabling and disabling things, booooo */

p{
  margin: 0;
  /* dead fairy counter : 3 */

  margin-right: 5px;


}
input{
  margin-right: 5px;

}
.chargeContainer{
  display: flex;

}

.left{
  background-color: lightgray;
}


