body {
    margin: 0;
    background-image: url("../img/motorcycle.jpg");
    background-size: cover;
}
/* #container { */
    /* height: 1000px; */
    /* width: 1500px; */
    /* background-color: red; */
}
.titlebar {
    height: 100px;
    width: 1500px;
    background-color: pink;
    position: absolute;
}
.logobox {
    height: 50px;
    width: 150px;
    margin: 15px;
    /* border: 5px solid black; */
    /* background-color: purple; */
}
.aboutusbox {
    height: 45px;
    width: 75px;
    /* background-color: green; */
    /* display: inline-block; */
    position: absolute;
    top: 15px;
    left: 1075px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    /* nav-up: 20px; */
    /* float: right; */
    /* position: relative; */
    /* left: 1000px; */
    /* top: 15px; */
    /* margin: 15px; */
}
.aboutusbox:hover {
    text-decoration: underline;
}
.blogbox {
    height: 45px;
    width: 75px;
    /* background-color: lightgreen; */
    position: absolute;
    top: 15px;
    left: 1150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.blogbox:hover {
    text-decoration: underline;
}
.contactbox {
    height: 45px;
    width: 75px;
    /* background-color: limegreen; */
    position: absolute;
    top: 15px;
    left: 1225px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.contactbox:hover {
    text-decoration: underline;
}
.faqbox {
    height: 45px;
    width: 75px;
    /* background-color: forestgreen; */
    position: absolute;
    top: 15px;
    left: 1300px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.faqbox:hover {
    text-decoration: underline;
}
.questionbox {
    height: 100px;
    width: 50%;
    padding: 25px;
    margin: auto;
    /* border: 5px solid white; */
    /* background-color: orange; */
    position: absolute; 
    top: 1000px; 
    right: 250px; 
    bottom: 1000px; 
    left: 200px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.personalstatement {
    height: 25px;
    width: 250px;
    /* background-color: lightblue; */
    position: absolute;
    width: 50%;
    margin: auto;
    left: 350px;
    top: 475px;
    font-size: 30px;
    text-align: center;
    /* position: relative;  */
    /* position: absolute;
    top: 1000px;
    right: 250px;
    bottom: 1000px;
    left: 200px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.blankboxforspace {
    height: 500px;
    width:  500px;
    /* background-color: red; */
    position: absolute;
    left: 350px; 
    top: 500px;
}
footer {
    height: 100px;
    /* width: 1500px; */
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.contactinfobox {
    height: 75px;
    width: 500px;
    padding: 15px;
    margin: 15px;
    /* background-color: white; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    column-count: 3;
    column-gap: 50px;
    column-width: 100px;
    font-style: italic;

}

/* .phonebox {
    height: 15px;
    width: 15px;
    background-color: pink;
} */
/* .emailbox {
    height: 15px;
    width: 15px;
    background-color: hotpink;
} */
.addressbox {
    height: 25px;
    width: 150px;
    /* background-color: red; */
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.phonebox {
    height: 25px;
    width: 100px; 
    /* background-color: red; */
    position: absolute;
    left: 250px;
    bottom: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.emailbox {
    height: 25px; 
    width: 100px;
    /* background-color: red; */
    position: absolute;
    left: 400px; 
    bottom: 50px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}
box-icon {
    height: 75x;
    width: 75px;
    /* background-color: red; */
    position: absolute;
    left: 1000px; 
    bottom: 15px;
}