body {
  width: 100%;
  margin: 0 auto;
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Book Antiqua';
}

#hero-copy h1 {
  padding-top: 125px;
  font-size: 48px;
  color: white;
}

#text-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  color: white;
  background-color: black;
}

.box {
  width: 100%;
  height: 30px;
}

.title-text {
  display: flex;
  
  font-family: 'Tahoma';
  align-items: baseline;
  border-top: 100px;
}

#box-1 {
  width: 300px;
  height: 25px;
  background-color: #2BCDC0;
  background-position: center;
}

#box-2 {
  width: 300px;
  height: 25px;
  background-color: #F46731;
  background-position: center;
}

#box-3 {
  width: 300px;
  height: 25px;
  display: flex;
  background-color: #33A8DD;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 991px)

body {
  width: 100%;
  margin: 0 auto;
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Book Antiqua';
}

#hero-copy h1 {
  padding-top: 125px;
  font-size: 48px;
  color: white;
}

#text-boxes {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  color: white;
  background-color: black;
  border-top: 30px;
}

.box-1 {
  width: 40%;
  height: 25px;
}

.title-text {
  font-family: 'Tahoma';
  align-items: baseline;
  border-top: 100px;
}

#box-1 {
  background-color: #2BCDC0;
  background-position: center;
}

#box-2 {
  background-color: #F46731;
  background-position: center;
}

#box-3 {
  background-color: #33A8DD;
  background-position: center;
}
