/*font-family: 'Open Sans', sans-serif;*/
header {
  width: 100%;
  height: 7%;
  color: black;
  padding-top: 1%;
  overflow: auto;
}

.logo {
  color: inherit;
  float: left;
  width: 30%;
  margin-left: 3%;
  font-size: 120%;
}

header > nav {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 3%;
}

nav > a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 60%;
  width: auto;
}

main {
  background: linear-gradient(
    rgba(0, 0, 0, .75),
    rgba(0, 0, 0, .75) ),
    url(../img/vineyard1.jpg);
    height: 80%;
    color: white;
    text-align: center;
    padding: 7% 0;
}

main > h2 {
  margin: 10% auto;
  font-size: 280%;
}

main > p {
  font-size: 60%;
}

h3, h4, h5, h6 {
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

.submain {
  height: 85%;
  display: flex;
  justify-content: space-around;
}

.subleft {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.subleft > img {
  max-width: 20%;
  align-self: center;
}

.subleft >  h3, p {
  margin: 2% 10%;
}

subleft > h3 {
  font-size: 135%;
  font-weight: bold;
}

.subleft > p {
  font-size: 70%;
}

.subright {
  display: flex;
  width: 36%;
  margin-left: 3%;
  justify-content: center;
}

.subright > img {
  max-height: 100%;
  width: 90%;
}

.topart {
    height: 40%;
    background: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75) ),
    url(../img/vineyard2.jpg);
    color: white;
    padding: 10% 0;
    text-align: center;
}

.topart > h4 {
  font-size: 150%;
  font-weight: bold;
  margin: 2% 3%;
}

.topart > p {
  font-size: 70%;
  margin: 2% 3%;
}

.bottomart {
  height: 75%;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.bottomart > div {
  display: flex;
  width: 30%;
  max-height: 100%;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  text-align: center;
}

.bottomart > div > img {
  max-height: 85%;
  max-width: 80%;
  margin:  -30% auto -12%;
}

.bottomart > div > h5 {
  background-color: white;
  font-size: 75%
}

.bottomart > div > p {
  background-color: white;
  font-size: 50%;
  margin: 0 8%;
  font-style: italic;
}

.bottomart > div > button {
  display: inline-block;
  margin: 1% auto;
  width: 30%;
  background-color: #92A15D;
}
