html, body {
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  padding-top: 40px;
  font-size: 18px;
}
body, header, section, nav, footer {
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 20px 0 5px 0;
  width: 1000px;
  height: 100px;
  justify-content: space-between;
}

nav a {
  padding-left: 5px;
  padding-top: 0px;
  text-decoration: none;
  color: black;
  background-color: inherit;
}

nav a:hover {
  color: #aaa;
  background-color: inherit;
  font-weight: bold;
}

.links {
  padding-top: 40px;
}

header {
  display: flex;
  width: 1000px;
  height: 400px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)),
      url("../img/wine-bg.jpg");
      background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: inherit;
}

header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

header a {
  display: flex;
  width: 75px;
  height: 30px;
  border: solid 2px white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: inherit;
}

header a:hover {
  background-color: #aaa;
  color: inherit;
}

section {
  width: 1000px;
}

.midsection {
  display: flex;
  padding: 0px 0px;
  justify-content: space-around;

}

.powerwash {
  width: 250px;
  height: 400px;
  background: url("../img/wine16.jpg");
  background-size: cover;
}

.vineyard {
  width: 1000px;
  height: 400px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)),
      url("../img/wine13.jpg");
  background-size: cover;
}

.right-box {
  width: 300px;
  height: 220px;
  padding-top: 50px;
}

.right-box h3 {
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: #777;
  background-color: inherit;
  padding-top: 20px;
}

.right-box h4 {
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  font-family: sans-serif;
  padding-top: 20px;
}

.right-box p {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  font-family: serif;
  padding-top: 20px;
}

.vineyard p {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  font-family: serif;
  padding-top: 110px;
  color: white;
  background-color: inherit;
}

.vineyard h3 {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-family: serif;
  padding-top: 40px;
  color: white;
  background-color: inherit;
}

.redflowers {
  display: flex;
  padding: 50px 0 50px;
  justify-content: space-around;
}

.column {
  width: 120px;
  text-align: center;
}

.column h3 {
  padding: 15px;
}

.image-box {
  width: 120px;
  height: 120px;
  background: url("../img/redflower.jpg");
  background-size: cover;
}

.water {
  display: flex;
  justify-content: space-between;
}

.waterdroplet {
  width: 300px;
  height: 145px;
  background: url("../img/waterdroplet.jpg");
}

.box {
  width: 300px;
  padding: 30px 50px;
}

.box p {
  padding-top: 20px;
  text-align: center;
}
