body {
  font-family: sans-serif;
}
img {
  width: 100%;
  height: auto;
}
nav {
  width: 100%;
  background-color: #fff;
  height: 40px;
  padding-top: 10px;
}
button {
  background-color: #91b203;
  border: none;
  color: #fff;
  padding: 5px 15px 5px 15px;
  margin: 15px;
  font-size: 15px;
}
h1 {
  font-size: 55px;
  margin: 5px;
  padding-bottom: 60px;
}
h2{
  font-size: 14px;
  text-align: center;
  margin: 10px;
}
h3{
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}
h4 {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}
h5{
  text-align: center;
  color:#c5c5c5;
  font-size: 14px;
  padding-bottom: 30px;
}
p{
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin: auto;
  margin-right: 10px;
  font-weight: lighter;
}
.main {
  width: 960px;
  height: auto;
  margin: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.italic{
  font-style: italic;
}
.banner {
  width: 100%;
  height: 550px;
  margin: auto;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)), url("../img/1.jpg");
  background-size: cover;
  color: #fff;
}
.one {
  color: #000;
}
.oneleft {
  width: 56%;
}
.oneright {
  width: 30%;
}
.two {
  width: 100%;
  height: 350px;
  margin: auto;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)), url("../img/2.jpg");
  background-size: cover;
  color: #fff;
}
.three {
  box-sizing: padding-box;
}
.threecontent {
  width: 30%;
  text-align: center;
}
.three img{
  width: 100px;
}
