html, body {
  width: 100%;
  margin: auto;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.first {
  font-family: 'Open Sans', sans-serif;
}

.header p {
  float: left;
  font-size: 25px;
  text-transform: uppercase;
}

.header ul {
  float: right;
}

.header li {
  display: inline-block;
  list-style-type: none;
  padding-top: 10px;

}

.header li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.header li a:hover {
  color: purple;
}

.mainimage {
  clear: left;
  width: 100%;
  height: 500px;
  margin: auto;
  background-image: url("../img/vineyard.jpg");
  background-size: cover;
}

.layer {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bigtitle {
  font-size: 60px;
  text-align: center;
  color: white;
}

#quote {
  margin-top: 50px;
  text-align: center;
  color: white;
  margin-left: 60px;
}

.second {
  height: 403px;
  text-align: center;
}

.xp {
  width: 100%;
  margin-left: 100px;
  margin-bottom: 20px;
}

.img {
  margin-top: 20px;
 width: 100%;
 margin-bottom: 20px;
}

#afterimage {
  clear: right;
}



.xp {
  width: 600px;
  margin-top: 70px;
}

#date {
   color: #989898;
   margin-bottom: 30px;
}

.third {
  height: 500px;
  background-image: url("../img/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
}

.layer2 {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produce > h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  width: 80%;
  color: white;
  width: 800px;
  text-align: center;
}

.produce > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 50px;
  width: 600px;
  color: white;
  text-align: center;
  margin-left: 100px;
}

.footer {
  width: 1000px;
  height: 600px;
  margin: auto;
}

.pictures {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.wineimg {
  display: flex;
  align-items: flex-end;
}

.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  text-align: center;
  width: 200px;
}

.info h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
}

.info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #929E56;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.button:hover {
  background-color: #AB0A51;
}
