html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body{
  margin: 0 auto;
}
header{
  margin: 10px;
  width: 900px;
  height: 10px;
}
section{
  color: #CCC;
}
span{
    padding-left: 5px;
}
.home{
  margin: 0 auto;
  clear: left;
  text-align: center;
  background-image: url("/img/paint2.jpg");
  background-size: cover;
}
.homesize{
  margin: auto;
  width: 900px;
  height: 500px;
}
.transparent{
  background-color: rgba(0, 0, 0, 0.5);
}

.transparent h3{
    padding-top: 140px;
}
h3{ font-size: 10px ; }
h1{ font-size: 22px ; }
h2{ font-size: 12px ; }

.boton{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 90px;
  background-color: #92A72D;
  font-size: 10px ;
}
.left{
  float: left;
}
.right{
  float: right;
}

/* Our Service */

.box-service{
  background-color: blue;
  margin: 10px;
  width: 200px;
  height:380px;
  float: left;
}
.box-service img{
  margin: 10px;
  width: 180px;
  height:200px;
}
.text-service{
  text-align: center;
  margin: 10px;
  width: 180px;
  height: 200px;
}

/* About */
.box-about img{
  margin: 10px;
  width: 180px;
  height:250px;
  float: left;
}
.text-about{
  font-size: 14px;
  text-align: left;
  margin: 10px;
  width: 670px;
  height: 200px;
  float: left;
}
.text-about h1{
  color: #CCC;
  text-align: center;
}
/* Galery  */
.galery{
  width: 900px;
  height: 417px;
}
.box-galery{
  background-color: blue;
  margin: 40px;
  width: 360px;
  height:320px;
  float: left;
}
.box-galery img{
  margin: 10px;
  width: 336px;
  height:200px;
}
.text-galery{
  font-size: 14px;
  text-align: center;
  margin: 10px;
  width: 336px;
  height: 85px;
}
#date{ float: right;}

/* Orders */
.order{
  clear: left;
  text-align: center;
  background-image: url("/img/order.jpg");
  background-size: cover;
}
.ordersize{
  margin: 10px;
  width: 900px;
  height: 300px;
}
.order h1{
  padding: 40px;
}
.botons-order{
  margin: 0 auto;
  width: 300px;
}
.botons-order a{
  margin: 20px;
  float: left;
}
