body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin: 10px;
}

#currentTotal {
  width:300px;
  height:64px;
  border:1px solid black;
  text-align: center;
  font-size: 44px;
  margin: 5px 0 15px 0;
}

.knob {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 60px;
  border: 1px solid black;
  border-radius: 40px;
  margin-bottom: 14px;
  cursor:pointer;
}

.button {
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.pic {
  width: 50px;
  height: 50px;
  padding: 0 0 0 38px;
}
