body{
  font-family: 'Righteous', cursive;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 14px;
}

h4{
  font-size: 32px;
}

.resumeclicker{
  height: 350px;
  width: 350px;
  background-color: red;
}

.purchasableShredder{
  padding: 5px;
  height: 75px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #00b9ff;
  box-shadow: 0px 5px 4px #888888;
}
.purchasableDividerLeft{
  float: left;
}

.purchasableDividerRight{
    float: right;
}

.shredderUpgrade{
  height: 75px;
  width: 275px;
  border-radius: 10px;
  border: 2px solid #00b9ff;
  box-shadow: 0px 5px 4px #888888;
}
