.nav {
  border:ridge white;
  height: 25%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

p {
  color: white;
}

.contact {
  display;
  flex;
  justify-content: flex-end;
  flex-direction: row;
}

.media {
  text-align: right;
}

.grid1 {
  border: solid white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Images/guitar1.jpg");
  height: 25%;
  width: 100%;
  display: grid;
  grid-row: 2/2;
  grid-column: 1/4
}

body {
  font-family: 'Open Sans', sans-serif;
  background-size: 100%;
  background-image: url("../Images/guitar3.jpg");
}
