.nav {
  height: 25%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.contact {
  display;
  flex;
  justify-content: flex-end;
  flex-direction: row;
}

.media {
  grid-row: 1/2;
  grid-column: 1/4
}

.grid1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Images/guitar1.jpg");
  height: 25%;
  display: grid;
  grid-row: 2/2;
  grid-column: 1/4
}

body {
  background-size: 35%;
  background-image: url("../Images/guitar3.jpg");
}
