.top{
  width: 700px;
}

.half{
  width: 50%;
  height: 300px;
  float:left;
}

.half2{
  width: 100%;
  height: 90px;
}

.imgrs{
  width: 33%;
}

h2{
  font-size: 20px;
  font-weight: lighter;
}

div > p {
  font-size: 16px;
  font-weight: lighter;
  color: blue;
}

h3{
  font-size: 20px;
  font-weight: lighter;
}



footer{
  clear: left;
}
