*{
  font-family:sans-serif;
}

p{
  font-size:14px;
}

li{
  font-size:14px;
}

h2{
  font-weight:normal;
}

h1{
  display:flex;
  justify-content:center;
  color:black;
  font-weight:normal;
}

#top p{
  display:flex;
  justify-content:center;
  margin:0px 380px;
  text-align:center;
}

#left{
width:31%;
font-size:15px;
margin-left:180px;
margin-top:50px;
padding-right:40px;
}

a{
  float:right;
  color:green;
}

#right{
  float:right;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:flex-end;
  margin-top:-390px;
  margin-left:680px;
  margin-right:200px;
}

#right img{
  width:20%;
  float:left;
}
