h1, h2, h3, h4, h5, h6, a {
    font-family: helvetica, sans-serif;
    font-weight: lighter;
}

p, li {
    font-family: arial, sans-serif;
    font-size: 10pt;
}

h3 {
    font-size: 12pt;
}

main {
    /*width: 690px;*/
    margin: 0 auto;
}

main img {
    width: 350px;
    height: 140px;
}

header {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

header>p {
    width: 70%;
    margin: 0 auto;
    line-height: 2em;
}

body {
    width: 70%;
    margin: 0 auto;
}


/*section, aside {
    float: left;
    padding: 5px 7px;
}*/


/*article {

float: left;

}
section:nth-child(2) {
    width: 320px;
    overflow: scroll;
}*/

.clearfix:after {
    display: flex;
    content: " ";
    clear: both;
}


/*
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-start;
}


.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

 .flex-item-1 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

 .flex-item-2 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}


*/

main {
    display: flex;
}

.main {
    position: relative;
    display: flex;
    width: 350px;
    height: 300px;
    float: left;
    padding: 1.5%;
    background-color: lightgray;
}

.main>img {
    width: 95%;
}

section, aside {
    float: left;
    padding: 5px 7px;
}

aside {
    width: 23%;
    font-size: 12px
}

aside div {
    padding: 5px;
    margin-bottom: 10px;
}


/*aside {*/

position: relative;
width: 320px;
height: 300px;
background-color: lightgray;
float: left;

}
aside, img {
    position: relative;
    width: 200px;
    height: 100px;
}
.readmore, .check {
    float: right;
    color: green;
    font-size: 9pt;
    letter-spacing: 1px;
}
ol, ul, li {
    display: inherit;
}
footer {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1.5%;
}
footer article {
    width: 23.3%;
    border-right: 2px solid;
    float: left;
}
