body {
  height: 800px;
  width: 90%;
  margin: 0;
  padding: 20px;
  border: 40px;
  font-family: sans-serif;

}

header {
  text-align: center;
  height:15%;
  width:100%;

}

main {
  float: left;
  height: 400px;
  width: 48%;
  border: 10px;
  padding: 10px;
  background-color: #F8F8FF;

}

aside {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 48%;
}

footer {
  height:200px;
  width: 100%;
  clear: both;

}

article p {
  border-left: 50%;
  font-size: 1em;
}

footer section {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

aside p {
  margin-left:20px;
}

#a-one {
  background-color: #F8F8FF;
  height:30%;
  padding:10px;
  margin:10px;
  border:10px;
}

#a-two {
  background-color: #F8F8FF;
  height: 30%;
  padding:10px;
  margin:10px;
  border:10px;
}

#a-three {
  background-color: #F8F8FF;
  height:30%;
  margin:10px;
  padding:10px;
  border:10px;
}

.h-paragraph {
  color:darkgrey;
}

.keyboard {
width: 100%;
}

.headphones {
  width:40%;
  float:left;
  margin-right: 10px;


}

.laptop18 {
  width:40%;
  float:left;
  margin-right: 10px;
}

.sunspot {
  width:40%;
  float: left;
  margin-right: 10px;
}
