body {
    font-family: 'Hind Guntur', sans-serif;
    overflow-x: hidden;
}

/*navigation bar stylings*/

#sandwich{
width:2%;
display: inline-block;
}

.navstuff {
    margin-top: -2%;
}
#lindsayName {
    color: #89949C;
    font-size: 2rem;
    padding-top: 8vh;
}
#lindsayName:hover {
    color: #C6A7FB;
}
#navlist {
    color: #89949C;
    font-size: 2rem;
    padding-top: 8vh;
    margin-right: 2%;
}
#navlist:hover {
    color: #C6A7FB;
}

/*grow hover*/


/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
}

/*hero stylings*/

.hero {
    background-image: url("http://i.imgur.com/PURXuLd.png");
    background-size: cover;
  padding-bottom: 85vh;
    width: 100%;




}
.hero h1, .hero h2 {
    color: #C6A7FB;
    position: relative;
    left: 65%;
    top: 60vh;
    line-height: 20px;
}
.hero h1 {
    /*font-size: 5rem;*/
    font-weight: bolder;
}

/*section stylings*/

section h3 {
    text-align: center;
    padding: 7vh;
    font-size: 4rem;
    font-family: bolder;
    font-family: 'Hind Guntur', sans-serif;
}
section p {
    text-align: center;
    margin: 0 21%;
    font-size: 2rem;
}
section h4 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    padding: 3vh;
    color: #C6A7FB;
    margin-bottom: 4vh;
}

/*projects stylings*/
.projects{
  border: solid 3px #C6A7FB;
margin-right: 2%;
margin-bottom: 1.7%;
height: 250px;
overflow: hidden;
}

.projects img {
    width: 100%;
    padding: 3vh 0;
}

#projects{
  position: static;
      text-align: center;
      color: black;
      font-size: 5rem;
      margin-bottom: 10vh;
}

.projects_class{
  margin-left: 20%;

}

@media (min-width: 992px) {
#projects .col-md-offset-2 {
    margin-left: 14.666667%;
}
}
/*resume styles*/

.linkedIn{
  text-align: center;
}
.resumebutton{
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
}

.linkedinphoto{
  width: 40%;
border: solid 2px #C6A7FB;

}

@media (max-width: 992px){
  .linkedinphoto {
    width: 100%;

  }
  .projects{
  height: 150px;
  }
}

@media (max-width: 468px){
  .projects{
  height: 250px;
  margin-bottom: 4vh;
  }
}




/*footer stylings*/

.form{
  display: inline;
}
footer h2{
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
  margin-top: 7vh;
}

.form input{
  width:28%;
}

.name_form{
  margin-top: 6vh;
}


.submit{
  /*background: #C6A7FB;*/
  font-size: 2rem;
  padding: 1vh 1% 0 1%;
margin-left: 30%;
  color: #89949C;
}

/*footer stylings*/
.footer{
  background-color: #89949C;
  height: 53vh;
}

.mapphoto{
  border: 0;
      width: 35%;
      height: 43vh;
      margin-top: -8vh;
      margin-left: 0;
      float:left;
}
