body{
  width: 1000px;
  height: 100%;
  border: 0px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #00a68c;
}
.page{
  width: 980px;
  height: 82px;
  border: 0px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #ffffff;
}
.top-of-page{
  width: 100%;
  height: 100%;
  border: 0px;
  border-color: white;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #ffffff;
}
nav + h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  float: right;
  font-family: "open sans condensed", sans-serif;
  color: black;
}
nav li{
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline;
  float: right;
  font-family: "open sans condensed", sans-serif;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
}
.top-of-page>h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: inline;
  float: left;
  font-family: "open sans condensed", sans-serif;
  font-size: 60px;
  color: black;
}
main{
  width: 100%;
  height: 786px;
}
.box1{
  width: 980px;
  height: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #d2f8f2;
}
