body {
   background-repeat: no-repeat;
   background-size: auto;
   background-color: lightpink;
   font-family: "Arial", sans-serif;
}


header {
  background-color: lightpink;
}

nav {
  background-color:lightpink;
}

main{
  width: 75%
  background-color: lightpink;
  float: left;
}

aside {
  width: 25%
  background-color:lightpink;
  float: right;
}
footer{
  background-color:lightpink;
  clear: left;
}
