*{
  font-family: Helvetica;
  width: 100%
  height:auto;

}
.header {
  background-image: url("../images/lightgraph.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  border-bottom: 2px solid black;
  }

  .header h1 {
    padding: 40px;
    margin:0;
    text-align: center;
    color: #fff;
  }

  .fa {
    color: white;
    padding: 0;
    margin: 0;
      }

  .contact{
    font-family: Helvetica;
    text-align: right;
    padding-right: 20px;
  }


  .skills p {
    padding-top: 1em;
    margin: 0 50px;
  }

  h2 {
    text-decoration: underline;
    padding-top:1em;
    margin: 0 50px;
  }

  h4 {
    padding-top: 1em;
    margin: 0 50px;

  }

  h5 {
    padding-top: .5em;
    margin: 0 50px;
    text-decoration: underline;
    font-style: italic;
  }

  .length {
    text-decoration: none;
    padding: 0;
  }

  ul {
    padding: 15px;
    margin: 0 75px;
  }

  li{
    font-size: 16px;
  }
