body {
   background-image: url("../images/signature4_Signature1.jpg");
   background-color: #lightpink;
}

header {
  background-color: lightpink;
}

nav {
  background-color:lightyellow;
}

main{
  width: 75%
  background-color: lightpink;
  float: left;
}

aside {
  width: 25%
  background-color:lightpink;
  float: right;
}
footer{
  background-color:lightpink;
  clear: left;
}
