
h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30%;
}

[data-stack] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  min-width: 100px;
  background-color: mistyrose;
  margin: 25px;
}

[data-block] {
  height: 25px;
}

[data-block="25"] {
  width: 25px;
  background-color: blue;
  border-radius: 10px;
}

[data-block="50"] {
  width: 50px;
  background-color: green;
  border-radius: 10px;
}

[data-block="75"] {
  width: 75px;
  background-color: red;
  border-radius: 10px;
}

[data-block="100"] {
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
