[data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 102px;
  background-color: #aaa;
  margin: 25px;
}

[data-block] {
  width: 25px;
  float: left;
}

[data-block="25"] {
  height: 25px;
  background-color: black;
}

[data-block="50"] {
  height: 50px;
  background-color: lavender;
}

[data-block="75"] {
  height: 75px;
  background-color: pink;
}

[data-block="100"] {
  height: 100px;
  background-color: turquoise;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

.selected {
  border: 1px dotted yellow;
}
