body {
  background-color: green;
  color: white;
  text-align: center;
}
.img{
  background-image: url('../img/maincampus_hero.jpg');
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
}
.img-sm {
  height: 200px;
}
.img-md {
  height: 400px;
}
p {
  color: black;
}
#bio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio_box {
  display: flex;
  flex-direction: row;
}
