body {
  background: url('http://pressdsgn.com/wood/eukalyptus_color.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 101px;
  background: url('http://pressdsgn.com/wood/ramin_color.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid black;
  margin: 25px;
}

[data-block] {
  width: 25px;
  border-radius: 5px;
  float: left;
}

[data-block="25"] {
  height: 25px;
  background: url('http://www.wildtextures.com/wp-content/uploads/2011/09/grunge-stone1-overlay-example.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-block="50"] {
  height: 50px;
  background: url('http://www.cs.csubak.edu/~svasquez/cs211/gradientsws.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-block="75"] {
  height: 75px;
  background: url('https://cdn.pixabay.com/photo/2015/02/25/16/23/stone-texture-649018_960_720.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-block="100"] {
  height: 100px;
  background: url('https://texturefabrik.files.wordpress.com/2013/06/stone_00.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
