body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

#gameBoard {
  display: flex;
  flex-direction: row;

}

[data-stack] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 200px;
  background-color: aliceblue;
  margin: 25px;
  border-radius: 5px;
}

[data-block] {
  height: 50px;
  border-radius: 5px;
}

[data-block="25"] {
  width: 25px;
  background-color: blue;
  /* border: 3px solid blue; */
}

[data-block="50"] {
  width: 50px;
  background-color: green;
  /* border: 3px solid green; */
}

[data-block="75"] {
  width: 75px;
  background-color: red;
  /* border: 3px solid red; */
}

[data-block="100"] {
  width: 100px;
  background-color: yellow;
  /* border: 3px solid yellow; */
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
