body {
  background-image: url("./img/back.jpg");
  top: 0;
  left: 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150%
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
}

h3 {
  font-family: sans-serif;
  color: white;
}

p {
  font-family: sans-serif;
  color: white;
}

button {
  background-color: pink;
  border-radius: 40%;
}

[data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  height: 325px;
  width: 200px;
  background-image: url("./img/line2.jpg");
  background-size: 210%;
  margin: 25px;
  border-style: groove;
}

#col {
  display: flex;
  /*flex-direction: row;*/
}

[data-block] {
  height: 25px;
  float: left;
}

[data-block="25"] {
  width: 25px;
  background-color: rgb(146, 213, 203);
  border-radius: 5px;
  border-style: groove;
}

[data-block="50"] {
  width: 50px;
  background-color: rgb(37, 188, 174);
  border-radius: 5px;
  border-style: groove;
}

[data-block="75"] {
  width: 75px;
  background-color: rgb(0, 154, 136);
  border-radius: 5px;
  border-style: groove;
}

[data-block="100"] {
  width: 100px;
  background-color: rgb(0, 79, 69);
  border-radius: 5px;
  border-style: groove;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
