body{
    /*background-color: #869971;*/
    background-image: url("img/towers.jpg");
    background-repeat: repeat-x;
    background-size: cover;
}

[data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 101px;
  background-color: #ffebba;
  opacity: 0.5;
  margin: 25px;
}

[data-block] {
  width: 25px;
  float: left;
  opacity: 1;
  border:2px solid black;
 border-radius:10%;

}

[data-block="25"] {
  height: 25px;
  background-color: blue;
}

[data-block="50"] {
  height: 50px;
  background-color: green;
}

[data-block="75"] {
  height: 75px;
  background-color: red;
}

[data-block="100"] {
  height: 100px;
  background-color: purple;
  opacity: 1;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
  color:white;
}

#moves,#resetGame {
  font-size: 25px;
  text-align: left;
  margin-left: 25px;
  }
  #moves{
color:white;
    }

h1{
text-align: center;
color:white;

}
