body {
  font-family: sans-serif;
  font-size: 14px;
}

.hero {
  height: 450px;
  width: 850px;
  background-image: url("../img/nasa-background.jpg");
  color: white;
  font-size: 40px;
  text-align: center;

}

footer {
  height: 324px;
  width: 840px;
  background-color: #b9b9bb;
  padding: 5px;
}

h1 {
  padding-top: 180px;
}

.social {
  float:left;
  width: 270px;
  padding-right: 5px;
}

.contact {
  float:right;
  width: 270px;
  padding-left: 5px;
}

.info {
  float:left;
  width: 270px;
  padding-left: 5px;
  padding-right: 5px;
}

#message {
  width: 250px;
  height: 50px;
  padding: 5px;
}

#name {
  width: 250px;
  padding: 5px;
}

#send {
  background-color: #4d4d4d;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  padding: 5px;
}

form {
  text-decoration: none;
}
