body {
  background-image: url(../img/custom-background-copy.jpg);
}

header {
  font-size: 80px;
  width:;
  padding-bottom:100px;
  margin:;
  border:;
  text-align: center;
  color: white;
  }

p {
  font-size: 60px;
}

#article-container {
  text-align: center;
  color: white;
}
.container {
  background-image: url(../img/Untitled-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left:50px;
  padding-bottom: 50px;
  border:;

  }

.work-box {
    border-radius: 25px;
    display: flex;
    height: 80px;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding: 1px;
    margin-top:10px;
  }

.work-box1 {
  align-content: center;
  justify-content: center;
  background-image: url(../img/blog-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-weight: bold;
}

.work-box:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  border:3px solid white;


}

.work-box:hover h1 {
  display: none;
}

.work-box:hover h2 {
  display: none;
}


.work-box2 {
  align-content: center;
  justify-content: center;
  background-image: url(../img/vx-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work-box3 {
  align-content: center;
  justify-content: center;
  background-image: url(../img/beard-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work-box4 {
  align-content: center;
  justify-content: center;
  background-image: url(../img/trans-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color:black;
  font-weight: bold;
}
