body {
  background-image: url(../img/custom-background-copy.jpg);
}

header {
  font-size: 80px;
  width:;
  padding-bottom:100px;
  margin:;
  border:;
  text-align: center;
  color: white;
  }

p {
  font-size: 60px;
}

#article-container {
  text-align: center;
  color: white;
}
.container {
  background-image: url(../img/Untitled-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left:50px;
  padding-bottom: 50px;
  border:;

  }

.work-box {
    border-radius: 25px;
    display: flex;
    height: 80px;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

.work-box1 {

  align-content: center;
  justify-content: center;
  background-image: url(../img/blog-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;




}

.link-box {
  height: 100%;
  width: ;
  border: 3px solid red;
}

.work-img {
    height: 90%;
    width: 90%;

}

h1 {
  color: white;
  font-weight: bold;
}

.work-box1:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  border:3px solid white;


}

.work-box1:hover h1 {
  display: none;
}
