*{
  font-family:'Josefin Sans', sans-serif;
}
body {
position:relative;
}

/*NAVBAR*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(236, 164, 166, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(153, 168, 158, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(187, 199, 186, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


nav img {
  width:6vh;
}

body nav{
    position: fixed;
    top: 0;
    width: 100%;
}
header {
  margin-bottom: 40px;
}
header h1{
  font-family: 'Cedarville Cursive',cursive;
}
#web h2 {
  margin-top:-15px;
}
a {
  color:black;
}
#name {
  width:20%;
}
main {
  margin-bottom: 30px;
}
main img {
  width:80%;
}
main h2 {
  font-family:'Cedarville Cursive', cursive;
}
main p {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.affix {
      top: 20px;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }


  /* Carousel */

  #quote-carousel {
      padding: 0 10px 30px 10px;
      margin-top: 30px;
      /* Control buttons  */
      /* Previous button  */
      /* Next button  */
      /* Changes the position of the indicators */
      /* Changes the color of the indicators */
  }
  #quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -60px;
  }
  #quote-carousel .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
  }
  #quote-carousel .carousel-indicators li {
      width: 50px;
      height: 50px;
      margin: 5px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.4s;
  }
  #quote-carousel .carousel-indicators .active {
      opacity: 1;
      overflow: hidden;
  }
  .carousel-inner {
      min-height: 300px;
  }



summary h1{
  font-family:'Cedarville Cursive',cursive;
}
summary p{
  font-size: 18px;
}


.sidenav li{
  font-family: 'Cedarville Cursive', cursive;
  font-size:15px;
}

article li {
  font-family: 'Cedarville Cursive',cursive;
  font-size: 20px;
}

article h1 {
  font-family: 'Cedarville Cursive', cursive;
}

article p {
  text-align:center;
  font-size:20px;
}


section img {
  overflow: hidden;
  width:100%;
}
#music {
  margin-top:20px;
  width:50%;
}
