body {
    color: rgb(165, 23, 165);
    background-color: rgb(231, 227, 227);
    text-align: center;   
}
h1 {
    text-align: left;
    margin-left: 50px;
}
h3 {
    text-align: left;
    margin-left: 75px;
    margin-top: -25px;
}
h4 {
    margin-left: 150px;
}

.rs-text {
    display: table-cell;
    height: 400px; 
    width: 350px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2%;
    background: rgb(196, 192, 192);
    color: rgba(75, 117, 180, 0.842);
    font: 20px "comic sans ms", arial; 
}
img {
    border-radius: 250px;
    width: 400px;
    height: 350px;
    margin-left: 200px;
    margin-top: 20px;
    float: left;
    margin-right: 150px;
}
.footer-text {
    text-align:  right;
    color: rgba(75, 117, 180, 0.842);
    height: 50px;
    width: 225px;
    border-radius: 2%;
    background-color: rgb(196, 192, 192);
    margin-top: 25px;
    margin-left: 120px;
    padding-left: 880px;
}
table {
    margin-left: -800px;
    text-align: center;
}