/* Flexbox used throughout to position page layout  */

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #303030;
  width: 90%;
  background-color: Linen;
  font-family: "Verdana";
}

#heading {
  font-size: 48px;
  color: #303030;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Area for dice, populate using javascript function roll  */

.dice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 100px;
  width: 500px;
  color: #303030;
  padding-bottom: 10px;
}

}

/* Button styling */

input {
  width: 100px;
  height: 50px;
  font-family: "Verdana";
  font-size: 20px;
  color: #303030;
}

/* Div wraps results and goals for page placement */

.score {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

/*Matched goals styling*/

.matched {
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  height: auto;
  width: 175px;
  height: 750px;
  border: 1px solid #303030;
  background-color: white;
}

.matched>p:nth-of-type(1) {
  text-decoration: underline;
  margin-bottom: 0px;
}

/* Results box styling*/

#results {
  height: 200px;
  width: 500px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #303030;
}

/* Goals to win styling */

.goals {
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #303030;
  width: 175px;
  height: 750px;
  background-color: white;
}

/* Header of goals  */

.goals>p:nth-of-type(1) {
  text-decoration: underline;
  margin-bottom: 0px;
}
