.top {
    height: 590px;
    max-width: 100%;
    background-color: #f4ed47;
}

.toph1 {
    padding: 71px 31px 23px;
}

.topP {
    padding: 6px 29px;
}

.smallinside {
    padding-bottom: 21px;
}

.blockgroup {
    text-align: center;
}

.bottombig {
    background-color: lightgrey;
    height: 590px;
    max-width: 100%;
}

.contact {
    background-color: #f4ed47;
    text-align: center;
    padding: 40px;
}

@media (max-width: 767px) {
    .top {
        height: 482px;
    }
    .bottombig {
        height: 482px;
    }
}
