html {
    font-family: sans-serif;
}

main {
    padding: 50px 0;
    text-align: center;
}

main h1 {
    color: black;
    font-size: 3em;
    text-align: left;
    padding-left: 50px;
}

section {
    display: block;
    padding: 50px;
    height: 1232px;
}

h2,
p,
section i {
    padding: 30px;
}

.one {
    background-color: #f4ed48;
    height: 450px;
    width: 40%;
    margin: 20px;
}

.two {
    background-image: url("http://robotheme.net/themes/studio/demo/img/files/work6.jpg");
    height: 200px;
    width: 40%;
    margin: 20px;
}

.three {
    background-color: #f3f3f3;
    height: 200px;
    width: 40%;
    margin: 20px;
}
.three i{
  padding: 10px;
}
.three h2{
  padding: 2px 10px;
}
.three p{
  padding: 5px 10px;
}
.four {
    background-image: url("http://robotheme.net/themes/studio/demo/img/files/work6.jpg");
    height: 200px;
    width: 40%;
    margin: 20px;
}

.five {
  background-image: url("http://robotheme.net/themes/studio/demo/img/files/work4.jpg");
    height: 200px;
    width: 40%;
      margin: 20px;
}

.six {
    background-color: green;
    height: 200px;
    width: 45%;
}

.seven {
    background-color: light-blue;
    height: 200px;
    width: 45%;
}

.eight {
    background-color: purple;
    height: 200px;
    width: 45%;
      margin: 20px;
}

.nine {
    background-color: dark-grey;
    height: 200px;
    width: 45%;
      margin: 20px;
}

.ten {
    background-color: #d3d3d3;
    height: 400px;
    width: 40%;
    margin: 20px;
}
