body{
  margin: auto;
}

.yellow-box{
  height: 400px;
  background-color: #f4ed47;

}

.yellow-box i {
  margin: 20px;
}

h1{
  font-size: 45px;
  font-family: Curier, serif;
  margin-top: 25px;
}

.grayb{
  background-color: #f1f1f1;
  height: 200px;
}

.big-grayb{
  background-color: #f1f1f1;
  height: 400px;
}

.yellow-contact{
  height: 200px;
  background-color: #f4ed47;

}
