.container{
  background-color: hotpink;
  width: 800px;
  heigth: 600px;
  margin-top: 25px;
  padding-left: 50px;
}

h1{
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}
small {
  font-size: 20px;
}
button {
  width:170px;
  height:120px;
  border-radius:50px;
}

img{
  width: 140px;
  height: 110px;
  display: block;
  margin: auto;
}
currentTotal {
  width:150px;
  height:50px;
  border:3px solid black;
  text-align: center;
  font-size: 48px;
  display: block;
  margin: auto;
}

.box {
  width:175px;
  height:30px;
  border:3px solid #6d0ac7;
  background-color: white;
  border-radius:30px;
  text-align: center;
  cursor:pointer;
  font-size: 18px;
  display: block;
  margin: auto;
}
