body {display:flex;
    flex-direction:column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items:center;
    color: rgb(241, 235, 143);
    text-align: center;
    font-size: 3em;
    background-color: rgb(203, 211, 129);
    height:100vh;
    width: 100vw;
    background-image: url(https://i.pinimg.com/originals/c4/93/d3/c493d329e07180e287bd6af172c63b00.jpg);
    background-size: cover;
  }
  
  .box {display: flex;
    justify-content: center;
    justify-items: center;
    align-items:center;
    height: 100px;
    width:220px;
    background-color: rgb(255, 217, 0);

    
  }
  button{
      height:100px;
      width: 220px;
      background-color: rgb(255, 217, 0);
  }