body {
    color: red;
    text-align: center;
    font-size: 40px;
  }
  
  .box {
    height: 100px;
    width: 100px;
    background-color: blue;
    padding: 0.5em;
  }
  #boxid {
    width: 150px;
    height: 170px;
    background-color: red;
    float:left;
    margin: 10px 10px 10px 0;
  }

