body {
  font-family: "Roboto";
  background-color: white;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
  margin-top: 20px;
  margin-bottom: 50px;
}

.box {
  background: linear-gradient(160deg,#b69908,#7da33e,#4ea36c,#399e8f,#0099ad,#0091df,#4878f6,#cf2dcf);
  box-shadow: 8px 7px 9px 0px black;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
.box-6 {
  grid-area: box-6;
}
.box-7 {
  grid-area: box-7;
}
.box-8 {
  grid-area: box-8;
}
.box-9 {
  grid-area: box-9;
}
.box-10 {
  grid-area: box-10;
}

/* desktop */
@media (max-width:1920px) {
  #desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #tablet {
    display: none;
  }
  #mobile {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 150px;
    justify-items: center;
    grid-template-areas:
      "header header header header"
      "box-1 box-1 box-2 box-2"
      "box-3 box-3 box-4 box-5"
      "box-3 box-3 box-6 box-6"
      "box-7 box-8 box-9 box-10";
  }
}


/* tablet */
@media (max-width: 992px) {
  #desktop {
    display: none;
  }
  #tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #mobile {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
      100px 200px 100px 100px 100px 
      100px 100px 100px 100px 100px;
    justify-items: center;
    grid-template-areas:
      "header header"
      "box-1 box-1"
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-4"
      "box-5 box-5"
      "box-5 box-5"
      "box-6 box-7"
      "box-8 box-8"
      "box-9 box-10";
  }
}


/* mobile */
@media (max-width: 476px) {
  #desktop {
    display: none;
  }
  #tablet {
    display: none; 
  }
  #mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1em;
    grid-template-rows: 100px 100px 100px 100px 100px
      100px 100px 100px 100px 100px 100px;
    grid-template-areas:
      "header"
      "box-1" 
      "box-2"
      "box-3"
      "box-4"
      "box-5"
      "box-6"
      "box-7"
      "box-8"
      "box-9"
      "box-10"
  }
}
