body {
  /* background:linear-gradient(160deg,#00ff7e,#00d394,#00a694,#00797d,#145d5f,#005146,#01442b,#0d360f); */
  margin:0;
  padding:1em;

}
.header{
  grid-area:header;
  color: #0a0a0a;
  font-family: 'Special Elite', cursive;
  text-align: center;}


.box-1{
  grid-area: box-1;
}
.box-2{
  grid-area: box-2;
}
.box-3{
  grid-area: box-3;
}
.box-4{
  grid-area: box-4;
}
.box-5{
  grid-area: box-5;
}
.box-6{
  grid-area: box-6;
}
.box-7{
  grid-area: box-7;
}
.box-8{
  grid-area: box-8;
}
.box-9{
  grid-area: box-9;
}
.box-10{
  grid-area: box-10;
}


.grid-container {
  height:100%;
  width:100%;
  display:grid;
  gap:1em;
  justify-items: center;
  align-items:center;
  grid-template-columns: 1fr;
  /* grid-template-rows:auto; */
  grid-template-areas:
  /* "header" */
  "box-1"
  "box-2"
  "box-3"
  "box-4"
  "box-5"
  "box-6"
  "box-7"
  "box-8"
  "box-9"
  "box-10"
}
.box{
  display:grid;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border:1px solid lightblue;
  height: 100%;
  width:100%;
  /* border: solid 1px rgb(158, 158, 158); */
  /* border-radius:5px; */
  /* background: linear-gradient(160deg,#14251c,#003d3c,#005470,#0065a8,#4c74bd,#778abc,#9aa1bb,#b9b9b9); */
  /* box-shadow: 0 7px 8px 0; */
  /* transition:all 225ms ease; */
}
.box:hover{
/* background: linear-gradient(180deg,#14251c,#003d3c,#005470,#0065a8,#4c74bd,#778abc,#9aa1bb,#b9b9b9); */
/* box-shadow: 5px 5px 8px 0 rgb(59, 59, 59) */
}
.flex {display: grid;
  flex-direction: column;
  min-height:100%;
  width:100%;
  background-color:rgb(232, 255, 198);
  
}
.flex1{
  background-color:rgb(252, 182, 182);
  text-align: center;
  max-height:100%;
  

}
.flex2{
  background-color:rgb(216, 216, 216);
  /* min-height:100%; */

}
.flexb {display:grid;
grid-template-columns:1fr 1fr 1fr;
justify-content: space-between;


}
.flex3{
  background-color:rgb(167, 255, 255);
}
.flex4{
  background-color:rgb(134, 255, 243);
}


@media (min-width: 768px) {
.grid-container {
  height:100%;
  display:grid;
  gap:1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  /* "header header" */
  "box-1 box-2"
  "box-3 box-4"
  "box-5 box-6"
  "box-7 box-7"
  "box-8 box-9"
  "box-10 box-10"
}

}

@media (min-width: 992px) {
  .grid-container {
    /* height:100%;
    width:100%; */
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    /* "header header header header header header" */
    "box-1 box-2 box-2 box-3 box-4 box-4"
    "box-5 box-5 box-5 box-7 box-7 box-9"
    "box-6 box-6 box-6 box-8 box-8 box-10"
    }
}
img{
  max-height:200px;
}