
body, html {
  height: 100vw;
  width: 100vw;
}
.tablet, .mobile {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  padding-bottom: 20px;
}

.container {

  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 2%;
}

.box {
  border: 3px solid black;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.a {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.image-box-a {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  border: 3px solid black;

  margin: 5% 5% 5% 5%;

}
.text-box-a {
  padding: 5% 0 5% 0;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}
.image-red-box-a {
  padding: 5%;
  border:  solid black;
  background-color: red;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  margin-right: 10%;
}

.image-red-circle-a {
  padding: 5px;
  width:10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-right: 10px;
}

.b {
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}
.image-box-b {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  border: 3px solid black;

  margin: 5% 5% 5% 5%;
}

.text-box-b {
  padding: 5% 0 5% 0;
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}
.image-red-box-b {
  padding: 5%;
  border: 3px solid black;
  background-color: red;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  margin-right: 10%;
}

.image-red-circle-b {
  padding: 5px;
  width:10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-right: 10px;
}
.c {
  grid-column: 1 / 3;
  grid-row: 4 / 10;
}

.image-box-c {

  grid-column: 1 / 6;
  grid-row: 1 / 4;
  border: 3px solid black;

  margin: 2%;
}

.text-box-c {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  padding: 0 5% 0 5%;
}
.image-red-box-c {
  padding: 5%;
  border: 3px solid black;
  background-color: red;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  margin: 10% 10% 10% 0%;
}

.image-red-circle-c {
  padding: 5px;
  width:10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 10%;
}
.d {
  grid-column: 3 / 4;
  grid-row: 4 / 8;
}

.image-box-d {

  grid-column: 1 / 6;
  grid-row: 1 / 4;
  border: 3px solid black;

  margin: 5%;
}

.text-box-d {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  padding: 0 5% 0 5%;
}
.image-red-box-d {
  padding: 5%;
  border: 3px solid black;
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  margin: 10% 10% 10% 0%;
}

.image-red-circle-d {
  padding: 5px;
  width:10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 10%;
}
.e {
  grid-column: 4 / 5;
  grid-row: 4 / 8;
}
.image-box-e {

  grid-column: 1 / 6;
  grid-row: 1 / 4;
  border: 3px solid black;

  margin: 5%
}

.text-box-e {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  padding: 0 5% 0 5%;
}

.image-red-box-e {
  padding: 5%;
  border: 3px solid black;
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  margin: 10% 10% 10% 0%;
}

.image-red-circle-e {
  padding: 5px;
  width: 10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 10%;
}
.f {
  grid-column: 3 / 5;
  grid-row: 8 / 10;
}

.image-box-f {

  grid-column: 1 / 4;
  grid-row: 1 / 8;
  border: 3px solid black;

  margin: 5%;
}

.text-box-f {
  grid-column: 4 / 6;
  grid-row: 1 / 5;
  padding: 5% 5% 0 5%;
}

.image-red-box-f {
  padding: 2%;
  border: 3px solid black;
  background-color: red;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 40%;
}

.image-red-circle-f {
  padding: 5px;
  width: 10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 0%;
}

.g, .h ,.i ,.j {
    grid-row: 10 / 15;
}
.image-box-g, .image-box-h, .image-box-i, .image-box-j {

  grid-column: 1 / 6;
  grid-row: 1 / 4;
  border: 3px solid black;

  margin: 5%
}

.text-box-g, .text-box-h, .text-box-i, .text-box-j {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  padding: 0 5% 0 5%;
}
.image-red-box-g, .image-red-box-h, .image-red-box-i, .image-red-box-j {
  padding: 5%;
  border: 3px solid black;
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  margin: 10% 10% 10% 0%;
}

.image-red-circle-g, .image-red-circle-h, .image-red-circle-i, .image-red-circle-j {
  padding: 5px;
  width:10px;
  height: 8px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: red;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 20% 10% 10% 10%;
}
@media (max-width: 768px) {
  .a, .b, .g, .h, .i, .j, .mobile, .desktop {
    display: none;
  }
  body, html {
    height: 100%;
    width: 100%;
  }
  .tablet {
    display: flex;
  }
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(25, 1fr);
}
.c {
  grid-column: 1 / 7;
  grid-row: 1 / 10;
  margin: 0 5% 0 5%;
}
.d {
  grid-column: 1 / 4;
  grid-row: 10 / 16;
  margin: 0 2% 0 10%;
}
.e {
  grid-column: 4 / 7;
  grid-row: 10 / 16;
  margin: 0 10% 0 2%;
}
.f {
  grid-column: 1 / 7;
  grid-row: 16 / 25;
  margin: 0 5% 5% 5%;
}
}
@media (max-width: 576px) {
  .a, .b, .c, .d, .e, .f, .tablet, .desktop {
    display: none;
  }
  body, html {
    height: 100%;
    width: 100%;
  }
  .mobile {
    display: flex;
  }
   .container, .g, .h, .i {
    display: grid;
  }
  .g {
    grid-column: 1 / 7;
    grid-row: 1 / 12;
    margin: 0 10% 0 10%;
  }
  .h {
    grid-column: 1 / 7;
    grid-row: 12 / 24;
    margin: 0 10% 0 10%;
  }
  .i {
    grid-column: 1 / 7;
    grid-row: 24 / 40;
    margin: 0 10% 0 10%;
  }
}
}
