body {
    margin:0;
    padding: 0;
    background-color: white;
}
.header {
    grid-area: header;
}
.box-1 {
    grid-area: box-1;
}
.box-2 {
    grid-area: box-2;
}
.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
}

.box-5 {
    grid-area: box-5;
}

.box-6 {
    grid-area: box-6;
}

.box-7 {
    grid-area: box-7;
}

.box-8 {
   grid-area: box-8;
}
.box-9 {
    grid-area: box-9;
}
.box-10 {
    grid-area: box-10;
}

.grid-container {
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas:
    "header",
    "box-1",
    "box-2",
    "box-3",
    "box-4",
    "box-5",
    "box-6",
    "box-7",
    "box-8",
    "box-9",
    "box-10"
}
.box {
    border: 3px solid white;
    height: 300px;
    width: 300px;
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    border-radius: .8em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    transition: all 225ms ease;

}
.box:hover {
    background: linear-gradient(160deg,#bfead4,#c0eae7,#cde9f0,#dde7f0,#cbd1df,#a5a3c2,#8b759e,#794573);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    transform: translateY(-1px);
}

@media (min-width:768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: baseline;
        grid-template-areas: 
        "header header"
        "box-1 box-1"
        "box-2 box-3"
        "box-4 box-5"
        "box-6 box-6"
        "box-7 box-8"
        "box-9 box-9"
        "box-10 box-10"
    }
   
}