

#switch {
  height:100px;
  width:100px;
  background: lightgray;
}

#track {
  position:relative;
  height:90%;
  width:50%;
  background: darkgray;

}

  #switch-inner {
  height:20%;
  width:100%;
  background: blue;
  border: 2px, solid gray;
  box-sizing: border-box;
  position: absolute;
}

.bottom{
  bottom: 0;
}

#light {
  height:100px;
  width:100px;
  border: 1px solid;
  border-radius: 100px;
  margin: 25px 0;
}

.lightOn {
  background: yellow;
}
