
body {
    width: 550px;
    margin: auto;
    background: #EAF2EF;
    font-size: 24px;
    padding: 1em;
}

h1 {
    border-bottom: 1px solid black;
}

.Square {
    height: 80px;
    width: 80px;
    font-size: 45pt;
    text-align: center;
    background-color: white;
}