input {
width: 100px;
height: 100px;
float: left;
border: 1px solid black;
background-color: transparent;
font-size: 100px;
}

.row {
clear: both;
}

#announce-winner {
clear: both;
font-size: 50px;
}
