body {
  background-color: #2C3539;
  align-content: center;
}
.game {
  margin: 0 auto;
  margin-top: 6%;
  width: 350px;
  height: 350px;


}
.row > div {
  width: 100px;
  height: 100px;
  background-color: #2C3539;
  float: left;
  border: 3px solid #FFFFFF;
  font-size: 100px;
  text-align: center;
  color: #FFFFFF;
}

button {
  color: #000000;
  border: 2px solid #000000;
  font-size: 24px;
  border-radius: 100px;
  margin: 6%;
}
.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 30px;
  color: #FFFFFF;

}

#zero {border-top: 0px; border-left: 0px;}
#one {border-top: 0px;}
#two {border-top: 0px; border-right: 0px;}
#three {border-left: 0px;}
#five {border-right: 0px;}
#six {border-left: 0px; border-bottom: 0px;}
#seven {border-bottom: 0px;}
#eight {border-bottom: 0px; border-right: 0px;}
