div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
}

html, body {background-color: #FF69B4 !important;
  font-family: courier !important;
}

.row {
  clear: both;
  display: flex;
justify-content: center;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}

.X {
  background-image: url('img/donut2.jpeg');
    background-size: 100% 100%;
    display: inline-block;
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;

}

.O {
  background-image: url('img/homer.png');
    background-size: 100% 100%;
    display: inline-block;
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;

}

button {
   background-color: white;
   border: 1px solid black;
   color: black;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   border-radius: 50px;
   font-family: courier;
   font-weight: bold !important;
}

#turn  {
   color: black;
   border-radius: 50px;
   font-family: courier !important;
   font-size: 30px !important;
}

#homer {border-radius: 100px; display: flex; align-self: flex-start;}

#mainboard {
  border-image-source: url(img/donut2.jpeg) !important;
  border-image-repeat: round !important;
  border: 50px solid transparent !important;
  border-image-slice: 30 !important;
}
.
