body {
  font-family:sans-serif;
}

div.game {
  margin: 100px;
  color: hotpink;
}

div[data-cell] {
  width: 200px;
  height: 200px;
  background-color: #0BADA5;
  float: left;
  border: 1px solid #033330;
  font-size: 75px;
  text-align: center;
  line-height: 2;
}

.row {
  clear: both;
}

button {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #033330;
  background-color: hotpink;
}
#announce-winner {
  clear: both;
  font-size: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  div[data-cell] {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  div[data-cell] {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

}
