* {
  background-color: darkslategrey;
  font-family:sans-serif;
}

div.game {
  margin: 100px;
  color: hotpink;
}

div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #0BADA5;
  float: left;
  border: 1px solid #033330;
  font-size: 100px;
  text-align: center;
}

.row {
  clear: both;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #033330;
  background-color: hotpink;
}
#announce-winner {
  clear: both;
  font-size: 25px;
  padding-top: 20px;
}
