#videosList {
 max-width: 50px;
overflow: hidden;
}

.video {
  background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
  height: 500px;
  width: 50px;

}

.video {

}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}
