body {
  width: 100%;
  margin: 0 auto;
}


#hero {
  background-image: url("../img/sirmixalot.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: white;
  padding-top: 250px;
  text-shadow: 1px 1px 1px black;
}

footer {
padding-top: 50px;
width: 100%;
height: 150px;
background-color: darkgrey;
color: white;
text-align: center;
}
