body{
  background-color:black;
}

.navbar{
  font-family:"rock salt";
}

.banner{
  font-size:50px;
  height:75px;
  border:solid red 5px;
}

.panel{
  height:500px;
  border:solid black 1px;
  padding:0;
  margin:0;
}

h2{
  text-align:center;
}

#my_profile{
  background:url(../img/med_dead_1.jpg);
  background-size:cover;
}

.p_1_link{
  margin-top:165px;
  height:75px;
  padding:0;

}

#my_profile a{

  color:transparent;
}

#interests{
  background:url(../img/med_dead_2.jpg);
  background-size:cover;
}
.p_2_link{
  margin-top:100px;
  height:130px;
  padding:0;

}

#interests a{
  color:transparent;

}

#education{
  background:url(../img/med_dead_3.jpg);
  background-size:cover;
}

.p_3_link{
  margin-top:130px;
  height:90px;
  padding:0;

}

#education a{
  color:transparent;

}

#jobs{
  background:url(../img/med_dead_4.jpg);
  background-size:cover;
}

.p_4_link{
  margin-top:160px;
  height:170px;
  padding:0;

}

#jobs a{
  color:transparent;

}

#projects{
    background:url(../img/med_dead_5.jpg);
    background-size:cover;
}

.p_5_link{
  margin-top:230px;
  height:75px;
  padding:0;

}

#projects a{
  color:transparent;

}

#offer{
  background:url(../img/med_dead_7.JPG);
  background-size:cover;
}

.p_6_link{
  margin-top:215px;
  height:80px;
  padding:0;

}

#offer a{
  color:transparent;

}

.slide_show{
  height:300px;
}

.foot{
  height:500px;
  padding:5px;
  border:solid red 1px;
  font-family: "rock salt";
}
.foot1{
  color:white;
}
.visitors hr{
  margin:1px auto;
}

@media (max-width:757px) {

  .p_1_link{
    margin-top:225px;
  }

  .p_2_link{
    margin-top:150px;
  }

  .p_3_link{
    margin-top:180px;
  }
  .p_4_link{
    margin-top:230px;
  }
  .p_5_link{
    margin-top:300px;
  }
  .p_6_link{
    margin-top:285px;
  }
}
