body{
    font-family: serif;
    font-size: 20px;
    color: white;
    text-align:center;
    background-image: url("bluemovie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 250px auto;
    text-align: center;
}

ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
