* {
  font-family: sans-serif;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  height: 300px;
  background-image: url("../../smoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  opacity: .8
}

h1 {
  color: white;
  font-size: 50px;
}
.top h3 {
  color: skyblue;
  font-size: 25px;
}

.second {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  flex-wrap: wrap;
}

.second img {
  border-radius: 20px;

}

.secondtext {
  width: 500px;
  margin:10px;
}

.third {
  display: flex;
  justify-content: center;
  margin:20px;
  flex-wrap: wrap;
  background-color: darkgrey;
  border-radius: 20px;
}
.third article {
  margin: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  max-width: 200px;
  padding: 10px;
  text-align: center;
}
article img {
  width: 100%;
  border-radius: 10px;
  margin: auto;
}

.fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
.fourth article {
  max-width: 400px;
  margin: 10px;
}
.date {
  text-align: right;
}

.last {
  margin: 20px;
  background-image: url("../../smoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 30px;
  color: white;
  font-size: 20px;
  opacity: .8;
}
.buttonsbox {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
