/*.form-group :first-child{
  margin-top: 5px;
  margin-bottom: 5px;
}*/
html{
  display:
}
.gradient{

  background:linear-gradient(180deg, #0074D9, #39CCCC);
}

.gradient2{
  background:linear-gradient(90deg, #0074D9, #39CCCC);
}

.infolabel{
  border: 3px solid black;
  display: flex;
  
}
