@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

html {font-family: 'Abril Fatface', Georgia, serif;}


.backgroundimage {background-image: url('../img/lotus2.jpg');
background-repeat: no-repeat;
background-size:cover;
}

.title {color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 125px;
  padding-left: 30px
}

.title {padding-top: 40px;
}

.titlecontainer {
  display: flex;
  align-items: flex-start;
}

.row {color: white;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 20px
}

.facebook {width: 35px; height: 35px;}
.instagram {width: 35px; height: 35px;}
.linkedin {width: 35px; height: 35px;}

.list {display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.subtitle {color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 25px;
  padding-top: 60px;
  padding-left: 90px;
}


.subtitle {
  display:inline-flex;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.navbar-default {color: white}

.titlecontainer2 {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px){
  .titlecontainer2 {
    display: none}
}

@media (max-width: 767px){
 .list {display: none;}
 .title {font-size: 75px;
   padding-left: 15px;
   display: flex
 }

 .linkedin {width: 25px; height: 25px;}
 .facebook {width: 25px; height: 25px;}
 .instagram {width: 25px; height: 25px;}

 .backgroundimage {background-image: url('../img/astro.jpg');
 background-repeat: no-repeat;
 background-size:cover;
}
 .title2 {color: #ff8c00;
   font-size: 75px;
   text-shadow: black 0.1em 0.1em 0.2em;
   padding-top: 150px;
 }
.navbar-right {display: none;
}
.titlecontainer{
  display: none
}
  .titlecontainer2 {display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
 }
