#home{
width:100%;
height:300px;
  text-align:center;
  padding-top:100px;
  color:white;
  background-color:#4CEDD2;
  font-size:50px;
}
#main{
  width:100%;
  height:300px;
  background-color:black;
  color:white;
}
/*#main div{
  float:left;
  width:25%;
  text-align:center;
padding-top:40px;
padding-left:75px;
}*/
.box {
  float: left;
  height: 300px;
  width: 30%;
  text-align:center;
  padding-left:40px;
}
.box-one{
  width:28%;
  height:30px;
  /*border: 2px solid blue;*/
  background-color:blue;
  margin-left:140px;
  margin-top:40px;

}
.box-two{
  width:28%;
  height:30px;
  /*border: 2px solid blue;*/
  background-color:#f46731;
  margin-left:140px;
  margin-top:40px;

}
.box-three{
  width:28%;
  height:30px;
  /*border: 2px solid blue;*/
  background-color:#2bcdc0;
  margin-left:140px;
  margin-top:40px;

}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
@media(max-width:768px){
  #home{
margin:auto;
  width:100%;
  height:none;
    text-align:center;
    /*padding-top:100px;*/
    color:white;
    background-color:#33a8dd;
    font-size:20px;
  }

  #main{
    width:100%;
    margin:0 auto;
    height:none;
    background-color:none;
    color:black;
    float:none;
  }
  .box {
    width:90%;
    float: none;
    height:none;
    text-align:none;
    padding:none;
    background-color:#f7f5f6
  }
  .box-one{
    width:20%;
    height:none;
    /*border: 2px solid blue;*/
    background-color:blue;
    margin-left:none;
    margin-top:40px;
    text-align:center;

  }
  .box-two{
    width:20%;
    height:none;
    /*border: 2px solid blue;*/
    background-color:#f46731;
    margin-left:none;
    margin-top:40px;
    text-align:center;

  }
  .box-three{
    width:20%;
    height:none;
    /*border: 2px solid blue;*/
    background-color:#2bcdc0;
    margin-left:none;
    margin-top:40px;
    text-align:center;

  }

}
