
body {
	background-image: url("img/airline.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	margin:0;
}
	

header{
	background-color:#193A55;
	border-bottom:1px solid white;
}

h4{
	float:right;
	color:white;
	margin-left:5px;
}

main{
margin-left:100px;
width:25%;
height:300px;
margin-top:100px;
}



ul{
	margin: 0 auto;
	width:101%;
	padding:0;
    list-style-type: none;
	overflow:hidden;

	border-radius:3px;
}
article{
	margin: 0 auto;
	background-color:#123956;

	height:250px;
	
	
	padding-top:30px;
	padding-left:10px;
}

li{
	
    float:left;
    color:white;
    text-align:center;
    width:33%;
    background-color:#008E80 ;
    
}


h3{
	float:left;
	margin:0;
	margin-top:7px;
	margin-right:20px;
	color:white;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


li:hover{
	background-color: #0064B9;
}

[type ="text"]{
	float:left;
	border-style:none;
	border-radius:3px;
	border:1px solid white;
	height:30px;
	background-color:#123956;
	color:white;
	margin-bottom:20px;
	margin-right:25px;
	width:200px;
}

[type ="button"]{
	font-size:18px;
	border:none;
	border-radius: 3px;
	color:white;
	background-color:#0064B9;
	margin-top:30px;
	width:98%;
	height:50px;

}
select{
	margin-right: 20px;
	border:1px solid white;
	background-color:#123956;
	height: 40px;
	width: 86px;
	color:white;
	border-radius:3px;
}

option{
	
}


.logo{
	margin-right:0;
	margin-left:50px;

}
.headermenu{
	margin-top:15px;
	float:right;
	width:50%;
	height:auto;
	margin-right: 120px;
}

.icon {
	float: right;
	margin-top: 21px;
	margin-left: 20px;
	margin-right:2px;


}

.wrapper{
	width:1920px;
}




/* #layout > div:nth-child(2){
	background-color: purple;
	width: 50%;
	height: 25%;
	position: absolute;
	bottom:0;
	left: 25%;
} */