
.total {
  display: flex;
  flex-direction: row;
  max-width: 881px;
  justify-content:space-between;
}
.leftbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.layer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height:200px;
  width: 284px;
  padding-left: 33px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.layer2 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height:410px;
  width: 580px;
  padding-left: 33px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  width: 284px;
  background-image: url(../img/featured-image-3.jpg);
  background-size: auto;
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 16px;
}
h4 {
  color: #ACAE31;
  font-size: 13px;
  font-weight: bold;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  height: 200px;
  width: 284px;
  background-image: url(../img/featured-image-4.jpg);
  font-family: 'Raleway', sans-serif;
}
.box3 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 410px;
  width: 580px;
  background-size: contain;
  background-image: url(../img/featured-image-5.jpg);
  font-family: 'Raleway', sans-serif;

}
p {
  font-size: 11px;
  color: white;
  font-family: Times;
  margin-top: 10px;
  line-height: 250%;
  padding-right: 10px;
}
button {
  height:29px;
  width: 111px;
  margin-top: 10px;
  background-color: #3E3B35;
  border: none;
}
.b2 {
  background-color: transparent;
  border: 1px solid white;
}
a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
