body {
  height: 80%;
  width: 100%; /*height in ./reset.css*/
  background-color: black;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 32%;
  padding: 0;
}

div {
  background-repeat: no-repeat;
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tiptop {
  background-image: url(../img/3.jpg);
}

.toebottom {
  background-image: url(../img/4.jpg);
}

main {
  height: 90%;
  width: 67%;
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat; /*Be Cool if I could cut this code down to one line*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


h5 {
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: white;
  margin: 0 auto 0 7%;
}


h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #91B200;
  margin: 7% auto 0 7%;
}

p {
  font-family: 'Trirong', serif;
  color: white;
  font-size: 12px;
  margin: 9% 10px 0 7%;
  line-height: 26px;
}

h3{
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 35%;
  margin: 5% auto 0 7%;
}

a{
  width: 60%;
  height: 100%;
  padding: 7px;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-align: center;
}

.leftbutton{
  background-color: #3c382f;
}

.rightbutton{
  box-sizing: border-box;
  background-color: transparent;
  border: solid 2px white;
  margin-left: 3%;

}
