html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
}

section{
  height: 100%;
  width: 100%;

}

h1{
  font-family: Arial, monospace, sans-serif;
  font-size: 56px;
  color: white;
}

h2{
  font-family: Arial, monospace, sans-serif;
  font-size: 22px;
  color: #708e00;
}

div.pic3 > p {
  color: white;
}


div.pic3 > div > a {
  text-decoration: none;
  color: white;
}

div.toptxtstyle > * {
  padding-left: 40px;
  padding-top: 20px;
}

div.bigboytxt > * {
  padding-left: 40px;
  padding-top: 20px;
}

div.bigboytxt > div > a {
  margin-right: 20px;
  font-size: 14px;
}

div.bigboytxt > div {
  margin-top: 10px;
}

.aleft{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #3e3a3b;
}

.aright{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px white solid;
}

.float{
  float: left;
}

.toptxtstyle{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.bigboytxt{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}




.pic1 {
  height: 300px;
  width: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-3.jpg);
  background-size: cover;
  margin: 12px;
}

.pic2 {
  height: 300px;
  width: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-4.jpg);
  background-size: cover;
  margin: 12px;
}

.pic3 {
  height: 611px;
  width: 800px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-5.jpg);
  background-size: cover;
  margin: 12px;
  float: left;
}
