body{
  width:70%;
  margin: 0 auto;
  color:white;

}
.overall{
  display:flex;


}
.landscape{
flex-wrap: wrap;
  width:66%;
  height:450px;
  background-image: url('../img/featured-image-5.jpg')
}
.sub{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:33%;

}
#plantcare {
height:45%;
  background-image: url('../img/featured-image-4.jpg');
}
#growing {
height:45%;
  background-image: url('../img/featured-image-3.jpg');
}
