html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
}

section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.pic1 {
  height: 100%;
  width: 31%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-3.jpg);
  background-size: cover;
  margin: 12px;
}

.pic2 {
  height: 100%;
  width: 31%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-4.jpg);
  background-size: cover;
  margin: 12px;
}

.pic3 {
  height: 100%;
  width: 64%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/featured-image-5.jpg);
  background-size: cover;
  margin: 12px;
  order: 3;
}
