body {
    width: 60%;
    margin: 0 auto;
    color: white;
      font-family: 'Roboto', sans-serif;

}

div.overall {
    display: flex;
    justify-content: space-between;
    width:100%;
    height:450px;
}

.landscape {
    display: flex;
    justify-content: flex-end;
    width: 65%;
    height: 100%;
    background-image: url('../img/featured-image-5.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6E6E6E;
}

.sub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    height:100%;
}

#plantcare {
  height:48%;
    background-image: url('../img/featured-image-4.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6E6E6E;
}

#growing {
  height:48%;
    background-image: url('../img/featured-image-3.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6E6E6E;
}
h1{
  padding: 100px 0px 0px 25px;
  font-size: 25px;
}
h2{
  padding: 75px 0px 0px 25px;
  font-size: 25px;
}
h3{
  padding:20px 0px 0px 25px;
  color:#62a112;
}
p{
  font-size: 12px;
padding: 25px;
  font-family: 'Roboto Slab', serif;
  line-height: 30px;
}
#button-1 {
  color:white;
  background-color:#333232;
  border: none;
  padding:10px 15px 10px 15px;
  margin-left: 25px;

}
#button-2{
  color:white;
  border: 2px solid white;
  background-color:transparent;
  padding:10px 15px 10px 15px;
  margin-left: 15px;
}
