img {
  height: auto;
  width: 100%;
}
header{
  position: absolute;
  top:  40%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;


}
section {
  width: 100%;
  height: : 700%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 1; 


}

  h6 {
    front-weight; normal;
  }

  p {
    margin-bottom: 40px;
  }


a {
  color: white;
  border: 1px solid #81bc00;
  background-color: #81bc00;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px
}
