h1 {
    font-family: 'roboto', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #8DA022;
}

main {
    display: flex;
    justify-content: flex-start;
}

body {
    width: 80%;
}

.text {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text2 {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#left {
    width: 30%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.grow {
    color: white;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/featured-image-3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.plant {
    color: white;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/featured-image-4.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


#right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.landscape {
    color: white;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/featured-image-5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
  color: white;
}

.about {
  font-family: 'Robot', sans-serif;
  background-color: #403B35;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 4px 10px 4px 10px;
}

.products {
  font-family: 'Robot', sans-serif;
  background-color: none;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 4px 10px 4px 10px;
}
