body {
  font-family: sans-serif;
}

main {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.greentext {
  font-weight: bold;
  font-size: 16px;
  color: #779123;
}

.whitetext {
  line-height: 28px;
  font-size: 12px;
  color: white;
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

a {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  min-width: 136px;

  border: 2px solid white;
  background-color: transparent;
  margin-right: 18px;
  margin-bottom: 18px;
}

a:hover {
  background-color: #3D3938;
  border: 2px solid #3D3938;
}

p {
  padding-bottom: 16px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 33%;
}

.right-panel {
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 66%;
  overflow: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-5.jpg");
  background-size: cover;
}

.panel-top, .panel-bottom {
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 49%;
}

.panel-top {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-3.jpg");
  background-size: cover;
}

.panel-bottom {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-4.jpg");
  background-size: cover;
}
