main {
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
.left h2 {
  margin-top: 35px;
}
.growing {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-3.jpg");
  height: 47%;
}
.plant {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-4.jpg");
  height: 47%;
}
.right {
  width: 65%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/featured-image-5.jpg");
  background-size: cover;
}
.right h2 {
  margin-top: 75px;
}
h2 {
  color: #ffffff;
  font-size: 24px;
  font-family: sans-serif;
  padding: 20px;
}
h4 {
  color: #91B201;
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 20px;
}
p {
  color: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
  line-height: 200%;
}
.more {
  padding: 5px;
  background-color: #233505;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  border: 0px;
  margin-left: 20px;
}
.products {
  padding: 5px;
  background-color:  transparent;
  border: 1px solid white;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
}
