body {
  margin: 0;
  font-family: 'Short Stack';
}

div {
  width: 100%;
  height: 700px;
}

img {
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

#filter {
  position: absolute;
  top: 0;
  left: 0;
}

section {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

/*///////Header Styling//////*/

h6 {
  font-weight: normal;
  font-size: 15px;
  color: #B4B7A8;
  margin: -20px 0 30px 0;
}

h1 {
  font-size: 50px;
  margin: 20px 0 30px 0;
}

p {
  margin: 10px 0 70px 0;
  color: #B4B7A8;
  font-size: 18px;
}

a {
  color: white;
  border: 1px solid #81BC00;
  background-color: #81BC00;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 12px;
  margin: 20px 0 0 0;
}
