main {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-panel {
  height: 90%;
  width: 33%;
  background-color: green;
}

.right-panel {
  height: 90%;
  width: 66%;
  background-color: orange;
}
