html, body{
  height:100%;
  width:100%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
}

h1{
  align-items:center;
}

.left{
  flex-direction:column;
  width:35%;
  height:100%;
  display:flex;
}

.right{
  width:65%;
  height:100%;
  background-image:url("../img/featured-image-5.jpg");
  background-repeat:no-repeat;
}

.growing{
  background-image:url("../img/featured-image-3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:50%;
  width:100%;
}

.plant{
  background-image:url("../img/featured-image-4.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:50%;
  width:100%;
}
