h1{
  font-family: 'Roboto', sans-serif;
  font-size:40px;
  color:white;
}

h5{
  font-family: 'Roboto', sans-serif;
  color:green;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size:.8em;
  color:white;
  padding-right:50px;
  line-height:40px;
  margin-bottom: 30px;
}

#left{
  float:left;
  width:25%;
}

#right{
  float:left;
  width:50%;
  margin-left:20px;
}

.grow{
  background-image: url("../img/featured-image-3.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height:290px;
  width 100%;
  background-blend-mode: multiply;
  background-color: #6E6E6E;
  margin-bottom:20px;
}

.plant{
  background-image: url("../img/featured-image-4.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height:290px;
  width 100%;
  background-blend-mode: multiply;
  background-color: #6E6E6E;
}

#right{
  background-image: url("../img/featured-image-5.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  width 100%;
  background-blend-mode: multiply;
  background-color: #6E6E6E;
}

body{
  margin-top:100px;
  display:flex;
  justify-content:center;
}

.grow{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  padding-left:50px;
}

.plant{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  padding-left:50px;
}

#right{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  padding-left:50px;
}

#right h5{
  padding-top:20px;
  padding-bottom:20px;
}

li {
  float: left;
  text-decoration: none;
  padding: 5px;
  list-style-type: none
}

.two a{
  border:solid 1px white;
  padding:10px 20px;
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.one a{
  border:solid 1px gray;
  padding:10px 20px;
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  background-color: gray;
}

#left h1{
  margin-bottom: 10px;
}
