.wrapper {
  width: 900px;
  height: 430px;
  color: white;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  width: 33%;
  height: 100%;
  margin: 15px;
}

.top {
  background-image: url("../img/featured-image-3.jpg");
  background-size: cover;
}

.bottom {
  background-image: url("../img/featured-image-4.jpg");
  background-size: cover;
}

.top, .bottom {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 48%;
}

.right {
  background-image: url("../img/featured-image-5.jpg");
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: auto;
  margin: 15px auto;
  width: 66%;
  height: 100%;
}

.green {
  color: #91b400;
  background-color: inherit;
}

.textheight {
  line-height: 150%;
  font-size: 12px;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #403b35;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 12px;
}

.products {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  margin-left: 15px;
}

p {
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  font-family: sans-serif;
  margin: auto;
}
