
body{
  background-image: url(../img/1.jpg);
  text-align: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/**.layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}**/
h1 {
  color: white;
  font-size: 16px;
  margin-bottom:30px;
}
h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 40px;
}
h3 {
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
}
button {
  width: 107;
  height: 28px;
  background-color: #91B201;
  border: none;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 10;
}
