main {
    display: flex;
    justify-content: center;
}

#left {}

#growing {
    background-image: url('../img/featured-image-3.jpg');
    margin-bottom: 10px;
}

#plant-care {
    background-image: url('../img/featured-image-4.jpg');
}

.vertical {
    padding-top: 90px;
}

.vertical-two {
    padding-top: 140px;
}

.small {
    width: 370px;
    height: 260px;
    background-color: gray;
    background-blend-mode: multiply;
}

#right {
    width: 750px;
    height: 530px;
    background-image: url('../img/featured-image-5.jpg');
    background-color: gray;
    background-blend-mode: multiply;
    margin-left: 10px;
}

h1, h4 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-top: 0px;
}

h1 {
    color: white;
}

h4 {
    color: gray;
}

p {
    color: white;
    margin: 0px 40px;
    line-height: 30px;
}

button {
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    color: white;
    //box-shadow: none;
}

#more {
    background-color: #444;
    border: 1.5px solid #444;
}

#products {
    background-color: transparent;
    border: 1.5px solid white;
}

a {
    text-decoration: none;
    color: white;
}
