nav, h1, footer {
  text-align: center;
}

header, main, aside, article, footer, nav {
  border: black solid 1px;
}
nav, section, aside{
  margin: 10px;
}
nav a {
  text-decoration: none;
}

header,article, main{
  margin-bottom: 20px;
}
aside{
  padding: 10px;
  height: 800px;
}

main{
  display: flex;
}
