nav, h1{
  text-align: center;
}

footer{
  text-align: center;
}

@media (min-width:150px;) {
  .row{
  display: flex;
  flex-wrap: wrap;
}}
header, main, aside, article, footer, nav{
  border: black solid 1px;
}


.story{
  flex-basis: 30%;
  justify-content: flex-start;

  flex-wrap: wrap;
}

aside{
  justify-content: flex-end;
  height: 800px;
}
