#my_nav{
  border:solid white 1px;
  color:black;
  margin-bottom:0;
  box-shadow:inset 0 0 0 1000px rgba(225,225,225,.5);
}

/*first section*/

#welcome{
  height:500px;
  padding-top:15%;
  padding-bottom:10%;
  background:url(http://foundry.mediumra.re/img/wine14.jpg);
  background-size:cover;
  box-shadow:inset 0 0 0 1000px rgba(0,0,0,.3);
  color:white;
  margin-top:-50px;
}

#welcome h1{
  font-size:50px;
}

#welcome p{
  margin-top:30px;
  font-size:20px;
}

/*second section*/

#second_section{
  height:500px;
}

.our_company{
  padding:150px 0 150px 0;
}

.cleaning{
  height:100%;
  max-width:80%;

}

.ti_section{
  max-height:550px;
  overflow:hidden;
}

/*third section*/

#third_section{
  padding-top:10%;
  padding-bottom:10%;
  background:url(http://foundry.mediumra.re/img/wine13.jpg);
  background-size:cover;
  color:white;
}

/*bottles section*/

.three_bottles img{
  width:35%;
  height:300px;
}

.three_bottles a{
  padding:8px 12px;
  background-color:#91a05c;
  color:black;
  text-decoration:none;
  display:inline-block;
  margin-bottom:20px;
}

/*my media queries*/

@media screen and (max-width:767px){
  #my_navbar{
    postion:absolute;
    top:0;
    width:100%;
  }
}
