#container {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    background-color: grey;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 150px 300px;
    grid-gap: 2em;
}

.frow {
    grid-row: 1/2;
    grid-column: span 2;
    border: 1px solid black;
}

#bbox {
    grid-row: span 2;
    grid-column: span 2;
    border: 1px solid black;
}

.sbox {
    grid-row: span 1;
    grid-column: span 1;
    border: 1px solid black;
}

#skinny {
    grid-row: 3/4;
    grid-column: 3/5;
    border: 1px solid black;
}

.lbox {
    grid-row: span 1;
    grid-column: span 1;
    border: 1px solid black;
}

