header{
  background-color: #00ffcc;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: #fff;
  font-size: 45px;
  font-weight: 300;
}
span{
  font-weight: 900;
}
main{
  /*background-color: #000;*/
  height: 350px;
  border: 1px solid #000;
  display: flex;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 30px;

}
section:first-child div{
  height: 30px;
  width: 100%;
  background-color: blue;
}
section:nth-child(2) div{
  height: 30px;
  width: 100%;
  background-color: orange;
}
section:last-child div{
  height: 30px;
  width: 100%;
  background-color: #00ffcc;
}
h2{
  font-size: 36px;
}
