header{
  background-color: #00ffcc;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: #fff;
  font-size: 45px;
  font-weight: 300;
}
span{
  font-weight: 900;
}
