.wrapper {
 max-width: 900px;
 margin: 0 auto;
}

header {
  background-color: #2BCDC0;
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3em;
  font-weight: lighter;
}

main {
  background-color: #1B1B1B;
  color: #fff;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 20%;
  margin: 25px;
  text-align: center;

}

.title {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;

}

.box {
  background-color: #fff;
  width: 100%;
  height: 25px;
}

.sans {
  font-family: sans-serif;
}


@media (max-width: 630px) {
  header {
    background-color: #33A8DD;
  }
  header p {
    margin: 20px;
  }
  main {
    background-color: #F7F5F6;
    color: #000;
    height: 100%;
  }
  section {
    width: 40%;
  }
}


@media (max-width: 500px) {
  header {
    background-color: #33A8DD;
  }
  header p {
    margin: 20px;
    text-align: center;
  }
  main {
    background-color: #F7F5F6;
    color: #000;
    height: 100%;
  }
  section {
    width: 50%;
  }
}
