body {
  width: 881px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: black;
}

.container {
  display: inline-block;
  margin: 0 auto;
  height: 100%;
}

.logo {
  color: white; /*change colors in */
  text-decoration: none;
}

.navbar {
  display: inline-block;
}

.navbar > li {
  display: inline-block;
}

.navbar > li > a {
  text-decoration: none;
  color: white;

}
