h1 {
  font-size:60px;
  text-align:center;
}

p {
  text-align: center;
}

#dice {
  height: 200px;
  margin: auto;
  text-align: center;
  font-size:150px;
}

.button {
  margin: auto;
  border: blue 2px solid;
  width: 125px;
  height:40px;
  text-align: center;
  font-size:30px;
  border-radius:15px;
}

.button2 {
  margin: auto;
  border: blue 2px solid;
  width: 350px;
  height:40px;
  text-align: center;
  font-size:30px;
  border-radius:15px;
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
  border: black 2px solid;
}

#report {
  display:block;
  margin: auto;
  margin-top:35px;
  height:150px;
  width: 500px;
  border: 2px solid black;
  padding: 5px;
}