h1 {
    font-size:60px;
    text-align:center;
  }
  
  #dice {
    height: 200px;
    margin: auto;
    text-align: center;
    font-size:150px;
  }
  
  .button {
    margin: auto;
    border: blue 1px solid;
    width: 125px;
    height:40px;
    text-align: center;
    font-size:30px;
    border-radius:15px;
  }
  
  #report {
    display:block;
    margin: auto;
    margin-top:35px;
    height:400px;
    width: 600px;
    border: 1px solid black;
  }