.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
body {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 10px;
}
nav a {
    color: white;
    float: left;
    padding: 10px;
    text-decoration: none;
    background-color: #00543f;
    margin: 0 auto;
    display: inline;
    position: relative;
}
.navlinkmain {
    font-weight: bolder;
}
.herospace {
    background-image: url("http://www.newportmansions.org/images/sections/breakers-aerial-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    border-top: 40px solid white;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    margin: auto;
    padding: 100px;
    margin-top: 5px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    color: #00543f;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    color: #00543f;
    font-weight: bolder;
    text-align: center;
}
h5 {
    font-size: 15px;
    color: #00543f;
}
.bellevue {
    padding-top: 20px;
    float: left;
    margin-left: 10px;
}
.aboutus h3 {
    text-align: center;
}
.aboutus {
    float: right;
    width: 850px;
    height: 500px;
    padding-top: 40px;
}
.left1, .left2, .right3, .right4 {
    float: left;
    width: 300px;
    height: 400px;
    padding: 10px;
}
#explore img {
    width: 300px;
    height: 200px;
}
.mansionstore, .members {
    padding-top: 100px;
    float: left;
    padding-left: 50px;
}
#shop h3 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
}
#shop img {
    width: 300px;
    height: 200px;
    padding-left: 150px;
    float: left;
}
#shop p, h3 {
    text-align: right;
}
#social {
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    width: auto;
    color: #00543f;
    text-align: center;
    margin: auto;
    padding: 100px;
    clear: both;
}
.herospace button {
    background-color: rgb(255, 243, 0);
    color: #000000;
    padding: 10px 34px;
    font-size: 15px;
    border-color: white;
}
.herospace a {
    color: #000000;
}
.herospace a:hover {
    background-color: #00543f;
    color: white;
}
button {
    background-color: #00543f;
    color: white;
    padding: 10px 50px;
    font-size: 15px;
    border-color: rgb(255, 243, 0);
}
button a {
    color: white;
}
button a:visited {
    text-decoration: none;
}
button a:link {
    text-decoration: none;
}
