*  {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

main {
  background-image: url(../img/vintage-pattern-wallpaper-texture-3.jpg);
  width: 100%;
  height: 3100px;
}

.container-1 {
  width: 100%;
  height: 60px;
}

header {
  float: left;
  width: 30%;
  margin-top: 8px;
  margin-left: 5%;
  font-family: 'Amatic SC', cursive;
  color: #4d0066;
  text-shadow: 5px 5px 10px white;
  font-size: 24px;
}

nav {
  float: left;
  width: 32%;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 5px 10px white;
  margin-left: 385px;
  margin-top: 25px;
  font-size: 32px;
}

nav a {
  text-decoration: none;
  color: #4d0066;
  margin-right: 10px;
}

.entrance {
  width: 90%;
  height: 660px;
  margin-left: 5%;
}

.headerimage {
  background-image: url(../img/cupcakes-1.jpg);
  width: 100%;
  height: 660px;
  background-size: 100% 100%;
  text-align: center;
  color: #4d0066;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 5px 10px white;
}

.headerimage h1 {
  padding-top: 100px;
  font-size: 100px;
}

.headerimage h3 {
  font-size: 24px;
  padding-top: 1%;
  color: #4d0066;
  font-family: sans-serif;
}

.headerimage button {
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  margin-top: 30px;
  border-radius: 3px;
  padding: 12px 28px;
  color: #4d0066;
  background-color: #b30086;
}

.container-2 {
  width: 90%;
  height: 300px;
  margin-left: 5%;
  margin-top: 10%;
}

.dessertimage img {
  width: 30%;
  height: 300px;
  margin-left: 10%;
  float: left;
}

.cakedescription {
  float: left;
  width: 630px;
  margin-left: 5%;
}

.cakedescription h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 50px;
  height: 80px;
  color: #4d0066;
}

.cakedescription p {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  color: #4d0066;
}

.container-3 {
  width: 90%;
  height: 565px;
  margin-left: 5%;
  margin-top: 6%;
  background-color: #b30086;
}

.sweets img {
  width: 15%;
  height: 150px;
  margin-left: 90px;
  margin-top: 5%;
}

.sweetsdescription {
  width: 15%;
  height: 300px;
  margin-left: 90px;
  text-align: center;
  float: left;
  font-family: 'Amatic SC', cursive;
  color: #4d0066;
  margin-top: 2%;
}

.sweetsdescription h3 {
  font-size: 42px;
}

.sweetsdescription p {
  font-size: 24px;
}

.container-4 {
  width: 90%;
  height: 400px;
  margin-left: 5%;
  margin-top: 6%;
}

.sugar img {
  width: 40%;
  height: 250px;
  margin-left: 70px;
}

.sugardescription {
width: 40%;
height: 110px;
margin-left: 70px;
text-align: center;
float: left;
font-family: 'Amatic SC', cursive;
color: #4d0066;
margin-top: 2%;
font-size: 26px;
}

.sugardescription p {
  float: right;
}

.container-5 {
  width: 90%;
  height: 660px;
  margin-left: 5%;
  margin-top: 6%;
}

.footerimage {
background-image: url(../img/cookies-2.jpg);
width: 100%;
height: 660px;
background-size: 100% 100%;
}

.footerimage h1 {
  text-align: center;
  color: #4d0066;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  padding-top: 8%;
}

.footerimage button {
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
  margin-top: 50px;
  border-radius: 3px;
  padding: 20px 90px;
  color: #4d0066;
  background-color: #b30086;
}

.button-1 {
  margin-left: 30%;
}

.button-2 {
  margin-left: 40px;
}
