body{
  width:90%;
  margin:auto;
  font-family:helvetica;
  margin-top:15px;
  background-color: lightgrey;
}

header{
  float:left;
  color:pink;
  padding:10px;
}
header img{
  height: 130px;
  border: 0px solid white;
  border-radius:10%;
}
nav{
  float:right;
}
nav a{
  color:pink;
  background-color:black;
  font-size:18px;
  padding:10px;
  font-weight: bold;
  border:2px solid white;
  border-radius:10%;
  text-decoration: none;
  margin-right:-10px;
}
nav a:hover{
  padding:20px;
  color:white;
  font-weight: bold;
  margin-right:0px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  HERO  */

#hero{
  background-image:url("http://i.imgur.com/s9Gao9m.gif");
  height:500px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: lightgrey;
}
.heroTxt{
  text-align: center;
  color:pink;
}
.heroTxt h1{
  font-size:40px;
  text-shadow:3px 3px 3px black;
  padding-top:175px;
}
.heroTxt h2{
  font-size:30px;
  font-style: italic;
  text-shadow:3px 3px 3px black;
  color:pink;
  margin-top:50px;
}
.heroTxt a{
  color:black;
  font-weight:bold;
  border: 2px solid black;
  padding:15px;
  background-color:pink;
  border-radius:100%;
  text-decoration: none;
}
.heroLink{
  margin-top:50px;
}
.heroTxt a:hover{
  background-color:black;
  color:pink;
  font-weight:bold;
  padding:25px;
  border:2px solid white;
}


/*  ABOUT  */

#about{
  width:100%;
  height:400px;
  margin-top:30px;
  margin-bottom:20px;
}

.aboutImg, .aboutTxt{
  float:left;
  width:50%;
}

.aboutImg img{
  width:70%;
}
.aboutTxt{
  margin-top:60px;
  line-height:2;
}
.aboutTxt h3{
  text-align: center;
  font-size:28px;
}
.aboutTxt p{
  font-size:18px;
}

/*  TILES   */

#tiles{
  background-color:pink;
  width:cover;
  border:0px solid white;
  border-radius:25px;
}
.tile{
  float:left;
  width:22%;
  margin:15px;
  margin-bottom:50px;
}
.tile img{
  width:100%;
  border:2px black solid;
  border-radius:10%;
}
.tile p{
  text-align: center;
  font-style: italic;
}
.caption{
  font-weight:bold;
}

/*  YOUTUBE  VIDS  */

#blog{
  margin-left:-60px;
}
.youtube{
  float:left;
  margin:50px;
  padding:10px;
  width:40%;
}
.youtube p{
  text-align: center;
  font-style: italic;
}
.date{
  float:right;
}

/*  LAUNCHPAD   */

#launchpad{
  height:500px;
  background-image:url("../img/oldBacon.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
}
.launchTxt{
  color:white;
  text-align: center;
  font-size:30px;
  padding:50px;
  text-shadow:2px 2px 2px black;
}
.launchLinks{
  margin-top:150px;
  text-shadow:none;
}
.launch{
  text-align: center;
  color:black;
  padding:15px;
  border:2px black solid;
  border-radius:20px;
  background-color:pink;
  text-decoration:none;
  font-weight:bold;
}
.launch:hover{
  border:2px white solid;
  padding:25px;
  background-color:black;
  color:pink;
}
