main {
    width: 1200px;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    margin: 30px auto;
}
nav {
    width: 100%;
    height: 50px;
    color: black;
}
#left-nav {
    width: 600px;
    height: 50px;
    float: left;
}
#left-nav img {
    height: 50px;
}
#right-nav {
    width: 600px;
    height: 25px;
    padding-top: 25px;
    text-align: right;
    float: left;
}
#right-nav a {
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 20px;
    font-family: 'Permanent Marker', cursive;
    color: black;
}
#right-nav input {
  width: 75px;
  margin-left: 20px;
  type: text;
  text-align: center;
  padding: 2px;
  border: 1px black solid;
}
#right-nav a:hover {
    text-decoration: underline;
}
#right-nav img {
  height:10px;
}
header {
    width: 1200px;
    height: 500px;
    text-align: right;
    color: white;
    background-image: url("../img/sk8-hi.jpg");
}
.bg-img-properties {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
    font-size: 4em;
    padding: 130px 30px 0 0;
    text-shadow: 2px 2px black;
}
header h2 {
    font-size: 2em;
    margin: 10px 0;
    padding-right: 30px;
    text-shadow: 2px 2px black;
}
header button {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    border: solid white 2px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
header button:hover {
    color: red;
    border: red solid 2px;
    background-color: rgba(0, 0, 0, .5)
}
#newest {
    width: 1200px;
    height: 350px;
    margin: 30px 0;
}
#newpic {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    float: left;
}
#newpic img {
    height: 100%;
}
#newinfo {
    width: 800px;
    height: 350px;
    text-align: center;
    float: left;
}
#newinfo h2 {
    margin: 70px 0 50px 0;
    font-size: 2em;
}
#newinfo p {
    text-align: left;
    font-size: 1.2em;
}
#styles {
    width: 1200px;
    height: 500px;
}
#styles div {
    width: 240px;
    height: 440px;
    padding: 30px;
    float: left;
    background-color: lightgrey;
    text-align: center;
}
#styles div img {
    width: 100%;
}
#styles div h2 {
    font-weight: bold;
}
#styles p {
    margin-top: 10px;
    font-size: .8em;
}
#nintendo {
    width: 1140px;
    height: 440px;
    padding: 30px;
    margin: 30px 0;
}
#nintendo div {
    width: 555px;
    height: 440px;
    text-align: center;
    float: left;
}
#nintendo div:first-of-type {
    margin-right: 30px;
}
#nintendo img {
  height: 300px;
}
#outro {
width: 1200px;
height: 350px;
background-image: url("../img/customs.gif");
  text-align: right;
}
#outro button {
margin: 265px 209px 0 0;
padding: 20px 76px;
border: none;
background-color: rgba(0,0,0,0);
}
#outro button:hover {
  border: solid red 2px;
  background-color: rgba(0,0,0,.2);
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
