.sabl{
  float: left;
  display: inline-block;
}
nav{
  float: right;
  display: inline-block;
}
.container {
  display: flex;
}

#leftBox {
  width:500px;
  margin-left: auto;
  margin-top: 20px;
}
#leftBox img {
  width:100%;
  display:block;
}

#rightBox {
  width:500px;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(240,240,240);
  text-align: center;
  margin-left: 3px;
}

.read {
  color: #252b3b;
  border: 2px solid #555;
  margin-left: 175px;
  margin-right: 175px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

p {
  color: #555;
  padding-bottom: 20px;
  padding-top: 15px;
}

h3 {
  padding-top: 50px;
  color: #252b3b;
  font-size: 1.9em
}
