.ctnr {
  margin-left: 40px;
  padding: 50px;
}
.notify {
	 float:left;
	 margin-left: 88px;
	 width: 530px;
	 padding: 10px;
	 text-align:center;
	 font-weight: bold;
	 font-size: 20px;
	 display:none;
}

h2 {
  font: 1.8em/1 Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  font-style: italic;
  color: #4ea5cd;
}


.info {
     background-color: #4ea5cd;
     border-color: #3b8eb5;
}

.manager {
	float:left;
	clear:both;
	margin-top: 30px;
}
.tower {
  width: 160px;
  position: absolute;
  bottom: 0px;
}
.error {
	 padding: 10px;
     background-color: orange;
     color: black;
	 text-align:center;
}
.success {
	 padding: 10px;
     background-color: green;
     color: white;
	 text-align:center;
}
.dropzone {
  height: 160px;
  width: 160px;
  float: left;
  position: relative;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}
.dragitem {
  height: 25px;
  position: relative;
  margin: 0 auto;
}
.d1 {
  background: #333;
  width:150px;
}
.d2 {
  background: blue;
  width:120px;
}
.d3 {
  background: magenta;
  width:100px;
}
