#myNavbar {
  font-family: 'Squada One', serif;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding-right: 375px;
}

#about {
  font-size: 72px;
  font-family: 'Squada One', serif;
  color: white;
}

#para1 {
  display: flex;
  justify-content: flex-start;
  margin: 25px 25px 25px 25px;
}

#para2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 25px 25px 25px 25px;
}

.becca {
  padding-right: 65px;
}

#para3 {
  display: flex;
  align-items: flex-start;
  margin: 25px 25px 25px 25px;
}


.parallax-window {
	min-height: 400px;
	background: transparent;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.scripttext {
	margin: 25px 25px 25px 25px;
	padding: 100px 15px 15px 15px;
	width: 50%;
	height: auto;
  font-family: 'Avenir', serif;
  font-size: 18px;
}

footer {
  text-align: center;
  font-family: 'Squada One', serif;
  font-size: 18px;
}
