#myNavbar {
  font-family: 'Squada One', serif;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding-right: 375px;
}

#about {
  font-size: 72px;
  font-family: 'Squada One', serif;
  color: white;
}

#masthead {
  display: flex;
  justify-content: flex-start;
  margin: 25px 25px 25px 25px;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.scripttext {
	margin: 25px 25px 25px 25px;
	padding: 15px 15px 15px 15px;
	width: 50%;
	height: auto;
}

footer {
  text-align: center;
}
