#myNavbar {
  font-family: 'Squada One', serif;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding-right: 375px;
}

#about {
  font-size: 72px;
  font-family: 'Squada One', serif;
  color: white;
}

#para1 {
  display: flex;
  justify-content: flex-start;
  margin: 15px 15px 15px 15px;
}

#para2 {
  display: flex;
  justify-content: flex-end;
  margin: 15px 15px 15px 15px;
}

.becca {
  padding-left: 135px;
  padding-top: 50px;
}

#para3 {
  display: flex;
  align-items: baseline;
  margin: 15px 15px 15px 15px;
  padding-bottom: 100px;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.scripttext {
	margin: 25px 25px 25px 25px;
	width: 50%;
	height: auto;
  font-family: 'Avenir', serif;
  font-size: 18px;
}

.parallax-window-two {
	min-height: 400px;
  width: 50%;
	background: transparent;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.jdrowlett {
  width: 60%;
  height: 150px;
  padding-left: 150px;
}

footer {
  text-align: center;
  font-family: 'Squada One', serif;
  font-size: 18px;
  padding-bottom: 50px;
}
