
.logo-pic
{
  width: 100%;
  height: auto;
  border: solid;
  background-color: black;
align-items: center;
}
/*this is the first photo*/
.photo
{
  width:100%;
  height: auto;
}
.about
{
  border-bottom: solid;
  border-width: thin;
  font-family: 'Palanquin Dark', sans-serif;
}
.about, .text
{
  text-align: center;
}
.text
{
  color:#230007;
}
/*this is review title(h2 it is also centered but that is at the top with another class as well)*/
.yel
{
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  font-family: 'Palanquin Dark', sans-serif;
}
.review1, .review2, .review3, .review4
{
  text-align: center;
}
/*this is where we edited the menu*/
.menu1
{

  width: 100%;
  height: auto;
  border: solid;
}
.Slides
{
  width: 100%;
  height: 500px;
}

.hours,.contact,.number
{
  text-align: center;
  font-family: 'Palanquin Dark', sans-serif;
}
.number{
  border: solid;
}
.hours,.contact
{
  border: solid;
  background-color: #AC3931;
}
.list
{
  text-align: center;
  border: solid;
  list-style-type: none;
}
.map
{
  border: solid;
}
@media (max-width: 767px)
{
.Slides{
  width: 100%;
  height: auto;
}
.map
{
  text-align: center
}





}
