h1{
  font-weight: bold;
  font-size: 36px;
  display: inline-block;;
}
h4{
  justify-content: space-between;
  float: right;
}
section{
  background-color: grey;
  background-position: center;
  height: 400px;
  width: 900px;

}
h2{
  display: flex;
  margin-top: 150px;
  justify-content: space-around;
  justify-content: center;

}
article{
  display: inline-block;
}
img{
  float:left;
}

p1{
  float: left;
  height: 150px;
  width: 600px;
}

div{
background-color: grey;

}
