h1 {
    font-weight: bold;
    font-size: 24px;
    display: inline-flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;


}

section {
    background-color: grey;
    margin: 80px;

    display: block;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 800px;
}

h2 {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    justify-content: center;
}

article {
    display:
}

img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h3 {
    float: left;
    height: 150px;
    width: 600px;
}

div {
    background-color: grey;
    height: 150px;
    width: 400px;
}

a
