/*navbar styles*/
#my_navbar {
   background-color: white;
   border: none;
   color: black;
   margin-bottom: 0;
}

/*First section*/
#first_section {
   padding-top: 13%;
   padding-bottom: 13%;
   background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/wine-bg.jpg);
    background-size: cover;
    color: white;
}

h1 {
   font-size: 50pt;
   padding-bottom: 100px;
}

#first_section p {
   font-size: 12pt;
   font-style: italic;
}

/*Second section*/
.ti_section {
   max-height: 800px;
   overflow: hidden;
}

.text_section {
   padding-top: 12%;
   padding-left: 12%;
}

.text_section p {
   font-size: 12pt;
}

.cleaning img {
   width: 100%;
   height: auto;
   max-height: 75%;
   max-width: 50%;
}

/*Third section*/
#third_section {
   padding-top: 10%;
   padding-bottom: 10%;
   background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/wine13.jpg);
    background-size: cover;
    color: white;
}

/*Fourth section - bottles */
.bottles {
   margin-bottom: 3%;
}

.bottles img {
   width: 30%;
}

.bottles h4 {
   font-family: "Palatino Linotype", "Book Antiqua";
   font-style: italic;
   font-weight: bolder;
   font-size: 18pt;
}

.bottles p {
   font-weight: bold;
   color: #505050;
}

.bottles a {
   background-color: #8BA870;
   padding: 10px 14px;
   color: white;
   text-decoration: none;
   font-size: 13pt;
}
