header{
  text-align: center;
  padding-top: 50px;
  margin-top: 10px;
  width:100%;
  height:500px;
  margin-bottom: 70px;
}
.hero{
  background-image: url(../img/wine-bg.jpg);
  height:500px;
  width:100%;
}
.curtain {
  background-color: rgba(0,0,0,0.65);
  color:white;
  height:500px;
  width:100%
}

.textnext h2{
  padding-top: 100px;
}

p{
  font-size: 12px;
  text-align: center;
}
.text-center{
  width:30%;
  float: left;
  text-align: center;
  margin-top: 300px;
  margin-right: 330px;
  margin-left: 100px;

}
.textnext{
  width:100%;
  text-align: center;
  background-image: url(../img/wine13.jpg);
}

.wine{
  width:22%;
  float: left;
  margin-right: 120px;
}
a{
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.textnext img{
  width:100%;
  height:500px;
}
.image img{
  margin-left: 150px;
  height: 100%;
  width: 15%;
  margin-top: 30px;
}

.wine img{

width:100%;
}
.greenbtn{
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 26px;
  background-color: #91a05c;
  border: 2px solid #91a05c;
  height:40px;

}
.glass img{
  width:50px;
  height: 50px;

  float:left;
}
.box{
  float:right;
}
.awards{
  background-image: url(https://images.unsplash.com/photo-1416432969026-7e41a751ee1e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2c39c18c2cb75e4f77a66d068d080e9f);
  background-size: 800px;
  background-size: cover;
  -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
footer{
  background-color: black;
  color:white;
  font-family: sans-serif;
  font-style: italic;
}
