header{
  border: 2px solid black;
  height: 100px;
  margin: 5px;
  text-align: center;
  background: linear-gradient(70deg, #246655, #7ce517);
  background-image: url("dailyplanet32.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;position: relative;

}
.img{height: 100px;
  width: auto;

}
nav{
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  height: 45px;
  border: 2px solid green;
  text-align: center;
  background: linear-gradient(70deg, #246655, #7ce517);

}

main{
  border: 3px solid black;
  height: 800px;
  width: 100%;
  text-align: center;
}
section{
  margin-top: 40px;
  border: 3px dashed red;
  float: left;
  text-align: center;
  height: 730px;
  width: 70%;
  min-width: 700px;
}
article{
  border: 2px solid yellow;
  height: 580px;
  width auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

aside{
  border: 3px dashed blue;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  width: 28%;
  height: 730px;

}

footer{
  margin-top: 25px;
  height: 150px;
  width: 100%;
  border: 3px solid black;
}
