header {
  display: flex; 

#daily {
    text-align: center;
    margin-left: 20px;
}

li {
    display: inline;
}

nav {
    text-align: center;
}

main {
    border: 1px solid black;
    width: 1300px;
    height: 1210px;
    margin-top: 20px;
}

img {
    width: 60%;
    height: 35%;
}

.TextWrap {
    float: right;
    margin: 10px;
}

p {
    font-size: 20px;
    margin: 10px;
}

#news {
    font-family: sans-serif;
    margin-left: 10px;
}

section {
    width: 880px;
    border: 1px solid black;
    height: 1100px;
    float: left;
    margin-top: 65px;
    margin-left: 10px;
}

article {
    width: 860px;
    border: 1px solid black;
    height: 85%;
    margin: 10px;
    margin-top: 140px;
    float: right;
}

aside {
    width: 380px;
    height: 1100px;
    border: 1px solid black;
    float: right;
    margin-right: 10px;
    margin-top: 65px;
    background-color: #679289;
}

#starbucks {
    width: 100%;
    height: 300px;
}

#whole {
    width: 65%;
    height: 250px;
    text-align: center;
    margin-left: 65px;
}

footer {
    border: 1px solid black;
    width: 1300px;
    height: 130px;
    margin-top: 20px;
    clear: both;
}

#copyright {
    text-align: center;
}
