body {
  background-image: url("img/Paper.jpg");
  background-repeat: repeat;
}
header {
  border: solid black;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
ul a {
  text-decoration: none;
}
li {
}
a:link {
  color: black;
}
li:hover {
  text-decoration: underline;
}
main {
  width: 100%;
  display: flex;
  border: solid black;
}
section {
  width: 75%;
  height: 600px;
}
article {
  width: 75%;
  height: 595px;
  border: solid black;

}
.supes {
  width: 74%;
  height: 550px;
}
.we {
  width: 24%;
  height: 600px;
}
aside {
  background-image: url("img/WE.jpg")
}
