
header, nav, .main, section, aside, article, footer {
  display: flex;
}


header {
  width: 600px;
  height: 150px;
  border: 1px solid #000;
  justify-content: center;
  align-items: flex-end;

}

nav {
  display: flex;
  width: 580px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.main {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
  justify-content:space-around;
}

section {
  height: 550px;
  width: 330px;
  border: 1px solid #000;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

aside{
  height: 550px;
  width: 230px;
  border: 1px solid #000;
  margin-bottom: 10px;
}


article {
  height: 500px;
  width: 310px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

footer {
  width: 600px;
  height: 125px;
  border: 1px solid #000;
  margin-top: 10px;
}

.planet {
  margin: 0 auto;
  width: 600px;
}
