header{
  font-family: Old London;
  font-size: 40px;
  color: blue;

  height: 120px;

  text-align: center;
  background: lightblue;
  background-blend-mode: lighten;
}

nav{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  height: 50px;
  min-width: 300px;

}

.sports{
  height: 50px;
  width: 90px;
  text-align: center;
}

.news{
  height: 50px;
  width: 100px;
  float: left;
  margin-left: 150px;
}

.money{
  height: 50px;
  width: 100px;
  float: right;
  margin-right: 150px;
}

main{

  height: 800px;
  width: 100%;
  text-align: center;
  background-color: blue;

}
section{
  margin-top: 40px;
  /*border: 3px dashed red;*/
  float: left;
  text-align: center;
  height: 730px;
  width: 70%;
  background-color: yellow;
}
article{
  /*border: 2px solid yellow;*/
  height: 630px;
  width: auto;
  content-align: center;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
iframe{
  height:600px;
  width:80%;
  margin-right: 50px;


}
aside{
  /*border: 3px dashed blue;*/
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
  width: 25%;
  height: 730px;
  background-color: red;
  background-image: url("lilg.png");

}

footer{
  margin-top: 10px;
  height: 130px;
  width: auto;
  /*border: 3px solid black;*/
  clear:both;
  text-align: left;
  text-al
  background-color: lightblue;
  background-image: url("http://bestanimations.com/Earth&Space/Earth/earth-spinning-rotating-animation-14.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
h1{margin-top: 90px;}

@media only screen and (max-width: 500px) {
  main{
    height:550px;
      }
  section{
        background-color: lightblue;
        height: 70%;
        width: 90%;
        margin:10px;
        }
    article{
      height:90%;
      width:90%;
      margin: auto;
      }
    iframe{
      height: 100%;
      width:100%;
      }
    aside{
        width: 90%;
        height: 100px; auto;
        margin: 10px;
        background-size: contain;
      }
    }

@media only screen and (max-width: 650px){
.news{
  margin:auto;
}
.money{margin:auto;}

@media only screen and (min-width:400px;){
  .news{
    height: 50px;
    width: 50px;
  }
}
