.section_margin {
  margin-top: 90px;
}

.nav_text {
  color: white;
}


.table_header {
  background-color: #fed136;
}

table {
  border: 1px solid black;
}

.navbar-custom {
  background-color: #222222;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}



.header_about {
  background: url('../img/camping-1031360_1280.jpg') no-repeat center;
}

.header_black {
  background: url('../img/black_background.jpg') no-repeat center;
}

.header_format {
  background-attachment: scroll;
  /*background-position: center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;

}
