body {
  background-image: url(https://github.com/konarie1990/web-workbook/blob/gh-pages/portfolio/img/astronomy-constellation-dark-998641.jpg?raw=true);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#screen {
  background-image: url(https://orig00.deviantart.net/9fb5/f/2015/289/a/1/space_invader_gif_by_ivanrussiansky-d9dccma.gif);
  background-size: 125px 125px;
  background-position: center;
  cursor: crosshair;
  border: 3px rgba(74, 255, 14, 0.536) dashed;
  margin-top: 100px;
  width: 125px;
  height: 125px;
  display: grid;
  transition: all .2s ease-out;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "box box box box box"
    "box box box box box"
    "box box box box box"
    "box box box box box"
    "box box box box box";
}

#screen:active {
  border: 4px rgba(41, 255, 48, 0.694) dashed;
  background-size: 150px 150px;
  transform: scale(200, 80);
  transition: all 2s ease-out;
}

.box {
  width: 25px;
  height: 25px;

}


.box:active {
  border: 100px solid rgba(255, 56, 11, 0.495);
  border-radius: 100px;
  background-color: rgba(255, 0, 0, 0.728);
  transform: scale(2000, 40);
  transition: all .4s ease-out;

}

.box:hover {
  background-color: rgba(255, 0, 0, 0);
  transition: .5s ease-in;

}

#points {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: rgba(0, 255, 0, 0.509);
  height: 50px;
  width: 200px;
  margin-top: 50px;
  border: rgba(10, 255, 10, 0.523) 5px double;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



