.container {
    text-align: center;
    background-color: black;
    color: white;
    padding: 80px;
    font-family: 'Tangerine', cursive;
}

button {
    padding: 0;
    border: none;
    background: none;
}
.hitem {
    font-size: 100px;
    margin: 0;
    letter-spacing: 3px;
    position: top;
}

input[type=text] {
    background: transparent;
    border: none;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    text-align: center;
    font-size: 74px;
    color: white;
}

.buttonarea {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}