body{
display: grid;
grid-template-areas: 1fr,1fr, 1fr, 1fr; 
background-color: antiquewhite;
}



.iceCreamTitle{
grid-column: span 4;
grid-row: span 1;   
color: #D5BDD9;
text-align: center;
font-size: 100px; 
margin-top: 5px;

}




.bigBox{
    display: flex;
    grid-column: span 4; 
    grid-row: span 4; 
    
  }


.picHolder{
  display: flex;
  width: 810px;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 70px;
}

#iceCream {
    background-color: antiquewhite;
    width: 400px;
    height: 530px;
    
}
  


  img {
    transition: all 2s;
    transition-timing-function: linear;
    align-content: center; 

    } 



.everything{
width: 810px;
height: 1000px;


}


  #scoops{
      text-align: center;
      font-size: 70px;
      color: #D5BDD9;

   }

   .mpr{
    text-align: center;
    font-size: 20px;
    color: #D5BDD9;


   }
  
#rps{
  text-align: center;
  font-size: 30px;
  color: #D5BDD9;
  


}

  #currentTotal {
    width:300px;
    height:100px; 
    font-size: 90px;
    margin-top: 100px;
    border: 6px hotpink dotted;
    margin-top: 10px; 
    text-align: center;
    margin-left: 250px;

  }
  

  .button {
    width:250px;
    height:40px;
    border:3px solid  #D5BDD9;
    border-radius:25px;
    text-align: center;
    cursor:pointer;
    margin-top: 5px;
    margin-left: 275px;
    margin-top: 25px;
    color: hotpink;
    font-size: 23px;
    padding-top: 5px;

  }