body {
  background-image: url(https://github.com/konarie1990/web-workbook/blob/gh-pages/portfolio/img/astronomy-constellation-dark-998641.jpg?raw=true);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* display message above space invader - dynamically changes with jquery */
#message-display {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: rgba(255, 229, 202, 0.79);
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 3s ease-in-out;
}

/* space invader */
#screen-1 {
  background-image: linear-gradient(blue, blue), url(https://media1.tenor.com/images/860512d0c5d14f6127305a1286ff9fb8/tenor.gif?itemid=4992695);
  filter: opacity(.5);
  background-blend-mode: saturation;
  background-size: 125px 125px;
  background-position: center;
  cursor: crosshair;
  margin-top: 50px;
  width: 125px;
  height: 125px;
  display: grid;
  transition: all .2s ease-out;
  /* grid for blast effects (might be a little overkill) */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "box box box box box"
    "box box box box box"
    "box box box box box"
    "box box box box box"
    "box box box box box";
}

/* explosition effect for space invader */
#screen-1:active {
  border: 1px red dashed;
  background-size: 150px 150px;
  transform: scale(200, 80);
  transition: all 3s ease-out;
}

.box {
  width: 25px;
  height: 25px;

}

/* explosition effect for space invader */
.box:active {
  border: 100px dashed rgba(255, 56, 11, 0.495);
  border-radius: 100px;
  background-color: rgba(255, 0, 0, 0.728);
  transform: scale(1000, 40);
  transition: all .4s ease-out;

}

.box:hover {
  background-color: rgba(255, 0, 0, 0);
  transition: .5s ease-in;

}

#points {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: rgba(255, 229, 202, 0.79);
  filter: opacity(.4);
  height: 50px;
  width: 200px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* only pops up when player hits certain amount of points - click to advance */
.powerup1 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 2s ease-out;
}

/* level class */
.red {
  border: red 4px dotted;
}

.orange {
  border: orange 4px dotted;
}

.yellow {
  border: yellow 4px dotted;
}

.green {
  border: green 4px dotted;
}

.blue {
  border: blue 4px dotted;
}

.indigo {
  border: indigo 4px dotted;
}

.violet {
  border: violet 4px dotted;
}


/* .powerup2 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: orange 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
}

.powerup3 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: yellow 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
}

.powerup4 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: green 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
}

.powerup5 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: blue 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
}

.powerup6 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: indigo 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
}

.powerup7 {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  color: rgba(255, 229, 202, 0.79);
  border: violet 3px dotted;
  filter: opacity(.4);
  height: 50px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
} */
