





























/*body {
  width: 900px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;

}

.article-info h3 {
  text-align: center;
}



.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2196F3;
  padding: 0px 10px;
}

.nav-main {
  align-self: flex-end;
}

li {
  display: inline-block;
  list-style-type: none;
  font-family: Dosis, serif;
  font-size: 24px;
  border: 3px solid white;
  border-radius: 5%
}

li a {
 text-decoration: none;
 display: block;
 box-sizing: auto;
 padding: 5px 10px;
 color: white;
}

li a:hover {
  background-color: white;
  color: #2196F3;
}

.main-columns {
  display: flex;
  flex-flow: column wrap;
  background-color: #2196F3;

}

.hero {
  text-align: none;
  padding-top: 0px;
  padding-left: 60px;
  background-image: url("../img/students6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  font-size: 20px;
}

.intro-flex {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #3C342F;
}

.intro-img {
  border: 2px solid #3C342F;
  height: 200px;
}

.article-img {
  flex 1
}

.article-info {
  flex: 2;
  padding: 0px 20px;
  font-size: 18px;
}

.four-focus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}

.focus {
  height: auto;
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: none;
  margin: 30px 0px 10px 0px;
  text-align: center;
}

.flex-fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 350px;
  background-color: white;
}

.fourth {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: auto;
  width: 350px;
  box-sizing: border-box;
  overflow: hidden;
  color: #3C342F;
  margin: 30px 5px;
}

.fourth-img {
  width: 100%;
}

.date {
  align-self: flex-end;
  padding: 10px 10px 0px 0px;;
}

.bottom {
  background-image: url(../img/edubanner3.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 900px;
}

footer {
  background-color: #2196F3;
  margin-top: 10px;
  padding: 15px;
}

.focus-img {
  width: 98%;
}

.go-button {
  margin: 0px 20px;
}

  .mybutton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.mybutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.mybutton:active {
	position:relative;
	top:1px;
}*/
