header{
    display: inline-block;
    background-color: #155513;
    border-bottom-color: #8a2be2;
    border-style: double;
    border-width: 20px;
    width: 1800px;  
    margin-left: 30px;
    color: #becde4;
    transition: transform .5s;
}

header:hover{
    transform: scaleY(1.3);

}

header *{
    float: left;
}
/* apple icon */
header img{
    height: 70px;
    width: 70px;
    margin-left: 600px;
    padding-top: 50px;
    transition: transform 1s;

}

header img:hover{
    transform: rotate(360deg);
}


/* farmer on a tractor pic */
.man img{
    width: 300px;
    padding: 20px;
    margin-left: 1400px;
    margin-top: 100px;
    border-radius: 30px;
    border-style: solid;
    border-color: #8a2be2;
    border-width: 10px;
    background-color: #becde4;

}

.man img:hover{
        filter:saturate(2);

}

/* menu section and buttons */
.menu{
    margin: 50px;
    padding: 10px;
}



.button {
    float: right;
    background-color: #155513;
    border: none;
    color: #becde4;
    padding: 15px 60px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
    height: 40px;
    width: 100px;
    transition: transform .5s;

}
.button:hover{
    background-color: #8a2be2;
    filter:saturate(8);
    transform: rotate(20deg);
}


h1{
    font-size: 400%;
    font-family: cursive;
    margin-left: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    
}
.website{
    height: 100%;
    width: 100%;
    background-color: #8a2be2;
    background-image: url("../img/farm.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 20px;
}
/* first text box */
.box1{
    height: 800px;
    width: 900px;
    background-color: #8a2be2;
    margin: 50px;
    padding: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    transition: transfrom .5s;
}
.box1:hover{
    transform: scaleY(1.1);
}


/* small text box */
.SmallBox{
    background-color: #becde4;
    height: 150px;
    width: 150px;
    float: right;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 20px;
    transition: transform .5s;
}

.SmallBox:hover{
    transform: skewY(5deg);
}

/* picture of corn */
.box1 img{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

.box1 img:hover{
    filter:saturate(3);
}

/* styling on second info box */
.box2{
    height: 300px;
    width: 500px;
    margin-left: 1300px;
    background-color: #8a2be2;
    border-radius: 30px;
    transition: transform .5s;

}

.box2:hover{
    transform: skewY(3deg)
}

/* styling on first info box */
li{
    border-style: solid;
    border-width: 10px;
    border-color: #155513;
    border-radius: 30px;
    padding: 5px;
    background-color: #becde4;
    margin: 10px;
    list-style: none;

}
/* bottom of page/footer */
.PageBottom{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 150px;
    border-bottom-color: #8a2be2;
    border-style: double;
    border-width: 20px;
    background-color: #becde4;
    width: 500px;
    color: #155513;
    transition: transform .5s;
}

.PageBottom:hover{
    transform: scaleY(1.3);
}
.PageBottom img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
}


