body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: darkslategray;
    line-height: 36px;
    font-weight: 300;
}

header {
  position: fixed;
  width: 100%;
}

.flex-grid-nav {
    display: flex;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;

}

.col-title {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    /*padding-top: 4px;*/
    padding-left: 25px;
    color: #11d1ac;
}

.col-nav {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    margin: 0 auto;
}

.col-nav a {
    text-decoration: none;
    color: darkslategray;
    font-size: 14px;
    padding-left: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.col-nav a:hover {
  color: #11d1ac;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Abel', Helvetica, Arial, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}

#hero-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../img/people-on-dock.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-between;
}

h1 {
    font-size: 62px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 72px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 30px;
}

.button {
    margin: 0 auto;
    width: 150px;
    background-color: #11d1ac;
    color: white;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.button:hover {
  background-color: #8891bf;
}

.flex-sct-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    background-color: #f2f2f2;
}

.container-sct-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  flex-flow: row wrap;
  padding: 30px;
}

.flex-col-1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    margin-top: -10px;
}

[src="img/wine-icon.png"] {
    height: 200px;
}

.flex-sct-1-text {
    display: flex;
    flex: 2;
    align-self: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.container-col-4 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 1200px;
}

.flex-sct-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 650px;
    /*padding: 100px 80px;*/
}

.flex-col-4 {
    display: flex;
    flex: 1;
    /*justify-content: flex-end;*/
    align-items: center;
    flex-flow: column wrap;
    margin: 20px 30px;
}

.col-4-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#img-1 {
    background-image: url('../img/drinks-table.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-2 {
    background-image: url('../img/blueberry-lime.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-3 {
    background-image: url('../img/beer-cheers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-4 {
    background-image: url('../img/wine.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  flex-flow: row wrap;
  align-items: center;
}

.flex-sct-3 {
  display: flex;
  max-width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: space-around;
  /*padding: 100px 220px;*/
}

.flex-blog-1 {
  display: flex;
  /*flex: 1;*/
  /*width: 640px;*/
  height: auto;
  flex-flow: column wrap;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.col-2-img {
  width: 380px;
  height: 250px;
  border-radius: 2px;
}

#img-5 {
  background-image: url('../img/outside-drinks.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img-6 {
  background-image: url('../img/parade.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-title {
    font-size: 26px;
    color: #11d1ac;
    font-weight: 600;
    padding: 20px 0 5px 0;
    text-align: center;
}

.section-title {
  text-align: center;
  font-size: 38px;
  color: darkslategray;
  font-weight: 600;
}

.small-text {
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}

.date {
  align-self: flex-end;
  font-size: 14px;
  color: #8891bf;
  font-weight: 600;
  text-align: right;
}

.flex-footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-img {
    background-image: url("../img/hands-lights.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 260px;
    margin: 0 auto;
}

.footer-text {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.btn-2 {
    margin: 10px;
    width: 180px;
    background-color: #11d1ac;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.btn-2:hover {
  background-color: #8891bf;
}

.buttons-footer {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    width: 400px;
}

h4 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: white;
}
