body {
  margin: 100px;
  background: #4aa877;
  font-family: sans-serif;
}

h1 {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 500;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 300;
}

.flexbox-1 {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 48%;
  background-color: white;
}

img {
  width:100%;
}

.text {
  padding: 10px;
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 10px;
}

.flexbox-2 {
  display: flex;
  justify-content: space-between;
}

.flexbox-3 {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.card-2 {
  width: 22%;
  background-color: white;
}

.card-3 {
  width: 48%;
  height: 180px;
  background-color: white;
}
