


@media screen and (min-width: 320px) {
  .page::before {
    content: "320px";
    font-family: Arial, sans-serif;
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2rem;
    z-index: 9999;
  }
}

@media screen and (min-width: 480px) {
  .page::before {
    content: "480px";
    color: maroon;
  }

}

@media screen and (min-width: 620px) {
  .page::before {
    content: "620px";
    color: orange;
  }

}

@media screen and (min-width: 810px) {
  .page::before {
    content: "810px";
    color: black;
  }

}

@media screen and (min-width: 1400px) {
  .page::before {
    content: "1400px";
    color: red;
  }

}
