.page{
  display:flex;
  flex-direction:column;
  align-items:center;

  height: auto;
 }

.box1{
  height:300px;
  width:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top: 100px;
}

img{
  width:100%;
  height:auto;
  box-shadow:0 0 1em rgb(5,9,2);
  border-radius: 100%;
}


@media screen and (min-width: 320px) {
  .page::before {
    content: "320px";
    font-family: Arial, sans-serif;
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2rem;
    z-index: 9999;
  }
}

@media screen and (min-width: 480px) {
  .page::before {
    content: "480px";
    color: maroon;
  }

}

@media screen and (min-width: 620px) {
  .page::before {
    content: "620px";
    color: orange;
  }
   section{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
  .box1{
    flex-basis:300px;
  }
}

@media screen and (min-width: 810px) {
  .page::before {
    content: "810px";
    color: black;
  }
  section{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;;
}
.box1{
  flex-basis:250px;

}

}

@media screen and (min-width: 1400px) {
  .page::before {
    content: "1400px";
    color: red;
  }

}
