html{
	height: 100%;
	width: 600px;
}

body{
	height: 100%;
	width: 530px;
	margin-left: 100px;
}


.background{
	background-color: black;
}
.font{
	color: white;
}

.goal{
	text-align: center;
	width: 530px;
}

.topsection{
	width: 100%;
	height: auto;
	text-align: center;
}

.topleft{
	width: 255px;
	height: 150px;
	float: left;
	background-color: #9900ff;
	margin-right: 3px;
}

.topright{
	width: 255px;
	height: 150px;
	float: left;
	background-color: #9900ff;
	margin-left: 3px;
}

.member{
	height: auto;
	width: 530px;
	clear: left;
	text-align: center;
}

.cutter{
	width: 530px;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin-right: 0px;
}

.bottomsections{
	width: auto;
	text-align: center;
	background-color: #9900ff;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
}


.bottom{
	width: 600px;
	height: 150px;
	background-color: grey;
	margin-top: 30px;
}

.bottomleft{
	float:left;
}

.bottomright{
	float:right;
}

button {
	height: 40px;
	width: 300px;
}
