#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("./Images/Field.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
}

h1 {
  font-size: 36px;
  margin: 15px;
}

h2 {
  margin: 15px;
}

h3 {
  margin: 15px;
}

#game {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#baseball {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 150px;
  cursor: pointer;
}

#baseball:hover {
  background-color: red;
}

img {
  transition: all 1.5s;
  transition-timing-function: linear;
}

#currentTotal {
  width: 150px;
  height: 50px;
  border: 3px solid black;
  text-align: center;
  font-size: 48px;
  margin: 5px;
}

.button {
  width: 150px;
  height: 20px;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 1.5s;
  padding: 5px;
  margin: 5px;
}

.button:hover {
  border: 3px solid red;
}

#level {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#rotation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#staff {
  height: 150px;
  width: 100px;
  margin: 5px;
  background: white;
  transition: all 3s;
}