@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: #2B2B38;
  color: #fff;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 75px repeat(8, 150px) 75px;
  grid-template-rows: 100px 200px 250px repeat(2, 200px);
  max-width: 1370px;
}
.studio_h1_filled {
  font-family: 'PT Sans', sans-serif;
  font-size: 250px;
  font-weight: 800;
  color: #2B2B38;
  text-shadow: -1px -1px 0 #48485C,
  1px -1px 0 #48485C, -1px 1px 0 #48485C,
  1px 1px 0 #48485C;
  z-index: -20;
  position: relative;
}
.studio_h1_clear {
  font-family: 'PT Sans', sans-serif;
  font-size: 250px;
  font-weight: 800;
  color: #2B2B38;
  text-shadow: -1px -1px 0 #48485C,
  1px -1px 0 #48485C, -1px 1px 0 #48485C,
  1px 1px 0 #48485C;
  position: relative;
  opacity: .6;
}
.r2_c1 {
  grid-column: 2/3;
}  
.vertical_lines {
  z-index: 30;
}
.line1 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  left: 75px;
}
.line2 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: 225px;
}
.line3 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(225px + 150px);
}
.line4 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(225px + 300px);
}
.line5 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(525px + 150px);
}
.line6 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(525px + 300px);
}
.line7 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(825px + 150px);
}
.line8 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(825px + 300px);
  z-index: -1;
}
.line9 {
  height: 950px;
  border-left: 2px solid #48485C;
  position: absolute;
  top: 0;
  left: calc(1125px + 150px);
}
.r2_c1 p {
  letter-spacing: 5px;
  margin-top: 40px;
  margin-left: 5px;
}
.r2_c3 hr {
  border: 2px solid pink;
  width: 30%;
  position: relative;
  bottom: 15px;
}
.r2_c3 {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: 40px;
  z-index: 10;
  width: 100%;
}
.r3_c3_text {
  grid-column: 3/5;
  grid-row: 2/3;
  margin-top: 100px;
}
.r3_c3_text p {
  letter-spacing: 2px;
  line-height: 25px;
  z-index: 1;
  font-size: 14px;
}
.r1_c2 {
  grid-column: 5/6;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 5px;
}
.r1_c2 .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 20px;
  width: 20px;
  background: pink;
  border-radius: 50%;
  position: relative;
  right: 60px;
}
.active, .dot:hover {
  background: #fff;
}
.cardigan {
  font-size: 80px;
  position: relative;
  top: 100px;
}
.r3_c2 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.r3_c3 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.r3_c3_text a {
  color: #fff;
}
.r3_c4 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.r3_c5 {
  grid-column: 5/6;
  grid-row: 3/4;
}
.r3_c5 h1 {
  position: relative;
  bottom: 100px;
  right: 8px;
  z-index: -20;
}
.r3_c5 p {
  z-index: 200;
}
.r3_c6 {
  grid-column: 6/7;
  grid-row: 3/4;
}
.r3_c7 {
  grid-column: 7/8;
  grid-row: 3/4;
}
.r3_c8 {
  grid-column: 8/9;
  grid-row: 3/4;
}
.r3_c9 {
  grid-column: 9/10;
  grid-row: 3/4;
}
.bottom_image {
  grid-column: 1/5;
  grid-row: 4/6;
  width: 525px;
  height: 400px;
  z-index: -30;
}
.bottom_image_button {
  grid-column: 4/5;
  grid-row: 4/5;
  background: #fff;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom_image_button .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: gray;
  border: 1px solid black;
  text-align: center;
  position: relative;
  left: 1px;
}
.bottom_image_text {
  grid-row: 5/6;
  grid-column: 4/6;
  position: relative;
  top: 60px;
  z-index: 30;
}
.bottom_image_text hr {
  width: 20%;
  margin-bottom: 20px;
  border: 2px solid pink;
}
.bottom_image_text h2 {
  text-transform: uppercase;
}
.top__image {
  grid-column: 8/10;
  grid-row: 2/5;
  width: 100%;
  /* height: 400px; */
  flex-direction: column;
  display: flex;
  z-index: -20;
}
.top__image hr {
  border: 2px solid pink;
  width: 20%;
  margin-top: 50px;
}
.top_image_button {
  grid-column: 9/10;
  grid-row: 2/3;
  background: #fff;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top_image_button .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: gray;
  border: 1px solid black;
  position: relative;
  left: 1px;
}
.top_img_caption {
  margin-top: 40px;
  line-height: 1.8;
  margin-left: 2px;
  z-index: -5;
}
.letter_S {
  grid-column: 3/4;
  grid-row: 4/5;
  z-index: 0;
  position: relative;
  bottom: 90px;
}
.letter_T {
  grid-column: 4/5;
  grid-row: 2/3;
}
.letter_T h1 {
  position: relative;
  bottom: 40px;
}
.letter_U {
  grid-column: 5/6;
  grid-row: 3/4;
  position: relative;
  right: 20px;
}
.letter_D {
  grid-row: 4/6;
  grid-column: 6/7;
}
.letter_D h1 {
  position: relative;
  top: 50px;
  right: 20px;
}
.letter_I {
  grid-row: 1/3;
  grid-column: 7/8;
}
.letter_I h1 {
  margin-left: -21px;
}
.letter_O {
  grid-row: 3/4;
  grid-column: 8/9;
}
.letter_O h1 {
  text-shadow: -1px -1px 0 #fff,
  1px -1px 0 #fff, -1px 1px 0 #fff,
  1px 1px 0 #fff;
  z-index: -5;
  position: relative;
  bottom: 95px;
  opacity: .2;
}
.fall_text {
  grid-row: 2/3;
  grid-column: 6/7;
}
.fall_text p {
  transform: rotate(270deg);
  text-transform: uppercase;
  position: relative;
  right:66px;
}
.email_icon {
  grid-row: 5/6;
  grid-column: 7/8;
  padding-left: 2px;
  position: relative;
  top: 80px;
}
.search_icon {
  grid-row: 1/2;
  grid-column: 8/9;
  padding: 2px;
  margin-top: 40px;
}
.collapsed_navbar {
  grid-row: 1/2;
  grid-column: 9/10;
  position: relative;
  top: 40px;
  left: 134px;
}
.text_box {
  width: 75%;
  height: 40px;
  border: 1px solid #fff;
  grid-column: 9/10;
  grid-row: 5/6;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 60px;
}
.text_box_hr {
  grid-column: 9/10;
  grid-row: 5/6;
  border: 1px solid #fff;
  height: 1px;
  width: 50px;
  position: relative;
  bottom: 40px;
  left: 100px;
}
.share_icons {
  grid-column: 9/10;
  grid-row: 5/6;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 100px;
}