body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.mainColumn {
    height: 100vh;
}

#left {
    display: flex;
    flex-direction: column;
    width: 27.5%;
    text-align: center;
    background-image: url("../img/dogBonesBlue.png");
    background-image: linear-gradient(to bottom, rgba(225,225,225,0.1) 20%,rgba(225,225,225,0.35) 100%), url("../img/dogBonesBlue.png");
}

#gameTitle {
    font-family: Helvetica;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
    padding: 3px 10px 3px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: auto;
}

.counter {
    display: inline-block;
    font-family: Helvetica;
    text-align: center;
    margin-top: 20px;
    padding: 3px 10px 3px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: auto;
}

#prodCounter, #bonesPerClick {
    margin-top: 2px;
}

#left .dogo {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 60%;
}

.dogo {
    transition: transform 300ms, filter 300ms;
}

.dogo:active {
    transform: scale(0.975);
    filter: drop-shadow(0px 0px 40px #000);
}

.dogo:hover {
    cursor: url('../img/dogBoneCursor.png'), pointer;
}

.bonusDogo {
    display: none;
    margin: auto;
    width: 20%;
    filter: drop-shadow(0px 0px 30px #000);
}

.bonusAlert {
    display: inline-block;
    font-family: Helvetica;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: auto;
}

#center {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

header {
    display: flex;
    font-family: Helvetica;
    color: #fff;
    font-size: 3em;
    font-weight: 100;
    height: 150px;
    border: 1px solid #000;
    background-image: url('../img/dogXPBackground.jpg');
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 100%), url("../img/dogXPBackground.jpg");
}

header > span {
    align-self: flex-end;
    text-shadow: 0px 0px 15px #000;
    padding-left: 40px;
}

#powerUpPhotos {
    height: 100vh;
    border: 1px solid #000000;
    overflow: scroll;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("../img/dirt.jpg");
}

.PUImages {
    min-height: 110px;
    font-family: Helvetica;
    text-shadow: 0px 0px 15px #ffffff;
    padding: 12px;
    border: 1px solid #000;
}

.PUImages span {
    font-size: 4em;
}

#right {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    width: 22.5%;
    background-color: #333;
}

#miniPU {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 121.52px;
    color: #474747;
    font-size: 3em;
    font-family: Helvetica;
    border: 1px solid #000;
    background-color: #333;
}

.powerUps {
    height: 75px;
    font-family: Helvetica;
    font-weight: 300;
    padding: 12px;
    background-color: aliceblue;
    border: 1px solid #000;
    transition: transform 300ms;
}

.powerUps > div {
    padding-left: 7px;
    font-size: .85em;
}

.powerUps:active {
    transform: scale(0.98);
}