main {
  display: flex;
}

header {
  text-align: center;
}

#description p {
  text-align: justify;
}

#description {
  margin-left: 2em;
}

#data-stacks {
  display: flex;
  flex-direction: row;
  margin: 0 2em;
}

[data-stack] {
  border: 2px solid goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  width: 101px;
  background-color: aliceblue;
  margin: 25px;
}

[data-block] {
  height: 25px;
}

[data-block="25"] {
  width: 25px;
  background-color: blue;
}

[data-block="50"] {
  width: 50px;
  background-color: green;
}

[data-block="75"] {
  width: 75px;
  background-color: red;
}

[data-block="100"] {
  width: 100px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

#announce-game-won h1{
  background-image: url(https://media.giphy.com/media/l0HlSDiA6WUytl9oA/giphy.gif);
  height: 240px;
}
