header {
  background-image: url("img/wine-bg.jpg");
  background-size: cover;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.winef {
  opacity: .5;
}

.bg-overlay {
  background: rgba(0, 0, 0, .2);
  height: 100%;
}

section#second{
  height: 500px;
}
.est {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: .5;
  font-weight: 400;
  margin: 20px 0px;
}

.combine {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  margin: 20px 0px;
}

.info {
  font-size: 13px;
  line-height: 24px;
  font-family: 'Georgia';
  font-weight: 400;
}

.intro {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.history {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin: 20px 0px;
}

.sed {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Georgia';
  font-weight: 400;
}

.thumb {
  max-width: 200px;
  max-height: auto;
  margin: 20px 0px;
}

.bottle {
  max-width: 210px;
  height: auto;
  max-height: ;
}

article.glass {
  background-image: url("http://foundry.mediumra.re/img/wine15.jpg");
  background-position: center;
  background-size: cover;
  height: 590px;
}

section#tall {
  height: auto;
  max-height: ;
}

div#sweep{
  background-image: url("img/wine16.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

section#pic {
  height: 730px;
  background-image: url("img/wine13.jpg");
  background-position: center;
}

ul {
  font-family: 'Open Sans';
  color: #666;
  list-style: none;
}


section#wine {
  height: auto;
}

section#awards {
  background-image: url("http://foundry.mediumra.re/img/wine12.jpg");
  background-size: cover;
  height: auto;
}

.cards {
  min-width: 240px;
  margin: 20px 0px;
}

.btn {
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  background-color: #91a05c;
  min-width: 150px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 36px;
  padding: 0 26px;
}

.desc {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Georgia';
  font-weight: 400;
}


}
footer {
  height: 440px;
}
