.sec1 {
  background: url("./img/wine-bg.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.sec2 {
  background: url("./img/wine16.jpg") no-repeat center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.sec3 {
  height: 400px;
  width:100%;
}

.sec4 {
  background: url("./img/wine13.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

.card-img-top {
  height: auto;
  width: 45%;
}

.flogo {
  width: 40%;
  height: auto;
  padding-top: 40px;
}

.sigpic {
  width: 25%;
  height: auto;
}

.white {
  color: white;
}

.transp {
  background-color: transparent;
}

.navbar {
  /*border-bottom: solid grey 1px;*/
  font-size: 12px;
}

li {
  padding-left: 25px;
}
