.sec1 {
  background: url("./img/wine-bg.jpg") no-repeat top center;
  background-size: contain;
  width: 150%;
  height: 1800px;
}

.flogo {
  width: 25%;
  /*height: auto;*/
}

.white {
  color: white;
}

.navbar {
  /*background:transparent;*/
  position:fixed;
  z-index: 99;
}

a {
  color: black;
}

.navbar-toggler .icon-bar {
      background-color: black;
}

.navbar-toggler .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
}

.dropdown {
  background-color: white;
}
