.first{
  background: url("img/wine13.jpg");
  height: 500px;
}

.wine{
  height:300px;
  width: 200px;

}
.awards{
  background:url(http://foundry.mediumra.re/img/wine12.jpg);
  height: 400px;
}
.circle{
  background-color: none;
  height: 200px;
  width: 200px;
  align-self: center;
}
