body {
  /*font-family: georgia;*/
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
}

.itally {
  font-style: italic;
}

.navbar {
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  font-size: 11px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navborderleft {
  border-left: solid rgba(255, 255, 255, 0.2) 1px;
}

a {
  color: white;
}

.logo {
  width: 130px;
  height: auto;
  display: inline-block;
}

.flogo {
  width: 60%;
  height: auto;
  padding-top: 40px;
  opacity: 1;
}

.filter {
  height: 100%;
  width: 100%;
  background: #292929;
  background-size: cover;
  opacity: 0.5;
}

.flogo {
  width: 60%;
  height: auto;
  padding-top: 40px;
  opacity: 1;
}

.sec1 {
  background: url("./img/wine-bg.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 685px;
}

.sec2 {
  background: url("./img/wine16.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.sec3 {
  height: 500px;
  width:100%;
}

.sec4 {
  background: url("./img/wine13.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.sec5 {
  height: auto;
}

.sec6 {
  background: url("./img/wine12.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-top: 60px;
}

.sec601 {
  padding: 80px;
  max-height: 700px;
  overflow: hidden;
}

.sec7 {
  background: url("./img/wine15.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.sec8 {
  height: 600px;
  width: 100%;
}

.sec9 {
  height: 500px;
  width: 100%;
  background: #292929;;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0;
}

.overflows {
  overflow: hidden;
}

.card-img-top {
  height: auto;
  width: 200px;
  align-self: center;
}

.sigpic {
  width: 25%;
  height: auto;
  align-self: center;
}

.awardpic {
  width: 85%;
  height: auto;
  align-self: center;
  margin-bottom: 20px;
}

.white {
  color: white;
}

.transp {
  background-color: transparent;
}

input {
  background: #292929;
  height: 40px;
  width: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.emailbutton {
  height: 40px;
  width: 100%;
  background: #91a05c;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

li {
  padding-left: 30px;
}

.fade-half {
  opacity: 0.5;
}

.uppercase {
  text-transform: uppercase;
}
