.transparent {
  background: rgba(0,0,0,1);
  background-color: transparent;
  border-color: transparent;
  background-image:none;
}
.navbar-brand {
  margin-left: 10px;
  color:white;
}
.nav {
  border-bottom: .1px solid white;
}
.nav-item {
  color:white;
}
.firstsection {
  background-image: url("img/wine-bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  height: 690px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  filter:brightness(.7);
}
#brand {
  height:65%;
  width:40%;
  display:block;
}
#hero {
  height: 80%;
  width: 90%;
}
.openp {
  color: white;
  text-align: center;
  font-family: Georgia;
  font-size: 25px;
}
.openpp {
  color: white;
  text-align: center;
  font-family: Georgia;
  font-size: 35px;
}
.secondsection {
  height: 506px;
  border:1px solid white;
  width: 100%;
}
.width100 {
  width:100%;
}
.thirdsection {
  height: 75vh;
  background-image: url("img/wine13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  filter: brightness(.75);
}
.whitetext {
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 506px;
}
.whiteguy {
  background-image: url("img/wine16.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height:506px;
}
.thirdsection {
  justify-content: center;
  display: flex;
  align-items: center;
}
.centertext {
  width: 700px
}
.open {
  font-size: 15px;
  color:white;
  text-align: center;
}
