
/*.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: transparent;
}

#navbarTogglerDemo01 {
  background-color: #e2d1e4;
}

.navbar .btn-outline-success {
  color: black;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.jumbotron {
  background-image: url("img/wine-bg.jpg");
  background-size: cover;
}
*/


.without {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.combining {
  font-size: 12px;
}

.fimage {
  display: flex;
  align-items: center;
}

header {
  background-image: url("img/wine-bg.jpg");
  background-size: cover;
  height: 759.2px;
}

.navbar {
  background-color: transparent;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.dropdown {
  margin: 10px;
}


.navvy {
  margin-left: 300px;
}

.wine {
  font-family: 'Georgia';
  font-style: italic;
}
