header {
  background-image:url('img/wine-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
#logo {
  max-width: 50%;
}

h5 {
  font-family: Georgia;
  font-style: italic;
  font-weight: 300;
}
