/*span {
  text-align: center;
}*/
/*
@media (max-width: 768px) {
  .column {
    color: blue;
  }
}*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  border-bottom: 1px white solid;
  background-color: rgba(0, 0, 0, 0.3);
  color: inherit;
}

.space {
  margin: 35px 15px 0;
}

.hightop {
  margin-top: 70px;
  margin-bottom: 17px;
}

.over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0.75;
}

p.durka {
  font-size: 16px;
  font-weight:400;
  line-height: 28px;
  font-family: 'georgia', sans-serif;
  color: rgba(0,0,0,0.5);
  background-color: inherit;
}

/*@media (max-width: 767px) {
  .hero {
    height:auto;
  }
}*/



.heightadj {
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.blacken {
  background-color: rgba(0,0,0,0.3);
  color: inherit;
  height: 100%;
}

.pw {
  display: flex;
  flex-direction: row-reverse;
}

.mt {
  margin-top: 25px;
}

.medsize {
height: 512px;
}

.fade-half {
  opacity: 0.5;
}

#twocolumns {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*.overlay {
  width: 100%;
  height: 100%;
  background-color: #292929;
  opacity: 0.3;
}*/

#fade {
  opacity: 1;
}

#vineyard {
  background-image: url("img/wine-bg.jpg");
  margin-top: -57px;

}

#basket {
  background-image: url("img/wine13.jpg");

}

#sign {
  height: 80px;
  width: 177px;
}

#est {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 512px;
  /*margin-top: -20px;*/
}

#powerwash {
  width: 100%;
  height: 512px;
}

#slick {
  font-family: 'georgia', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

h5 {
  font-family: 'georgia', sans-serif;
  margin-top: 1px;
  line-height: 1.4;
  font-size: 21px;
  font-weight: 300;
}

h6 {
  font-weight: 100;
  font-size: 13px;
}

h4 {
  font-family: 'georgia', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 24px;
}
