body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

nav {
  border-bottom: 1px white solid;
  background-color: rgba(0, 0, 0, 0.3);
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

footer {
  padding: 96px 0;
  position: relative;
  background-color: #292929;
  color: white;
}

.space {
  margin: 35px 15px 0;
}

.hightop {
  margin-top: 70px;
  margin-bottom: 17px;
}

.over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0.75;
}

p.durka {
  font-size: 16px;
  font-weight:400;
  line-height: 28px;
  font-family: 'georgia', sans-serif;
  color: rgba(0,0,0,0.5);
  background-color: inherit;
}

.heightadj {
  height: 100vh;
}

@media (max-width: 767px) {
  .heightadj {
    height:auto;
}}

.heightadj2 {
  height: 100vh;
}

@media (max-width: 767px) {
  .heightadj2 {
    height: 396px;
}}


.hero {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.blacken {
  background-color: rgba(0,0,0,0.3);
  color: inherit;
  height: 100%;
}

.pw {
  display: flex;
  flex-direction: row-reverse;
}

.mt {
  margin-top: 25px;
}

.medsize {
height: 512px;
}

.fade-half {
  opacity: 0.5;
}

.jcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jcc2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.m20 {
  margin: auto;
}

@media (max-width: 991px) {
  .m20 {
    margin: 10% 20%;
}}

.mt150 {
  margin-top: 150px;
}

.mb48 {
  margin-bottom: 48px;
}
.mb24 {
  margin-bottom: 24px;
}

@media (max-width: 767px){
  .mb-24 {
    margin-bottom: 24px;
}}

.winebottom {
  margin-bottom: 24px;
  font-family: 'georgia', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.btn {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #91a05c;
  padding: 0 26px;
  height: 40px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-align:center;
  letter-spacing: 1px;
  border-radius: 0;
  background: #91a05c;
  color: #fff;
}

.imsq {
  height: 50vh;
  max-height: 640px;
}

#mlneg30 {
  margin-left: -30px;
}

@media (max-width: 767px){
  #mlneg30 {
    margin-left: -276px;
}}

#pb80 {
  padding-bottom: 80px;
}

#pb30 {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

#wineinfo {
  height:100%;
  width:100%;
}

#twocolumns {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fade {
  opacity: 1;
}

#finale {
  font-size: 13px;
}

#vineyard {
  background-image: url("img/wine-bg.jpg");
  margin-top: -57px;
  background-position: center;

}

#basket {
  background-image: url("img/wine13.jpg");
  height:inherit;
  background-position: center;
  background-size: cover;
}

#glass {
  background-image: url("img/wine12.jpg");
  height: inherit;
  background-position: center;
  background-size: cover;
}

#sign {
  height: 80px;
  width: 177px;
}

#est {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 512px;
}

#powerwash {
  width: 100%;
  height: 512px;
}

#slick {
  font-family: 'georgia', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

#wine {
  height: 100%;

}

h5 {
  font-family: 'georgia', sans-serif;
  margin-top: 1px;
  line-height: 1.4;
  font-size: 21px;
  font-weight: 300;
}

h6 {
  font-weight: 100;
  font-size: 13px;
}

h4 {
  font-family: 'georgia', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 24px;
}

h3 {
  font-family: 'georgia', serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
h3 {
    font-size: 24px;
    line-height: 32px;
}}

input {
  height:50px;
  background: none;
  padding-left: 20px;
  width: 46%;
  font-size: 11px;
  padding-top: 7px;
}

@media (max-width: 767px) {
  input {
    width: 100%;
}}

button {
  height: 50px;
  line-height: 48px;
  border: 2px solid #91a05c;
  background: #91a05c;
  color: #fff;
  width: 46%;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0 !important;
  margin-left: 2.5%;
}

@media (max-width: 767px) {
  button {
    width:100%;
    margin-left: 0;
}}

.grayicon {
  color: #666;
}

.grayicon:hover {
  color: white;
}
