@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Roboto+Slab:300,400');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Source+Sans+Pro:300,400,400i,600,700');
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0px;
  /* grid-auto-flow: dense; */
  
}

.grid-container  div {
color: white;
font-size: 20px;
/* padding: 20px; */
}

.item-1 {
  /* background: #b03532; */
  /* grid-row-start: 1;
  grid-column-end: span 2;
  grid-column-start: 1; */
  /* z-index: 1; */
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 20px;
}
.item-2 {
  /* background: #33a8a5; */
  /* grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 2; */
}
.item-3 {
  /* background: #ff9069; */
}
.item-4 {
  /* background: #6a478f; */
}
.item-5 {
  /* background: #3d8bb1; */
}
.item-5 h4 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 10px;
  font: 200;
  padding-top: 20px;
}
.item-6 {
  /* background: #4464a1; */
}
.item-7 {
  /* background: #e03f3f; */ */
  /* grid-column: span 2;
  grid-row: span 2;
}
.item-8 {
  background: #59a627;
}
.item-9 {
  /* background: #b03532; */
  /* grid-column: span 2;
  grid-row: span 2; */
}
.item-10 {
  /* background: s#4464a1; */
}
.item-11 {
  /* background: #33a8a5; */
}
.item-12 {
  /* background: #ff9069; */
  
}
.item-13 {
  /* background: #3d8bb1; */
  /* border: 1px solid red; */
  grid-column: span 2;
  grid-row: span 1;
}
.line {
  /* color: red; */
  /* border: 1px solid red; */
  width: 20px;
  height: 3px;
  background-color: white;
  margin-top: 20px;
}
.item-13 h2 {
  color:white;
  /* border: 1px solid red; */
  margin-top: 10px;
  font-size: 20px;
}
.item-13 p {
  font-size: 10px;
  /* border: 1px solid red; */
  margin-top: -5px;
  line-height: 20px;
  margin-bottom: 50px;
}
.item-14 {
  /* background: #da6f2b; */
}
.item-15 {
  /* background: #59a627; */
}
.item-16 {
  /* background: #30997a; */
}
.item-17 {
  /* background: #6a478f; */
  grid-column: span 2;
  grid-row: span 2;
}
 h1 {
  font-size: 70px;
  margin-top: 185px;
  /* border: 1px solid red; */
  /* width: 60px; */
}
h3 {
  font-size: 70px;
  /* border: 1px solid red; */
  width: 60px;
  float: right;
  margin-top: -135px;
  margin-right: 87px
}
section img {
/* border: 1px solid red; */
height: 43.5%;
margin-top: 114px;
position: absolute;
left: 0px;
top: 0px;
z-index: -1;
display: flex;
flex-direction: column;
margin-left: 989px;
}
.item-18 {
  /* background: #da6f2b; */
  /* grid-column: span 2;
  grid-row: span 2; */
  
}
.item-19 {
  /* background: #3cda2b; */
}
.item-20 {
  /* background: #be7243; */
}
.item-20 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-21 {
  /* background: #be4349; */
}
.item-21 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-22{
  /* background: #4543be; */
}
.item-22 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-23 {
  /* background: #be4368; */
}
.item-23 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-24 {
  /* background: #439bbe; */
}
.item-24 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-25 {
  /* background: #4b43be; */
}
.item-25 h1 {
  font-size: 70px;
  margin-top: 5px;
}
.item-26 {
  /* background: #ff9069; */
}
.item-27 {
  /* background: #6a478f; */
}
.item-28 {
  /* background: #3d8bb1; */
}
.item-29 {
  /* background: #4464a1; */
}
.item-30 {
  /* background: #e03f3f; */
  /* grid-column: span 2;
  grid-row: span 2; */
}
.item-31 {
  /* background: #59a627; */
  /* grid-column: span 3;
  grid-row: span 2; */
}
.item-32 {
  /* background: #b03532; */
  /* grid-column: span 2;
  grid-row: span 2; */
}
.item-33 {
  /* background: #4464a1; */
}
.item-34 {
  /* background: #33a8a5; */
  grid-column: span 2;
  grid-row: span 1;
}
.item-34 p {
  font-size: 10px;
  /* border: 1px solid red; */
  line-height: 20px;
  padding: 10px 10px;
}
button {
  float: right;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
.item-35 {
  /* background: #ff9069; */
}
.item-36 {
  /* background: #3d8bb1; */
  grid-column: span 3;
  grid-row: span 3;
}
.item-36 img{
  position: relative;
}
.item-36 h2{
  font-size: 15px;
  float: right;
  margin-right: 20px;
  margin-top: 100px;
}
.item-37 {
  /* background: #da6f2b; */
}
.item-38 {
  /* background: #59a627; */
}
.item-39 {
  /* background: #dadfdd; */
}
.item-40 {
  /* background: #6a478f; */
}
.item-41 {
  /* background: #da6f2b; */
}
.item-41 h5{
  font-size: 10px;
  float: left;
  margin-top: 105;
}
.item-42 {
  /* background: #3cda2b; */
}
.item-43 {
  /* background: #be7243; */
}
.item-44 {
  /* background: #be4349; */
}
.item-45{
  /* background: #4543be; */
}
.item-46 {
  /* background: #be4368; */
}
.item-47 {
  /* background: #439bbe; */
}
.item-48 {
  /* background: #be43a3; */
}

.item-49 {
  /* background: #06032c; */
}

.item-50 {
  /* background: #3b052c; */
}
.shape {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-top: 28px;
}
.shape1 {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background-color: white;
  margin-top: -32px;
  float: right;
}
.shape2 {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-top: 100px;
}
.shape3 {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-top: 100px;
  float: right;
}