
ul {
  display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content:flex-end;
}

/*li {
    float: left;
}*/

#nav {
    display: block;
    color: white;
    background-color: #333;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana;

}
li a{
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  color:white;
  display:block;

}
 .logo {
float:left;
  font-size:26px;
  padding:5px;
}

.hero {
 display:flex;
 justify-content:center;
 width:1200px;
 height:500px;
 border:2px solid black;
 margin:10px;
 }

.hero2{
  display:flex;
  margin-top:10px;
  justify-content: center;


}
#guitar1{
  border:2px solid black;
  justify-content: center;

}
.flex-grid {
  display: flex;
  justify-content:center;
}
/*.flex-grid .col {
  flex: 1;

}*/
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 50%;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing:content-box;
}
body {
  padding: 20px;
}
.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  background: white;
  padding: 20px;
}
.col h3{
  font-size:30px;
  text-align:center;
  font-family:fantasy;
  text-decoration: none;
  color:black;
}
.col p{
  font-size:18px;
  text-align:center;
}

a {
  text-decoration: none;
}


#searchproduct{
  border:2px solid black;
  height:300px;
  width:300px;

}
#contactus{
  border:2px solid black;
  height:300px;
  width:260px;

}
#aboutus{
  border:2px solid black;
  height:300px;
  width:260px;

}

#careerus{
  border:2px solid black;
  height:300px;
  width:260px;
}

#join{
  margin:auto;
}









#win{

}
