/*--------------------------*/
/*-Basic Setup*/
/*--------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    background-color: #fff;
    color:#ffffff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/resources/subway.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*--------------------------*/
/* Header */
/*--------------------------*/

.logo {
    height: 100px;
    width:auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: left;
    list-style: none;
    margin-top: 55px;
    margin-right: 55px;
}

.main-nav li {
    display: inline-block;
    margin: 2px 20px 5px 140px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 1s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #2f6df8;
}
/*--------------------------*/
/* Basic Semantic Elements*/
/*--------------------------*/
.title {
    position: absolute;
    margin: -10% 0% 0% 17%;
    padding: -40px;
}

.title img {
    margin: -0% 5% 5% 5%;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}


.footer {
    position: ;
    margin: 0% 0% 0% 37%;
    float: left;
    font-size: 12px;
}

.aside {
    float: left;
}

.main {
    margin: 15% 5% 5% 9%;
    padding: 10px;
}

            /*------------------------*/
            /* HOVER EFFECTS & Images */
            /*------------------------*/

/*--------------------*/
/* SHIRT IMG & Overlay*/
/*--------------------*/


.container {
  margin: 4% 5% 0% 5%;
  position: absolute;
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
    flex-shrink: 10%;
}

.image {
  display: block;
  width: 40%;
  height: auto;
}

.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100.3%;
  width: 40%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2f6df8;
}

.container:hover .overlay {
  opacity: 1;
  margin:;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*--------------------*/
/* SHOES IMG & Overlay*/
/*--------------------*/


.container2 {
  margin:4% 0% 0% 32%;
  position: absolute;
  width: 42%;
  height: 40%;
  box-sizing: border-box;
}

.image2 {
  display: block;
  width: 50%;
  height:101.4%;
  padding-left:;
}

.overlay2 {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 102%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2f6df8;
}

.container2:hover .overlay2 {
  opacity: 1;
  margin:;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*--------------------*/
/* Suit IMG & Overlay*/
/*--------------------*/

.container3 {
  margin: 4.5% 5% 5% 70%;
  position: relative;
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
 float: left;
}

.image3 {
  display: block;
  width: 52%;
  height: auto;
}

.overlay3 {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 52%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2f6df8;
}

.container3:hover .overlay3 {
  opacity: 1;
  margin:;
}

.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
