body {
  width:90%;
  margin: 0 auto;
}
#content {
  overflow: auto;
}

#nav, #feature, #footer {
  margin: 1%;
}

.articlecolumn1, .articlecolumn2, .articlecolumn3 {
  background-color: #efefef;
  width: 31.3%;
  float: left;
  margin: 1%;
}

.articlecolumn3 {
  margin-right: 0%;
}


li {
  display: inline;
  padding: 0.5em;
}

#nav, #footer {
  background-color: #efefef;
  padding: 0.5em 0;
}

#feature, .articlecolumn1, .articlecolumn2, .articlecolumn3 {
  height: 10em;
  margin-bottom: 1em;
  background-color: #efefef;
}
