/*Background Image*/

body {
  background-color: #101f80;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  background-attachment: fixed;
}

/*Images for Listings  Section*/

/*Top Navbar*/

.navbar-3 {

  overflow: hidden;
  width: 100%;
  position: fixed;
  font-family: Arial;
  z-index: 3;
  background-color: rgba(255, 255, 255, .4);
}

.navbar-3 a {
  float: left;
  font-size: 1.5em;
  color: #fffaaa;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}
.em {
  float: right;
  margin-right: 30px;
}

.navbar-3 a:hover {
  transition: all .3s ease-in-out;
  color: maroon;

   transform: rotate(360deg) scale(1.2) translateX(0);
}

header {
  display: flex;
  justify-content: center;
  text-align: center;

}
.cityscape {
  margin-top: 100px;
  justify-content: center;

}



.image h1 {
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 28%;

  font-family: 'Great Vibes', cursive;
  font-size: 7.1em;
  color: #fffabc;
  padding: 0;
  margin: 0;
  margin-top: -60px;
  text-align: center;
  text-shadow: 8px 8px 4px#000000;
}

h1:hover {
  color: powderblue;
  text-shadow: 8px 6px 4px #000;
  transition: all 1.5s ease-in-out;
  margin-top: -200px;
  transform: scale(1.3);
}

.image img {

  z-index: 0;
  width: 1000px;
  height: 400px;
  border: 6px double white;
  border-radius: 20px;
}

.cap h2 {
  display: flex;
  justify-content: center;
  font-family: 'Handlee', cursive;
  font-size: 3.8em;
  color: white;
  text-shadow: 8px 8px 4px#000000;
}



#city_imgtop {
  display: flex;

  border: 2px solid white;
  margin-top: 0;
}




#imgo {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgo:hover {
  filter: none;
}

#texto {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#texto:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgt{
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgt:hover {
  filter: none;
}

#textt {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textt:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgth {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgth:hover {
  filter: none;
}

#textth {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textth:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgfo {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgfo:hover {
  filter: none;
}

#textfo {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textfo:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgfi {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgfi:hover {
  filter: none;
}

#textfi {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textfi:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgsi {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgsi:hover {
  filter: none;
}

#textsi {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textsi:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgse {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgse:hover {
  filter: none;
}

#textse {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textse:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imge {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imge:hover {
  filter: none;
}

#texte {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#texte:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgn {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgn:hover {
  filter: none;
}

#textn {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textn:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}
#imgten {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgten:hover {
  filter: none;
}

#textten {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textten:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgel {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgel:hover {
  filter: none;
}

#textel {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#textel:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}

#imgtw {
  width: 300px;
  height: 200px;

  box-shadow: 8px 8px 14px#000000;
}

#imgtw:hover {
  filter: none;
}

#texttw {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 95px;
  color: floralwhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
#texttw:hover {
  color: dodgerblue;
  text-shadow: 4px 4px 2px #000000;
  transition: all 1s ease-in-out;
  margin-bottom: -50px;
  transform: scale(1.5);
}





.filtered {
  filter: grayscale(100%);
}

/*About Me Section*/

 .aboutme article {
   margin-top: 50px;
   margin-bottom: 100px;
  padding: 30px;
  border: 1px solid white;
  width: 100%;
  height: 750px;
  background: linear-gradient(to bottom, rgba(175, 171, 150, .8), rgba(175, 171, 150, .5));
  border-radius: 10px;
  box-shadow: 8px 8px 4px#000000;
}

img.aboutme {

  margin: .5em;

  border: 4px solid #dddfff;
  border-radius: 50%;
  box-shadow: 2px 2px 8px#000000;
}
.left {
  float: left;

  shape-outside: ellipse();
}
p.aboutme {

  color: black;
  font-family: 'Raleway';
  font-size: 1.1em;
  text-shadow: 2px 2px 1px silver;
}

p.aboutme1 {
  color: black;
  font-family: 'Raleway';
  font-size: 1.1em;
  text-shadow: 2px 2px 1px silver;

}

h2.aboutme {
  color: slategrey;
  text-align: center;
  font-size: 30px;
  font-family: 'Pacifico';
  font-variant: small-caps;
  text-shadow: 1px 1px 1px black;
  text-decoration: underline;
}

h4.aboutme {
  font-family: Arial;
  text-shadow: 2px 2px 1px silver;
}
.aboutme h6 {
  font-family: 'Raleway';
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px antiquewhite;
}


/*Contact Section*/

#form-container {
  margin: 50px 10px 10px 0;
  background-color: #aadddd;
  width: 100%;
  height: 750px;
  border: 12px double darkslategrey;

}

form {

  width: 100%;
  height: 400px;
  margin: 20px;
}

label {
  display: block;
  margin: 10px;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
.formimg {
  position: relative;
  bottom: 60px;
  right: 15px;
  width: 300px;
}

input {
  width: 250px;
  height: 40px;
}

textarea {
  width: 450px;
  height: 170px;
}

fieldset {
  border: none;
}

.labelone {
  margin-top: 10px;
}


.btnone {
  width: 155px;
  height: 50px;


  margin-top: 50px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: steelblue;

  border-radius: 15px;
  box-shadow: 0 2px darkgrey;
  text-shadow: 1px 1px 1px black;
}

.btnone:hover {
  color: powderblue;
  background-color: royalblue;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.btnone:active {
  background-color: slategrey;
  box-shadow: 2px 2px blue;
  transform: translateY(6px);
}

#form-container h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}

#form-container img {
  position: relative;
  left: 260px;
  bottom: 500px;
  float: right;
  width: 80%;
  border: 3px solid black;
}


/*Middle Icon Bar*/



.icon-bar {
  border-top: 2px dotted yellow;
  border-bottom: 2px dotted yellow;
  margin-bottom: 30px;
}
.icon-bar a {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  color: white;

}

#smicono:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;

}

#smicont:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;

}

#smiconth:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;

}

#smiconf:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;

}


/*.btn {
  width: 200px;
  height: 50px;

  text-align: center;
  color:white;
  text-shadow: 2px 2px 2px #000;
}
.dropdown-menu li {
  width: 200px;
  justify-content: flex-end;
  text-align: center;
  background-color: rgba(125, 125, 125, .5);

}

.btn:hover {
  color:yellow;
}

.communitytop a{
  border: 2px solid yellow;

}
 #info h2 {
  text-align: center;
  font-size: 2.5em;
}
.communitytop a {

  display: flex;
  justify-content: center;
  color:black;
  margin: 40px 0;
}*/

.communitybot a {

  display: flex;
  justify-content: center;
  color:black;
  margin: 40px 0;
}

div.info {
  border-radius: 8px;
  margin: 80px 0 0 10px;
  width: 100%;
  height: 650px;
  background-color: #bbb;
  background: linear-gradient(to top, rgba(190, 190, 190, .2), rgba(190, 190, 190, .7));
}

.info p {
  text-align: left;
  font-family: 'Handlee', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #003300;
  padding-top: 15px;
  padding-left: 15px;
}
.cklista {
  z-index: 0;
  padding-top: 10px;
  width: 350px;
  position:relative;
  bottom:630px;
  left:400px;

}

.cklistb {
  z-index: 0;
  padding-top: 20px;
  width: 350px;
  position:relative;
  bottom:420px;
  left:55px;
}
.cklistb img{
  height:125px;
}
.cklista h5 {
  position: relative;
  top:-45px;
  right:50px;
  color: black;
  font-family: cursive;
  font-size: 2em;
  font-weight: bold;
}
.location img {
  width: 75%;
}
.info a  {
  margin-left: 10px;
  width: 30%;
  text-align: right;

  color: black;
  font-size: .9em;
  text-decoration: none;
}

.info a:hover {
  color: powderblue;
  text-shadow: 1px 1px 2px black;
}
.info iframe {
  position: relative;
  top: 80px;
  left: 0;
  padding-bottom: 10px;
  width: 100%;
}

/*Real Estate Notices Section*/
.notices img {
  width: 100%;

  height: 205px;
}
a.notices {
  display: flex;
  width: 80%;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 40px;
}

.notices img{
  border: 6px double darkgray;
}

a.re-link-link {
  display: flex;
  margin-top: 70px;

  font-variant: small-caps;
  width: 100%;
  font-family: 'Acme';
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px 2px antiquewhite;
}

a.re-link-link:link {
  text-decoration: none;
}

a.re-link_link:visited {
  text-decoration: none;
}

a.re-link-link:hover {
  text-decoration: none;
  color: blue;
}

a.re-link-link:active {
  text-decoration: underline;
  /*You Tube Video Section*/
}

div.vid {
display: flex;
  justify-content: center;


}

iframe.vid {

  width: 550px;
  height: 350px;
  margin-left: 70px;
  border: 5px double darkblue;

}
h2.vid {
  text-align: center;
  width: 100%;
  font-family: 'Lobster', sans-serif;
  color: darkblue;
  text-shadow: 1px 1px 1px grey;

  font-size: 2em;
  margin-top: 60px;
}



h5 {
  text-align: center;
  font-size: 16px;
  color: #fffaaa;
}



@media (max-width: 786px) {

  .image img {
    width: 100%;
    height: 100%;
  }
  .cap h2{
    font-size: 2em;
    text-align: center;
  }

  .image h1 {
    color: #fff;
    font-size: 4em;
    font-family: 'Great Vibes';

  }

#img4 {
  width: 100%;
  height: 100%;
}

#article p{
  display: none;
}
p.aboutme {

  display: none;
}
p.aboutme1 {
  font-size: 1.2em;
}
.form_box {
  width: 100%;
}

.icon-bar a {
  width: 100%;
}
.vid {
  font-size: .8em;
}


}
