

.jumbotron{
	color: #2c3e50;
	background: #dee6ed;
}

article span{
	color: #2c3e50;
	background: #dee6ed;
	border-radius: 7px;
	font-size: 25px;
}

body {
	background-color:#f8f8ff;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 20px;

}


.tab-a {
	position:absolute;
	right: 45%;
}



.tab-b {
	position:absolute;
	right: 5%;
}

