

.jumbotron {
	color: #2c3e50;
	background: #dee6ed;
}

article span{
	color: #2c3e50;
	background: #dee6ed;
	border-radius: 7px;
	font-size: 25px;
}

body {
	background-color:#f8f8ff
;

}


.tab-a {
	position:absolute;
	right: 50%;
}



.tab-b {
	position:absolute;
	right: 120px;
}

