@import url('https://fonts.googleapis.com/css?family=Arimo|Courgette|Roboto+Condensed&display=swap');

//font
$skinny-font: 'Roboto Condensed', sans-serif;
$title-font: 'Arimo', sans-serif;
$cursive-font: 'Courgette', cursive;
//colors
$main-yellow: #eeb212;
$main-red: #d50d26;
$main-blue: #3269e7;
$main-green: #019925;
//grid
$grid-columns: 12;
$grid-width: 100%;
$grid-gutter: 0%;
$grid-row: 12;
$grid-height: 100%;

@mixin wh {
  width: 100vw;
  height: 100vh;
}
@mixin whPercent {
  width: 100%;
  height: 100%;
}

@function column-width($cols) {
  @return ($grid-width
           - $grid-gutter * ($grid-columns))
          / $grid-columns * $cols
          + $grid-gutter * ($cols);
}
@function row-height($rows) {
  @return ($grid-height
           - $grid-gutter * ($grid-row - 1))
          / $grid-row * $rows
          + $grid-gutter * ($rows - 1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $skinny-font;
}
body {
  padding: 2%
}
#root {
  border: 7px solid black;
  @include whPercent();
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper-top {
  display: flex;
  width: column-width(12);
  height: row-height(7);
}
hr {
  color: black;
  border: 2px solid black;
  

}
#left-top {
  width: column-width(7);
  height: row-height(12);
  background: $main-yellow;
  .left-top {
    width: 100%;
    height: row-height(8);
    padding: 1%;
    .aboutMe-head {
      font-size: 5vw;
      font-family: $title-font;
    };
    .aboutMe {
      font-size: 4vw;
      line-height: 1;
      margin-top: 2px
      
    };
    .education-header {
      font-size: 5vw;
      font-family: $title-font
    }
    .education {
      font-size: 4vw
    }
  };
  .left-bottom {
    width: 100%;
    height: row-height(4);
    background: white;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center;
    justify-content: center;
    .name {
      font-size: 10vh;
      font-weight: 700;
      font-family: $title-font;
    };
    .fswd {
      font-size: 5vw
    };
    .contact {
      font-size: 3vw
    }
  }

}
#right-top {
  width: column-width(6);
  height: row-height(12);
  background: $main-red;
  .contactContainer {
    color: whitesmoke;
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .interest {
    font-weight: 800;
    text-align: center
  }
  .icons {
    text-align: center;
    font-size: 6vw
  }
}

  #bottom {
    width: column-width(12);
    height: row-height(5);
    background: $main-blue;
    .javascript {
      font-family: $cursive-font;
      color: whitesmoke;
      font-size: 5vw;
      text-align: center;
      margin: 20px 0 20px 0;
    }
    ul {
      list-style: none
    }
    #experience-1 {
      margin-top: 2%;
      height: 50%;
      width: 100%;
      font-size: 3vw;
      
      .experienceTitle {
        font-size: 4vh;
      
      }
      .job {
        text-decoration: underline;
        font-weight: 900;
        
      }
      .one {
        width: 50%;
        padding: 1%;
        display: inline-block
        
      }
      .two {
        width: 50%;
        display: inline-block;
        float: right;
      }
    }
    .three {
      text-align: justify;
      padding: 5%;
    }
  }
  


