@import url("https://fonts.googleapis.com/css?family=Arimo|Courgette|Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  padding: 2%;
}

#root {
  border: 7px solid black;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 58.33333%;
}

hr {
  color: black;
  border: 2px solid black;
}

#left-top {
  width: 58.33333%;
  height: 100%;
  background: #eeb212;
}

#left-top .left-top {
  width: 100%;
  height: 66.66667%;
  padding: 1%;
}

#left-top .left-top .aboutMe-head {
  font-size: 5vw;
  font-family: "Arimo", sans-serif;
}

@media (min-width: 1000px) {
  #left-top .left-top .aboutMe-head {
    font-size: 4vh;
  }
}

#left-top .left-top .aboutMe {
  font-size: 4vw;
  line-height: 1;
  margin-top: 2px;
}

@media (min-width: 768px) {
  #left-top .left-top .aboutMe {
    font-size: 3vw;
    margin-top: 20px;
  }
}

@media (min-width: 1000px) {
  #left-top .left-top .aboutMe {
    font-size: 3vh;
  }
}

#left-top .left-top .education-header {
  font-size: 5vw;
  font-family: "Arimo", sans-serif;
}

@media (min-width: 1000px) {
  #left-top .left-top .education-header {
    font-size: 4vh;
  }
}

#left-top .left-top .education {
  font-size: 4vw;
  line-height: 1;
}

@media (min-width: 768px) {
  #left-top .left-top .education {
    font-size: 3vw;
    margin: 20px 0 0 0;
  }
}

@media (min-width: 1000px) {
  #left-top .left-top .education {
    font-size: 3vh;
  }
}

#left-top .left-bottom {
  width: 100%;
  height: 33.33333%;
  background: white;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left-top .left-bottom .name {
  font-size: 8vh;
  font-weight: 700;
  font-family: "Arimo", sans-serif;
  line-height: 1;
}

@media (min-width: 1000px) {
  #left-top .left-bottom .name {
    font-size: 15vh;
  }
}

#right-top {
  width: 50%;
  height: 100%;
  background: #d50d26;
}

#right-top .contactContainer {
  color: whitesmoke;
  text-align: center;
  margin: 10px 0 20px 0;
}

@media (min-width: 768px) {
  #right-top .contactContainer {
    font-size: 3vh;
  }
}

@media (min-width: 1000px) {
  #right-top .contactContainer {
    font-size: 5vh;
  }
}

#right-top .interest {
  font-weight: 800;
  text-align: center;
}

@media (min-width: 768px) {
  #right-top .interest {
    font-size: 5vw;
  }
}

@media (min-width: 1000px) {
  #right-top .interest {
    font-size: 2vw;
  }
}

#right-top .icons {
  text-align: center;
  font-size: 6vw;
  line-height: 1;
}

@media (min-width: 768px) {
  #right-top .icons {
    font-size: 5vw;
    padding: 2%;
  }
}

@media (min-width: 1000px) {
  #right-top .icons {
    font-size: 6vh;
    line-height: 1;
  }
}

#bottom {
  width: 100%;
  height: 41.66667%;
  background: #3269e7;
}

@media (mid-width: 1000px) {
  #bottom .bottomWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#bottom .javascript {
  font-family: "Courgette", cursive;
  color: whitesmoke;
  font-size: 5vw;
  text-align: center;
}

@media (min-width: 1000px) {
  #bottom .javascript {
    font-size: 3vw;
  }
}

#bottom ul {
  list-style: none;
}

#bottom #experience-1 {
  height: 50%;
  width: 100%;
  font-size: 3vw;
}

@media (min-width: 768px) {
  #bottom #experience-1 {
    font-size: 2vh;
  }
}

@media (min-width: 1000px) {
  #bottom #experience-1 {
    height: auto;
    width: 100%;
  }
}

#bottom #experience-1 .experienceTitle {
  margin-top: 20px;
  font-size: 5vh;
  margin-left: 20px;
}

#bottom #experience-1 .job {
  text-decoration: underline;
  font-weight: 900;
}

#bottom #experience-1 .one {
  width: 50%;
  padding: 1%;
  display: inline-block;
}

@media (min-width: 1000px) {
  #bottom #experience-1 .one {
    width: 30%;
    margin: 0 0 0 20px;
    font-size: 3vh;
    padding: 0;
  }
}

#bottom #experience-1 .two {
  width: 50%;
  display: inline-block;
  float: right;
}

@media (min-width: 1000px) {
  #bottom #experience-1 .two {
    width: 30%;
    padding: 0;
    float: none;
    font-size: 3vh;
    height: 100%;
  }
}

#bottom .three {
  text-align: justify;
  padding: 5%;
}

@media (min-width: 768px) {
  #bottom .three {
    padding: 0;
    margin-left: 20px;
  }
}

@media (min-width: 1000px) {
  #bottom .three {
    width: 30%;
    display: inline-block;
    padding: 0;
    font-size: 3vh;
  }
}
/*# sourceMappingURL=main.css.map */