
body{font-family: 'Open Sans', sans-serif;}

.maincontainer {
    background-color:yellow;
    width:100%;
    height:100%;}
    
.aside{float:right;
        background-color:blue;
        width:30%;
        height:600px;
        }

.title{
    background-color:rgb(255, 68, 68);
    text-align: center;
    width:90%;
    height:50px;
}

.nav{background-color:purple;
width:90%;
height:50px;
}

.main{background-color:grey;
    width:50%;
    height:50%;
    padding:20px;
    margin:10px;

}


.footer{}


