html, body, h1, h2, p {
  font: inherit;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: black;
	background-color: #CCCCCC;
  margin: 20px 40px;
	font-size: 20px;
  border: 5px solid black;
  border-radius: 15px;
  padding: 15px;
}


h1 {
  text-align: center;
  font-size: 100px;
  color: #000;
	background-color: #E57F00;
  background-size: cover;
  padding: 20px;
  border: 5px solid black;
  border-radius: 25px;
	text-shadow: 4px 6px 0 #999999;
  margin: 10px;
  font-weight: bold;
}

h2	{
	text-align: center;
	font-size: 10px;
	color: white;
	margin: 2px;
	background-color:  black;
	border-radius: 25px;
	padding: 5px;
}

h3 {
  margin: 1px;
  font-size: 20px;
}

p {
  padding-top: 1px;
}

.footer {
  font-size: 15px;
}

.headdivide	{
  color: black;
  margin: 10px;
	background-color:  #E57F00;
	border: 2px solid black;
	border-radius: 25px;
	padding: .1px;
}

ul {
  font-size: 15px;
  background-color: inherit;
  color:black;
  overflow: auto;
}

li {
  float: left;
  margin-left: 1.5em;
  list-style-type:disc;
}
