header {
  background-color: #D9D9D9;
}

#resume-title{
text-align: center;
color: #b51515;
}

#contact-info{
  text-align:center;
}

.black-white{
  display: block;
  margin:auto;
  width:35%;
  }

/*To ensure the section won't break in Internet explorer*/
  section, article, header, aside, footer, nav {
    display:block;
  }

.refrences {

  color:#b51515;
}

.painting {

  margin-left:265px
}

.education {
  color:#b51515;
}

.skills {
  color:#b51515;
}

.work {
color:#b51515;

}
