html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5:normal;
  background: #F2F2F2;
  color: #323232;
}

img {
  max-width: 100%;
}

Material-icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: blue;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 2px solid lightgrey;

}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

/************************
**My info
************************/
img.avatar {
  width 125px;
}

.my-name {
  font-size: 48px
}

.my-title {
  font-size: 36px
  font-weight: bold;
  color:#ff1111
}

links {
  display: flex;
}


/***************************
  ***Experience
  *************************/
  .job {
    margin-bottom: 24px;
    border-bottom: 2px solid lightgrey;
  }

  .job:last-child {
    border-bottom: none;
  }

  .job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px
  }

  .job-company {
    font-weight: bold;
    font-height: 1.2;
  }

  /************************
  ***Skills
  ************************/

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;
  }
