body {
  background-color: beige;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text
}
hr {
  border: 2px solid;
}
#name {
  font-size:50px;
}
#image {
width: 19%;
  float: right;
}
img{
  max-width: 100%;
  float: right;
  bottom: 0;
  top: 150px;
}
#skills{
  bottom: 0px;
  top: 150px;
  position: absolute;
  width: 13%;
  border-style: solid;
  background-color: #9999ff;
  padding-left: 30px;
  padding-right: 10px;
}
.job_title{
  font-weight: bold;
}
.institute_name{
  font-weight: bold;
}
div{
  float: left;
}
h2{
  text-decoration: underline;
  margin-top: 15px;
}
li{
  margin-top: 20px;
  margin-bottom: 10px;
}
article{
  width: 70%;
  padding-left: 1%;
}
p{
  text-indent: 15px;
  padding-left: 2%;
}
section{
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
