p { font-size: 1.2em;
    margin-top:14px;
    margin-right:70px;
}

h1 {font-size: 2.3em;
    margin:0px;
}
h2 {font-size: 1.1em;
    margin:0px;
}

.col1 {
    float: left;
    width: 21%;
    background: light grey;
    font-size: 1.1em;
}

.col2 {
    float: right;
    width: 72%;
    margin-left: 20px;
    margin: 0px;
}

p.italic {
    font-style: italic;
}



h3  {margin: 0px;
}

h4  {margin: 0px;
}

h5  {margin: 0px;

}
