body {
    background-color: rgb(247, 246, 239);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    position: fixed;
    background-color: rgb(71, 166, 197);
    color: antiquewhite;
    padding: 10px;
    font-size: 43px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 30;
}

.column1 {
    float: left;
    width: 17%;
}

.column {
    float: left;
}

.top {
    margin-top: 72px;
}
img {
    margin-top: 60px;
    padding: 15px;
}

.social {
    line-height: 1px;
}

h3 {
    /* color: rgb(20, 161, 62); */
    
}