body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/dust_scratches.png");
    /* : 0 auto; */
}

/* ---------------------------------------- */
.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    /* position: fixed; */
    display: flex;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #55644C;
    color: #D4FDFF;
}

main {
     display: block;
}

h1{ 
    color: black;
    /* padding-top: 50px;
    position: fixed; */
}

.self {
    border-radius: 12px;
    /* position: fixed;  */
    /* top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px; */
}

h2 {
    padding: 10px;
    margin: 5px;
}

.summary {
    background-color: #CBD3F2;
    width: 700px;
    padding: 10px;
    border: 3px solid gray;
    text-align: center;
    border-radius: 12px;
    margin: auto;
}

.experience {
    background-color: #BFAFC1;
    width: 1000px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    margin: auto;
}

.edu {
    background-color: #D8AFB6;
    width: 700px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    padding-bottom: 30px;
    margin: auto;
}

.vol {
    background-color: #C5BB7A;
    width: 700px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    padding-bottom: 20px;
    margin: auto;
}

.skills {
    background-color: #BAE5FB;
    width: 300px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    padding-bottom: 20px;
    margin: auto;
}

.goldslogo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.vidalogo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.thelablogo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.newtonlogo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.lamar {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.hrc {
    float: left;
    padding-left: 15px;
    padding-right: 25px;
}

