body {
  background-image: url("../images/template.jpg");
  background-size: cover;
}

h1 {
  padding-left: 20%;
}

h2 {
  padding-left: 20%;
  text-decoration: underline;
}

p {
  padding-left: 20%;
}

table {
  padding-left: 22%;
}

footer {
  text-align: center;
}