header{
  text-align: center;
}
body{
  background-image: linear-gradient(yellow,violet);
}
main {
  border: 2px solid black;
  width: 35%;
  height: 80%;
  float: left;
}
aside{
  border: 2px solid black;
  width: 35%;
  height: 80%;
  float: right;
}