body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
   }
header{
    background-color: cadetblue;
    color: white;
    width: 100%;
    padding: 0;
    height: 100%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;   
}
h2{
    margin-top: 20px;
    margin: 0;
    font-size: 18;
}
h4{
    font-style: italic;
    margin: 0;
    font-size: 14;
}
ul{
    margin-top: 0;
    font-size: 20px;
}
aside{
    display: block;
    float: right;
    background-color:lightgray;
    height: 100%;
    width: 25%;
    padding: 15px;
    font-size: 18px;
    font-style: italic;
}
div{
    font-weight:bold;
    font-style: italic;
    font-size: 18px; 
}
footer{
    background-color: lightgray;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
#skilltype{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-style: normal;
}
#skills{
    font-weight: bold;
    text-align:center; 
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 24px;
    text-decoration-line: underline;
    font-style: normal;
}
