body {
  font-family: "Open Sans Condensed";
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: blanchedalmond
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 1.3em;
}

img {
  height: 115px;
  margin-bottom: -6px;
  margin-left: -8px;
  margin-top: -23px;
}

div {
  border-radius: 60px;
  display: inline-block;
  overflow: hidden;
  width: 100px;
}

.pkp {
  width: 100px;
}

.meatball {
  height: 50%;
}