body {
    background-image: linear-gradient(#b3f0ff, #e6ffff)
}

hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background-color: black;
    color: black;
    border: 0px;
}

li {
    text-align: inherit;
    list-style-type: circle;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #4d4d4d;
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
}