body {
    background-color: rgb(247, 246, 239);
    font-family: 'Karla', sans-serif;
    align-content: center;
}

h1 {
    position: fixed;
    background-color: rgb(71, 166, 197);
    color: antiquewhite;
    padding: 10px;
    font-size: 48px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 100000;
}

main {
    position: relative;
    margin-left: 105px;
}

h2.column {
    font-size: 55px;
    margin-bottom: -5px;
}

div.column1 {
    float: left;
    margin-left: 19%;
}

div.column {
    float: left;
}

div.top {
    margin-top: 82px;
}
img {
    margin-top: 75px;
    padding: 15px;
    align-content: center;
}

div.social {
    line-height: 1px;
}

a {
    text-decoration: none;
}

h3 {
    /* color: rgb(20, 161, 62); */
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}

p.date {
    margin-top: -18px;
    color: rgb(71, 166, 197);
}

ul {
    word-wrap: break-word;
}

ul.list {
    margin-top: -18px;
}

li {
    word-wrap: break-word;
}