body {
    background-color: rgb(247, 246, 239);
}

h1 {
    background-color: rgb(71, 166, 197);
    color: antiquewhite;
    padding: 10px;
    font-size: 43px;
    text-align: center;
    width: 100%;
    position: absolute;
    /*
        When I set position to absolute it also applies it to my columns. Shouldn't this not be happening since it is applied to h1?
    */
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 30;
    
}

.column1 {
    float: left;
    width: 20%;
}

.column {
    float: left;
    width: 50%;
}