body { background-color: Black; width:75%; }
h1 { color: white; text-decoration: underline; }
h2 { color: grey; }
h3{ color: grey; }
h4{ color: grey; }
ul{ color: grey; }
p{ color: white; }
.container{
  width: auto;
  height: auto;
}
.TopPane{
  text-align: center;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  background: Black;
}
.NavPane{
  float: left;
  margin-top: 100px;
  width: 15%;
  height: auto;
  background: Black;
}
.MidPane{
  float: left;
  width: 85%;
  margin-top: 100px;
  margin-bottom: 75px;
  background: Black;
}
.FootPane{
  border: 1px solid white;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: Black;
}
