#container {
  background-color: grey;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: 125%;
  text-decoration: underline;
  color: red;
  margin: 5px;
}

a:hover {
  color: yellow;
}

body {
  /* background-image: url("https://goo.gl/gm4PKC"); */
  background: grey;
}

#h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

#header {
  background-color: #234489;
  color: white;
  text-align: left;
  padding: 7px;
  margin: 0px;
}

#header h1 {
  margin: 0;
}

#nav {
  background-color: black;
  color: white;
}

#section {
  width: 780px;
  /* height: 300px; */
  float: left;
  margin: 10px;
}

#article {
  width: 780px;
  /* height: 300px; */
  float: left;
  margin: 10px;
}

#aside {
  color: #2e2f30;
  width: 180px;
  /* height: 600px; */
  float: right;
  margin: 10px;
}

#aside ol {
  list-style-type: none;
  padding: 0;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #234489;
  color: white;
  text-align: center;
}

.btn-group button {
  background-color: #1d53c4;
  /* Green background */
  border: 1px solid #234489;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: left;
  /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

#progress {
  width: 780px;
  margin: 10px;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */

.btn-group button:hover {
  background-color: #3e8e41;
}

/* Make sure that padding behaves as expected */

* {
  box-sizing: border-box
}

/* Container for skill bars */

.container {
  width: 100%;
  /* Full width */
  background-color: rgb(216, 216, 216);
  /* Grey background */
}

.skills {
  text-align: right;
  /* Right-align text */
  padding: 10px;
  /* Add some padding */
  color: rgb(27, 26, 26);
  /* White text color */
}

.html {
  width: 10%;
  background-color: #4CAF50;
}

/* Green */

.css {
  width: 10%;
  background-color: #2196F3;
}

/* Blue */

.js {
  width: 05%;
  background-color: #f44336;
}

/* Red */

.php {
  width: 01%;
  background-color: purple;
}

/* Dark Grey */