h1, h2, h3, h4, h5, h6 {
    color: #111; 
    font-family: "Tahoma", "Helvetica", "Droid Sans", sans-serif; 
    letter-spacing: 1px;
}
h1 {
    border-bottom: 0.07142855em double #444;
    color: #000; font: normal 3.5em/2 "Georgia", sans-serif; 
    text-align: center;}
h2 {
    color: #000; 
    font-size: 1.5em; 
    letter-spacing: 0.07142855em; 
    font-variant: small-caps;} /* 24px / 16px */
h3 {
    border-bottom: 0.07142855em solid #333; 
    font-size: 1.25em; line-height: 1.42857em; 
    margin-bottom: 0.375em; margin-top: 1.05357em; 
    position: relative;}  /* 20px / 16px */
h4 {
    font-size: 1.1255em; 
    line-height: 1.2857em; 
    margin-bottom: 0.375em; 
    margin-top: 1.0893em;}  /* 18px / 16px */
