body{
      font-family: Ubuntu;
      background-image: url("https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

header{
    margin: 1em 10em;
    background-color: white;
    font-size: 22px;
    text-align: center;
    padding: 1em 1em;
    opacity: 0.75;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}

header a{
  text-decoration: none;
  color: black;
}

header i{
  font-size: 16px;
}

h1{
  font-size: 22px;
}

h2{
  font-size: 16px;
  font-style: italic;
}

nav{
  opacity: 0.75;
  margin: 1em 10em;
  background-color: white;
  font-size: 20px;
  border-radius: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  padding: 1em 1em;
}

nav a{
  text-decoration: none;
  font-size: 20px;
}

nav a:hover{
  font-size: 22px;
}

.button1{
  padding: 1em;
  color: blue;
}

.button2{
  padding: 1em;
  color: green;
}

.button3{
  padding: 1em;
  color: green;
}

.button4{
  padding: 1em;
  color: pink;
}

main{

}

section, aside{
  opacity: 0.75;
  padding: 1em;
  float: left;
  box-sizing: border-box;
  border-radius: 1px;
  border-style: solid;
  margin: 1em;
}

section{
  background-color: white;
  width: 55%;
  height: 100%;
  border-color: blue;
  }

aside{
  background-color: white;
  text-align: center;
  width: 40%;
  height: 62.5em;
  border-color: red;
}

.skills{
  font-size: 20px;
  padding: 1em;
}

div i{
  font-size: 50px;
}

footer{
  text-align: center;

}
