body {
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Rubik', sans-serif;
  background: url(../cbbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: hotpink;
}

a:hover {
  color: rgb(255, 255, 255)
}

.container {
  /* opacity: .5; */
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 28%;
  margin-left: 55%;
  height: 50%;
  width: 30%;
  padding: 5%;
}

.container2 {
  /* opacity: .5; */
  background-color: rgb(0, 0, 0);
  color: rgb(0, 38, 255);
  position: fixed;
  margin: auto;
  width: 100%;
  /* margin-top: 30%; */
  padding: .2%;
  font-size: 10px;
}

.linkers {
  text-align: center;
}