body {
    background-color: rgb(134, 201, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: orange;
}

#container {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

header {
    background-color: rgb(255, 182, 45);
    color: white;
    text-align: center;
    margin: 0;
    padding: 24px;
    border-radius: 10px 10px 0 0;


}

nav {
    background-color: gray;
    color: white;
    text-align: center;
    margin: 0;
    padding: 24px;
}

nav .selected {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

#article {
    width: 500px;
    float: right;
}

aside {
    width: 350px;
    float: left;
    background-image: url("http://freebie.photography/background/slides/wires.jpg");

    
}

section {
    width: 500px;
    float: right;

}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: gray;
    border-radius: 0 0 10px 10px;
}