"Style for resume"

html {
  color: maroon
}

body {
    background-image: url(https://www.mcphersons.com.au/sites/default/files/innov-hub-bg/bg_innov_2_0.jpg);
    background-size: 25%;
}
p1 {
  color: red;
}

p2 {
  color: blue;
}

p3 {
  color: green;
}

.underlined {
  text-decoration: underline;
}

#mewithglasses {
  border: 5px solid white;
  border-radius: 50%;
  width: 20%;
vertical-align: right;
  padding: 5px;
  margin-left: auto;
margin-right: auto;
}
.center {
    margin: auto;
    width:50%;
    padding: 5px;
    text-align: center;
   border: 3px;
}
.center-left {
    margin: auto;
    width:50%;
    padding: 5px;
    text-align: left;
   border: 1px solid black;
   background: white;
}
.float-left {
  float:left;
  border: 1px solid white
  overflow:auto;
}

article {
  display:block;
}
.text {
  display: block;
  float: left;
  overflow: auto;
  padding: 1px;
  min-width: 300px;
  min-height: 300px;
}
