/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html,body {
    background-color: #bec7c0 ;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    padding-bottom: 3em;
    width: 90%;
    max-width: 1000px;
    background-color: #9daba1;
}

.header {
    margin-bottom: 1em;
}

.logo {
    position: relative;
    margin: 0 auto;
    width: 26%;
    min-width: 260px;
}

.title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
    font-size: 2em;
}

.subtitle {
    position: relative;
    margin: 0 auto;
    text-align: center; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.title2 {
    display: none;
}

.search {
    position: relative;
    width: 26.2%;
    max-width: 262px;
    min-width: 262px;
    margin: 1em auto;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    align-items: center;
}

.bar {
    position: relative;
    background-color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 85%;
    display: inline-block; 
    outline: none;
}

.bar:focus {
    outline: none;
}

.button {
    width:8%;
    display: inline-block;  
    vertical-align: middle;
    padding-left: .5%;
}

.button:focus {
    outline: none;
}

.search input {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.owner {
    position: relative;
    width: 90%;
    padding: 1em 0;
}

.contractor {
    position: relative;
    width: 90%;
    padding: 1em 0;
}

h2 {
    font-family: "Didact Gothic", sans-serif;
    color: #336633;
    font-size: 1.75em;
    text-align: left;
}

.navaudit {
    display: none;
}

.nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.nav li {
    position: relative;
    width: 26.2%;
    max-width: 262px;
    min-width: 262px;
    margin: 1em auto;
    padding: .3em 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #99cc99;
    font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
}

p {
    font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
}

.owner {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.contractor {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.time {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.word {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.submit {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.nav2 {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.nav2 li {
    float: left;
    margin: 1em 1% 1em 0;
    width: 18%;
    padding: 1em 0;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #99cc99;
    font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
    font-size: .75em;
}

#navright {
    margin-right: 0;
}

#time {
    display: none;
}

#monday {
    display: none;
}

#tuesday {
    display: none;
}

#wednesday {
    display: none;
}

#thursday {
    display: none;
}

#friday {
    display: none;
}

#word {
    display: none;
}

.content {
    display: none;
}

.time {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.word {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.submit {
    position: relative;
    margin: 0 auto;
    text-align:center;
}


/* start desktop media query */
@media screen and (min-width: 1000px) {
    
    .logo {
        position: relative;
        width: 28.89%;
        float: left;
    }
    
    .nav {
        display: none;
    }
    
    .nav2 {
        display: none;
    }
    
    .navaudit {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: inline;
        text-align: center;
    }
    
    .navaudit li {
        float: left;
        margin: 1em 1% 1em 0;
        width: 18%;
        padding: 1em 0;
        text-align: center;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        background-color: #99cc99;
        font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
        font-size: .75em;
    }
    
    .one {
        margin-left: 5%;
    }
    
    .header {
        text-align: center;
        margin-bottom: 2em;
    }
    
    .title {
        width: 71.11%;
        margin-top: 1.5em;
        float: left;
        font-size: 4em;
    }
    
    .subtitle {
        display: none; 
    }
    
    .title2 {
        display: inline-block;
    }
    
    .search {
        position: absolute;
        width: 72.55556%;
        right: 5%;
        top: 3%;
    }
    
    .content {
        display: block;
        background-color: #ffffcc;
        margin-top: 4em;
    }
    
    .content p {
        position: relative;
        margin: 3em auto;
        text-align: justify;
        width: 90%;
    }
    
    .formcontent {
        background-color: #ffffcc;
    }
    
    .house {
        position: relative;
        margin-left: -2.5%;
        width: 100%;
        max-width: 650px;
    }
    
    h3 {
        position: absolute;
        width: 50%;
        right: 0;
        text-align: right;
        font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
        font-size: 3em;
        bottom: 10em;
        padding-right: 5%;
    }
    
    h4 {
        position: absolute;
        width: 30%;
        right: 0;
        text-align: right;
        font-family: "Lucida Sans Unicde", "Lucida Grande", sans-serif;
        font-size: 2em;
        bottom: 9.75em;
        padding-right: 5%;
    }
    
    
}







