.text {
  background-color: #F4EB57;
  /*padding: 100%;*/
  border: solid white 10px;
  position: relative;
  width: 50%;
}

.words {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

@media (min-width: 992px) {
  .text {
    height: 100%;
  }
}

html, body {
  height: 100%;
}
.row {
  height: 100%;
}

body {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  padding: 10px;
  margin: 0;
  width: 100%;
}

.image {
  margin: 0;
  padding: 0;
}

.gallery {
  height: 100%;
  /*background-color: green;*/
}
