/* This means selecting everything on the page */
* {
  font-family: PT Serif;
  font-size: 15px;
}

/* Will add background image for next version */
body {
/*   background: url("http://res.cloudinary.com/dxqs2gnt3/image/upload/v1496703788/Evening_ibdrex.jpg") no-repeat center center fixed; */
}

.footer {
  width: max 100%;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #21d0c3;
}

.footernavbar {
  justify-content: center;
}

.footernavbar li {
display: flex;
display: inline-block;
margin: 0 !important 5px;
padding: 10px;
}

/* When hovering over footer list */
.footernavbar a {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  font-family: PT Serif;
}

/* Change to black when hovered over */
.footernavbar li a:hover {
  color: black;
}

h2 {
  text-align: center;
}

/* This div is for the form, bottom of page */
.formWrapper {
margin: 50px;
width: 100%;
/*   we used flexboxes */
/* float: left; */
color: #fc9296;
display: flex;
justify-content: center;
}

.formWrapper label {
/* float: left; */
width: 100%;
margin-top: 10px;
}

.formWrapper input {
/* float: left; */
width: 50%;
margin-top: 3px;
background: #a54ddf;
color: #FFF;
inde
