*
/* css for top nav bar */

ul {
  list-style-type: none;
  max-width: 845px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration-line: underline;
}

.second-nav {
  display: block;
  color: black;
  background-color: red;
  max-width: 825px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  margin-bottom: 1px;
  height: auto;
}

/* CSS for top half container */

/* Full Path: /Users/ruthannford/Documents/ACA2/web-workbook/03week/business/wearelonestar.jpg */

.container {
  display: flex;
  max-width: 838px;
  align-content: center;
  background-color: black;
  color: black;
  border-width: thin;
  vertical-align: 100em;
  margin: 0;
}

/* CSS for top half container */

.image-container {
  max-width: 850px;
  height: 550px;
  background-image: url("./wearelonestar.jpg");
  vertical-align: middle;
  border: black;
  border-width: thin;
  margin: 0;
}

h1 {
  font-family: arial;
  font-size: 60px;
  text-align: center;
  vertical-align: top;
  line-height: 250px;
}

.column-container {
  display: table;
  max-width: 100%;
  background-color: white;
  border: black;
  border-width: thin;
  margin: none;
  /*  background-color:rgba(255, 255, 255);*/
}

/* used to compensate for images that were not the same size */

.col {
  display: table-cell;
  padding: 8px;
  border: black;
  border-width: thin;
}

.column-image {
  width: 260px;
  padding: 2px;
  border: 1px;
}

/*hyperlinks under small images*/

h2 {
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  color: black;
  font-family: arial;
}

h3 {
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  color: red;
  font-family: arial;
}

p {
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  color: black;
  font-family: arial;
}
