body {
  margin: 10px;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

header {
  display: flex;
  margin: 2px;
}

header > div {
  padding-left: 15px;
}

header > div:first-child {
  margin-right: auto;
  font-size: 20px;
}

a.button {
  border: solid black 1px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: yellow;
}

.box1 {
  background-image: url("http://placehold.it/200x250");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

.box2 {
  display: flex;
  margin: 10px;
}

.box2a {
  padding: 10px;
}

.box3 {
  display: flex;
  background-color: lightgrey;
  justify-content: space-around;
}

.box3a {
  margin: 10px;
  width: 130px;
  padding: 50px 0;
  text-align: center;
}

.box4 {
  display: flex;
  padding: 20px;
  margin: 10px;
  justify-content: space-around;;
}

.box4a {
  flex-direction: column;
  width: 300px;
  text-align: center;
  font-size: 15px;
}

.box4a > p {
  margin-top: 0;
}

.box4a > p:last-child {
  text-align: right;
}

.box5 {
  background-image: url("http://placehold.it/200x250");
  display: flex;
  height: 300px;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.box5a {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box5a > a {
  margin: 10px;
}
