header {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  margin: 0px 5px;
}


/*Company name in the left corner of screen.*/

#company {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


/*main 'hero' image for homepage*/

#hero {
  border: 1px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  background-color: lightgrey;
}


/*Big Important Title*/

#big {
  font-size: 4em;
  font-family: sans-serif;
  font-weight: lighter;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}


/*section with one image to the left and a header and p stacked to the right*/

#about {
  border: black 1px solid;
  display: flex;
  align-items: flex-start;
}

#main, #dos {
  display: flex;
  justify-content: space-around;
}

#main {
  background: #f2f2f2;
  margin: 40px;
}

footer {
  margin: 40px;
  background: #f2f2f2;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.one {
  text-align: center;
  height: 400px;
  width: 140px;
}
