nav{
  display:flex;
  justify-content: space-between;
  max-width: 900px;
}

header{
  background-image: url(http://placehold.it/900x300);
  height: 300px;
  max-width: 900px;
  /*display: flex;*/
  justify-content: center;
}

header div{
 text-align: center;
 height: inherit;
 padding-top: 75px;
}

#button{
    border: 1px solid black;
    width: 50px;
    height: 20px;
    color: black;
    margin: auto;
}

main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
}

section img{
  display:flex;
  /*padding-right: 50px;
  padding-left: 50px;*/
  margin:inherit;
}

article{
  justify-content: space-around;
}

section p{
  justify-content: space-around;
  /*padding: 50px;*/
  margin: inherit;
}
/*
main section{
  float:left;
  text-align: center;
  padding: 50px;
}*/

section{
  display:flex;
  margin: 50px;
  justify-content: space-around;
  max-width: 900px;

}

main h2{
 width: 600px;
}
