




#wrapper {

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    width:175px;
    height:200px;
    text-align:center;
    cursor: pointer;
    background-color:darkgrey;


}


.calculator {
    grid-column: span 4;
margin-top:10px;}
   


.firstrow{
    border:black solid 1px;

}

.secondrow {
    border:black solid 1px;
}


.thirdrow {
    border:black solid 1px;
}

    .fourthrow {
        border:black solid 1px;


    }

    .firstbottom{
        grid-column: 1/3 ;
border:black solid 1px;

    }
.bottom{
grid-column: 3/5;
border:black solid 1px;
}
