body{
  background-color:#1B1B1B;
}
.main{
  background-color:#2BCDC0;
  height:125px;
  width:100%;
  text-align:center;
  padding:125px 0 125px 0;
}
.main h1{
  color:white;
  font-size:75px;
}
.content{
  height:800px;
  background-color:#1B1B1B;
}
.articles{
  height:300px;
  width:12%;
  float:left;
  text-align:center;
  color:white;
  padding:15px 25px;
  margin:50px 30px 20px 30px;
  background-color:#1B1B1B;
}
.articles h2{
  font-size:40px;
}
.first{
  border-top:solid #33a8dd 25px;
  margin-left:22%
}
.second{
  border-top:solid #f46731 25px;
}
.third{
  border-top:solid #2acdbf 25px;
}
@media (max-width: 767px) {
  .articles{
    width:50%;
    margin-left:22%;
  }
}
