body {
  display: flex;
  flex-direction: column;
  color: red;
  text-align: center;
  font-size: 40px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: blue
}

#alert {
  display: none;
}

.button {
  width: 150px;
  height: 50px;
}

#all {
  background-color: green;
}

#reset {
  background-color: red;
}
