#peg-container {
  display: flex;
  justify-content: space-around;
}

.peg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 150px;
  width: 200px;
  margin: 25px;
}

section[data-weight="0"] {
  background-color: lightblue;
}

section[data-weight="1"] {
  background-color: darkblue;
}

.ring {
  height: 25px;
}

.hover {
  height: 25px;
  margin-bottom: 50px; 
}

div[data-weight="1"] {
  width: 25px;
  background-color: blue;
}

div[data-weight="2"] {
  width: 50px;
  background-color: green;
}

div[data-weight="3"] {
  width: 75px;
  background-color: red;
}

div[data-weight="4"] {
  width: 100px;
  background-color: yellow;
}

#win-container {
  display: flex;
  justify-content: space-around;
}

#winner {
  height: 75px;
  width: 300px;
  background-color: lightblue;
  color: black;
  margin-top: 100px;
}
