#board {
  border: groove 3px #9f9f9f;
  margin: 20px 15%;
  min-width: 400px;
}

#towers {
  display: flex;
  justify-content: center;
  height: 300px;
}

#movecount {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.curmovecount {
  display: none;
}

[data-stack] {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 101px;
  background-color: lightskyblue;
  margin: 25px;
}

[data-block] {
  height: 25px;
}

[data-block="25"] {
  width: 25px;
  background-color: #7f00ff;
}

[data-block="50"] {
  width: 50px;
  background-color: #00ffff;
}

[data-block="75"] {
  width: 75px;
  background-color: #7fff00;
}

[data-block="100"] {
  width: 100px;
  background-color: #ff0000;
}

#announce-game-won {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  width: 200px;
  font-size: 16px;
  margin: 10px 0px;
  padding: 3px;
  background-color: azure;
  border: 2px groove dodgerblue;
  transition: width 3s, color 1.5s, background-color 2s;
}

button:hover {
  background-color: dodgerblue;
  border-color: dimgrey;
  color: white;
  width: 250px;
}

.final-win {
  font-size: 30px;
  text-align: center;
  color: red;
}
