#towers {
  display: flex;
  justify-content: center;
  height: 300px;
  border: groove 3px #9f9f9f;
  margin: 20px 15%;
  min-width: 400px;
}

[data-stack] {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 101px;
  background-color: lightskyblue;
  margin: 25px;
}

[data-block] {
  height: 25px;
}

[data-block="25"] {
  width: 25px;
  background-color: #7f00ff;
}

[data-block="50"] {
  width: 50px;
  background-color: #00ffff;
}

[data-block="75"] {
  width: 75px;
  background-color: #7fff00;
}

[data-block="100"] {
  width: 100px;
  background-color: #ff0000;
}

#announce-game-won {
  font-size: 30px;
  text-align: center;
}
