body {
    width: 75%;
    margin: 0 auto;
    /*background-color: #000;
    hsla(360, 10%, 10%, 0.25);*/
}

.name {
    color: black;
    /*color: hsla(147, 100%, 50%, 1);
    #00ff73;*/
    font-family: Helvetica;
    font-weight: lighter;
    text text-shadow: 0 0 0 5 .75px;
    text-align: center;
    vertical-align: middle;
    padding: 2.5% 0 .75% 0;
}


/*
.underline {
    border-bottom: solid;
    color: #a8a8a8;
    margin: 0 -10em;
}*/

header, nav, main, section, aside, footer {
    padding: 5px;
    margin-top: 10px;
}

section, aside {
    float: left;
}

section {
    width: 70%
}

aside {
    width: 20%;
}

footer {
    clear: both;
}
