body {
  width: 100%;
  font-family: Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

main, footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
}

#section-one {
  height: auto;
  width: 33%;
}

#section-two {
  width: 65%;
}

img {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
}

hr {
  margin-bottom: 20px;
}
