 html,body{
  height: 100vh;
  padding:0;
  margin:0;
  background-image: url("img/santaworshop.png");
  background-repeat:space;
}

p{
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  font-size: small
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:stretch;*/
  font-family: 'Catamaran', sans-serif;
  height:100vh;
}

.title{
  display:flex;
  flex-direction:row;
  top margin: 100px;
  position: fixed;
}


h1{
  font-family:'Catamaran', sans-serif;
  text-align: center;
  font-weight: 600;
  color: white;
}
h2{
  font-family: 'Chelsea Market',sans-serif;
  text-decoration-color: black;
}

.elf{
  flex:5;
  font-family: 'Catamaran', sans-serif;
  height:100vh;

}
#elf{
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 280px;
  padding-left: 200px;

}
#elf:active {
  transform: translateY(3%);
}

.items{
  flex:1;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: nowrap;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 5px;
  background-color: lightblue;

}
.item-0,.item-1,.item-2,.item-3 {
  border: 2px black;
  border-style: dotted;
}
