body {
background: linear-gradient(-90deg, lightblue, black);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

main {
  margin: 100px auto;
  text-align: center;
}

h3 {
  font-size: 3em;
}

button {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid lightblue;
  color: lightblue;
}