
body {
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    width: 1024px;
    margin: auto;
}

header {
    background-color: #0071c5;
    padding: 10px;
}

h1 {
    font-weight: 100;
    font-size: 60px;
    color: #fff;
}
.nav-link{
    font-size: 25px;
    margin-right: 15px;
    color:white;
    text-decoration: none;
}
main h2 {
    font-size: 28px;
    font-weight: 200;
}

main  h3 {
    font-size: 24px;
    font-weight: 200;
}
main p {
    font-size: 16px;
    color: #555;
}
aside {
    background-color: #f3f3f3;
    padding: 15px;
}

.my-footer {
    padding: 15px;
}
