body {
  width: 80%;
  margin: auto;
}

header {
    background-color: blue;
    color: white;
    padding-top: 15px;
}

a {
    color: white;
}

#support {
    background-color: lightgray;
    padding-top: 5px;
    padding-left: 15px;
}

p {
    font-size: 14px;
}
#support a{
    color: blue;
}
/*re-committing*/