
body {
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    width: 1024px;
    margin: auto;
}

header {
    background-color: #0171c5;
    padding: 10px;
    color: white;
}

.nav-link {
    color: white;
    font-size: 25px;
    margin-right: 15px;
    font-size: 18px;
}
.inteltitle {
    font-size: 28px;
}

.futurearchitect {
    font-size: 24px;
    font-weight: 200;
}

.futureparagraph {
    font-size: 16px;
    color: #555;
}

.customersupport {
    background-color: #f3f3f3;
    padding: 15px;
}

.my-footer {
    padding: 15px;
}
