
body {
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    width: 1024px;
    margin: auto;
}

header {
    background-color: #0071c5;
    padding: 10px;
}

header h1 {
    font-weight: 100px;
    font-size: 60px;
    color: #fff;
}

body nav a.nav-link {
    color: #fff;
    font-size: 25px;
    margin-right: 15px;
}
main > h2 {
    font-size: 28px;
    font-weight: 200px;
}

main aside h2{
    font-size: 24px;
    font-weight: 200px;
}

main p {
    font-size: 16px;
    color: #555;
}

body aside {
    background-color: #f3f3f3;
    padding: 15px;
}

.my-footer {
    padding: 15px;
}
