body{
    background-color: #6e6e6e;
    margin: 0 auto;
    width: 100%;

}

h1{
    margin: 4px 0px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #b843cd;*/
    background-image: url("img/header.png");
    background-repeat: repeat-x;
}

main {
    background-image: url(img/bg.jpg);
    background-size: 100% 544px;
    background-repeat: no-repeat;
    color: white;
    padding: 90px 66px;
    font-family: sans-serif;
    margin-top: 5px;
}

header li {
    float: left;

    width: 25%;
}

header li a {
    display: block;
    color: #913333;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    padding: 19px 60px;
    font-weight: bolder;
    font-family: sans-serif;
}

header li a:hover {
    background-color: #b8b8b8
}
figure { 
    width: 540px; 
    padding: 5px;
    border: 1px solid #000000;
    margin: auto;
}
figcaption { 
    text-align: center;
    font-family: Papyrus, fantasy; 
}

footer{
    text-align: center;
    background-color: white;
    padding: 1px;
    margin-top: 5px;
}