

.bg1 {
    background-image: url("https://images.unsplash.com/photo-1495188821276-84991753921a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd1bae27182139bf356d548183ef324f&auto=format&fit=crop&w=1650&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}