.float-column1 {
  border: solid;
  padding-left: 1%;
  padding-top: 1%;
  border-radius: 5%;
  background-color: #f0ff9e;
  height: 80%;
  width: 80%;
  align-self: flex-end;
}
.p-column {
  border: solid;
  height: 25%;
  border-radius: 5%;
  align-self: flex-start;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
}
.float1 {
  float: left;
}
.nav-bar {
  border: solid;
  list-style-type: none;
  background-color: #414d60;
  padding-bottom: 1%;
  padding-top: 1%;
}
.banner {
  float:
}
a {
  color: white;
}
.home a:hover {
  color: black;
  text-decoration: underline;
}
.about a:hover {
  color: black;
  text-decoration: underline;
}
.services a:hover {
  color:black;
  text-decoration: underline;
}
.blog a:hover {
  color: black;
  text-decoration: underline;
}
.contact a:hover {
  color: black;
  text-decoration: underline;
}
.padfoot1 {
  width: 25%;
  float: right;
  padding-right: 3%;
  padding-top: 3%;
}
.padfoot2 {
  width: 25%;
  padding-left: 1%;
  padding-top: 1%;
}
li {
  float: left;
  color: white;
  padding-left: 14%;
}
p {
  clear: both;
}
.banner {
  clear: both;
}
