img {
  border-radius: 50%;
  height: 500px;
  width: auto;
  float: left;
}

body {
  font-family: Avantgarde, sans-serif;
  color: white;
  background-color: black;
}

p {
  display: flex;
  align-items: center;
}
