* {
  font-family: sans-serif;
  margin: auto;
}

body {
  background: url(splat.jpg) no-repeat;
  background-size: 100%;
}

h1 {
  font-size:75px;
  font-family: fantasy;
}

a {
  font-size: 20px;
  color: skyblue;
  text-decoration: none;
  margin:10px;
}

a:hover {
  color: hotpink;
}

.topleft {
  width: 40%;
  float:left;
  margin:5%;
  text-align: center;
  color: skyblue;
}

.topright {
  width: 40%;
  float: right;
  margin:5%;
  text-align: center;
}

.left {
  float: left;
  clear:left;
  margin:5%;
  width:20%;
}

.right {
  float: right;
  clear:right;
  margin:5%;
  width:50%;
  border:3px solid hotpink;
  border-radius: 25px;
  padding: 3%;
  background-color:skyblue;
}

#smile {
  border-radius: 25%;
}
