* {
  font-family: sans-serif;
}

body {
  background-image: url("../../smoke.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 50px;
  font-size:75px;
  font-family: fantasy;
}

.top {
  text-align: center;
  color: skyblue;
}

.right {
  border:3px solid hotpink;
  border-radius: 25px;
  background-color:skyblue;
}

#smile {
  border-radius: 25%;
  width: 100%;
  height: auto;
  max-width: 400px;
}
