header{
  text-align: center;
  background-color: blue;
  height: 100px;
}
h1{
  font-family: verdana;
  font-size: 40px;
  color: white;
  padding-top: 25px;
}
main{
  display: flex;
}

body{
  background-color: #d7d8d0;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
}

p{
  font-size: 36px;
  font-family: Times New Roman;

}

footer{
  margin-top: 35px;
  display:flex;
  justify-content: space-around;
}
