main{
  margin: 0 auto;
  width: 100%;
  color: white;
  font-family: sans-serif;
}
body {
  background-color: black;
  margin: 0 auto;
  width: 80%;
}
h1 {
  background-color: yellow;
  color: black;
  font-family: sans-serif;
  text-align: center;
  font-weight: normal;
  padding: 25px;
  font-size: 55px
}
.Testimonials {
  display: flex;
}
.Quotes {
  background-color: purple;
  flex-direction: row;
  color: yellow;
  height: 250px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.bronze {
  background-color: purple;
}
.silver {
  background-color: purple;
}
.gold {
  background-color: purple;
}
