h1 {
    display: flex;
    background-color: yellow;
    justify-content: center;
    height: 90px;
    font-size: 72px;
    line-height: 90px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
}

form {
  color: white;
  width: 300px;
  height: 200px;
  padding: 40px;
}


body {
    background-color: black;
    width: 800px;
    margin: 0 auto;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.top {
    background-color: purple;
    color: yellow;
    height: 170px;
    width: 470px;
    font-size: 16px;
    margin: auto 90px;


}


.bottom {
    background-color: purple;
    color: yellow;
    height: 170px;
    width: 470px;
    font-size: 30px;
    font-size: 16px;
    margin: auto 90px;
}


section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.break {
  display: flex;
  justify-content:center;


}


#price {

    background-color: purple;
    color: yellow;
    width: 150px;
    height: 150px;


}
