body {display: flex;
  background-color: black;
  margin:auto;
  width: 100%
}

.gym {
  text-align: center;
  margin-left: 200px;

}
#flexbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#goal{
  background-color: yellow;
  font-size: 60px;
  width: 800px;

  }

  #arnold{
    width: 400px;
    background-color: purple;
    font-size: 30px;
  }
  #terminator {
    width:400px;
    background-color: purple;
    font-size: 30px;
  }
