body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: gold;
    padding: 20px 50px 20px 50px;
    font-size: 70px;
    width: 60%;
    text-align: center;
    align-items: center;
    align-content: center;
    font-weight: normal;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote1 {
    background-color: #8a2be2;
    color: gold;
    width: 29%;
    padding: 20px 30px 20px 30px;
    margin-right: 10px;
    font-size: 20px;
}

#flex {
    font-weight: bold;
}

#arnold {
    font-weight: lighter;
    margin-left: 200px;
    margin-bottom: 40px;
}

#quote2 {
    background-color: #8a2be2;
    color: gold;
    width: 29%;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

#section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

#first {
    font-weight: bold;
    text-align: center;
}

#second {
    font-weight: lighter;
    text-align: center;
}

#bronze {
    background-color: #8a2be2;
    color: gold;
    width: 20%;
    padding: 5px;
    margin-left: 210px;
}

#silver {
    background-color: #8a2be2;
    color: gold;
    width: 20%;
    padding: 5px;
}

#gold {
    background-color: #8a2be2;
    color: gold;
    width: 20%;
    padding: 5px;
    margin-right: 210px;
}

#sign-up {
    background-color: grey;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    padding: 12px 10px;
    margin-top: 5px;
}

#email {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40%;
    padding: 12px 10px;
    margin-top: 5px;
}

#phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;
    padding: 12px 10px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: grey;
    font-size: 20px;
    padding: 10px 55px;
    margin-top: 20px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}
