h1, h2, h3, h4, h5, p, li, a {
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
    background-image: url("../img/congruent_outline.png");
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
}

header {
    position: relative;
    margin: 0 auto;
    background-color: black;
    width: 66.6%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6%;
}

header>h1 {
    position: relative;
    text-align: center;
    background-color: black;
    flex-grow: 1;
    flex-shrink: 0;
}

h1 {
    color: red;
    font-size: 40pt;
    width: 100%;
}

main {
    position: relative;
    margin: 0 auto;
}

#testimonials {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    padding: 2.5%;
    width: 66.6%;
    margin: 0 auto;
}

article {
    margin: 0 auto;
    width: 33.3%;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.quote {
    position: relative;
    background-color: purple;
}

.testi1 {
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 2.5% 0 0 2.5%;
}

.testi2 {
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 2.5% 0 0 2.5%;
}
