    * {}

body {
    background-color: black;
    padding: inherit;
}

header {
    background-color: yellow;
    height: 150px;
    width: 800px;
    text-align: center;
    font-size: 45px;
    margin: 20px 100px;
}

h1 {
    margin-top: 50px;
}

h2 {
    color: white;
    text-align: center;
}

div {
    color: yellow;
    display: flex;
}

section {}

#Testimonials {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    background-color: black;
    font-color: yellow;
}

.Arnold {
    background-color: purple;
    height: 175px;
    width: 350px;
}

.Terminator {
    background-color: purple;
    height: 175px;
    width: 350px;
}

#Membership {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    margin:
}

#Sign-up {
    height: 175px;
    width: 840px;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.bronze {
    background-color: purple;
    height: 150px;
    width: 200px;
  }

    .silver {
        background-color: purple;
        height: 150px;
        width: 200px;
    }

    .gold {
        background-color: purple;
        height: 150px;
        width: 200px;
    }
