h1{
text-align:center;
font-size:80px;
font-family:helvetica;
background-color:yellow;
margin:auto;
width:51%;
}

#testimonials{
  margin:auto;
  display:flex;
  justify-content:center;
  text-align:center;
  padding:30px;

}

.left{
  padding-right:20px;
background-color:blue;
width:25%;
height:172px;
margin:5px;
}

.right{
  padding-left:20px;
  background-color:blue;
  width:25%;
  margin:5px;
}

#testimonials p{
  text-align:left;
  color:yellow;
  font-size:22px;
  padding-right:20px
}

.left p:nth-child(2) {
  float:right;
  color:yellow;

}
.right p:nth-child(2) {
  float:right;
  color:yellow;
  margin-right:10px;
}

.left p:first-child{
  padding-left:20px;
}
