h1 {
    display: flex;
    background-color: yellow;
    justify-content: center;
    height: 90px;
    font-size: 72px;
    line-height: 90px;
    height:100px;
    width: 800px;
    margin: 0 auto;

}

body {
    background-color: black;
}
h2{
  color: white;
  font-size: 30px;
}

.top {
    background-color: purple;
    color: yellow;
    height: 170px;
    width: 470px;
    font-size: 30px;
}

.bottom {
    background-color: purple;
    color: yellow;
    height: 170px;
    width: 470px;
    font-size: 30px;
    text-align: center;
}

#Arnold {
    display: flex;
    flex-direction: row;
}

#price {
    background-color: purple;
    color: yellow;
    width: 150px;
    height: 150px;
}
