
    body {
        font-family: sans-serif;
        width: 70%;
        margin: 0 auto;
        background-color: black;
        padding: inherit;
    }

    header {
        display: flex;
        justify-content: space-around;
        background-color: yellow;
        height: 150px;
        width: 80%;
        text-align: center;
        font-size: 45px;
        padding: 20px 100px;
        margin-bottom: 25px;
    }

    h1 {

    }

    h2 {
        color: white;
        text-align: center;
    }

    div {
        color: yellow;
        display: flex;
    }

    section {}

    button {
        height: 50px;
        width: 80%;
        background-color: darkgrey;
        display: flex;
        justify-content: space-around;

    }

    #Testimonials {
        display: flex;
        justify-content: space-around;

        background-color: black;
        font-color: yellow;
    }

    .cost {
      font-size: 1em;
    }

    .Arnold {
        background-color: purple;
        height: 175px;
        width: 350px;
    }

    .Terminator {
        background-color: purple;
        height: 175px;
        width: 350px;
    }

    #Membership {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: black;
        margin:
    }

    #Sign-up {
        height: 175px;
        width: 840px;
        display: flex;
        justify-content: center;
        background-color: lightgrey;
    }

    .bronze {
        background-color: purple;
        height: 150px;
        width: 200px;
    }

    .silver {
        background-color: purple;
        height: 150px;
        width: 200px;
    }

    .gold {
        display: flex;
        background-color: purple;
        height: 150px;
        width: 200px;
    }
