.backgroundimg {
  background-image: url("../img/wine-bg.jpg");
  background-size: cover;
  height: 500px;
  width: auto;
  background-color: #6e6e6e;
  background-blend-mode: multiply;
}
.backgroundimg h1, .backgroundimg p{
  color: white;
  text-align: center;
}
.backgroundimg h1 {
  padding-top: 15%;

}
.backgroundimg p {
  padding-top: 2%;
}
.hardworkimg {
background-image: url("../img/wine16.jpg");
background-repeat: no-repeat;
height: 900px;
max-height: 500px;
}
.est {
  font-size: 10px;
color: #b9b9b9;
padding-top: 15%;
text-align: center;
}
.hardwork p:nth-of-type(2), .hardwork h3{
text-align: center;
padding: 2% 15%;
}
.history {
  background-image: url("../img/wine13.jpg");
  background-color: #6e6e6e;
  background-blend-mode: multiply;
  background-size: cover;
}
.history h3, .history p {
  color:white;
  text-align: center;
  padding: 2% 15%;
}
.history{
  padding: 15%;
}
.bottlessection img{
  max-height: 300px;
  padding: 0 35%;
}
.bottlessection {
  text-align: center;
}
.bottlessection a {
  background-color: #91a05d;
  color:white;
  text-decoration: none;
  padding: 5px 15px;
}
.bottlessection a:hover {
    background-color: white;
    color: #91a05d;
    border: #91a05d solid 2px;
    text-decoration: none;
}
@media (max-width: 1199px) {
  .bottlessection img{
    padding: 0 45%;
    width:100%;
  }

}
