main {}
header {
    font-family: fantasy;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
header h2 {
    float: left;
}
nav ul {
    list-style-type: none;
    background-color: red;
}
nav ul li {
    display: inline;
    float: right;
}
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border: none;
}
body {
    text-align: center;
}
#bodydiv {
    width: auto;
    height: 600px;
    background-image: url("../img/whodini1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
body h1 {
    padding-top: 300px;
    font-size: 4rem;
    color: lightgrey;
    font-family: cursive;
}
body h3 {
    font-size: 2rem;
    font-family: cursive;
    color: darkgrey;
    padding: 20px 0;
}
body a {
    font-size: 1rem;
    border: 2px solid darkgrey;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}
aside {
    width: 80%;
    float: left;
    margin-left: 12%;
    padding: 20px 0;
}
.asidediv1 {
    background-image: url(../img/whodini2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 200px;
    float: left;
}
.asidediv2 {
    background-color: #cccccc;
    width: 60%;
    height: 170px;
    float: left;
    margin-left: 20px;
    padding: 30px 10px 0px;
}
aside h2 {
    font-size: 1.5rem;
    font-family: cursive;
}
body aside div a {
    font-size: 1.5rem;
    font-family: cursive;
    text-decoration: none;
    color: white;
    border: none;
}
aside p {
    font-size: .75rem;
    color: black;
}
section {
    margin-top: 20px;
}
section div p {
    font-size: .75rem;
}
#sec1 {
    background-color: grey;
    width: 80%;
    height: 500px;
    float: left;
    margin-left: 10%;
}
#sec1 div {
    width: 20%;
    height: 450px;
    display: inline-block;
    background-color: white;
    margin: 5px 5px 0 0;
    border: 1px solid black;
}
#sec1 div #picdiv1 {
    width: 80%;
    height: 150px;
    background-image: url("../img/whodini6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec1 div #textdiv1 {
    width: 80%;
    height: 200px;
    border: none;
}
#sec1 div #picdiv2 {
    width: 80%;
    height: 150px;
    background-image: url("../img/whodini4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec1 div #textdiv2 {
    width: 80%;
    height: 200px;
    border: none;
}
#sec1 div #picdiv3 {
    width: 80%;
    height: 150px;
    background-image: url("../img/whodini3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec1 div #textdiv3 {
    width: 80%;
    height: 200px;
    border: none;
}
#sec1 div #picdiv4 {
    width: 80%;
    height: 150px;
    background-image: url("../img/whodini5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec1 div #textdiv4 {
    width: 80%;
    height: 200px;
    border: none;
}
#sec2 {
    /**  background-color: grey; **/
    width: 80%;
    height: 300px;
    float: left;
    margin-left: 10%;
    padding-top: 20px;
}
#sec2 div {
    width: 40%;
    height: 250px;
    display: inline-block;
    background-color: white;
    margin: 5px 5px 0 0;
    border: 1px solid black;
}
#sec2 div #picdiv5 {
    width: 55%;
    height: 150px;
    background-image: url("../img/whodini7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec2 div #textdiv5 {
    width: 80%;
    height: 50px;
    border: none;
}
#sec2 div #picdiv6 {
    width: 80%;
    height: 150px;
    background-image: url("../img/whodini8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sec2 div #textdiv6 {
    width: 80%;
    height: 50px;
    border: none;
}
#sec3 {
    width: 80%;
    height: 600px;
    background-image: url("../img/whodini9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 10%;
    padding-top: 20px;
}
#div7 {
    height: 100px;
    width: 40%;
    background-color: lightgrey;
    opacity: .4;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
}
#div8 {
    height: 80px;
    width: 40%;
    background-color: lightgrey;
    opacity: .4;
    margin-top: -84px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#sec3 h1 {
    color: black;
}
#sec3 h3 {
    color: black;
}
#sec3 a {
    color: black;
    background-color: lightgrey;
    opacity: .4;
}
