body {
    background-color: #f7f7f7;
}
header {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  color: #fff;
}
header h1 {
  font-size: 400%;
  width: 40%;
  margin-top: 16%;
}
header p {
  font-family: sans-serif;
  width: 40%;
  margin: 5% 0;
  line-height: 175%;
}
main {
  padding: 5% 0;
  height: 80px;
}
section {
    float: left;
    width: 40%;
    padding: 0 5%;
}
section h2 {
  font-size: 160%;
}
section p {
  margin-top: 3%;
  color: #c2b8ae;
  font-size: 90%;
}
.clearfix {
  clear: both;
  content: "";
  display: block;
}
@media (max-width: 768px){
  header {
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
  }
  header h1 {
    font-size: 150%;
    width: 65%;
  }
  header p {
    font-size: 65%;
    width: 33%;
    margin-top: 5%;
  }
  main {
    padding: 10% 5%;
    height: 255px;
  }
  section {
      width: 100%;
      float: none;
      padding: 0;
  }
  section h2 {
    font-size: 90%;
  }
  section p {
    padding: 5% 0;
    font-size: 75%;
  }
}
