.main-picture img {
  height: 400px;
  width: 100%;
}

.main-picture h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 85px;
  font-size: 4em;
}

.bottom-picture {
  margin-top: 15px;
}

.bottom-picture .left-side img {
  width: 100%;
  height: 280px;

}
.bottom-picture .center-side img {
  width: 100%;
  height: 280px;
  }
.bottom-picture .upper-image {
  padding-bottom: 35px;
}
