.header {
    color: white;
    padding: 40px;
    width: 100%auto;
    ;
}
h2 {
    float: left;
    margin-top: -15px;
    font-weight: lighter;
    font-size: 30px;
}
.header a {
    float: right;
    margin-right: 25px;
    margin-top: -8px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}
.index {
    background-image: url("../img/wine-bg.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    margin: auto;
}
.textbox {
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
}
.textbox p {
    padding-bottom: 20px;
    font-weight: lighter;
    color: white;
    font-size: 20px;
    padding-top: 90px;
}
.textbox h1 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
}
.textbox p {
    font-weight: lighter;
    color: white;
}

/*second area*/

article:after {
    content: "";
    display: block;
    clear: both;
}
.housepic {
    float: right;
    padding-right: 150px;
    padding-left: 150px;
}
.housepic img {
    width: auto;
    height: 500px;
}
.housepicphone img {
    height: 500px;

}
.webuild {
    padding: 30px;
    text-align: center;
    padding-top: 100px;
    font-family: helvetica;
    font-weight: lighter;
    padding-left: 100px;
    font-size: 20px;
}
.webuild2 {
    padding: 30px;
    text-align: center;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 20px;
}

.webuild h4 {
    padding-bottom: 30px;
}
.webuild h3 {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}
.webuild p {
    font-size: 15px;
}

/*third area*/

.years {
    background-image: url("../img/wine13.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
    margin: auto;
}
.paragraph {
    text-align: center;
    margin: 0 auto;
    padding-top: 170px;
    font-family: helvetica;
    font-weight: lighter;
}
.paragraph p {
    padding-bottom: 20px;
    font-weight: lighter;
    color: white;
    font-size: 15px;
    padding-top: 90px;
}
.paragraph h1 {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}
.paragraph p {
    font-weight: lighter;
    color: white;
}

/*fourth area*/

.bottles {
    width: 100%;
    font-family: helvetica;
    font-weight: lighter;
    float: left;
    margin-bottom: 15px;
}
.left {
    width: 25%;
    /*float: left;*/
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 70px;
}
.left img {
    width: auto;
    height: 400px;
}
.center {
    /*float: left;*/
    width: 25%;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: center;
    margin-left: 70px;
}
.center img {
    width: auto;
    height: 400px;
}
.right {
    /*float: left;*/
    width: 25%;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    margin-left: 70px;
}
.right img {
    width: auto;
    height: 400px;
}
.button {
    height: 35px;
    width: 120px;
    background-color: green;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 110px;
}
.button a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 18px;
}
.bottles h3 {
font-weight: bold;
font-size: 20px;
padding:10px;
}
/*phone only*/
.left2 {
    /*width: 25%;*/
    /*float: left;*/
    /*padding-left: 20px;*/
    margin-bottom: 20px;
    text-align: center;
    /*margin-left: 60px;*/
}
.left2 img {
    width: auto;
    height: 400px;
}
.right2 {
    /*float: left;*/
    /*width: 25%;*/
    margin-bottom: 20px;
    /*padding-left: 10px;*/
    text-align: center;
    /*margin-left: 60px;*/
}
.right2 img {
    width: auto;
    height: 400px;
}
.center2 {
    /*float: left;*/
    /*width: 25%;*/
    margin-bottom: 20px;
    /*padding-left: 30px;*/
    text-align: center;
    /*margin-left: 60px;*/
}
.center2 img {
    width: auto;
    height: 400px;
    padding-bottom:10px;
}
