.body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 14px;
    font-family: Open Sans, serif;
    font-weight: 100;
    line-height: 22pt;
    letter-spacing: 0.2pt;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

/* NOTE:.nav-bar-default {
    height: 70px;
}

.container-fluid {
    color: black;
    margin: auto;
}

.container-fluid a {
    color: black;
}

.navbar {
    position: relative;
    min-height: 100px;
    border: 1px solid transparent;
    margin-bottom: -1px;
    padding-left: 0px;
    padding-right: 48px;
    color: black;
    font-size: 15px;
}

.navbar-brand img {
    margin-left: 45px;
}

.navbar-nav {
    padding-right: 5px;
}
  */
.first-box {
    height: 900px;
}

.first-left {
    color: black;
    height: 780px;
    background-color: #f4ed48;
    width: 45%;
    margin-left: 59px;
}

.first-left i {
    font-size: 80px;
    padding-top: 140px;
    color: black;
    padding-left: 71px;
    overflow: hidden;
}

.first-left h1 {
    font-size: 41pt;
    line-height: 41pt;
    margin-left: 51px;
    padding-right: 191px;
    padding-top: 3px;
}

.first-left h4 {
    margin-left: 51px;
    line-height: 25pt;
    font-size: 19px;
    width: 85%;
    padding: 15px 0px;
    padding-right: 134px;
}

.first-right {
    margin-left: 16px;
    width: 24%;
}

.first-right img {
    width: 100%;
    height: 374px;
}

.first-text {
    width: 100%;
    height: 374px;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 114px;
    margin-top: 31px;
}

.first-text img {
    width: 5%;
}

.second-part {
    width: 25%;
}

.far-right-first img {
    width: 100%;
    height: 374px;
}

.far-right-two img {
    width: 100%;
    height: 406px;
    padding-top: 29px;
}

.row-two {
    height: 837px;
    clear: both;
    padding-top: 40px;
    margin-left: 45px;
    margin-right: 59px;
    width: 100%;
}

.row-two-left {
    width: 24%;
}

.row-two img {
    width: 100%;
    height: 358px;
}

.row-two-text {
    width: 100%;
    height: 390px;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 114px;
    margin-top: 31px;
}

.second-part {
    width: 23%;
}

.row-two-right {
    padding-bottom: 32px;
}

.row-two-bottom img {
    width: 100%;
    height: 390px;
}

.second-large {
    color: black;
    height: 780px;
    background-color: #eeeeee;
    width: 45%;
    margin-left: 11px;
}

.second-large h1 {
    font-size: 44pt;
    line-height: 42pt;
    margin-left: 42px;
    margin-right: 144px;
    padding-top: 17px;
}

.second-large h4 {
    margin-left: 43px;
    line-height: 25pt;
    font-size: 19px;
    width: 85%;
    padding: 15px 0px;
    padding-right: 103px;
}

.second-large i {
    font-size: 55px;
    padding-top: 140px;
    color: black;
    padding-left: 51px;
    overflow: hidden;
}

.multi-media {
    height: 50px;
}

@media (min-width: 768px) {
    .body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 14px;
        font-family: Open Sans, serif;
        font-weight: 100;
        line-height: 22pt;
        letter-spacing: 0.2pt;
        background-color: #f5f5f5;
        -webkit-font-smoothing: antialiased;
    }
/* NOTE:.nav-bar-default {
        height: 70px;
    }
    .container-fluid {
        color: black;
        margin: auto;
    }
    .container-fluid a {
        color: black;
    }
    .navbar {
        position: relative;
        min-height: 100px;
        border: 1px solid transparent;
        margin-bottom: -1px;
        padding-left: 0px;
        padding-right: 48px;
        color: black;
        font-size: 15px;
    }
    .navbar-brand img {
        margin-left: 45px;
    }
    .navbar-nav {
        padding-right: 5px;
    }
  */
    .first-box {
        height: 900px;
    }
    .first-left {
        color: black;
        height: 780px;
        background-color: #f4ed48;
        width: 45%;
        margin-left: 59px;
    }
    .first-left i {
        font-size: 80px;
        padding-top: 140px;
        color: black;
        padding-left: 71px;
        overflow: hidden;
    }
    .first-left h1 {
        font-size: 41pt;
        line-height: 41pt;
        margin-left: 51px;
        padding-right: 191px;
        padding-top: 3px;
    }
    .first-left h4 {
        margin-left: 51px;
        line-height: 25pt;
        font-size: 19px;
        width: 85%;
        padding: 15px 0px;
        padding-right: 134px;
    }
    .first-right {
        margin-left: 16px;
        width: 24%;
    }
    .first-right img {
        width: 100%;
        height: 374px;
    }
    .first-text {
        width: 100%;
        height: 374px;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 114px;
        margin-top: 31px;
    }
    .second-part {
        width: 25%;
    }
    .far-right-first img {
        width: 100%;
        height: 374px;
    }
    .far-right-two img {
        width: 100%;
        height: 406px;
        padding-top: 29px;
    }
    .row-two {
        height: 837px;
        clear: both;
        padding-top: 40px;
        margin-left: 45px;
        margin-right: 59px;
        width: 100%;
    }
    .row-two-left {
        width: 24%;
    }
    .row-two img {
        width: 100%;
        height: 358px;
    }
    .row-two-text {
        width: 100%;
        height: 390px;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 114px;
        margin-top: 31px;
    }
    .second-part {
        width: 23%;
    }
    .row-two-right {
        padding-bottom: 32px;
    }
    .row-two-bottom img {
        width: 100%;
        height: 390px;
    }
    .second-large {
        color: black;
        height: 780px;
        background-color: #eeeeee;
        width: 45%;
        margin-left: 11px;
    }
    .second-large h1 {
        font-size: 44pt;
        line-height: 42pt;
        margin-left: 42px;
        margin-right: 144px;
        padding-top: 17px;
    }
    .second-large h4 {
        margin-left: 43px;
        line-height: 25pt;
        font-size: 19px;
        width: 85%;
        padding: 15px 0px;
        padding-right: 103px;
    }
    .second-large i {
        font-size: 55px;
        padding-top: 140px;
        color: black;
        padding-left: 51px;
        overflow: hidden;
    }
    .multi-media {
        height: 50px;
    }
}

@media (max-width: 768px) {
    .body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 14px;
        font-family: Open Sans, serif;
        font-weight: 100;
        line-height: 22pt;
        letter-spacing: 0.2pt;
        background-color: #f5f5f5;
        -webkit-font-smoothing: antialiased;
    }
  /* NOTE: .nav-bar-default {
        height: 70px;
    }
    .container-fluid {
        color: black;
        margin: auto;
    }
    .container-fluid a {
        color: black;
    }
    .navbar {
        position: relative;
        min-height: 100px;
        border: 1px solid transparent;
        margin-bottom: -1px;
        padding-left: 0px;
        padding-right: 48px;
        color: black;
        font-size: 15px;
    }
    .navbar-brand img {
        margin-left: 45px;
    }
    .navbar-nav {
        padding-right: 5px;
    }
   */
    .first-box {
        height:374px;
        width: 100%
    }
    .first-left {
        color: black;
        height: 374px;
        background-color: #f4ed48;
        width: 91%;
        margin-left: 17px;
    }
    .first-left i {
        font-size: 45px;
        padding-top: 15px;
        color: black;
        padding-left: 0px;
        overflow: hidden;
    }
    .first-left h1 {
        font-size: 17pt;
        line-height: 17pt;
        margin-left: 7px;
        padding-right: 33px;
        padding-top: 0px;
    }
    .first-left h4 {
        margin-left: 6px;
        line-height: 17pt;
        font-size: 11px;
        padding-right: 4px;
    }
    .first-right {
        margin-left: 2px;
        width: 99%;
        padding-top: 10px;
    }
    .second-phone {
        margin-left: 2px;
        padding-top: 10px;
    }
    .second-phone img {
        width: 100%;
        height: 374px;
        padding-right: 3px;
    }
    .first-right img {
        width: 100%;
        height: 374px;
    }
    .first-text {
        width: 100%;
        height: 374px;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 114px;
        margin-top: 10px;
    }
    .second-part {
        width: 25%;
    }
    .far-right-first img {
        width: 100%;
        height: 374px;
    }
    .far-right-two img {
        width: 100%;
        height: 406px;
        padding-top: 29px;
    }
    .hidden-leather img {
        width: 100%;
        height: 374px;
        padding-right: 3px;
        padding-top: 10px;
    }
    .row-two {
        clear: both;
        padding-top: 10px;
        margin-left: 0px;
        height: 374px;
    }
    .row-two-left {
        width: 99%;
        height: 374px;
    }
    .row-two img {
        width: 100%;
        height: 358px;
    }
    .row-two-text {
        width: 50%;
        height: 390px;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 14px;
        margin-top: 31px;
    }
    .second-part {
        width: 99%;
    }
    .row-two-bottom img {
        width: 100%;
        height: 390px;
    }
    .second-large {
        font-size: 17pt;
        line-height: 17pt;
        padding-left: 7px;
        padding-right: 33px;
        padding-top: 0px;
        width: 93%;
        margin-top: -17px;
        height: 374px;
    }
    .second-large h1 {
        font-size: 20pt;
        line-height: 31pt;
        padding-left: 20px;
        padding-top: 7px;
        margin: 0px;
    }
    .second-large h4 {
        margin-left: 22px;
        line-height: 18pt;
        font-size: 15px;
        width: 85%;
        padding: 15px 0px;
        padding-top: 2px;
    }
    .second-large i {
        font-size: 46px;
        padding-top: 15px;
        color: black;
        padding-left: 20px;
        overflow: hidden;
    }
    .multi-media {
        height: 50px;
    }
    .bottom-text {
        width: 93%;
        height: 390px;
        background-color: #eeeeee;
        text-align: center;
        padding-top: 14px;
        margin-top: 10px;
        margin-left: 11px;
    }
    .bottom-text h3 {
        padding-top: 115px;
    }
  .bottom-books{
    margin-left: -4px;
        width: 101%;
        padding-top: 10px;
}
.multi-media{
  color: black;
  height: 100px;
  background-color: #f4ed48;
  margin-left: 11px;
  width: 93%;
  margin-top: 14px;
}
.email{
text-align: center;
padding-top: 40px;
}
.email a{
  color: black;
}
}
