body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-inverse {
  margin-bottom: 0;
}

.navbar-brand {
  color:pink;
}

.banner {
  margin:0;
  background-image: url(../img/sub_header_home.jpg);
  height:70vh;
  width:100vw;
  color:white;
  background-size: cover;
  text-align: center;
  padding-top: 12%;
  font-weight: 100;
}

.banner h1 {
  color:white;
  font-size:3.5em;
}

.icons{
  text-align: center;
  padding-top: 2%;
}

.icons p {
  font-size:10px;
}
