.navbar-inverse .navbar-nav > li > a {
   font-size: 14pt;
   font-family: Arial;
}

.navbar-brand img {
   max-width: 60px;
   height: auto;
   float: left;
   margin-top: -15px;
   margin-left: -10px;
}

#header {
   background-image: url(../img/sub_header_home.jpg);
   background-size: cover;
   height: 800px;
   margin-bottom: 30px;
}

#header h1 {
   color: white;
   font-size: 60pt;
   padding-top: 16%;
}

#header p {
   color: white;
   font-size: 16pt;
}
