/* .trial {
  height:auto;
  width:auto;
  background-color: #414042;
} */

html body {
  width: 1280px;
  margin: auto;
  font-family: proxima-nova, sans-serif !important;
  /* height: 100%;
  overflow: hidden; */
}

.buttontrial {
  color: white;
  text-align: center;
  width: 100%;
  height: 32px;
  background-color: #414042;
  border: none;
  font-size: 16px;
  font-family: proxima-nova, sans-serif padding: 6px;
  font-weight: normal;
}

.buttontrial:hover {
  background-color: #71B044;
}

.navbar {
  width: 1280px;
  height: 60px;
  display: inline-block;
  padding: 17px 0px 17px 0px;
}

.navbar ul {
  width: 1280px;
  margin: 0px;
  padding: 0px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.navbar ul li a img {
  /* margin-top: 40px; */
}

a {
  /* display: inline-block; */
  text-decoration: none;
  margin: 20px;
  color: black:
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button1 {
  display: block;
  margin-left: 400px;
  margin-right: auto;
  width: 120px;
  height: 51px;
  color: white;
  font-size: 16px;
  border-style: none;
  padding-left: 26px;
  padding-right: 0px;
}

.button2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 50px;
  width: 120px;
  height: 51px;
  color: white;
  font-size: 16px;
  background-color: #71B044;
  border-style: none;
  padding-left: 15px;
  padding-right: 0px;
}

.button a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}

.section1 {
  width: 1280px;
  height: 500px;
  background-image: url(../img/bg-home3-1400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.bigbox {
  width: 1170px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.littlebox {
  width: 320px;
  height: 260px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  padding: 20px 20px 70px 20px;
  /* margin: 45px 20px 35px; */
  background-color: white;
  float: right;
  text-align: center;
  border-radius: 10px
}

span {
  color: #71B044;
}

.littlebox h1 {
  display: block;
  /* margin-top: 180px;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
  width: 320px;
  height: 104;
  font-family: proxima-nova, sans-serif;
  font-size: 44px;
}

.littlebox h2 {
  width: 320px;
  height: 56;
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.centeredtext:after {
  background: none repeat scroll 0 0 black;
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  width: 100px;
  margin-left: 575px;
}

.startbutton a {
  margin: 0px;
  padding: 0px;
}

.startbutton {
  width: 320px;
  height: 40px;
  background-color: #71B044;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
}

button {
  text-align: center;
}

.centeredtext {
  text-align: center;
  font-size: 28px;
}

.row {
  display: inline-block;
}

.column1 {
  text-align: center;
  width: 245px;
  height: 326px;
  padding: 0px 30px 0px 30px;
  margin-left: 30px;
  float: left;
}

.column2 {
  text-align: center;
  width: 245px;
  height: 326px;
  padding: 0px 30px 0px 30px;
  float: left;
}

.column3 {
  text-align: center;
  width: 245px;
  height: 326px;
  padding: 0px 30px 0px 30px;
  float: right;
}

.column4 {
  text-align: center;
  width: 245px;
  height: 307px;
  padding: 0px 30px 0px 30px;
  float: right;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 178.75px;
  height: 170px;
}

.pic {
  width: 1280px;
  height: 500px;
  background-image: url(../img/testimonials1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  position: absolute;
}

.centeredtext {
  text-align: center;
}

.test-box {
  width: 520px;
  height: 360px;
  display: block;
  margin-top: 290px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 50px 20px;
  /* margin: 45px 20px 35px; */
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.testbox h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-size: 28px;
  font-family: proxima-nova, sans-serif;
}

.test {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #4a4a4a;
  font-size: 20px;
  font-style: italic;
  font-family: proxima-nova, sans-serif;
}

.testimg {
  align-items: center;
  height: 50px;
  width: 200px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

.testimg span {
  color: black;
}

.bottom {
  width: 1280px;
  height: 584px;
  margin-top: 584px;
  background-image: url(../img/bg-bottom-1600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.moretime {
  padding-top: 200px;
  width: 1170px;
  height: 200px;
  text-align: center;
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

input {
  border: #000;
  padding: 10px;
  font-size: 1.2em;
  width: 300px;
  height: 45px;
}


.moretime h3 {
  width: 1170px;
  font-size: 36px;
}

.moretime h4 {
  font-size: 20px;
  font-weight: normal;
}

.footer {
  width: 1280px;
  height: 500px;
  display: inline-block;
  padding-top: 20px;
   !important
}

.linkbox {
  margin-top: 20px;
  width: 1280px;
  height: 210px;
}

.linkbox ul {
  padding: 0px;
  margin: 0px;
}

.links1 {
  width: 200px;
  height: 110px;
  padding: 10px;
  margin-left: 225px;
  float: left;
  font-size: 16px;
  text-align: left;
  /* margin-left: 50px */
}

.links2 {
  width: 200px;
  height: 150px;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: left;
}

.links3 {
  width: 200px;
  height: 150px;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: left;
}

.links4 {
  width: 200px;
  height: 150px;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: left;
}

.links1 ul li a {
  padding: 0px;
  margin: 0px;
  color: #8f8e94;
}

.links1 ul li a:hover {
  color: #71B044;
}

.links1 ul li {
  list-style: none;
  margin: 0px;
   ! padding-left: 0px;
  color: #8f8e94;
  text-align: left;
}

.links2 ul li a {
  padding: 0px;
  margin: 0px;
  color: #8f8e94;
}

.links2 ul li a:hover {
  color: #71B044;
}

.links2 ul li {
  list-style: none;
  text-align: left;
  color: #8f8e94;
}

.links3 ul li a {
  padding: 0px;
  margin: 0px;
  color: #8f8e94;
}

.links3 ul li a:hover {
  color: #71B044;
}

.links3 ul li {
  list-style: none;
  text-align: left;
  color: #8f8e94;
}

.links4 ul li a {
  padding: 0px;
  margin: 0px;
  color: #8f8e94;
}

.links4 ul li a:hover {
  color: #71B044;
}

.links4 ul li {
  list-style: none;
  text-align: left;
  color: #8f8e94;
}

.socialicons {
  margin-top: 30px;
  text-align: center;
}

.socialicons a {
  color: #8f8e94;
  font-size: 16px;
  font-weight: normal;
}

.socialicons p {
  color: #8f8e94;
  font-weight: lighter;
}
