body {
  width: 1050px;
  margin: auto;
}

.main_nav {
  display: flex;
  width: 1050px;
  height: 80px;
  justify-content: flex-end;
  align-content: space-between;
  /*border: 1px solid red;*/
  background: #272E38;
  position: fixed;
}

.home_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  /*border: 1px solid red;*/
}

.services_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  /*border: 1px solid red;*/
}

.contact_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  /*border: 1px solid red;*/
}

.image_wrapper {
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 5;
  background-image: url("../IMG/wall-animal-dog-pet.jpg");
}

.image_text {
  font-family: 'Syncopate', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin-top: 175px;
}

.content_wrapper {
  width: 100%;
  height: 600px;
  display: grid;
  /*grid-gap: 20px;*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr .5fr;
  /*border: 1px solid red;*/
  background: #64e5f6;
}

.content_header {
  /*border: 1px solid red;*/
  font-family: 'Syncopate', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  grid-row: 1 /1;
  grid-column: 1 / 4;
  background: #272E38;
  text-align: center;
  padding-top: 20px;
}

.content_box_1 {
  grid-row: 2 /3;
  grid-column: 1 / 2;
  padding-left: 20px;
  /*border: 1px solid red;*/
}

.content_box_2 {
  grid-row: 2 /3;
  grid-column: 2 / 3;
  padding-left: 20px;
  /*border: 1px solid red;*/
}

.content_box_3 {
  grid-row: 2 /3;
  grid-column: 3 / 4;
  padding-left: 20px;
  /*border: 1px solid red;*/
}

.social_media {
  /*border: 1px solid red;*/
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  text-align: center;
}

h3 {
  color: white;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
  text-align: center;
  background: #272E38;
}

.menu {
  color: white;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 30px;
}

.material-icons {
  color: white;
  padding-left: 10px;
}

p {
  color: white;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 14px;
  background: #272E38;
}

@media (max-width: 699px) {
  .main_nav {
    flex-direction: column;
  }
  .content_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
  }
  .content_header {
    grid-row: 1 /2;
    grid-column: 1 / 2;
  }
  .content_box_1 {
    grid-row: 2 /3;
    grid-column: 1 / 2;
  }
  .content_box_2 {
    grid-row: 3 /4;
    grid-column: 1 / 2;
  }
  .content_box_3 {
    grid-row: 4 /5;
    grid-column: 1 / 2;
  }
  .social_media {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
}