.boxy {
  border: 1px red solid;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
  color: white
}

#wrapper {
  display: grid;
  margin: auto;
  width: 1200px;
  grid-template: repeat(3, 1fr), repeat(6, 1fr);
}

.test {
  height: 100px;
  width: 400px;
}

header {
  grid-column-start: span 3;
  display: flex;
}

header>img {
  height: 100px;
  width: auto;
}

menu {
  grid-column-start: span 3;
  display: flex;
  background-color: #0E76BC;
  height: 40px;
  align-items: center;
  margin-bottom: 15px;
}

menu>a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

menu>a:hover {
  color: #8DC63F;
}

div>img {
  grid-column-start: span 2;
}

.video {
  grid-column-start: span 2;
}

footer {
  grid-column-start: span 3;
}