#wrapper {
  width: 1000px;
  height: 1000px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-column: span 5;
  grid-row: span 1;
  background-color: lightgreen;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding-top: 50px;
}

.thirdSection {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  grid-column: span 4;
  grid-row: span 2;
}

main {
  /* width: 100%;
  height: 400px; */
  grid-column: span 4;
  grid-row: span 4;
  background-color: gray;
}

section {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: solid 1px black;
}

article {
  width: 200px;
  text-align: center;
}

.middle {
  grid-column: span 4;
}

@media (max-width: 999px) {
  #wrapper {
    width: 500px;
  }
  header {
    grid-column: span 2;
    grid-row: span 3;
  }
  main {
    grid-column: span 2;
    grid-row: span 3;
  }
  article {
    grid-column: span 2;
    grid-row: span 3;
  }
  p {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}