/*few rules for mobile*/
@media (max-width: 480px) {
  .headText {
    display: none;
  }

  .icons {
    display: none;
  }

  h3 {
    font-size: 15px;
  }

  .thumb {
    height: 70px;
    width: 120px;
  }
}

/*header bkimg and text*/
header {
  height: 93vh;
  background-image: url("../img/austin.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #EDE6D6
}

h1 {
  font-family: sans-serif;
  padding-top: 5vh;
  font-size: 50px;
}

.headText {
  width: 300px;
  font-size: 18px;
  padding-left: 2vh;
  font-family: sans-serif;
}

/*social bar*/
.social {
  height: 7vh;
  background-color: black;
}

/*styling for social icons*/
.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    height: inherit;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
  background-color: #007BB5;
  color: white;
}

.fa-github {
  background-color: white;
  color: black;
}

/*about and work bkgrnd*/
.background {
  background-color: #EDE6D6;
}

/*about sec*/
#about {
  margin-top: 4vh;
  background-color: black;
  color: #EDE6D6;
}

.text {
  padding: 3vh;
}

/*work sec*/
#work {
  margin-top: 4vh;
  margin-bottom: 4vh;
  background-color: black;
  color: #EDE6D6;
  padding-left: 2vh;
  padding-top: 2vh;
}

.flexo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4vh;
}

.thumb {
  height: 115px;
  width: 204px;
  background-color: black;
}

.thumb:hover {
  opacity: 0.7
}

/*contact sec*/
footer {
  background-color: black;
  color: #EDE6D6;
  font-family: sans-serif;
}

.contactSocial {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}
