html {
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  font-size: 20px;
  background-color: grey;
}

h1 {
  text-align: center;
}

.main_content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 20px;
  float: right;
}

.Kansas {
  transition: transform 2s;
}

.Kansas:hover {
  opacity: .5;
  transform: scale(1.5);
}

.Kansas2 {
  transition: transform 2s;
}

.Kansas2:hover {
  opacity: .5;
  transform: scale(1.5);
}

.Kansas3 {
  transition: transform 2s;
}

.Kansas3:hover {
  opacity: .5;
  transform: scale(1.5);
}

.Kansas4 {
  transition: transform 2s;
}

.Kansas4:hover {
  opacity: .5;
  transform: scale(1.5);
}

article {
  padding: 25px;
}

.paragraph {
  outline: white solid normal;
  color: white;
  height: 1000px;
  width: 200px;
  border: .5px solid white;
  float: left;
  padding: 25px;
  word-wrap: break-word;
  margin-top: 21px;
}

p {
  color: white;
  word-wrap: break-word;
}

ul {
  margin: 25px;
}
