@media (min-width: 300px) and (max-width: 2100px) {
    body {
        line-height: 1.4;
        margin: 30px 50px;
        background-color: black;
}
#grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 315px 1fr 1fr; 
     grid-auto-rows: 55px;
}  
    .meImg {
        grid-column: 3/4;
        grid-row: span 4;
}
    
    .meImg img {
        height: 200px;
        width: 200px;
        padding: 50px;
        margin-left: 10px;
        margin-bottom: 20px;
}
#phonelinks {
        display: flex;
        justify-content: space-around;
        grid-column: 3;
        grid-row: 8;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        font-weight: bold;
}
    #phonelinks img {
        height: 40px;
        width: 40px;
}
    .contact1 {
        grid-column: 3/4;
        grid-row: 3/6;
        font-size: 140%;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: -42px;
}
    .homepage1 {
        grid-column: 2/5;
        grid-row: 5/8;
        font-size: 124%;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 2px solid black;
        opacity: 0.6;
        font-weight: bold;
}
    .education1 {
        grid-column: 2/5;
        grid-row: 5/8;
        font-size: 115%;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        font-weight: bold;
} 
}

@media (min-width: 701px) and (max-width: 2140px) {
    body {
        line-height: 1.4;
        margin: 30px 50px;
        background-color: black;
}
    #grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 315px 1fr 1fr; 
         grid-auto-rows: 55px;
}   
    .meImg {
        grid-column: 3/4;
        grid-row: span 4;
} 
    .meImg img {
        height: 250px;
        width: 250px;
        padding: 25px;
        margin-top: -10px;
}
    .phlinks {
        display: flex;
        justify-content: space-around;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        font-weight: bold;
}
    .phlinks img {
        height: 35px;
        width: 35px;
}
    .phomepage1 {
        grid-column: 2/5;
        grid-row: 5/8;
        font-size: 144%;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        font-weight: bold;

}
    .education1 {
        grid-column: 2/5;
        grid-row: 5/8;
        font-size: 132%;
        text-align: center;
        background-color: rgb(187, 181, 181);
        border: 1px solid black;
        opacity: 0.6;
        font-weight: bold;
} 
}