body {
  width: 100%;

}
main {
  width: 98%;
}

#headercont {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;

}

#namecont h1{
  font-size: 30px;
  margin: 0px;
  letter-spacing: 3px;
}

#portcont button {
  background-color: white;
  border: 0px solid;
  font-size: 18px;
  font-weight: lighter;

}

#portcont button:hover {
  border-right: 3px solid #333333;
}

#aboutcont button {
  background-color: white;
  border: 0px solid;
  font-size: 18px;
  font-weight lighter;
}

#aboutcont button:hover {
  border-right: 3px solid #333333;
;
}

#contactcont a {
  text-decoration: none;
  color: #333333;
  font-family: arial;
  font-size: 18px;
}

#contactcont button {
  background-color: white;
  border: 0px solid;
}

#contactcont button:hover {
  border-right: 3px solid #333333;
;
}
