body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  width: 350px;
  height: 40px;
  background: linear-gradient(135deg, orange, orange 60%, cyan);
}

.forms {
  padding: 20px;
  margin: 0 auto;
}
