html {
  height: 100%;
  overflow: hidden;
}

/* add a background color to top navigation */

.topnav {
  background-color: white;
  height: 100px;
  color: black;
}

/* small logo */

.logo-small {}

/* parallax */

body {
  font-family: 'Karla', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}

.header-intro {
  width: 400px;
  height: auto;
  text-align: center;
  margin: auto;
}

header, header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #8a8;
  background-image: url("../img/main.jpg");
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

header p {
  background-color: hsla(0, 0%, 100%, 0.1);
}

main {
  background-color: hsl(60, 10%, 10%);
  line-height: 1.7;
  max-width: 32em;
  padding: 5% calc(50% - 16em) 35%;
  position: relative;
  z-index: 2;
}
