@charset "utf-8";
/* CSS Document */

body {
		position: relative;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
}

.navbar-brand img {
	height: 70px;
}

.main-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /*this causes the cool scrolling*/
	min-height: 100vh;
	padding-top: 10%;
	padding-bottom: 10%;
}




/*home styling*/
.home {
	position: relative;
	color: #fff;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("../images/home-background.jpg");
  min-height: 100vh;
	padding-top: 180px;
  text-align: center;
}


/*about-us styling*/
.about-us {

		min-height: 100vh;
		padding-top: 10%;
		padding-bottom: 10%;
		color: black;
		background-color: white;
		text-align: center;
		padding: 107px 60px;
	}

/*membership styling*/
.membership-packages {
		min-height: 100vh;
		padding-top: 10%;
		padding-bottom: 10%;
		color: #fff;
		background-color: darkseagreen;
	}

.membership-box {
	border: solid;
  min-height: 50vh;
  min-width: 56vh;
  display: inline-block;
  margin-top: 45px;
  margin-left: 4px;
}

.membership-box img {
	width: 260px;
	height: 260px;
}

/*contact*/
.contact {
		min-height: 100vh;
		padding-top: 10%;
		padding-bottom: 10%;
		color: #fff;
		background-color: darkslateblue;
	}


.padding {
	padding: 0px 20px;
}

.black-text {
	color: black;
}
