body {
 background-image: url("../img/background-image.jpg");
 background-repeat: no-repeat;
 background-size: contain;
 width: 100%;
}

.main {
  background-color: white;
  float: right;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 426px;
  margin-right: 50px;
  margin-top: 66px;
  margin-bottom: 250px;
  height: 500px;
}

.section {
  background-color: #81C341;
  width: 100%;
  height: 377px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.footer {
  background-color: #44AF2B;
  position: relative;
  width: 100%;
  height: 250px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
  color: white;
  margin-left: -10px;
}

a {
  margin-left: 25px;
  margin-right: 25px;
  float: right;
}
