@charset "utf-8";
/* CSS Document */

body {
		position: relative;
		font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
	height: 70px;
}

.main-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /*this causes the cool scrolling*/
	min-height: 100vh;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
}

.inner-div {
	margin: 0 auto;
	max-width: 1000px;
	text-align: justify;
	min-height: 700px;
}

.flex-div-container {
	display: flex;
}

.black-text {
	color: black;
}

.left-text {
	text-align: left;
}

.text-effect {
	text-shadow: 2px 2px black;
}

.box-shadow {
	-moz-box-shadow: 0 0 70px #525d53;
	-webkit-box-shadow: 0 0 70px #525d53;
	box-shadow: 0 0 70px #525d53;
}

.extra-padding {
	padding: 24px;
}

.extra-right-margin {
	margin-right: 20px;
}

.extra-extra-right-margin {
	margin-right: 40px;
}

.justify {
	text-align: justify;
	-moz-text-align-last: right; /* Code for Firefox */
	text-align-last: justify;
}

h1, h2, h3, h4, h5 {
	font-family: 'Shrikhand', cursive;
}

/*home styling*/
.home {
	/* position: relative; */
	color: #fff;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("../images/home-background.jpg");
}

/*about-us styling*/
.about-us {
	color: black;
	background-color: white;
	padding-left: 75px;
	padding-right: 75px;
	}

.about-us h1, h2, h3 {
	border-bottom: solid;
}

.flexed-div {
  flex: 1 1 auto;
}

.testimonials-div h2 {
	margin-top: 25px;
}

.testimonials-div p {
	margin-left: 70px;
	font-style: italic;
}

.testimonials-div img {
	height: 50px;
	border-radius: 32px;
	margin-right: -40px;
	border-radius: 32px;
}

.test-wrapper {
	margin-bottom: 20px;
}

.test-wrapper p {
	margin-top: -16px;
}

.test-img {
	float: left;
  margin-top: 10px;
  margin-right: 10px;
}

aside {
  width: 35%;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 168px;
}


#owner-pic {
	height: 250px;
	margin-left: 15px;
	border-radius: 154px;
}


.image-heading {
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 18px;
}

/*membership styling*/
.membership-packages {
		color: #fff;
		background-color: darkseagreen;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("../images/membership-background.jpg");
		text-align: center;
	}

.membership-packages a:hover, a:visited, a:active, a:focus {
	text-decoration: none;
	color: inherit;
	border: none;
	outline: 0;
}

.table-wrapper {
	display: flex;
	height: 350px;
	margin: 40px;
}

.membership-box {
  margin-top: 45px;
  margin-left: 4px;
	border: none;
}

.membership-box h1 {
	padding-top: 110px;
	color: white;
}

.packages-image {
	background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#standard-package {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/small-1.png);
	text-shadow: .5px .5px brown;
}

#silver-package {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/small-2.png);
	text-shadow: .5px .5px black;
}

#gold-package {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/small-3.png);
	text-shadow: .5px .5px yellow;
}

/*contact*/
.contact {
		color: white;
		background-color: #20353E;
		text-align: center;
	}

.contact h1 {
	border-bottom: solid;
	margin-bottom: 50px;
}

.contact-form {
		width: 340px;
}

.comments-box {
	height: 122px;
}

.submit-button {
	float: right;
}

#map {
	min-height: 257px;
	min-width: 100px;
}
