

#videosList {
 max-width: 600px;
  overflow: hidden;
}
.video {
  position: absolute;

}
/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}
div{margin-left: 50px;}
