.pic {
    display: table-cell;
    height: 200px; /*change this and the width
    for the size of your initial circle*/
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /*make it pretty*/
    background: #000;
    color: #fff;
    font: 18px "josefin sans", arial; /*change this
    for font-size and font-family*/
    }
body {
    background-color: purple;
}