@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Gamja Flower', cursive;
  background: url(https://images.unsplash.com/photo-1512474932049-78ac69ede12c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
}
.container--inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.171);
}
.button__wrapper {
  border: 1px solid red;
  padding: 50px 125px;
  background-color: rgb(255, 254, 245);
  transition: transform 300ms ease;
  border-radius: 4px;

}
.button__wrapper:hover {
  transform: scale(1.1)
}
a {
  text-decoration: none;
  color: #4d4e4f;
  font-size: 40px;
}