body {
  color: black;
  width: 100%;
  font-size: 40px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: blue;
  text-align: center;
}

#counter-1 {
  background-color: lightcoral;
}

#counter-10 {
  background-color: peachpuff;
}

#counter-100 {
  background-color: powderblue;
}
