[data-stack] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    height: 101px;
    background-color: aliceblue;
    margin: 25px;
}

[data-block] {
    width: 25px;
    float: left;
}

[data-block="25"] {
    height: 25px;
    background-color: blue;
}

[data-block="50"] {
    height: 50px;
    background-color: green;
}

[data-block="75"] {
    height: 75px;
    background-color: red;
}

[data-block="100"] {
    height: 100px;
    background-color: yellow;
}

#announce-game-won {
    font-size: 50px;
    text-align: center;
}
