*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}


/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
#wrapper {
  display: grid;
  grid: 100px repeat(9, 1fr) / 1fr;
  grid-template-areas: 
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7"
      "box8"
      "box9"
      "box10"
      "box11";
}
.box1 {
  display: grid;
  grid-area: box1;
}
.box2 {
  display: grid;
  grid-area: box2;
}
.box3 {
  display: grid;
  grid-area: box3;
}
.box4 {
  display: grid;
  grid-area: box4;
}
.box5 {
  display: grid;
  grid-area: box5;
}
.box6 {
  display: grid;
  grid-area: box6;
}
.box7 {
  display: grid;
  grid-area: box7;
}
.box8 {
  display: grid;
  grid-area: box8;
}
.box9 {
  display: grid;
  grid-area: box9;
}
.box10 {
  display: grid;
  grid-area: box10;
}
.box11 {
  display: grid;
  grid-area: box11
}
@media(min-width: 500px) {
  #wrapper {
    display: grid;
    grid: 150px repeat(5, 1fr) / 50% 50%;
    grid-template-areas: 
        "box1 box1"
        "box2 box3"
        "box4 box5"
        "box6 box7"
        "box8 box9
        "box6 box7"
        "box8 box9"
        "box10 box11";
  }
}
@media(min-width: 1000px) {
  #wrapper {
    display: grid;
    grid: 200px repeat(3, 1fr) / 25% 25% 25% 25%;
    grid-template-areas: 
        "box1 box1"
        "box2 box3"
        "box4 box5"
        "box6 box7"
        "box8 box9
        "box6 box7"
        "box8 box9"
        "box10 box11";
  }
} */
