* {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top:25px;
  margin-right: 20px;
}

li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Mukta Mular', sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

nav {
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}

main {
  background-size: auto;
  background-image: url("../tessa.jpg");
  background-position: cover;
  height: 600px;
  width: auto;
}

.searchbar {
  width: 75%;
  height: 25px;
  margin-left: 40px;
  margin-top: 20px;
}

.maintext {
  margin-top: 260px;
  color: white;
  font-family: 'Mukta Mular', sans-serif;
  margin-left: 40px;
  width: 610px;
}

h2 {
  font-weight: 400;
}

section {
  height: 400px;
  font-family: 'Mukta Mular', sans-serif;
}

.page3 {
  height: 500px;
  background-color: #eaf0f9;
}

.lastpage {
  height: 400px;
  background-color: #293c59;
}

footer {
  background-color: black;
  height: 50px;
}

a {
  color: green;
}

.smallfont {
  font-size: 10px;
  color: white;
}

p {
  color: white;
  font-size: 14px;
  font-family: 'Mukta Mular', sans-serif;
}

.signupbar {
  float: right;
}

.screenshot {
  margin-left: 300px;
  height: 400px;
  width: 650px;
}

#page3 {
  text-align: center;
  font-weight: bold;
  font-size:18px;
}

.page2 {
  text-align: center;
  font weight: bold;
}

footer {
  color: grey;
  text-align: center;
  padding-top: 18px;
}
