body {
    width: 100%;
    background-color: rgb(208, 208, 208);
}

nav {
  width: 100%;
  height: auto;
  font-family: 'Monoton', cursive;
}

#nav {
	width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
	list-style: none;
}

#nav li {
	float: left;
  margin: 20px;
}

.headtext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

h2 {
  padding-top: 20px;
}

div h1 {
  font-size: 5em;
  color: white;
  margin: auto;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  background-color: white;
  font-family: 'Hammersmith One', sans-serif;

}

main ul {
  list-style: none;
}

h2 {
  font-size: 4em;
  color: lightgreen;
  text-decoration: underline;
}

.skillbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nasalogo {
  padding-top: 50px;
}
