body {
  display: flex;

  flex-direction: column;
  height: 2000px;
  width: 100%;
  border: 1px solid red;

}
.parallax {
    /* The image used */
    background-image: url("http://b.fastcompany.net/multisite_files/fastcompany/poster/2014/07/3032987-poster-p-1-space-x-texas-location.jpg");
    height: 2000px;


    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  filter: hue-rotate(400deg);
  opacity: .8;

}
div {
  font-family: 'Audiowide', cursive;
  background-image: url('https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg')
}
header {
  background-image: url('https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg');
  display: flex;
  justify-content: center;

  height: 100px;
  width: 100%;
  border: 1px solid green;
}
.header{
  display: flex;
  align-items: center;
/*   justify-content: center; */
  height: 100px;
  width: 100%;
  border: 1px solid blue;


}
ul {
  display: flex;
  font-size: 20px;

}
 li {
  display: flex;
  font-family: 'Audiowide', cursive;
  padding-right: 20px;
  color: green;

}
.pic1{

  display: flex;
  background-image: url('https://images6.alphacoders.com/388/thumb-1920-388041.jpg');
  height:900px;
  width: 100%;
  opacity:1;
  border: 1px solid orange;
  transition: opacity 3s ease-in-out;
  opacity: .8;
}
.pic1:hover {

  background-image: url('http://b.fastcompany.net/multisite_files/fastcompany/poster/2014/07/3032987-poster-p-1-space-x-texas-location.jpg');
  width: px;
  height: 900px;


}
section {
  height:400px;
  width:100%;
  border: 1px solid purple;
}
