body {
  display: flex;
  flex-direction: column;
  height: 3150px;
  width: 100%;
  background-image: url('https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg')
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Audiowide', cursive;
  color: #337AB7;
}


/*Scroll*/

.parallax {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* The image used */
  background-image: url("http://b.fastcompany.net/multisite_files/fastcompany/poster/2014/07/3032987-poster-p-1-space-x-texas-location.jpg");
  height: 1500px;
  /* Set a specific height */
  min-height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: hue-rotate(400deg);
  opacity: .8;
  border-top: -20px;
  color: green;
}


/*Navbar*/

header {
  background-image: url('https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg');
  display: flex;
  justify-content: center;
  border-radius: 0px;
  height: 140px;
  width: 100%;
  margin-bottom: 0px;
  /*   border: 1px solid grey; */
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 140px;
  width: 100%;
  border-radius: 0px;
  /*border: 1px solid grey;*/
  padding-top: 30px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  /*border: 1px solid grey;*/
}

ul {
  display: flex;
  font-size: 20px;
  margin-left: 20px;
}

li {
  display: flex;
  font-family: 'Audiowide', cursive;
  padding-right: 20px;
  color: #337AB7;
}


/*Search button*/

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*border: 1px solid green;*/
  padding-right:  50px;
}

#custom-search-input {
  width: 200px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #337AB7;
}

.search-query:focus+button {
  z-index: 3;
}


/*.box{
  height: 25px;
  display: flex;
  align-items: flex-end;
  margin-left: 675px;
}*/


/*.container-2 {
  display: flex;
  margin-left: auto;
  width: 300px;
  vertical-align: middle;

  position: relative;
  font-family: 'Audiowide', cursive;
  color: #337AB7;


}*/


/*.container-2 .icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}*/


/*Writing Center*/

.title {
  font-size: 60px;
}

.name {
  font-size: 35px;
}

.name1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}


/* bootstrap window*/

.bootwin {
  height: 500px;
}


/*Lower Half*/

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*align-items: flex-start;*/
  background-color: #A28FC2;
  height: auto;
  width: 100%;
  border: 1px solid white;
  opacity: .8;
  font-family: 'Audiowide', cursive;
  color: #337AB7;
}

.closingtext {
  /*border:1px solid yellow;*/
  align-items: flex-start;
}

.closingtext h1 {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /*align-items: column;*/
  /*border: 1px solid white;*/
  margin-bottom: 100px;
  font-size: 50px;
}

.closingtext p {
  display: flex;
  height: 200px;
  width: 75%;
  justify-content: center;
  align-items: column;
  /*border: 1px solid blue;*/
  font-size: 20px;
  margin-left: 15%;
}

.gif {
  display: none;
}

.col-md-3 {
  font-size: 30px;
}

.linkicons {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: column;
  /*border: 1px solid white;*/
}

.contact {
  /*border: 1px solid blue;*/
  display: flex;
  justify-content: center;
  align-items: column;
  height: 60px;
  width: 100%;
  color: #337AB7;
}


/*form Fonts*/

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #337AB7;
}

.form-group {
  font-size: 20px;
}


/*form Inputs*/

.form-control {
  margin-left: 10px;
}

.form-check {
  margin-left: 40px;
  font-size: 20px;
}


/* Media Querry*/


/*was at 480*/

@media screen and (min-width: 320px) and (max-width: 1100px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: center;
    width: 200%;
    height: auto;
    margin-left: px;
  }
  header {
    display: flex;
    justify-content: center;
    width: 80%;
    /*border: 3px solid green;*/
    margin: auto;
  }
  .navbar {
    display: flex;
    justify-content: center;
    /*border: 1px solid yellow;*/
    width: auto;
  }
  .box {
    display: none;
  }
  .search {
    display: none;
    justify-content: center;
  }
  .parallax {
    display: flex;
    width: 100%;
    filter: hue-rotate(400deg);
    opacity: .8;
  }
  .bootwin {
    height: 1000px;
  }
  .boot {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 200px;
    height: 1000px;
  }
  .closingtext h1 {
    /*border: 1px solid white;*/
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid yellow;*/
  }
  .closingtext p {
    display: none;
  }
  .gif {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    /*margin-left: 15%;*/
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-size: 20px;
    /*height: 300px;*/
  }
  .container-fluid img {
    /*height: 10px;*/
    width: auto;
  }
  input {
    display: none;
  }
  .form-check{
    font-size: 10px;
  }

}
