body  {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}


section#leftbox {
  width: 500px;
  margin: 0px;
  display: inline-block;
  float: left;
}

/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }*/

section#rightbox {
  background-color: rgb(240, 240, 240);
  width: 500px;
  height: 394px;
  margin-left: 3px;
  display: table;
  float: left;

}

div#vertalign {
  display: table-cell;
  vertical-align: middle;
}

h1#berries  {
  text-align: center;
  color: #232b3b;
  font-size: 1.9em;
}

p#etiam {
  text-align: center;
  color: #555;
  padding-bottom: 20px;
}

div#button {
  text-align: center;
  font-weight: bold;
  color: #252b3b;
  border: 2px solid #555;
  padding: 5px;
  width: 100px;
  margin: auto;
}

div > img {
  width: 100%;
}
