body {
  background: cadetblue;
  color: darkblue;
}

h1 {
  text-align: center;
  color:white;

}
.clearfix {
  clear: both;
}

#container {
  width: 600px;
  overflow: auto;
  margin: 40px auto;
  /*background: darkgrey;*/
  padding-bottom: 40px;

}

#boardgame li{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-family: 'Permanent Marker', cursive;
  width: 175px;
  height: 175px;
  font-size: 8em;
  border: 1px solid black;
  background: lightblue;
  color: darkred;
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
}

/*#box1 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}*/
#box1:hover {
  cursor: pointer;
  background: antiquewhite;

}

#box2:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box3:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box4:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box5:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box6:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box7:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box8:hover {
  cursor: pointer;
  background: antiquewhite;
}

#box9:hover {
  cursor: pointer;
  background: antiquewhite;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#reset {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  font-size: 1.1em;
}
