body {
  background: cadetblue;
  color: darkblue;
}

h1 {
  text-align: center;
  color:white;

}
.clearfix {
  clear: both;
}

#container {
  width: 650px;
  overflow: auto;
  margin: 40px auto;
  background: darkgrey;
  padding-bottom: 40px;

}

#board li{
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  font-size: 50px;
  background: #777;
  color: #ccc;
  list-style: none;;
  text-align: center;
}

#board:hover {
  cursor: pointer;
  background: #000;
}




#announce-winner {
  clear: both;
  font-size: 50px;
}
