body {
    background-color: beige;
    font-family: Source Sans Pro, sans-serif;
    background: url(/img/depositphotos_178685184-stock-photo-pepper-background-different-types-of.jpg);
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 30pt;
    margin: 5px 0;
    padding: 2px 8px;
    border: 2px solid black;
    box-shadow: 0 0 2px black;
    border-radius: 12px;
    background-color: #e6e6e6;
}

h1 span{
    color: #A00203;
}

#totalLabel {
    background-color: #e6e6e6;
    border: 2px solid black;
    padding: 2px 5px;
}

p {
    font-size: 18pt;
    font-weight: 600;
    margin: 0 0 10px;
    background-color: #e6e6e6;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0 0 2px black;
    border-radius: 10px;
}

#pepper {
    animation: wiggle 2500ms ease-in-out;
    animation-iteration-count: infinite;
    margin-bottom: 20px;
    cursor: pointer;
}

#scovilles {
    height: 50px;
    width: 280px;
    background-color: #e6e6e6;
    border: 4px groove red;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22pt;
    margin: 5px 0;
}

.upgrades {
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 10px 12px;
    background-color: #e6e6e6;
    border: 2px solid black;
    border-radius: 12px;
}
.upgrades div {
    width: 350px;
}

label {
    font-size: 12pt;
    text-align: center;
}

.button, .unlock, #research {
    height: 30px;
    width: 320px;
    background-color: #A00203;
    color: #e6e6e6;
    border: 3px groove rgba(190,0,0,0.44);
    border-radius: 14px;
    border-radius: 14px;
    margin-top: 10px;
    font-size: 12pt;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.researchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes wiggle {
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
  }