.flex-grid {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: #40e0d0;
}

#welcome {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: arial;
}

.flex-grid-three {
  display: flex;
  height: 450px;
  background-color: black;
  justify-content: center;
}


.thirds {
width: 33.3333333%;
text-align: center;

}

.title {
  color: white;
}

.bacon {
  color: white;
  width: 165px;
  text-align: center;

}

#colbox {
  width: 150px;
  height: 20px;
  background-color: blue;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}

#volbox {
  width: 150px;
  height: 20px;
  background-color: red;
  margin: 0 auto 0 auto;
}

#bolbox {
  width: 150px;
  height: 20px;
  background-color: green;
  margin: 0 auto 0 auto;
}

#sacon.bacon {
  margin-left: 100px;
  margin: 0 auto 0 auto;
}

#dacon.bacon {
  margin-left: 90px;
  margin: 0 auto 0 auto;
}

#macon.bacon {
  margin-left: 90px;
  margin: 0 auto 0 auto;
}


@media (max-width: 767px) {
    .flex-grid {
      background-color: #00b8ff;
    }
    #welcome {
      text-align: center;
    }

   .flex-grid-three {
     display: block;
     height: 1200px;
     background-color: #eeeeee;
   }

   .bacon {
     color: black;
     text-align: center;
   }

   .title {
     color: black;
   }

   .thirds {
   width: 33.3333333%;
   text-align: center;
   margin: 0 auto 0 auto;
   }

   #sacon.bacon {
     margin: 0 auto 0 auto;
   }

   #dacon.bacon {
     margin: 0 auto 0 auto;
   }

   #macon.bacon {
     margin: 0 auto 0 auto;
   }

  }
