/*Page is centered*/
.flexbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  border: 2px solid #000;
  width: 800px;
  height: 140px;
  background-color: #bfbfbf;
}
/*Daily Newspaper Heading is centered and colored*/
h1{
  color: red;
  text-align: center;
}
/*This section is for links inside header*/
nav{
  border: 2px solid #000;
  width: 780px;
  height: 40px;
  margin: 30px auto;
  background-color: #808080;
}
/*All links are designed the same way on the main page*/
a{
  text-decoration: none;
  color: blue;
}
/*All links behave same way when they are hovered over*/
a:hover{
  color: #f00;
  text-decoration: underline;
}
nav div{
  padding-top: 10px;
}
/*Seperating the links */
nav a{
  padding-left: 140px;
}
/*Everything inside main is designed with flexbox properties*/
main{
  display: flex;
  justify-content: space-around;
  border: 2px solid #000;
  width: 800px;
  margin: 10px auto;
  background-color: #bfbfbf;
}
section{
  border: 2px solid #000;
  background-color: #808080;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 2;
  flex-direction: column;
}

article{
  border: 2px solid #000;
  height: 220px;
  margin: 10px;
  padding: 3px;
  background-color: #bfbfbf;
  display: flex;
  flex-wrap: wrap;
}
article img{
  height: 130px;
}
article img p{
  flex: 1;
  align-self: center;
}
aside{
  border: 2px solid #000;
  background-color: #808080;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
}
/*This is just to center headings in aside*/
aside > article{
  justify-content: center;
}
footer{
  border: 2px solid #000;
  width: 800px;
  height: 60px;
  background-color: #bfbfbf;
}
/*Copyright paragraph*/
footer p{
  padding-top: 7px;
  font-weight: 600;
  padding-left: 10px;
}
