body{
    background-color: black;
    margin: auto;
}

#container{
    background-image: url("../img/background.png");
    background-size:cover;
    width: 1200px;
    height: 800px;
    margin: auto;
}

.leftCol{
    height: 800px;
    width: 400px;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}

.rightCol{
    height: 800px;
    width: 500px;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
}

#description{
    width:300px;
}

.leftMenu{
    width: 150px;
    padding-right: 90px;
    border-right: dotted;
    border-right-color: brown;
    float: left;
}

.rightMenu{
    width: 150px;
    float: right;
}

nav{
    margin-top: 10px;
    margin-left: 770px;
    vertical-align: middle;
    font-size: 20px;
    font-style: oblique;
    transition: transform 2s;
    /* text-decoration:underline brown; */
}
div > header > nav > span{
    color: white;
    padding-right: 17px;
    transition: color 2s, font-size 2s, text-decoration 2s;
}

div > header > nav > span:hover{
    /* transform: color green; */
    color: green;
    font-size: 25px;
    text-decoration:underline brown;
}

/* div > header > nav > span{
    color: white;
    padding-right: 17px;
} */

#beverages{
    width: 500px;
    height: 220px;
    padding-top: 20px;
}

.name{
    font-size: 30px;
    color: brown;
    text-shadow: 2px 2px 4px black;
    padding-top: 40px;
    padding-left: 60px;
    text-align: center;
}

p{
    font-size: 15px;
    color: black;
    text-shadow: 2px 2px 4px white;
    padding-top: 5px;
    /* padding-left: 50px; */
    text-align: center;
    font-style: italic;
}

#operationHours,#contactDetails{
    font-size: 20px;
    color: brown;
    text-shadow: 2px 2px 4px white;
    padding-top: 20px;
    padding-left: 60px;
    text-align: center;
    font-style: oblique;
}

#dailyHours,#weekendHours{
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
    font-style: oblique;
}

.cellNumber,.email{
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
    font-style: oblique;
}

#description{
    font-size: 15px;
    color: black;
    text-shadow: 2px 2px 4px white;
    padding-top: 20px;
    padding-left: 75px;
    text-align: center;
    font-style: italic; 
}

h2{
    font-size: 20px;
    color: brown;
    text-align: center;
    font-style: bold;
    text-decoration:underline dotted brown;
}

#foodDescription{ 
    font-size: 12px;
    text-align: left;
    font-style: italic; 
}

#price{ 
    font-size: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-style: italic; 
}

.foodImage{
    background-image: url("../img/myRestaurant.jpg");
    height: 400px;
    width: 500px;
    transition: transform 2s;
}

.foodImage:hover{
    background-image: url("../img/rest4.jpg");
    transform: rotate(360deg);

}

h1{
    font-size: 30px;
    color: brown;
    text-shadow: 2px 2px 4px black;
    padding-top: 40px;
    padding-left: 60px;
    text-align: center;
    transition: color 2s, font-size 2s, text-shadow 2s, text-decoration 2s;
}

h1:hover{
    color: blue;
    font-size: 35px;
    text-shadow: 3px 3px 6px brown;
    text-decoration: aqua;
}