#logo {
  height: 50%;
  float: right;
}
header {
  height: 210px;
  background-color: #1d1f1e;
  width: auto;
  border-bottom: 1px solid red;
}
/*.nav is the nav bar*/
.nav {
  float: left;
  position: absolute;
  padding: 100px 0 0 200px;
}
a {
  font-size: x-large;
  padding: 0 10px 10px 0;
  font-family: 'Open Sans', sans-serif;
  color: blue;
}
/*This is for circumstances while cursor is imposed over text*/
a:hover{
  color: red;
}
body {
  background: url(../img/dogwood-austin.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#about {
  display: block;
  border-radius: 25px;
  background-color: black;
  padding: 50px;
  margin: 50px 100px 50px 100px;
}
p {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#contact {
  font-size: large;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px 0 0 10px;
  margin: 10px 500px 10px 500px;
}
/*.twit and .fb is images for the social media*/
.twit, .fb {
  height: 100px;
}
#menu {
  font-size: xx-large;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
