body{
    font-family: 'Julius Sans One', sans-serif;
}
header{
    color: white;
    text-align: center;
}
.mainImage{
background-image: url('img/CoffeeShop.jpg');
background-position: center;
background-size:cover;
min-height: 450px;
}
.navbar{
    width: 600px;
    margin:auto;
    padding-top:none;  
}
nav ul{
    list-style:none;
}
nav li{
    display:inline;
    padding: 2px 20px 40px 20px;
}

li a{
    color: white;
    text-decoration: none;    
}

#welcome{
    padding:50px;
    font-size: 100px;
}
#logo{
    filter: invert(100%);
    padding: none;
    margin: none;
}
