header{
  border: 2px solid #000;
  width: 800px;
  height: 140px;
}
h1{
  color: red;
  text-align: center;
}
nav a{
  text-decoration: none;
}
nav{
  border: 2px solid #000;
  width: 780px;
  height: 40px;
  margin: 30px auto;
}
main{
  border: 2px solid #000;
  width: 800px;
  height: 600px;
  margin: 10px auto;
}
section{
  border: 2px solid #000;
  width: 500px;
  height: 550px;
  float: left;
  margin: 35px 2px;
}
article{
  border: 2px solid #000;
  width: 490px;
  height: 450px;
  margin: 52px auto;
}
article img{
  height: 250px;
  width: 490px;
}
p{
  margin: 8px;
}
aside{
  border: 2px solid #000;
  width: 280px;
  height: 550px;
  float: left;
  margin: 35px 4px;
}
aside img{
  width: 280px;
  height: 360px;
}
footer{
  border: 2px solid #000;
  width: 800px;
  height: 60px;
}
.center{
  width: 800px;
  margin: 0 auto;
}
