body {
width: 75%;
margin: 0 auto;
color: white;
background: black;
}

header, nav, main, section, aside, footer {
padding: 5px;
margin-top: 10px;

}

/*search how to resize images w3school*/
#map {
  box-sizing: border-box;
  width: 25%;
  height: auto;
  float: left;
  padding: 10px; /*pads area around my image*/
}

section, aside {
float: left;
}

section {
width: 70%
}

#eric{
  box-sizing: border-box;
  height: 400px;
  weight: 100px;
  padding: 5px;
}

aside {
height: auto;
width: 10%;
margin: 5px;
}

footer {
clear: both;
}
