body {
width: 75%;
margin: 0 auto;
}

header, nav, main, section, aside, footer {
padding: 5px;
margin-top: 10px;
}

/*search how to resize images w3school*/
#map {
  width: 25%;
    height: auto;
    float: left;
    margin: 5px;
}

section, aside {
float: left;
}

section {
width: 70%
}

aside {
height: auto;
width: 10%;
margin: 5px;

}

footer {
clear: both;
}
