.form-row {
    padding: 30px 0;
    dislay: flex;
    background-image: url(../img/eaglepass.jpg);
    background-repeat: no-repeat;
    font-size: 20px;
    font-color: antiquewhite;

}

.form-row label {
    padding-right: 120px;
    flex: 1;

}

.column-layout {
    background-color: lightgrey;
    margin: 40px auto 0 auto 0;
    line-height: 1.65;
    padding: 120px 150px;
    display: flex;
}

.main-column {
}

.sidebar-one {

}

.sidebar-two {

}
