body{
    text-align: center;
    font-family: arial;
    font-size: 18px;
}
    
    
li{
    list-style: none;
    line-height: 2em;
    text-align: left;
}
    
.header{
    background: #dd0b0b;
    border-bottom: #2d0c52 3px solid;
    padding: 20px;
}
    
.container{
    width: 700px;
    margin: 30px auto;
}