body {
  background-color: black;
}
header {
  color: grey;
}
.board {
  display: flex;
  justify-content: space-around;

}
.peg1, .peg2, .peg3 {
  height: 200px;
  width: 20px;
  background-color: grey;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.xSmall, .small, .medium, .large {

}
.xSmall {
  background-color: yellow;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  border: solid 1px grey;

}
.small {
  background-color: blue;
  width: 75px;
  height: 30px;
  border-radius: 50px;
  border: solid 1px grey;
}
.medium {
  background-color: red;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: solid 1px grey;
}
.large {
  background-color: green;
  width: 125px;
  height: 30px;
  border-radius: 50px;
  border: solid 1px grey;
}
