body {
  width: 100%;
  margin: 0 auto;
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Book Antiqua';
}

#hero-copy h1 {
  padding-top: 125px;
  font-size: 48px;
  color: white;
}

#title {
  width: 90%;
  height: 400px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: 'Tahoma';
}

.box {
  width: 150px;
  height: 30px;
  margin-left: 135px;
}

#bar1 {
background-color: blue;
margin-top: 50px;
border: 10px 10px 10px 10px;
justify-content: center;
}

#bar2 {
background-color: #F46731;
margin-top: 50px;
border: 10px 10px 10px 10px;
justify-content: center;
}

#bar3 {
background-color: #2BCDBF;
margin-top: 50px;
border: 10px 10px 10px 10px;
justify-content: center;
}

/* Media Query for TABLET */

@media (min-width: 768px) and (max-width: 991px) {

  body {
    width: 100%;
    margin: 0 auto;
  }

  #hero {
    width: 90%;
    height: 400px;
    background-color: #2BCDC0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Book Antiqua';
  }

  #hero-copy h1 {
    padding-top: 125px;
    font-size: 48px;
    color: white;
  }

  #title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 90%;
    height: 400px;
    background-color: black;
    color: white;
    font-family: 'Tahoma', serif;
  }


  .box {
    width: 150px;
    height: 30px;
    margin-left: 135px;
    visibility: collapse;

  }

  #bar1 {
  background-color: blue;
  margin-top: 50px;
  }

  #bar2 {
  background-color: #F46731;
  margin-top: 50px;
  }

  #bar3 {
  background-color: #2BCDBF;
  margin-top: 50px;
  }

}

/* Media Query for PHONE */

@media (max-width: 767px) {

  body {
    width: 100%;
    margin: 0 auto;
  }

  #hero {
    width: 90%;
    height: 400px;
    background-color: #2BCDC0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Book Antiqua';
  }

  #hero-copy h1 {
    padding-top: 125px;
    font-size: 48px;
    color: white;
  }

  #title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 90%;
    height: 400px;
    background-color: black;
    color: white;
    font-family: 'Tahoma', serif;
  }


  .box {
    width: 150px;
    height: 30px;
    margin-left: 135px;
    visibility: collapse;

  }

  #bar1 {
  background-color: blue;
  margin-top: 50px;
  }

  #bar2 {
  background-color: #F46731;
  margin-top: 50px;
  }

  #bar3 {
  background-color: #2BCDBF;
  margin-top: 50px;
  }

}
