body {
  width: 100%;
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2bcdc0;
  margin: 0 auto;
  text-align: center;
}

#hero h1 {
  padding-top: 175px;
  font-size: 40px;
  color: white;
}

#hero h1 b {
  font-weight: bolder;
}

#title {
  display: flex;
  /*justify-content: space-between;*/
  width: 87%;
  margin: 0 auto;
  background-color: black;
  padding: 20px;
  color: white;
}
.row {
  width: 30%;
  padding: 2% 9%;
  text-align: center;
}

.row h2 {
  font-size: 35px;
  margin: 10px;
}

#bar1 {
  height: 30px;
  background-color: #33abdd;
  border: none;
}

#bar2 {
  height: 30px;
  background-color: #F46731;
  border: none;
}

#bar3 {
  height: 30px;
  background-color: #2bcdc0;
  border: none;
}

@media (max-width: 767px) {

    #hero {
      background-color: #33abdd;
    }

    #title {
      flex-direction: column;
      align-items: center;
      width: 80%;
      background-color: lightgrey;
      color: black;
    }

     .row {
       width: 40%;
       padding: 2% 10%;
     }

}
