header {
  width: 100%;
  height: 10vh;
  background: aqua;
  color: navy;
  text-align: center;
  font-size: 5vh;

}
nav {
  width: 100%;
  height: 15vh;
  background: navy;
  display: inline-block;
  color: royalblue;
  text-align: center;
  font-size: 8vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
img.nav {
  width: 20%;
  height: 100%;
  float: left;
}
main {
  background: navy;
  width: 100%;
  height: 100%;

}
#form-container {
  width: 50%;
  height: 50%;
  background: aqua;
  margin: 0 auto;
}