
div {
  width: 80%;
  height: auto;
  background-color: rgb(35, 52, 97);
  text-align: center;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

p {
  line-height: 14.5px;

}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  width:80%;
  height:40%;
  margin: 5% auto 10%;
} /*had to resize manually because of different image.*/
