.header {
  height: 100px ;
  width: 100px;
  background-color: grey;
  float: left;
}
.header {
  height: 100px;
  width: 100px;
  background-color: grey;
  float: right;
}
.header {
  flex-wrap: nowrap;
}
.clearfix {
  overflow: auto;

}
