.div1{
   width: 80%;
   background-color: rgb(35, 52, 97);
   align-content: center;
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
p {
  line-height: 14.5px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
img {
  width: 50%;
  height: auto;
}
