* {
  border: 1px dotted red;
}

body {
  width: 75%;
  margin: 0 auto;
}

header {
  text-align: right;
  float: left;
}

header h1 {
  font-family: 'Gotham Narrow', sans-serif;;
}

aside {
  text-align: right;
  clear: both;
  width: 20%;
}

main {
  float: left;
}
