* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

html {
    background-color: #eee;
}

body {
    width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 100px auto;
    padding: 80px;
    background-color: #fff;
}

aside {
    width: 400px;
    padding-right: 50px;
    text-align: right;
    float: left;
}

main {
    float: left;
    width: 800px;
}

section {
    margin-bottom: 40px;
}

article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-postion: outside;
}


footer {
    clear: both;
    text-align: right;
    padding: 0 4%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
    margin: 0 0 20px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 30px;
    border: 2px solid gray;
    display: inline-block;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    color: #444;
}

h4 {
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    font-style: italic;
    color: #444;
    margin-bottom: 24px;
}

h6 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 60px 0 20px;
}

h6:after {
    content: "";
    margin: auto;
    display: block;
    position: relative;
    left: 0;
    top: 15px;
    width: 45px;
    height: 2px;
    border-bottom: 2px solid gray;
}

p, ul, li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px;
    color: #444;
}
