body {
    height: 90%;
    width: 100%;
    padding-top: ;
    margin-top: 20px;
    padding: 10px;
    align-content: center;
}

#container {
    position: relative;
    height: 400px;
    width: 90%;
    border: 2px solid red;
    background-image: url(spacebackground.gif);
    background-repeat: repeat-x;
    background-size: 35%;
    margin-left: 4%;
    margin-top: 5%;
    overflow: hidden;
}


#ship {
    position: absolute;
    background: url('ship.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%
}

.pole {
    position: absolute;
    height: 130px;
    width: 50px;
    background-color:;
    background-image: url(asteroidbelt.png);
    right: -50px;
}

#pole_1 {
    top: 0;
}

#pole_2 {
    bottom: 0;
}

#score_div {
    color: yellow;
    text-align: center;
    font-size: 40px;
}

#restart_btn {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: fuchsia;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
}
html {
    background-color: black;
    height: 100%;
    width: 100%;
}

.game_title {
    color: yellow;
    font-size: 30px;
    align-content: center;
    margin-top: ;
    font-family:monospace;
    font-size: 80px;
    margin-left: 475px;
}
