body {
    font-family: 'Hind Guntur', sans-serif;
    overflow-x: hidden;
}

/*navigation bar stylings*/

#sandwich{
width:2%;
display: inline-block;
}

.navstuff {
    margin-top: -2%;
}
#lindsayName {
    color: #89949C;
    font-size: 2rem;
    padding-top: 8vh;
}
#lindsayName:hover {
    color: #C6A7FB;
}
#navlist {
    color: #89949C;
    font-size: 2rem;
    padding-top: 8vh;
    margin-right: 2%;
}
#navlist:hover {
    color: #C6A7FB;
}

/*grow hover*/


/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
}

/*hero stylings*/

.hero {
    background-image: url("http://i.imgur.com/PURXuLd.png");
    background-size: cover;
    height: 110vh;
    bottom: 3.5vh;
    width: 105%;
    right: 2%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}
.hero h1, h2 {
    color: #C6A7FB;
    position: relative;
    left: 65%;
    top: 60vh;
    line-height: 20px;
}
.hero h1 {
    /*font-size: 5rem;*/
    font-weight: bolder;
}

/*section stylings*/

section h3 {
    text-align: center;
    padding: 7vh;
    font-size: 4rem;
    font-family: bolder;
    font-family: 'Hind Guntur', sans-serif;
}
section p {
    text-align: center;
    margin: 0 21%;
    font-size: 2rem;
}
section h4 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    padding: 3vh;
    color: #C6A7FB;
    margin-bottom: 4vh;
}

/*projects stylings*/
.projects{
    margin: 3vh;
    border: solid 3px #C6A7FB;
}
.projects img {
    width: 100%;
    padding: 3vh 0;
}

#projects{
  position: static;
      text-align: center;
      color: black;
      margin-right: 24%;
      font-size: 5rem;
      margin-bottom: 10vh;
}

.projects_class{
  margin-left: 20%;

}


.resumebutton{
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
}

.resume img{
  margin-left: 17%;
    width: 66%;

}
.resume{
  background: #C6A7FB;
  padding-bottom: 5vh;
  margin-top: 10vh;
}

footer h2{
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
  margin-top: 7vh;
}

form{
  margin: 5vh 40%;
  width: 100%;
}


.name_form{
  margin-right: 7%;
  font-size: 2rem;
}

.email_form{
  margin-right: 7.5%;
  font-size: 2rem;
}

.phone_form{
  margin-right: .6%;
  font-size: 2rem;
}

.submit{
  /*background: #C6A7FB;*/
  font-size: 3rem;
  padding: 1vh 1% 0 1%;
margin-left: 30%;
  color: #89949C;
}

.mapphoto{
  border: 0;
    margin-left: 33%;
    width: 40%;
    height: 57vh;
    margin-top: 4vh;
}

/*slideshow*/
#codepen{
  position: static;
  text-align: center;
  color: black;
  font-size: 5rem;
  margin-top: 7vh;

}
.photoslide{
  width:50%;
  margin-left: 25%;
  margin-bottom: 10vh;
}
