.boxy {
  border: red 1px solid;
}

#wrapper {
  width: 1000px;
  height: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
}

#wrapper article {
  border: 1px red solid;
  margin: 0;
  padding: 0;
}