
  * {
    margin: 0;
    padding:0;
  }
  #main {
    border-style: solid;
    background-color: black;
  }

  #navbar {
    height:60px;
    background-color: #8D9B8C;
  }

  #navbar .header {
    float: left;
    width: 30%;
    padding: 20px 20px;
    background-color: #4CAF50;/*grey*/
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    color: white;
    word-spacing: 10px;/*space out words within header*/
  }


  #navbar .navigation {
    background-color: #E6E9E6;
    height: 30px;
    margin-right: 100px;
    margin-left: 900px;
    margin-bottom:25px;
    height: 20px;
    padding: 20px 20px;
  }
  #navbar .navigation a{
    text-decoration: none;
    margin-right: 20px;
    background-color: #E6E9E6;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
  }
  #navbar .navigation a:hover {
    background-color: pink;
    font-style: italic;
    font-size: 16px;
  }

  #main #home {
    background-color: purple;
    width: 80%;
    height: 615px;
    margin-top:50px;
    margin-left: 120px;
    margin-bottom: 50px;
  }

  #main #home .btn-group .button {
      background-color: #4CAF50; /* Green */
      border: 1px solid green;
      color: white;
      padding: 15px 32px;
      display: inline-block;
      font-size: 16px;
      float: left;/*closes the spaces between the buttons*/
  }

  #main #home .btn-group{
      margin-left: 240px;
  }

  #main #home img{
    height: 150px;
    margin-left: 110px;
    margin-top: 50px;
    border-radius: 10%;

  }
  /*enlarge home images on hover*/
  #main #home img:hover {/*on hover font size changes*/
    transform: scale(1.5)
  }

  #main #home p {
    margin-top: 30px;
    padding: 40px 70px;
    font-size: 18px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
  }

  #main #home p:hover {/*on hover font size changes*/
    font-size: 110%;
  }

  #main #home h3 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 28px;
  }

  #main #about-us {
    background-color:  #8D9B8C; /*grey*/
    width: 80%;
    height: 615px;
    margin-top:50px;
    margin-left: 120px;
    margin-bottom: 50px;
  }

  #main #about-us p {
    padding:70px 40px;
    margin: 90px 30px;
    font-family: 'Vidaloka', serif;
    font-size: 18px;
  }

  #main #about-us p:hover {
    background-color: #4CAF50;
    border: 4px solid red;
  }

  #main #about-us p:first-letter{/*Enlarge the first letter of the p tag*/
      display:block;
      float:left;
      margin:3px;
      color:#f00;
      font-size:300%;
  }

  #main #about-us h2 {
    background-color: #4CAF50;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 28px;
  }

  #main #stocks {
    width: 80%;
    height: 615px;
    margin-top:50px;
    margin-left: 120px;
    margin-bottom: 50px;
    background-color: #4CAF50; /* Green */
  }

  #main #stocks p:hover{
    background-color: #878787;
    border-radius: 40%;
  }
  #main #stocks p:hover:first-letter {
    font-size: 40px;
    color: red;
    font-weight: bold;
  }

  #main #stocks h2 {
    background-color:  #8D9B8C;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 28px;
  }

  #main #stocks .gallery .desc {
    font-size: 20px;
    font-weight: bold;
  }

  #main #stocks img {
    height: 150px;
    margin-left: 1px;
    margin-top: 20px;
    border-radius: 50%;
    /*images rotate on hover*/
    -webkit-transition:  -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  #main #stocks img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  #main #stocks .gallery {
    display: inline-flex;
    padding: 10px 10px;
    margin-left: 70px;
    margin-top: 50px;
  }

  #main #stocks p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 40px 40px;
    margin: 20px 30px;
  }

  #main #contact-us {
    background-color: grey;
    width: 80%;
    height: 615px;
    margin-top:50px;
    margin-left: 120px;
    margin-bottom: 50px;
  }

  #main #contact-us h2 {
    text-align: right;
    font-size: 15px;
    margin-right: 70px;
    font-family: 'Inknut Antiqua', serif;
  }

  #main #contact-us form{
  background: grey;
  }

  #main #contact-us legend {
    margin-left:190px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #4CAF50;
  }

  #main #contact-us .contact-management fieldset {
    margin-top: 20px;
    padding: 40px;
    margin-right: 150px;
    margin-left: 150px;
    height: 495px;
  }

  #main #contact-us .contact-management textarea {
  background-color: #E5E0E0;
  border-color: #333333;
  }

  input[type=text] {
      border: 2px solid #333333;
      border-radius: 4px;
      width: 30%;
      height: 25px;
      background-color: #E5E0E0;
  }

  input[type=submit] {
    margin-top: 7px;
    padding: 15px 65px;
    background-color: #2a61ba;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: white;
  }

  #main .footer {
    background-color: purple;
    width: 100%;
    height: 80px;
  }

  #main .footer .social-media {
    padding-left: 600px;
    padding-top: 10px;
    font-size: 20px;
  }

  #main .footer .social-media i {
    margin-right:15px;/*space social media icons*/
    padding-left: 30px;
  }
  #main .footer .social-media .copy-right {
    font-size: 12px;
    font-weight: bold;
  }
