body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}



/*-------------------------
Navbar
---------------------------*/
.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
.navbar-default {
    font-size: 14px;
    background-color: rgba(117, 29, 29, 1);
    background: -webkit-linear-gradient(top, rgba(196, 33, 33, 1) 0%, rgba(117, 29, 29, 1) 100%);
    background: linear-gradient(to bottom, rgba(196, 33, 33, 1) 0%, rgba(117, 29, 29, 1) 100%);
    border-width: 0px;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(209, 209, 209, 1);
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(231, 231, 231, 1);
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #751d1d;
}


/*--------------------
Slider
----------------------*/

.bg1
{
    background-image: url('../img/11.png');
}

.bg2
{
    background-image: url('../img/12.png');
}


.bg3
{
    background-image: url('../img/13.png');
}
#c-slide {
	padding:0px;
	margin-top:-2px;
	font-family: "Open Sans" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;

}
.carouselvshadow {
	margin-top:-30px;
}
.car-highlight1 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#0066CC;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
}
.car-highlight2 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#7f8c8d;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
	margin-top:10px;
}
.car-highlight3
{
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    color: #CC0000;
    text-decoration: none;
    padding: 10px;
    border-width: 0px;
    border-color: rgb(255,214,88);
    border-style: none;
    display: inline-block;
    margin-top: 10px;
}
.car-highlight4
{
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    color: #34495e;
    text-decoration: none;
    padding: 10px;
    border-width: 0px;
    border-color: rgb(255,214,88);
    border-style: none;
    display: inline-block;
    margin-top: 10px;
}
.car-highlight5
{
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    color: #0066CC;
    text-decoration: none;
    padding: 10px;
    border-width: 0px;
    border-color: rgb(255,214,88);
    margin-left: -6px;
    border-style: none;
    display: inline-block;
    margin-top: 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.car-largetext {
	font-weight:800;
	font-family:Open Sans;
	color:#fff;
	text-decoration:none;
	background-color:transparent;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	margin:0px;
	padding:1px 4px 0px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	font-size:50px;
}
.car-widecircle {
	background:#222;
	width:130px;
	height:130px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-widecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:130px;
	width:130px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-middlecircle {
	background:#fff;
	width:120px;
	height:120px;
	color:#555;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-middlecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:120px;
	width:120px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-smallcircle {
	background:#0066CC;
	width:100px;
	height:100px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
}
.car-smallcircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	width:100px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.carouselText1
{
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    border-radius: 0;
}
.carouselText2
{
    font-size: 22px;
    display: inline-block;
    padding: 10px 20px;
    color: #FF6699;
    border-radius: 0;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    font-weight: 600;
}
.carouselText3 {
	font-size:14px;
	display:inline-block;
	padding:0px 10px;
	color:#fff;
	border-radius:5px;
	font-weight:900;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.slide1-1 {
	z-index:0;
	margin-top:-230px;
	position:relative;
	margin-left:0px;
	left:0px;
	max-width:85%;
}
.slide1-2 {
	z-index:1000;
	margin-top:-250px;
	position:relative;
	right:180px;
	max-width:22%;
}
.slide1-3 {
	position:relative;
	z-index:1000;
	float:right;
	top:135px;
	left:10px;
	max-width:35%;
}
.carousel .carousel-control {
	width:10%;
}
.carousel .item {
	padding:30px 0px;
	height:390px;
	overflow:hidden;
	-webkit-background-size:cover !Important;
	-moz-background-size:cover !Important;
	-o-background-size:cover !Important;
	background-size:cover !Important;
}
.carousel {
	position:relative;
}
.carousel p
{
    color: #000000;
    line-height: 30px;
}
.carousel-inner>.item {
	display:none;
	position:relative;
	-webkit-transition:0.6s ease-in-out left;
	transition:0.6s ease-in-out left;
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	display:block;
	max-width:100%;
	height:auto;
	line-height:1;
}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
	display:block;
}
.carousel-inner>.active {
	left:0;
}
.carousel-inner>.next,.carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%;
}
.carousel-inner>.next {
	left:100%;
}
.carousel-inner>.prev {
	left:-100%;
}
.carousel-inner>.next.left,.carousel-inner>.prev.right {
	left:0;
}
.carousel-inner>.active.left {
	left:-100%;
}
.carousel-inner>.active.right {
	left:100%;
}
.carousel-control
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-fade .carousel-inner .item {
	opacity:0;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
}
.carousel-fade .carousel-inner .active {
	opacity:1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
	left:0;
	opacity:0;
	z-index:1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
	opacity:1;
}
.carousel-fade .carousel-control {
	z-index:2;
}
.carousel-control.left {
	background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.0001) 100%);
}
.carousel-control.right {
	left:auto;
	right:0;
	background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
}
.carousel-control:hover,.carousel-control:focus {
	color:#ffffff;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
	position:absolute;
	top:50%;
	left:50%;
	z-index:5;
	display:inline-block;
}
.carousel-control .icon-prev,.carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif;
}
.carousel-control .icon-prev:before {
	content:'\2039';
}
.carousel-control .icon-next:before {
	content:'\203a';
}
.carousel-indicators {
	position:absolute;
	left:50%;
	z-index:10000;
	width:60%;
	margin-left:-30%;
	padding-left:0;
	list-style:none;
	text-align:center;
}
.carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	border:1px solid #ffffff;
	border-radius:10px;
	cursor:pointer;
}
.carousel-indicators .active {
	margin:0;
	width:12px;
	height:12px;
	background-color:#ffffff;
}
.carousel-caption {
	position:absolute;
	left:15%;
	right:15%;
	bottom:20px;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#ffffff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
.carousel-caption .btn {
	text-shadow:none;
}
.carousel-control {
	width:40px;
	color:#fff;
	text-shadow:none;
	opacity:1;
	margin-left:40px;
	margin-right:40px;
}
.carousel-control:hover,.carousel-control:focus {
	color:#ccc;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.carousel-control.left,.carousel-control.right {
	background-image:none;
	filter:none;
	background:rgba(0,0,0,.1);
	height:80px;
	width:50px;
	margin-top:25%;
		margin-left:0px;
	margin-right:0;
}
.carousel:hover .carousel-control.left,.carousel:hover .carousel-control.right {
}
.carousel-control.left {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.carousel-control.right {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.carousel-control i {
	position:absolute;
	top:30px;
	left:0;
	z-index:5;
	display:inline-block;
	width:50px;
	height:80px;
	margin-left:0px;
}
.carousel-indicators.out {
	bottom:-5px;
}
.carousel-control.left,.carousel-control.right {
	margin-top: 11%;
}
/*--------------------------------------------------	CAROUSEL FEATURED WORK---------------------------------------------------*/
#carousel-featuredwork .item {
	padding:0;
	height:410px;
}
#carousel-featuredwork .carousel-indicators {
	margin-left: -31%;
}

/*---------------------
About
-----------------------*/
#about
{
    background-color: #FFEAEA;
    padding-top: 30px;
    padding-bottom: 40px;
}
.heading-center
{
    text-align: center;
    margin-bottom: 0px;
}.heading-center .section-heading
{
    font-size: 35px;
    margin-bottom: 0;
}.heading-center hr
{
    width: 80px;
    margin-top: 20px;
    border-color: #CC0000;
    margin-bottom: 40px;
}


.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }
    .panel-heading
{
    border: none;
    background-color: #9B595B;
}
    .panel-body
{
    background-color: #F1E7E7;
    text-align: justify;
}
    .panel-title
{
    font-weight: 400;
    color: #FFFFFF;
}

/*----------------------------------
    Macbook pro mockup from:
    http://jaredhardy.com/minimal-devices/

----------------------------------*/

.md-macbook-pro {
  display: block;
  width: 55.3125em;
  height: 31.875em;
  font-size: 13px;
  margin: 0 auto;

  @media (max-width:1199px){
    font-size: 11px;
  }
  @media (max-width:1024px){
    font-size: 10px;
  }

  @media (max-width:767px){
    font-size: 7px;
  }

  @media (max-width:320px){
    font-size: 5px;
  }

}
.md-macbook-pro .md-lid
{
    width: 45em;
    height: 30.625em;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 1.875em;
    border: solid 0.1875em #cdced1;
    background: #131313;
}
.md-macbook-pro .md-camera
{
    width: 0.375em;
    height: 0.375em;
    margin: 0 auto;
    position: relative;
    top: 1.0625em;
    background: #000;
    border-radius: 100%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.md-macbook-pro .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-macbook-pro .md-screen {
  width: 42.25em;
  height: 26.375em;
  margin: 0 auto;
  position: relative;
  top: 2.0625em;
  // background: #1d1d1d;
  background: #fff;
  overflow: hidden;
}
.md-macbook-pro .md-screen img {
  width: 100%;
}
.md-macbook-pro .md-base {
  width: 100%;
  height: 0.9375em;
  position: relative;
  top: -0.75em;
  background: #c6c7ca;
}
.md-macbook-pro .md-base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #b9babe;
  border-radius: 0 0 1.25em 1.25em;
}
.md-macbook-pro .md-base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
  background: #a6a8ad;
  border-radius: 0 0 0.625em 0.625em;
}
.md-macbook-pro.md-glare .md-lid:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25em 0 0;
  background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}

/*----------------
Services
-----------------*/
#portfolio
{
    background-color: #E6E6E6;
    padding-top: 30px;
    padding-bottom: 40px;
}



#portfolio img
{
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;


}
#portfolio img:hover
{
     -webkit-filter: grayscale(100%)
          brightness(135%)
          contrast(120%);
  filter: grayscale(100%)
          brightness(135%)
          contrast(120%);

}
#portfolio h3
{
    border-color: #FF0000;
    color: #CC0000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0%;
    border-bottom-style: solid;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*----------------
contact
------------------*/
#contact
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3D4156;
    color: #FFFFFF;
}



/*----------
Footer
------------------*/

.copyright
{
    border-width: 1px;
    border-color: #3C4357;
    color: #fff;
    font-size: 12px;
    background: #181B23;
    border-top-style: solid;
}
.copyright ul.footermenu li a {
	color:#fff;
	height:50px;
}
.copyright p {
	line-height:50px;
	margin:0px;
}
.footer input, .footer textarea, .footer input[type="text"]
{
    background-color: #333;
    border: 1px solid #3c3c3c;
    font-size: 12px;
    margin-bottom: 10px;
    color: #aaa;
    padding: 10px;
}
.footer .btn {
	background:#333;
	text-shadow:none;
	padding:6px 12px;
	font-size:13px;
	color:#888;
}
ul.footermenu {
	list-style:none;
	margin-top:10px;
}
ul.footermenu li {
	float:left;
	margin-left:5px;
	margin-right:5px;
	text-transform:uppercase;
	line-height:33px;
}
ul.footermenu li a
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #999;
    font-size: 11px;
}
ul.footermenu li a:hover {
	color:#fff;
}
.footermenu li:before {
	content:'|';
	color:#fff;
	display:inline-block;
	margin-right:7px;
}
.footermenu li:nth-child(1):before {
	display:none;
}




.back-to-top
{
    position: fixed;
    bottom: 25%;
    right: 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1em;
    display: none;
    font-weight: bold;
    background-color: rgb(0, 102, 153);

}
.back-to-top:hover
{
    background-color: #7f345a;
    text-decoration: none;
    color: #FFFFFF;
}	
