body {
width: 75%;
margin: 0 auto;
font-family: 'Lato', sans-serif;
color: white;
background-color: black;
}

.heading{
  width:100%;
  height: auto;
  margin: 0;
  padding: 40px;
}
 /*how to move text around! Small victories*/
.title{
  float: left;
  padding: 10px;
}

.nave{
  float: right;
  margin:0;
  padding: 10px;
}

.opcity{
  text-align: center;
  background-image: url("../img/opcity.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 75px;
}

.button{
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin-top: auto;
  color:black;
  background-color: white;
  border: 5px solid silver;
  height:20%;
  width:20%;
}

.columns{
  display:flex;
  height: 100%;
  width: 100%;
  padding: 10px;
  }

.main-column{
  flex:2;
}

.column{
  flex:1;
  width: 20%;
  height: 20%;
  flex-direction: column;
  padding: 10px;
}

.article{
  flex:1;
  margin: 10px;
  padding: 20px;
}

.fours{
  background-color: lightgray;
  display:flex;
  justify-content: ;
  height: 100%;
  width: 100%;
  flex:1;
  margin: 0;
}

.four-article{
  flex:1
  width: 100%;
  heigh: 100%;
  flex-direction: row;
  padding: 10px;
  align-items: left;
}

.twos{
  display:flex;
  padding: 20px;
  margin: 5px;
  justify-content: center;
}

.twoarticle{
  flex:1;
  margin:0
  padding: 20px;
  background-color: none;
  justify-content: center;
}

.help{
  background-image: url("../img/foot.jpg");
  display: flex;
  text-align: center;
  padding: 20px;
}

.helpbutton{
  flex: 1;
  align-items: center;
  align-content: flex-end;
}
