body {
width: 75%;
margin: 0 auto;
font-family: 'Lato', sans-serif;
color: white;
background-color: black;
}

head{
  width:auto;
  margin: 0;
  float: right;
}
 /*how to move text around! Small victories*/
#title{
  text-align: left;
  display: flex;
}

.nave{
  text-align: right;
  padding:10px;
  justify-content: flex-start;
  flex-direction: column;
}

#opcity{
  text-align: center;
  background-image: url("../img/opcity.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 700px;
  height: 350px;
  padding: 75px;
}

#button{
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin-top: auto;
  color:black;
  background-color: white;
  border: 5px solid blue;
}

.columns{
  display:flex;
  }

.main-column{
  flex:2;
}

.column{
  flex:1;
  width: 20%;
  height: 20%;
  flex-direction: column;
  padding: 10px;
}

.article{
  flex:1;
  margin: 10px;
  padding: 20px;
}

.fours{
  background-color: lightgray;
  display:flex;
  justify-content: space-between;
}

.four-article{
  flex:1
  width: 10%;
  heigh: 20%;
  flex-direction: row;
  padding: 10px;
}

.four-article{
  flex: 1;
  margin:0;
  padding:10px;
}

.twos{
  display:flex;
  padding: 20px;
  margin: 5px;
}

.twoarticle{
  flex:1;
  margin:0
  padding: 20px;
  background-color: none;
}

.help{
  background-color: lightgray;
  display: flex;
  text-align: center;
}

.helpbutton{
  flex: 1;
  align-items: center;
}
