body {
    width: 70%;
    margin: 0 auto;
    background: #f0efe7;
    font-family: 'Arial', sans-serif;
}
header{
    border: 1px solid black;
}
#first{
    margin-right: 20px;
    display: inline;

}
header,h2{
    text-align: center;
}
section{
    border:1px solid black;
}
header, main, section, footer {
    margin-bottom: 10px;
}

nav{
    color: #f14e32;
    text-decoration: none;
    border: 1px solid black;
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

section, aside {
    float: left;
    padding: 5px 7px;
}

section:nth-child(2) {
    width: 73%;
    border-right: solid 1px #ccc;
    overflow: hidden;
}

aside {
    width: 23%;
    text-align: center;
    font-size: 13px
}

aside div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

footer {
    clear: both;
    font-weight: bold;
    border-top: solid 1px #bbb;
    padding: 5px;
}
