body {
  opacity: 1;
  background-color: rgb(100, 179, 244);
  background-image: linear-gradient(to left, rgb(194, 229, 156), rgb(100, 179, 244));
  height: 100px;
  width: 100px;
}



#time {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 400px;
    font-family: helvetica;
    text-align: center;
    color: blue;
    font-size: 120px;
}
