header{
  border: 1px solid yellow;
  height: 100px;
  border-radius: 10px;
}

main {
  border: 1px solid yellow;
  height: 1600px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 160px;

}
h1 {
  font-size: 40px;
  display: inline;
  text-shadow: 2px 2px #ff0000;
  text-align: center;

}

.image1 {
  width: 1070px;
  border: 1px groove blue;

}
h2 {
  word-spacing: 50px;
  padding-left: 530px;
  padding-top: 10px;
}
/*added a gradient background*/
body {
  background-image: linear-gradient( 135deg, #FFD26F 0%, #3677FF 100%);
}
/*made it so the picture wasn't too close to the text, centered the text, and made the text have a smaller feel, so as to be easier read */
p{
  padding-bottom: 20px;
  text-align: center;
  margin-left: 265px;
  margin-right: 265px;
}
/*added padding to the top of section so that it wouldn't be too close to the upper image*/
#aboutSection {
  padding-top: 20px;
}

h3 {
  font-size: 20px;
  text-shadow: 1px 1px #ff0000;
  padding-bottom: 11px;
  padding-top: 30px;
}
#productSection {
  padding-top: 20px;
}

footer {
  text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #EBECF0;
    padding: 20px;
}
.pics {
  padding-left: 20px;
}
