*{
  border:1px solid red;
}
.nav-links ul{
  display:flex;
  flex-direction: column;
}

.hero{
  background-image: url("../img/air-force.jpg");
  margin:0 auto;
  background-repeat:
  background-position: top;
  background-size: cover;
  width:850px;
  height:555px;
  margin: 0 auto;
  font-family: 'Fira Sans',sans-serif;
  font-size:4.6em;
  color: #ffffff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
  text-decoration: none;
}

.cheetah{
  display: flex;
  justify-content:flex-start;
  margin-top:-50px;
}

.adidas{
  margin-top:70px;
  width: 40%;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 70px;
  height: 30vh;
}

.shoe-menu{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.headers {
  display:flex;
  justify-content: space-around;
}

.comments{
  display:flex;
  justify-content:space-around;
}
