.container {
  outline-style: solid;
}
.intro {
  outline-style: solid;
  margin: 20px;
  padding: 10px;
}
.second-form {
  outline-style: solid;
  margin: 20px;
  padding: 10px;
}

.foundation {
  outline-style: solid;
  margin: 20px;
  padding: 10px;
}

.foundation .foundation-image {
  outline-style: solid;
}

.first-form {
  outline-style: solid;
  margin: 20px;
  padding: 10px;
}
