.flex-container {
  height: 100px;
  background-color: black;
  border-bottom: 1px solid silver;
  width: 100%;
  display:flex;
  ​display: -webkit-flex;
}

.logo {
  padding: 2%;
  line-height: normal;
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 2.5em;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

li {
  display: inline-block;
  margin-top: 0px;
  margin-right: 40px;
}

.Hero {
  background-image: url('../img/girl6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  text-align: center;
  height: 470px;
}

h2 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 2.5em;
}
