body {
  background-image: url("../img/tortillasoup3.jpg");
  font-family: 'Lato';
}
header {
  border-bottom: white solid 3px;
}
.Tabs {
  margin-top: 45px;
  margin-right: 80px;
  float: right;
}
a {
  margin-left: 30px;
}
.About {
  margin-left: 35px;
  margin-right: 550px;
}
.owner {
  margin-left: 35px;
}
.locations {
  font-size: 30px;
  margin-left: 15px;
}
.slogan {
  float: right;
  margin-top: 450px;
  margin-right: 180px;
  font-style: italic;
  font-family: cursive;
}
.Phone {
  color: Black;
  margin-top: 450px;
  float: right;
  margin-right: 100px;
}
.Menu {
  text-align: center;
}
