@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100%;
  width: 100%;
  font-family: 'Slabo 27px', serif;
}
.cards{
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.cardsItem{
  /* border: 1px solid blue; */
  padding: 16px;
}
.card{
  display: flex;
  flex-direction: column;
  height: 500px;
  /* width: 400px; */
  overflow: hidden;
  border: 1px solid plum;
  box-shadow: 5px 5px 5px 5px rgba(50,220,170,.4);
}
.cardImage{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardImageComp{
  background-image: url("https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.cardContent{
  /* border: 2px solid green; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  /* flex: 1 1 auto; */
}
.cardContent h4{
  color: #2c2a2a;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* flex: 1; */
}
.cardContent p{
  line-height: 1.5;
  padding: 20;
  max-height: 160px;
  overflow: auto;
  /* flex: 1; */
}
button{
  width: 30%;
  background-color: white;
  border: 1px solid #eee;
  color: #4d4d4d;
  padding: 10px;
  text-transform: lowercase;
  width: 100%;
  outline-color: pink;
  cursor: pointer;
}
button:hover{
  box-shadow: 2px 2px 0px 0px rgba(39, 37, 37, 0.089);
}
button:active{
  background-color: rgb(241, 239, 239);
}
@media(min-width: 440px){
  .cardsItem{
    width: 50%;
  }
  .cardContent h4{
    font-size: 10px;
  }
}
@media(min-width: 640px){
  .cardsItem{
    width: 50%;
  }
  .cardContent h4{
    font-size: 15px;
  }
}
@media(min-width: 896px){
  .cardsItem{
    width: 33%;
  }
  .cardContent h4{
    font-size: 20px;
  }
}