    /********************************* reset start */
    
    html,
    body,
    div,
    img,
    ol,
    ul,
    li,
    table,
    tr,
    th,
    td {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        display: block;
    }
    
    body {
        font-family: 'Sprint Sans Web', sans-serif;
        font-weight: 500;
        line-height: 1.1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /****************************************** reset end */
    
    #stage {
        top: 0px;
        left: 0px;
        width: 300px;
        height: 250px;
        background-position: left top;
        background-repeat: no-repeat;
        overflow: hidden;
        display: block;
        position: relative;
        cursor: pointer;
        border: 1px solid #000;
        box-sizing: border-box;
        visibility: hidden;
    }
    
    #banner {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        font-family: 'Sprint Sans Web', sans-serif;
        font-weight: 500;
    }
    
    #image1 {
        display: block;
        position: absolute;
        width: 100px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 80px;
        left: 10px;
        z-index: 34;
    }
    
    #image2 {
        display: block;
        position: absolute;
        width: 100px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 80px;
        left: 195px;
        z-index: 33;
    }
    
    #logo {
        position: absolute;
        background: url('Sprint_Stacked_Black_RMark.png') no-repeat top left;
        background-size: contain;
        background-repeat: no-repeat;
        width: 38px;
        height: 63px;
        top: 7px;
        left: 250px;
        z-index: 98;
        display: block;
    }
    
    #cta {
        height: auto;
        width: auto;
        padding: 6px 12px;
        border-radius: 12px;
        position: absolute;
        top: 185px;
        left: 125px;
        z-index: 200;
        overflow: hidden;
        background-color: #000;
    }
    
    #cta_copy {
        width: auto;
        height: auto;
        text-align: center;
        font-size: 12px;
        white-space: nowrap;
        color: #FFF;
        min-width: 80px;
        font-weight: 500;
    }
    
    #offer_eyebrow_copy {
        position: absolute;
        width: auto;
        height: auto;
        z-index: 13;
        font-size: 17px;
        font-weight: 500;
        top: 140px;
        left: 120px;
    }
    
    #primary_message {
        position: absolute;
        display: table;
        width: 180px;
        height: auto;
        top: 125px;
        left: 120px;
        z-index: 14;
    }
    
    #primary_copy {
        width: inherit;
        height: auto;
        z-index: 14;
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    
    #primary_copy2 {
        width: inherit;
        height: auto;
        z-index: 14;
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    
    #supporting1_copy {
        width: inherit;
        height: 0;
        z-index: 24;
        font-size: 17px;
    }
    
    #supporting2_copy {
        width: inherit;
        height: 15px;
        z-index: 25;
        font-size: 17px;
    }
    
    #offer_message {
        position: absolute;
        display: table;
        width: 160px;
        top: 100px;
        z-index: 30;
        left: 125px;
        height: auto;
    }
    
    #closing_headline {
        width: inherit;
        font-size: 20px;
        font-weight: 700;
    }
    
    #summary_copy {
        width: inherit;
        font-size: 12px;
        font-weight: 500;
    }
    
    #urgency_message {
        position: absolute;
        width: 150px;
        height: 20px;
        top: 20px;
        left: 25px;
        z-index: 31;
        font-size: 15px;
        font-weight: 700;
    }
    
    #legal_rollover {
        position: absolute;
        width: auto;
        height: 12px;
        top: 233px;
        left: 25px;
        font-size: 8px;
        z-index: 102;
    }
    
    #legal {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFC309;
        z-index: 99;
        display: table;
    }
    
    #legal_copy {
        position: absolute;
        width: 80%;
        height: auto;
        font-size: 12px;
        text-align: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    
    #background_color_bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 5px;
        background-color: #ffc309;
        z-index: 3;
    }
    
    #background_color {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    
    #bgtexture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, rgba(255, 219, 75, 1) 0%, rgba(255, 195, 9, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 219, 75, 1) 0%, rgba(255, 195, 9, 1) 100%);
        overflow: hidden;
    }
    
    .outerGlow {
        text-shadow: 1px 1px 10px #ffc309;
        -webkit-filter: drop-shadow(1px 1px 10px #ffc309);
        filter: drop-shadow(1px 1px 10px #ffc309);
    }