body {
  background-color: lightgrey;
}

header {
  width: 100%;
  height: 200px;
  background-image:url("../images/Cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow: 3px 3px black;
  font-family: boulder;
  font-size: 60px;
}
