body {
}

header {
  width: 100%;
  height: 250px;
  background-image:url("../images/Cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;

}

main {
}

section{
  height: 900px;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-image:url("../images/mountainlake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  text-shadow: 1px 1px white;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.cloud {
  text-align: center;
  text-shadow: 3px 3px white;
  font-size: 80px;
  font-family:cursive;

}

.whitebreak {
  background-color: white;
  width:100%;
  height: 25px;
}

.blackbreak {
  background-color: black;
  width:100%;
  height: 25px;
}

.center {
    margin: auto;
    height: 20%;
    width: 60%;
    padding: 60px;
    text-align: center;
    font-family: impact;
    font-size: 75px;
    color: silver;
    text-shadow: 4px 4px black;
    font-weight: bold;

}

.grad1 {

    color: silver; /* For browsers that do not support gradients */
    color: linear-gradient(to bottom right, silver, darkgrey); /* Standard syntax (must be last) */
}
