/*.boxy {
  border: 1px magenta solid;
}*/

/* The sidenav */

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

#sideNav {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 20%;
  max-width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: right;
  border-right: 1px solid black;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

#sideNav h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  line-height: 36px;
  margin-top: 75px;
  margin-right: 15px;
  font-size: 40px;
}

#sideNav a {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 10;
  line-height: 24px;
  margin-right: 15px;
}

#sideNav div {
  margin-top: 100px;
  margin-right: 15px;
  font-size: 12px;
}

/* Page content */
main {
  margin-left: 18%; /* Same as the width of the sidenav */
}

#hamburger {
  display: none;
  font-family: 'Oswald', sans-serif;
  max-height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  #hamburger {
      display: block;
    }

  main {
    margin-left: 0px;
  }
}

@media only screen and (max-device-width: 800px) {
  main {
    margin-left: 0px;
  }
}

section {
  height: 726px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

#Home {
  display: flex;
  min-height: 726px;
  justify-content: space-around;
  flex-flow: column nowrap;
}

#Home img {
  max-height: 60%;
  display: block;
  align-self: center;
}

#Home p {
  width: 80%;
  text-indent: 5em;
  align-self: center;
  margin-bottom: 20px;
}

#GraphicDesign {
  height: 726px;
}

#GraphicDesign img {
  display: block;
  margin: auto;
  max-height: 400px;
}

#GraphicDesign  a {
  font-family: 'Crete Round', serif;
  text-decoration: none;
}

.myGraphicDesignSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 250px;
  max-width: 420px;
}

#Illustration {
  height: 726px;
}

#Illustration img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  max-height: 400px;
  max-width: 80%;
}

#Illustration a {
  display: block;
  font-family: 'Crete Round', serif;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#Illustration a:hover {
  color: red;
}

#Performance {
  height: 726px;
}

#Performance img {
  display: block;
  margin: auto;
  max-height: 400px;
}

.myPerformanceSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 250px;
  max-width: 400px;
}

#Publications {
  width: 100%;
  height: 720px;
}

.publications-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

article {
  display: flex;
  width: 300px;
  height: 500px;
  /*justify-content: space-between;*/
  flex-flow: column nowrap;
  align-items: center;

}

article img {
  max-width: 300px;
  max-height: 400px;
  /*margin-bottom: 30px;*/
}

article h3 {
  font-family: 'Crete Round', serif;
  max-width: 400px;
}

article a {
  font-family: 'Oswald', sans-serif;
  size: 20px;
  text-decoration: none;
  margin-top: 50px;
}

#Code {
  height: 720px;
}

#Code img {
  display: block;
  margin: auto;
  max-width: 800px;
  max-height: 400px;
}

.myCodeSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 250px;
  max-width: 400px;
}

#DModeling {
  height: 720px;
}

#DModeling img {
  display: block;
  margin: auto;
  max-width: 800px;
  max-height: 400px;
}

#DModeling video {
  display: block;
  margin: auto;
}

.my3DModelingSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 230px;
  max-width: 600px;
}

#Stunts {
  height: 720px;
}

#Stunts img {
  display: block;
  margin: auto;
  max-width: 800px;
  max-height: 400px;
}

.myStuntSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 230px;
  max-width: 600px;
}

#Projects {
  height: 720px;
}

#Projects img {
  display: block;
  margin: auto;
  max-width: 800px;
  max-height: 400px;
}

.myProjectSlides div {
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top: 250px;
  max-width: 600px;
}

#Links h2 {
  margin-bottom: 75px;
}

#Links a {
  width: 400px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  margin-left: 100px;
}

#Links a:hover {
  color: red;
}

#Contact {
  height: 720px;
}

#Contact span {
  display: block;
  max-width: 400px;
  margin: auto;
  margin-top: 400px;

}

@media (max-width: 767px) {
  #Publications {
    height: 1060px;
  }
}
