/*font-family: "Work Sans"*/
/*font-weight:400;*/
header{
  background-color: rgb(200,54,54); /*Fallback*/
  background-color:rgba(255, 255, 255,0.5 );
  position:relative;
  top:-41px;
  left:-31px;
  width:1798px;
  /*border:1px solid;*/
  height:92px;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}

.logo{
  position:absolute;
  top:5px;
  height:110px;
  width:128px;
  float:left;
 }

 h1{
   text-align: center;
   font-size: 50px;
  }

title{
  font-size: 89px;
  float:left;
  font-family: "Work Sans";
}
.recipe-link-container{
  position: relative;
  top:-99;
  right:10px;
}
nav{
  width:auto;
  /*border:1px solid;*/
  float:right;
  position:absolute;
  background-color: white;

}

nav div{
  width:auto;
  float:left;
  border:1px solid;
  padding:2px;
  margin:4px;
}

body{
  background-image: url("../img/background.jpg");
  background-repeat:no-repeat;
}

main-container{
  position:relative;
  left:500px;
  width:700px;
  height:auto;
}

h3{
  text-align:center;
  color:black;
  font-size:40px;
  position: relative;
  top:35px;
}
main section div{
  float:left;
  margin:5px;
  height:auto;
  width:auto;
  /*background:red;*/
}
main img{
float:left;
height:200px;
width:350px;
}
.hero-section {
  background: url("../img/cooking.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

p {
  text-align:center;
  float:none;
  font-size:15px;
}
