/* BODY STYLES */
body {
    font-family: 'Karla', sans-serif;
}



/* HEADER STYLES */
header {
    background-color: rgb(249, 223, 107);
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: 25px;
    top: 0;
    text-align: center;
    font-size: 20px;
    color: rgb(114, 41, 81);
}

/* LINK STYLES */
.link a {
    margin-right: 20px;
    float: right;
    text-decoration: none;
    color: rgb(114, 41, 81);
}

.donate a {
    padding-right: 2px !important;
}

.social a {
    float: left;
    text-decoration: none;
    color: rgb(114, 41, 81);
}

 .twitter a {
    margin-top: -20px;
    margin-left: 10px;
}

.facebook a {
    margin-top: -40px;
    margin-left: 55px;
} 

/* MAIN STYLES */
main {
    width: 960px;
    margin: 0 auto;
  }


/* LOGO STYLES */
.logo {
    margin-top: 5px;
  }

  /* ABOUT STYLES */
#about {
    margin-top: -164px;
    margin-left: 200px;
    width: 710px;
}

/* CONTENT STYLES */
.content  { 
    display: flex;
    float: left;
    margin-top: 50px;
    margin-left: 200px;
 }

/* RACE RALENDAR STYLES */
.calendar  {
    width: 230px;
    height: 230px;
    text-align: center;
 }

.calendar a {
    text-decoration: none;
    color: rgb(114, 41, 81);
    font-weight: bold;
    font-size: 20px;
 }

.calendar a:hover {
    box-shadow: 0 10px 10px -10px rgb(114, 41, 81);
}

 .calendar img  {
    width: 230px;
    height: 230px;
 }

/* RACE PHOTOS STYLES */
.photos  { 
    margin-left: 10px;
    width: 230px;
    height: 230px;
    text-align: center;
 }

 .photos a {
    text-decoration: none;
    color: rgb(114, 41, 81);
    font-weight: bold;
    font-size: 20px;
 }

.photos a:hover {
    box-shadow: 0 10px 10px -10px rgb(114, 41, 81);
}

 .photos img  { 
    width: 230px;
    height: 230px;
 }

 /* TEAM MEMBERS STYLES */
.team  {
    margin-left: 10px;
    width: 230px;
    height: 230px;
    text-align: center;
 }

 .team a {
    text-decoration: none;
    color: rgb(114, 41, 81);
    font-weight: bold;
    font-size: 20px;
 }

.team a:hover {
    box-shadow: 0 10px 10px -10px rgb(114, 41, 81);
}

 .team img  { 
    width: 230px;
    height: 230px;
 }


