* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: 'Courgette', cursive;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav{
  margin-right: 5%;
}

h1 {
  font-size: 30px;
}

h4 {
  margin-top: 20px;
  font-weight: 100;
}

a {
  display: inline-block;  /* required to set margin */
  font-size: 20px;
  text-decoration: none;
  margin: 20px 0px;
}

a:hover {
  color: blue;
}

div {
  width: 50vw;
  height: calc(50vw * 0.8);  /* image aspect width:height is 1:0.8, so height should be set to 80% of width */
  overflow: hidden;
  box-shadow: 0 9px 9px 0 rgba(255, 255, 255, 0.15);  /* right-side shadow not displaying as desired */
  box-shadow: 0 6px 6px 0 rgba(255, 255, 255, 0.25);
}

/* responsive image sliders selected with :target */

@keyframes photo {
  0%  {left: 0%;}
  20% {left: 0%;}
  25% {left: -100%;}
  45% {left: -100%;}
  50% {left: -200%;}
  70% {left: -200%;}
  75% {left: -300%;}
  95% {left: -300%;}
  100% {left: -400%;}
}

div figure {                        /* The image count of each figure element must be the same */
  position: relative;
  width: 500%;                      /* width = 100% per image in figure */
  animation: 30s photo infinite;
}

div figure#engagement img {         /* #engagement is the default on page load */
  width: 20%;                       /* width = 100% / image count in figure */
  float: left;
}

  /* using target, the desired slider is rendered when its anchor clicked */
div figure#engagement:target img {
  width: 20%;
  float: left;
}

div figure#family:target img {
  width: 20%;
  float: left;
}

div figure#nature:target img {
  width: 20%;
  float: left;
}

div figure#other:target img {
  width: 20%;
  float: left;
}
