.flexcontainer{
  height: auto%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.headingcontainer{
  background-color: #4A90E2;
}

.bgcontainer{
  height: 90%;
  background: #4A90E2;
}
