h1 {
  color: black;
  font-family: 'Dynalight', cursive; /* Places the font used from google fonts into my page*/
  font-size: 80px;
  text-align: center;
  margin-top: 415px;
}
body {
  background-image: url(https://abasto.com/wp-content/uploads/2017/04/delicatessen.jpg); /*Sets the image I chose as my bacvkground image*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: 1200px 500px;
  background-color: darkKhaki;
}
.nav-wrapper {  /*Background for my nav bar*/
  float: center;
  width: 1200px;
  margin-top: -66px;
  padding: 10px 0;
  background: lightgrey;
  margin-left: 67px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
ul.nav {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  overflow: auto;
}
ul.nav li a {  /* Affects the contents with the nav bar */
text-decoration: none;
display: block;
padding:10px 21px;
background: Brown;
color: white;
float: left;
text-align:center;
border-top:2px solid #990000;
border-right:2px solid #ff6666;
border-bottom:2px solid #ff6666;
border-left:2px solid #990000;
}

ul.nav li a:hover { /*Changes the nav bar links when Ihover over them*/
background: slateGrey;
color: white;
border-top:2px solid #815444;
border-right:2px solid #c59888;
border-bottom:2px solid #c59888;
border-left:2px solid #815444;
}
.article {
  width: 800px;
  height: 100px;
  font-family: times;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: lightGrey;
  border-radius: 30px;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
