#logo {
    width: 230px;
    float: left;
}

a {
    color: #BF5700;
    font-weight: bold;
}

nav {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-top: 40px;
    margin: 10px;
}

hr {
    border-top: 2px solid black;
    opacity: 0.1;
}

.jumbotron {
    background-color: #BF5700;
    height: 400px;
    text-align: left;
    color: white;
    padding-left: 215px;
}

.jumbotron button {
    background-color: #BF5700;
    border: 0.5px solid white;

}

.moto {
    float: left;

    width: 58%;
    margin: 1%;
    /*uncomment this to debug*/
    /*border: 1px solid black;*/
}
.news {
    float: right;
    width: 38%;
    margin: 1%;
    border-left: 1px solid rgba(0,0,0, 0.1);

    /*uncomment this to debug*/
    /*border: 1px solid black;*/
}

.roundImg {
    float: left;
    margin-right: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

article.moto h1 {
    font-size: 38px;
}

article.moto h2 {
    font-size: 21px;
}

article.news img {
    width: 100%;
}

article.news {
    padding-left: 50px;
}

div.jumbotron h1 {
    padding-top: 70px;
}

.connect {
    float: left;
    width: 33%;
    margin: 1%;
}

.links {
    float: right;
    width: 63%;
    margin: 1%;
    border-left: 1px solid rgba(0,0,0, 0.1);
}

article.connect button {
    border: 1px solid #BF5700;
    color: #BF5700;
    background-color: white;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.more {
    float: right;
}

#socialMediaBtns {
    margin-top: 20px;
}

.fa {
    margin: 5px;
}

article.links a {
    color: black;
    font-size: 16px;
    display: inline-block;
    width: 25%;
    margin-right: 35px;
}

article.links div {
    margin: 15px;
}

article.links {
    padding-left: 10px;
}

div#menu a {
    color: black;
}


