#my_navbar{
  background-color:white;
  border: none;
  color:black;
}
#first_section{
  color:white;
  background-position: center;
  background-size: cover;
  padding-top:20%;
  padding-bottom:20%;
  background-image:url(../img/wine-bg.jpg);
  width:100%
}
#knowledge{
  padding:10%;
  text-align:center;
}
.cleaning{
  max-height:100%;
  max-width: 80%;

}
.ti_section {
  max-height:700px;
  overflow: hidden;
}
#third_section {
  color:white;
  background-position:none;
  background-size: cover;
  padding-top:10%;
  padding-bottom:10%;
  background-image:url(../img/wine13.jpg);
  width:100%
}
#fourth_section {
  margin-bottom: 20px;
}
#fourth_section img{
max-width:50%;
}
#fourth_section a{
  padding:10px;
  display:inline-block;
  color:white;
  background-color: green;
}
