/* */
body {
    position: absolute;
    height: 100%;
    width: 70vw;
}
html {
    display: inline-block;
    max-width: 70%;
    margin: auto;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
a:hover {
    opacity: 1.0;
    color: gray;
}
/* Begin Containers */
.container1 {
    position: relative;
    text-align: center;
}
.container2 {
    position: relative;
    text-align: justify;
}
/* End Containers */
/* Begin Text Box  */
.tbox {
    margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.tbox h1, div.box a {
    margin: 0%;
    font-weight: bold;
    color: black;
  }
/* End Text Box */
/* Begin Location mods */
.topRight {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.topCenter {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* End Location mods */
/* Begin text mods */
.whiteText {
    color: white;
    font-family: monospace;
    opacity: 1.0;
}
.blackText {
    color: black;
    font-family: monospace;
    opacity: 1.0;
}
.xsFont {
    font-size: 1.5vw;
}
.smallFont {
    font-size: 2vw;
}
.mediumFont {
    font-size: 3vw;
}
.largeFont {
    font-size: 4vw;
}
/* End text mods */

