/* -------------------------------------------------- 
   basic styles
-----------------------------------------------------*/

/* -------------------------------------------------- 
  Global resets
-----------------------------------------------------*/
html {
	/*background: #ccc;*/
}
body {
	font-family: Lato, Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
    color: white;
	background: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Lato, Arial, sans-serif;
	font-weight: 200;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: Cardo, Georgia, Times, serif;
	font-weight: normal;
	margin-bottom: 1em;
}
a {
	color: #85B637;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #213149;
	text-decoration: underline;
}

a:focus {
	color: #85B637;
	outline: none;
}
img, object, embed {
	max-width: 100%;
	height: auto;
}
.button {
	font-family: Lato, Arial, sans-serif;
	font-weight: 700;
	width: auto;
	background: #85B637;
	border: 1px solid #213149;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}
.search-form .button {
	background: #333;
	border-radius: 3px;
	position: static;
}
.button:hover {
	color: white;
	background-color: #213149;
	text-decoration: none;
}
.action {
	display:block;
	text-align: right;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
	clear: right;
}
.cl {
	clear: left;
}
.cb {
	clear: both;
}
/* -------------------------------------------------- 
   top navigation styles
-----------------------------------------------------*/
nav {
	background: #85B637;
	margin-bottom: 2em;
}
nav ul, nav li {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
}
nav ul li a:not(.button) {
	font-weight: 400;
	font-size: 1em;
	color: white;
	margin: 0 1em;
	padding: .5em .25em;
	display: block;
	max-width: 5em;
	box-sizing: content-box;
}
nav ul li:hover {
	background: #333;
}
nav ul li.search-form:hover {
	background: none;
}
nav ul li.search-form label {
	position: absolute;
	left: -9000px;
}
nav li a:hover {
	text-decoration: none;
}
nav li.search-form input[type="search"] {
	width: 150px;
}
/* -------------------------------------------------- 
  header styles
-----------------------------------------------------*/
header {
	margin-bottom: 2em;
	min-height: 100px;
}
header h1 {
	font-size: 48px;
	font-weight:bold;
	margin: 0;
	padding-left: 250px;
	background: url(../_images/gb-logo-100.png) no-repeat left center;
	margin:0 15px 0 30px;
	line-height:100px;
}
.generic {
	color: #85B637;
}
header h2 {
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	color: #666;
	text-transform: lowercase;
}
/* -------------------------------------------------- 
   featured article styles
-----------------------------------------------------*/
.featured h2 {
	color: #666;
	font-weight: 200;
	font-size: 1.5em;
	margin: 0 0 1em;
}
.featured h3 {
	font-size: 2.5em;
	padding-bottom: .25em;
	border-bottom: 2px solid #666;
}
.featured p {
	font-size: 1.25em;
	line-height: 1.6;
}
.featured .teaser {
	margin-bottom: 0;
}
.featured img.teaser {
	margin-bottom: 1em;
	width: 100%;
}

/* -------------------------------------------------- 
   sidebar styles
-----------------------------------------------------*/
aside h3 {
	color: #333;
	font-size: 1.6em;
	margin-top: 2em;
	margin-bottom: .4em;
}
aside p {
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	line-height: 2;
	font-style: normal;
}
.call {
	font-weight: 900;
	color: #85B637;
}
ul.social {
	list-style: none;
	margin-top: 2.3em;
	border-top: 1px solid #999;
	padding-top: 2.3em;
}
ul.social li a {
	text-indent: -9000px;
	width: 35px;
	height: 35px;
	display: block;
}
ul.social li a.twitter {
	background: url(../_images/social_twitter_35.png) no-repeat;
}
ul.social li a.rss {
	background: url(../_images/social_rss_35.png) no-repeat;
}
/* -------------------------------------------------- 
   spotlight styles
-----------------------------------------------------*/
.spotlight {
	margin-bottom: 2em;
}
.latest {
	margin-right: 2em;
	border:1px solid #999;
}
.latest:last-child {
	margin-right: 0;
}
.latest h2 {
	background: #85B637;
	color: white;
	font-size: 1.25em;
	font-weight: 100;
	line-height: 45px;
	padding-left: 1.2em;
	margin-bottom: 0;
}
.latest h3 {
	font-size: 2em;
	margin: .4em 0;
	padding-left: 1.2rem;	
}
.latest p {
	font-size: 1em;
	line-height: 1.6;
	padding: 0 1.2rem;
}
.latest img {
	width: 100%;
}
.call {
	margin-top: auto;
}
/* -------------------------------------------------- 
   footer styles
-----------------------------------------------------*/
footer {
	background: #4d4d4d;
}
footer p {
	font-size: .8em;
	color: white;
	margin: 0;
}
/* -------------------------------------------------- 
   Smaller screen styles
-----------------------------------------------------*/
@media only screen and (max-width: 720px) {

.right, .left {
	float: none;
}
/* -------------------------------------------------- 
   top navigation styles
-----------------------------------------------------*/
nav {
	background: none;
	margin-bottom: 1em;
}
nav li {
	background: #85B637;
	margin-bottom: .2em;
}
nav ul li a:not(.button) {
	max-width: 100%;
	width:100%;
	display: block;
	text-align: center;
	margin: 0;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1.6em;
}
nav li.search-form {
    background: none;
}
nav li.search-form input[type="search"] {
	width: 200px;
}
/* -------------------------------------------------- 
  header styles
-----------------------------------------------------*/
header {
	margin-bottom: 2em;
	min-height: 100px;
}
header h1 {
	margin: 0;
	width: 215px;
	background: url(../_images/gb-logo-215.png) no-repeat center;
	text-indent: -9000em;
	height:215px;
	padding: 0;
}
header h2 {
	text-indent: -9000em;
	margin: 0;
	width: 0px;
}
/* -------------------------------------------------- 
 main content styles
-----------------------------------------------------*/
.featured h2 {
	text-align: center;
	padding-top: 1em;
	border-top: 1px solid #999;
}
.featured h3 {
	font-size: 3em;
	text-align: center;
}
.featured p {
	font-size: 1em;
	line-height: 1.6;
}
/* -------------------------------------------------- 
   sidebar styles
-----------------------------------------------------*/
aside h3 {
	margin-top: 1em;
	margin-bottom: .4em;
}
.intro {
	border-top: 1px solid #999;
	padding-top: 1em;
}
ul.social {
	border: none;
	padding-top: 0;
	margin-top: 1em;
}
/* -------------------------------------------------- 
   spotlight styles
-----------------------------------------------------*/
.latest {
	margin-right: 0;
	margin-bottom: 1em;
	border: none;
}
.latest h3 {
	font-size: 1.6em;
	margin: .4em 0;
	padding-left: 1.2rem;	
}
.latest p {
	font-size: .9em;
	line-height: 1.6;
	padding: 0 1.2rem;
}
/* -------------------------------------------------- 
   footer styles
-----------------------------------------------------*/
footer {
	padding: 1em 2em;
}
footer p {
	font-size: .9em;
	line-height: 1.4;
	font-weight: 100;
}
}
