/* this is Mark Hinojosa css for checkpoint#1*/

body {
  color: WHITE;
  background-color: white;
}

header {
  display: block;
  margin-left: 0 auto;
  margin-right: 100%;
  padding-right: 0px;
  height: 110px;
  width: 100%;
  background-color: black;
  overflow: auto;
}

header div {
  display: inline;
  border: ;
}

logo-float-left {
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 60px;
  padding-top: 60px;
  height: 60px;
  width: 6px;
  border: 3px solid green;
  overflow: auto;
}

nav {
  float: right;
  overflow: auto;
  text-align: center;
  line-height: 100px;
  display: inline;
}

ul {
  display: inline;
  margin-right: 150px;
}

li {
  display: inline;
  padding: 10px;
  margin-right: px;
}

li:hover {
  color: gray;
}

.description {
  font-size: 7rem;
  color: black;
  margin: auto;
  text-align: center;
}

.redbeard {
  max-width: 40%;
  margin: auto;
  margin-top: 50px;
  display: block;
}

article {
  color: black;
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.products {
  display: inline;
  height: 300px;
  max-height: 500px;
  width: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.photos {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.products:hover {
  filter: grayscale(100%);
}
