/* this is my css for checkpoint#1*/
body {
  color: white;
  background-color: gray;
}
header {
  display: block;
  margin-left: 0 auto;
  margin-right: 100%;
  padding-right: 0px;
  border: ;
  height: 110px;
  width: 100%;
  background-color: black;
  overflow: auto;
}


header div {
  display: inline;
  border:;
}
logo-float-left {
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 60px;
  padding-top: 60px;
  height: 60px;
  width: 6px;
  border: 3px solid green;
  overflow: auto;
}

nav{
  float: right;
  overflow: auto;
  text-align: center;
  line-height: 100px;
  display: inline;
}

ul {
  display: inline;
  margin-right: 150px;
}

li {
  display: inline;
  padding: 10px;
  margin-right: px;
}

li:hover {
  color: gray;
}

center-main {
  margin: ;
  margin-left: 500px;
  padding-left: 200px;
  align-items: center;
  text-align: center;
}
