.intro {
  display: flex;
  justify-content: center;
  margin: 0 200px 0 200px;
  background-color: black;
}
.about {
  text-align: center;
  font-size: large;
  font-family: ‘Bookman Old’;
  margin: 200px;
}
.skill_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#skills {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 350px;
  width: auto;
  border: 5px solid red;
  margin-bottom: 200px;
}
.skill_box {
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  width: auto;
}
/*every box starts as the same height to illustrate a baseline*/
.box {
  width: 100px;
  height: 40px;
  background-color: gray;
  border: 2px solid black;
  transition: background-color 1s;
}
/*whenever a box is hovered the box will increase in height proportional to the skill level*/
.html:hover {
  height: 200px;
  transition: height 1s;
}
.css:hover {
  height: 180px;
  transition: height 1s;
}
.js:hover {
  height: 100px;
  transition: height 1s;
}
.python:hover {
  height: 240px;
  transition: height 1s;
}
.sql:hover {
  height: 100px;
  transition: height 1s;
}
.work_pic {
  background-image: url("../img/3d_from_opendtect.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 100px;
}
.program {
  justify-content: center;
  text-align: center;
  width: 800px;
  margin-bottom: 100px;
}
.personal_pic {
  background-image: url("../img/weddingpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 100px;
}
.personal {
  justify-content: center;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}
.con {
  padding: 0 10px 0 10px;
  color: black;
}
