body {
width: 80%;
}

.square {
  /*margin-left: 10px;
  margin-right: 5px;*/
  width: 100%;
  height: 285px;
  /*margin-bottom: 10px;*/
}

.square2 {
  width: 285px;
  height: 285px;
  /*margin-bottom: 10px;*/
}

.container {
  margin-top: 20px;
}

.book {
  background: url('../img/topbook.jpg');
}

.greybig {
  background-color: #EEEEEE;
    height: 580px;
}
.yellow {
  background-color: #F4ED47;
    height: 580px;
}

.yellowtext {
  margin: auto;
  width: 80%;
}

.chicken {
background: url('../img/chicken.jpg');
}


.grey {
  background-color: #EEEEEE;
}

.smallbook {
  background: url('../img/babybook.jpg');
  background-position: center;
}
