body{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
header {
  background-image:url('../img/sub_header_home.jpg');
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 35px;
background-blend-mode: multiply;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
color: white;

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.one {
  width: 50%;
}

h1 {
color: white;
text-align: center;
}

p {
color: white;
text-align: center;
}
