/* laptop CSS*/

.landing {
    position: relative;
    display: flex;
    background-image: url(../img/sub_header_home.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    orientation: center;
    height: 560px;
    width: 100%;
    text-align: center;
    color: white;
    flex-direction: column;
    margin: 0 auto;
}

.main-element {
    margin-bottom: 4%;
}

.main-text {
    margin-top: 12%;
    line-height: 7em;
    font-family: serif;
}

.main-text h1 {
    font-size: 64pt;
    letter-spacing: 2px;
}

.main-text p {
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0 auto;
    line-height: 3em;
}

.links {
    text-align: center;
    margin-bottom: 4%;
}


/* tablet CSS*/

@media (max-width: @screen-md) {
    body {
        font-size: 32pt;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 50pt;
    }
}

@media (max-width: 480px) {
    .main-text h1 {
        font-size: 40pt;
    }
}


/* phone CSS*/
