header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/sub-header-home.jpg");
  height:400px;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-size: 40px;
  color: white;
  font-weight: lighter;
}
.top-text {
  color: white;
  font-size: 16px;
}
