.left {
  display: inline-block;
  float:left;
  width: 29%;
  margin: 1%;
  padding: 1%;
}

.mid {
  display: inline-block;
  float: clear;
  width: 29%;
  margin: 1%;
  padding: 1%;
}

.right {
  display: inline-block;
  width: 29%;
  margin: 1%;
  padding: 1%;
  float:right;
}

 button {
  font-size: 10px;
  padding: 5px 25px;
  border-style: 2px;
  background-color: white;
  border-right: 5px solid #A91607;
}
