body{
  width:60%;
  margin:0 auto;
  font-family: arial;
}
.overall{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.transport{
  width:35%;
  padding:15px;

}
img {
  width:100%;
}
h2{
  font-size: 15px;
  padding-top:18px;
  font-weight: 800;
  color: rgb(68, 64, 64);
}
p{
  font-size: 12.75px;
  color: grey;
  padding: 15px 0px 40px 0px;
  line-height: 20px;
  text-align: justify;
}
button {
  background-color: white;
  border: 0.5px solid rgb(232, 230, 230);
  color: grey;
  padding:10px 15px 10px 20px;
  font-size: 11px;
  font-weight: bold;
  box-shadow: 5px 0 0 0 darkred;
}
