main {
  margin-left: 150px;
  margin-right:150px;
}
img {
  height: 200px;
  width:300px;
  float: left;
  margin-right:20px;
}
.pannel {
  float:left;
  margin-top:40px;
  height: 200px;
  width: 300px;
  margin-right:20px;
}
h2 {
  font-size: 13px;
  font-family: "Times New Roman";
}
p {
  font-size: 12px;
  font-family: "Times New Roman";
}
