body {
  font-family: sans-serif;;
  width: 90%;
  margin: auto;
}

header {
  background-color: #0171C5;
  padding:5px 5px 5px 5px;
  color: white;
}

header a {
  color: white;
}

#processor-image {
  float:right;
  width:272px;
}

#customer-support {
  background-color: #f3f3f3;
  padding:5px 5px 5px 5px;
}

#processor-text {
  height:191.25;
  line-height: 20px;
  vertical-align: middle;
  position: relative;
  padding-top:20px;
  padding-bottom:20px;
}

#architect-image {
  float:left;
  width:340px;
}
