body {
  background-color: black;
  height: 900px;
}
h2 {
  background-color: black;
  height: 80px;
  width: 100%;
  color: white;
  font: 40px "Tangerine", italic;
  text-align: center;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}
.Home {
  font: 20px "helvetica";
  text-align: center;
  position: relative;
  left: 500px;
}
