main {
  margin: 25px;
  background-color: lightgray;
}

.selfie {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

header {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  height: 60px;
  width: auto;
  text-align: center;
  padding-top: 5px; /* remember vertical paddings add up */
}

/* also maybe should add a personal photo somewhere? */

/* maybe a background photo? */

/* want to add an epigraph of some sort under the header */

#epigraph {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family:sans-serif;
  padding-top: 20px;
}

h1 {
  font-size: 40px;
  padding-top: 5px;
  font-family: cursive;
}
/* might need to rethink the h1-h6 use here due to use of h1 in header. does that matter? redistribute throughout page/headings? */

ul {
  list-style: circle;
  padding: 35px;
  font-size: 20px;
}

.educationlist {
  padding-top: 5px;
  padding-bottom: 15px;
}

/*side note: aside from making sure the page renders the same way in every browser, was part of the idea behind including the reset file to force us to use CSS to render everything the way we wanted it? */

h2 {
  font-size: 35px;
  color: teal;
  padding: 5px 20px 20px 20px;
  text-decoration: underline;
}


p {
  font-family: arial;
  padding-left: 60px;
  padding-right: 60px;
  text-indent: 50px;
  text-align: justify;
}

a {
 padding: 60px;
 font-weight: bold;
}

.pdf {
  padding: 0px 0px 0px 60px;
  width: 204px;
  height: 10px;
}

h3 {
  font-size: 30px;
  color: teal;
  padding: 20px 20px 20px 20px;
  text-decoration: underline;
}

h4 {
  font-size: 25px;
  color: teal;
  padding: 20px;
  text-decoration: underline;
}

.screenshot {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  padding: 30px 30px 5px 30px;
} /*maybe consider adding some sort of hover function for this image, to increase chances it will get clicked on */

.inlinelink {
  padding: 0px;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

footer {
  height: 60px;
  width: auto;
  background-color: black;
  color: white;
  border-color: blue;
  border-width: 2px;
  border-style: solid;
  font-size: 35px;
  padding-top: 30px; /* remember vertical paddings adds up */
  padding-left: 100px;
}

menu {
  float: right;
  padding-right: 40px;
  font-size: 30px;
}

.menuinline {
  padding: 4px;
  font-weight: bold;
}
/* why are my links purple? weird that this is what they defaulted to... */
