main {
  background-color: #f0f0f5;
}

.login {
  height: 30px;
  background-color: black;
}

.login div {
  display: inline-block;
  margin-left: 1%;
}
#padlock img {
  height: 15px;
  margin-left: 15px;
  margin-top: 8px;
}

#padlock span, #call span {
  color: #B8860B;
  font-family: 'Droid Serif', serif;
  font-size: 75%;
  position: relative;
  bottom: 3px;
}

#call img {
  height: 15px;
}

.nav {
  background-color: white;
  height: 100px;
  border: 1px solid black;
}

.logo {
  float: left;
  height: 80px;
  margin-left: 50px;
  position: relative;
  top: 10px;
}

  .nav span {
  font-family: 'Rochester', cursive;
  color: #B8860B;
  line-height: 100px;
  font-size: 2.2em;
}

nav {
  width: 70%;
  height: inherit;
  float:right;
}

nav a {
  float: left;
  font-family: 'Droid Serif', serif;
  text-decoration: none;
  color: black;
  margin-left: 50px;
  font-size: 1.1em;
  line-height: 100px;
}

#home {
  color: #B8860B;
}

.background {
  background-image: url(../images/background.jpg);
  height: 500px;
  background-size: cover;
}

.background span {
  display: block;
  color: white;
  font-size: 350%;
  font-family: 'Droid Serif', serif;
  position: relative;
  top: 50px;
  text-align: center;
  text-shadow: 3px 3px #B8860B;
}

.booking {
  background-color: white;
  height: 160px;
  width: 1000px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  bottom: 50px;
  box-shadow: 0 5px 5px 0 grey;
}

#accommodation {
  color: #B8860B;
  font-family: 'Droid Serif', serif;
  font-size: 150%;
  margin-left: 15px;
  position: relative;
  top: 15px;
}

.caption {
  font-family: 'Droid Serif', serif;
  position: relative;
  top: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.caption div {
  width: 16%; /*dividing section into 6 parts*/
  display: inline-block;
  margin-left: 1px;
}

.input {
  margin-left: 2%;
  margin-right: 2%;
}

.input div {
  height: 30px;
  width: 16%;
  background-color: white;
  border: 1px solid #b5b9bf;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  top: 30px;
}

.input span {
  color: #b5b9bf;
  font-family: 'Droid Serif', serif;
  font-size: 75%;
  line-height: 30px;
  position: relative;
  left: 10px;
}

.search {
  height: 30px;
  width: 153px;
  border: 1px solid #B8860B;
  background-color: #B8860B;
  float: right;
  margin-right: 2.5%;
  position: relative;
  top: 40px;
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 0 3px 3px 0;
}

.search span {
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 80%;
  line-height: 30px;
  margin-left: 35%;
}

#lorem {
  font-family: 'Droid Serif', serif;
  font-size: 100%;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  text-align: justify;
  width: 1000px;
}

button {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #B8860B;
  border: none;
  box-shadow: 0 3px 3px 0 grey;
  font-family: 'Droid Serif', serif;
  color: white;
  opacity: 0.8;
  margin-left: 11%;
}

#about {
  height: 200;
  float: right;
  margin-right: 11%;
  position: relative;
  bottom: 270px;
  width: 350px;

}

.room {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

h2 {
font-family: 'Droid Serif', serif;
color: #B8860B;
font-size: 200%;
text-align: center;
}

.room div {
  display: inline-block;
  margin-top: 50px;
  margin-left: 7%;
  border: 1px solid #b5b9bf;
  box-shadow: 0 3px 3px 0 grey;
  padding-bottom: 1%;
}

.room img, .room p {
  width: 250px;
  height: 200px;
  font-family: 'Droid Serif', serif;
  text-align: center;
  font-size: 75%;
}

.room p {
  height: auto !important; /*override height's value to properly fit into box*/
  padding-bottom: 5%;
}

h4 {
  font-family: 'Droid Serif', serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 85%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.room div span {
  font-family: 'Droid Serif', serif;
  margin-left: 30%;
  font-size: 75%;
  color: #B8860B;
  margin-bottom: 10%;
}

.follow {
  height: 30px;
  background-color: black;
}

.follow img {
  height: 20px;
  display: inline-block;
  padding-top: 0.5%;
}

.follow span {
  color: #B8860B;
  font-family: 'Droid Serif', serif;
  font-size: 75%;
  line-height: 30px;
  margin-left: 1%;
  padding-right: 1%;
  position: relative;
  bottom: 20%;
}

.contact div {
  width: 33%; /*dividing section into 3 parts*/
  display: inline-block;
}

.contact h4 {
  font-family: 'Droid Serif', serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 85%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact li {
  font-size: 75%;
  color: #b5b9bf;
  font-family: 'Droid Serif', serif;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

ul {
  padding-top: 2%;
}

li {
  padding-bottom: 2%;
}
