.free-trial {
  background-color: black;
  padding: 5px;
  font-family: "Scandia", sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  margin: 0;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.logo {
  float: left;
}

.section2 li a {
  float: right;
  width: 80%;
  line-height: 10px;
  background-color: white;
}

.section2 ul li {
  display: inline-block;
  padding: 12px 0px 10px 20px
}

.menu1-list a {
  float: left;
  width: 20px;
  display: inline;
  padding: 8px;
  text-transform: uppercase;
  color: #414042;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 2;
  margin: 0px 40px 0px 40px;
}

.section3 {
  background-image: url("../img/backg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 100%;
}

.start-box {
  background: #fff;
  font-size: 24px;
  border-radius: 5px;
  width: 380px;
  height: auto;
  padding: 40px 30px 50px;
  float: right;
  text-align: center;
  max-width: 100%;
  margin: 100px 40px 40px 0px;
}

.start-box h1 {
  color: #414042;
  font-size: 40px;
  font-weight: 700;
}

.start-box h1 strong {
  font-size: 40px;
  color: #71b045;
  display: block;
  font-weight: 700;
}

.start-box h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 25px;
}

.button-login {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #969b9e;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}

.button-login:hover {
  background: #526069;
  text-decoration: none;
}

.button-signup {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #71b045;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
}

.button-signup:hover {
  background: #526069;
  text-decoration: none;
}

.always-fresh {
  text-align: center;
  height: 50px;
  max-width: 100%;
  font-size: 32px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 10px 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  height: 300px;
}

.img {
  width: 200px;
  max-width: 100%;
  max-height: 200px
}

.flex-container h4 {
  font-size: 20px;
  font-weight: bold;
}

.flex-container p {
  font-size: 15px;
}

footer {
  text-align: center;
}

footer li a {
  color: gray;
  text-align: center;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
}

footer li {
  display: inline;
}

footer p{
  padding: 10px 0px 10px 0px;
}
