* {
  /* the simplest css reset possible, can cause performance issues on very complex HTML Documents */
  padding: 0;
  margin: 0;
}

nav, main {
  /* the padding and border is calculated into the width and height of the <nav> and <main> elements automatically by the browser */
  box-sizing: border-box;
  font-family: 'Jaldi', sans-serif;
  color: white;
}

h1, h2, h3, form {
  text-align:center;
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  padding-top: 5px;
  }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #193a55;
  color: #fff;
  height: 70px;
  border: 0 solid #fff;
  border-bottom-width: 1px;
}

.links ul {
  list-style: none;
}

.links ul li {
  margin: 10px;
  display: inline;
}

.navlinks {
  color: #03b5a3;
}

.links ul li img {
  margin-right: 5px;
}

.header  {
  width: auto;
  height: 600px;
  background-image: url(../img/background.jpg);      /* Photo by xxx on Unsplash */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-content {
  padding-top: 200px;
  color: white;
}

.middle {
  width: auto;
  height: 500px;
  background-color: #193a55;
}

.bottom {
  width: auto;
  height: 500px;
  background-color: #193a55;
}

.floating-box1 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/hk-img.jpg);      /* Photo by xxx on Unsplash */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

.floating-box2 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/hawaii-img.jpg);      /* Photo by xxx on Unsplash */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.floating-box3 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/marrakesh-img.jpg);      /* Photo by xxx on Unsplash */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.floating-box4 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/planning-img.jpg);    /* Photo by xxx on Unsplash */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.floating-box5 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/pets-img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.floating-box6 {       /*  https://www.w3schools.com/css/css_inline-block.asp  */
    display: inline-block;
    width: 377px;
    height: 350px;
    margin: 20px;
    border: 3px solid black;
    background: url(../img/food-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.footer {
  width: auto;
  height: 500px;
  background-image: url(../img/background-footer3.jpg); /*  Photo by Kyle Loftus on Unsplash */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-content {
  padding-top: 200px;
}
