.free-trial {
  background-color: black;
  padding: 5px;
  font-family: "Scandia", sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  margin: 0;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.logo {
  float: left;
}

.menu1-list {
  /* clear: none; */
  width: 80%;
  background: white;
}


.menu1-list a {
  float: left;
  width: 20px;
  display: inline;
  padding: 8px;
  text-transform: uppercase;
  color: #414042;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 2;
  margin: 0px 46px 0px 0px;
}

.Section3 {
  background-image: url("../img/backg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 100%;
}

.start-box {
  background: #fff;
  font-size: 24px;
  border-radius: 5px;
  width: 380px;
  height: auto;
  padding: 40px 30px 50px;
  float: right;
  text-align: center;
  max-width: 100%;
  margin-right: 40px;
  margin-bottom: 40px
}

.start-box h1 {
  style="color: #414042;
 font-size: 50px;
  font-weight: 700;
}

.start-box h1 strong {
  font-size: 24px;
  color: #71b045;
  display: block;
  font-weight: 700;
}

.start-box h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 25px;
}

.button-signup {
  background: #71b045;
  background-image: -webkit-linear-gradient(top, #71b045, #71b045);
  background-image: -moz-linear-gradient(top, #71b045, #71b045);
  background-image: -ms-linear-gradient(top, #71b045, #71b045);
  background-image: -o-linear-gradient(top, #71b045, #71b045);
  background-image: linear-gradient(to bottom, #71b045, #71b045);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 100px 10px 100px;
  text-decoration: none;
}

.btn:hover {
  background: #93fc3c;
  background-image: -webkit-linear-gradient(top, #93fc3c, #91d934);
  background-image: -moz-linear-gradient(top, #93fc3c, #91d934);
  background-image: -ms-linear-gradient(top, #93fc3c, #91d934);
  background-image: -o-linear-gradient(top, #93fc3c, #91d934);
  background-image: linear-gradient(to bottom, #93fc3c, #91d934);
  text-decoration: none;
}

.always-fresh {
  text-align: center;
  height: 50px;
  max-width: 100%;
  font-size: 32px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding:20px;
  font-size: 30px;
}

.img{
  width: 200px;
  max-width: 100%;
  max-height: 200px
}
