body {
  background-color: lightgrey;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 450px;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* start header */
.titlenav {
  font-weight: bolder;
  font-size: 20px;
}

.pagenav {
  list-style-type: none;
  background-color: black;
}

.title {
  float: left;
}

.navlink {
  float: right;
  color: white;
  padding: 0px 15px 0px 0px;
}

.navlink>a {
  text-decoration: none;
  color: white;
}

.navlink>a:hover {
  color: grey;
}

.banner {
  clear: both;
  height: 310px;
  width: 100%;
  background-image: url(https://wallpaperlayer.com/img/2015/9/thumb/pixel-forest-wallpaper-8218-8535-hd-wallpapers-thumb.jpg);
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
}
/* end header start who */
section {
  border-top: 1px solid;
  border-radius: 10px;
}

.who {
  height: auto;
  width: 60%;
  float: left;
  clear: both;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 0px;}

.who>.whoinfo>h1 {
  text-align: center;
}

.who>.whoinfo>p {
  margin: 5px;
}

.whoimg {
  height: 43%;
  width: 35%;
  float: right;
  margin: 5px 0px 0px 0px;
  background-image: url(https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_500/MTI5MDI1Mzk1MjAxNzQ3NTg3/ea1.webp);
}
/* end who start what */
.what {
  height: auto;
  width: 60%;
  float: right;
  clear: both;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 5px;}

.what>.whatinfo>h1 {
  text-align: center;
}

.what>.whatinfo>p {
  margin: 5px;
}

.whatimg {
  height: 43%;
  width: 35%;
  float: left;
  margin: 5px 0px 0px 0px;
  background-image: url(https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_500/MTI5MDI1Mzk2MDA3MTcwMDE4/ea2.webp);
}
/* end what start experience */
.exp {
  height: auto;
  width: 60%;
  float: left;
  clear: both;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  /* background: linear-gradient(#CFE5FA, #DEF3F6, #EDF9F7, #ACE268, #7FB470); */
}

.exp>.expinfo>h1 {
  text-align: center;
}

.exp>.expinfo>p {
  margin: 5px;
}

.expimg {
  height: 43%;
  width: 35%;
  float: right;
  margin: 5px 0px 130px 0px;
  background-image: url(https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_500/MTI5MDI1Mzk2ODEyMjk0Nzg3/ea3.webp);
}
/* end experience start footer */
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: darkgreen;
  background-color: #7FB470;
}

footer>p {
  text-align: center;
  margin: 20px 0px 40px 20px;
}

.conus {
  float: left;
  margin: 5px 0px 20px 20px;
  text-decoration: none;
  color: darkgreen;
}

.email {
  float: left;
  margin: 5px 0px 20px 20px;
  text-decoration: none;
  color: darkgreen;
}

.email:hover {
  color: lightgreen;
}

.location {
  float: left;
  margin: 5px 0px 20px 20px;
  text-decoration: none;
  color: darkgreen;
}

.location:hover {
  color: lightgreen;
}

.number {
  float: left;
  margin: 5px 0px 20px 20px;
  text-decoration: none;
  color: darkgreen;
}

.number:hover {
  color: lightgreen;
}

.copy {
  clear: both;
}
/* end footer */
