#contact {
    background-image:url(../images/IMG_6044.JPG);
    background-size:cover;
    max-width:100%;
    height:700px;
}
/*styling for nav*/
nav {
    width:30%;
    height:50px;
    margin:auto;
    font-size:15pt;
    text-align:center;
    margin-top:50px;
    margin-bottom:60px;
    display:flex;
    justify-content:space-between;
}
nav > a {
    color:white;
    text-decoration:none;
}
nav a:visited {
    color:white;
}
nav a:hover {
    font-size:18pt;
    color:fuchsia;
}
header > h1 {
    text-align:center;
    color:white;
    font-size:30pt;
}
main {
    display:flex;
    justify-content:space-around;
    margin:auto;
    width:60%;
    height:400px;
}
#phone {
    float:left;
    width:300px;
    height:250px;
    text-align:center;
    padding-top:70px;
    border-radius:50% 50%;
    transition: border 1s, width 2s;
}
#phone > h1 {
    font-size:20pt;
    color:white;
}
#phone > p {
    font-size:18pt;
    color:white;
}
#phone > i {
    display:none;
    color:white;
}
main:hover > #phone > h1 {
    display:none;
}
main:hover > #phone > i {
    display:inline;
}
main:hover > #phone{
    border: 3px solid white;
    width:350px;
    transform: translate();

}
/*styling for email section*/
#email {
    float:left;
    width:300px;
    height:250px;
    text-align:center;
    padding-top:70px;
    border-radius:50% 50%;
    transition: border 1s, width 2s;
}
/*H1 hover effects*/
#email > h1 {
    font-size:20pt;
    color:white;
}
#email > i {
    display:none;
    color:white;
}
main:hover > #email > h1 {
    display:none;
}
main:hover > #email > i {
    display:inline;
}
 main:hover > #email{
    border: 3px solid white;
    width:350px;
    transform: translate();

}
#email > p {
    font-size:18pt;
    color:white;
} 
.ball {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
  }