#contact {
    background-image:url(../images/IMG_5851.JPG);
    background-size:cover;
    max-width:100%;
    height:700px;
}
/*styling for nav*/
nav {
    width:30%;
    height:50px;
    margin:auto;
    font-size:15pt;
    text-align:center;
    margin-top:50px;
    margin-bottom:60px;
    display:flex;
    justify-content:space-between;
}
nav > a {
    color:white;
    text-decoration:none;
}
nav a:visited {
    color:white;
}
nav a:hover {
    font-size:18pt;
    color:fuchsia;
}