/*styling for resume page*/
#resume {
    max-width:100%;
}
/*styling for nav*/
nav {
    width:30%;
    height:60px;
    margin:auto;
    font-size:15pt;
    text-align:center;
    margin-top:50px;
    margin-bottom:20px;
    display:flex;
    justify-content:space-between;
    grid-column:span 2;
}
nav > a {
    color:purple;
    text-decoration:none;
}
nav a:visited {
    color:purple;
}
nav a:hover {
    font-size:18pt;
    color:fuchsia;
}
/*styling for header*/
header {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:80%;
    margin:auto;
    justify-content:space-between;
}
header > #one {
    grid-column:span 1;
    align-self:flex-end;
}
header > #two {
    grid-column:span 1;
    align-self:flex-end;
    justify-self:flex-end;
    text-align: right;
}
#name {
    font-size:35pt;
    text-decoration:none;
    line-height:1pt;
}
.name {
    font-style:normal;
    line-height:2pt;
}
/*header element styling*/
h1 {
    font-size:20pt;
}
h2 {
    font-size:16pt;
}
h3 {
    font-size:12pt;
}
p {
    font-style:italic;
}
main {
    text-align:Center;
}
.education {
    height:140px;
    max-width:100%;
}
.employment {
    height:900px;
    width:50%;
    margin:auto;
}
.achievements {
    height:230px;
    max-width:100%;
}
.skills {
    height:230px;
    max-width:100%;
}
.references {
    height:200px;
    max-width:100%;
}
.ball {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
  }