body {
  width: 100%;
  height: 500px
  margin:auto;
}

header {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background-color: #1e488c;
  border-top: 2px solid black;
}

#logo img {
  float: left;
  width: 100px;
  height: 80px; /*does this affect?*/
}

#welcome {
  background-image: url("../img/beach.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 750px;
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-left: 350px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px solid black;
}

.col-md-12{
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.col-md-12 h2{
  font-family: cursive;
  padding-bottom: -15px;
  font-family: 'Sorts Mill Goudy', serif;
  text-transform: uppercase;
  padding-right: 200px;
  margin:auto;
  font-size: 35px;

}

.col-md-12 h1{
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 65px;
  margin-left: 170px;
  margin-bottom: 75px;
  line-height: ;
  margin: 20px 0px 20px 0px;
}

.col-md-12 p{
  font-family: 'Acme', sans-serif;
  width: 275px;
  height:125px;
  padding-top:10px;
  margin:0 auto;
  font-weight: 750;
  border: 2px solid white;
  text-align: center;
  transform: rotate(335deg);
  background-color: black;
  color: white;
  /*align-items: flex-end;*/
}

#about {
  width:auto;
  background-color: #1e488c;
  color: white;
  font-family: 'Slabo 27px', serif;

}

#traffic{
  width: auto;
  float: right;
  padding-right: 100px;
}
