@font-face {
  font-family: "smokeyFont";
  src:url("../fonts/Nice Dream Come True.ttf") format("truetype");
}

h4{
  font-family: smokeyFont;
  font-size: 42px;
}


h1{
  font-family: smokeyFont;
}

a{
  color: lightgray;
  text-decoration: none !important;
}

html{
  background-color: black;
  width: 100%;
}

body{
  margin: 0;
  width: 100%;
  /*background-image:url( "http://pre03.deviantart.net/95a7/th/pre/i/2011/050/4/9/smoke_texture_by_ashensorrow-d39w13u.jpg");*/

  background-image:url( "http://il5.picdn.net/shutterstock/videos/20445745/thumb/9.jpg");

  background-size: cover;
}
main{
  /*background-color: lightgreen;*/
  margin-left: 120px;
  margin-right:120px;
  width: 84%;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: black;
}

header{

}

h1{
  color: white;
  font-size: 50px;
  z-index: 1
}

.affix {
      top:100px;
      left: 0px;
  }
.fullscreen-bg {
    position: relative;

    overflow: hidden;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 0;
}

nav li{
  width: auto;
}

#mystorysausage0{
  background-image:  url("../img/2ndsausagecornersflip.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top:-4px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;


}
#mystorysausage{
  background-image:  url("../img/2ndsausagecorners.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top: -4px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
}
#mystorysausage1{
  background-image:  url("../img/2ndsausagecorners.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top: -4px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
}
#mystorysausage2{
  background-image:  url("../img/2ndsausagecornersflip.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top: -4px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;

}
#mystorysausage3{
  background-image:  url("../img/2ndsausagecorners.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top: -5px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
}
#mystorysausage4{
  background-image:  url("../img/2ndsausagecornersflip.png");
  height: 50px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top: -5px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
}



#header{

      animation-delay:11s;
      animation-duration: 10s;
  }

#header h1{
  color: gold;
}

#delsinhead{

      position: absolute;
      left: 45%;
      top: 425px;
      z-index: 2;  justify-content: center;
  padding: 0;
  margin: 0px;
}
#vineinhead{

      position: absolute;
      left: 21%;
      top: 300px;
      z-index: 2;  justify-content: center;
  padding: 0;
  margin: 0px;
}
#ticinhead{

      position: absolute;
      left: 25%;
      top: 425px;
      z-index: 2;  justify-content: center;
  padding: 0;
  margin: 0px;
}
#bioinhead{

      position: absolute;
      left: 35%;
      top: 650px;
      z-index: 2;  justify-content: center;
  padding: 0;
  margin: 0px;
}
#resumeinhead{

      position: absolute;
      left: 30%;
      top: 550px;
      z-index: 2;  justify-content: center;
  padding: 0;
  margin: 0px;
}

/*---------START OF THE ABOUT SECTION------------*/

.jumbotron{
  margin-bottom: 0px;
}

#about{
  background-image: url("../img/dramaticme.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: white;
  border-top: 10px solid;
  border-color: black;
}

#smokeydescription{
  padding-top: 8%;
}
#abouttitles1{
  padding-left: 11%;
  padding-bottom: 1%;
  animation-delay: 7s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

#abouttitles3{
  padding-left: 15%;
  padding-bottom: 1%;
  animation-delay: 6.25s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles4{
  padding-left: 18%;
  padding-bottom: 1%;
  animation-delay: 5.5s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles5{
  padding-left: 21%;
  padding-bottom: 1%;
  animation-delay: 4.75s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles6{
  padding-left: 24%;
  animation-delay: 4.0s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

#abouttitlespic{
  padding-left: 33%;
  padding-bottom: 1%;
  animation-delay: 3.25s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  margin-top: -8%;
  opacity: 70%;
}

.aboutheader {
  margin-top:-13%;
  text-align: center;
  animation-delay: 7.75s;
  animation-duration: 4s;
  /*animation-iteration-count: */
}
.aboutheader h1{
  font-size: 100px;
}

/*------------START OF WINERY SECTION-------------*/

#winery{
  background-image: url("../img/wine-bg.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 4%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border-top: 10px solid;
  border-color: black;
}

#winery h3{
  font-size: 32px;
  font-style: italic;
  color: white;
}
#winery h2{
  font-size: 52px;
  color: white;
  margin-bottom: 3%;

}

#winery p{
  color: white;
  margin-top: 3%;
}

#winery img{
  width: 300px;
  opacity: 0.75;
  margin-bottom: 3%;
}

/*-------------END OF WINERY SECTION ---------------*/

/*START OF DEL'S LEMONDADE*/

#dels{
  background-image: url("http://free4kwallpaper.com/wp-content/uploads/2016/01/New-England-Beach-4K-Sunset-Wallpaper.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
  img.resize{
   max-width:50%;
   max-height:50%;
}

}

#delspage img{
  margin-left: 40%;
  margin-top: 10%;
  animation-duration: 5s;

}

#delspage h2{
  text-align: center;
}

/*---------------END OF DELS SECTION---------------------*/
/*START OF TIC TAC TOE SECTION!*/

#tic{
  background-image: url("https://media.timeout.com/images/101578335/image.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
}


#ticpage h2{
  text-align: center;
  font-size: 100px;
  color: red;
  margin-top: 37%;
  font-family: 'Italianno', cursive;
  font-size: 120px;
}
#ticpage h4{
  text-align: center;
  font-size: 100px;
  color: red;
  font-family: 'Italianno', cursive;
  font-size: 66px;
}

/*END OF TIC TAC TOE SECTION*/

/*START OF CONTACT SECTION!*/

#contact{
  background-color: black;
  /*background-image: url(");*/
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
}

#contact1{
  padding-left: 20%;
  font-size: 40px;
}
#contact2{
  padding-left: 50%;
  margin-top: -1%;
}

#contactpage h2{
  text-align: center;
  font-size: 100px;
  margin-top: 40%;
}

/*END OF IRON MAIDEN SECTION*/


#contact{
}

/*--------------------START OF MEDIA QUERIES*/

@media all and (max-width: 1500px) {

  }
  #abouttitlespic{
    padding-left: 389px;
    padding-bottom: 1.25%;
    animation-delay: 3.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    margin-top: -11%;
    opacity: 70%;
  }

}


@media all and (max-width: 1420px) {

  #abouttitlespic{
    padding-left: 380px;
    padding-bottom: 1%;
    animation-delay: 3.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    margin-top: -11.5%;
    opacity: 70%;
  }

}
@media all and (max-width: 1350px) {
/*HEADER BEGINS*/
  #ticinhead{

        position: absolute;
        left: 20%;
        top: 425px;
        z-index: 2;  justify-content: center;
    padding: 0;
    margin: 0px;
  }

}





@media all and (max-width: 990px) {

  main{
    margin-left: 0%;
    margin-right:0%;
    width: 100%;
  }

/*START OF ABOUT MQ*/
  .aboutheader h1{
    font-size: 70px;
  }


/*START OF TIC TAC TOE MQ*/
  #ticinhead{

        position: absolute;
        left: 12%;
        top: 425px;
        z-index: 2;  justify-content: center;
    padding: 0;
    margin: 0px;
  }

/*START OF WINERY MQ*/
  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    }

    #winery h3{
      font-size: 24px;
      font-style: italic;
      color: white;
    }
    #winery h2{
      font-size: 42px;
      color: white;
      margin-bottom: 3%;

    }

    #winery p{
      color: white;
      margin-top: 3%;
      font-size: 18px;
    }

    #winery img{
      width: 250px;
      opacity: 0.75;
      margin-bottom: 3%;
    }

}

@media all and (max-width: 768px) {


  .fullscreen-bg {
      position: relative;

      overflow: hidden;
      height: 600px;
      display: flex;
      justify-content: center;
      background-color: black;
      z-index: 0;
  }
  /*START OF HEADER SECTION*/

  #header h1{
    color: gold;
    font-size: 40px;
  }
    #delsinhead{

          position: absolute;
          left: 40%;
          top: 325px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #vineinhead{

          position: absolute;
          left: 13%;
          top: 225px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #ticinhead{

          position: absolute;
          left: 7%;
          top: 310px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #bioinhead{

          position: absolute;
          left: 17%;
          top: 475px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #resumeinhead{

          position: absolute;
          left: 10%;
          top: 390px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    /*START OF ABOUT MQ*/
    #about h4{
      font-family: cursive !important;
    }
    #about h1{
      font-family: cursive !important;
    }
      .aboutheader h1{
        font-size: 70px;
        padding-top: 6%;
        padding-bottom: 6%;
      }
      #abouttitlespic{
        padding-left: 370px;
        padding-bottom: 1%;
        animation-delay: 3.25s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        margin-top: -11%;
        opacity: 70%;
      }
/*START OF DELS SECTION MP*/
      #dels{
        background-image: url("http://free4kwallpaper.com/wp-content/uploads/2016/01/New-England-Beach-4K-Sunset-Wallpaper.jpg");
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top: 10px solid;
        border-color: black;
        img.resize{
         max-width:50%;
         max-height:50%;
      }

      }

      #delspage img{
        margin-left: 10%;
        margin-right:10%;
        margin-top: 10%;
        /*animation-duration: 5s;*/

      }

      #delspage h2{
        text-align: center;
      }

}
@media all and (max-width: 620px) {


  .fullscreen-bg {
      position: relative;

      overflow: hidden;
      height: 300px;
      display: flex;
      justify-content: center;
      background-color: black;
      z-index: 0;
  }

  /*START OF HEADER SECTION*/

  #header h1{
    color: gold;
    font-size: 22px;
  }
    #delsinhead{

          position: absolute;
          left: 43%;
          top: 150px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #vineinhead{

          position: absolute;
          left: 20%;
          top: 100px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #ticinhead{

          position: absolute;
          left: 17%;
          top: 150px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #bioinhead{

          position: absolute;
          left: 35%;
          top: 230px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
    #resumeinhead{

          position: absolute;
          left: 27%;
          top: 190px;
          z-index: 2;  justify-content: center;
      padding: 0;
      margin: 0px;
    }
/*START OF ABOUT SECTION*/
#about{
  background-image: url("../img/dramaticme.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  border-top: 10px solid;
  border-color: black;
}

#abouttitlespic{
  padding-left: 135px;
  padding-bottom: 1%;
  animation-delay: 3.25s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  visibility: hidden;
}

#smokeydescription{
  padding-top: 0%;
}
#smokeydescription h4{
 font-family: smokeyFont;
 font-size: 18px;
}

#aboutbio{
  margin-top: -225px;
}
#aboutresume{
  /*margin-top: -200px;*/
}
.aboutheader h1{
  font-size: 26px;

}

/*START OF TIC TAC TOE SECTION MQ*/

#tic{
  background-image: url("https://media.timeout.com/images/101578335/image.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
}


#ticpage h2{
  text-align: center;
  font-size: 54px;
  color: red;
  margin-top: 37%;
  font-family: 'Italianno', cursive;
}
#ticpage h4{
  text-align: center;
  font-size: 32px;
  color: red;
  font-family: 'Italianno', cursive;
}

/*START OF WINERY SECTION MQ*/
  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    }

    #winery h3{
      font-size: 16px;
      font-style: italic;
      color: white;
    }
    #winery h2{
      font-size: 36px;
      color: white;
      margin-bottom: 3%;

    }

    #winery p{
      color: white;
      margin-top: 3%;
      font-size: 16px;
    }

    #winery img{
      width: 175px;
      opacity: 0.75;
      margin-bottom: 3%;
    }


}
@media all and (max-width: 420px) {


  .fullscreen-bg {
      position: relative;

      overflow: hidden;
      height: 300px;
      display: flex;
      justify-content: center;
      background-color: black;
      z-index: 0;
  }



  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    }

    #winery h3{
      font-size: 14px;
      font-style: italic;
      color: white;
    }
    #winery h2{
      font-size: 22px;
      color: white;
      margin-bottom: 3%;

    }

    #winery p{
      color: white;
      margin-top: 3%;
      font-size: 12px;
    }

    #winery img{
      width: 125px;
      opacity: 0.75;
      margin-bottom: 3%;
    }


}
