body{
  width: 100%;
  margin: 0 auto;

font-family: 'Slabo 27px', serif;
}

nav.navbar{
  background-color: rgba(255,255,255,0.5);
  color: white;
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

#hero{
    background-image: url("../img/sky.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    text-align: center;
    padding: 300px;
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    font-family: 'Sansita', sans-serif;
    letter-spacing: 2px;
    margin-top: 50px;
}

#elogo{
  height: 110px;
  width: 110px;
  opacity: .90;
}

#hero h1{
  opacity: .75;
}

#hero p{
  opacity: .75;
  padding-top: 15px;
}

#about{
  text-align: center;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  font-style: italic;
}

#aboutimage{
  width: 100%;
  padding: 15px 30px 0px 15px;
}

#abouttext{
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#about h3 {
	padding: 15px 15px 30px;
	font-style: italic;
	font-size: 21px;
	font-weight: normal;
	font-family: Georgia;
}
#about h2 {
	padding: 30px 15px;
	font-style: italic;
	font-size: 3.0em;
	font-family: Georgia;
}
#about article {
	padding: 30px 15px;
	font-size: 1.2em;
	line-height: 30px;
	margin-top: 30px;
	font-family: Georgia;
}

#current{
  text-align: center;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  font-style: italic;
}


#aboutcapitol{
  width: 100%;
  padding: 15px 30px 0px 15px;
}

#aboutcurrent{
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#future{
  width: 100%;
  height: 415px;
  display: flex;
  flex-flow: row nowrap;
  flex-direction:row;
  justify-content: space-around;
  background-color: black;
  color:white;
}

#self{
  text-align: center;

}


.button {
	font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
	border: 0;
	background-color: #5894EE;
	padding: 10px 30px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 0;
	text-align: center;
	color: white;
}

#world{
  background-image: url("../img/world.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 25px;
}
#project {
	text-align: center;
	font-style: italic;
	font-family: Georgia;
	margin-bottom: 15px;
}
#project img {
	padding-left: 100px;
	height: 500px;
}
#project h2 {
	font-style: italic;
	margin-bottom: 20px;
	padding: 20px 0;
}
#project p {
	margin-bottom: 20px;
}


.worldtext{
  background-color: black;
  height: 65px;
  width: 200px;
  color: white;
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 200px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

@media (max-width: 767px) {
  #self{
    padding-bottom: 75px;
  }

	#project img {
		padding-right: 75px;
	}
	#bootstrap {
		margin-top: 45px;
		margin-bottom: 0;
	}
  #technology {
		margin-top: 15px;
		margin-bottom: 0;
	}
	#foundry {
		margin-top: 15px;
		margin-bottom: 0;
	}
}
