body {
    margin: 0 auto;
}


.logo {
    height: 38px !important;
    width: 218px !important;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../img/Hero_BG@2x.png);
    background-repeat: no-repeat;
    /*background-clip: border-box;*/
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    color: white;
    font-family: 'Lato', sans-serif !important;
    margin-top: -15px !important;
    padding-bottom: 0px !important;

}

#hero h1 {
    font-size: 72px;
    font-weight: 700;
}

#hero h2 {
    font-weight: 100 !important;
}

#rotate {
    font-size: 35px;
    font-weight: 700;
}

.contact {
    width: 249px;
    height: 55.2px;
    border-radius: 100px;
    background-color: #ff6876;
    margin-top: 25px;
    border: none;
    font-size: 22px;
    font-weight: 100;
    color: white !important;

}
.contact a {
    text-decoration: none !important;
    color: white;
}
.contact a:visited{
color: white;
}

.contact a:hover{
color: white;
}

.contact:hover{
opacity: .8;

}
.resumePage {
    width: 200px;
    height: 55.2px;
    border-radius: 100px;
    background-color: white;
    border: none;
    font-size: 22px;
    font-weight: 100;
    color: #ff6876 !important;
    border: 1px solid #ff6876;
}

.resumePage a{
text-decoration: none !important;
color: #ff6876 !important;


}
.resumePage a:visited{
  color: #ff6876 !important;

}

.resumePage:hover{
opacity: .8;

}

.download {
    width: 200px;
    height: 55.2px;
    border-radius: 100px;
    background-color: #ff6876;
    border: none;
    margin: 25px;
    font-size: 22px;
    font-weight: 100;
    color: white !important;
}

.download a {
    text-decoration: none !important;
    color: white;
}

.download a:visited{
color: white;
}

.download a:hover{
color: white;
}

.download:hover{
opacity: .8;

}
/*This begins navigation css*/
.navbar-default {
    background-color: rgba(138, 151, 230, .9) !important;
    border: none !important;
}

.navbar-nav a {
    color: white !important;
    font-size: 20px!important;
    font-weight: 100 !important;
    font-family: 'Lato', sans-serif !important;
}

.navbar-brand img {
    height: 100px;
    width: 300px;
}
/*begins about me section*/
#aboutMe {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #ffffff;
    padding-top: 32px;
    margin-bottom: 96px !important;

}
.readMe{
  max-width: 946px !important;
text-align: center;
font-size: 18px;
font-family: 'Lato';
color: #3f217e;
margin-top: -44px !important;
}

.aboutBox {
    display: flex !important;
    max-width: 90vw !important;
    height: auto !important;
    background-color: transparent !important;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.21);
}

.aboutImage {
   margin-left: -15px !important;
   margin-top: 15px !important;
}



.abouttitle {
    background-color: lightpink;
}

.aboutText {
    margin-left: 30px !important;
    text-align: center;
    width: 100% !important;
    padding-bottom: 15px;
}
.aboutText h5{
  font-weight: bolder;

}
.bio {
    height: 400px !important;
    text-align: left;
    background: transparent;
}

#bites {
    height: 508px;
    width: 100vw;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

#bites h2 {
    /*width: 245px;
  height: 63px;*/
    font-family: 'Lato' !important;
    font-size: 46px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center !important;
    color: #3f217e !important;
    color: var(--charcoal-grey);
    margin-bottom: -15px !important;
}

#bites img {
    height: 46px;
    width: 50px;
    margin: 5px;
    margin-bottom: 0px !important;
}

#bites h3 {
    font-family: 'Lato';
    font-size: 20px;
  font-weight: 500;
  color: #2f3841;
  color: var(--charcoal-grey);
  text-align: center;
}

.bit {
    margin-top: 32px;
    line-height: 1.5;
}

.bit ul {
    list-style: none;
    list-style-position: inside !important;
}

.bit h3 {
    text-align: center;
    margin-bottom: 0px;
}

.sectiontitle h2 {

  font-family: 'Lato' !important;
  font-size: 46px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center !important;
  color: #3f217e !important;
  color: var(--charcoal-grey);
  margin-bottom: 42px !important;
}

#portfolio {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
    margin-right: 148px !important;
    margin-left: 148px !important;
    margin-top: 32px;
    margin-bottom: 32px;
}
#portfolio p{
  font-size: 22px;
  font-family: 'Lato';
  text-align: center;
color: #3f217e;
   width: 100%;
   padding-top: 15px;
}
#portfolio a:hover{
opacity: .7;
}
#portfolio h2{
  margin-bottom: -15px !important;

}


.featureWork {
    max-width: 646.3px !important;
    max-height: 1735px !important;
    opacity: 0.9;
    overflow: hidden;
 }


.otherWork {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:  flex-end;
    justify-content: center;
    max-width: 646.3px !important;
    max-height: 1735px !important;
    /*padding-right: 5px !important;*/
    /*padding-top: 0px !important;*/
    overflow: hidden;

}
.otherWork img{
}

#bottomHero {
    display: flex;
    flex: 1;
    align-content: center !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1440px;
    height: 469px;
    background-image: linear-gradient(108deg, #3023ae, #c96dd8);
}

#bottomHero h2 {
    font-family: 'Lato';
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #ffffff;
}

#bottomHero p {
    /*width: 372px;*/
    height: 33px;
    opacity: 0.66;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
}
/*begins portfolio css*/
#portfolio img {
    padding-top: 20px;
    width: 100%;
}

.sectiontitle {
    text-align: center;
    padding: 20px;
  }
#footer {
    max-width: 1440px;
    max-height: 102px;
    background-image: linear-gradient(108deg, #3023ae, #c96dd8);
    margin-bottom: 0px !important;
}

#footer hr {
    margin-top: 0px !important;
    opacity: 0.15;
}

#footer li {
    float: right;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    display: block;
    padding: 16px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: right;
    color: #ffffff;
}

#footer p {
    float: left;
    padding: 16px;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
}

#footer a {
  text-decoration: none !important;
}
#footer a:visited {
  color: white;
}



/*This is my resume css*/

#experience{
width: 80%;
/*margin-left: 240px;*/
position: relative;

}
#experience h2{
  font-family: 'Lato';
  font-size: 46px;
  text-align: center;
  color: #3f227e;
  /*padding-right: 220px !important;*/
}
.topBar {
  width: auto;
  height: 16px;
  background-color: #8b74bd !important;
  background-color: var(--deep-lilac);
  margin-left: -15px !important;
  margin-right: -15px !important;
}
#hammer{
  height: 73px;
  width: 230px;
   margin-bottom: -15px !important;
 }
#mws{
  max-height: 45px;
  max-width: 167px;
  object-position: center;
 }
#olm{
  height: 48px ;
  width: 114px;
object-position: center;
}
#wpfx{
  height: 40px;
  width: 165px;

}
#experience p{
  max-width: 100%;
  max-height: 138px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  color: #6b6b6b;
}
.company  {

  height: 375px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.18);
  border: solid 1px #979797;
  margin: 15px;

}

.dates{
  display: block;
  font-family: 'Lato' !important;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #8b74bd !important;
  color: var(--deep-lilac);
}
#experience h3{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #2f3841;
  color: var(--charcoal-grey);

}

/*This begins education css*/
#education{
  /*display: block;
  margin-left: 247px !important;*/
    max-width: 90vw;

}
#education h2{
  font-family: 'Lato';
  font-size: 46px;
  text-align: center;
  color: #3f227e;
  margin-top: 32px;
  /*margin-right: 220px !important;*/
}
.school{
  max-width: 458.2px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.18);
  border: solid 1px #979797;
  margin: 15px;
  text-align: center;
}

#education h3{
  font-family: 'Lato';
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  color: #2f3841;
  color: var(--charcoal-grey);
}

#education p{

  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: normal;
  color: #6b6b6b;
}

/*This begins certifications css*/
/*.centered{
  margin-left: 125px !important;
  position: relative;
}*/
#certifications p{

  font-family: 'Lato';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: #6b6b6b;
  text-align: center;
}
#certifications h2{
  font-family: 'Lato' !important;
  font-size: 46px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center !important;
  color: white !important;
  color: var(--charcoal-grey);
  margin-bottom: 42px !important;
}
#certifications{
padding-top: 100px;
  width: 100vw;
  background-color: #3f217e !important;
  background-color: var(--cobalt);
}

.certs {
  font-family: 'Lato' !important;
  font-size: 22px !important;
  font-weight: 300;
  text-align: center;
  color: #2f3841;
  color: var(--charcoal-grey);
}

.certDetails{
  height: 166px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.18);
  border: solid 1px #979797;
 margin-bottom: 32px;
 /*max-width: 300px !important;
 margin-left: 19px;*/
  }
/*.shopping{
  margin-top: 0px !important;
  margin-bottom: 0px;
}*/



/*This begins media queries*/

@media (min-device-width: 768px) {

    .navbar-brand img {
        height: 50px;
        width: 150px;
    }
    .navbar-header {
        height: 65px;
        border: none !important;
    }
}

@media (max-width: 1200px) {
    .navbar-nav a {
        font-size: 18px !important;
    }
}

@media (max-width: 1195px) {
    #hero h1 {
        font-size: 32px;
        font-weight: 700;
    }
    #hero h2 {
        font-weight: 100 !important;
    }
    .contact {
        width: 50%;
        height: 55.2px;
        border-radius: 100px;
        background-color: #ff6876;
        margin-top: 25px;
        border: none;
        font-size: 22px;
        font-weight: 100;
    }
    #hero {
        display: flex;
        align-items: flex-start;
        ;
        justify-content: center;
        text-align: center;
        background-image: url(../img/Hero_BG@2x.png);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: contain;
        color: white;
        font-family: 'Lato', sans-serif !important;
        padding-top: 100px;
    }
}

@media (max-width: 833px) {
    #hero h1 {
        font-size: 25px !important;
        font-weight: 700;
    }
    #hero h2 {
        font-weight: 100 !important;
        font-size: 18px;
    }

    .contact {
        width: 150px;
        height: 45.2px;
        border-radius: 100px;
        background-color: #ff6876;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        font-weight: 100;
        color: white !important;
    }

    #rotate {
        font-size: 18px;
        padding-top: 5px;
    }
}

@media (max-width: 768px) {
  #portfolio h2{
    font-size: 28px !important;
    text-align: center;
  }
  #portfolio{
    height: 100%;
    width: 100%;
    padding: -15px;
    margin-left: 0px !important;
  }
  body{
    margin: 0 auto;
  }
  #hero{
    height: 100%;
    background-size: cover;
    width: 100%;

   }



    .aboutText {
        font-size: 12px;
        /*width: 45% !important;*/
        height: 45% !important;
        text-align: left;
        margin: -15px !important;
        padding: 0px !important;
        line-height: normal;
        padding-top: 10px !important;
        padding-bottom: 10px !important;

    }
    .aboutBox {
        width: 767px !important;
        height: 115% !important;
        margin: -15px !important;

      }
      .aboutText h3 {
          font-size: 15px;

      }
      .aboutText h2 {
          font-size: 12px;
      }
      .aboutBox img{
          min-height: 60% !important;
          min-width: 100% !important;
          margin-top: 10px !important;
          padding-right: 5px;

      }
    .resumePage {
      width: 149px;
      height: 25.2px;
      font-size: 12px;
      font-weight: 300;
      margin-left: 0px;
      margin-right: 30px;
      width: 149px;
      height: 25.2px;
      font-size: 12px;
      font-weight: 300;

    }
    .download {
        width: 149px;
        height: 25.2px;
        font-size: 12px;
        font-weight: 300;
        /*margin-left: -32px !important;*/
        margin-right: 30px;
        margin-left: 0px;
        width: 149px;
        height: 25.2px;
        font-size: 12px;
        font-weight: 300;
    }

    #heroText {
        font-size: 12px;
        font-weight: 100;
        width: 150px !important;
        /*height: 15px !important;*/
        font-size: 22px !important;
        /*padding-bottom: 100px !important;
        margin-bottom: 115px !important;*/
    }
    .contact{
      margin-top: -20px !important;
margin-bottom: 35px;
    }

    #rotate {
        visibility: collapse;
        font-size: 18px;
        padding-top: 5px;
    }

    #hero h2 {
        font-weight: 100 !important;
        font-size: 18px;
        visibility: collapse;
    }
    #bottomHero p {
        /*width: 372px;*/
        height: 33px;
        opacity: 0.66;
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 1.8px;
        text-align: center;
        color: #ffffff;
        padding-bottom: 100px !important;
    }
}

@media (max-width: 480px) {
body{
margin: 0 auto;
}
.navbar-default {
width: 100vw;
}
.aboutImage img {
    max-height: 83px !important;
    max-width: 76px !important;

}
#bites h2{
  font-size: 28px !important;
  text-align: center;
}
#bites{
  width: 90%;
  padding: -15px;
  margin-top: 20px;
  text-align: center;

}
#bites h3{
  text-align: center;
}
#bites ul{
  margin-right: 30px;
}



}
@media(max-width: 991px){
.otherWork{
  position: relative;
}

}
