

/* This is the style for my NavBar */

.navbar {
  background: none;
}

/* This is for all parallax backgrounds */

.parallax-window {
    min-height: 800px;
    background: transparent;
    position: relative;
    width: 100%;
}

#hero h1 {
  text-align: center;
  background: none;
  position: absolute;
  font-family: "Fredericka the Great", sans-serif;
  font-size: 80px;
  top: 50%;
  left: 50%;
  color: white;
}
#hero h3 {
  text-align: center;
  background: none;
  position: absolute;
  font-family: "Fredericka the Great", sans-serif;
  font-size: 40px;
  top: 70%;
  left: 55%;
  color: white;
}


/* This is for tablet */

@media (min-width: 768px) and (max-width: 991px) {


}


/* This is for phones */

@media (max-width: 767px) {

  .navbar {
    background: black;
  }

}
