/*-----------HOME---------------*/
#brand {
  font-family: 'Share Tech Mono', serif;
}

nav {
  font-family: 'Share Tech Mono', serif;
  font-size: 18px;
}

#home {
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  text-align: center;
}

#home-text {
  color: black;
  font-family: 'Share Tech Mono', serif;
  font-size: 32px;
  text-align: center;
}

.parallax-window {
  min-height: 250px;
  background: transparent;
  padding-top: 80px;
}

/*-----------ABOUT---------------*/

#about {
  font-family: 'Avenir', serif;
  font-size: 18px;
}

.parallax-window-about {
  min-height: 250px;
  background: transparent;
  padding-top: 80px;
  width: 100%;
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  text-align: center;
}

.becca {
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.becca-text {
  padding: 50px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  text-align: right;
}

.rowing-pic {
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  display: flex;
  justify-content: center;
}

.austin {
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.austin-text {
  padding: 25px 25px 50px 25px;
  margin: 25px 25px 25px 25px;
  text-align: left;
}

#pictext {
  display: flex;
  flex-direction: row;
}

.about-text {
  font-family: 'Avenir', serif;
  font-size: 18px;
  color: black;
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  width: 50%;
}

.profile-pic {
  width: 50%;
  height: 300px;
  padding: 60px 25px 25px 100px;
  margin: 25px 25px 25px 25px;
}

/*------------PORTFOLIO------------*/

#portfolio {
  padding-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;

}

.container-one {
  display: flex;
  justify-content: space-around;
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
}

.container-two {
  display: flex;
  justify-content: space-around;
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
}

.parallax-window-portfolio {
  min-height: 250px;
  background: transparent;
  padding-top: 80px;
  width: 100%;
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  text-align: center;
}

/*-------------CONTACT------------------*/

#contact {
  width: 100%;
  min-height: 250px;
}

.parallax-window-contact {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  padding-top: 80px;
}

.container-three {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}

.container-four {
  text-align: center;
  font-family: 'Share Tech Mono', serif;
  font-size: 16px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.email {
  padding-top: 15px;
}

/*-------------FOOTER-------------------*/

footer {
  text-align: center;
  font-family: 'Share Tech Mono', serif;
  padding-top: 50px;
}
