/*color codes
blue
#27323A
red
#DB4954*/


#hero1 {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 1500px;
    margin-top: 5px;
    text-align: center;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.crest {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
}
