body {
  background-image: url("http://www.sportsbyvoort.com/images/Spiral-Notebook4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul#nav {
	position: absolute;
	top: 10px;
	right: 0;
	list-style: none;
	margin: 0;
	padding-right: 55px;
 }

  ul#nav li {
	float: left; }

  ul#nav li a {
	display: inline;
	float: left;
	padding: 8px 5px 3px 5px;
	margin-right: 5px;
	background-color: black;
	color: #fff;
	font-weight: bold;
	text-decoration: none; }

  ul#nav li a:hover {
	padding-top: 12px;
	background-color: #black; }

.writing {
  height:650px;
  width:650px;
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
}

.drawing{
  height:650px;
  width:650px;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  padding-top:40px;
}

.boom{
  position:relative;
  height:300px;
  width:550px;
  right:-5%;


}

.controls {
  position:absolute;
  top:75.5%;
  left:8%;

}

#text{
  font-family: 'Reenie Beanie', cursive;

}
#text h4{
  text-align: center;
}

#text p{
  font-family: 'Reenie Beanie', cursive;
  font-size: 34px;
  padding:5px;

  }


#text2 h1{
  padding-left:45px;
}

#text2{
  font-family: 'Reenie Beanie', cursive;



}

#text2 p{
  font-family: 'Reenie Beanie', cursive;
  font-size: 34px;
  padding-left:20px;
  }

.giphy-embed{
  margin-left:100px;
  padding-bottom:20px;

}

.giphy-embed1{
  padding-left: 70px;
}

.giphy-embed2{
  padding-left:350px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:black;
}
.glyphicon:hover{
  background-color: gray;
}
#text2 ul{
  margin-left:30px;
  word-wrap: normal;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  list-style-type: none;
}

/*Start of projects page*/
#row1 h1{
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  text-decoration: none;
}



a{
  color:black;
  font-family: 'Rock Salt', cursive;
  text-decoration: none;


}


.food a{
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 48px;
}
.wine a{
  text-align:center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 48px;
}
.music a{
  text-align:center;
  font-family: 'Reenie Beanie', cursive;
  font-size:48px;
  padding-left: 200px;

}
.tac a{
  text-align:center;
  font-family: 'Reenie Beanie', cursive;
  font-size:48px;
  padding-left:150px;

}
#line{
  width:650px;
}

#line2 {
  width:700px;
  padding-bottom: 60px;
  padding-left: 30px;
}

#text3{
  font-family: 'Reenie Beanie', cursive;
  font-size: 32px;
  padding-left:40px;
}

#text4{
  float:right;
  font-family: 'Reenie Beanie', cursive;
  font-size: 32px;
  padding-left:100px;
  padding-top:50px;
}
