body {
  overflow: hidden;
  background-color: black;
}

.parallax-window {
  min-height: 800px;
  min-width: 300px;
  /*background-color: rgba(73, 54, 78, 0.1);*/
  text-align: center;
  padding-top: 300px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.parallax-window2 {
  min-height: 800px;
  min-width: 300px;
  /*background-color: rgba(73, 54, 78, 0.4);*/
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-top: -20px;*/
  /*margin-bottom: 0px;*/
  margin: 0 auto;
}

.parallax-window3 {
  min-height: 400px;
  min-width: 300px;
  background-color: black;
  text-align: center;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  /*margin-top: -20px;*/
  margin: 0 auto;
}

/*.parallax-window4 {
  min-height: 800px;
  min-width: 300px;
  background-color: rgba(73, 54, 78, 0.1);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}*/

#logo {
  margin: 0 auto;
  margin-top: -90px;
}

#title {
  color: white;
}

/*.topbtn .btn {
  width: 60%;
  height: 60px;
  margin-top: 160px;
  border-radius: 10px;
}

.topbtn a {

  font-family: Georgia;
  font-size: 2.4em;

  background-color: rgba(42,21,72, 0.8);
  color: #DEC6FF !important;
}

.topbtn a:visited {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}

.topbtn a:hover {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}

.topbtn a:active {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}*/

#logo2 {
  width: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#logoHome {
  width: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}


#logoCarousel {
  display: none;
  width: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.work-hero {
  height: 700px;
  /*border: solid 5px black;*/
  padding-left: 0px;
  padding-right: 0px;
}

.work-hero iframe {
  width: 100%;
  height: 100%;
  border: none;
  /*background-color: white;*/
}

#yampic {
  display: none;
}

#yamaha iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}

#toeframe {
  width: 80%;
  background-color: #4D0000;
  padding-left: 140px;
}

/*.skills {
  min-height: 400px;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 800px;
}*/

.skills h1 {
  font-size: 13em;
  font-weight: 900;
  font-family: monospace;
  color: white;
  padding-top: 50px;
}

/*.work-preview {
  height: 500px;
  border: solid 5px black;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -15px;
}

.work-preview iframe {
  width: 400px;
  height: 100%;
  border: none;
}

.preview {
  height: 250px;
}*/

/*#midbtn .btn {
  width: 60%;
  height: 60px;
  margin-top: 60px;
  border-radius: 10px;
}

#midbtn a {
  font-family: Georgia;
  font-size: 2.4em !important;
  color: #EDD45F;
  background-color: rgba(141,93,36, 0.8);
}

#midbtn a:visited, a:hover, a:active {
  text-decoration: none;
  border: solid 2px rgb(141,93,36);
  background-color: rgba(141,93,36, 0.2) !important;
  color: #EDD45F !important;
}*/

/*.fa1 {
  font-size: 4em;
  color: rgb(237,165,49);
  animation-duration: 2s;
  animation-delay: 5s;
}*/

/*.ot {
  overflow: hidden;
  width: 100%;
}

.it {
  width: 100%;
  margin-right: -180px;
  margin-left: 0px;
  padding-right: 160px;
}*/

#mystory {
  color: white;
}

#mystory a {
  text-decoration: none;
  color: white;
}

#mystory a:visited {
  text-decoration: none;
  color: white;
}

#mystory a:hover {
  text-decoration: none;
  color: white;
}

#mystory a:active {
  text-decoration: none;
  color: white;
}


/*
#imagelightbox
{
    position: fixed;
    z-index: 9999;

    -ms-touch-action: none;
    touch-action: none;
}*/

#myCarousel {
  height: 650px;
}

#myCarousel img {
  max-height: 600px;
}

.carousel-inner img {
  margin: auto;
}


@media only screen and (max-width : 992px) {

  body {
    overflow: auto;
    overflow-x: hidden;
  }

  .parallax-window3 {
    min-height: 300px;
    min-width: 300px;
    background-color: black;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    /*margin-top: -20px;*/
    margin: 0 auto;
  }

  #yamrow {
    /*display: block;*/
    background-image: url(../img/yam2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100%;
    max-height: 600px;*/
    /*opacity: 0;*/
  }

  #yamrow img {
    opacity: 0;
    max-height: 600px;
  }

  #yamframe {
    display: none;
  }

  .skills h1 {
    font-size: 9.5em;
    font-weight: 900;
    font-family: monospace;
    color: white;
    padding-top: 50px;
  }

  .spread {
    display: none;
  }

  #logoCarousel {
    display: inline;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #logoHome {
    display: none;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width : 768px) {

  .parallax-window {
    min-height: 650px;
    min-width: 300px;
    /*background-color: rgba(73, 54, 78, 0.1);*/
    text-align: center;
    padding-top: 275px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .parallax-window3 {
    min-height: 200px;
    min-width: 300px;
    background-color: black;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    /*margin-top: -20px;*/
    margin: 0 auto;
  }

  .skills h1 {
    font-size: 6em;
    font-weight: 900;
    font-family: monospace;
    color: white;
    padding-top: 40px;
  }

  .work-hero iframe {
    width: 105%;
    height: 100%;
    border: none;
    /*background-color: white;*/
  }

  #title {
    font-size: 1.5em;
  }

  #toeframe {
    width: 100%;
    background-color: #4D0000;
    padding-left: 5%;
  }

}

@media only screen and (max-width : 480px) {

  .parallax-window {
    min-height: 550px;
    min-width: 300px;
    /*background-color: rgba(73, 54, 78, 0.1);*/
    text-align: center;
    padding-top: 250px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .parallax-window3 {
    min-height: 140px;
    min-width: 300px;
    background-color: black;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    /*margin-top: -20px;*/
    margin: 0 auto;
  }


  .skills h1 {
    font-size: 4.5em;
    font-weight: 900;
    font-family: monospace;
    color: white;
    padding-top: 30px;
  }

  #myCarousel {
    height: 450px;
  }

  #myCarousel img {
    max-height: 400px;
  }

  #toeframe {
    width: 100%;
    background-color: #4D0000;
    padding-left: 5%;
  }

}
