main {
    margin: auto;
}
body {
  background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.title 
{
    text-align: center;
    color: rgb(216, 81, 81)
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif; 
}
.logo
{
    width:80px;
    height:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav
{
font-size: 100%;
text-align: right;
padding-top: 40px;
padding-right: 200px;
}
.fullcontainer
{
    width: 1200px;
    height: 900px;
    border-color:rgb(255, 255, 255), 5px;
}

.container1
{
    display:flex;
    flex-direction: row;
}

container2
{
    display:flex;
    flex-direction: row;
}
#b1
{
border: solid rgba(241, 155, 195, 0.678) 5px;
width: 250px;
height: 250px;
margin-left: 200px;

}
    #b2
    {
    border: solid rgba(241, 155, 195, 0.678) 5px;
    width: 250px;
    height: 250px;
    margin-bottom:75;


    }
    #b3
    {
        border: solid rgba(241, 155, 195, 0.678) 5px;
        width: 250px;
        height: 250px;
        margin-top:30px;
        margin-left: 200px;
        margin-bottom:75;
       
    }
    #b4
        {
            border: solid rgba(241, 155, 195, 0.678) 5px;
            width: 250px;
            height: 250px;
            margin-top:30px;
             margin-bottom:75;
            
    }
    #b5
    {
        border: solid rgba(241, 155, 195, 0.678) 5px;
        width: 250px;
        height: 250px;
        margin-top:30px;
        margin-left: 200px;
        margin-bottom: 5px;
        max-height: 100%;
        max-width: 100%;
        
    }
    #b6
{
    border: solid rgba(241, 155, 195, 0.678) 5px;
    width: 250px;
    height: 250px;
    margin-top:30px;
    margin-right:230px;
    margin-bottom: 250px;
}
.caption1
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;

}
.caption2
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;
}
.caption3
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;
}
.caption4
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;
}
.caption5
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;
}
.caption6
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top: 5px;
}
.footer
    {
        font-family:Arial, Helvetica, sans-serif;
        font-size:medium;
        font-weight: bold;
        color: rgb(216, 81, 81);
        padding-bottom: 30px;
        text-align: center;
        margin-left:500px;
    }