header{
  background-color: grey;
  min-height: 100px;
  display: flex
  justify-content: center;
  align-items: center;
  margin: 10px;

}
main{
  display: flex;

}
nav{
  background-color: purple;
  width: 100px
  height: 640px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

section{
  width: calc(100%-nav);
  height: 640px;
  background-color: grey;

}
