#page-wrap {
  width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.title {
  background-image: url("http://placehold.it/800x300");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  font-size: 30px;
}

.mainsection {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.middle {
  max-width: 800px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 30px;
}

.columns {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}

.bottom {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 20px;
}

.columns2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}

.smallpic {
  display: flex;
  align-self: center;
  margin: 20px;
}

.2img {
  display: flex;
  height: 200;
  align-self: center;
  margin: 10px;
}

footer {
  background-image: url("http://placehold.it/800x150");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 150px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.button {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: darkgrey;
  border: 2px solid black;
  padding: 10px;
}
