main {
  
}

header {
  display: flex;
  justify-content: space-between;
}
section:nth-child(1) {
  background-image: url(http://placehold.it/400x550);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 600px;

h1 {
  font-size: 50px;

}

section:nth-child(2) {

}
section:nth-child(3) {
display:flex;
flex-wrap: wrap;
justify-content: space-between;
}

.boxed {
  border: 1px solid black ;
}
