body {
}

.hero {
  height: 400px;
  background-image: url(../img/sub_header_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
  color: white;
  text-align: center;
}

.hero h1 {
  padding-top: 130px;
  font-family: serif;
  font-size: 50px;
}

.hero p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.mini {
  padding-top: 20px;
  text-align: center;
}

.mini h2 {
  font-weight: bold;
  font-family: serif;
  font-size: 20px;
}

.search {
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width:991px) {
  .hero h1 {
    padding-top: 130px;
    font-family: serif;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    padding-top: 130px;
    font-size: 38px;
  }

  .hero p {
    font-family: sans-serif;
  }
}
