/**** CSS Reset ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/185649/sub_header_home.jpg") no-repeat center;
  background-size: cover;
  height: 300px;
}
article{
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .container::before {
    content: "320px";
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2em;
  }
}
@media screen and (min-width: 480px) {
  .container::before {
    content: "480px";
    color: maroon;
  }
}
@media screen and (min-width: 620px) {
  .container::before {
    content: "620px";
    color: orange;
  }
}
@media screen and (min-width: 810px) {
  .container::before {
    content: "810px";
    color: black;
  }
  section{
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  article{
    margin: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .container::before {
    content: "1400px";
    color: red;
  }
}
