    #main {
    background-image: url("../img/sub_header_home.jpg");
    text-align: center;
    padding-top: 200px;
    height: 530px;
    width: 1350px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row div {
    text-align: center;
    
}

/*XS CSS*/

@media (max-width: 767px) {
    header h1 {
        font-size: 25px;
        text-align: center;
    }
    header p {
        font-size: 25px;
      padding-right: 50px;
    }
    section div {
        margin: 25px 0;
    }
    /*SM CSS*/
    @media (min-width: 768px) and (max-width: 991px) {
        header h1 {
            font-size: 50px;
        }
        header p {
            font-size: 20px;
        }
    }
