


body {
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #222;
  height: 51px;
  color: #949998;
  margin-bottom: 15px;
}

main {
  width: 848px;
}

aside {
  width: 264px;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.wrapper-hflex {
  display: flex;
  justify-content: space-between;

}

.logo {
  padding: 15px 0;
  display: inline-block;
}

.logo:visited {
  color: powderblue;
}

.navbutt {
  height: 100%;

}

.navbar {
  display: inline-block;
  height: 100%;
}

.navbar > li  {
  height: 100%;
  display: inline-block;

}

.navbar > li > a {
  color: #949998;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  padding: 15px 10px;
}

.navbar > li > a:hover {
  color: #fff;
  background-color: #000;
}

.herounit {
  padding: 50px;
  background-color: #ddd;
  border-radius: 10px;
}

.herounit-title {
  margin-bottom: 10px;
  font-size: 46px;
  font-weight: bold;
}

.herounit-text {

}

.menuvertical {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.menuvertical > li {
  list-style-type: none;
  border-bottom: 1px solid #ccc
}

.menuvertical > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;

  border-bottom: none;
}

.menuvertical > li:last-child {
  border-bottom: none;
}

.menuvertical > li > a:hover {
  background-color: powderblue;
}
