


body {
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #222;
  height: 51px;
  color: #949998;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;

}

.logo {
  padding: 15px 0;
  display: inline-block;
}

.navbutt {
  height: 100%;

}

.navbar {
  display: inline-block;
  height: 100%;
}

.navbar > li  {
  height: 100%;
  display: inline-block;

}

.navbar > li > a {
  color: #949998;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  padding: 15px 10px;
}
