html{
  background-color: #FFFFF0;
}

#canvas{
  position: absolute;
}

#pagebreak{
  height: 150px;
}

#videosList {
 max-width: 600px;
}

.video {
  height: 100px;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

#audio {
  margin-top: 1100px;
  margin-bottom: 200px;
}
