main {
  margin: 0;
  padding: 0;
  width: 850px;
  font-family: arial;
}

.top {
  background: url("./img/nasa-background.jpg");
  height: 450px;
  margin-bottom: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 80px;
}

h2 {
  font-size: 18px;
  margin-top: 28px;
  margin-bottom: 40px;
  /*padding-top: 18px;*/
}

.footer {
  height: 324px;
  width: 850px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: lighter;
}

.footerbox {
  width: 270px;
  max-height: 320px;
  margin: 5px;
  line-height: 10px;
  padding-left: 18px;
}

textarea {
  line-height: 28px;
  border: 0;
  width: 220px;
}

input {
  font-size: 20px;
  height: 28px;
  margin: 0;
  border: 0;
  width: 220px;
}

.sendit {
  background-color: #404040;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}
