#background {
  height: 450px;
  width: 850px;
  background-image: url("img/nasa-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#grey {
  background-color: #efeff5;
  height: 324px;
  width: 850px;
  display: flex;
  justify-content: space-between;
}

.info {
  height: 100%;
  width: 270px;
  float: left;
}

#header {
  font-weight: lighter;
  font-family: Black Ops One;
  color: white;
  font-size: 6em;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
}

textarea, input[type=text] {
  width: 95%;
  resize: none;
}

p {
  padding-left: 10px;
  line-height: 23px;
  font-family: sans-serif;
  font-weight: lighter;
}

h1, input[type=submit] {
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 10px;
}

form {
  padding-left: 10px;
  font-family: sans-serif;
}

input[type=submit] {
  border: 0 none;
  padding-left: 10px;
  background: #595959;
  color: white;
  padding: 5px;
  width: 30%;
}
