.image {
  background-image: url('img/nasa-background.jpg');
  width: 850px;
  Height: 450px;
  text-align: center;
}

h1 {
  text-decoration: bold;
  text-align: center;
  padding: 180px;
  color: white;
  font-size: 68px;
  font-family: sans-serif;
}

div {
  float: left;
  width: 285px;
  height: 323px;
  background-color: #D3D3D3;
  margin-top: 20px;
}

h3 {
  text-align: left;
}

.media {
  text-align: left;
  font-family: serif;
}

.office {
  text-align: left;
  font-family: serif;
}

.contact {
  text-align: left;
  font-family: serif;
}

#send {
  background-color: grey;
  padding: 3px;
  margin:5px; 
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  text-align: center;
  width: 50px;
  height: 20px;
  color: white;
}
