main {
    background-image: url("/Users/rowlett/Desktop/web-workbook/02week/nasa/img/nasa-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 850px;
    height: 450px;
    margin-bottom: 20px;

}

h1 {
  font-family: Arial, arial black;
  font-size: 75px;
  font-style: normal;
  color: white;
  text-align: center;

  vertical-align: middle;

}

section {
  float: left;
  font-family: serif;
  width: 270px;
  height: 324px;

}

h2 {
      font-family: arial black;
      font-size: 15px;
      text-align: center;

    }


body {
  width: 850px;

}

div {
  width: 850px;
  height: 324px;
  background-color: lightgray;

}

.hero {
  margin-right: 20px;
}

input {
  
}
