#hero {
  background-image: url ("web-workbook/02week/nasa/img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 850px
  auto: 350px

}
