img {
    line-height:
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: arial;
}

.image {
    width: 850px;
    height: 450px;
    background-image: url("img/nasa-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerbox {
    width: 850px;
    height: 324px;
    display: inline-block;
    background-color: #f1f1f1;
    margin-top: 20px;
}

.leftcolumn {
    display: inline-block;
    width: 270px;
    height: 324px;
    margin-left: 30px;
    margin-right: -20px;
}

.middlecolumn {
    display: inline-block;
    width: 270px;
    height: 324px;
    margin-left: 10px;
    margin-right: 10px;
}

.rightcolumn {
    display: inline-block;
    width: 270px;
    height: 324px;
    margin-top: 30px;
}

#contactus {
    font-family: arial;
    font-weight: bold;
}

#social {
    font-weight: bold;
    font-family: arial;
}

#office {
    font-weight: bold;
    font-family: arial;
}

#name {
    width: 250px;
}

#message {
    height: 60px;
    width: 250px;
}

#submit {
    background-color: black;
    color: white;
    border: none;
}
