/* CSS for NASA project */

/*centers the content*/
#page-wrap {
  width: 800px;
  margin: 0 auto;
}

* {
  font-family: sans-serif;
}

.top {
  display: flex;
  width: 850px;
  height: 450px;
  background-image: url("./img/nasa-background.jpg");
  color: white;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
}


.bottom {
  background-color: lightgrey;
  width:850px;
  height: 324px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

/*all 3 columns of info have the same properties*/
.column {
  justify-content: center;
  width: 270px;
  height: 324;
  margin: 20px;
}

input {
  width: 100%;
}

input[type=textarea] {
  width: 100%;
  height: 60px;
}

input[type=submit] {
  background-color: #5c6565;
  color: white;
  font-size: 15px;
  justify-content: center;
  width: 80px;
}
