/* CSS for NASA project */
#page-wrap {
  width: 800px;
  margin: 0 auto;
}

header {
  justify-content: center;
  align-items: center;
}
.top {
  width: 850px;
  height: 450px;
  background-image: url("./img/nasa-background.jpg");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bolder;
  font-size: 80px;
}
.bottom {
  background-color: lightgrey;
  width:850px;
  height: 324px;
  display: flex;
  justify-content: space-between 20px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

.socialmed {
  display: inline-block;
  width: 270px;
  height: 324;
}

.officeinfo {
  display: inline-block;
  align-content: flex-start;
  width: 270px;
  height: 324;
}

.contact {
  display: inline-block;
  width: 270px;
  height: 324;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
