img {
  padding: 4px;
  border-radius: 4px;
  color: grey;
  border: 4px solid;
  width:%100;
  height: 100px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
p {
  width: 400px;
  line-height: 2;
  border: 2px dashed green;
  margin-left:auto;
  margin-right: auto;
}
body {
  background-image: url("../images/padsfeet.jpg");
  background-size: 100%;
  background-position: center;
  font-family: 'Oswald',sans-serif;
}
html {
  color: purple;
  text-align: center;
}
