body {
  padding: 20px;
  background: #22a829;
  font-family: 'Oswald', sans-serif;
}

.header {
  padding: 1px;
  font-size: 60px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.blogimg {
  resize: horizontal;
  overflow: hidden;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* button */

.button_example {
  border: 1px solid #bee1fa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: rgb(39, 39, 39);
  background-color: #f2f9fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
  background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
  background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
  background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
  background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
  background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}

.button_example:hover {
  border: 1px solid #93cdf7;
  background-color: #c3e3fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c3e3fa), to(#a5defb));
  background-image: -webkit-linear-gradient(top, #c3e3fa, #a5defb);
  background-image: -moz-linear-gradient(top, #c3e3fa, #a5defb);
  background-image: -ms-linear-gradient(top, #c3e3fa, #a5defb);
  background-image: -o-linear-gradient(top, #c3e3fa, #a5defb);
  background-image: linear-gradient(to bottom, #c3e3fa, #a5defb);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c3e3fa, endColorstr=#a5defb);
}