header {
    position: fixed;
    width: 100%;
    height: 160px;
    margin: 0;
    top: 0;
}

/* styles logo at top of screen */
.logo {
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
}

.name {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
 /* background */
.barImage {
    width: 100%;
    height: 100%;
}

/* begins about us */
.aboutUs {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #FFF;
}

.headshot {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: 120px 0 0 150px;
    border: 1px #dcdcdc;
    float: left;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.4);
    background-image: url(../img/kat_and_me.JPG);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

#aboutUsHeader {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 25px 0;
    text-indent: 22px;
    margin-bottom: -4px;
}

.aboutUsText {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    float: left;
    width: 500px;
    margin: 100px 0 0 100px;
    text-indent: 22px;
}

.aboutUsText p {
    margin-bottom: -4px;
}

/* begins section on dogs */
.aboutOurDogs {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    text-align: center;
}

.aboutDogsHeader {
    width: 100%;
    height: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 100px;
    margin-bottom: 30px;
}

.dogContainer {
    width: 250px;
    height: 450px;
    margin: 0% 4.5%;
    display: inline-block;
}

.dogPhoto {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 125px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.4);
}

.dogName {
    text-align: center;
    font-weight: 700;
}

.aboutDogsText {
    margin: auto;
    width: 250px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 270px 0 0 0;
}

/* begins section on partners of BB */
.ourPartners {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    text-align: center;
}

.aboutOurPartners {
    width: 100%;
    height: 100px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 100px;
    margin-bottom: 30px;
}

.partnerContainer {
    width: 250px;
    height: 400px;
    margin: 0% 4.5%;
    display: inline-block;
}

.partnerPhoto {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 250px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.4);
    filter: grayscale(100%);
    transition: width 0.1s, height 0.1s;
}

.partnerPhoto:hover {
    filter: none;
    width: 265px;
    height: 265px;
}

.partnerName {
    text-align: center;
    font-weight: 700;
}

.aboutPartnerText {
    margin: auto;
    width: 250px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 270px 0 0 0;
}

/* begins footer of page with links to contacting the bar 
    always visible*/
footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.footerMenu {
    width: 80%;
    height: 30px;
    margin: 0 10%;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.footerMenu a {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #818181;
    text-decoration: none;
    line-height: 30px;
    margin: 0 5%;
}