/* full page styling for laptop/desktop*/
body {
  border: 2px solid lightblue;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}

/* begin header styling */
header {
    /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  /* border: 5px solid red; */
  background-image: url("../img/Rosehip-webheader.png");
  width: 600px;
  height: 320px;
}

header h1 {
    /* border: 5px solid red; */
  width: 600px;
  height: 100%;
  text-align: center;
}
/* end header styling */

/* nav bar */
nav {
  /* border: 5px solid red; */
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin: 50px;
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  font-size: 20px;
  padding: 10px;
}

nav span:hover {
  color: lightblue;
}
/* end nav bar */

/* begin into block with image and text */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 100%;
  /* border: 5px solid red; */
}

}
#intro .image {
  width: 1000px;
  height: 100%;
  /* border: 5px solid red; */
}

#intro .image img {
  width: 100%;
}

#intro h1 {
  font-size: 23px;
  text-align: center;
  /* padding: 50px; */
  margin-top: 50px;
  text-align: justify;
}
/* begin middle section with links to about and galleries */
#middle {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  /* border: 5px solid red; */
}
/* begin about */
.about{
  display: flex;
  width: 450px;
  flex-direction: column;
}

.about h2 {
  width: 450px;
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  margin: 50px 0px;
}

#about {
  width: 450px;
  height: 337.5px;
  background-image: url("../img/rosehip_flora_emily_wedding_lindsey_baker_photography_barr_mansion.jpg");
  background-size: cover;
  background-position: center;
  /* border: 5px solid red; */
}

.about:hover {
  opacity: .7;
}

/* begin galleries */
.galleries{
  display: flex;
  width: 450px;
  flex-direction: column;
}
.galleries h2 {
  width: 450px;
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  margin: 50px 0px;
}
#galleries {
  width: 450px;
  height: 337.5px;
  background-image: url("../img/rosehip_flora_kemble_wedding_youaremytruephotography_barr_mansion.jpg");
  background-size: cover;
  background-position: center;
  /* border: 5px solid red; */
}

.galleries:hover {
  opacity: .7;
}

/* begin Blog */
#blog {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog h2 {
  width: 1000px;
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  margin: 50px 0px;
  letter-spacing: 0px;
}

#recent-entries {
  width: 1000px;
  height: 325px;
  display: flex;
  justify-content: space-between;
  /* border: 5px solid red; */
}

.blog {
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
}

.blog:hover{
  opacity: .7;
}

.blog h3 {
  font-size: 18px;
  padding: 10px 0px;
  font-family: 'Montserrat', sans-serif;

}

.blog h4 {
  color: lightgrey;
  font-size: 15px;
}
/* begin first blog post  */
#one span {
  width: 300px;
  height: 225px;
  background-image: url("../img/rosehip_flora_bethany_wedding_featherandtwinephotography_prospect_house_2.jpg");
  background-size: cover;
  background-position: center;
  /* border: 5px solid red; */
}

/* begin second blog post*/
#two span {
  width: 300px;
  height: 225px;
  background-image: url("../img/rosehip_flora_dani_wedding_escondido_golf_lake_club_36th_street_events.jpg");
  background-size: cover;
  background-position: center;
  /* border: 5px solid red; */
}
/* begin third blog post */
#three span {
  width: 300px;
  height: 225px;
  background-image: url("../img/rosehip_flora_laura_wedding_stacy_conant_photography_hotel_van_zandt.jpg");
  background-size: cover;
  background-position: center;
  /* border: 5px solid red; */
}
/* begin footer */
#footer {
  /* border: 5px solid red; */
  width: 1000px;
  height: 100%
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
/* begin top section of footer */
#contact-one {
  /* border: 5px solid red; */
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eaeaea;
}

#contact-one:hover {
  opacity: .7;
}
#contact-one span {
  background-image: url("../img/Rosehip-RH-logo.png");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

#contact-one h2 {
  font-size: 23px;
  /* margin: 10px 0px; */

}

#contact-one input{
  /* margin: 10px 0px; */
  background-color: black;
  color: white;
  padding: 14px 30px;
  font-size: 12px;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
/* begin bottom section of footer */
#contact-two {
    /* border: 5px solid red; */
    width: 1000px;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    margin: 50px 0px;
    padding: 10px 0px;
}

#social-media{
  width: 200px;
  height: 40px;
  /* border: 5px solid red; */
  display: flex;
  justify-content: space-between;
}

#facebook{
  width: 40px;
  height: 40px;
  background-image: url("../img/flogo-RGB-HEX-Blk-72.png");
  background-size: 40px 40px;
  margin-left: 15px;
  /* border: 5px solid red; */

}

#instagram{
  width: 40px;
  height: 40px;
  background-image: url("../img/glyph-logo_May2016.png");
  background-size: 40px 40px;
  /* border: 5px solid red; */
}

#pinterest{
  width: 40px;
  height: 40px;
  background-image: url("../img/badgeWHITE.png");
  background-size: 40px 40px;
  /* border: 5px solid red; */
  background-color: black;
}

#mobileWorkAround{
  display: none;
}

@media(max-width: 1049px){
  header, nav, main, footer{
    display: none;
  }
  #mobileWorkAround {
    display: block;
    text-align: center;
    font-size: 1.35em;
    padding: 3em;
  }

}
