body{
  background-image: url(../img/fortnite-background.jpg);
  font-family: fantasy;
}

.TopBar{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Logo{
  width: 10%;
  border-right: 2px solid white;
  border-bottom: 6px ridge white;
}

.Banner{
  width: 90%;
  opacity: .5;
  border-bottom: 6px ridge white;
}

.Banner:hover{
  opacity: 1.0;
}

.BodyParagraphs{
  display: flex;
}

.LeftBox{
  margin: 10%;
  margin-top: 5%;
  width: 60%;
  height: 40%;
  background-color: yellow;
  opacity: 0.7;
  color: black;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid white;
}

.LeftBox:hover{
  opacity: 1.0;
}

h1{
  font-size: 30px;
  font-style: italic;
  text-align: center;
  opacity: 1;
}

h3{
  margin-left: 2.5%;
  font-size: 22px;
}

.Info{
  margin-left: 5%;
}

.RightBox{
  margin: 10%;
  margin-top: 5%;
  width: 30%;
  height: 40%;
  background-color: black;
  opacity: 0.7;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 3px solid yellow;
}

.RightBox:hover{
  opacity: 1.0;
}

.SignUpForm{
  padding: 5px;
}

.signup-btn{
  margin-top: 5%;
  margin-left: 25%;
  padding: 5px;
  height: 30px;
  width: 50%;
  background-color: yellow;
  border:2px solid white;
  border-radius: 3px;
  font-family: fantasy;
}

.BottomBar{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-top: 1px solid white;
  display: flex;
  justify-content:space-around;
}

h2{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: yellow;
}
