/**/
/*Header section*/
/**/
header {
  height: 47px;
  background-color: black;
  min-width: 575px;
}

.download_button_link {
  padding: 4px 8px 4px 8px;
  font-family: "Calibri";
  border: 2px solid white;
  border-color: white;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.Download_button_div {
  float: right;
  font-family: "Calibri";
  text-decoration: none;
  padding: 13px 70px 0px 0px;
  color: white;
}

#title_div {
  padding-top: 2px;
  width: 13%;
  float: left;
  height: 25px;
}

#website_title {
  font-family: "Century Gothic";
  font-size: 150%;
  color: white;
  background-color: blue;
  float: left;
  line-height: 0px;
}

#header_logo {
  height: 35px;
}

#logo {
  float: left;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 30px;
}

#top_nav_master {
  background-color: black;
  float: right;
  padding: 13px 20px 0px 0px;
}

.top_links {
  color: white;
  text-decoration: none;
}

.top_nav {
  padding: 0px 10px 0px 10px;
  float: right;
  font-family: "Calibri";
}
/**/
/*End of Header section*/
/**/

/**/
/*Carousel section*/
/**/
.carousel-caption {
  position: absolute;
  right: 10%;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel_text {
  font-family: "Century Gothic";
  color: black;
}

#smartphone_logo_div {
  height: 100px;
  position: absolute;
  top: 145px;
  left: 18%;
  z-index: 11;
}

#smartphone_logo {
height: 200px;
}

#smartphone_caption {
  bottom: 350px;
  left: -31%;
}

#smartphone_text {
  font-size: 250%;
}

#Phone_caption {
  top: -15px;
  right: -15%;
}

#Phone_text {
  font-size: 350%;
}

#videowall_caption {
  top: -15px;
}

#videowall_text {
  font-size: 350%;
}

/*Still trying to fix the small parts of the carousel*/

/*.carousel_pic {
    position: relative;
    float: left;*/
    /*width:  50%;
    margin: auto;*/
  /*  height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*.item, .active {
  width: 50%;
  margin: auto;
}*/
/**/
/*End of Carousel Section*/
/**/

/**/
/*CEO Section*/
/**/
#CEO_and_exp {
  width: 50%;
  margin: auto;
  height: 303px;
  min-width: 520px;
}

#CEO_div {
  float: left;
}

#CEO_img {
  height: 300px;
}

#whats_yartarb_div {
  float: right;
  width: 50%;
}

#whats_yartarb {
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 200%;
}

#yartarb_quote {
  font-family: "Calibri";
  font-style: italic;
}

#yartarb_quote_div {
  float: right;
  width: 70%;
}

#quoter {
  float: right;
  font-family: "Calibri";
}
/**/
/*End of CEO Section*/
/**/

/**/
/*Video and Testimonial Section*/
/**/
#video_testimonial_section {
  background-color: rgb(84,160,110);
  height: 381px;
  display: flex;
  justify-content: space-around;
  min-width: 1073px;
}

#video_div {
  float: left;
  /*padding: 25px 25px 0px 25px;*//*revert*/
  padding-top: 25px;/*for flexbox*/
}

#video {
  width:441px;
  height:331px;
}

.pic_and_quote {
  width: 20%;
  float: right;
  /*padding: 25px 25px 0px 25px;*//*revert*/
  padding-top: 25px;/*for flexbox*/
}

.testimonial_quote {
  color: white;
  font-family: "Calibri";
  font-style: italic;
}

.testimonial_quoter {
  color: white;
  font-family: "Century Gothic";
  font-weight: bold;
}

.test_pic_div {
  width: 197px;
  margin: auto;
  padding: 0px 0px 15px 0px;
}

.testimonial_pic {
  height: 195px;
  width: 195px;
  border: 5px solid white;
  /*display: none;*/
  /*margin: auto;*/
}
/**/
/*End of Video&Testimonial Section*/
/**/

/**/
/*Footer Section*/
/**/
footer {
  height: 200px;
  background-color: black;
  border-top: 1px solid white;
  min-width: 927px;
}

.footer_div {
  width: 33%;
  float: left;
  color: white;
  font-family: "Calibri";
  padding: 25px;
}

.bottom_nav {
  padding: 5px 0px 5px 50px;
  float: left;
  width: 100%;
  font-family: "Calibri";
}

.bottom_links {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

#newsletter_title_div {
  padding-bottom: 10px;
}

#newsletter_title {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

#newsletter_body {
  font-size: 100%;
}

#envelope_div {
  float: right;
  padding: 5px 0px 0px 10px;
}

#envelope {
  width: 50px;
  margin: auto;
}

#footer_follow_logos_div {
  padding: 5px;
}

#follow_us_text_div {
  float: right;
  padding-right: 30px;
}

#follow_us_text {
  font-size: 150%;
}

#footer_follow_logos_div_master {
  width: 100%;
  float: right;
  padding-right: 25px;
}

.footer_follow_logos_div {
  float: right;
  padding: 0px 10px 10px 10px;
}

#illuminati, #twitter, #facebook, #reddit {
  height: 20px;
}

#footer_logo {
  height: 50px;
  float: right;
}

#footer_logo_div {
  width: 100%;
  float: right;
  padding-top: 25px;
  padding-left: 10px;
}
/**/
/*End of Footer Section*/
/**/
