body {
    background-color: rgba(235, 230, 204, 0.856);
}
.containter {
width: 1200px;
height: 100px;
margin: auto;
}
header {
height: 100px;
background-color: rgb(80, 78, 78);
}
.logo {
height: 100px;
width: 500px;
display: block;
margin-right: auto;
margin-left: auto;
}
.quote {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 78, 78);
    text-align: center;
    border: dotted 1px rgb(80, 78, 78);
}
main {
height: 1200px;
padding-top: 30px;
padding-left: 100px;
}
section {
height: 300px;
width: 1000px;
}
.clinical {
height: 250px;
width: 330px;
}
.resist {
height: 300px;
width: 330px;
}
.treatment {
    height: 350px;
    width: 330px;
}
article {
    height: 500px;
    margin-top: 100px;
    padding-right: 100px;
}
.paulablog {
    height: 250px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: height 2s, width 2s, margin-left 2s, transform 2s;  
}
.paulablog:hover {
    height: 350px;
    width: 700px;
}
.solution {
    height: 200px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 50px;
    transition: height 2s, width 2s, margin-left 2s, transform 2s;    
}
.solution:hover {
    height: 350px;
    width: 700px;
}
.exfoliants {
    height: 200px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 50px;
    transition: height 2s, width 2s, margin-left 2s, transform 2s;    
} 
.exfoliants:hover {
    height: 350px;
    width: 700px;
}
footer {
    height: 200px;
    width: 1200px;
    padding-top: 50px;
    padding-left: 100px; 
    background: linear-gradient(to right, rgb(219, 205, 183), rgb(80, 78, 78));
    transition: background-color 1s;
}
footer:hover {
    background: linear-gradient(to left, rgb(219, 205, 183), rgb(80, 78, 78));
}
.customerservice {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 78, 78); 
    font-size: 15px;  
}
li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    font-size: 13px;  
}
.faq {
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    font-size: 13px;
    color: rgb(80, 78, 78);
}