body {
  /*background-image: url(../img/art7b.png);*/
  background-color: rgb(77, 0, 0);
  padding-top: 1%;
  padding-left: 30%;
}

h1 {
  margin-left: 70px;
  padding-top: 2px;
  width: 360px;
  height: 46px;
  padding-left: 5px;
  text-align: center;
  background-color: #434449;
  color: rgba(255, 0, 0, 0.8);
  border: 2px solid black;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
div[data-cell] {
  width: 160px;
  height: 160px;
  background-color: grey;
  float: left;
  border: 3px solid black;
  font-size: 150px;
  color: black;
  text-align: center;
  text-shadow:
       3px 3px 0 #c70000,
     -1px -1px 0 #c70000,
      1px -1px 0 #c70000,
      -1px 1px 0 #c70000,
       1px 1px 0 #c70000;

}

.row {
  clear: both;
  padding-left: -200px;
  background-color: rgba(255, 0, 0, 0.0);

}

#announce-winner {
  clear: both;
  padding-left: 100px;
  font-size: 50px;
  color: rgba(255, 0, 0, 0.8);
}

button {
  clear: both;
  margin-left: 170px;
  background-color: rgba(255, 0, 0, 0.8);
  color: silver;
  width: 160px;
  height: 30px;
  font-size: 1.3em;
}
