body {
  /*background-image: url(../img/art7b.png);*/
  background-color: rgb(77, 0, 0);
  padding-top: 1%;
  padding-left: 30%;
}

h1 {
  margin-left: 65px;
  padding-top: 2px;
  width: 360px;
  height: 46px;
  padding-left: 5px;
  text-align: center;
  background-color: #434449;
  color: rgba(255, 0, 0, 0.8);
  border: 2px solid black;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
div[data-cell] {
  width: 160px;
  height: 160px;
  background-color: grey;
  float: left;
  border: 3px solid black;
  font-size: 150px;
  color: black;
  text-align: center;
  text-shadow:
       3px 3px 0 #c70000,
     -1px -1px 0 #c70000,
      1px -1px 0 #c70000,
      -1px 1px 0 #c70000,
       1px 1px 0 #c70000;

}

.row {
  clear: both;
  padding-left: -200px;
  background-color: rgba(255, 0, 0, 0.0);

}

#announce-winner {
  clear: both;
  padding-left: 100px;
  font-size: 50px;
  color: rgba(255, 0, 0, 0.8);
}

button {
  clear: both;
  margin-left: 170px;
  background-color: rgba(255, 0, 0, 0.8);
  color: silver;
  width: 160px;
  height: 30px;
  font-size: 1.3em;
}

@media only screen and (max-width : 992px) {
  body {
    padding-left: 20%;
  }

  div[data-cell] {
    width: 100px;
    height: 100px;
    background-color: grey;
    float: left;
    border: 3px solid black;
    font-size: 90px;
    color: black;
    text-align: center;
    text-shadow:
         3px 3px 0 #c70000,
       -1px -1px 0 #c70000,
        1px -1px 0 #c70000,
        -1px 1px 0 #c70000,
         1px 1px 0 #c70000;

  }

  h1 {
    margin-left: 5px;
    padding-top: 5px;
    width: 300px;
    height: 35px;
    padding-left: 0px;
    font-size: 1.6em;
    text-align: center;
    background-color: #434449;
    color: rgba(255, 0, 0, 0.8);
    border: 2px solid black;
    text-shadow:
         3px 3px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }

  button {
    clear: both;
    margin-left: 78px;
    background-color: rgba(255, 0, 0, 0.8);
    color: silver;
    width: 160px;
    height: 30px;
    font-size: 1.3em;
  }

}

@media only screen and (max-width : 480px) {

  body {
    padding: 8%;
  }

  div[data-cell] {
    width: 80px;
    height: 80px;
    background-color: grey;
    float: left;
    border: 3px solid black;
    font-size: 70px;
    color: black;
    text-align: center;
    text-shadow:
         3px 3px 0 #c70000,
       -1px -1px 0 #c70000,
        1px -1px 0 #c70000,
        -1px 1px 0 #c70000,
         1px 1px 0 #c70000;

  }

  h1 {
    margin-left: 5px;
    padding-top: 5px;
    width: 240px;
    height: 35px;
    padding-left: 0px;
    font-size: 1.2em;
    text-align: center;
    background-color: #434449;
    color: rgba(255, 0, 0, 0.8);
    border: 2px solid black;
    text-shadow:
         3px 3px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }

  button {
    clear: both;
    margin-left: 50px;
    background-color: rgba(255, 0, 0, 0.8);
    color: silver;
    width: 160px;
    height: 30px;
    font-size: 1.3em;
  }


}
