
html{
  /*background-color: lightgreen;*/
  background-image: url("https://media.timeout.com/images/101578335/image.jpg");
  background-size: cover;
  background-position: left;
  font-family: font-family: 'Crete Round', serif;
}

#vip{
  margin-top: 3%;
  margin-left: 340px;
  font-size: 30px;
  font-weight: bold;

}

a{
  text-decoration: none;
  color: gold;

}

main{
  padding-left: 40%;
}

button{
  margin-top: 25px;
}

h1{
  color: white;
  font-size: 62px;
}
h2{
  color: white;
  font-size: 32px;
}

div[data-cell] {
  width: 125px;
  height: 125px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
  background-color: #924C3D;
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
  color: white;
}

@media all and (max-width: 1400px) {
  #vip{
    margin-top: 6%;
    margin-left: 320px;
    font-size: 30px;
    font-weight: bold;

  }
}
@media all and (max-width: 700px) {
  #vip{
    margin-top: 16%;
    margin-left: 320px;
    font-size: 30px;
    font-weight: bold;
  }
  h1{
    color: white;
    font-size: 62px;
  }
  h2{
    color: white;
    font-size: 32px;
  }

  div[data-cell] {
    width: 90px;
    height: 90px;
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #808080;
    font-size: 75px;
    text-align: center;
    background-color: #924C3D;
  }
  #announce-winner {
    clear: both;
    font-size: 25px;
    color: white;
  }

}
@media all and (max-width: 700px) {

  html{
    background-repeat: no-repeat;
  }


  #vip{
    margin-top: 16%;
    margin-left: 200px;
    font-size: 22px;
    font-weight: bold;
  }
  h1{
    color: white;
    font-size: 42px;
  }
  h2{
    color: white;
    font-size: 22px;
  }

  div[data-cell] {
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #808080;
    font-size: 50px;
    text-align: center;
    background-color: #924C3D;
  }
  #announce-winner {
    clear: both;
    font-size: 25px;
    color: white;
  }

}
