
html{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b6/f0/00/b6f000e6e0fdf0ab0c38c82fe2befdcb.jpg");
  background-size: cover;
}

body{
  padding-left: 25%;
}

button{
  margin-top: 20px;
  background-color: #924c3d;
  height: 70px;
  width: 200px;
  font-size: 32px;
  }

div[data-cell] {
  width: 115px;
  height: 115px;
  background-color: #f2f2f2;
  float: left;
  border: 2px solid #5B7475;
  font-size: 100px;
  text-align: center;
  background-color: #924C3D;
}


#vip{
  margin-top: 8%;
  margin-left: 475px;
  font-size: 30px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: gold;

}

.row {
  clear: both;
}

h1{
  font-size: 60px;
}

#title{
  margin-top: 135px;
  margin-bottom: -35px;
  color: white;
  text-align: left;
}


#announce-winner {
  clear: both;
  font-size: 50px;
  color: white;
}
