body {
  font-family: Courier New;
  layout: block;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  opacity: 0.7;
}

.topnav a.active {
  background-color: gray;
  color: #f2f2f2;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 500px;
  margin: 70px 0px 0px 70px;
  text-align: center;
  float: left;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #333;
}

.profileimage {
  filter: grayscale(40%);
}

.mission {
  display: inline-block;
  width: 500px;
  height: 200px;
  margin: 130px 100px 0px 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 50px;
  float: left;
}

.mission:hover, .card:hover {
  background-color: #333;
  color: #f2f2f2;
  filter: grayscale(100%)
}
