div {
    background-color: red;
    width: 33%;
    padding:10px;
    border:none;
    margin:10 px;
    float: left;
    border-radius: 18px;
}
divB {
    background-color: blue;
    width: 33%;
    padding:10px;
    border:none;
    margin:10px;
    float:right;
    border-radius: 18px;
}

.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}