section {
margin: 2em;
border: 3px double black;
padding: .5em;
border-radius: 5px;
color: #000;}
section {font-family: "Classic Grotesque", cursive sans-serif; color: yellow; background-color: lightgrey}
p {font-size: 25px; text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;}
h3 {color: #16a085; font-size:30px !important;
}
h6 {color: black; font-size:20px;}
p:hover:First-letter {color: red}
.intro {background-color: yellow;}
.header {color: #16a085; font-size: 35px; font-family: "Comic Sans MS", cursive, sans-serif;}
.blog2 {background-color: yellow;}
section {display: block;}
