
body {
  background: linear-gradient(135deg, rgb(121, 203, 202), rgb(230, 132, 174));
}
main {
  width: 700px;
  margin: auto;
  background-color: white;
}
article {
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: Arial, sans-serif;
  color: pink;
  width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 55px;
}
h1:hover {
  color: #4708fb;
}
h2  {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: purple;
}
h2:hover::first-letter {
  color: red;
  font-size: 40px;
}
h2 {
  color: #1ec93f;
}
p {
  color: orange !important;
}
p {
  font-family: Arial, sans-serif;
  color: green;
}
article:first-child {
  border-top: 3px solid gold;
}
article:last-child {
  border-bottom: 3px solid gold;
}
.A10 {
  background-color: #0ceef5;
}
.byline {
  text-decoration: underline;
}
