body {
  background: linear-gradient(135deg, rgb(245, 81, 95), rgb(161, 5, 29));
  font-family: 'Supermercado One', cursive;
}

img {
  width: 700px;
  height: auto;
}

.center {
  margin: auto;
}

main {
  width: 700px;
  margin: auto;
}

.byline {
  font-style: italic;
}

article:nth-child(odd) {
   background-color: gray;
}

article:hover{
  font-style: italic;
  color: purple;
}
