*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}

body{
    background: lightgray;
   

}

article{
    width: 80%;
    background: white;
    
    margin: auto;
    padding: 2%;
    margin-top:3%;
    margin-bottom: 3%;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: .3em;
    
    
    
    
}

.flexContainer{
    display: flex;
    flex-direction: column;
}


article > p {
    text-align: center;
    
}


article:hover{
    background-color: grey;
    color: white;
}


article > h2{
    font-size: 1em;
    text-align: center;
    
   

}

small{
    display: block;
    text-align:center;
    font-size: .6em;
    
}

/*====================================================*/
.container{
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    
    
}

.search {
    flex: 1;
}

.container > li{
    flex: 1;
}


.container >li:hover{
    background-color: gray;
    color: white;
}


nav > ul > li{
    background-color: white;
    margin-left: .5em;
    margin-right: .5em;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: .3em;


}





