body {
  font-family: Arial, 'Times New Roman', Times, serif;
  padding: 5%;
  background: whitesmoke;
}

#textbox {
  height: 200px;
}

form {
  width: 100%;
  height: 20%;
  padding: 5%;
}

.header {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 100%;
}

.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.card {
  display: block;
  background-color: grey;
  padding: 5%;
  margin-top: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: center;
  background: whitesmoke;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}