.background {
  padding-top: 10px;
  text-align: center;
  margin: 10px;
  background-color: gray;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
}
.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
.nav li {
  display: inline-block;
  padding: 20px;
  font-size: 20px
}
h1 {
  border-bottom: 2px solid #123478;
}
p{
  font-size: 18px;
}
p:hover:first-letter {
  text-transform: uppercase;
  color: #105645;
  Font-size: 25px;
}
p:hover {
  font-size: 25px;
  color: #123478;
}
article {
  font-size:18px;
}
section {
  font-size: 22px;
  margin: 20px;
}
article:hover:first-letter {
  text-transform: uppercase;
  color: Indigo !important;
}
article:hover {
  Font-size: 25px;
  color: #123478;
}
section:hover:first-letter {
  text-transform: uppercase;
  color: #129934 !important;
}
section:hover {
  font-size: 25px;
  color: #123478;
}
img {
  width: 25%;
  height: auto;
}
footer {
  border-bottom: 3px solid black;
}
.outline {
  padding: 10px;
  margin: 20px;
  border: 8px solid black;
  background-color: #137834;
}
