main {
  font-family:cursive;

}


.description1:hover
{
  display: block;
  background-color: blue;
  padding: 20px;
}

.description3:hover
{
  display: block;
  background-color: red;
  padding: 20px;
}

.description3 {

}
.description5:hover
{
  display: block;
  background-color: green;
  padding: 20px;
}

.description8:hover
{
  display: block;
  background-color: gold;
  padding: 20px;
}

.blogpost:nth-child(1) {
  font-family: arial;

}

.blogpost:nth-child(2n+0) {
  font-family: Verdana, serif;
}

main{
  margin: auto;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border: solid black;
  border-radius: 30px

}

h2 {
  font-family:"Lucida Sans Unicode",serif;
  text-shadow: 2px 2px #ff0000;
}


body {
  min-height: 100vh;
  background-image:
    repeating-linear-gradient(305deg,
      rgba(231,131,177, 0) 0,
      #40ccde 75vmax,
      #40ccde calc(75vmax - 5px),
      #40ccde 75vmax
    ),
    repeating-linear-gradient(220deg,
      rgba(231,131,177, 0) 0,
      #9959cf 75vmax,
      #9959cf calc(75vmax - 5px),
      #9959cf 75vmax
    );

  background-color: #e783b1;
  background-size: 100% 100%;
}

.headline {
  position: fixed;
  left: 10px;
  top: 50px;
}

.date {
  position: fixed;
  left: 1100px;
  top: 50px;
}
