header {
  background-image: linear-gradient(to bottom right, #00B9FF, aqua);
  padding-bottom: 5px;
}

h1 {
  color: white;
  font-family: futura;
  margin: auto;
  padding: 1%;
}

nav {
  text-align: right;
  padding: 2%;
  color: white;
  font-family: futura;
}

body {
  background-color: white;
}

#container {
  background-color: gray;
  border: solid;
  border-width: 1px;
  border-color: black;
  margin: auto;
  width: 50%;
  padding: 10px;
}

article {
  font-size: 200%;
  text-align: center;
  font-family: futura;
}

h2 {
  text-align: center;
  color: black;
}

.post {
  border: solid;
  border-width: 1px;
  border-color: black;
  background-color: #D9D9D9;
  font-family: arial;
}

.post2 {
  border: solid;
  border-width: 1px;
  border-color: black;
  background-color: #B5B5B5;
  font-family: arial;
}

a {
  color: black;
}

a:hover {
  color: white;
}