body {
    background-color: lightgray;
}

main {
    font-family: Arial;
    width: 50%;
    margin: auto;
}

article {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
   height: 18%;
}

.pubDate {
    font-color: gray;
    margin-bottom: 5px;
}

.info {
    font-size: 1vw;
    margin-bottom: 5px;
}
.byline {
    margin-bottom: 5px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

p {
    margin-top: 0px;
}