body {
  background-color: #FFDAB9;
  font-family: 'Kosugi Maru', sans-serif;
}

div {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

h1 {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 5em;
}