body {
background-color: rgb(140, 230, 230);
}

.post {
    border-radius: 25px;
    border: 2px solid rgb(240, 101, 9);
    padding: 5px; 
    width: 450px;
    height: 130px;    
}

#box {
     background: rgb(225, 225, 235);
     width: 700px;
}

.title {
    text-decoration: underline;
}

.post {
    margin: 20px;
}
