body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  line-height: 1.6em;
  margin: 0;
  width: 80%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: grey;
  transition: .2s ease; /* animation */
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 88, 247);
}

h1 {
  font-size: 70px;
  display: inline-block;
  text-align: center;
}

header {
  background-image: url(https://github.com/konarie1990/web-workbook/blob/gh-pages/image/blogpics/blogbackground.jpg?raw=true);
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 200px;
  
}

header h1 {
  color: rgb(65, 65, 65);
  padding: 20px;
}

header ul {
  float: right;
  padding: 4px;
}

header li {
  display: inline;
  list-style-type: none;
  padding: 5px;
}

nav {
  color: rgb(59, 59, 59);
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 30px;
}

nav ul {
  float: right; 
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a:link {
  color: #ff2aea
}

/* styling for blog entries */
.blog {
  background-color: white;
  overflow: auto;
  word-wrap: break-word;
  transition: all .2s ease; /* animation */
  transition-delay: .2s;
}

/* make heading bold */
.blog h3 {
  font-weight: bold;
}

/* make date italic */
.blog li:nth-child(2) {
  font-style: italic;
}

.blog ul {
  width: 60%;
  float: left;
  padding: 2%;
}

.blog li {
  list-style-type: none;
}

.blog img {
  width: 30%;
  display: inline-block;
  float: right;
}

/* animation expand post */
.blog:hover {
  background-color: rgb(209, 209, 209);
  transform: scale(1.22);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  transition: all .2s ease; /* animation */
  transition-delay: .2s;
}

.blog:hover h3 {
  color: rgb(255, 88, 247);
}

li:nth-child(3)::first-letter {
  transition: all .2s ease; /* animation */
  transition-delay: .2s;
}

.blog:hover li:nth-child(3)::first-letter {
  color: #ff2aea
}

/* alt position blog post - picture on left */
.blogalt{
  background-color: white;
  overflow: auto;
  word-wrap: break-word;
  transition: all .2s ease; /* animation */
  transition-delay: .2s;
}
  
/* make heading bold */
.blogalt h3 {
  font-weight: bold;
}
  
/* make date italic */
.blogalt li:nth-child(2) {
  font-style: italic;
}
  
.blogalt ul {
  width: 60%;
  float: right;
  padding: 2%;
}
  
.blogalt li {
  list-style-type: none;
}
  
.blogalt img {
  width: 30%;
  display: inline-block;
  float: left;
}
  
/* animation expand post */
.blogalt:hover {
  background-color: rgb(209, 209, 209);
  transform: scale(1.22);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogalt:hover h3 {
  color: rgb(255, 88, 247);
}

.blogalt:hover li:nth-child(3)::first-letter {
  color: #ff2aea
}

footer {
  color: grey;
  background-color: rgb(231, 231, 231);
  min-height: 40px;
}

footer ul {
  float: right;
}

footer li {
  display: inline;
  list-style-type: none;
  padding: 5px;
}