.headerDiv{
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
}

.headerDiv>h1{
    color:white;
    font-size:60px;
}

.leftAside{
    height: 350px;
    width: 15%;
    float: left;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(65, 63, 63, 0.0); 
    border: 2px;
}

.topBtn{
    height: 100%;
    width: 20px;
    float: right;
    display: none;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.mainContent{
    height: auto;
    width: 65%;
    display: inline-block; 
    background-color: rgba(0,0,0,0);
}

.mainContent>div{
    width: 100%;
    transition: width 1s, height 1s, background-color 2s;
    transition-delay: .1s;
    height: 110px;
    margin-top:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(65, 63, 63, 0.4);
    overflow: hidden;   
    font-size: 20px;
    color: whitesmoke;
}

.mainContent>div>p:nth-of-type(1){
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255);
}

.mainContent>div>p:nth-of-type(2){
    color: rgba(255, 255, 255);
}

.mainContent>div>h1:nth-of-type(1){
    text-align: center;
    color: rgba(255, 255, 255);
}

.mainContent>div>p:nth-of-type(1):hover{
    font-size: 20px;
}

.mainContent>div:hover {
    width: 100%;
    height: 600px;
    background-color: rgba(65, 63, 63, 0.9);
}
.mainContent>div:hover .lockedOrUnlocked{
    display: inline-block;
    position: absolute;
    font-size: 10px;
}
.blogSelection{
    width: 15%;
    float: right;
    display: inline-block; 
    background-color:  rgba(0,0,0,0);
}

body{
    background-image: url(../Pictures/worldBack.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Arapey', serif;
}

.lockedOrUnlocked{
    display: none;
    position: absolute;
    font-size: 10px;
}

.linkContainer{
    float: right;
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    border-radius: 10px;
}

.links{
    width: 200px;
    height: 30px;
}

.linkedIn{
    float:right;
    height: 100%;
    width: 33%;
    margin-right:20px;
}

.googlePlus{
    margin-right:20px;
    width:15%;
    float:right;
    height: 100%
    
}

.git{
    margin-right:20px;
    width:15%;
    float:right;
    height: 100%
}