body {
  background-color: #003300;
  color: white;
  font-size: 14px;
  font-family: serif;
}

#contact {
  background-color: darkgreen;
  color: white;
  float:right;
  width: 100%;
  height: 30px
}
#contact span{
  float: right;
  margin-top: 6px;
  margin-right: 6px;
}

menu {
  float: right;
  text-align: center;

}

main {
  width: 1000px;
  margin:auto;
}
main article:nth-child(1) .headline {
  text-align: center;
  text-shadow: color: black;
  text-shadow: 15px 15px 25px black, 0 0 100px #666600, 0 0 5px grey;

}
