header{
background-color:lightgrey;
}

h1{
  text-align: center;
}

a:hover{
  color: red;
}
div{
float: right;
text-align: right;
}
main{

  margin-left: 35%;
  margin-right: 35%
}

date{
color:blue;
}
.read-more-state {
  display: none;
}
/*label,p {float:right;}*/

p, label{
  text-align: left;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin: 9px;
}
