body {
    background-color: #F5F5F5;
}

main {
    width: 750px;
    margin: auto;
}

nav {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-family: Helvetica;
    font-weight: 500;
    margin-left: 8px;
}

h1:hover {
    color: gray;
}

p:nth-of-type(1):hover:first-letter {
    color: red;
    font-weight: 700;
}

a {
    font-family: Helvetica;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

a:hover {
    font-family: Helvetica;
    font-weight: 300;
    text-decoration: none;
    color: gray;
}

article {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 10pt;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    background-color: #ffffff;
    margin-bottom: 1px;
    transition: all 1s;
}

.boom:hover {
    transform: scale(1.05);
}

.pubDate {
    margin-top: -10px;
    margin-left: 12px;
    font-size: 10pt;
    color: gray;
}

.byLine {
    margin-left: 12px;
    color: gray;
}

.info {
    font-size: 10pt;
    margin-left: 15px;
}