body{
  font-family: Ubuntu;
  margin: 0 auto;
}

nav{
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  font-family: Ubuntu !important;
  font-family: cursive;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 26px;
  padding: 10px 10px;
}

a:hover{
  background-color: black;
  color: white;
}

.active{
  background-color: black;
  color: white;
}

div{
  padding-top: 50px;
  background-image: url("https://images.pexels.com/photos/229014/pexels-photo-229014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 300px;
  width: 100%;
  background-position: center;
}

article{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px black solid;
  padding: 3em 3em;
}

.blog-title{
  text-align: center;
  color: white;
  width: 220px;
  height: 120px;
  margin: 0 auto;
  padding: 90px;
  font-size: 40px;
}

.post-title{
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
}

h2{
  text-align: center;
  color: black;
  font-size: 20px;
  margin-top: 0;
  color: blue;
}

footer{
  text-align: center;
  padding: 3em 3em;
}

.crazy:hover{
  font-size: 100px;
}
