html {
  background-color: lightblue;
  font-family: helvetica;
  font-weight: lighter;
}

.space {
  margin: 60px;
}

h1 {
  color: lightgray;
  width: 900px;
  background: darkgray;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

h2, h6 {
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}

h6 {
  font-style: italic;
  color: green !important;
}

h2 {
  color: darkgray;
}

p {
  width: 900px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  color: gray;
}

p:hover {
  color: red;
}

.line {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: purple;
  margin-left: 40px;
  width: 900px;
}
