
body { margin-left:20; margin-right: 20;
  background-color:#F9D53D
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 55px 55px 55px 55px;
  }

img {
    display: block;
    margin: 0 auto;
  }

h1 {
    text-shadow: 2px 2px #AB2715;
    text-align:center;
}

h2{ text-shadow: 2px 2px #AB2715;
  text-align: left;
  font-weight: 900px;
}

h3 { font-family:cursive;
    color:black;
    font-size:large;
    text-align:center;

}
  p::first-letter{
    font-family: cursive;
    color: black;
    font-size: xx-large;
  }

  p:hover::first-letter {
  Font-family: cursive;
  color:#AB2715;
  font-size: xx-large;
  }

 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   margin: 50px 50px;
   text-align: justify;
}

  h2{ text-shadow: 2px 2px #AB2715;
    text-align: left;
    font-weight: 900px;
  }

a:visited {
    color: green;
}
a:hover {
      color: red;
}
a:active {
    color: blue;
  }
