.headline {
  font-weight: bold;
  font-style: italic;
}
.date {
  text-shadow: 2px 2px #ff0000;
}
.by_line{
  font-family: cursive;
}
.description {
  font-family: fantasy;
}
body {
  display: block;
  margin: auto;
  width: 50%;
}
.blog_post {
  border-style: solid;
  padding: 50px 100px;
}
.blog_post:hover {
  border-style: solid;
  padding: 100px 200px;
}
