body {
  display: block;
  background-color: #F5F1DE;
  margin: 8px;
}

div.container {
  width: 770px;
  height: 1300px;
  padding: 0 40px 40px 40px;
  margin: 20px auto;
  font: 12px "Lucida Grande", Arial, sans-serif;
}
/*navigation*/
ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  font-weight: bold;
  margin-top: 0;
}
li {
  display: inline;
  padding-right: 10px;
  padding-top: 10px;
}
.header {
  padding: 10px 0;
  margin-bottom: 20px;
}
/*blog title*/
h1 {
  font-size: 46px;
  font-weight: bold;
  text-align: right;

}

h2 {
  clear: both;
  color: #E37117;
  font-size: 14px;
}

div.header h1 {
  color: red;
}

div {
  display: block;
}

.left-column {
  width: 200px;
  float: left;
}

.description {
  font-weight: bold;
  color: #536362;
  padding-bottom: 10px;
}

div.content-column {
  float:right;
  width: 500px;
  color: #536362;
}

.postcontent {
  margin: 0 0 70px 0;
}

.date {
  float: left;
  color: #E37117;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.notes {
  float: right;
  text-transform: uppercase;
  font-size: 10px;
}

.tags {
  font-size: 11px;
}

.comments {
  font-size: 11px;
}

.likes {
  font-size: 11px;
}

.notes a {

}

a:link {
  text-decoration: none;
  color: #E37117;
}

div.content-column a {
  font-weight: bold;
}
