h1{
  background-color:red;
  font-size:75px
}
h2{
  color:yellow;
  font-size:35px;
}
section{
  background-color:black;
}

ul{
  color:green;
  font-size:25px;
}

article{
  background-color:#0a0a0a;
}

h3{
  color:yellow;
  font-size:35px;
}

#interests{
  color:blue;
  font-size:25px
}
