* {
  font-family:Verdana;
  letter-spacing:.1px;
}

.pagehead  {
  width:auto;
  margin:right;

}

#email{
  text-decoration:none;
}

#soundcloud {
  width:32px;
  height:32px;
}

.bio  {

}

#brief  {

}

.inst {
  
}
