#name {
      width: 100%;
      background: orange;
      text-align: center;
      color: black;
      font-size: 50px;
      font-family: Helvetica;
      border-radius: 10px;
      margin-left:20px;
      margin-right: 20px;
}
 .facts {
     width: 35%;
     background-color: #ebf090;
     color; black;
     border-radius: 5px;
     text-align: center;
     margin: 5px;
     padding: 25px;
   }

  .random {
      width: 35%;
      background-color: #ebf090;
      color; black;
      border-radius: 5px;
      text-align: center;
      margin: 5px;
      padding: 25px;


  }
 body {
     background-image: url(http://www.modestoradiomuseum.org/images/abstract_colour_background_vb13_3.jpg);
     background-repeat: no-repeat;}
