
html, body {
	margin: 0;
	padding: 0;
  /*background-color: lightblue;*/
  background: url("../img/dbz.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

* {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.strip {
	width: 100%;
}

/*.inner {
	padding: 0px 50px;
	padding-bottom: 15px;
	display: inline-block;
	background: rgb(50, 50, 50);
	width: 100%;
}*/

.inner img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border: 5px solid lightblue;
}

.intro-text h1, .tagline h2 {
	color: pink;
	text-align: center;
  font-family: fantasy;


}

.tagline h2 {
	font-size: 160%;
	background-color: rgb(50, 50, 50);
	display: inline-block;
	padding: 14px 36px;
	margin-top: 0;
  /*height: 125px;*/
	border-radius: 25%;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	-o-border-radius: 25%;
	border: 2px solid lightblue;
}

.centered {
	text-align: center;
}

.container-fluid {
	width: 85%;
	max-width: 1024px;
	margin: 0 auto;
  background-color: lightblue;
  opacity: .85;

}

.container-text {
	font-size: 120%;
	text-align: justify;
}

.progress {
	background-color: rgb(50, 50, 50);
	height: 30px;
	margin-bottom: 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
  color: lightblue;
}



.progress-bar {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(60,190,68);
  color: lightblue;
}

.progress-bar2 {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(160,110,120);
}
.progress-bar3 {
	line-height: 30px;
	font-size: 100%;
	text-align: left;
	background-color: rgb(140,110,200);
}



.bar-text span {
	padding: 40px 15px;
}

.card-img-top {
	width: 100%;
}

.card {
	background: lightblue;
}

.card-block {
	padding: 13px 15px;
	color: rgb(50, 50, 50);;
}

a.btn.btn-primary {
	background: rgb(50, 50, 50);
	border: 0;
	width: 100%;
	padding: 9px;
	border-radius: 0;
}

a.btn.btn-primary:hover, a.btn.btn-primary:visited, a.btn.btn-primary:active {
	background: ligh;
	border: 0;
}

.card h4 {
	font-size: 130%;
}

button.btn.btn-primary {
	border-radius: 0;
}

.form-group input {
	background: rgb(50, 50, 50);
	border-radius: 0;
	color: white;
	width: 100%;
}

.form-group textarea {
	background: rgb(50, 50, 50);
	border-radius: 0;
	border: 0;
	outline: 0;
	resize: none;
}

input {
	border: none !important;
	outline: none;
 	-webkit-box-shadow: none !important;
 	-moz-box-shadow: none !important;
 	box-shadow: none !important;
}

#submit {
	background: teal;
	color: white;
	padding: 6px 40px;
	outline: 0;
	font-size: 120%;
	border: 0 !important;
}

.form-control {
	position: relative;
	left: 0;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

@media screen and (max-width: 992px) {
	.whitespace {
		height: 15px;
	}

	#submit {
		width: 100%;
	}
}
