body{
  width: 960px;
  margin: 0 auto;
}

#hero{
  background-image: url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 850px;
  height: 450px;
  /*font-size: 480;*/

/*Why can't I increase the size of my font?*/
}
div{
  text-align: center;
  font-family: comic;
  font-size: 480;
  color: white;
  padding: 18%;

}

.parent {
  width: 850px;
  height: 324px;
  margin: 20px 0px 0px 0px;
  background-color: lightgray;
  padding: 20px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  /*font-size: 0;*/
  content: " ";
  clear: both;
  height: 0;
}

.parent div {
  width: 270px;
  float: left;
  padding: 0px 0px 0px 13px;
  color: black;
  text-align: left;
}

form{
  font-size: 14;
}

.button {
    background-color: #666666; /* Green */
    border: none;
    margin-top: 5px;
    width: 30%;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
