#hero {
  margin: 0 auto;
  background-image: url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 850px;
  height: 350px;
}

h1 {
  text-align: center;
  padding-top: 150px;
  font-family: sans-serif;
  font-size: 250%;
  font-weight: bold;

}

body {
  width: 960px;
  margin: 0 auto;
}
