body{
  width: 960px;
  margin: 0 auto;
}

#hero{
  background-image: url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 850px;
  height: 350px
  margin: 0 auto;
}

div{
  text-align: center;
  font-family: sans-serif;
  padding: 18%;

}
