h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    padding: 150px;


}

.nasa {
    background-image: url(/Users/orctez/Desktop/github/web-workbook/02week/nasa/img/nasa-background.jpg);
    width: 850px;
    height: 450px;
    margin-left: 150px;

}

.one {
    background-color: grey;
    display: flex;
    justify-content:space-between;
    margin-left: 150px;
    margin-right: 265px;

}

.two {
    display: inline-table;

}
