body {
  background-color: black;
}
h1 {
  color: #604020;
  font-size: 60px;
  text-align: center;
  font-family: sans-serif;
}
#box {
  background-color: white;
  width: 600px;
  margin: auto;
  text-align: center;
}
img {
  width: 00px;
  margin: auto;
}
#rps {
  font-size: 45px;
}
#woodWheel {
  margin: auto;
  width:300px;
  height:300px;
  background-color: brown;
  border-radius:150px;
}

img {
  text-align: center;
  width: 300px;
  margin: auto;
  transition: all 3s;
  transition-timing-function: linear;
}

#speedTotal {
  margin: auto;
  width:150px;
  height:50px;
  border:1px solid black;
  text-align: center;
  font-size: 48px;
}

.button {
  font-size: 30px;
  margin: auto;
  width:300px;
  height:40px;
  border:1px solid black;
  text-align: center;
  cursor: pointer;
}
#buttons {
  color: green;
  font-family: sans-serif;
}
a {
  background-color: gray;
  color: purple;
  font-size: 30px;
  margin: auto;
  width:300px;
  height:40px;
  border: :1px solid black;
  text-align: center;
  cursor: pointer;
}
