.top {
  align-items: center;
  background-color: #0BF0CC;
  color: white;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 200%;
  height: 375px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.columns {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 375px;
  justify-content: space-around;
  width: 100%;
}

.col {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 20%;
}

#blue {
  background-color: #13b4ff;
  height: 10%;
  width: 100%;
}

#orange {
  background-color: #F07D0B;
  height: 10%;
  width: 100%;
}

#sea {
  background-color: #0BF0CC;
  height: 10%;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .columns {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  }
  p {
  color: black;
  }
  h2 {
  color: black;
  }
  .col {
  width: 100%;
  }
  #blue {
  height: 20px;
  width: 300px;
  }
  #orange {
  height: 20px;
  width: 300px;
  }
  #sea {
  height: 20px;
  width: 300px;
  }
}
