header{
  background: linear-gradiant(-90deg, blue, white);

}


.outer{
  background-color: blue;
  border: 1px solid black;
  margin: 5px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*transition: all 2s;*/

}

.inner{
  background-color: yellow;
  border: 1px solid black;
  margin: 5px;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  display: flex;
  /*transition: all 2s;*/
}

.innertest{
  background-color: grey;
  border: 3px solid white;
  margin: 5px;
  height: 300px;
  width: 325px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
/*.outer:hover {
  transform: scale(2);*/
}

.breathe {
    width: 680px;
    height: 200px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #d1d1d1;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    font-size: 24px;
    background: #5885cb;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
