/* LAPTOP / DEFAULT STYLINGS  */

body {
    margin: 0 auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
main {
    background: teal;
    text-align: center;
    color: white;
    padding: 10%;
    /*height: 500px;*/
}
section {
    text-align: center;
    /*width: 100%;*/
    margin: 0 auto;
    background: black;
    color: white;
    padding: 5%;
}
.small-box {
    width: 25%;
    float: left;
    /*padding: 4%;*/
    margin: 2%;
}
#first-bar {
    /*background-color: #25a7da;*/
    border-top: 10px solid #25a7da;

}
#second-bar {
    /*background-color: orange;*/
    border-top: 10px solid orange;

}
#third-bar {
    /*background-color: teal;*/
    border-top: 10px solid teal;

}

/*  TABLET STYLINGS  */


/*@media (min-width: 768px) and (max-width: 991px) {

}*/


/*  PHONE STYLINGS */

@media (max-width: 640px) {
    main {
        background: #25a7da;
        text-align: left;
    }
    section {
        background: #e6e6e6;
        color: black;
    }
    section > div {
        width: 100%;
        float: left;
        padding: 4%;
    }
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.2em;
    }
}
