/* LAPTOP / DEFAULT STYLINGS  */

body {
    /*margin: 0 auto;*/
    /*width: 80%;*/
}
main {
    background: teal;
    text-align: center;
    color: white;
    padding: 10%;
    /*height: 500px;*/
}
section {
    text-align: center;
    /*width: 100%;*/
    /*margin: 0 auto;*/
    background: black;
    color: white;
    padding: 5%;
    /*border: 1px dashed red;*/

}
.small-box {
    /*width: 33%;*/
    /*margin: 5%;*/
    /*border: 1px dashed red;*/
    /*padding: 20px;*/
    /*float: left;*/
    /*max-width: 80%;*/
}


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:center;*/
    /* inline-block space fix */
    /*margin-right:-5px;*/
    /*margin: 5px;*/
}


#first-bar {
    /*background-color: #25a7da;*/
    border-top: 20px solid #25a7da;
    /*margin: 20px;*/
    padding: 20px;

}
#second-bar {
    /*background-color: orange;*/
    border-top: 20px solid orange;
    padding: 20px;
/*margin: 20px;*/
}
#third-bar {
    /*background-color: teal;*/
    border-top: 20px solid teal;
    padding: 20px;
/*margin: 20px;*/}

/*  TABLET STYLINGS  */


/*@media (min-width: 768px) and (max-width: 991px) {

}*/


/*  PHONE STYLINGS */

@media (max-width: 768px) {
    main {
        background: #25a7da;
        text-align: left;
    }
    section {
        background: #e6e6e6;
        color: black;
    }
    section div div {
        /*width: 100vw;*/
        /*float: left;*/
        /*padding: 4%;*/
    }
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.2em;
    }
}
