/*formatting the fizzbuzz section */

#result {
background-color: khaki;
border: 2px solid slategray;
border-radius: 25px;
/*min-width: 500px;*/
min-height: 100vh;
text-align: center;
font-family: sans-serif;
font-weight: bold;
/*cursor: pointer;*/
}

/*main window background */
body {
  background-color: darkgray;
}

.title {
  text-align: center;
}

/* color the numbers that are divisible by 3, 5, 3 && 5*/
.fizz {
  color: navy;
}

.buzz {
  color: coral;
}

.fizzbuzz {
  color: seagreen;
}
