* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#lowest, #highest {
  border: 1px solid black;
  font-size: 0.7em;
  width: 75px;

}

#submit {
  font-size: 1em;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  color: white;
  padding: 3px 6px;
}

#submit:hover {
  color: blue;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10vh 20vw;
  align-items: center;
  border: 1px solid red;
  font-size: 2em;
  min-height: 60vh;
  padding: 20px;
}
