@import url('https://fonts.googleapis.com/css?family=Archivo:700');

body{
  display: flex;
  justify-content: center;
}

li{
  list-style: none;
  font-family: 'Archivo', sans-serif;
  margin-bottom: 10%;
  width: 100px;
}

.fizz, .buzz, .fizzbuzz{
  text-align: left;
}

.fizz{
  color: green;
}

.buzz{
  color: orange;
}

.fizzbuzz{
  color: red
}

.fizz .num{
  margin-right: 46%;
}

.buzz .num{
  margin-right: 40%;
}

.fizzbuzz .num{
  margin-right: 9%;
}

li:last-child .num{
  margin-right: 38%;
}
