* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

main {
  color: blue;
}

#divisible {
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin: 3vh 3vw;
  min-width: 94vw;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 94vh;
}

.lowest {
  color: Blue;
}

.highest {
  color: Green;
}

.both {
  color: Red;
}

.number {
  color: Gray;
}

.none {
  color: white;
}
