
body {
    height: 100%;
    width: 100%;
    /* background-image: url(https://images.unsplash.com/photo-1476136236990-838240be4859?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.border2 {
    border: 2px solid green;
}
.div-size {
    height: 500px;
}
.navBar {
    width:100%;
    /* overflow: hidden; */
} 

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-flex-container {
    position: relative;
    height: 100%;
    width: 100%;
   
    
}
.parent-container {
    height: 200px;
    width: 300px;
    border: 1px solid red;
    background-color: rgba(8, 7, 7, 0.356);
    color: whitesmoke;
    padding-left: 30px;
    align-items: center;
    float: right;
    position: absolute;
    margin: 30px;
  /* background-color: #ffffff; */
    /* opacity: 0.6; */
}





 /* small */
/* @media screen and (min-device-width: 576px) { */
    
    
/* medium */ 
/* @media screen and (min-device-width: 786px) { */ 


/* large */
/* @media screen and (max-device-width: 992px) { */


/* xl  */
/* @media screen and (max-device-width: 1200px) { */