
.left {
  float:left;
}

.middle {
  float:left;
  margin: 0px 56px;
}

.right {
  float:left;
}

main > div {
  width: 30%;
}

main {
  padding: 30px 30px 10px 30px;
  font-family: arial, sans-serif;
}

p {
  color: #928E8B;
  font-size: 12px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #928E8B;
  font-size: 12px;
  border: .05px solid #928E8B;
  border-right: 4px solid #9E3323;
  padding: 8px 15px;

}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
