.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.container {
  float: left;
  width: 419px;
  padding-left: 2%;
  padding-top: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.truck img {
  width: 380px;
}

.plane img {
  width: 380px;
}

.train img {
  width: 380px;
}

h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 14px;
  color: #808080;
}

button {
  border: 1px solid #808080;
  color: #808080;
  background-color: white;
  border-right: 3px solid #800000;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: 10px;
}
