*{
  font-family: arial;
  padding-left: 15px;
}
#truck{
float:left;
width:300px;
margin-right: 5px;
margin-bottom: 35px;
}


#plane{
    float:left;
    width:300px;
    margin-right: 5px;
    margin-bottom: 35px;

}

#train{
  float:left;
width:300px;
margin-bottom: 35px;
}

h1{
  font-size: 11px;
}

p{
  padding-top:13px;
  font-size: 10px;
  line-height: 18px;
  font-weight: lighter;
  color:#767676

}

button{
  margin-top: 20px;
  border-left:#F1F1F1 solid;
  border-top: #F1F1F1 solid;
  border-bottom:#F1F1F1 solid;
  border-right: #9C150B solid;
  background-color: white;
  padding:8px 15px;
  color:#767676;
  font-size: 8px;
  font-weight: bold;
  margin-left: 15px;
}
