  .parent-container {
      display: flex;
      flex-direction: row;
      padding: 20px;
  }

  my-element {
      display: flex;
      flex-direction: row;
  }

  a {
      display: flex;
      flex-row: wrap;
      border: 1px;
      border-style: solid;
      border-color: #black;
      margin-right: 320px;
      margin-top: 50px;
      color: black;
      text-decoration: none;
      padding: 15px;
      border-right: 4px solid maroon;
  }
