body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 100px;
    height: 400px;
}

.start-web {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.first-text {
    width: 50%;
    height: 400px;
    clear: inherit;
}

.foot {
    width: 100%;
    height: 200px;
}

.end-text {
    width: 100%;
    height: 200px;
    background-color: #f7f7f7;
}

.bottem-left {
    width: 40%;
    height: 200px;
    float: left;
}

.bottom-right {
    width: 40%;
    height: 200px;
    float: left;
    clear: left;
}
