.box {
    float: left;
    width: 30%;
    padding: 10px;
    padding-right: 10px;
}
body {
    font-family: arial;
    padding-top: 50px;
}
p {
    color: grey;
    line-height: 25px;
}
.truck {
    padding-left: 55px;
}
h2 {
    font-size: 20px;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
a {
    text-decoration: none;
    float: left;
    color: grey;
    font-weight: bold;
    border: 1px solid lightgrey;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    border-right: 5px solid brown;
}
.space {
    padding: 10px;
}
