* {
  font-family: sans-serif;
  max-width: 1200px;
  margin: auto;
}

main {
  margin-top: 15px;
}

a, p {
  color: #666666;
  font-size: 12px;
}

p {
  line-height: 175%;
}

article {
  float: left;
  width: 31%;
}

article img {
  width: 100%;
}

article h4 {
  padding-top: 35px;
  padding-bottom: 20px;
}

.mleft {
  margin-left: 3.5%;
}

article div p {
  padding-bottom: 50px;
}

article div a {
  border: 1px solid #cccccc;
  border-right: 5px solid #7f0000;
  text-decoration: none;
  padding: 10px 20px;
}

/*.clearfix:after {
  content: "";
  display: block;
  clear: both;
}*/
