/*Add CSS rules*/
body {
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
  background-color: black;
}
section {
  padding: 15px 15px 15px 15px;
  background-color: white;
}
section > div {
  float: left;
  width: 380px;
  height: 420px;
}
section > div:nth-child(2) {
  margin: 0px 15px 0px 15px;
}
img {
  width: 100%;
}
a {
  line-height: 25px;
  text-decoration: none;
  color: black;
}
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
.readmore {
  width: 100px;
  height: 25px;
  margin: 25px 0px 0px 15px;
  padding: 5px;
  border-right: 4px solid red;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-left: 1px solid rgb(200, 200, 200);
  text-align: center;
}
