body {
  font-family: 'Open Sans', sans-serif;
}
.clearfix:after {
   display: block;
   content: "";
   clear: both;
}
.box {
  width: 30%;
  float: left;
  padding: 20px;
}
.box img {
  padding: 0;
  width: 105%;
}
h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: large;
}
p {
  margin-bottom: 75px;
  display: block;
  width: 110%;
  line-height: 25px;
  color: grey;
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: grey;
  border-right: 4px solid rgb(135, 2, 2);
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  padding: 10px;
  font-size: small;
  font-weight: initial;
}
