/*Add CSS rules*/
body {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  margin-top: 20px;
  width: 362px;
  text-align: justify;
}

h1 {
  font-weight: 600;
  color: #222;
}

p, a {
  color: rgb(100,110,110);
}

p {
  font-size: .9em;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  padding: 5px 10px;
  border: 1px solid rgb(100,110,110);
  border-right: 4px solid darkred;
}
