/* stylesheet for Mars Curiosity page */

body {
  background-color: #000000;
  font-family: Titillium Web, Helvetica, Arial, sans-serif;
}

/*
-------------------
Heading (top nav) styles
-------------------
*/

/* common topnav styles */

.navbar {
  padding: 0rem;
  min-height: 85px;
  background: url("../img/starfield-banner.jpg") #000000 repeat-x;
}

.navbar-brand {
  padding: 0px 15px;
  height: 85px;
  line-height: 85px;
}

.navbar-brand img {
  width: 80px;
}

.nasa-nav {
  display: flex;
  justify-content: space-between;
}

.nasa-nav-menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* collapsed topnav bar styles */

/* topnav bar is just not working when collapsed.   Not sure why not. */

.navbar-dark .navbar-toggler {
  border-color: #000;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  border-color: #000;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../img/menu.png") !important;
}

#navbar-supported-content {
  padding-left: 0px;
  padding-right: 0px;
  border: none;
}

#navbar-supported-content.collapse.show {
  background-color: #15418c;
  z-index: 110;
  position: relative;
  height: 1px !important;
}

#navbar-supported-content.collapse.show .navbar-nav {
  display: block;
  float: none;
}

.navbar-nav li.nav-item {
  background-color: #15418c;
  display: block;
  justify-content: space-between;
}

.navbar-nav li.nav-item:hover {
  background-color: #5D7FB9;
}

li.dropdown.show {
  background-color: #072f54;
}

div.dropdown-menu.show {
  border: none;
  border-radius: 0rem;
  margin: 0em;
  padding: 0em;
}

div.dropdown-menu.show a.dropdown-item:link, div.dropdown-menu.show a.dropdown-item:visited {
  display: block;
  background-color: #5D7FB9;
}

div.dropdown-menu.show a.dropdown-item:hover {
  background-color: #072f54;
}

div.dropdown-menu.show a.dropdown-item:link, div.dropdown-menu.show a.dropdown-item:hover, div.dropdown-menu.show a.dropdown-item:visited {
  color: #fff;
  font-size: 120%;
  font-weight: 300;
  padding: 8px;
}

.navbar-nav li.nav-item a.nav-link:link, .navbar-nav li.nav-item a.nav-link:hover, .navbar-nav li.nav-item a.nav-link:visited {
  color: #fff;
  font-size: 120%;
  font-weight: 300;
  padding: 8px;
}

.dropdown-divider {
  margin: 0rem;
  padding: 0rem;
}

/* primary blue #15418c;
hover blue #072f54; */

/* search box */

form.search-box {
  position: relative;
  width: 156px;
  z-index: 1;
  height: 39px;
  margin-right: 1em;
}

form.search-box label.element-invisible {
  width: 1px;
  right: 0;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
}

.form-control:focus {
  box-shadow: none;
}

form.search-box input[type="text"] {
  color: #fff;
  position: absolute;
  cursor: text;
  width: 156px;
  font-size: 90%;
  padding: 6px;
  border-radius: 0rem;
  background-color: #333333;
  border-color: #333333;
  color: #a1a1a1;
}

fom.search-box input[type="text"]:focus {
  z-index: 1;
  background-color: #333333;
  width: 156px;
  cursor: text;
  font-style: italic;
}

form.search-box input[type="submit"] {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  margin-top: 5px;
  top: 0;
  right: 0;
  text-indent: -10000px;
  z-index: 2;
  background: url("../img/search.svg") center center no-repeat;
  border: none;
}

form.search-box input[type="submit"]:hover {
  cursor: pointer;
}

/*
-------------------
banner and subnav styles
-------------------
*/

.page-banner {
  display: none;
}

.submenu-topics {
  background-color: #555555;
  letter-spacing: 0.07em;
  margin: 0px;
  font-size: 90%;
}

.submenu-topics-list {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.submenu-topics li {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 8px 10px 12px 10px;
}

.submenu-topics li:nth-child(-n+4):not(:first-child) {
  border-right: 1px solid #777777;
}

.submenu-topics li a, .submenu-topics li a:hover {
  color: #fff;
  text-decoration: none;
}

.submenu-topics li:hover {
  background-color: #5d7fb9;
}

.submenu-topics li.first {
  padding-right: 30px;
  background-color: #5d7fb9;
  background: linear-gradient(225deg, #555555 15px, #5d7fb9 0) top right, linear-gradient(135deg, #555555 15px, #5d7fb9 0) bottom right, linear-gradient(315deg, #5d7fb9, #5d7fb9 0) top left, linear-gradient(45deg, #5d7fb9, #5d7fb9 0) bottom left;
  background: -moz-linear-gradient(225deg, #555555 15px, #5d7fb9 0) top right, -moz-linear-gradient(135deg, #555555 15px, #5d7fb9 0) bottom right, -moz-linear-gradient(315deg, #5d7fb9, #5d7fb9 0) top left, -moz-linear-gradient(45deg, #5d7fb9, #5d7fb9 0) bottom left;
  background: -o-linear-gradient(225deg, #555555 15px, #5d7fb9 0) top right, -o-linear-gradient(135deg, #555555 15px, #5d7fb9 0) bottom right, -o-linear-gradient(315deg, #5d7fb9, #5d7fb9 0) top left, -o-linear-gradient(45deg, #5d7fb9, #5d7fb9 0) bottom left;
  background: -webkit-linear-gradient(225deg, #555555 15px, #5d7fb9 0) top right, -webkit-linear-gradient(135deg, #555555 15px, #5d7fb9 0) bottom right, -webkit-linear-gradient(315deg, #5d7fb9, #5d7fb9 0) top left, -webkit-linear-gradient(45deg, #5d7fb9, #5d7fb9 0) bottom left;
  background-position: top right, bottom right, top left, bottom left;
  -moz-background-size: 52% 52%;
  -webkit-background-size: 52% 52%;
  background-size: 52% 52%;
  background-repeat: no-repeat;
}

/* Aside styles - left navigation */

aside {
  display: none;
}

/* Main styles */

main #wrapper {
  margin-left: 5px;
}

div.card:nth-child(1) {
  grid-area: card1;
  background-image: url("../img/card-crystal.jpg");
}

div.card:nth-child(2) {
  grid-area: card2;
}

div.card:nth-child(3) {
  grid-area: card3;
}

div.card:nth-child(4) {
  grid-area: card4;
  background-image: url("../img/card-mount-sharp.jpg");
}

div.card:nth-child(5) {
  grid-area: card5;
  background-image: url("../img/card-overlook.jpg");
}

div.card:nth-child(6) {
  grid-area: card6;
  background-image: url("../img/card-maven.jpg");
}

div.card:nth-child(7) {
  grid-area: card7;
  background-image: url("../img/card-mars-podcast.jpg");
}

div.card:nth-child(8) {
  grid-area: card8;
  background-image: url("../img/card-ridge-color.jpg");
}

div.card:nth-child(9) {
  grid-area: card9;
  background-image: url("../img/card-drilling.jpg");
}

div.card:nth-child(10) {
  grid-area: card10;
  background-image: url("../img/card-vr.jpg");
}

section#main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9" "card10";
}

.card {
  /* height: 300px; */
  border-radius: 0px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 7px;
  overflow-y: hidden;
}

.card .play-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fa-circle {
  color: #6785d5;
}

.card .headline {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card .headline .title {
  padding: 6px 12px;
  background-color: #ffffffcc;
  font-weight: 600;
}

.card .headline .title:hover {
  background-color: #ffffff;
}

.card .headline .title a:link, .card .headline .title a:visited, .card .headline .title a:hover {
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

div.card .headline .tag {
  background-color: #5d7fb9d9;
  font-weight: 600;
  padding: 6px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.card .headline .tag a {
  color: #ffffffe6;
}

.card .headline .tag:hover {
  background-color: #5d7fb9;
}

.card .headline .tag a:hover {
  color: #ffffff;
  text-decoration: none;
}

.blank {
  display: none;
}

.twitter {
  background-color: #000;
  background-image: none;
}

.twitter a {
  background-color: transparent;
}

.snippit {
  background-image: none;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.snippit .content {
  padding: 1em;
}

.snippit .content h3 {
  padding: 0em;
  font-size: 150%;
}

.snippit .content p {
  color: #000;
  font-size: .8em;
  overflow: hidden;
}

.snippit .content a:link, .snippit .content a:visited {
  color: #428bca;
  text-decoration: none;
}

.snippit .content a:hover {
  color: #4D6496;
  text-decoration: underline;
}

.snippit::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  content: "";
  background: -webkit-linear-gradient(180deg, transparent, #ffffff) bottom;
  background: -moz-linear-gradient(180deg, transparent, #ffffff) bottom;
  background: linear-gradient(180deg, transparent, #ffffff) bottom;
  background-position: bottom;
}

.snippit .fade {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: -webkit-linear-gradient(pink, blue);
}

.more {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 20px 0px;
  background-color: #15418c;
}

.more:hover {
  background-color: #5d7fb9;
}

/*  footer styles*/

footer {
  width: 100%;
  padding: 2em .7em 3em;
}

#footer-info .logo {
  float: left;
}

#footer-info img {
  width: 80px;
}

footer #status {
  color: #fff;
  line-height: 1em;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  clear: none;
}

#status span {
  padding: 1px 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .95em;
  font-weight: bold;
}

footer #footer-links {
  color: #5d7fb9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 10px 0px;
}

footer #footer-links li {
  list-style-type: none;
  padding-left: 30px;
}

footer #footer-links li a {
  color: #5d7fb9;
  font-weight: bold;
  font-size: .9em;
  font-family: Helvetica, Arial, sans-serif;
}

footer #footer-links li a:hover {
  color: inherit;
}

/*
-------------------  -------------------  -------------------
                         MEDIA QUERIES
-------------------  -------------------  -------------------
*/

/* tweak point - search becomes visible for larger phones */

@media (min-width: 520px) {
  form.search-box {
    position: relative;
    width: 156px;
    z-index: 1;
    height: 39px;
    margin-right: 1em;
  }
  form.search-box label.element-invisible {
    width: 1px;
    right: 0;
  }
  .element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    height: 1px;
  }
  .form-control:focus {
    box-shadow: none;
  }
  form.search-box input[type="text"] {
    color: #fff;
    position: absolute;
    cursor: text;
    width: 156px;
    font-size: 90%;
    padding: 6px;
    border-radius: 0rem;
    background-color: #333333;
    border-color: #333333;
    color: #a1a1a1;
  }
  form.search-box input[type="text"]:focus {
    z-index: 1;
    background-color: #333333;
    width: 156px;
    cursor: text;
    font-style: italic;
  }
  form.search-box input[type="submit"] {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0px;
    position: absolute;
    margin-top: 5px;
    top: 0;
    right: 0;
    text-indent: -10000px;
    z-index: 2;
    background: url("../img/search.svg") center center no-repeat;
    border: none;
  }
  form.search-box input[type="submit"]:hover {
    cursor: pointer;
  }
}

/*
-------------------
Major breakpoint
Medium layout.   Banner image is visible; medium card layout
-------------------
*/

@media (min-width: 765px) {
  .page-banner {
    background: url("../img/curiosity-banner.jpg") no-repeat;
    background-size: cover;
    height: 215px;
    display: flex;
    align-items: flex-end;
  }
  .page-banner .headline {
    color: #fff;
    font-size: 220%;
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  section#main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-template-areas: "card1 card1" "card2 card3" "card4 card5" "card6 card7" "card8 card9" "card10 .";
  }
  .navbar-nav li.nav-item:nth-child(4) {
    display: table-cell;
    vertical-align: middle;
  }
}

/*
  -------------------
  Major breakpoint
  Large layout.   Topnav bar is expanded; sidenav bar is visible; large card layout
  -------------------
  */

@media (min-width: 990px) {
  /* Topnav styles */
  .navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  .navbar-dark .navbar-nav .nav-item:hover {
    color: #fff;
    background-color: #15418c;
  }
  .navbar-nav li.nav-item {
    padding: 0px 5px;
    background-color: transparent;
  }
  .navbar-nav li.nav-item:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0px;
    border-left: 1px solid #555555;
  }
  .navbar-nav li.nav-item a.nav-link:link, .navbar-nav li.nav-item a.nav-link:hover, .navbar-nav li.nav-item a.nav-link:visited {
    padding-top: 29px;
    padding-bottom: 29px;
    line-height: 27px;
    font-size: .8em;
  }
  .search-box {
    order: 1;
    margin-right: 2em;
  }
  /* trigger menu on hover */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    border-radius: 0px;
    margin: 0rem;
    padding: 0rem;
    border: none;
    background-color: #15418c;
  }
  .dropdown-menu a {
    color: #fff;
  }
  .dropdown-menu a:hover {
    background-color: #072f54;
    color: #fff;
    border: 1px solid #072f54;
  }
  /* Sidenav styles */
  aside {
    display: block;
  }
  .sidebar {
    background-color: #252931;
    color: #fff;
    border-right: 15px solid #000;
    height: 580px;
    width: 325px;
    position: absolute;
    z-index: 3;
    padding: 0px;
    margin-top: -16px;
    overflow-y: scroll;
  }
  .sidebar section {
    border-bottom: 1px solid #303540;
  }
  .sidebar .inner {
    font-size: 15px;
    padding-bottom: 135px;
  }
  .content {
    color: #fff;
    padding: 15px;
  }
  .content .icon-wrapper {
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 0%;
    display: inline-block;
    transition: all .5s;
  }
  .content .icon-wrapper:hover {
    transform: translateY(-5px);
  }
  .icon-facebook {
    background-color: #3b5998;
    color: #fff;
    padding: 6px 1px;
    margin: 15px 1px;
  }
  .icon-twitter {
    background-color: #1da1f2;
    color: #fff;
    padding: 6px 1px;
    margin: 15px 1px;
  }
  .sidebar .content li {
    list-style-type: none;
    padding: 10px 15px;
  }
  .sidebar .content li a {
    color: #fff;
  }
  .sidebar .heading {
    background-color: #303540;
    padding: 10px;
    display: inline-block;
  }
  /* Card layout */
  main #wrapper {
    margin-left: 325px;
  }
  section#main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-template-areas: "card1 card1 card1 card2" "card3 card4 card5 card5" "card6 card6 card5 card5" "card7 card8 card9 card10";
  }
}

/*  Tweak point - topnav text is small*/

@media (min-width: 1030px) {
  .navbar-nav li.nav-item a.nav-link:link, .navbar-nav li.nav-item a.nav-link:hover, .navbar-nav li.nav-item a.nav-link:visited {
    font-size: .9em;
  }
}

/*  Tweak point - topnav text is large */

@media (min-width: 1130px) {
  .navbar-nav li.nav-item a.nav-link:link, .navbar-nav li.nav-item a.nav-link:hover, .navbar-nav li.nav-item a.nav-link:visited {
    font-size: 1.1em;
  }
}

/* Tweak point - topnav text ix extra large.  */

@media (min-width: 1270px) {
  .navbar-nav li.nav-item a.nav-link:link, .navbar-nav li.nav-item a.nav-link:hover, .navbar-nav li.nav-item a.nav-link:visited {
    font-size: 1.3em;
  }
}

/*
-------------------
Major breakpoint
Maximum width.  Content area should be centered within the page.
-------------------
*/

@media (min-width: 1400px) {
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  /* for some reason it's not displaying this properly .   No idea why not */
  div.pagewrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-areas: ". header ." ". main .";
  }
}
