/* Custom styles for Overview page */

h1 {
  font-weight: 400;
  font-size: 230%;
}

#main-content {
  background-color: #fff;
  display: block !important;
  padding-top: 2em;
  padding-bottom: 1em;
}

.image-box {
  margin-bottom: 1.5em;
}

.image-box img {
  width: 100%;
}

.image-box .caption {
  font-size: 80%;
  margin: .5em 0em 0em;
}

.image-box .credits {
  font-size: 80%;
  margin: 0em;
  font-weight: bold;
  font-style: italic;
}

ul li {
  list-style-type: disc;
  margin: .5em 1em .5em 3em;
}
