body {
  background-color: #000000;
  font-family: Titillium Web, Helvetica, Arial, sans-serif;
}

/*
-------------------
Heading styles
-------------------
*/

.navbar-dark {
  background: url("../img/starfield-banner.jpg") #000000 repeat-x;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  border-color: #000;
}

.navbar-toggler:hover {
  border-color: #000;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../img/menu.png") !important;
}

form.search-box label.element-invisible {
  width: 1px;
  right: 0;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
}

form.search-box input[type="submit"] {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  margin-top: 5px;
  top: 0;
  right: 0;
  text-indent: -10000px;
  z-index: 2;
  background: url("../img/search.svg") center center no-repeat;
}

.form-control {
  border-radius: 0rem;
  background-color: #333333;
  border-color: #333333;
  color: #a1a1a1;
}
