body{
  width: 100%;
}
.navigation{
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar {
    margin-bottom: 0;
}

#brand{
  color: black;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

nav.navbar {
    margin-bottom: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.navbar-default {
    background-color: #a94442;
    border-color: #a94442;
}

#hero {
    background-image: url(../img/.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-blend-mode: multiply;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 0;
}




@media screen and (min-width: 768px)

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media (max-width: 767px)

#hero {
    height: 500px;
}



.jumbotron .container {
    max-width: 100%;
  }

#hero img {
    opacity: 0.75;
    margin: 0 auto;
    height: 250px;
    margin-bottom: 50px;
}



#bike{
  width: 100%;
}

.button {
   border: 1px solid #5c0000;
   background: #9c3e3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#610000), to(#9c3e3e));
   background: -webkit-linear-gradient(top, #610000, #9c3e3e);
   background: -moz-linear-gradient(top, #610000, #9c3e3e);
   background: -ms-linear-gradient(top, #610000, #9c3e3e);
   background: -o-linear-gradient(top, #610000, #9c3e3e);
   background-image: -ms-linear-gradient(top, #610000 0%, #9c3e3e 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #bd7f7f 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #401818;
   text-shadow: #571e1e 0 1px 0;
   background: #9c3e3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#d66565), to(#9c3e3e));
   background: -webkit-linear-gradient(top, #d66565, #9c3e3e);
   background: -moz-linear-gradient(top, #d66565, #9c3e3e);
   background: -ms-linear-gradient(top, #d66565, #9c3e3e);
   background: -o-linear-gradient(top, #d66565, #9c3e3e);
   background-image: -ms-linear-gradient(top, #d66565 0%, #9c3e3e 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #db5c5c 0 1px 0;
   border: 1px solid #7d0000;
   background: #ab4e4e;
   background: -webkit-gradient(linear, left top, left bottom, from(#8a0303), to(#9c3e3e));
   background: -webkit-linear-gradient(top, #8a0303, #ab4e4e);
   background: -moz-linear-gradient(top, #8a0303, #ab4e4e);
   background: -ms-linear-gradient(top, #8a0303, #ab4e4e);
   background: -o-linear-gradient(top, #8a0303, #ab4e4e);
   background-image: -ms-linear-gradient(top, #8a0303 0%, #ab4e4e 100%);
   color: #fff;
   }
