* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'PT Serif', serif;
}

main {
  background: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  text-align: center;
}

main h1 {
  font-size: 6em;
}

main p {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 40px
}

main a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding:  25px 30px;
  background-color: rgb(236, 123, 110);
  border-radius: 100px;
}

main a:hover {
  text-decoration: underline;
}

.container-fluid {
  background: rgb(109, 102, 99);
  color: #fff;
}

.container {
  padding: 50px 0;
}

.container .col-sm-3 {
  text-align: center;
  border-left: 1px solid #fff;
}

.container .col-sm-3 h3 {
  font-size: 2.6em;
  font-weight: bold;
}

.container .col-sm-3 p {
  font-style: italic;
}
