.tester{
height: 600px;
width: 600px;

background: linear-gradient(70deg, #246655, #7ce517);
background-size: 400% 400%;
-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
-o-animation: AnimationName 11s ease infinite;
animation: AnimationName 6s ease infinite;
@-webkit-keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes AnimationName {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
}
