* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #1C0E0B;    background-color: 
}


/*Navigation Bar*/

.main-nav {
    display: flex;
    background-color: #1C0E0B;
    flex-wrap: no-wrap;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 1em;
    
    

}

.main-nav a {
    padding: 1em;
    text-decoration: none;
    color: #E2B801;
    
}


a:hover {
    color: white;
    text-decoration: none;
}
li:nth-child(7) {
    margin-right: auto; /*applied only to the right*/
}
li:nth-child(9) {
    margin-right: 5em;
}

.logo{
    margin-left: 5em;
    background-image: url(/IMG/Official_wow_icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

/*Background Video*/

.fullscreen { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }


  /*Main Text with Buttons*/

  .main-text{
      display: flex;
      align-content: flex-start;
      
      margin-top: 13%;
      color: white;
  }

  .main-text li{
      padding: 1em;
  }
  .main-text h2{
      font-size: 3em;
      text-shadow: 2px 1px 1px rgb(53, 53, 53);
      
  }
  .main-text h3{
    text-shadow: 2px 1px 1px rgb(53, 53, 53);
    font-size: 1em;
  }
.main-text input{
    padding: 1em;
    width: 20%;
    
}
  .buy{
    background-color: #7d2a1d;
    border: none;
    
    
  }
  .learn{
      background-color: #3d3b3c;
      border: none;
      margin-left: 1em;
  }
/*Img Boxes*/
.img-boxes{
    display: flex;
    padding: 1em;
    width: 100%;
    margin-top: 10%;
}
.img-boxes ul{
    display: flex;
    width: 100%;
    
}
.img-boxes li{
    width: 25%;
    padding: 6em;
    
    
}
.one{
    background-image: url(/IMG/04KVDOV9RGJM1539968968346.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    
    color: white;
}

.two{
    background-image: url(/IMG/GZ2W58IQPPYM1522084641975.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin-left: .5em;
    color: white;
}
.three{
    background-image: url(/IMG/VQ2EH2WJZ4QI1507819516214.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin-left: .5em;
    color: white;
}
.four{
    background-image: url(/IMG/ZZPN99YSS1LP1538764954411.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    margin-left: .5em;
}