ul{
list-style-type: none;
float: right;
}
h1{
  margin-top: 50px
  border: 1px solid blue;
  width: 200px;
}
ul{
  border: 1px solid blue;
}

li{
  border: 1px solid blue;
  width:250px;
}

section{
  border: 1px solid blue;
}
