header a {
  font-family: Arial;
  display: flex;
  display: inline-block;
  float: right;
  padding-right: 80px;
  font-size: 32px;
  color: black;
  margin-bottom: 40px;
}

header h1 {
  font-family: Arial;
  padding-top: 120px;
}

.tag  {
  padding-left: 680px;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid black;

}

.important {
  display: flex;
  flex-direction: column;
}

.important h1 {
  font-family: Arial;
  margin-top: -100px;
  font-size: 64px;
}

.important h3 {
  font-family: Arial;
  font-size: 32px;
  margin-top: -40px;
}


#one {
  margin-top: 30px;

}
.important {
  font-family: Arial;
  margin-top: -150px;
  text-align: center;
}
.two {
  margin-top: 100px;
  display: flex;
  display: inline-block;
  margin-left: 150px;
}
.two p {
  font-family: Arial;
  width: 45%;
  float: right;
  margin-right: 300px;
  margin-top: -50px;
  margin-bottom: 20px;
}
h4 {
  font-family: Arial;
  float: right;
  width: 45%;
  margin-top: 80px;
  margin-bottom: -20px;
  margin-right: 200px;
}
.blocks {
  background-color: #CFC2C2;
  margin-top: 80px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}



.title {
  background-color: #CFC2C2;
  font-family: Arial;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
  display: flex;
  justify-content: space-around;

}
h5{
  font-size: 22px;
}
.shortp p {
  background-color: #CFC2C2;
  font-family: Arial;
  width: 150px;
  height: 150px;
  text-align: right;
}
.shortp {
  background-color: #CFC2C2;
  font-family: Arial;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  justify-content: space-around;
}
.twoblocks {
  display: flex;
  justify-content: space-around;;

}
.twoblocks {
  margin-top: 50px;
  padding-right: 100px;
  padding-left: 100px;

}
.blockpees p {
  font-family: Arial;
  width: 400px;
  height: 50px;
}
.blockpees {
  font-family: Arial;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-left: 75px;
  padding-right: 75px;
}
footer {
  margin-top: 80px;
  padding-left: 250px;
}
footer h1 {
  font-family: Arial;
  border: 1px solid blue;
  width: 700px;
  margin-top: -250px;
  padding-left: 60px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-right: 320px;
}
.button a {
  font-family: Arial;
  border: 1px solid black;
  margin-right: 30px;
  width: 120px;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  font-size: 22px;
  color: black;
}
