nav{
  height: 80px;
  width: auto;
  background-color:#98AFC7;
  border-bottom: 1px solid silver;
}

.Hero{
  background-image: url('../img/girl6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:auto;
  text-align: center;
  height:470px;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom:50px;
    left:120px;
}

li {
    display:inline-block;
    margin-left: 10px;
}
a, a:active, a:visited {
   color: white;
   text-decoration: none;
   font-size:20px;
 }
  a:hover{
    color: white;
    text-decoration: underline;
    border-bottom: 9px orange solid;
  }

.quotes{
 width:45%;
 height:150px;
 margin:0 auto;
 position:relative;
 top:310px;
 font-style: italic;
 font-size: 23px;
 text-shadow:1px 1px black;
}
.font{
  color:white;
}

.message{
font-family:'Varela Round',sans-serif;
font-size: 28px;
font-weight: bold;
text-align: center;
}

.button{
color:white;
text-align: center;
vertical-align: middle;
height:90px;
width:100px;
margin-right:25px;
background-color:#98AFC7;
border-width: thick;
border-color: white;
border-radius: 8px;
border-style: solid;
text-decoration: none;
position:relative;
bottom:70px;
left:85%
}

.outerbox{
width: 100%;
height:295px;
}

.box1,.box2,.box3,.box4{
margin-top:10px;
margin-left: 40px;
margin-right:40px;
margin-bottom:10px;
font-family: 'Varela Round',sans-serif;
font-size: 18px;
position:relative;
left:9%;
top: 10%;
}

.floating-box {
display: inline-block;
width: 190px;
height: 110px;
margin: 0px;;
border: 3px solid #73AD21;
border-radius: 8px;
}

.ending{
padding-top:15px;
margin-top:20px;
height:70px;
width:100%;
background-color:#E0B0FF;
font-family:'Varela Round',sans-serif;
font-weight: bold;
text-align: center;
text-shadow: 2px;
vertical-align: text-top;
font-family:'Varela Round',sans-serif;
font-weight: bold;
color:white;
}

.ending p:nth-child(1){
  font-size: 22px;
}
