body {
  padding-top: 65px;
  font-family: 'Mukta Malar', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-workout-btn {
  border-radius: 5px;
  background-color: #E32F41;;
  outline: none;
  border: none;
  padding: 18px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.get-workout-btn:hover {
  background-color: #BE1E2F;
}

.get-workout-btn-margin {
  margin: 60px;
  margin-bottom: 75px;
}

.large-header-centered {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.section {
  margin: 60px auto;
}

.bigger-font {
  font-size: 24px;
}

.mid-font {
  font-size: 20px;
}

.center-text {
  text-align: center;
}

.italicize {
  font-style: italic;
}

.twenty-pad {
  padding: 20%;
}

.red-text {
  color: #D02033;
}

/*nav stufff*/

.header-logo {
  height: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

nav {
  font-size: 18px;
}

.navbar-brand {
  padding: 5px 5px;
  margin-left: 10px;
  background-image: url("../images/header-logo.png");
  height: 56px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-toggle {
  outline: none;
  border: none;
}

/*end nav*/

/*home section*/

.main {
  height: 100vh;
  background-image: url("../images/intro-bg.jpg");
  color: white;
  background-position: center;
  background-size: cover;
}

/*different section*/
.advantages-square {
  position: relative;
  width: 100%;
  border: solid;
  background-position: center;
  background-size: cover;
}

.advantages-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.advantages-square:hover {
  opacity: .4;
}

.advantages-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/*adv images*/
.advantages-one {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("../images/adv-bgs/adv-bg-1.jpg");
}

.advantages-two {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("../images/adv-bgs/adv-bg-2.jpg");
}

.advantages-three {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("../images/adv-bgs/adv-bg-3.jpg");
}

/*results section*/
.results-block {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.results-content {
  padding-left: 16px;
  padding-right: 16px;
}

/*perks section*/
.perk {
  display: flex;
}

.perk h4 {
  font-weight: bolder;
  margin-bottom: 1px;
}

.perks-image {
  margin: 1px 20px;
  padding-top: 10px;
}

/*facts*/
.quick-facts {
  background-color: #F2F2F2;
  padding: 60px;
}

.facts-block {
  margin-top: 40px;
}

.facts-data {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: -15px;
}

.fact-title {
  font-size: 32px;
  font-weight: bold;
}

.getworkout {
  background-color: #F2F2F2;
  padding: 5px;
  margin-bottom: -20px;
}


/*footer*/
footer {
  background-color: #303030;
  color: white;
}
