.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 3.5em;
  color: #34495e;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  color: #34495e;
  font-size: 1em;
  display: inline;
  text-align: center;
}

.main-nav a:hover {
  color: #718daa;
}

header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  min-width: 500px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 3px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}

article {
  width: 200px;
  height: 250px;
  margin: 2px;
  padding: 1px;
  margin-top: 10px;
  border: 1px solid grey;
  box-shadow: 2px 4px 11px 0 rgba(0,0,0,0.75);
  font-size: 1.15em;
  color: #34495e;
  /*column-count: 2;*/
}

aside {
  width: 200px;
  height: 550px;
  margin: 2px;
  padding: 1px;
  margin-top: 10px;
  float: right;
  min-width: 145px;
  font-size: 1.5em;
  color: #34495e;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  margin: 0;
  font-size: 1em;
  color: #34495e;
}
