.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 3.5em;
  color: #34495e;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  color: #34495e;
  font-size: 1em;
  display: inline;
  text-align: center;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}

section {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 3px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item {
  background: lightgrey;
  padding: 4px;
  width: 200px;
  height: 250px;
  margin-top: 10px;
  line-height: 125px;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

ul li {
  margin: 0 0 2em 2em;
  float: left;
}

/* ul {
  column-count: 2;
  column-gap: 2em; */

}

aside {
  float: right;
  width: 20%;
  height: 50%;
  background-color: lightgrey;
  min-width: 145px;
  font-size: 1.5em;
  }

img {
	max-width: 100%;
  height: auto;
}

footer {
  margin: 0;
  font-size: 1em;
  color: #34495e;
 }
