body {
  background-image: url(https://www.vietnamgrouptour.com/images/detailed/7/hanoi-full-day-city-tour.jpg);
  background-size: 1280px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #3A8366;
}

h1 {
  text-align: center;
  color: red;
  font-size: 85px;
  text-shadow: 2px 2px 2px white;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 800px;
  height: 250px;
  margin: auto;
  margin-top: 100px;
}

.bottom {
  position: relative;
  width: 800px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-right: 280px;
}

#clear {
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
  width: 100px;
  height: 70px;
  border-radius: 10px;
  font-size: 15px;
}

#announce-game-won {
  width: 800px;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px red;
}

[data-stack] {
  display: flex;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: aliceblue;
  flex-direction: column-reverse;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

[data-block] {
  height: 50px;
  display: flex;
  border-radius: 5px;
}

[data-block="1"] {
  width: 50px;
  background-color: blue;
}

[data-block="2"] {
  width: 75px;
  background-color: green;
}

[data-block="3"] {
  width: 100px;
  background-color: red;
}

[data-block="4"] {
  width: 125px;
  background-color: yellow;
}
