.sidebar > ul {
  list-style: none;
  padding-left: 0;
}

.container {
  border-top: solid 1px black;
  border-right: solid 1px black;
  padding: 2%;
  margin: 2%;
}

.row {
  padding-right: 0;
  margin-right: 0;
}

.toppic {
  margin-left: 3.5%;
}

.subpic {
  margin-left: 3.5%;
}

.bottomlinks {
  margin-top: 2%;
  padding-left: 3.5%;
  background-color: #4D4D4D;
  color: white;
}

.bottomlinks ul {
  padding-left: 0;
  list-style: none;


}

.bottomlinks ul > li {
    padding-bottom: 3%;
    border-bottom: solid .5px white;

}

li > a {
  text-align: left;
  color: white;
  line-height: 200%;
  font-size: 100%;
  font-weight: lighter;

}

.left, .right {
  width: 39%;
}

.right {
  margin-left: 5%;

}

.twittericon {
  float: right;
  height: 25%;
  width: 25%;
  margin: 0;
  padding: 0;
}
