body {
  margin: 0 auto;
}
footer {
  background-color: #5d5d5d;
  color: white;
  margin-top: 20px;
}
.button {
  background-color: #5d5d5d;
  padding: 10px;
  color: white;
}
.button:hover {
  text-decoration: none;
  color: white;
}
section {
  padding-left: 30px;
}
img {
  padding-top: 30px;
  margin-left: -10px;
}
aside {
  padding-top: 10px;
}
h4 {
  padding: 10px 0 10px 0;
}
p,hr {
  margin: 2px;
  padding: 2px;
}
