#top {
  padding: 10px 25px;
  margin-top: 25px;
}

#tech{
  color:white;
  background-color: #4c4c4c;
  width: 120px;
  padding: 10px;
}

.topStories h3 {
  border-bottom: 2px solid black;
}

.topStories a{
  color:black;
  font-size: 12px;
}

a{
  display: block;
  color:white;
}

#footer{
  background-color: #4c4c4c;
  color: white;
}

#bottomLeft a, #bottomRight a{
  color: white;
  border-bottom:1px solid white;
}

#bottomLeft, #bottomRight{
  line-height: 20px;
  width: 33%;
}
