.top-stories {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-left: 20px;
    width: 75%;
}

img {
    width: 100%;
}

aside {
    overflow: hidden;
}

aside p {
    margin: 20px 0 20px 20px;
    width: 75%;
    font-weight: bold;
}

button {
    padding: 1.5% 2.5% 1% 2.5%;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    margin-bottom: 100px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

footer {
    background-color: gray;
    height: 100%;
}
