.sidebar > ul {
  list-style: none;
  padding-left: 0;
}

.container {
  border-top: solid 1px black;
  border-right: solid 1px black;
  /*added in for tablet view*/
  border-bottom: solid 1px black;
  padding: 2%;
  margin: 2%;
}

.row {
  padding-right: 0;
  margin-right: 0;
}
