nav {
  display: flex;
  justify-content: space-around;
}

main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section{
  min-width: 600px;
  width: calc(100% - 350px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 1px 0px 0px black;
  padding: 3px;
}
