
/*header*/
header{
  background-image: url("../img/sub_header_home.jpg");
  background-size: cover;
  color:white;
  height:420px;
text-align: center;
padding-top: 100px;

}

header h1{
  font-size: 3em;

}


/*Blog*/

.blog{
  background-color: #F4F4F4;

}

/*.row{
  text-align: center;
}*/

div h2{
  font-size: 1.2em;
  font-weight: lighter;

}

div p{
  font-size: .8em;

}

/*
/*header*/
/*header{
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  color:white;
  padding-top: 100px;
  height:60vh;

}

header h1{
  font-size: 3em;
  padding-left: 40px;
  width:80%;
}

header p{
  padding-left: 40px;
  width:30%;*/
  /*padding-bottom: 180px;
}*/

/*Blog*/
/*
.blog{
  background-color: #F4F4F4;
  width: 100%;
  display: block;
}*/
/*
div{
  padding-left: 40px;
}

div h2{
  font-size: 1.2em;
  /*padding-top:15px;*/
  /*font-weight: lighter;
}

div p{
  font-size: .8em;
  padding-bottom: 20px;
  width:80%;
}

}/*/
