body {
  margin: auto 100px;
  font-family: "Palatino";
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 25px;
}

.para {
  color: white;
}

.breakline {
  height: 25px;
  border-bottom: solid black 1px;
  margin: auto 100px;
}

.navbar {
  text-decoration: none;
  padding: 10px;
  width: 175px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.navbar:hover {
  text-decoration: none;
  padding: 10px;
  width: 175px;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#logo {
  text-align: center;
}

#navlist {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  line-height: 80px;
}

#hero {
  background: url("/images/palate.jpg") no-repeat 0 50%;
  width: 1080px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: green;
}

#herotext {
  color: white;
  font-size: 70px;
  font-weight: lighter;
}
#primarylink {
  padding-top: 14px;
  color: white;

}
#secondary {
  display: flex;
  justify-content: center;
  height: 197px;
}

#secondarytext {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

#secondaryimage {
  height: 135px;
  padding-top: 40px;
}

#featuredimages {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#featuredtext {
  text-align: center;
}

#tomato {
  background-color: Tomato;
  height:150px;
  width:150px;
  color: #A51A11;
  padding: 10px;
}

#aqua {
  background-color: Aquamarine;
  height:150px;
  width:150px;
  color: Blue;
  padding: 10px;
}

#lavender {
  background-color: #FFF0F5;
  height:150px;
  width:150px;
  color: #FF69B4;
  padding: 10px;
}

#goldenrod {
  background-color: #EEDD82;
  height:150px;
  width:150px;
  color: #DAA520;
  padding: 10px;
}

#usersubmit {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#peach {
  background-color: #FFDAB9;
  height:150px;
  width:300px;
}

#thistle {
  background-color: #D8BFD8;
  height:150px;
  width:300px;
}

#usersubmit div p {
  text-align: right;
}
