#bart{
    display: block;
    width: 239px;
    height: 325px;
}
#currentSpeed{
    width:200px;
    height:100px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}

.button{
    width:200px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
img{
    transition: all 3s;
    transition-timing-function: linear;
}