body{
  background-color:#33a8dd;
}
.our_site{
  height:150px;
  width:100%;
  background-color:#2bcdc0;
  text-align:center;
  color:white;
  padding:80px 0 0 0;
}
.our_site h1{
  font-size:50px;
}
.awesome_stuff{
  height:150px;
  width:100%;
  background-color:#1b1b1b;
  text-align:center;
  color:white;
  padding:80px 0 0 0;
}
.awesome_stuff h1{
  font-size:50px;
}
.content_one{
  height:400px;
  width:40%;
  float:left;
  margin:0 0 0 10%;
}
.articles{
  float:left;
  width:25%;
  text_align:center;
  color:white;
  padding:0 0;
  margin:20px 20px 20px 20%;
}
.articles h2{
  text-align:center;
  font-size:30px;
  margin:0 0 20px 0;
}
.content_two{
  height:400px;
  width:40%;
  float:left;
}
.first{
  border-top:solid #1b1b1b 20px;
  margin-left:10%;
}
.second{
  border-top:solid #f46731 20px;
}
.third{
  border-top:solid #2bcdc0 20px;
}
.fourth{
  border-top:solid #ffffff 20px;
}
@media (max-width: 767px) {
  .our_site{
    height:200px;
    width:50%;
    float:left;
  }
  .awesome_stuff{
    height:200px;
    width:50%;
    float:left;
  }
  .content_one{
    width:100%;
  }
  .content_two{
    width:100%;
  }
  }
