body {
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
}

/*
below for header
*/

#headbar {
  background-color: #000;
  height: 70px;
  position: fixed;
  width: 100%;
}

#headbar .sch {
  float: left;
  padding: 13px 0px 0px 20px;
  color: white;
  text-decoration: none;
  font-size: 34px;
}

#headbar .email {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 34px;
  padding: 13px 20px 0px 10px;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
  }

/*
below for section "home"
*/

#home {
  background-image: url("https://d2h3sltx127pvt.cloudfront.net/assets/home/earth-b60c045720754cb90db0f6a07cc2b349.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: grey;
  height: 620px;
  width: 100%;
  padding-top: 85px;
}

#home h1 {
  font-size: 64px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 170px;
  text-align: center;
  width: 80%;
}

/*
below for section "about"
*/

#about {
  background-color: #ffffff;
  height: 790px;
  width: 100%;
}

.home-top {
  text-align: center;
}

.home-top h3 {
  font-size: 48px;
  padding-top: 30px;
}

.home-top p {
  font-size: 24px;
}

.home-top h4 {
  font-size: 28px;
  padding-top: 30px;
}

.home-bottom {
  padding-left: 122px;
}

.jobs {
  float: left;
  width: 30%;
}

.jobs img {
  width: 100%;
  height: 275px;
  padding: 50px 20px 0px 20px;
  opacity: 0.2;
}

.jobs a {
  font-size: 40px;
  text-align: center;
  width: 25%;
  padding: 140px 0px 50px 27px;
  position: absolute;
  z-index: 10;
  color: #000;
  text-decoration: none;
}

.one a {
  padding-top: 122px;
}

.five a {
  padding-top: 100px;
}

/*
below for section "form"
*/

.form-bottom {
  margin: 0 auto;
  padding-bottom: 50px;
  height: 1520px;
  width: 650px;
  overflow: hidden;
}

/*
below for footer
*/

footer {
  background-color: #000;
  width: 100%;
  height: 150px;
}

.top {
  text-align: center;
}

.top a{
  color: #ffffff;
  text-decoration: none;
  font-size: 28px;
}

.terms-contact {
  padding: 54px 20px;
}

.terms-contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
}

.terms {
  padding-right: 899px;
}
