body {
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
}

/*
below for header
*/

#headbar {
  background-color: #000;
  color: white;
  height: 85px;
}

#headbar h1 {
  float: left;
  padding: 20px 0px 0px 10px;
  font-size: 36px;
}

.navlinks {
  float: right;
  padding: 25px 20px 0px 30px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding-right: 20px;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
  }

/*
below for section "home"
*/

  /*#home {
  background-image: url("https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1218&q=80&cs=tinysrgb");
  }*/

#home {
  background-image: url("https://d2h3sltx127pvt.cloudfront.net/assets/home/earth-b60c045720754cb90db0f6a07cc2b349.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: grey;
  height: 600px;
  width: 100%;
}

#home h1 {
  font-size: 64px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 170px;
  text-align: center;
  width: 80%;
}

/*
below for section "about"
*/

#about {
  background-color: #ffffff;
  height: 600px;
  width: 100%;
}

.home-top {
  text-align: center;
}

.jobs {
  float: left;
  width: 25%;
}

.jobs img {
  width: 75%;
  height: 200px;
  padding: 40px 50px 0px 50px;
  opacity: 0.2;
}

.jobs h3 {
  font-size: 36px;
  text-align: center;
  width: 47%;
}
