.image {
  background-image: url(../img/featured-image-4.jpg);
  height: 725px;
  width: 100%;
  background-size: 100% 100%;
}

.curtain {
  background-color: rgba(0, 0, 0, 0.5);
  height: 725px;
  width: 100%;
  text-align: center;
  color: white;
}

.curtain h6 {
  padding-top: 17%;
}

.curtain h3,h4 {
  padding-top: 2%;
}

.curtain a {
  text-decoration: none;
  color: white;
}

.image-2 {
  background-image: url(../img/featured-image-3.jpg);
  height: 300px;
  width: 30%;
  background-size: 100% 100%;
}

.curtain-2 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 100%;
  color: white;
}

.curtain-2 h1 {
  padding-top: 30%;
  padding-left: 10%;
  font-family: sans-serif;
}

.curtain-2 p {
  padding-left: 10%;
  padding-top: 3%;
}
