.first{
  text-align:center;
  width:100vw;
  height:65vh;
  padding-top:35vh;
  background:url(../img/1.jpg);
  background-size:cover;
  color:white;
  font-family:sans-serif;
}

h1{
  font-size:1.75rem;
  margin:20px 0;
}

a{
  background-color:#90B200;
  font-size:.75rem;
  padding:5px 8px;
  color:white;
  text-decoration:none;
  line-height:3;
}

p{

}
section {

}
