h4{
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 35px;
}

h1{
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

h5 {
  font-family: serif;
  font-size: 18px;
}


.top {
  background-image: url("../img/featured-image-3.jpg");
  background-size: 450px 265px;
  background-repeat: no-repeat;
}

.curtain {
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  height: 539px;
  width: 1350px;
  color: white;
}
