img {
  -webkit-filter: brightness(50%);
}
.main {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: 6px;
}

.right {
  margin-left: 12px;
}
