main {
  display:flex;
}

.top {
  background-image: url(../img/featured-image-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-flex: 1;
  min-width: 100%;
  /*max-width: 100%;
  max-height: 100%;*/
    /*padding: 1em 2em 1em 2em;*/
}

.bottom {
  background-image: url(../img/featured-image-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.right {
  background-image: url(../img/featured-image-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex: 2;

}

.left {
  margin-right: 1em;
  width: 200px;
  flex:1;
}
