body {
    width: 1140px;
    margin-top: 10px auto;
}
#opacity-1 {
    background: rgba(0, 0, 0, 0.5);
    height: 51vh;
    width: 80vh;
    float: right;
    padding-bottom: 70px;
}
#opac-2 {
    background: rgba(0, 0, 0, 0.5);
    height: 29vh;
    width: 41vh;
    float: left;

}
#opa-3 {
    background: rgba(0, 0, 0, 0.5);
    height: 29vh;
    width: 41vh;
    float: left;
}
.landscaping {
    background-image: url("../img/featured-image-5.jpg");
    background-repeat: no-repeat;
    height: 55vh;
    width: 80vh;
    float: right;
    padding-bottom: 12%;

}
.growing {
    background-image: url("../img/featured-image-3.jpg");
    background-repeat: no-repeat;
    height: 29.8vh;
    width: 55.5vh;
    margin-left: 40px;



}
.plant-care {
    background-image: url("../img/featured-image-4.jpg");
    background-repeat: no-repeat;
    height: 31.8vh;
    width: 44.5vh;
    margin-left: 40px;

}
a {
    color: white;
    text-decoration: none;
}
h1 {
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    margin: 10px;
    padding-top: 15%;
    padding-bottom: 6px;
}
h2 {
    color: #7C8F17;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 6px;
}
p {
    color: white;
    font-size: 1.2rem;
    font-family: serif;
    margin: 6px;
}
.clear-button {
    color: white;
    border: 1px solid white;
    padding: 8px;
    height: 20px;
    display: inline-block;
}
.grey-button {
    background-color: grey;
    color: white;
    border: 1px none;
    padding: 10px;
    height: 20px;
    display: inline;
}

}
#clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
