body{
  margin: 0 auto;
}

.container-1-page {
    width: 1440px;
    margin: 0 auto;
}

.opacity-1-landscaping {
    background: rgba(0,0,0,0.6);
    float: right;
    height: 504px;
    width: 750px;
}

.block-1-landscaping {
    background: url(../img/featured-image-5.jpg) no-repeat;
    float: right;
    height: 504px;
    width: 750px;
    margin-right: 100px;
}

h1{
  font-size: 37px;
  font-family: Verdana;
}

h2{
  font-size: 26px;
  font-family: Verdana;

}

p{
  font-size: 22px;
  font-family: Georgia;
}

button{
  font-family: Verdana;
  font-size: 16px;
  margin: 20px;
}

h1, p, a, button {
  color: white;
  text-decoration: none;

}
h2{
  color: #839728;

}



/*Buttons*//*Buttons*//*Buttons*//*Buttons*/



.pad-1-landscaping{
  background: grey;
  border: 1px none;
  color: #FFF;
  display: inline-block;
  height: 50px;
  width: 180px;

}

.pad-2-landscaping{
  background: none;
  border: 1px solid #FFF;
  color: #FFF;
  display: inline-block;
  height: 50px;
  width: 180px;

}



/*Section 2 Growing *//*Section 2 Growing */
/*Section 2 Growing *//*Section 2 Growing */

.block-2-growing{
    background: url(../img/featured-image-3.jpg) no-repeat;
    height: 250px;
    width: 360px;
    margin-top: 20px;
    margin-bottom: 6px;
    margin-left: 226px;
  }
.opacity-2-growing{
    background: rgba(0,0,0,0.6);
    height: 250px;
    width: 360px;
  }

h1, h2, p {
  padding: 22px;
}


/*Section 3 Plant Care *//*Section 3 Plant Care */



.block-3-plant_care{
    background: url(../img/featured-image-4.jpg) no-repeat;
    height: 250px;
    width: 360px;
    margin-left: 226px;
}

.opacity-3-plant_care{
    background: rgba(0,0,0,0.6);
    height: 250px;
    width: 360px;

}


.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
