body {
  font-family: sans-serif;
  font-size: 1.5em;
  color: #fff;
}
#index h1, #index h2, #index h3, #index a {
  display: table;
  width: auto;
  vertical-align: middle;
  margin: 0 auto;
  line-height: 2.25em;
}
#index {
  background-image: url('../img/1.jpg');
  background-position: center;
  background-color: #6e6e6e;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;


  height: inherit;
  vertical-align:middle;
  width: 100%;
  padding: 100px 0;
  height: 300px;
}
h1 {
  font-size: 150%;
  text-transform: uppercase;

}
h2 {
  font-size: 90%;
}
h3 {
  font-size: 80%;
  text-transform: uppercase;
}
nav {
  text-align: right;
}
a {
  background-color: #8fad03;
  font-size: 65%;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1em;
}
a:link {
  text-decoration: none;
  color: #fff;
}
