.firstpage{
  background: url("../img/1.jpg");
  color: white;
  font-size: 2em;
  text-align: center;
  height: 720px;
  padding-top: 125px;
  background-repeat: no-repeat;
}
button{
  background-color: #00FF00;
}
.container{
  display: flex;
  width: 1000px;
  height: 1000px;
}
.section1{
  width: 400px;
  height: 540px;
  flex-direction: column;
}
.box1{
  background: url("../img/featured-image-3.jpg");
  background-repeat: no-repeat;
  width:100%;
  height:45%;
}
.box1 h1{
  color: white;
  text-align: center;
}
.box2 h1{
  color: white;
  text-align: center;
}
.box2{
  background: url("../img/featured-image-4.jpg");
  background-repeat: no-repeat;
  width:100%;
  height:45%;
}
.section2{
  display: flex;
  background: url("../img/featured-image-5.jpg");
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
}
