.garden {
    background-image: url("../img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 150px 0;
}
p {
    /*line-height: 500px;*/
    font-size: 12px;
    font-family: sans-serif;
}
h1 {
    font-size: 32px;
    padding: 10px;
    font-family: sans-serif;
}
h3 {
    margin-bottom: 10px;
    font-family: sans-serif;
}
a {
    background-color: #8FAD03;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
}
.garden h2 {
  margin-bottom: 40px;
}
.service {
    background-color: white;
}
.left {
    float: left;
}

.service {
    color: white;
    font-family: arial sans-serif;
    font-size: 12px;
    margin: 0 auto;
    width: 80%;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.top {
    background: url("../img/featured-image-3.jpg");
    height: 195px;
    width: auto;
    border-bottom: 10px solid white;
}
.bottom {
    background: url("../img/featured-image-4.jpg");
    height: 195px;
    width: auto;
}
.right {
    background: url("../img/featured-image-5.jpg");
    height: 400px;
    width: 500px;
    float: left;
    border-left: 10px solid white;
}
.top, .bottom, .right, .garden {
    background-color: #6e6e6e;
    background-blend-mode: multiply;
}
.top h2, .bottom h2, .right h2 {
    color: #8FAD03;
}
.top h1, .bottom h1, .right h1 {
  padding-top:20%;
}
.right p, .right h2 {
  padding-bottom: 20px;
}
.right p, .right h2, .top h2, .bottom h2{
  padding-left: 10px;
  padding-right: 10px;
}
.more {
    background-color: #413b3a;
    border: none;
}
.products {
    background-color: transparent;
    border: solid white 2px;
}
.more, .products {
    color: white;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}
