main {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url(../img/1.jpg);
    background-size: cover;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70vh;
    padding-top: 30vh;
    color: white;
}
* {
    color: white;
    font-family: sans-serif;
    line-height: 30px;
}
h1 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1rem;
    color: #819B1E;
}
h4 {
    font-size: .75rem;
}
p {
    font-size: .90rem;
}
p1 {
    font-size: .60rem;
    display: -webkit-inline-box;
    width: 80%;
}
a {
    font-size: .85rem;
    padding: 7px 10px;
    background-color: #91AF07;
    color: white;
    text-decoration: none;
    line-height: 3;
}
section {
    margin-left: 60px;
    margin-right: 10px;

}
.growing {
    margin-top: 20px;
    padding-top: 80px;
    margin-bottom: 10px;
    background: url(../img/featured-image-3.jpg);
    background-size: cover;
    width: 250px;
    height: 137px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 50px;
}
.plant_care {
    padding-top: 80px;
    background: url(../img/featured-image-4.jpg);
    background-size: cover;
    width: 250px;
    height: 137px;
    padding-left: 50px;
}
.landscaping {
    padding-top: 140px;
    padding-left: 60px;
    background: url(../img/featured-image-5.jpg);
    width: 580px;
    height: 302px;

}
aside {
    margin-top: 20px;
    line-height: 40px;
}
#more {
    background-color: #3E3B37;
    font-size: .25rem;
    padding: 12px 20px;
    margin-right: 10px;
}
#products {
    background: none;
    border: white solid 1px;
    font-size: .25rem;
    padding: 10px 18px;
}
.secondmain {
    padding: 40px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
}
