.calculator{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 30px);
    grid-gap: 2px;
}

#results{
    grid-column: span 4;
}

/* input{
    border: 1px solid black;
} */

.button{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.span{
    grid-column: span 2;
}