@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500|Roboto+Mono");
* {
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 400px;
  background-image: linear-gradient(to right, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      271% 88%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      100% 50%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}
table {
  border-spacing: 5px 10px;
}
#calc {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  width: 240px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 15px;
  /* box-shadow: -1px 3px 0px #dcd9d4, 0 -1px 2px #dcd9d4, 0 15px 50px -6px black; */
  box-shadow: 0px 4px 0px #dcd9d4, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  transform: rotateX(5deg);
}
input {
  width: 100%;
  height: 60px;
  padding: 1rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #8f9b84;
  color: #303030;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: right;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .9);
  outline: none;
}
.button {
  border-radius: 5px;
  background-color: #dcd9d4;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
    radial-gradient(
    at 50% 0%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 50%
  );
  background-blend-mode: soft-light, screen;
  padding: 1rem 0.5rem;
  max-width: 0;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 0px #dcd9d4, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  user-select: none;
  font-family: "Roboto Mono", monospace;
  transition: all 150ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button:active {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
    radial-gradient(
    at 50% 0%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 50%
  );
  box-shadow: 0px 2px 0px #dcd9d4, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  transform: translate(0, 2px);
}
.accent {
  background: #f1892d;
  box-shadow: 0px 4px 0px #f1892d, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.accent:active {
  box-shadow: 0px 2px 0px #f1892d, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.dark {
  background: #a0a0a0;
  box-shadow: 0px 4px 0px #a0a0a0, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.dark:active {
  box-shadow: 0px 2px 0px #a0a0a0, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}