.container {
    height: 600px;
    width: 400px;
    display: grid;
}

.button {
    border: 1px solid black;
    width: 35px;
    text-align: center;
    cursor: pointer;
}   

#results {
    width: 200px;
    grid-template-columns: 100%;
}

table {
    width: 200px;
    height: 400px;
}

.row-two {
    grid-template-columns: repeat(4, 1fr);
}

.row-three {
    grid-template-columns: repeat(4, 1fr);
}

.row-four {
    grid-template-columns: repeat(4, 1fr);
}

.row-five {
    grid-template-columns: repeat(4, 1fr);
}

.row-six {
    grid-template-columns: 1fr , 1fr;
}