body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
}

.navbar {
  margin-top: 2%;
}
.navbar-brand {
  font-weight: bold;
  font-size: 20em;
}

header {
  background-image: url('../img/computer-header2.jpg');
  border: 5px;
  background-repeat: no-repeat;
  margin-left:5%;
  margin-right: 5%;
}


@media (min-width: 992px) {
  padding: 154px 0 100px;
  }

Section {
    padding: 20px 0;
    margin-left: 5%;
    margin-right: 5%;
  }



/*header {
  padding: 154px 0 100px;
}
