.top-side {
  background-color: gray;
  color: white;
  font-family: sans-serif;
  text-align: center;
  display: block;
}
body {
  display: block;
}
.top-block {
  display: block;
}
.lower-block {
  display: block;
}
.row-1-wrapper {
  padding-left: 80px;
}
.row-2-wrapper {
  text-align: center;
  margin-left: 80px;
  margin-top: 50px;
}
.work-experience {
  font-family: sans-serif;
  margin-left: 25px;
  font-size: 20px;
  align-items: center;
}
.education-section {
  color: black;
  text-align: center;
  margin-left: 80px;
}
div {
  font-family: sans-serif;
  float: left;
  border: 40px;
}
.section-header {
  color: black;
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
}
.aside-header {
  color: white;
  text-align: center;
  font-family: sans-serif;
  text
}
.section-design {
  color: white;
  font-family: sans-serif;
  padding: 15px;
  background-color: gray;
  margin-left: 40px;
  margin-top: 10px;
}
p {
  color: black;
  font-family: sans-serif;
}
h4 {
  color: black;
  font-family: sans-serif;
}
h5 {
  color: black;
  font-family: sans-serif;
}
