.container {
    margin: 0 auto;
    background-color: #aaa;
    color: inherit;
    width: 1024px;
}

.headline {
  width: 1024px;
  margin: auto;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 2.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.upper-section {
  width: 1024px;
  margin: auto;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 2.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.mid-section {
  width: 1024px;
  margin: auto;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
