body {
  background-color: black;
}
.container {
  margin:0 auto;
  width: 900px;
  display: flex;
  text-align: center;
}
header {
  background-color: yellow;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}
main {
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between;
}
.quotes {
  background-color: #9900FF;
  color: yellow;
  margin: 10, auto;
  display:flex;
  width: 49%;
}
h2 {
  color: white;
  text-align: center;
}
.membership {
  color: yellow;
  background-color: #9900FF;
  width: 33%;
  justify-content: space-between;
}
footer {
  background-color: #B7B7B7;
  width: 1000px;
  margin: auto;
}
