.container {
    margin: 0 auto;
    background-color: #aaa;
    color: inherit;
    width: 1024px;
}

.flex-item-1 {
  width: 900px;
  margin: auto;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 2.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.flex-item-2 {

  width: 400px;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.flex-item-3 {
  width: 400px;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-item-4 {
  width: 250px;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-item-5 {
  width: 250px;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flex-item-6 {
  width: 250px;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.membership {
  width: 900px;
  margin: auto;
  height: 250px;
  font-family: sans-serif;
  font-size: 1.75em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.footer {
  width: 900px;
  margin: auto;
  height: 250px;
  background-color: #eee;
  color: inherit;
  font-family: sans-serif;
  font-size: 2.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
