body {
  width: 900px;
  margin: auto;
  background-color: black;
}

header {
  font-size: 38px;
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 25px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 28px;
}

.quote-container {
  display: flex;
  justify-content: space-between;
}

.quote-box {
  width: 45%;
  background-color: #9900FF;
  color: yellow;
  padding: 16px;
}

.signature{
  float:right;
}

.membership-container {
  display: flex;
  justify-content: space-around;
}

.membership-box {
  background-color: #9900FF;
  color: yellow;
  padding: 0 28px 28px 28px;
  margin: 12px;
}

.input-container
  {
  margin: 0;
  width: 50%;
  }

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #B7B7B7;
}
