body{
  background-color: #ffffff;
  font-family: arial, sans-serif;
  color: #000000;
}
.header{
  background-color: #cecece;
  text-align: center;
  width: 630px;
  margin: auto;
}
.main-container{
  width: 630px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.sub-header{
  width: 650px;
  margin: auto;
  text-align: center;
}
.main-one{
  background-color: #cecece;
  width: 43%;
  padding: 16px;
}
.main-two{
  background-color: #cecece;
  text-align: center;
  width: 25%;
  height: 120px;
  align-items: center;
}
.footer{
  background-color: #cecece;
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  padding: 16px;
}
.footer-left{
  width: 45%;
}
.footer-right{
  width: 52%;
}
.right{
  float:right;
}
button{
  border: black 4px solid;
  background-color: #cecece;
  font-size: 18px;
  font-weight: bolder;
  width: 100%;
  padding: 15px;
}
h1{
  font-size: 70px;
  font-weight: lighter;
}
textarea{
  border: none;
  resize: none;
  vertical-align: middle;
}
