body {
  width: 900px;
  margin: auto;
  background-color: black;
}

header {
  font-size: 38px;
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 25px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 28px;
}

.quote-container {
  display: flex;
  justify-content: space-between;
}

.quote-box {
  width: 45%;
  background-color: #9900FF;
  color: yellow;
  padding: 16px;
}

.signature{
  float:right;
}

.membership-container {
  display: flex;
  justify-content: space-around;
}

.membership-box {
  background-color: #9900FF;
  color: yellow;
  padding: 0 28px 28px 28px;
  margin: 12px;
}

.membership-box:hover {
  background-color: fuchsia;
}

.input-container
  {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  }

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #B7B7B7;
}

.textbox {
  width: 164px;
  height: 24px;
}

.button {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  border: 2px solid black;
}

.button:hover {
  border: 2px solid fuchsia;
}
