.container {
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: black;
  width: 1024px;
}

.header {
  width: 800px;
  margin: auto;
  background-color: gold;
  text-align: center;
  font-size: 50px;
}
.main {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: 800px;
  margin: auto;
}

.section {
  background-color: purple;
  color: gold;
  width: 48%;
  height: 170px;
  padding: 5px;
  margin: auto;
}
.sectionsm {
  background-color: purple;
  color: gold;
  text-align: center;
  vertical-align: middle;
  width: 33%;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  height: 100px;
}

.sectionlft {
  text-align: left;
}
.sectionrt {
  text-align: right;
}
.white{
  display: flex;
  flex-flow: wrap;
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  margin: auto;
  width: 800px;
  padding: 25px;
  background-color: 	rgb(200,200,200);
}

.button {
  padding: 10px;
  height: 30px;
  width: 25px;
  background-color: rgb(128,128,128);
  border-radius: 25px;
  color: white;
  text-decoration: none;
}
