@keyframes heading {
  0% {color: red;}
  25% {color: green;}
  50% {color: blue;}
  75% {color: yellow;}
  100% {color: red;}
}

h1 {
  font-size: 5em;
  text-align: center;
  color: red;
  animation-name: heading;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

td img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

#cat {
  display: block;
  margin: auto;
}
