body {
  font-family: sans-serif;
}
.divprofessional {
  width: 1050px;
  margin-left: 55px;
  font-size: 18px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.divlinks {
  width: 100%;
  height: 40px;
  background-color: black;
  margin: 20px 0;
}
.divhome {
  color: white;
  font-size: 10px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}
.divcompanies {
  color: white;
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  float: left;
}
.divpositions {
  color: white;
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  float:left;
}
.divgreenbox {
  width: 470px;
  height: 150px;
  margin-left: 50px;
  margin-top: 5px;
  background-color: #39ac39;
  float: left;
}
.divemployee {
  color: white;
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 45px;
}
.greenboxtext {
  color: white;
  font-size: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
.divblackbox {
  width: 470px;
  height: 150px;
  margin-top: 5px;
  background-color: black;
  color: white;
  float: left;
}
.divjob {
  color: white;
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 45px;
}
.blackboxtext {
  color: white;
  font-size: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
.sighbutton {
  color: white;
  font-size: 10px;
  border: 1px solid white;
  padding: 10px;
  float: right;
  margin-right: 35px;
  text-decoration: none;
}
