*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

.nav-link{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  color: white;

}
section{
  clear:left;
}

.nav-links{
  line-height: 50px;
  font-size: .8em;
  padding-left: 4%;
}

a{
  text-decoration: none;
}
nav{
  height: 50px;
  background-color: black;
  padding-left: 5%;
}

#title-header{
  padding-left: 10%;
}

.box1{
  height: 200px;
  width: 450px;
  background-color: #59a64d;
  float: left;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 55px;
  color: white;
}

.box2{
  height: 200px;
  width: 450px;
  background-color: #323232;
  float: left;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 55px;
  color: white;
}

button{
  background: none;
  border: solid white 1px;
  color: white;
  padding: 6px;
  float: right;
}

.box1 button:hover{
  background-color: green;
}

.box2 button:hover{
  background-color: black;
}

.box1 button:active{
  background-color: #6CFF7A;
}
.box2 button:active{
  background-color: grey;
}

.text-area{
  font-size:.8em;
}
main{
  padding-top: 10px;
  width: 80%;
  margin: auto;
}
