.header{
  background-color: #ffffff;
  max-width: 1000px;
  margin: auto;
}
.nav{
  background-color: #313131;
  height: 30px;
  padding: 20px 0px 20px 0px;
  width: 100%;
  margin:auto;
}
.navcontent{
  color: #ffffff;
  margin:auto;
  max-width: 1000px;
}
.wrapper{
  height: auto;
  max-width: 1000px;
  margin: auto;
}
.leftbox{
  width: 40%;
  float:left;
  margin-top: 5px;
  background-color: #55a747;
  color: #ffffff;
  font-family: sans-serif;
  padding: 30px;
}
.rightbox{
  width: 40%;
  float:left;
  margin-top: 5px;
  background-color: #313131;
  color: #ffffff;
  font-family: sans-serif;
  padding: 30px;
}
.button{
  background-color: transparent;
}
h1{
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}
button{
  background-color: transparent;
  border: #ffffff 2px solid;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  float: right;
  padding: 10px;
}
