.nav {
  opacity: 0.6;
}

#hero {
  background-image: url("../img/wine-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  height:650px;
  filter: brightness(80%);
}

#hero h1 {
  padding-top: 25px;
  font-size: 20px;
  color:white;
  font-family: georgia;
  padding-left: 200px;
  padding-right: 200px;
}

#hero h6 {
  padding-top: 50px;
  color:white;
  font-size: 14px;
}

.logo{
  opacity:0.9;
  height: 460px;
  width: 25%;
}

#intro {
  text-align: center;
  height: 500px;
}


.about h3 {
  padding-top: 150px;
  color:gray;
  font-size: 18px;
  font-family: georgia;
}

.about h2 {

  font-size: 20px;
  font-weight: bold;
  font-family: georgia;
}

.about p {
  color: gray;
  font-size: 15px;
}

#history {
  background-image: url("../img/wine13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(85%);
  height: 600px;
  color: white;
  text-align: center;
}

#history h2 {
  padding-top: 150px;
  padding-bottom: 20px;
  font-family: georgia;
  padding-left: 150px;
  padding-right: 150px;
}

#history p {
  padding-left:  100px;
  padding-right: 100px;
}


.shiraz{
  text-align: center;
  font-family: georgia;
}

.chardonnay{
  text-align: center;
  font-family: georgia;
}

.cabernet{
  text-align: center;
  font-family: georgia;
}

#product img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

#product button {
  background-color: #91A05C;
  border: none;
  width: 120px;
  height: 40px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {

#intro {
  height: 750px;
}


.about h3{
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo{
  opacity:0.9;
  height: 360px;
  width: 35%;
}

#hero h1 {
  padding-left:  0px;
  padding-right: 0px;
}

#history p {
  padding-left:  0px;
  padding-right: 0px;
}

#history h2 {
  padding-left:  0px;
  padding-right: 0px;
}

@media (max-width: 992px) {
  #product img {
    display: block;
    margin: 0 auto;
  }


}
