main{
  display:flex;
  flex-direction:column;

}
 .box1{
 display:flex;
 align-items:center;
 background-image: url("../img/bg.jpg");
 background-size: cover;
 color:white;
 height:400px;
}
 .article1{
  width:300px;
  margin-left:50px;
}
 .box2{
  display:flex;
  flex-direction:row;
  background:#F4F5F6;
  height: 300px;

}
 .article2{
  margin-left:50px;
  width:400px;
}
 .article3{
  margin-left:100px;
  width:400px;
}
 p{
  color:#95A0A8;
}
@media screen and (max-width: 480px) {
  .box1{
    display:flex;
    background-image:url("../img/bg2.jpg");
    background-size: cover;

  }
  .box2{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: auto;
  }
  .article2{
    margin-left: 50px;
    width:300px;
  }
  .article3{
    margin-left: 50px;
    width:300px;
}

}
