body{

}

#let-you {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: -20px;
}

#gray-b {
  height: 400px;
  background-color: #d3d3d3;
  margin-top: -20px;
}

#wrds {
  color: white;
  width: 40%;
  height: 250px;
  float:left;
  margin: 100px auto 0 40px;
}

h1 {
  font-size: 60px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
}

#news, #food {
  width: 40%;
  height: 250px;
  float:left;
  margin: 10px;
}

#news {
  margin-left: 60px;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;

}


@media (max-width:768px){

  #let-you {
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  }

#wrds{
  width: 75%;
}

h1{
  font-size: 40px;
}
p{
  font-size: 10px;
  width: 50%;
}

#gray-b{

}

#news, #food {
  float: none;
  width: inherit;
  height: 150px;

}
.graybs {
  width: inherit;

}
#news{
  margin: 0;
}




}
