header {
  background-image: url("../img/bg2.jpg");
}

p {
  font-size: 25px;
}

header p {
  margin: 30px 275px 0 0;
}

.blog, .food {
  float:none;
  padding: 40px 0 0 100px;
}

.blog p, .food p {
  color: grey;
}

.content {
  height: 600px;
}
