body {

  font-family: 'Arial', sans-serif;
}

#currentTotal {
  width:150px;
  height:40px;
  border:2px solid yellow;
  text-align: center;
  font-size: 30px;
  background-color: red;
}

header {
  align-items: center;
  background-color: Yellow;

}
main {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding-left: 30px;
  font-size: 20px;
  color: yellow;

}

.button {
  width:150px;
  height:20px;
  border:1px solid black;
  border-radius:25px;
  text-align: center;
  cursor:pointer;
}

.pic {
  width: 150px;
  height: 150px;
  padding: 10px;
}


section {
display: flex;
flex-direction: row;
padding: 10px;
align-items: center;
background-color: red;
float: right;
margin-left: 10px;


}

.bps {
  padding: 10px;
  margin-left: 10px;

}
h1 {
  font-size: 60px;
  color: red;
}

.button {
  background-color: yellow;
  box-shadow: 3px 3px 3px gray;
  color: red;
  font-size: 15px;
  padding:3px;

}
