html{
  width: 100%;
  height: 100%;

}


body{
  width: 100%;
  height: 100%;
}

header{
  height: 51px;
  background-color:#39ff14;

}

.container{
  height: 100%;
  width: 100%;
  padding-top: 15px;
  margin-left: 175px;
}

div.container > a {
  margin-left: 15px;
  text-decoration: none;
  color: red;
  cursor: cell;
}

.sec{
  width: 850px;
  height: 270px;
  background-color: grey;
  margin: 30px 0 0 190px;
}

aside{
  float: right;
}
