html{
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}


body{
  background-image: url(../img/wine-bg.jpg);
  color: black;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 8%;
}
