.vineyard{
  position:relative;
  filter:brightness(60%);
}

h1{
  position:absolute;
  text-align: center;
  top:30%;
  right:20%;
  font-family: serif;
  color: white;
  font-size: 50px;
}

.nodrink{
  position:absolute;
  height:300px;
  width:300px;
  top:40%;
  right:40%;
  border: 5px solid black;
}
