body{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#box{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
border: 1px solid red;
background-color: green;
text-align: center;
color: white;
transform: rotate(180deg);
}
