body {
  background-image: url(../img/wine-bg.jpg);
  background-position: top;
  background-color: #cccccc;
  background-blend-mode: multiply;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  margin-bottom: 87px;
}

h5 {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 40px;
}

img {
  margin: 0 auto;
}
