body{
  background-image: url("../img/winery.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: auto;
}

#typing_text{
font-size: 80px;
color: white;

}


h1{
color: white;
text-shadow: 1px 2px black;
font-style: italic;
font-size: 53px;
}

hr{
  border: 1px solid red;
  color: white;
}

p{
  color:white;
  text-align: center;
  font-size:20px;
  text-shadow: 1px 2px black;
  font-style: italic;
}

.verify{
  display:flex;
  justify-content: flex-start;;
flex-direction: column;
  align-items: center;
  /*border: 1px solid red;*/
  height:100vh;
}

.big-f{
  width:340px;
  /*border: 1px solid red;*/
}

button{
  background-color: transparent;
  width:80px;
  margin:6px;
  font-family: sans-serif;;
  border: 2px solid #800020;
  color:white;
  text-shadow: 0 1px 200px rgba(0,0,0,.6);
  font-size:25px;
  text-shadow: 1px 2px black;
}

button:hover{
  background-color: goldenrod;
}


@media (max-width: 747px){
  .big-f{
    width:280px;
  }
}
