.grid {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  /* width: 460px; */
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding: 0 15px 15px 15px;
}

img {
  width: 100%;
  padding: 15px 0px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.likes-enter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-color: #ccc;
  /* border-style: solid; */
  border-width: 1px;
  /* border-top-width: 1px; */
  border-top: solid;
}

input[type=submit] {
  background-color: #ef6c51;
  color: #ffffff;
  width: 90px;
  cursor: pointer;
}




@media (min-width: 576px) {
 }

@media (min-width: 768px) {
 }

@media (min-width: 992px) {
 }
