/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
minor mods by James Walker james.walker@contractor.net
*/

a, abbr, address, article, aside, audio, b, blockquote, body,
canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt,
em, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object, ol, p, pre,
q, samp, section, small, span, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

body {
  line-height: 1;
}

del {
  text-decoration: line-through;
}

dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  border: 0;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input {
  vertical-align: middle;
}

ins {
  background-color: #ff9;
  color :#000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

select {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
