body {
    background-color: #e6e6e6;
    height: 500px;
    
    margin: 0px;
    padding: 0px;}

    .box1{
        height: 400px;
        display: flex;
        background-color: skyblue;
        margin-bottom: 20px;
        font-family: Arial;  
        align-items: center;
        font-size: 4em;
        justify-content: center;
        text-align: center;
        color: white;

    }
    


    
    
    
    
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;
        
        
      }
      
      .flex-container > div {
        background-color: #ffffff00;
        width: 200px;
        margin: auto;
        text-align: center;
        line-height: 5px;
        
    
        
      }
    .flex-container h1{
        color: black;
        line-height: 2;
    }
    .flex-container p{
        color: black;
        font-size: 16px;
    }
    .flexA {
        border-top: 20px solid skyblue;
    }
    .flexB {
        border-top: 20px solid orange;
    }
    .flexC {
        border-top: 20px solid lightseagreen;
    }

    @media only screen and (min-width: 576px){
        .box1{background-color: lightseagreen}
        body{background-color: black}
        .flex-container h1 {color: white;}
        .flex-container p {color: white;}
        .flex-container { flex-direction: row;}
    }

