header {
background-color: rgb(43,205,192);
width: 900px;
height: 300px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

h1 {
color: white;
font-size: 300%;
font-family: "Times";
}

main {
background-color: black;
width: 900px;
margin: auto;
box-sizing: border-box;
display: flex;
justify-content: space-around;
align-items: center;
padding: 45px 20px 45px 20px;
}

article {
  width: 22%;
  /*display: flex;*/
  /*justify-content: center;*/
}

.color_block {
  height: 30px;
  width: 100%;
  margin: auto;
}

#aqua {
  background-color: rgb(43,205,192);
}

#red {
  background-color: rgb(244,103,49);
}

#blue {
  background-color: rgb(55,170,224);
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
}

h2 {
color: white;
font-size: 200%;
text-align: center;
}

p {
  color: white;
  text-align: center;
  font-family: "Calibri";
}

@media (max-width: 767px) {

  header {
    background-color: rgb(55,170,224);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  main {
    background-color: rgb(220,220,220);
    width: 100%;
    flex-direction: column;
  }

  article {
    width: 280px;
    padding-bottom: 50px;
  }

  h2 {
    color: black;
  }

  p {
    color: black;
  }
}
