/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


body {
  height: 100%;
  box-sizing: border-box;

  top:0;
  bottom: 0;
  left: 0;
  right:0;

}



.toprow {
position: absolute;
  display: flex;
width: 100%;
background-color: lightgreen;
text: white;
justify-content: center;
top:0;
left:0;
right:0;
bottom: 50%;
}
.bottomrow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top:50%;
  right:0;
  left:0;
  bottom:0;
  background-color: black;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}
.flex-item {
  display: flex;
  flex-direction: column;
    background-color: black;
    padding-left: 20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    color: white;
    font-size: x-large;
    text-align: center;
    align-items: center;
}
.title{
    color: white;
    align-self: center;
    display: flex;
    font-size: xx-large;
}
.colorbar {
  display: flex;
  width:75%;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 1.5rem;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
@media (max-width: 700px){
.bottomrow {
  flex-direction: column;
  background-color: lightgrey;
  padding-left: 40px;
  padding-right: 40px;
  }
.flex-item{
  font-size: 12px;
  background-color: lightgrey;
  color: black;
}
}
