body {
  margin: 35px 35px 90px 35px;
}
.titleContainer {
  background-color: #2bcdc0;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #fff;
  font-family: 'Lora', sans-serif;
  font-size: 2em;
  text-align: center;

}
.title h1 {
  font-size: 60px;
}
span{
  font-weight: bold;
}
.mainContainer {
  background-color: black;
  color: white;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column {
  text-align: center;
  width: 200px;
  padding: 15px;

}
.column h1 {
  font-size: 2.5em;
}
.column p {
  font-size: 1em;
  line-height: 1.8em;
  padding-top: 20px;
}
.column:nth-child(1){
  border-top: solid 30px #33a8dd;
}
.column:nth-child(2){
  border-top: solid 30px #f46731;
}
.column:nth-child(3){
  border-top: solid 30px #2bcdc0;
}
@media (max-width: 768px) {
  .mainContainer {
    background-color: white;
    color: black;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .column {
    margin-top: 50px;
  }
  .column:nth-child(3) {
    margin-bottom: 50px;
  }
  .title h1 {
    width: 60%;
    margin: auto;
    text-align: left;
  }
}
