#flexbox-1 {
  height: 300px;
}

h1 {
  font-size: 45px;
  width: 250px;
}

#flexbox-2 {
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
}

.text {
  margin-top: 50px;
  width: 200px;
}
