
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2BCDC0;
    color: white;
    height: 300px;
}

  /* .welcome{
      color: white;
      height: 300px;
  } */

  
  .section{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    background-color: black;
    /* text-align: center; */
    box-sizing: border-box;
    padding: 40px;  
    align-items: center;
  }


  
  .child{
   width: 240px;
   color: white;
   text-align: center;
   /* border: 5px solid red; */
  }

   .bar-dim{
       height: 25px;
       width: 240px;
   }

   /* text-align:center; */
 

/* justify-content: center; */


.title-header{
    font-size: 14px;
    color: white;
    border: 1px solid white;
}

.paragraph{
    font-size: 12px;
    /* background-color: black; */
    color: white;
    text-align: center;  
}
  
.box-for-bar{
    height: 25px;
    width: 240px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* border: 5px solid white; */
    box-sizing: border-box;
}

.blue-bar{
     background-color: #33A8DD;
     /* border:10px solid white;   */
}

.red-bar{
        background-color: #F46731;
    }


    .aqua-bar{
        background-color: #2BCDC0;
    }

 /* #blue{
      justify-content: flex-start;
      width: 90px;
      height: 15px;
      background-color: #33A8DD;
      margin: auto;
  } */

  /* #red{
    justify-content: center;
    width: 90px;
    height: 15px;
    background-color: #F46731;
    margin: auto; */
/* } */

  /* #aqua{
      justify-content: flex-end;
      width: 90px;
      height: 15px;
      background-color: #2BCDC0;
      margin: auto;
  } */

  @media(min-width: 1px) and (max-width: 768px){
.container{
    background-color:  #33A8DD;
}


.section{
    background-color: #F7F5F6;
    display: block;
    height: auto;

}

.child{
    color: black;
    margin: auto;
}

.paragraph{
    color: black;
}

  }