header {
  background-color: #2BCDC0;
  color: white;
  width: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
}

span {
  font-weight: bold;
}

section {
  padding-top: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.first-div {
  border-top: 20px solid #33A8DD;
  width: 100px;
  margin: auto;
  text-align: center;
}

.second-div {
  border-top: 20px solid #F46731;
  width: 100px;
  margin: auto;
}

.third-div {
  border-top: 20px solid #2BCDC0;
  width: 100px;
  margin: auto;
}
