/* .boxy {
    border: 1px solid red;
    color: rgb(42, 205, 192);
    color: rgb(51, 168, 221);
    color: rgb(244, 103, 48);
    color: rgb(27, 27, 27);
} */


/* Main */
main {
    display: flex;
    width: 750px;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
.header {
    display: flex;
    width: 750px;
    height: 300px;
    background-color: rgb(42, 205, 192);
}

.mainText {
    display: flex;
    width: 750px;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.mainText span {
    font-weight: 800;
}


/* FOOTER */
.footer {
    display: flex;
    width: 750px;
    height: 300px;
    background-color: rgb(27, 27, 27);
    justify-content: space-around;
    align-items: center;
}

.footerOne {
    display: flex;
    width: 170px;
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.boxOne {
    display: flex;
    width: 170px;
    height: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 168, 221);
}

.title {
    font-size: 30px;
}

.text {
    text-align: center;
}

.boxTwo {
    display: flex;
    width: 170px;
    height: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 103, 48);
}

.boxThree {
    display: flex;
    width: 170px;
    height: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 205, 192);
}



/* MEDIA QUERIES */
@media (max-width: 670px) {
    main {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    /* HEADER */
    .header {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: rgb(51, 168, 221);
    }
    
    .mainText {
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 35px;
        font-weight: 300;
    }
    
    .mainText span {
        font-weight: 800;
    }
    
    
    /* FOOTER */
    .footer {
        display: flex;
        width: 100%;
        height: 800px;
        background-color: rgb(247, 245, 246);
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .footerOne {
        display: flex;
        width: 170px;
        height: 180px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: black;
    }
    
    .boxOne {
        display: flex;
        width: 170px;
        height: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(51, 168, 221);
    }
    
    .title {
        font-size: 30px;
    }
    
    .text {
        text-align: center;
    }
    
    .boxTwo {
        display: flex;
        width: 170px;
        height: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(244, 103, 48);
    }
    
    .boxThree {
        display: flex;
        width: 170px;
        height: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(42, 205, 192);
    }
}


