@media (min-width: 768px) {
  .topbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #2bcdc0;
    height: 300px;
    width: 800px;
    color: white;
    font-size: 24pt;
  }

  .bottombox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 300px;
    width: 800px;
    background: black;
    color: white;

  }

  .flexy {
    width: 140px;
    height: 240px;
    margin: 30px;
    text-align: center;
  }

  h2 {
    font-family: 'Merriweather', serif;
    font-size: 20pt;
  }

  .headerbox {
    width: 140px;
    height: 20px;
  }
  .boxleft .headerbox{
    background-color: #33a8dd;
  }

  .boxmiddle .headerbox {
    background-color: #f46731;
  }

  .boxright .headerbox {
    background-color: #2bcdc0;
  }
}

@media (max-width: 767px) {

  .topbox {
    background-color: #33a8dd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 250px;
    color: white;
    font-size: 24pt;
  }

  .topbox p {
    width: 170px;
    height: 50px;
  }

  .bottombox {
    background-color: #f7f5f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 650px;
    width: 250px;
    color: black;

  }

  .flexy {
    width: 140px;
    height: 150px;
    margin: 30px;
    font-size: 10pt;
    text-align: center;
  }

  .headerbox {
    width: 140px;
    height: 20px;
  }
  .boxleft .headerbox{
    background-color: #33a8dd;
  }

  .boxmiddle .headerbox {
    background-color: #f46731;
  }

  .boxright .headerbox {
    background-color: #2bcdc0;
  }
}
