h1 {
    margin: 0;
}

body {
    margin: 0;
}

p {
    width: 30%;
    margin: 0 auto;
}

#welcome {
    width: 100%;
    height: 300px;
    background-color: #42adf4;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome h1{
    padding: 20px;
}

#content{
    background-color: lightgrey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}


.box {
    background-color: #42adf4;
    width: 30%;
    padding: 15px;
    margin: 0 auto;
}

.decoration2 {
    background-color: orange;
}

.decoration3 {
    background-color: lightgreen;
}

.block {
    margin-top: 50px;
}

div h1 {
    margin: 10px;
}