header {
  background-color: #33A8DD;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #F7F5F6;
  padding-top: 30px;
}

.first-div {
  border-top: 20px solid #33A8DD;
  width: 100px;
  margin: auto;
  text-align: center;
}

.second-div {
  border-top: 20px solid #F46731;
  width: 100px;
  margin: auto;
}

.third-div {
  border-top: 20px solid #2BCDC0;
  width: 100px;
  margin: auto;
}
