header {
  background-color: rgb(18, 206, 193);
  text-align: center;
  font: times;
  font-size: 50px;
  color: white;
  font-family: serif;
  height: 200px;
  padding-top: 125px;
}

main {
  background-color: black;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lvllft {
  color: white;
  text-align: center;
  border-top: solid rgb(46 169 217) 20px;
  height: 180px;
  width: 180px;
}

.lvlcen {
  color: white;
  text-align: center;
  border-top: solid rgb(247 99 59) 20px;
  height: 180px;
  width: 180px;
}

.lvlrgt {
  color: white;
  text-align: center;
  border-top: solid rgb(18 206 193) 20px;
  height: 180px;
  width: 180px;
}

@media (max-width: 576px) {
  header {
    background-color: rgb(46 169 217);
  }
  main {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .lvllft {
    color: black;
    margin: 20px;
    text-align: center;
    border-top: solid rgb(46 169 217) 20px;
    height: 180px;
    width: 180px;
  }
  .lvlcen {
    color: black;
    margin: 20px;
    text-align: center;
    border-top: solid rgb(247 99 59) 20px;
    height: 180px;
    width: 180px;
  }
  .lvlrgt {
    color: black;
    margin: 20px;
    text-align: center;
    border-top: solid rgb(18 206 193) 20px;
    height: 180px;
    width: 180px;
  }
