.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 376px;
  background-color: #33A8DD;
}

.welcome-text {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 40px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 35px;
}

p {
  font-family: 'Spectral', serif;
}

#flexbox {
  display: flex;
  background-color: #F7F5F6;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.box {
  height: 20px;
  width: 100px;

}

#blue {
  background-color: #33A8DD;
}

#orange {
  background-color: #F66632;
}

#teal {
  background-color: #2BCDC0;
}
