


.container { position: relative;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid blue;
}

.welcome_background {
border: 2px solid red;
}

.title1 {
    border: 2px solid green;
}

.title1backbar {
   background-color: lightskyblue;
        border: 2px solid brown;
    }


.title2 {
    
    border: 2px solid pink;
}
.title2backbar {
    background-color: orange;
    border: 2px solid brown;
}
.title3 {
    border: 2px solid orange;
}
.title3backbar {
    background-color: green;
    border: 2px solid brown;
}

.footer {
    background: rgb(194,194,194);
    width: 850px;
    height: 325px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.footer P {
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}




@media  (min-width: 576px) {
    body {
        background-color: lightblue;
        font-size:16px;
    }
    .title1 .title2 .title3 {
        width:500px;
        text-align:center !important;
        margin: 0 auto;
    }
}