#flexbox-1 {
  height: 450px;
  background-color: #24d8c3;
}

h1 {
  font-size: 60px;
}

#flexbox-2 {
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
}

.text {
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
  width: 250px;
}
