
@media (min-width: 992px){
body {
margin-top:0px;
margin-bottom: 0px;
}
div.topbox {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(55,204,191);
    height: 500px;
    color: whitesmoke;
}

div.topbox p {
font-size: 50pt;
font-family: "Roboto", sans-serif;
margin-top: 225px;
}

div.bottombox{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    Height: 400px;
    background-color: black;

}

div.content {
    text-align: center;
    width: 200px;
    height: 300px;
    Background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

div.barblue {
    width: 100%;
    height: 40px;
    background-color: rgb(59,169,219);
}

div.barorange {
    width: 100%;
    height: 40px;
    background-color: rgb(242,103,59);
}

div.bargreen {
    width: 100%;
    height: 40px;
    background-color:rgb(55,204,191);
}
}
@media (max-width: 992px){
    body {
        margin-top:0px;
        margin-bottom: 0px;
        }
        div.topbox {
            display: flex;
            justify-content: center;
            margin-top: 0px;
            margin-bottom: 0px;
            background-color:  rgb(59,169,219);
            height: 500px;
            color: whitesmoke;
        }
        
        div.topbox p {
        font-size: 50pt;
        font-family: "Roboto", sans-serif;
        margin-top: 225px;
        }
        
        div.bottombox{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            background-color: lightgrey;
        
        }
        
        div.content {
            text-align: center;
            width: 200px;
            Background-color: lightgrey;
            color: black;
            font-family: "Roboto", sans-serif;
            margin-bottom: 50px;
        }
        
        div.barblue {
            width: 100%;
            height: 40px;
            background-color: rgb(59,169,219);
        }
        
        div.barorange {
            width: 100%;
            height: 40px;
            background-color: rgb(242,103,59);
        }
        
        div.bargreen {
            width: 100%;
            height: 40px;
            background-color:rgb(55,204,191);
        }

}
