.header {
  float: left;
  width: 29%;
  heigh: 500%;
  background-color: red;
  min-width: 145px;
}






















section {
  float: left;
  width: 70%
  height: 100px
  background-color: blue
  min-width: 250px
}

  aside {
    float: left;
    width: 29%;
    heigh: 500%;
    background-color: red;
    min-width: 145px;

}
@media (max-width: 495px){
  section, aside {
    min-width: : 100%
  }
}
