div{
  width:80%;
  background-color:rgb(35, 52, 97);
  text-align: center;
}

h1{
  text-decoration:bold;
  text-decoration:underline;
  text-transform:uppercase;
}

p{
  line-height: 14.5px;

}
a:link{
  text-decoration:none;
  font-weight:bold;
}

img{
  height:50%;
}
