#background {
  background-image: url("/11Lesson/01Homework/img/hero.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 1.5;
}

#hero img {
  padding-top: 20px;
  opacity: 0.75;
}

.navigation {
  display: flex;
  text-align: center;
  border-bottom: solid white 1px;
}

.container {
  padding: 0;
  margin: 0;
  height: 55px;
}

nav {
  display: flex;
}

nav img {
  height: 30px;
}

.navigation  {
  color: white;
}

.navlink, i {
  padding: 20px;
  font-family: "Raleway";
  font-size: 11px;
}

.midtext {
  padding: 95px;
}

#lang {
  width: 93px;
  padding: 20px;
  font-size: 11px;
}

#logo {
   padding: 12px;
   padding-right: 300px;
}

#hero {
   text-align: center;
   font-family: "Raleway";
}

#hero p {
   font-size: 20px;
   color: white;
   line-height: 30px;
   font-family: 'Georgia';
   font-style: italic;
}

#hero #dave {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 12px;
  font-weight: lighter;
}

#twocol {
   padding: 0;
   font-family: 'Georgia';
   text-align: center;
}

h5 {
  color: #949494;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
}

h4 {
  font-size: 25px;
  padding-top: 20px;
}

#twocol p {
  color: #666666;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

#twocol img {
  height: 80px;
  width: 178px;
}

#bw {
  background-image: url("/11Lesson/01Homework/img/bw.jpg");
  background-size: cover;
  background-position: center;
  height: 640px;
  padding: 0;
  margin-top: 10px;
}

#herotwo {
  background: url("/11Lesson/01Homework/img/legs.jpg");
  height: 640px;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Georgia';
  text-align: center;
  padding: 100px 100px 250px 100px;
}

#herotwo h3 {
  font-size: 32px;
  font-style: italic;
  line-height: 40px;
  font-weight: 100;
  padding-bottom: 25px;
}

#herotwo p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
}

.bottles {
  text-align: center;
  height: 658px;
}

.wine {
  display: flex;
  flex-direction: column;
}

.wine h4 {
  font-family: 'Georgia';
  font-style: italic;
}

.wine h5 {
  font-family: 'Georgia';
  font-size: 16px;
  color: black;
  line-height: 28px;
  padding-bottom: 20px;
}

.btn {
  background-color: #91a05c;
  font-family: "Raleway";
  width: 150px;
  height: 40px;
  border: solid #91a05c 1px;
  border-radius: 0;
  align-self: center;
  margin-bottom: 50px;
  padding-top: 9px;
}

.btn a {
  color: white;
}

.btl {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 408px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: solid #CCCCCC 1px;
}

#btlone {
  background-image: url("http://foundry.mediumra.re/img/wine3.jpg");
}

#btltwo {
  background-image: url("http://foundry.mediumra.re/img/wine6.jpg");
}

#btlthree {
  background-image: url("http://foundry.mediumra.re/img/wine7.jpg");
}
