h2 {
	text-align: center;
  font-family: 'Taviraj', serif;
	font-size: 30px;
}

div {
  margin: 0 auto;
	border: 1px solid;
  padding: 20px;
	width: 30%;
	background-color: #F1F1F1;
  font-family: 'Taviraj', serif;
}

label, input {
	display: block;
	font-family: 'Taviraj', serif;
	font-size: 18px;
	font-weight: bold;
}

#checkbox {
  padding: 15px 10px;
  display: inline-block;
  justify-content: space-around;
  background-color: white;
	font-size: 15px;
}
