
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  /*font-family: "Open Sans";*/
  font-size: 14px;
}

form {
  padding: 20px;
  background: #716ca8;
  color: white;
  border-radius: 4px;
  width:500px;
  margin-left: 580px;
  display:block;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  box-sizing: border-box;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #553bab;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 10px;
}
form .error {
  color: #ff0000;
}

.article-reference {
  margin-top: 15px;
}
.article-reference a {
  color: black;
}
div input {
  display: inline;
  width:20px;
  height:15px
}

.service, .comments{
  margin-top: 20px;
}

.comments{
  margin-bottom: 20px;
}

.reset{
  background-color: #8d85ad;
}
