
body{
  display: flex;
  align-items: center;
  }
  .container {
  width: 50%;
  /*border: 1px solid  blue;*/
  font-size: 10px;
}
textarea{
  width:50%;
  height:200px;
  /*border: 1px solid orange;*/
}
