.container {
    width: 600px;
    margin: 25px auto;
}

form {
    background: darkslategray;
    color: white;
    border-radius: 5px;
    padding: 20px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 0;
}

button {
    width: 25%;
    color: white;
    background: black;
    margin-top: 15px;
    height: 25px;
    line-height: 25px;
}   

label, range{
    margin-top: 25px;
}

#slider {
    margin-top: 50px;
}

h2 {
    text-align: center;
}

#email {
    margin-bottom: 25px;
}