body {
    background-image: url("./images/mountain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1000px;
    background-color: green;
}

header {
    width: auto;
    height: 150px;
}


.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

.mainnav {
    width: 400px;
    height: 50px;
    background-color: purple;
    float: right;
    margin-top: 40px;
}

