body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
    background-image: url("./images/mountain.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("./images/sq.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("./images/hm.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  

header {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: green;
}

/* body {
    background-image: url("./images/mountain.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: green;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 3px;
    margin-right: 40px;
    float: left;
}

.mainnav {
    width: 400px;
    height: 50px;
    background-color: purple;
    float: right;
    
}

#container {
    margin-left: auto;
    margin-right: auto;
    border-radius:
    width: 600px;
    height: 1000px;
    background-color: grey;
    opacity: 0.6;
    border-radius: 25px; 
} */