body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.logo { 
    width: 75px;
    height: 75px;
    margin-left: 3px;
    margin-top: 1px;
    float: left;
    
}

.logo:hover {
    width: 100px;
    height: 100px;
}

/* Navigation Menu */
nav {
    width: 300px;
    height: 50px;
    float: right;
    margin-top: 18px;
    margin-right: 3px;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 12px;
    text-shadow: black 1px 1px;
}

li a:hover {
    color: #A70D00;
}




/* Section Formatting */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("./images/mountain.jpg");
    min-height: 700px;
  }
  
  .bgimg-2 {
    background-image: url("./images/hm.jpg");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("./images/sq.jpg");
    min-height: 500px;
  }

  .bgimg-4 {
    background-image: url("./images/pn.jpg");
    min-height: 500px;
  }

  .bgimg-5 {
    background-image: url("./images/mountain.jpg");
    min-height: 550px;
  }

  /* Home Page Content Formatting */
  .mainTitle {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 9px;
    opacity: 100%;
    text-shadow: black 2px 2px;
  }

  .subtitle1 {
    font-size: 25px;
    letter-spacing: 5px; 
    padding: 3px;
  }

  .subtitle2 {
      padding: 10px;
      text-align: center;
      font-size: 15px;
      color: #A70D00;
  }

  /* Section Content Formatting */
  .sectionTitle {
    background-color: #282E34;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #A70D00;
    text-shadow: black 2px 2px;
    opacity: 0.80;
  }

  .sectionDesc {
    position: absolute;
    left: 0;
    top: 25%;
    padding: 80px 5px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 6px;
    opacity: 100%;
    text-shadow: black 2px 2px;
  }

  /* Contact Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #A70D00;
    color: #282E34;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #282E34;
    color: #A70D00;
}

.container {
    background-color: transparent;
    padding: 20px;
    
}

.footer{
  background-color: #282E34;
  width: 100%;
  height: 60px;
  text-shadow: black 2px 2px;
  opacity: 0.80;
  padding-right: 50px;
}

.footer li a{
  color: #A70D00;
  font-size: 20px;
  transition: all ease-in-out 250ms;
}

.footer li a:hover{
  color: white;
}



