header {
  display: flex;
  justify-content: center;
  background-color: rgb(45, 203, 122);
  color: white;
  text-align: center;
  height: 350px;
  flex-direction: column;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  height: 450px;
  font-family: sans-serif;
  ;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  width: 60%;
}

.sizing {
  width: 60%;
  height: 5%;
}

.coloring-blue {
  background-color: rgb(23, 165, 218);
}

.coloring-orange {
  background-color: rgb(230, 140, 34);
}

.coloring-aqua {
  background-color: rgb(82, 247, 164);
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 400px;
    background-color: lightblue;
  }
  p {
    color: black;
  }
  footer {
    background-color: #d6e2e6;
    flex-direction: column;
    height: 100%;
    color: black;
  }
}

@media (max-width: 767px) {}
