body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.heading {
  display: flex;
  height: 380px;
  justify-content: center;
  align-items: center;
  background-color: #24addb;
  font-size: 60px;
  font-weight: 100;
  color: white;
  flex-direction: column;
}

.heading > div > p {
  padding-left: 136px;
  padding-right: 136px;
}


.container {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  color: black;
  font-family: arial;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
}

.box {
  width: 232px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: serif;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 8px;
}

.box1 > div {
  background-color: #24addb;
  height: 30px;
}

.box2 > div {
  background-color: #f96706;
  height: 30px;
}

.box3 > div {
  background-color: turquoise;
  height: 30px;
}

@media (min-width: 767px) {
  .container {
    background-color: black;
    color: white;
  }

  .heading {
    background-color: turquoise;
  }

  .container {
    flex-flow: row;
    justify-content: space-around;
  }
}
