#top {
  border: 2px solid red;
}

#title {
  border: 2px solid red;
}

#cart {
  border: 2px solid red;
}

#store {
  border: 2px solid red;
}

.items {
    border: 2px solid red;
}

.pic {
  border: 2px solid red;
}

.item-name {
  border: 2px solid red;
}

.description {
  border: 2px solid red;
}
