li {
  list-style-type: circle;
  margin-left: 15px;
}
ul {
  margin: 10px;
}
button {
  border: 1px groove red;
  background-color: lightgrey;
  padding: 2px;
}
button[onclick*="add"]{
  border: 2px groove green;
  background-color: lightblue;
}
