body {

}

header {
  background-color: #EAE8EB;
  width: 100%;
  padding: 20px 0 20px 60px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#items {

}

h1 {
  font-weight: 700;
  border-bottom: 1px lightgrey solid;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
}

ul {
  list-style: none;
  border-top: 1px lightgrey solid;
  width: 600px;
  padding-left: 0;
}

li {
  border-bottom: 1px lightgrey solid;
  width: 500px;
  height: 400px;
  padding: none;
}

button {
  margin: 5px 0;
}

#item1 {

}

#item2 {

}

#item3 {

}

#item4 {

}

#add {

}

img {
  height: 145px;
  width: auto;
}

#img1 {
  display: none;
}

p {
  font-size: 14px;
}

/* shopping cart */

aside {
  background-color: #e6eaf2;
  width: 300px;
}

#carttitle {
  text-align: center;
}
