@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');	
	
	* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	}
	
	.border {
	border: 1px solid red;
	}
	.border2 {
	border: 1px dotted blue;
	}
	.border3 {
	border: 3px solid pink;
	}
	.border4 {
	border: 1px solid violet;
	}
	
	body {
	color: #4c4e4d;
	background-color: #fcfdff;
	font-family: 'Roboto Mono', monospace;
	}
	
	ul {
	list-style: none;
	}
	a {
	text-decoration: none;
	}
