.wireframe {	
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	}
	.flex-column {
	display: flex;
	flex-direction: column;
	}
	.flex-row {
	display: flex;
	flex-direction: row;
	}
	.maxWidth__1024 {
	/* border: 5px solid black; */
	max-width: 1024px;
	width:100%;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	position: relative;
	}
	
	/* //////  NAVIGATION ///// */
	
	nav {
	height: 4em;
	width: 100%;
	max-width: inherit;
	justify-content: center;
	align-items: center;
	position: fixed;
	}
	.navigation__content {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	}
	
	.navigation__content ul {
	display: flex;
	}
	
	.navigation__content ul li {
	padding: 0 1.4em 0 0;
	font-size: 0.9em;
	}
	
	.navigation__content ul li a {
	color: #4c4e4d;
	}
	.nav-link:active {
	color: #FF806F;
	}
	
	.nav-link:hover {
	color: #FF806F;
	border-bottom: 2px solid #4c4e4d;
	cursor: pointer;
	}
	
	/* /////  HERO  //////*/
	.hero {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}
	.hero__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.hero__header h1 {
	font-size: 64px;
	}
	.hero__header h3 {
	font-size: 34px;
	color: rgba(76, 78, 77, .8);
	}
	
	/* //// SERVICES //// */
	.services {
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
	.services__header {
	text-align: center;
	padding: .5em 1em;
	}
	.services__container{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	}
	.service {
	width: 300px;
	height: 300px;
	box-shadow: 4px 7px 9px 1px rgba(76, 78, 77, 0.2);
	}
	.service__header {
	padding: .5em 1em;
	}
	.service__body {
	height: auto;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 1em;
	}
	.service__body p{
	font-size: 12px;
	}
	
	footer {
	height: 4em;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	}
	footer p {
	}
