div.wrapper {
  nav.navbar {
    a.navbar-brand {
      img {
        width: 200px;
      }
    div.collapse {
      div.navbar-nav {
        display: flex;
        justify-content: flex-end;
        a:hover {
          color: #71B045;
        }
      }
    }
    }
  }
  div.search-bar {
    display: none;
  }
  div.content {
    div.image {
      padding-top: 40px;
      padding-left: 20%;
      padding-right: 20%;
      img {
        max-width: 350px;
      }
    }
  }
}
