div.wrapper {
  nav.navbar {
    a.navbar-brand {
      img {
        width: 200px;
      }
    div.collapse {
      div.navbar-nav {
        display: flex;
        justify-content: flex-end;
        a:hover {
          color: #71B045;
        }
      }
    }
    }
  }
  div.search-bar {
    display: none;
  }
  div.content {
    div.first {
      padding-left: 10px;
      padding-right: 10px;
      div.image {
        text-align: center;
        img {
          max-width: 350px;
        }
      }
      div.text {
        p:first-child {
          font-size: 1.2em;
        }
      }
    }
    // div.image {
    //   padding-top: 40px;
    //   padding-left: 20%;
    //   padding-right: 20%;
    //   img {
    //     max-width: 350px;
    //   }
    // }
    // div.text {
    //   padding-left: 10px;
    //   padding-right: 10px;
    //   p:first-child {
    //     font-size: 1.2em;
    //   }
    // }

    div.sign-up {
      padding-left: 10px;
      padding-right: 10px;
      div.buttons {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        button {
          display: inline-block;
          margin-right: 2px;
          width: 49%;
          height: 40px;
          background-color: #CEE3C4;
          color: white;
          border-radius: 3px;
        }
        button:first-child {
          background-color: #63AD41;
        }
      }
      p {
        font-size: 0.7em;
        margin-bottom: 0;
      }
      p:first-of-type {
        margin-top: 30px;
        font-size: 1.3em;
        margin-bottom: 3px;
      }
      input {
        display: block;
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
      }
      div.acceptance {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        input {
          display: inline;
          width: 40px;

        }
        span {
          padding-top: 7px;
        }
      }
      button:last-of-type {
        color: white;
        width: 100%;
        height: 40px;
        background-color: #63AD41;
        transition: all 0.5s;
      }
      button:last-of-type:hover {
        background-color: #285A17;

      }
    }
    div.why {
      div.head-text {
        margin-top: 30px;
        text-align: center;
        p:first-child {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
      div.subgroups {
        div.sg {
          margin-top: 20px;
          text-align: center;
          img {
            width: 80px;
          }
        }
      }
    }
    div.learn {
      text-align: center;
      background-color: #F0F4F6;
      p {
        margin-top: 30px;
        padding-top: 30px;
        font-size: 1.5em;
      }
      button {
        height: 40px;
        width: 60%;
        background-color: #63AD41;
        color: white;
        transition: all 0.5s;
      }
      button:hover {
        background-color: #285A17;
        margin-bottom: 30px;
      }
      img {
        width: 80%;
      }
    }
  }
  footer {
    padding-top: 30px;
    background-color: #414042;
    color: white;
    div.links {
      a {
        color: white;
        text-decoration: none;
      }
      div.cloud, div.community {
        text-align: center;
      }
    }
    div.icons {
      text-align: center;
      span {
        margin-left: 30px;
        margin-right: 30px;
        display: inline-block;
        font-size: 2em;
      }
    }
    p {
      margin-top: 20px;
      text-align: center;
    }
  }
}
@media (min-width: 992px) {
  div.wrapper {

    div.search-bar {
      display: block;
      width: 100%;
      input {
        height: 40px;
        width: 80%;
      }
      button{
        height: 40px;
        width: 19%;
        background-color: #63AD41;
        color: white;
        transition: all 0.5s;
      }
      button:hover {
        background-color: #2F631C;
      }
    }
    div.content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      div.first {
        grid-column: 1/2;
      }
      div.sign-up {
        grid-column: 2/3;
      }
      div.why {
        grid-column: 1/3;
        div.subgroups {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
      div.learn {
        grid-column: 1/3;
      }
    }
    footer {
      div.links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        div.cloud {
          margin-right: 50px;
        }
        div.community {
          margin-left: 50px;
        }
        ul {
          list-style-type: none;
        }
      }
    }
  }
}
