body {
  font-family: helvetica;

}




.grid-container1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas: "box1" "box2" "box3" "box4" "box5" "box6" "box7" "anaconda-cloud" "community" "social-media" "footer"
}


/* .box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style: solid;
  border-width: 2px;
} */

.box1 {
  grid-area: box1;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.box2 {
  grid-area: box2;
  /* display: flex;
  flex-wrap: wrap; */
}

.box3 {
  grid-area: box3;
  /* display: flex;
  flex-wrap: wrap; */
}

.box4 {
  grid-area: box4;
  display: flex;
  flex-wrap: wrap;
}

.box5 {
  grid-area: box5;
  /* display: flex;
  flex-wrap: wrap; */
}

.box6 {
  grid-area: box6;
  /* display: flex;
  flex-wrap: wrap; */
}

.box7 {
  grid-area: box7;
  /* display: flex;
  flex-wrap: wrap; */
}

.box8 {
  grid-area: box8;
  /* display: flex;
  flex-wrap: wrap; */
}

.box9 {
  grid-area: box9;
  /* display: flex;
  flex-wrap: wrap; */
}

.box10 {
  grid-area: box10;
  /* display: flex;
  flex-wrap: wrap; */
}

.anaconda-cloud {
  grid-area: anaconda-cloud;
  /* display: flex;
  flex-wrap: wrap; */
}

.community {
  grid-area: community;

}

.social-media {
  grid-area: social-media;

}

/* .box img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0px 0px 0px 0px;
} */

.cloud-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1 h2{
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box1 p {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 3.2px 0px 8px 0px;
  color: #222222;
  text-align: center;
}

.box3 h1 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  color: #222222;
  text-align: center;
}

.box3 h2 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box4 h4 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box4 p {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  text-align: center;
}

.box5 h4 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box5 p {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  text-align: center;
}

.box6 h4 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box6 p {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  text-align: center;
}

.box7 h4 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-align: center;
}

.box7 p {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  text-align: center;
}

.box img {
  max-width: 80px;
  max-height:  80px;
}



.anaconda-cloud {
  background-color: #414042;
  font-family: helvetica;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  color: #d3d6d8;
  padding: 20px;
}

.anaconda-cloud h3 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #d3d6d8;

}

.community {
  background-color: #414042;
  font-family: helvetica;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  color: #d3d6d8;
  padding: 20px;
}

.community h3 {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #d3d6d8;
}

.social-media {
  background-color: #414042;

}

.social-media ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;


}

.social-media li{
  padding 10px;
}


.social-media li a{
  color: white;
}

footer p {
  background-color: #414042;
  font-family: helvetica;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  color: #d3d6d8;
  padding: 20px;
}



@media (min-width: 576px) {
  /* .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (13, 1fr);
    grid-gap: 10px;
    grid-template-areas: "head head" "box1 box1" "box1 box1" "box1 box1" "box2 box3" "box2 box3" "box4 box4" "box5 box5" "box6 box6" "box7 box7" "box8 box8" "box9 box9" "box10 box10"
  } */



/* Medium and up (Tablets) */

@media (min-width: 768px) {
  /* .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid=gap: 10px;
    grid-template-areas: "head head head head" "box1 box1 box2 box2" "box1 box1 box2 box2" "box3 box3 box4 box5" "box3 box3 box4 box5" "box3 box3 box6 box6" "box7 box8 box9 box10" "box7 box8 box9 box10" "box7 box8 box9 box10"
  } */



}

/* Large and up (Desktops) */

@media (min-width: 992px) {}

/* Extra Large and up (Wide Screen Desktops) */

@media (min-width: 1200px) {}
