body {
  background-image: url(../img/desk.jpeg);
}

.header {
  font-size: 45px;
  height: 30vh;
  font-family: 'Charmonman', cursive;
  font-family: 'Lobster', cursive;
}

.hero {
  background: gray;
  width: 100vw;
  text-align: center;
  font-size: 75;
  font-family: 'Charmonman', cursive;
  font-family: 'Lobster', cursive;
  border: 2px solid black;
}

.contact {
  display: grid;
  grid-template-rows: 350px 300px
}









