body {
    color: rgb(165, 23, 165);
    background-color: rgb(231, 227, 227);
    text-align: center; 
    margin-top: 21px;  
}
h1 {
    text-align: left;
    margin-left: 50px;
}
h3 {
    text-align: left;
    margin-left: 75px;
    margin-top: -25px;
}
h4 {
    margin-left: 150px;
}
.rs-text {
    display: table-cell;
    height: 1270px; 
    width: 350px;
    float: left;
    margin-left: 300px;
    border-radius: 2%;
    background: rgb(196, 192, 192);
    color: rgba(75, 117, 180, 0.842);
    font: 18px "comic sans ms", arial; 
}
.rs-text1 {
    display: table-cell;
    height: 1800px;
    width: 350px;
    float: right;
    margin-right: 250px;;
    text-align: center;
    vertical-align: middle;
    border-radius: 2%;
    background: rgb(196, 192, 192);
    color: rgba(75, 117, 180, 0.842);
    font: 18px "comic sans ms", arial; 
}
.rs-text2 {
    display: table-cell;
    height: 520px;
    width: 350px;
    float: left;
    margin-left: 300px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2%;
    background: rgb(196, 192, 192);
    color: rgba(75, 117, 180, 0.842);
    font: 18px "comic sans ms", arial;
}
.footer-text {
    text-align:  right;
    color: rgba(75, 117, 180, 0.842);
    height: 50px;
    width: 225px;
    border-radius: 2%;
    background-color: rgb(196, 192, 192);
    margin-top: 1850px;
    margin-left: 120px;
    padding-left: 880px;
}
table {
    margin-left: -800px;
    text-align: center;
}