body {
  margin: auto 0;
}

h1 {
  margin: 10px 0px 0px 225px;
  font-size: 45px;
}

div[data-cell] {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
  margin: 10px 0px 0px 180px;
}

button {
  border: 2px solid blue;
  border-radius: 5px;
  width: 150px;
  height: 100px;
  background-color: blue;
  color: white;
  margin: 10px 0px 20px 225px;
  font-size: 25px;
}
