body{
  text-align: center;
  background-image: url("http://cdn.wallpapersafari.com/15/76/o5WeED.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  font-size: 65px;
  text-align: center;
  border: 3px groove #C2C135;
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}

.row{
  display:flex;
  justify-content: center;
  color:black;
  font-size: 48px;

}

#clear{
  background-color: #C8A02F;
  border: none;
  font-family: 'Permanent Marker', cursive;
  margin-top: 20px;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 24px;
  border: 3px groove #C2C135;

}
