main {
  height: 675px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) ),
    url(../img/wine-bg.jpg);

}

.my-navbar {
  background: none;
  height: 10%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my-navbar a {
  /*add in font color*/
}

.opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5%;
  color: white;
  font-family: 'Playfair Display', serif;

}

.initial {
  margin: 0 auto;
}

.opener > h3 {
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

.subleft {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.subleft > img, h3, p {
  align-self: center;

}

.subleft > img {
  width: 20%;
  margin: 25% auto 0;
}

.subleft > h3 {
  width: 80%;
  margin: 10% auto 0;
  font-family: 'Playfair Display', serif;
  font-size: 220%;
  line-height: 150%;
}

.subleft > p {
  width: 85%;
  margin: 15% auto 0;
  color: #9E9E9E;
  font-size: 130%;
  line-height: 175%;
  font-family: times, serif;
}

.subleft >  .signature {
  width: 40%;
  margin-top: 3%;
}

.subright > img {
  margin-right: 0;
/*Not changing the margin, TODO*/
}

.third {
    height: 675px;
    background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) ),
      url(../img/wine13.jpg);
    color: white;

}

.third-quote {
  text-align: center;
}

.third-quote > h3 {
  margin: 30% auto 0;
  font-family: 'Playfair Display', serif;
  font-size: 220%;
  line-height: 150%;
}

.third-quote > p {
  margin: 3% auto;
  font-size: 130%;
  line-height: 175%;
  font-family: times, serif;
}

.product-display {
  /*larger than other sections*/
  height: 760px;
}

.winebottles, .tastings{
  height: 600px;
  margin: 0 auto;
}

.product-window {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #9E9E9E;
}

.product-desc {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding: 0 5%;
}

.product-desc > h5 {
  margin: 9% auto;
  font-size: 180%;
  font-weight: bold;
}

.product-desc > button {
  display: inline-block;
  margin: 1% auto;
  width: 30%;
  background-color: #92A15D;
  font-family: sans-serif, arial;
  font-style: normal;
  color: white;
  font-kerning: normal;
  border: none;
}

.recognitions {
  color: white;
  margin-top: 3%;
  height: 675px;
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) ),
    url(../img/wine-grapes.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.medal-container {
  height: 675px;
}

.title-line {
  margin: 5% auto;
  text-align: center;
}

.title-line > h3 {
  color: white;
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.medal-wrapper {
    margin: 17% auto;
}

.medal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medal > img {
  height: 250px;
  width: 250px;
}

.medal-desc > h6 {
  margin-top: 15%;
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
  line-height: 150%;
}

.tastings-left {
  height: 675px;
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) ),
    url(../img/wine15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tastings-right {
  color: black;
  font-family: 'Playfair Display', serif;
}

.tastings-info {
  border-bottom: solid 1px #9E9E9E;
  margin: 30% auto 2% auto;
  padding-bottom: 5%;
}

.tastings-info > h6, .sign-text > h6{
  font-size: 190%;
  font-style: italic;
}

.tastings-info > p, .tastings-address {
  color: #9E9E9E;
  font-size: 110%;
}

.physical, .electronic {
  line-height: 200%;
}

.electronic {
  font-family: sans-serif, arial;
  font-size: 80%;
}

.sign-up {
  margin-top: 5.8%;
  height: 400px;
  background-color: #292929;
  color: white;

}

.sign-text {
  text-align: center;
}

/*h6 is defined above with .tastings-info*/
.sign-text > h6{
  margin: 20% auto 3%;
  font-family: 'Playfair Display', serif;
}

.capture {
  display: flex;
  justify-content: space-around;
}

.capture > button {
  padding: 3% 12%;
  border: solid 1px white;


}

.blank {
  background: none;
}

.green {
  background-color: #91A05C;
}
