body {
  margin:80px;
}


head {

}
    
html {
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, .6)), url(/img/coastline.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.column-layout {
    max-width: 100%;
    margin: 10px auto 0 0;
    line-height: 1.65;
    padding: 0px 0px 0px 0px;
    display: flex;
    margin-bottom: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    border-color: solid 2px #fff;
    font:;
    text-align: center;
    
}

.main-column {
    box-sizing:border-box;
    margin:0px 0px 0px 0%;
    padding: 0px 0px 0px 0px;
    flex-basis: 100%;
    border-radius: 20px;
    background-color:; 
    margin-right: 10px;
    color:#3a3a48;
    font-size: 150px;
    font-weight:;
    min-width: 400px;
}

.sidebar-one {
  flex: 1;
  order:;
  flex-basis: 40%;
  margin: auto;
  border-radius: ;
  padding;
  background-image:;
  font-size: 40px;
  color: #3a3a48;
  text-align: center;
}

/*/////////////////////////////*/
/* Third Row "Links" / "Works" */
/*/////////////////////////////*/

.fixed-size-container {
  max-width: 1400px;
  margin: 20px auto 0 auto;
  background-color:;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: darkslategrey;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
    .call-outs-container,  {   
    display: flex;
    justify-content: space-between;
}
}

@media (max-width: 650px) {
    .main-column{
        font-size: 90px;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .main-column{
        font-size: 90px;
        text-align: left;
    }
}

.call-out:nth-child(1) {background-color: #1e505d;}
.call-out:nth-child(2) {background-color: #224d27;}
.call-out:nth-child(3) {background-color: #241626;}


    /* MIN WIDTH for green box */