header {
  background-color: blue;
  padding:20px;
  font-family: arial
  overflow: auto;
}

nav {
  background-color: skyblue;
  padding:20px;
}

h1 {
  font-size: 50px;
}

a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

section {
  background-color: blue;
  float:right;
  width: 70%;
  padding: 20px;
  margin: 20px;
  min-width: 400px;
  overflow: auto;
}

img {
  border-radius: 8px;
  width:20%;
  height:20%;
  float: right;
}

article {
  background-color: skyblue;
  margin: 20px;
  padding: 10px;
  min-width: 350px;
  overflow: auto;
}
