header {
  background-color: blue;
  padding: 20px;
  font-family: arial; 
  overflow: auto;
  display: flex;
  text-align: center;
}

nav {
  background-color: skyblue;
  padding: 20px;
  display: inline-flex;
}

h1 {
  font-size: 50px;
}

a {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

section {
  background-color: blue;
  float: right;
  width: 70%;
  padding: 20px;
  margin: 20px;
  min-width: 400px;
  overflow: auto;
}

img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  word-wrap: break-word;
}

article {
  background-color: skyblue;
  margin: 20px;
  padding: 10px;
  min-width: 350px;
  overflow: auto;
  display: flex;
}
