.columns {
  display: flex;
}

.column {
  flex: 1;
  background: #eee;
  border: 5px solid #ccc;
  padding: 20px;
  flex-direction: column;
}

.main-column {
  flex: 2;
}

.article-content{
  flex: 1;
}


header {
  background-color: pink;
  width: 1000px;
  display:inline-block;
  border-style: solid;
  padding:10px 0px;
  margin:10px 0px;
}

header h1 {
  text-align: center;
  font-family: Helvetica;
}

nav {
  background-color: orange;
  width: 980px;
  border-style: solid;
  float:left;
  margin: 5px;

}

nav p {
  text-align: center;
  font-family: Helvetica;
  /*justify-content: space-between;*/
}

main {
  background-color: purple;
  width: 1000px;
  display:flex;
  border-style: solid;
  margin:5px 0px;
}

main p {
  text-align:center;
}

article {
  border: solid;
}


a {
  align: center;
  padding: 100px;
}

body {
  clear:both;
}

section {
  background-color: green;
  border-style: solid;
  padding-bottom: 50px;
  margin: 5px;
  flex:2;
}

aside {
  background-color: yellow;
  border-style: solid;
  margin: 5px;
  flex: 1;
  align-content: center;
}

aside img {
  width:140px;
  padding:40px;

}

footer {
  background-color: gray;
  width: 1000px;
  border-style: solid;
  float: left;
  align: center;
  padding-top: 20px;
  clear:both;
}

footer p {
  text-align: center;
}

@media query (max-width:495px){
  section, aside {
    min-width:100%;
  }
}
