.container {
    height: 50px;
    width: 30px;
    width: 100%;
    padding: 250px 0;
    display: flex;
    background-image: url(../img/image-main.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  position: center;
    font-size: 50px;
    font-family: fantasy;
    color: black;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    display: flex;

  justify-content: space-around;

}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
    margin-left: 50px;
     text-wrap: normal;

}
h2 { text-align: left;
  font-size: 20px;
  font-family: georgia;
  text-wrap: normal;
}
.box{ background-color: grey;
display: flex;
width: auto;

height: 300px;
justify-content: space-between;
align-items: flex-start
;

}
.first{
  flex:1;
}
.second{
  flex:1;
}
.third{
  flex:1;
}
.fourth{
  flex:1;
}

.test{width: 900px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
}
.one{ flex: 1;}
.two{flex: 1;}
