html {
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
}

#logo {
  float: left;
  padding: 10px;
  color: white;
}

#nav-links {
  float: right;
  padding: 10px;
}

#nav-links a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

nav {
  height: 40px;
  width: 100%;
  background-color: #4CAF50;
}

#hero {
  background-image: url("../img/pecanpie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

#hero-text {
  text-align: center;
  padding-top: 200px;
  color: white;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

#hero-text h1 {
  font-size: 48px;
  color: white;
}

/*#hero-text button {
  margin-top: 25px;
  background-color: red;
  width: 150px;
  height: 50px;
  border: 1px solid black;
}*/

#about {
  width: 100%;
  padding: 25px;
}

#about img {
  height: 250px;
  float: left;
  margin-right: 25px;
}

#about-text {
  text-align: center;
}

#about-text h2  {
  font-size: 36px;
  padding-bottom: 25px;
}

#about-text p {
  padding: 0 25px;
  text-align: left;
}

#specialties {
  background-color: lightgrey;
  width: 100%;
  padding-top: 30px;
}

#specialties div {
  float: left;
  height: 400px;
  width: 200px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  margin: 0 auto;
}

div#pies {
  padding-left: 70px;
}

#specialties p, #specialties h2 {
  width: 170px;
  margin: 15px;
}

#specialties h2 {
  font-weight: bold;
}

#specialties p {
  text-align: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

#blog {
  width: 100%;
  height: 275px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

#blog-area {
  margin: 0 auto;
  width: 800px;
}

.blog-post {
float: left;
margin: 50px;
}

#blog img {
  height: 150px;
  width: 250px;
}

#blog h4 {
  font-size: 14px;
  text-align: center;
}

#blog p {
  font-size: 8px;
  float: right;
}

#contact {
  background-image: url("../img/dahla-bakery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
}

#contact-area {
  text-align: center;
  padding-top: 100px;
  color: white;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

#contact-area h1 {
  font-size: 48px;
  padding: 25px;
  text-shadow: 1px 1px black;
}

button {
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 25px;
   cursor: pointer;
}

img {
  border: 1px solid black;
}
