body {
  background-color: skyblue;
  padding: 25px 25px 25px 25px;
  font-family: 'Avenir', Helvetica, serif;
}

#nav-container {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  list-style: none;
}

.title {
  display: flex;
  justify-content: flex-start;
  padding-right: 600px;
}

#container-one {
  background-color: lightgray;
  padding: 50px 50px 50px 50px;
}

#title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#container-two {
  display: flex;
  justify-content: space-around;
  padding: 50px 50px 50px 50px;

}
.logo {
  padding-right: 50px;
}

#container-two-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

#container-three {
  padding: 50px 50px 50px 50px;
  background-color: lightgray;
}

#icons {
  display: flex;
  justify-content: space-between;

}


#container-four {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 25px;
}

#screenshot-one {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding-bottom: 50px;
}

#screenshot-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
}

#container-five {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

#text-five {
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}
