
head{
  margin:60px;
  width:auto;
  height: auto;
  padding: 40px;
}
body{
    width: 960px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 40px;
}
.heading{
  height: auto;
  width: 960px;
  margin: 0 auto;
  padding: 50px;
}

.title{
  float:left;
}

.nave{
  float: right;
  padding: 10px;
}

#opcity {
  text-align: center;
  background-image: url("../img/opcity.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 960px;
  height: 350px;
  font-size: 40px;
  padding: 20px;
}

.columns{
  display: flex;
  flex-direction: row;
  padding: 40px;
  width: 960px;
}

.column{
  flex:2
}

.main-column{
  flex:1
}

.fours{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 300px;
  background-position: center;
  background-color: lightgray;
  padding: 40px;.
  margin:auto;
}

.four{
  flex:1;
  padding-right: 6px;
  width: 60%;
}

.fourarticle{
  flex:1;
  padding-right :6px;
  width: 100%;
  float: left;
  justify-content: flex-start;
  }

.twos{
  display:flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.two{
  flex:1;
  padding:20px;
  justify-content: space-between;
}

.twoarticle{
  flex:1;
  justify-content: space-between;
}

#foot{
  text-align: center;
  background-image: url("../img/foot.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 960px;
  height: 200px;
  font-size: 40px;
  padding: 20px;
}
