.wrapper{
  width: 600px;
  background: lightcoral;
  margin: 0 auto 0 auto


}

.heading{
  height: 100px;
  background: firebrick;
  padding: 20px;
  text-align: left;

}

.content{
  min-height: 400px;
  background: indianred;
  width: 600px;
  float: left;
  text-align: center;
  color: white


}
.sidebar{
  width: 600px;
  float: right;
  background:darksalmon;
  height: 300px;



}
.footer{
  clear: both;
  background: salmon;
  height: 40px;
  color: white;
  text-align: center;
  padding: 10px;

}
#carp {
  height:100px;
}
.nav{
  background-color: darkred;
  color: white;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
  height: 50px;

  }

  li {
  display: inline-block;
  padding: 0 25px 0 25px
  }

  a{
    text-decoration: none;
    color: white;
  }
a:hover {
  color: red
}
html {
  background: brown;
  background-repeat: no-repeat;

}



.info{
  width: 600px;
  float: right;
  background:indianred;
  height: 300px;
  text-align: center;
  color: white

}
  #flexbox {
    display: flex;
    background-color: indianred;
    height: 100px;
    width: 300px;
    justify-content: center;
    align-items: center;

    /* enter code here  */

  }

  .circle {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  #salmon {
    background-color: darksalmon;



  }

  #yellow {
    background-color: brown;



  }

  #red {
    background-color: red;



  }
