html {
  max-width: 70%;
  margin: auto;
  margin-top: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav a {
  margin: 20px;
  font-size: 1.2em;
}

#paul {
  background-image: url(../img/paulpiano.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 10px;
}

#paul a {
  text-decoration: none;
}

#paul h1 {
  color: white;
  font-size: 3.7em;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  text-shadow:
    -1px -1px 0 #4B1E78,
    1px -1px 0 #4B1E78,
    -1px 1px 0 #4B1E78,
    1px 1px 0 #4B1E78;
}

/*combined subtitle and button because I'm a lazy bastard*/
#paul h3 {
    position: absolute;
    margin-top: 15px;
    left: 51%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #4B1E78 10%, #4B1E78 90%);
    color: white;
    padding: .5em 1em;
    border: solid;
    border-color: white;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-weight: 300;
}

#alicia {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#alicia p {
  padding-left: 15px;
  font-size: 1.4em;
}

#space {
  display: flex;
  background-color: #4B1E78;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin: 20px auto;

}

.row {
  width: 20%;
  align-items: center;
  color: white;
  padding: 10px;
}
