body {
    font-family: Georgia;
}
section {
    height: 740px;
}
.white {
    color: #fff;
}

.white h3 {
  font-style: italic;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.home {
    background-image: url("../img/wine-bg.jpg");
    background-position: 10% 50%;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #DADADA;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.home img {
    height: 82vh;
    opacity: 0.75;
    padding: 80px;
}
ul {
    list-style-type: none;
}

.about {
    height: 640px;
}
.signature {
    height: 20%;
    width: 40%;
}
.powerwash {
    background-image: url("../img/wine16.jpg");
    background-position: 10% 50%;
    background-size: cover;
}
.testimonial {
    background-image: url("../img/wine13.jpg");
    background-position: 10% 50%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #DADADA;
}

.testimonial address {
  font-style: italic;
}

.productbox {
  text-align: center;
}

.productbox img {
  height: 450px;
  margin: 0 auto;
}

.productbox hr {
  margin-top: 0;
}

.productbox h1 {
  font-size: 28px;
  font-style: italic;
  padding-top: 5%;
}

.productbox p {
  padding-top: 5%;
}

.productbox a {
  background-color: #91a05c;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  padding: 4% 12%;
  text-decoration: none;
  text-transform: uppercase;
}

.productlink {
  margin: 10% 0 5%;
}

.medals {
    background-image: url("../img/wine12.jpg");
    background-position: 10% 50%;
    background-size: cover;
}

.medals img {
    height: 210px;
    width: 210px;
}

.medals h1 {
  font-color: black;
}
.contact img {
    height: 720px;
}

.contact address {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.contact h2 {
  font-style: italic;
}

.pour {
    background-image: url("../img/wine15.jpg");
    background-position: 10% 50%;
    background-size: cover;
}
footer {
    background-color: #292929;
    height: 450px;
}
footer input {
}
