/*-----------HOME---------------*/
#brand {
  font-family: 'Share Tech Mono', serif;
}

nav {
  font-family: 'Share Tech Mono', serif;
  font-size: 18px;
}

footer {
  text-align: center;
  font-family: 'Share Tech Mono', serif;
  padding-top: 50px;
}

#home {
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  text-align: center;
}

.parallax-window {
  min-height: 250px;
  background: transparent;
  padding-top: 80px;
}

/*-----------ABOUT---------------*/
#about {
  font-family: 'Share Tech Mono', serif;
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.parallax-window-about {
  min-height: 250px;
  background: transparent;
  padding-top: 80px;
}

.about-text {
  font-family: 'Avenir', serif;
  font-size: 18px;
}
