*, div, a, h1, h2, h3, h4, h5, p {
  font-family: 'Open Sans', sans-serif;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body{
  background-color: black;
}
/*HEADER*/

.header {
  height: 80px;
  width: 100%;
  float: left;

}

a.logo img{
  height: 90px;
  float: left;
}


nav{
  height: 90px;
  width: 40%;
  margin: 0 0 0 0;
  float: right;
}

.navlinks {
  font-family: 'Open Sans';
  float: left;
  text-align: center;
  text-decoration: none;
  padding-top: 33px;
  padding-right: 10px;
  float: right;
    color: white;
  font-weight: 600;
}

/*SPLASH*/

.splash {
  float:left;
  width: 80%;
  height: 400px;
  background-image: url("http://createdigitalmusic.com/files/2013/04/korg_volca.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 25px 10%;
}

.splashcurtain  {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=40);
  float: left;
  position: relative;
  margin: auto;
}

.splashcopy {
  width: 80%;
  height: 200px;
  /*border: 1px solid yellow;*/
  position: absolute;
  margin: 133px auto;

}

.splashcopy h1, h3, div.explore{
  font-family: 'Open Sans';
  color: white;
  line-height: 40px;
  text-align: center;
}

.splashcopy h1  {
  font-weight: 800;
  color: white;
}

.splashcopy h3  {
  font-weight: 300;
  color: white;
  font-style: oblique;
}

div.explore{
  border: 1px solid gray;
  border-radius: 1px;
  width: 100px;
  margin: 5% auto;
}

.explore a  {
  text-decoration:none;
  color: white;
}

/*PRIMER*/

.primer {
  float: left;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

div.primerimg {
  float: left;
  width: 40%;
  height: 250px;
  background-image: url("http://createdigitalmusic.com/app/uploads/2016/01/Lowres_Minilogue_Closeup1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
  margin-left: 5%;
}

.primercopy {
  float: left;
  width: 45%;
  height: 90%;
  text-align: justify;
  margin-top: 25px;
  margin-left: 2.5%;

  font-family: "Open Sans";
}

.primercopy h3  {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 55px;
  line-height: 20px;
  color: white;
}

.primercopy p{
  font-size: 12px;
  line-height: 20px;
  color: white;
}

/*FEATURE*/

.feature  {
  float: left;
  width: 100%;
  height: 350px;
}

/*.itemcontainer {
  float: left;
  width: 100%;
  border: 5px solid yellow;
}*/

.featureitem {
  float: left;
  width: 25%;
  height: 350px;
  /* margin: 0 8%; */
  padding: 15px 5%;
  text-align: center;
  font-family: "Open Sans";
  overflow: hidden;
  position: relative;
}

.featureitem img{
  /*padding: 10px -15%;*/
  position: absolute;
  margin: 0 -62.5px
}

article.featurecopy {
  width: 100%;
  height: 50%;
  margin-top: 142.5px;
}

.featureitem h4{
  font-weight: 600;
  padding-bottom: 15px;
  color: white;
}

.featureitem p{
  font-size: 12px;
  color: white;
}

/*NEWS - same dimensions as SPLASH!!!*/

.news  {
  float: left;
  width: 100%;
  height: 400px;

}

.newsitem {
  float: left;
  width: 50%;
  height: 350px;
  /* margin: 0 8%; */
  padding: 40px 5%;
  /*border: 1px solid pink;*/
  text-align: center;
  font-family: "Open Sans";
  overflow: hidden;
  position: relative;
}

.newsitem img {
  width: 80%;
  height: 50%;
  position: absolute;
  margin-left: -40%;

}

.newscopy {
  margin: 222.5px auto;
  color: white;
}

p.date {
  text-align: right;
  font-size: 10px;
  font-style: italic;
  margin-top: 10px;
}

/*FOOTER*/

.footer  {
  float: left;
  width: 100%;
  height: 350px;
  background: gray;

  /*border: 1px solid red;*/
}

.footer h1 {
  width: 100%;
  height: 50%;
  padding: 50px 10%;
  margin: 20px 0;
  font: 25px "Open Sans";
  text-align: justify;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;
  color: white;
}

.footerbutton {
  text-align: center;
  font-family: "Open Sans";
  width: 50%;
  height: 75px;
  float: left;
  margin-top: 30px

}

.footerbutton p{
  font: 20px "Open Sans";
  font-weight: 800;
  width: 50%;
  margin: 25px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 0;
  color: white;
}
