body{
  margin-top: 10px;
}

#top{
  background-image: url("../img/wine-bg.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:auto;
  height:650px;
  width 100%;
  background-blend-mode: multiply;
  background-color: #6E6E6E;
}

#top{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}

#top h1{
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: 200;
}

.quote{
  font-style: italic;
}

/*end of top section*/
#about img{
  float:center;
  background-repeat: no-repeat;
  background-size:auto;
  height:550px;
  width: 100%;
  display: block;
}

.writing{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 50px;

  width:100%;
}

.writing h2{
  padding: 40px 0px;
}

/*end of second section*/

#testimonial{
  background-image: url("../img/wine13.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:auto;
  height:650px;
  width 100%;
  text-align: center;
  background-blend-mode: multiply;
  background-color: #6E6E6E;
}

#testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonial h2{
  color:white;
  font-weight: 200;
  font-style: italic;
  padding: 0px 10px;
}

#testimonial p{
  color:white;
  font-size: 18px;
  padding: 0px 10px;
}

/*end of middle section*/
#selection img{
  width:60%;
}

#selection{
  text-align: center;
}

#selection a{
  border: 1px solid green;
  background-color: green;
  padding:0px 10px;
  color:white;
  text-decoration: none;
}

#selection h3{
  padding-bottom: 20px;
  font-family:helvetica-black;
  font-weight:bold;
}


.left{
  padding-bottom:20px;
}

.mid{
  padding-bottom:20px;
}

.right{
  padding-bottom:20px;
}

/*start of tablet*/

@media(max-width:1023px) and (min-width:768px){



}
