body {
    width: 95%;
    margin: 0 auto;
}

.bump {
    margin-bottom: 80px;
}

.container {
    margin: 0 0;
    width: 98%;
}

.guy img {
    position: relative;
    height: 500px;
}

.winery {
    height: 500px;
    z-index: -1;
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: darken;
}

.wine img {
    width: 200px;
}

#about h5, h1, p {
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    height: 100px;
}

#about h1 {
    font-size: 4em;
    text-align: center;
    color: white;
}

#about h6 {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    color: white;
}

#about p {
    font-size: .95em;
    width: 75%;
}

#testimonials {
    height: 500px;
    z-index: -1;
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: darken;
}

#testimonials h4, p {
    color: white;
    padding: 0;
    padding: 0 10%;
    margin: 0 auto;
}

#testimonials h4 {
    font-size: 1.8em;
    font-family: cursive;
    font-weight: bold;
    padding-bottom: 70px;
}

.wine {
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

.wine, .btn {
    margin-bottom: 20px;
}

.wine h4 {
    font-size: 1.5em;
    font-family: cursive;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
}
