body {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
#hero {
  background-image:url('../img/wine-bg.jpg');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin:0 auto;
  background-blend-mode: multiply;
  background-color: #D3D3D3;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
i{
  color: white;
  padding: 1%;
}
.navbar-nav {
  font-family: 'Raleway', sans-serif;
  float: right;
  font-size: 14px;
}
.navbar-default {
  background-color: white;
  color: black;
  border-color: white;
}
.logo {
  color: black;
  font-family: 'Raleway', sans-serif;
}
.logo-title {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
#logo {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 300px;
  margin-left: 35%;
  margin-top: 5%;
  opacity: 0.7;
  filter: alpha(opacity=50);
}
h2 {
  color: white;
  font-family: 'Slabo 27px', serif;
  font-style: italic;
  font-size: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
}
h3 {
  font-family: 'Slabo 27px', serif;
  font-style: italic;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
}
h4 {
  color: grey;
  font-family: 'Slabo 27px', serif;

}
h5 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.history {
  text-align: center;
  margin-top: 15%;
  font-family: 'Slabo 27px', serif;
  }
  p {
    font-size: 16px;
    color: grey;
    padding: 2% 0 2% 0;
    margin-left: 15%;
    margin-right: 15%;
  }

#signature {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 50px;
  margin-left: 40%;
}
#man {
  height: 700px;
  width: 100%;
}
#quote {
  background-image:url('../img/wine13.jpg');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin:0 auto;
  background-blend-mode: multiply;
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.bottle {
  height: 500px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
@media screen and (max-width: 768px){
  *[class*='col-xs']{
    padding-top: 10%;
    padding-bottom: 10%;
    }
  }
hr {
  margin-top: 0;
  border-color: #818181;
}
.wine-title {
  font-family: 'Slabo 27px', serif;
  font-style: italic;
  font-size: 28px;
  color: black;
  padding-top: 5%;
}
.wine-descrip {
  font-family: 'Slabo 27px', serif;
  font-style: italic;
  font-size: 16px;
  color: black;
}
.button {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  background-color: #909e64;
  color: white;
  padding: 2% 10% 2% 10%;
  font-size: 12px;
  font-style: bold;
  margin-top: 20%:
}
.button:hover {
  text-decoration: none;
  color: white;
}
#quote-text {
  color: white;
  font-size: 33px;
  font-family: 'Slabo 27px', serif;
}
#quote-p {
  color: white;
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  margin-left: 25%;
  margin-right: 25%;
}
