body {
  margin: 0 auto;
  text-align: center;
}

nav img {
  width: 20%;
}

.hero1 {
  width: 100%;
  height: 750px;
  background-image: url(../img/wine-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: none;
  color: white;
}

nav.navbar.navbar-inverse {
  margin: 0;
}

.hero1 img {
  width: 30%;
  margin-top: 50px;
}

#signature {
  width: 40%;
}

.second-column {
  height: 650px;
  background-image: url(../img/wine16.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
