body {
  background-color: black;
  color: #ffffff;
  background-image: url(../images/backgroundimage.jpg);
  background-size:100%;
}
                                                          /*HEADER*/
header {
  width:50%;
  margin:auto;
}

#Headerlogo {
  width:200px;
  float:left;
  margin:5px;
}

nav section {
  border: 4px outset rgb(91, 93, 110);
  margin-top:10px;
  margin-left:10px;
  padding:4px;
  font-size: 175%;
  position: relative;
  float:left;
  background-color: black;
}

nav section a {
  color:white;
  text-decoration: none;
}

nav section a:hover {
  animation-name: Fancy;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#PageTitle {
  text-align: center;
  font-family: garamond serif;
  font-size: 80px;
  text-shadow: 8px 8px black;
  margin:70px;
  border: 10px outset rgb(91, 93, 110);
  background-image: url(../images/seashellscan.jpg);
  background-size: 50%;
}
                                                          /*CONTENT*/
main {
  clear:both;
  margin: 30px 100px 30px 100px;
}

.Newspost {
  margin:5px;
  float:left;
}

.Newsimage {
  float: left;
  width: 500px;
  margin-right: 17px;
}

h1 {
  font-size: 40px;
  font-family: times;
  text-align: center;
  color:rgb(58, 76, 196);
  text-decoration: underline;
  margin: 5px;
  background-color: rgb(0, 0, 0);
}

article p {
  font-size: 20px;
  font-family: helvetica;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.73)
}

@keyframes Fancy {
  from {background-color: black; color: white}
  to {background-color: lightblue; color:black}
}
