body {
  width: 75%;
  margin: auto;
  font-family: arial;

}

header {
  width: 100%;
  height: 10px;
  margin-bottom: 25px;
}

header h1 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

header nav {
  float: right;
  margin-top: 5px;
}



nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: light;
  margin-left: 20px;
}

#top {
  width: 100%;
  height: 450px;
  background-image: url('http://3.bp.blogspot.com/-hM3nPVXRByk/UXbxyJPIczI/AAAAAAAAADc/6UHzdriNJoE/s1600/varBank.png');
  background-size: 100% 450px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #606060;
}

#top h1 {
  color: #f9fd00;
  font-family: bitter;
  font-size: 40px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin-bottom: 0px;

}

#topcont {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#topcont button {
  margin-bottom: 100px;
  border: 2px solid black;
  background-color: inherit;
}
 #gold a {
   text-decoration: none;
   color: white;
   font-size: 50px;
   margin: 10px;
 }

#topcont p {
  color: white;
  font-family: bitter;
  font-size: 30px;
  font-weight: bold;
}

#midtop {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

#midtopcont1 {
  width: 30%;
  height: 300px;
  float: left;
}

#midtopcont1 img {
  height: 100%;
  width: 100%;
}

#midtopcont2 {
  width: 60%;
  height: 300px;
  float: right;

}

#midtopcont2 h1 {
  font-size: 30px;
}

#midtopcont2 p {
  line-height: 23px;
}

#ely {
  color: #399cac;
  font-weight: bold;
}

#thirda {
  font-weight: bold;

}

#secbottomtopdad {
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  background-color: grey;

}



.secbottomclasstop {
  width: 25%;
  height: 350px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;

}

.secbottomclasstop:hover {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.secbottomtopimg {
  height: 145px;
  width: 100px;
}

#secbottom {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

#secbottomcont1 p {
  font-size: 30px;
  margin: 0px;

}

#price1 {
  float: right;
  font-size: 10px;

}

#p1 {
  font-size: 30px;
  margin: 0px;

}
#price2 {
  float: right;
  font-size: 30px;
  margin: 0px;
}

#secbottomcont1 img {
  height: 400px;
  width: 500px;
}

#secbottomcont2 img {
  height: 400px;
  width: 500px;
}

#bottom {
  width: 100%;
  height: 300px;
  margin-top: 300px;
  background-image: url('http://images.wisegeek.com/group-of-fruit-including-bananas-oranges-and-apples.jpg');
  background-repeat: no-repeat;
  background-size: 100% 300px;
  padding-top: 60px;
}

#bottom h1 {
  text-align: center;
}

#buttonbot1 {
  border: 1px solid black;
  background-color: inherit;
  height: 55px;
  width: 130px;
}

#buttonbot2 {
  border: 1px solid black;
  background-color: inherit;
  height: 55px;
  width: 130px;
  margin-left: 35px;
}

#buttonbot1 a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

#buttonbot2 a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

#buttoncont {
  margin-left: 400px;
}
