@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* .border-1{
  border: 2px solid red;
}
.border-2{
  border: 2px solid blue;
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.card {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 16px 0px rgba(134, 134, 134, 0.1);
}
.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 2em 0;
  order: 2;
}
.card__content div {
  margin-bottom: 1.3em;
}
.card__content .subtitle {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  color: #7E7E7E;    
  font-weight: 700;
}
.card__content .title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
    line-height: 31px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  margin-bottom: .5em;
}
.card__content .description {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #7e7e7e;
  line-height: 22px;
}
.card__content .link a {
  text-decoration: none;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
}
.card__content .link a:hover {
  color: #7E7E7E;
}
.card__image {
  flex: 1;
  background: url('https://images.unsplash.com/photo-1544488994-3a0753185c37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  order: 1;
}


/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
  .card__content .description {
    line-height: 16px;
  }
  .card__image {
    flex: 2;
  }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .card {
    height: 550px;
    width: 90%;
    flex-direction: row;
  }
  .card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 6em 2em 0;
    order: 1;
  }
  .card__content .title {
    font-size: 44px;
    line-height: 45px;
    margin-bottom: 1em;
  }
  .card__content .description {
    font-size: 13px;
    line-height: 22px;
  }
  .card__content .link a {
    font-size: 13px;
  }
  .card__image {
    order: 2;
    flex: 2
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  .card {
    height: 550px;
    width: 900px;
    flex-direction: row;
  }

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}