main{
  background-image:
  url('../img/culture3.jpg');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
width: 1200px;
height: 500px;
}
.nav-icons{
  width: 300px;
}
.LW_Logo{
  position: absolute;
  top: 10%;

}
h1{
  color: white;
  font-size: 50px
}
.media-box{
  background-color: purple;
  width: 300px;
  height: 300px;
  text-align: center;
}
.creative-box{
  background-color: white;
  width: 300px;
  height: 300px;
  margin-left: 300px;
  margin-top: -4%;
  text-align: center;
}
.insights-box{
  background-color: indigo;
  text-align: center;
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 600px;
  margin-top: -2%;


}
