body{
  margin: -35px 0 0 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.nav{
  background-color: #168FC4;
  color: white;
  width: 100%;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

.nav li{
  display: inline-block;
  padding-right: 50px;
  font-size: 16px;
}

.nav li a{
  text-decoration: none;
  color: white;
}

.nav li a:hover{
  color: #20C7CD;
}

.logo{
  color: white;
  float: left;
  margin-left: 20px;
}

.logo a{
  text-decoration: none;
  color: white;
}

.logo a:hover{
  color: #20C7CD;
}

.banner{
  width: 100%;
  display: block;
}

.banner > .banner_img{
  margin-top: -20px;
  width: 100%;
  display: block;
}

.service_1{
  width: 300px;
  height: 400px;
  border: 1px solid #168FC4;
  margin: 20px 10px;
  padding: 0 5px;
  float: left;
}

.service_1 p{
  font-size: 14px;
  color: #416B91;
  max-width: 250px;
}

.services{
  width: 1333px;
  margin: 0 auto;
}

h1{
  font-size: 16px;
  font-weight: bold;
  background-color: #168FC4;
  color: #FFFFFF;
  padding: 10px 0;
  margin: 0 -6px;
}

h1:hover{
  color: #20C7CD;
}

.image{
  max-width: 200px;
  margin: 15px 0 0 0;
}

.heading{
  text-align: center;
  font-size: 40px;
  color: #20C7CD;
  margin: 100px 150px 50px 150px;
  font-weight: bold;
  border: 2px solid #168FC4;
  border-radius: 5px;
  padding: 5px;
}

.content{
  width: 1333px;
  margin: 200px auto;
  text-align: center;
  padding-top: 300px;
}

.content h2{
  text-align: center;
  color: #168FC4;
  font-size: 50px;
}

.content p{
  font-size: 35px;
  border-top: 1px solid #168FC4;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #168FC4;
}

.footer{
  background-color: #168FC4;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
}
