
body{
    margin: 0 auto;
    width:75%;
    padding:2%;
}

.title-container{
    background: aquamarine;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-size: 2em;
    font-family: 'Lora', sans-serif;
    margin: 20px;
}

.column{
    width: 220px;
    margin: 0 20px;
    color: white;
    text-align: center;
}

.column h1{
    font-weight: bold;
    font-size: 2em;
}
.column p{
    font-size: .75em;
}
.column:nth-child(1){
    border-top: solid 30px blue;
}
.column:nth-child(2){

    border-top: solid 30px green;
}

.column:nth-child(3){
    border-top: solid 30px aqua;
}

@media (max-width: 576px) {
    .title-container{
        background: #33a8dd;
    }
}

h1{
    font-size: 1em;
}
.title h1 {
    font-size: 45px;
    margin: 10px;
    text-align: center;
}

.column {
    color: black;
    text-align:center;
    margin-top: 5%;
}

.main-container {
    background-color: orange;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    justify-content: space-around;
}
/* .main-container {
    background-color: black;
    display: flex;
    height: 400px;
    align-items:center;
    justify-content: space-around;
} */
