/*CSS for Desktop*/

body {
  width: 100%;
  height: auto;
  color: #383838;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*start of navigation*/

nav {
  font-family: "Raleway";
  height: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
}

/*Logo styling/positioning*/

#icon {
  font-size: 24px;
  font-family: inherit;
  padding: 3px;
  border: 2px dashed #383838;
}

/*Nav menu styling*/

#menu {
  word-spacing: 20px;
}

#menu>span {
  padding: 5px;
}

#menu>span:hover, #menu>span:active {
  border: 2px solid white;
  background-color: #383838;
  color: white;
}

/*Styling for name and title*/

.intro {
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#name {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
  letter-spacing: 4px;
}

#intro-phrase {
  font-family: "Lusitana";
  font-size: 18px;
  margin-bottom: 50px;
}

/*Positioning of landing page image*/

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("../img/portfolio.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

/*styling of about section*/

.about {
  height: 250px;
  font-family: "Lusitana";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px dashed #383838;
}

.about>p:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 50px;
}

/*styling for 'What I do' section*/

.services {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px dashed #383838;
}

.services>div:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 50px;
}

.skills {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.skills>div>p:nth-of-type(1) {
  font-family: "Lusitana";
  font-size: 22px;
}

.skill {
  width: 250px;
  height: 300px;
  border: 1px solid #383838;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Lusitana";
}

/*styling for 'What I make' section*/

.projects {
  height: 650px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px dashed #383838;
}

.projects>div {
  font-family: "Raleway";
  font-size: 30px;
  padding: 50px;
}

/*Use of CSS grid as project requires, I'd prefer to use flexbox for this*/

.grid-parent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "project1 project2 project3" "project4 project5 project6"
}

.grid-child {
  margin: 5px;
  border: 1px solid #383838;
  width: 300px;
  height: 200px;
}

.grid-child:hover, .grid-child:active {
  background-color: #383838;
}

/*Will feature image from project and link to learn more once I've completed more projects to feature*/

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}

.project5 {
  grid-area: project5;
}

.project6 {
  grid-area: project6;
}

/*Contact section styling*/

.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.contact>div {
  font-family: "Raleway";
  font-size: 30px;
  padding: 50px;
  color: #383838;
}

/*Email me Button*/

button {
  font-family: "Raleway";
  font-size: 20px;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #383838;
}

button>a {
  text-decoration: none !important;
  color: #383838 !important;
}

button:hover, button:active {
  text-decoration: underline solid #383838;
}

/*End of CSS for Desktop*/

/*Beginning of Mobile View*/

@media (max-width: 576px) {

  nav {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  #icon{
    display: none;
  }

  #name {
    font-size: 36px;
  }

  #intro-phrase {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 0;
  }

  .landing {
    height: 250px;
  }

  .about {
    margin: 0;
    height: auto;
  }

  .about>p:nth-of-type(1) {
    font-size: 24px;
    padding: 20px;
  }

  #about-content {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }

  .services {
    height: 1225px;
    margin: 0;
  }
  .services>div:nth-of-type(1) {
    font-size: 24px;
    padding: 15px;
  }

  .skills {
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1400px;
    margin: 0;
  }

  .projects > div {
    font-size: 24px;
    margin: 0;
    padding: 20px;
  }

  .grid-parent {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    "project5"
    "project6"
  }

  .grid-child {
      width: 300px;
      height: 200px;
    }

  .contact {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contact>div {
    font-size: 24px;
    padding: 20px;
    text-align: center;
  }
}
