body {
  width: 100% ;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #383838;

}

nav {
  font-family: "Raleway";
  height: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-left: 100px;
  margin-right: 100px;
}

#icon {
  font-size: 24px;
  font-family: inherit;
  padding: 3px;
  border: 2px solid #383838;
}

#icon:hover {
  border: 2px solid white;
  background-color: #383838;
  color: white;
}

#menu {
  word-spacing: 20px;
}

#menu > span {
  padding: 5px;
}

#menu > span:hover {
  border: 2px solid white;
  background-color: #383838;
  color: white;
}

.intro {
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#name {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
  letter-spacing: 4px;
}

#intro-phrase {
  font-family: "Lusitana";
  font-size: 18px;
  margin-bottom: 20px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:500px;
  background-image: url("../img/portfolio.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

}

.about {
  height: 200px;
  font-family: "Lusitana";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px dashed #383838;
}

.about > p:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 20px;

}

.services {
  border: 1px solid red;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.services > p:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 20px;

}

.projects {
  border: 1px solid red;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.projects > p:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 20px;

}

.contact {
  border: 1px solid red;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.contact > p:nth-of-type(1) {
  font-family: "Raleway";
  font-size: 30px;
  padding: 20px;
}
