body {
  width: 100% ;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 6px solid black;

}

nav {
  font-family: "Raleway";
  height: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

#search {
  word-spacing: 20px;
}

.intro {
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

#name {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
  letter-spacing: 4px;
}

#intro-phrase {
  font-family: "Lusitana";
  font-size: 18px;
  margin-bottom: 20px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:500px;;
  background-image: url("../img/portfolio.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

}
