body{
  width: 100%;
}
.navigation{
  background-color: rgb(178, 34, 34);
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar {
    margin-bottom: 0;
}

#brand{
  color: white;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#hero {
    background-image: url(../img/horse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
    background-blend-mode: multiply;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width: 768px)

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media (max-width: 767px)

#hero {
    height: 500px;
}



.jumbotron .container {
    max-width: 100%;
  }

#hero img {
    opacity: 0.75;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 50px;
}
