main {
  background-image: url('../img/CPY-Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

.navigation {
  position: relative;
  top: -20px;
  width: 600px;
  height: 75px;
  left: 400px;
  height: 60px;
  float: right;
  margin-right: 25%;
  font-family: 'Mada', sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: white;
  border: 1px solid white;
}

a:active {
  color: black;
}


/*#logo{
    float: left;
  }*/

.clearfix:after {
  visability: hidden;
  /*display;
  block;*/
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

#main-image {
  position: relative;
  width: 100px;
  height: 100px;
  top: 20%;
  left: 13%;
  opacity: .8;
  z-index: -1;
  margin-top: -30px;
  /*margin: -350px 0 0 -400px;*/
}

div.form {
  display: block;
  text-align: center;
  font-family: 'Mada', sans-serif;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 230px;
  font-family: 'Mada', sans-serif;
}

#saveForm {
  position: relative;
  top: -8px;
  left: 75px;
}

.login {
  color: black;
  margin-left: 130px;
}


/*.rectangle{
  color: black;
  width: 100%;
  height: 300px;
}*/


/*.content-block1{
  color:black;
  width:22%;
  height:200px;
  position: relative;
  text-align: justify;
  border: 1px solid black;
  background-color: black;
  opacity: .5

}*/

.left-block {
  background-color: #F8841D;
  width: 50%;
  height: 300px;
  font-family: 'Mada', sans-serif;
}

.right-block {
  position: relative;
  left: 624px;
  top: -300px;
  background-color: gray;
  width: 50%;
  height: 300px;
  font-family: 'Mada', sans-serif;
}

.the-yoga-experience-right {
  position: absolute;
  left: 855px;
  top: 110%;
  font-family: 'Mada', sans-serif;
}

article {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  margin-left: 7%;
  padding-top: 5%;
  line-height: 30px;
  font-size: 30px;
  color: white;
  top: 200px;
  font-family: 'Mada', sans-serif;
}

p {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  margin-left: 7%;
  line-height: 20px;
  font-size: 20px;
  color: white;
  top: 200px;
  font-family: 'Mada', sans-serif;
}

.right-block {
  color: black;
}

.content-block2 {
  color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 810px;
  text-align: justify;
  background-color: white;
  font-family: 'Mada', sans-serif;
}

#the-yoga-experience-cta {
  width: 150px;
  font-weight: bold;
  margin-left: 37%;
  font-family: 'Mada', sans-serif;
}

.nina-quote {
  color: black;
  height: 170px;
  width: auto;
  font-size: 45px;
  margin-top: 5%;
  margin-left: -100px;
  font-family: 'Mada', sans-serif;
}

.bottom {
  background-color: black;
  height: 200px;
  width: auto;
}

#kit {
  color: white;
  font-size: 35px;
  vertical-align: middle;
  padding-top: 50px;
  font-family: 'Mada', sans-serif;
}

.form-bottom {
  display: inline-block;
  margin-left: 500px;
  margin-right: auto;
  text-align: middle;
  margin-top: -230px;
  font: white;
  font-family: 'Mada', sans-serif;
}

.bottom-submit {
  position: relative;
  top: 10px;
  left: 105px;
}

footer {
  color: black;
  text-align: center;
  font-family: 'Mada', sans-serif;
}
