
body {
	background-color: #F5FFFA;
	font-family: verdana;
}



div.header {
    background-color: lightgrey;
    width: 1000px;
    padding: 20px;
    margin: 25px;
}

div.middle {
	background-color: #F0F8FF;
    width: 1000px;
    padding: 20px;
    margin: 25px;
}


.tab-left {
	position:absolute;
	right: 50%;
}

.tab-mid {
	position:absolute;
	right: 30%;
}

.tab-right {
	position:absolute;
	right: 10%;
}

a {
	text-decoration: none;
	color: blue;
	font-size: 20px;
	font-family: verdana;
}

