html{
    height: 100%;
}


body{
    height: 100%;
    background-color: #184CA1;
    margin-left: auto;
    margin-right: auto;
    
}

main{
    /* width: 900px; */
    margin: auto;
}

.header{
    width: 90%;
    /* margin: ;
    padding: 5px; */
    line-height: normal;
    background-color: #E6632C;
    margin-left: auto;
    margin-right: auto;
    /* border: 10px #184CA1; */

}

.header div{
    /* display: inline; */
    width: 100%;
}

#name{
    /* line-height: normal; */
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 20px;
}

#emailAddress{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 20px;
    width: 40%;
    float: left;
}

.newUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
 
}

li{
    padding: 0px 10px 0px 10px;
    float: right;
    width: 50px;
}

/* #resumeButton{
    display: inline-block
}

#linkedinButton{
    display: inline-block
}

#githubButton{
    display: inline-block
} */

img{
    padding:10px;
    height: 300px;
    width: 400px;
    border-radius: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#bioInfo{
    float: right;
    min-height: 40%;
}

#bioTitle{
    text-align: center;
}

#bioText{
   line-height: normal;
   margin-top: 50px;
   margin-bottom: 50px;
}