body {
    background-image: url(IMG_6037.jpg);
}
main {
    text-align:center;
    margin:Auto;
    Padding-top:200px;

}
h1 {
    color:white;
    font-size:40pt;
}
p {
    color:white;
    font-size:24pt;
    font-style:italic;
}