header {
  text-align: center;
  font-family: "Avant Garde", sans-serif;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 25px 150px;
  text-align: center;
  text-decoration: none;
  font-family: "Avant Garde", sans-serif;
  color: white;
}
.active-contact {
  background-color:#4ABDC0;
}
li a:hover:not(.active-contact) {
  background-color: #6A7373;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424D4D;
}
.gmail img{
  max-width: 100px;
  float: left;
  clear: both;
  padding: 30px 10px 30px 30px;
}
.gmail p {
  font-family: "avant garde", sans-serif;
  float: right;
  padding-right: 65%;
  padding-top: 8px;
}
.phone img {
  width: 100px;
  float: left;
  clear: both;
  padding: 0px 10px 30px 30px;
}
.phone p {
  font-family: "avant garde", sans-serif;
  float: right;
  padding-right: 73%;
  padding-top: 23px;
}
.linkedin img {
  width: 100px;
  float: left;
  clear: both;
  padding: 0px 10px 30px 30px;
}
.linkedin p {
  font-family: "avant garde", sans-serif;
  float: right;
  padding-right: 75%;
  padding-top: 20px;
}
html {
  background-color:#F0E9CD;
}
