header {
  text-align: center;
  font-family: "Avant Garde", sans-serif;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 25px 140px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "Avant Garde", sans-serif;
  color: white;
}
.active-placeholder {
  background-color:#4ABDC0;
}
li a:hover:not(.active-placeholder) {
  background-color: #6A7373;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424D4D;
}
