/* BODY STYLES */
body {
    background-color: rgb(247, 246, 239);
    font-family: 'Karla', sans-serif;
}

/* HEADER STYLES */
.header {
    position: fixed;
    background-color: rgb(71, 166, 197);
    padding: 10px;
    width: 100%;
    top: 0;
    text-align: center;
    margin-right: 0;
}
.header h1 {
    color: rgb(249, 234, 214);
    font-size: 48px;
    text-shadow: 2px 2px rgb(239, 123, 14);
    margin: 0.2px;
}

/* MAIN STYLES */
main {
  display: flex; 
  width: 660px;
  margin: 0 auto;
  margin-top: 80px;
}

section {
  margin: 1px;
  margin-top: 13px;
}

section .photo{
  width: 200px;
  margin-left: -25px;
}

section .jobTitle {
    font-size: 23px;
    font-weight: bold;
    line-height: 1em;
    color: rgb(239, 123, 14);
}

section .contactInfo {
    font-size: 20px;
    line-height: 1em;
    color: rgb(239, 123, 14);
}

section .links {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2em;
}
section .links a {
    color: rgb(71,166,197);
    text-decoration: none;
}

section .links a:hover {
    color: rgb(239, 123, 14);
}



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(71, 166, 197);
    border: none;
    color: rgb(249, 234, 214);
    text-align: center;
    font-size: 18px;
    padding: 2px;
    width: 134px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }

.lastButton {
    margin-bottom: -13px;
}

.button:hover {
    background-color: rgb(239, 123, 14)
}

/*
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  } 
*/


section .bio {
    font-size: 19px;
    padding: 8px;
    border: 3px;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    /* line-height: 1.1em;
    border-style: solid;
    border-color: rgb(71, 166, 197);
    background-color: rgba(71, 166, 197, 0.2)
    */
}

section .bio p {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgb(239, 123, 14);
    line-height: 1.3em;
}

section .bio a {
    color: rgb(71,166,197);
    text-decoration: none;
}

section .bio a:hover {
    color: rgb(239, 123, 14);
}

/* section .bio a:hover {
    position: relative;
}
section .bio a:hover:after {
    content: url(atticus.png);
    display: block;
    position: absolute;
    left: -323px;
    top: -300px;
} */

@media (max-width: 670px) {
  .photo {
    display: none;
  }
  main {
    width: 100%;
    margin-top: 60px;
  }
  section .bio {
    font-size: 1em;
    text-align: left;
  }
  section {
    text-align: center;
  }
  section .jobTitle {
      font-weight: bolder;
      font-size: 2em;
  }
  section .bio p {
      font-size: 23px;
  }
  .header h1 {
      font-size: 38px;
  }
}

@media (min-width: 669px) {
    .photoHeadshot {
      display: none;
    }
}