body{
  /* background-image: url(http://laoblogger.com/images/light-green-background-10.jpg); */
  background-color: #1a0d00;
  line-height: 1.6em;
  text-align: center;
  font-size: 16px;
  font-family: tahoma, sans-serif,arial;
  font-stretch: semi-expanded;
  hyphens: auto;
}

.container {
  box-sizing: border-box;
  width: 85%;
  margin: auto;
  padding: 0px;
  background-color: white;
  border-radius: 25px;
}

.myName {
  box-sizing: border-box;
  background-color: #ff8000;
  width: 100%;
  color: white;
  Float: Left;
}
.myName h1{
  Padding-top: 5px;
  padding-bottom: 10px;
  font-size: 40px;
  float: left;
  padding-left: 10%;
}

.workspace {
  max-width: 100%;
  height: auto;
  color: black;
}
.workspace a{
  float: left;
  color: navy;
  padding-left: 10%;
  box-shadow: 111px -33px 100px 4px black;
}

.workspace a:hover{
  color: navy;
  font-size: 20px;  
  color: red;
  font-stretch: ultra-expanded;
}

.bottomBox {
  font-family: georgia, verdana;
  font-size: 18px;
  background-color: #002533;
  border-top: 2px solid black;
}

.bottomBox img{
  width: 30%;
  float: right;
  padding-right: 10%;
  padding-top: 1.5%;
}
.bottomBox p {
  width: 40%;
  padding-left: 10%;
  color: #fff;
  font-size: 18px;
}
.bottomBox h3 {
  width: 40%;
  padding-left: 10%;
  color: #fff;
  font-size: 24px;
}
