p{
	color: green;
.background {
  padding-top: 30px;
  text-align: center;
  margin: 30px;
  background-color: gray;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
}

div:hover{
  background-color: orange;
}

p::first-letter {
  text-transform: uppercase;
  color: blue;
  font-size: 30px;
}
