
body {
   background-color: rgb(240, 19, 179);
   font-family: 'Open Sans', sans-serif;
   text-decoration-color: #fff
 }
.h1 {text-align: left;
 }
p { color: rgb(250, 243, 243);
    text-align: right;
}
h1 {
    font-family: sans-serif;
    margin-top: left;
    text-align: center;
  }
  html, body {
    margin: 0;
    background-color: rgb(240, 19, 179);
    font-family: 'Raleway Dots', sans-serif;
  }
  
  section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services h2 {
    margin: 80px 0px 40px;
    color: #fff;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  section #services li div {
    width: 120px;
    height: 120px;
    color: #f0f5f3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #090cee;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }
 