body{
  background-image: url('../images/wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin-top: 160px;
  margin-left: 270;
}

.container > h1, .container > h4 {
  text-shadow: 1px 1px 1px white;
}
.box {
  height: 600px;
  width: 400px;
  background-color: rgba(255,255,255, 0.4);
  padding: 40px;
  border-radius: 20px;
}
