body {
  background-color: lightblue;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px red;
  font-size: 40px;
  font-family: serif;
  color: white;
}
p {
  border: 2px red solid;
  text-align: center;
  font-size: 18px;
  font-family: arial;
  color: blue;
  hyphens: auto;
  padding top: 20px;
  padding-bottom: 20px;
  width: 400px;
  margin: auto;

}
img {
  display: block;
  margin: auto;
  border: 10px black solid;

}
a {
display: block;
border: 5px lightgreen solid;
text-align: center;
font-size: 20px;
margin-left: 45%;
margin-right: 45%;
background-color: #99ff99;
}
a:hover{
  background-color: yellow;
}
