body{
  background-color: #333;
}

img{
  width: 125px;
  height: auto;
  border-radius: 50%;
  margin: 20px 0px 20px 0px;
  border: 5px solid #fff;
  box-shadow: 0px 1px 15px rgba(0,0,0,.50);
}

h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 36px;
  margin: 5px 0px 5px 0px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #f7f7f7;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}

a{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

a:hover{
  color: #000;
  text-decoration: underline;
}

a:visited{
  color: #b3b3b3;
}

li{
  list-style-type: none;
  display: inline;
}

li:first-child{
  margin-right: 50px;
}

i{
  margin-right: 0px;
}


i.resume{
  vertical-align: bottom;
}

i.linkedin{
  margin-right: 5px;
}

nav{
  margin-top: 5px;
  margin-bottom: 20px;
}

p{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
}

header{
  background-color: #666;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 370px;
  margin: 20px auto 0px auto;
  text-align: center;
  padding: 20px;
}

main{
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 330px;
  margin: 0px auto;
  padding: 40px;
  box-shadow: 0px 3px 5px black;
}
