/*full website background color*/
body{
  background-color: gray;
}
.background {
  padding-top: 10px;
  text-align: center;
  margin: 10px;
  background-color: gray;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
}
/*to change the color of <div> when hovered over*/
div:hover{
  background-color: green;
}
/*for first letter of <div>*/
p::first-letter {
  text-transform: uppercase;
  color: Indigo;
  font-size: 30px;
}
/*change font and size for paragraphs*/
p{
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
}
/*text style and color*/
p{
  outline-style: solid;
  outline-color: yellow;
  text-align: left;
}
/*indents first line of paragraphs*/
p{
  text-indent: 50px;
}
/*to get rid of bullets and make a border*/
/*creates a border around nav menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  border: 1px solid black;
}
/*for all li units*/
li a {
  display: block;
  padding: 8px 16px;
  text-align:center;
  border-bottom: 1px solid black;
}
/* changes the link color on hover */
li a:hover {
  background-color: white;
}
/*for navigation menu bottom border*/
li:last-child {
  border-bottom: none;
}
a:visited {
  color: purple;
}
/*forces image to the left of site*/
img {
  float: left;
}
h1{
margin: auto;
}
.active {
  background-color: green;
  color: white;
}
