
h1 {
  text-align: center;
  color: red;
  font-size: 300%;
  font-family: sans-serif;
}
nav {
  text-align: center;
  font-size: 125%;
  color: white;
  background-color: white;
}
ul {
  border: 1px solid black;
    background-color: lightblue;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: center;
    list-style-position: inside;
    font-size: 160%;
}
img.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
}
#home {
  color: black;
  font-family: Comic;
  font-size: 70%;
}
#resume {
  color: black;
  font-family: Comic;
  font-size: 70%;
}
#contacts {
  color: black;
  font-family: Comic;
  font-size: 70%;
}
label {
  color: black;
  font-family: Comic;
  font-size: 70%;
}
p {
  background-color: lightblue;
}

