
body {
    text-align: center;
    font-family: 'Raleway', sans-serif;}
li {
    text-align: center;
    display: inline;
    padding: 1%;
    }
 .container {

            width: 1440px;
            height: 1024px;
            border: px solid rgb(0, 0, 0);
            display: block;
            margin-left: auto;
            margin-right: auto;
 }
 .container:hover {
opacity: 0.58;
background: #FFFFFF;
    width: 1440px;
    height: 1024px;
    border: 3px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../IMG_0314.png);
    width: 900px;
    height: 675.5px;
 }

title, h1 {
font-family: AvenirNext-Bold;
font-size: 144px;
color: #FFFFFF;
letter-spacing: 0;}

title, h3 {
    font-family: AvenirNext-Bold;
font-size: 76px;
color: #FFFFFF;
letter-spacing: 0;}
}

}
title, h5 {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;}