p::first-letter {
  text-transform: uppercase;
  color: red;
  font-size: 30px;
}
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
p {
  hyphens: auto
}
p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-style: italic;
}
h1 {
    text-shadow: 2px 2px #ff0000;
}
div.a {
    text-indent: 25px;
}
h1 {
    letter-spacing: 8px;
}
.background {
  padding-top: 30px;
  text-align: center;
  margin: 30px;
  background-color: gray;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding: 10px;
}
