body{
  border:5px solid black;
  
  margin-right: : 20px;
}
header{
  font-size: 300%;
  margin-left: 600px;
}
nav{
  font-size: 160%;

}
h1{
  margin: 100px;
}
p{
  font-size: 100%;
  margin: 100px;
  /* padding: 5px; */
}
h1 , p{
  /* border: 3px solid; */
}
