body {
  background-color: black;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Raleway', serif;
}

.main_container {
  word-break: keep-all;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_container {
  display: flex;
  height: 100px;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
}

.left_container {
  width: 75%
}

.right_container {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%
}

.bottom {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.mypic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 500px
}

.pic1, .pic2, .pic3 {
  background-color: gray;
  margin-top: 25px;
  width: 300px;
  height: 300px;
}

h1 {
  color: gray;
  margin-bottom: 0px;
  text-shadow: 1px 1px white;
}

h2 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  text-indent: 50px;
  font-size: 200%;
  color: gray;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.left_container p {
  display: flex;
  width: 75%;
  margin-left: 50px;
  text-align: justify;
  font-size: 150%;
  color: white;
  font-weight: bold;
}

.right_container p {
  color: white;
  margin-top: 2px
}
