body {
  background-image: url("http://freebie.photography/background/slides/wires.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

a:visited {
  color: rgb(114, 74, 0);
}

a:hover {
  color: black;
}

#container {
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

h1 {
  margin: 10;
}
  
header {
  background-color: orange;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}
  
nav {
  background-color: gray;
  text-align: center;
  height: 90px;
}

.orange li {
  display: inline-block;
  list-style-type: none;
  background-color: orange;
  border-radius: 10px;
  padding: 9px;
}

.orange li:hover {
  background-color: rgb(189, 189, 189);
}

#donthover {
  background-color: orange;
}

#ronpic {
  float: center;
  position: relative;
  left: 50px;
  top: 20px;
  padding: 20px;
  border-radius: 13%;
}

section {
  width: 500px;
  float: right;
  padding: 5px;
}

footer {
  clear: both;
  text-align: center;
  padding: 5px;
  background-color: gray;
  border-radius: 0 0 10px 10px;
}