* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

hr {
    float: left;
    color: black;
    width: 30%;
    margin-left: 5px;
    border-top: 3px double #8c8b8b;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    font-family: verdana;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-indent: 2em;
    line-height: 2em;
}

#header li {
    display: inline;
}

p {
    margin: 10px;
}

a:hover {
    color: red;
}

#header {
    background-color: blue;
    padding: 30px;
    margin: 0px;
}

/* #header a {
    float: right;
    display: inline;
    width: 50px;
    height: 0px;
    padding: 10px;
    font-family: verdana;
} */

#main {
    float: left;
    width: 70%;
}

#bio    {
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px;
}

#bio    h2 {
    padding: 10px;
    letter-spacing: 0.2em;
}

#edu    {
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px;
}

#edu    h2 {
    padding: 10px;
    letter-spacing: 0.2em;
}

#exp    {
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px;
}

#exp    h2 {
    padding: 10px;
    letter-spacing: 0.2em;
}

#aside  {
    float: right;
    width: 30%;
    font-family: verdana;
}

#aside img {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#aside img:hover {
    opacity: 0.5;
    border-left: black;
    border-color: black;
    /* -webkit-transform: scale(1.3); */
	transform: scale(1.2);
}

#aside h3 {
    font-family: verdana;
    text-align: center;
}

#aside p {
    text-align: center;
}

#aside a {
    display: block;
    text-align: center;
    color: blue;
}

#aside a:hover {
    color: red;
}

#footer {
    background-color: blue;
    padding: 30px;
}

#clr {
    clear: both;
}