img {
    float: right;
    margin: 0 0 15px 15px;
}

h1 {
    text-shadow: 2px 2px #006400;
}

img {
  width:30%;height:30%;
}

p {
    font-family:Arial, Helvetica, sans-serif;
  }

p.quote {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
  }

h1 {
    text-shadow: 2px 2px #006400;
}

p.small {
    font-variant: small-caps;
}

a:hover {
    color: red;
}
