body {
  color: black;
}
body {
  background-color: lightgrey;
  padding-top: 50px;
  text-align: center;
  font-family: arial;
    font-size: 22px;
}
h1 {
    text-shadow: 2px 2px;
    color: DarkSlateBlue;
    text-shadow: 2px 2px 8px #000000;
}
}
p.auto {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
