body { 
    background: url(headshot.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
  }
  main {
    float: left;
  }
  img {
      idth: 50px
  }
  .topnav {
    margin: 50px;
    margin-bottom: 35px;
  }

  aside {
    float: right;
    background-color: #D1BA57;
    opacity: 0.75;
    margin-right: 0%;
  }
  .linkedin{
    margin: 5px;
    margin-left: 55px;
    padding: 10px;
  }
  .instagram{
    margin: 5px;
    margin-left: 55px;
    padding: 10px;
  }
  .facebook{
    margin: 5px;
    margin-left: 55px;
    padding: 10px;
  }
  .twitter{
    margin: 5px;
    margin-left: 55px;
    padding: 10px;
  }
  a {
    margin-right: 50px;
    font-family: raleway;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }

  /* transitions/animations */

  .topnav a:nth-child(1){
    transition: font-size 1s;
}

  .topnav a:nth-child(1):hover{
    font-size: 24px;
}

.topnav a:nth-child(2) {
  transition: color 1s;
}

.topnav a:nth-child(2):hover{
  color: purple;
}

h1:hover {
  transform: skew(30deg, 10deg);
}

aside {
  transition: transform 1s;
}

aside:hover {
  transform: scale(2, 2);
}

  a:hover {
    color: #306368;
  }

  h1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: raleway;
    text-transform: uppercase;
    color: white;
    transition: transform 1s;
  }
  .who {
    width: 520px;
    margin-left: 0%;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: raleway;
    color: white;
    background-color: #BBD2C7;
    padding-left: 50px;
    opacity: 0.75;
  }
  .what {
    width: 450px;
    margin-left: 0%;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: raleway;
    color: white;
    background-color: #D1BA57;
    padding-left: 50px;
    opacity: 0.75;
  }
  .where {
    width: 590px;
    margin-left: 0%;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: raleway;
    color: white;
    background-color: #306368;
    padding-left: 50px;
    opacity: 0.75;
  }
  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 15px;
  }
  p {
    margin-top: 7px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
