body {
    margin: 0 auto;
    width: 90%;
    padding: 2%;
}

.title-container {
    display: flex;
    background-color: azure;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

/* .title {
    margin: 20px;
    justify-items: center;
    align-items: center;
} */

.bio-container {
    display: flex;
    height: 400px;
    background-color: beige;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 30px;
}
#bio {
    width: 420px;
    margin: 0 20px;
    color: darkcyan;
    text-align: center;
    font-family: montserrat;
    font-size: 20px;
}

#bio p {
    font-size: .75em;
    font-family: Arial, Helvetica, sans-serif;
    }

.art-container {
    flex-wrap: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 30px; */
}

#art01 {
    justify-content: center;
}
.artwork {
    display: flex;
    width: 100%;
}
/*
#bowl {
    padding-left: 200px; */
}

#clay {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding: 30px; */
}

.ceramic {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 30px;
    margin: 30px;
}

#bowl {
    padding-left: 50px;
}

.artwork-orange {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 30px;
    padding: 10px;
}

#art {
    justify-content: space-around;
    align-items: center;
}

