a:hover {
  color: white;
}

.img1 {
  width: 228px;
  height: 228px;
}
.img2 {
  float: right;
  width: 220px;
  height: 220px;
}
header {
  background-color: lightgrey;
  color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px #888888;
}
h1 {
  font-size: 40px;
  height: 20px;
  width: 500px;
  color: blue;
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  font-size: 20px;
  color: blue;
  text-shadow: 1px 2px 2px #000000;
}
.container {
  padding-top: 1%;
  padding-left: 25%;
  padding-right: 25%;
  height:auto;

  }

p{
  font-size: 22px;
  font-family: "Times New Roman", Georgia, Serif;
  width: 100%;
  word-break: keep-all;
  text-align: justify;
}
