.container {
  border: 5px solid black;
  background-color: gray;
}

.submit {
  width: 100px;
  height: 40px;
}

.form-group {
  margin-top: 10px;
}

label {
  color: blue;
  font-weight: bold;
}

input {
  color: red;
}
