@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');



	@import "libs/skel";

	@include skel-breakpoints((
		desktop: '(min-width: 737px)',
		tablet: '(min-width: 737px) and (max-width: 1440px), (min-width: 737px) and (max-height: 840px)',
		mobile: '(max-width: 736px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: true,
		conditionals: true,
		containers: true,
		breakpoints: (
			desktop: (
				containers: 1200px,
				grid: (
					gutters: (25px, 25px)
				),
			),
			tablet: (
				containers: 1000px,
				grid: (
					gutters: (20px, 20px)
				),
			),
			mobile: (
				containers: (100%, true),
				grid: (
					gutters: (10px, 10px)
				),
			)
		)
	));

/* Basic */

	html {
		height: 100%;
	}

	body {
		background: #3b414d;
		height: 100%;
		width: 100%;
	}

	body, input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		color: #777;
		font-weight: 400;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		color: #535353;
	}

	h2, h3 {
		margin: 0 0 0.5em 0;
	}

	header {
		&.major {
			text-align: center;
			margin: 0 0 1.5em 0;

			h2 {
				margin: 0 0 0.5em 0;
				background: #fff;
				display: inline-block;
				padding: 0 0.75em;

				&:after {
					content: '';
					display: block;
					width: 100%;
					position: absolute;
					left: 0;
					margin-top: -0.55em;
					height: 3px;
					background: #f4f4f4;
					z-index: -1;
				}
			}
		}
	}

	p, ul, ol {
		margin: 0 0 1.5em 0;
	}

	hr {
		position: relative;
		display: block;
		border: solid 1px rgba(0, 0, 0, 0.15);
		border-left: 0;
		border-right: 0;
		height: 10px;
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
		margin: 2em 0 2em 0;
	}

	a {
		color: inherit;
		border-bottom: dotted 1px;
		text-decoration: none;
		@include vendor('transition', ('color 0.25s ease-in-out', 'border-color 0.25s ease-in-out'));

		&:hover {
			color: #60b5dd;
			border-bottom-color: transparent;
		}
	}

/* Form */

	label {
		display: block;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		border: solid 2px #e4e4e4;
		padding: 0.75em;
		font-size: 1em;
		color: #444;
		border-radius: 4px;
		outline: 0;
		@include vendor('transition', ('border-color 0.25s ease-in-out', 'background-color 0.25s ease-in-out'));

		&:focus {
			border-color: #60b5dd;
			background: #fafafa;
		}
	}

	textarea {
		height: 13em;
	}

/* Image */

	.image {
		border-radius: 4px;
		overflow: hidden;
		border: 0;

		img {
			border-radius: 4px;
		}

		&.left {
			float: left;
			width: 18em;
			margin: 0.5em 2em 1em 0;

		}

		&.full {
			display: block;
			width: 100%;

			img {
				display: block;
				width: 100%;
			}
		}

		&.play {
			background: #000;
			position: relative;

			img {
				opacity: 0.5;
			}

			&:before {
				display: inline-block;
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f04b';
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -32px 0 0 -32px;
				width: 64px;
				height: 64px;
				line-height: 64px;
				font-size: 48px;
				color: #fff;
				z-index: 1;
				text-align: center;
			}
		}
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		color: #fff !important;
		text-shadow: none;
		text-decoration: none;
		padding: 0 2em;
		min-width: 12em;
		font-weight: 600;
		line-height: 2.75em;
		border: 0;
		background: #60b5dd;
		border-bottom: solid 2px #4d91b1 !important;
		border-radius: 4px;
		cursor: pointer;
		text-align: center;
		@include vendor('transition', 'background-color 0.25s ease-in-out');

		&:hover {
			background: #70c5ed;
		}
	}

/* List */

	ul {
		&.contact {
			li {
				position: relative;
				margin: 0 0 1em 0;
				padding-left: 2em;

				&:before {
					display: inline-block;
					font-family: FontAwesome;
					text-decoration: none;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					left: 0;
					top: 0.35em;
					opacity: 0.5;
				}
			}
		}

		&.style1 {
			li {
				padding: 0.25em 0 0.25em 0;

				&:first-child {
					border-top: 0;
					box-shadow: none;
				}
			}
		}

		&.icons {
			cursor: default;

			li {
				display: inline-block;

				a {
					display: inline-block;
					width: 2em;
					height: 2em;
					line-height: 2em;
					text-align: center;
					border: 0;

					&:before {
						font-size: 24px !important;
					}

					span {
						display: none;
					}
				}
			}
		}
	}

/* Icons */

	.icon {
		text-decoration: none;
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

/* Poptrox */

	.poptrox-popup {
		@include vendor('box-sizing', 'content-box');
	}

/* Header */

	#header {
		position: relative;
		text-align: center;

		nav {
			position: relative;

			a {
				color: #8b97a1;
				text-decoration: none;
				outline: 0;
				border: 0;

				&:hover {
					color: #fff;
				}
			}
		}

		h1 {
			display: inline-block;
			color: #fff;

			span {
				color: #a4b0bb;
			}
		}
	}

/* Footer */

	#footer {
		position: relative;
		text-align: center;
		font-size: 0.8em;
		color: rgba(255, 255, 255, 0.2);

		p {
			margin: 0 0 4em 0;
		}

		.icons {
			margin: 0 0 1.25em 0;

			a {
				color: #fff;
				color: rgba(255, 255, 255, 0.25);
				margin: 0 0.75em 0 0.75em;
				@include vendor('transition', 'color .35s ease-in-out');

				&:before {
					font-size: 2em;
				}

				&:hover {
					color: #fff;
				}
			}
		}
	}

/* Desktop */

	@include breakpoint(desktop) {

		/* Basic */

			body, input, textarea, select {
				font-size: 14pt;
				line-height: 1.5em;
			}

			h2 {
				font-size: 1.35em;
			}

			.gallery {
				.image {
					height: 200px;
					overflow: hidden;
				}
			}

			.nicescroll-cursor {
				@include vendor('box-sizing', 'content-box');
			}

		/* Wrapper */

			#wrapper {
				height: auto;
				position: relative;
				display: none;
			}

		/* Main */

			#main {
				position: relative;
				text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);

				.previous, .next {
					content: '';
					display: block;
					position: absolute;
					width: 90px;
					height: 722px;
					top: -40px;
					background-size: 28px 100%;
					background-repeat: no-repeat;
					z-index: 10;
					cursor: pointer;
				}

				.previous {
					background-image: url('images/shadow.png');
					left: 0;
				}

				.next {
					background-image: url('images/shadow.png');
					right: 0;
					@include vendor('transform', 'scaleX(-1)');
				}

				.viewer {
					height: 640px;
					width: 1200px;

					.reel {
						display: none;

						.slide {
							width: 1048px;
							padding: 20px 0 20px 0;

							article {
								position: relative;
								width: 996px;
								height: 600px;
								overflow: hidden;
								background: #fff;
								border-radius: 4px;

								.inner {
									position: relative;
									z-index: 2;
									height: 600px;
									width: 100% !important;
									outline: 0;
								}
							}
						}
					}
				}
			}

		/* Header */

			#header {
				width: 100%;
				height: 30px;
				line-height: 30px;
				cursor: default;
				margin-bottom: 0.5em;

				nav {
					display: block;
					text-align: center;
					position: relative;
					z-index: 1;

					a {
						margin: 0 1.5em 0 1.5em;

						&.pad-after {
							margin-right: 6.5em;
						}

						&.pad-before {
							margin-left: 6.5em;
						}
					}
				}

				h1 {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					font-size: 1.5em;
				}
			}

		/* Footer */

			#footer {
				width: 100%;
				margin-top: 1em;

				ul {
					margin: 0 0 0.5em 0;
				}

				p {
					margin: 0;
				}
			}

		/* Pages */

			.page {
				width: 100%;

				.inner {
					padding: 50px;

					&:after {
						content: '';
						position: relative;
						display: block;
						padding: 50px 0 0 0;
					}
				}

				&.home {
					text-align: center;
					position: relative;
					vertical-align: middle;

					.banner {
						position: absolute;
						left: 0;
						top: 0;
						height: 50%;
						width: 100%;
						background: url('../../images/banner.jpg') center center no-repeat;
						background-size: cover;
					}

					.inner {
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						height: 50% !important;
						padding: 0;

						&:before {
							content: '';
							vertical-align: middle;
							display: inline-block;
							height: 100%;
							width: 0.5%;
						}

						&:after {
							display: none;
						}
					}

					.intro {
						display: inline-block;
						vertical-align: middle;

						header {
							margin: 0 0 0.25em 0;

							h2 {
								font-size: 2.25em;

								&:after {
									margin-top: -0.375em;
								}
							}
						}
					}
				}

				&.work {
					text-align: center;
				}
			}

		/* Poptrox */

			.poptrox-popup {
				background: #fff;
				border-radius: 4px;
				border: solid 0.5em #fff;

				.caption {
					text-align: center;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 3em;
					line-height: 3em;
					width: 100%;
					color: #fff;
					background: #222;
					background: rgba(24, 24, 32, 0.75);
				}

				.closer, .nav-next, .nav-previous {
					display: inline-block;
					font-family: FontAwesome;
					font-size: 1.25em;
					text-decoration: none;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: #fff;
				}

				.closer {
					width: 2em;
					height: 2em;
					line-height: 1.85em;
					font-size: 1em;
					text-align: center;
					border-radius: 100%;
					border: solid 2px #fff;
					position: absolute;
					top: -2.5em;
					right: -2.5em;
					&:before {
						content: '\f00d';
					}
				}

				.nav-next, .nav-previous {
					position: absolute;
					top: 0;
					height: 100%;
					width: 50%;
					cursor: pointer;
					opacity: 0;
					font-size: 2em;
					@include vendor('transition', 'opacity 0.25s ease-in-out');

					&:before {
						position: absolute;
						top: 50%;
						width: 3em;
						height: 3em;
						line-height: 3em;
						margin-top: -1.5em;
						text-align: center;
					}

					&:hover {
						opacity: 1.0;
					}
				}

				.nav-next {
					right: 0;

					&:before {
						content: '\f054';
						right: 0;
					}
				}

				.nav-previous {
					left: 0;

					&:before {
						content: '\f053';
						left: 0;
					}
				}

				&:hover {
					.nav-next, .nav-previous {
						opacity: 0.25;
					}
				}
			}

	}

/* Tablet */

	@include breakpoint(tablet) {

		/* Basic */

			body {
				min-width: 1000px;
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}

			.gallery {
				.image {
					height: 150px;
				}
			}

		/* Main */

			#main {
				.previous, .next {
					height: 615px;
				}

				.viewer {
					width: 1000px;
					height: 525px;

					.reel {
						.slide {
							width: 860px;
							padding: 20px 0 20px 0;

							article {
								width: 810px;
								height: 485px;

								.inner {
									height: 485px;
								}
							}
						}
					}
				}
			}

	}

/* Mobile */

	@include breakpoint(mobile) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
				line-height: 1.5em;
			}

			h2 {
				font-size: 1.5em;
			}

			header {
				&.major {
					position: relative;
					z-index: 1;
				}
			}

		/* Image */

			.image {
				&.left {
					width: 10em;
					margin: 0.5em 2em 1em 0;
				}

				&.play {
					&:before {
						margin: -16px 0 0 -16px;
						width: 32px;
						height: 32px;
						line-height: 32px;
						font-size: 24px;
					}
				}
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				display: block;
				width: 100%;
			}

		/* Main */

			#main {
				.viewer {
					.reel {
						.slide {
							margin: 10px;

							article {
								padding: 15px;
								position: relative;
								background: #fff;
								border-radius: 4px;
								overflow: hidden;
							}
						}
					}
				}
			}

		/* Header */

			#header {
				padding: 1.5em 0 0.25em 0;
				text-align: center;

				nav {
					a {
						padding: 0.25em 0.5em 0.25em 0.5em;
					}
				}

				h1 {
					font-size: 1.5em;
					margin: 0 0 0.5em 0;
				}
			}

		/* Footer */

			#footer {
				padding: 1.5em 0 1.5em 0;
				text-align: center;
			}

		/* Sidebar */

			.sidebar {
				border-top: solid 3px #f4f4f4;
				margin: 2em 0 0 0;
				padding: 2em 0 0 0;
			}

		/* Pages */

			.page {
				padding-top: 30px !important;
				padding-bottom: 30px !important;

				&.home {
					text-align: center;
					position: relative;
					vertical-align: middle;
					padding: 0 0 25px 0 !important;

					br {
						display: none;
					}

					.banner {
						height: 8em;
						width: 100%;
						background: url('../../images/banner.jpg') center center no-repeat;
						background-size: cover;
					}

					.inner {
						padding: 30px 25px 0 25px;

						&:after {
							display: none;
						}
					}

					.intro {
						display: inline-block;
						vertical-align: middle;

						header {
							margin: 0 0 0.25em 0;

							h2 {
								font-size: 2em;

								&:after {
									margin-top: -0.35em;
								}
							}
						}
					}
				}

				&.work {
					text-align: center;
				}
			}

		/* Poptrox */

			.poptrox-popup {
				border: solid 0.5em #fff;
				background: #fff;
				border-radius: 4px;
			}

	}
