

header {
margin: 0 auto;
  height: 10%;
  width: 100%;
  background: #ff571a;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 65px;
  margin-left: 3%;
}

.nav-bar {
display: block;
  float: right;
  margin-top: -40px;
  margin-right: 5%;
  width: 30%;
  font-family: 'Handlee', cursive;
  word-spacing: 15px;
  font-size: 20px;
}

a.nav:link {
    color: #000000;
    text-decoration: none;

}

a.nav:visited {
    color: #000000;
    text-decoration: none;
}

a.nav:hover {
    color: #ffffff;
    font-weight: bold;
}

a.nav:active {
    color: #000000;
    text-decoration: none;
}

.one {
    background-image: url('https://preview.ibb.co/ii6xkQ/profiletruck.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
  }

.review {
  position: absolute;
left: 50%;
top: 90%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
    border: 3px solid #ffd700;
    background: #ffd700;
    padding: 2px;
    width: 30%;
}


h5 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
font-family: 'Handlee', cursive;
}

a:link {
  text-decoration: none;
}

.two {
  width: 100%;
  height: 600px;
  background: #ffffff;
}

.about {
  margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: auto;
    width: 100px;
  width: 50%;
  line-height: 70px;
    padding-top: 90px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #cc8500;
font-family: 'Handlee', cursive;
}

.three {
  width: 100%;
  height: 600px;
  background: #ffd700;
}

h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #cc8500;
font-family: 'Handlee', cursive;
padding-left: 10px;
}

.container{
			width: 100%;
			height: 600px;
			overflow: auto;
			display: table;
		}
		.menu{
			width: 50%;
			float: left;
			display: table-cell;
			height: 400px;
		}


 		.image {
 			padding: 100px 0;
      height: 400px;
 		}

		img{
			width: 100%;
		}

.four {
  width: 100%;
  height: 200px;
  background: #ffffff;
}

h4 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
font-family: 'Handlee', cursive;
padding-left: 30px;
}

.container-two{
			width: 100%;
			height: 200px;
			overflow: auto;
			display: table;
		}
		.hours{
			width: 50%;
			float: left;
			display: table-cell;
			height: 200px;
		}


 		.direction {
 			padding: 130px 0;
 			height: 200px;
 		}

    h6 {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
    font-family: 'Handlee', cursive;
    background: #000000;
    }
