body {
    background-color: #9BE5F3;
    flex-wrap: wrap;
    flex-grow: 1;
}

.header {
    border-bottom: 1px solid #1850A5;
    margin: 0px 80px;
  
}
.topnav {
    margin: 0 auto;
    list-style-type: none;
    float: right;
    font-family: questrial;
    padding: 20px;
}

.topnav > a {
    text-decoration: none;
    padding: 20px;
}

main {
    display: flex;
    padding: 20px;
}

.content {
    font-family: questrial;
    margin-top: 100px;
    margin-left: 100px;
}

.grab {
    font-size: 75px;
    color: #1850A5;
    margin-left: 20px;
    
}

.row3 {
    width: 100%;
    padding: 20px;
    font-family: questrial;
}

#phone-number {
    width: 40%;
    padding: 18px;
    border-radius: 12px;
    font-size: 13px;
}



button {
    padding: 20px;
    width: 40%;
    border-radius: 30px;
    color: white;
    background-color: #1850A5;
    font-family: questrial;
    margin: 0px 20px;
    font-size: 16px;
}

.main-image {
    margin-top: 100px;
}

.info {
    display: flex;
    padding-left: 100px;
    background-color: white;
    font-family: questrial;
    justify-content: space-evenly;
    height: 500px;
    padding-bottom: 100px;
}

.list {
    margin-top: 30px;
}

.list4 {
    margin-top: 30px;
    padding-left: 0;

}

.row4 {
    justify-content: space-between;
    justify-content: flex-start;
}

li {
    line-height: 2;
}

h4 {
    font-weight: bold;
}
#h4 {
    margin-left: 30px;
    font-weight: bold;
}
#apps {
    padding: 5px 30px;
    justify-content: flex-start;
}

.foot {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.foot > a {
    font-family: questrial;
    text-decoration: none;
}
    
#footer-links > a {
    width: 400px;
    justify-content: space-evenly;
}

/* Cant figure out how to space out the bottom links */