.flex {
    display: flex;
}

body {

}

header {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid red;
}

.name {
    display: inline;
    margin: 30px;
    font-size: 60px;
}

.contact {
    display: inline;
    float: right;
}