html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

/*background formatting*/
.background {
  background-image: url(image/Acadia_Lighthouse.jpg);
  background-size: cover;
  background-position: 50 0;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;

}
/*fading the background*/
/*.overlay1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}*/
/*fading the background*/
.overlay2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
/*Title Formatting*/
.title {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'Fredericka the Great', cursive;
}
/*Navigation Formatting*/
nav {
  width: 100%;
  height: 30px;
  margin: 30px;
  opacity: 0.9;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  color: white;
}

.Nav-buttons {
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}
/*Tutorial Formatting*/
.box1 {
  margin: 20%;
  margin-top: 40px;
}

.tutorial {
  text-align: left;
  margin: auto;
  margin-top: 20px;
}

.header2 {
  color: white;
  line-height: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}

a {
  color: white;
  line-height: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-decoration: none;
}
.content1 {
}
/*Index Body Formatting*/
.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 40px;
}
.box1 {
  margin: 10%;
  margin-top: 20%;
  /*border-style: solid;
  border-color: red;
  border-width: 2px;*/
}
.quote {
  text-align: center;
  color: white;
  line-height: 40px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}

/*Gallery CSS */
.padding {
  text-align: center;
  width: 1030px;
  height: 1200px;
  margin: auto;
  margin-top: 60px;
  /*border-style: solid;
  border-color: red;
  border-width: 2px;*/
}
.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.desc {
  color: white;
  padding: 20px;
  text-align: center;
}

/*About Page Formatting*/
.about {
  color: white;
  line-height: 20px;
  font-family: 'Bree Serif', serif;
  font-size: 14px;
}
/*Contact Page Formatting*/
.aboutbox {
  margin: 20%;
  margin-top: 40px;
}
.contact {
  text-align: left;
  color: white;
  line-height: 50px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}
