img {
    width: 100%;
}
body div {
    margin-top: 10px;
}
h2 {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: -7px;
}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    list-style: none;
    font-weight: bold;
    margin: 10px 0;
}
a {
    font-size: 2rem;
    color: white;
    background-color: grey;
    text-decoration: none;
    padding: 5px 8px;
}
#div1 {
    color: white;
    background-color: grey;
    margin-left: 12px;
    width: 97%;
}
#div1 li {
    font-weight: normal;
    border-bottom: 1px solid lightgrey;
}
#div1 ul {
    padding: 0px;
    margin: 0px;
}
