
ul{
  list-style: none;
  padding-left: 0;
}
main.row{
  margin-top: 50px;
}
main h1{
  font-size: 30px;
  font-weight: 500;
width: 80%;
}
main p{
  font-size: 22px;
  word-wrap: break-word;
  font-weight: bold;
}
main a{
  background-color: #5d5d5d;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px
}
main a:hover{
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}
aside{
  padding: 5px 10px;
}
aside li{
  padding: 10px 5px;
  font-weight: bolder;
  font-family: serif;
  font-size: 16px
}
aside li:hover{
  font-weight: normal;
  cursor: grabbing;
}
aside h2{
  margin-top: 0px;
}


footer{
  background-color: #5d5d5d;
  color: #fff;
  padding-top: 5px;
  padding-right: 38px;
  padding-left: 40px;
  padding-bottom: 5px;
  display: block;
  margin-top: 20px;
}
footer h3{
  font-weight: bold;
  font-size: 18px;
}
footer li{
  border-bottom: #f7f7f7 1px solid;
}
.foot1 li:last-child{
  border-bottom: none;
}
footer ul{
  padding-right: 30px;
}

/*Notes:
<main class=row>
div col-lg-9 col-sm-12
img class+"img-responsive"
h1
p
a
div
main>
<aside class="col-lg-3 visible-lg"
<Ul
<a><li>
UL>
</aside>
</main>
<footer class="row">
<div class="col-xs-6 col-xs-visible"
h3
<a href="#"><img/><a>
or ul>li
<div>*/
