article p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
  color:white;
}

.technology {
  background-color: #4d4d4d;
  padding: 5px 7px;
  text-decoration:none;
}

ul {
    list-style: none;
    padding-left: 0;
    font-weight:bold;
}

ul h3 {
  border-bottom: 1px solid;
  padding-bottom: 13px;
}

li {
  padding-top: 13px;
}

a:hover {
  color:white;
  text-decoration:none;
}

footer {
  background-color:#5d5d5d;
}

/*For tablets*/
@media (min-width:768px)and(max-width:992px) {

}

/*For phones*/
@media (max-width:767px) {
    h1 {
    font-size: 23px;
    }

    article p {
    font-size: 17px;
    }

    .technology {
      padding: 7px 10px;
      margin-bottom: 10px;
    }

    .visible-xs {
      margin-top: 25px;
    }

    footer {
      height:200px;
      color:white;
    }

    h3 {
      font-size:17px;
    }

    .useful-links a {
      border-bottom:1px solid white;
      font-weight:lighter;
      padding: 3px;
    }

    .useful-links a {
      display:block;
    }

    .link {
    border-bottom:1px solid white;
    padding-top:3px;
    padding-bottom:3px;
    }

    .social-media img {
      width:15px;
      height:15px;
      display:inline;
    }

    .social-media a {
      font-weight:lighter;
      padding: 3px;
    }

    .facebook img, .instagram img {
      margin-left:22px;
    }

    .twitter img {
    margin-left: 43px;
    }

}
