    body {
    margin: 0 auto;
    font-size: 16px;
}

.border {
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 90%;
    margin: 2% 5%;
}

.hero {
    width: 100%;
}

aside {
    width: 100%;
}

aside h3 {
    font-size: 3.25em;
    font-weight: bold;
}

li {
    list-style: none;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 5%;
}

aside a {
    color: black;
}

hr {
    max-width: 100%;
    border: 2px solid black;
}

article {
    font-size: 40px;
}

article h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1%;
}

article p {
    font-size: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
}

article a {
    background-color: #4C4C4C;
    color: white;
    font-size: 1em;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2%;
}

footer {
    color: white;
    width: 100%;
    padding-bottom: 4%;
}

footer.row {
    margin: 0%;
}

footer a {
    width: 75%;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
    padding: 1%;
}

footer {
    background-color: #5D5D5D;
}

footer h3 {
    font-size: 1.2em;
    font-weight: bold;
}

footer a {
    font-size: 1em;
}

footer img {
    height: 15px;
    margin-top: 1%;
    float: right;
}

.links {
    padding-left: 6%;
}

@media (max-width: 768px) {
    article {
        font-size: 16px;
    }
