body {
  font-family: Helvetica, arial, sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#top {
  margin-top: 1%;
}

aside {
  margin-left: 50px;
}

aside h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

aside ul {
  list-style: none;
}

aside a {
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

aside a:hover {
  color: black;
}

#tech {
  margin-top: 30px;
  margin-bottom: 30px;
}

#tech p {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 300;
}

#tech a {
  margin-top: 30px;
  color: #fff;
  background-color: #5D5D5D;
  padding: 10px 15px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}



footer {
  background-color: #5D5D5D;
  color: #fff;
  padding: 30px 0;
  margin-top: 5%;
}

footer h4 {
  margin-bottom: 25px;
}

footer a img {
  height: 15px;
  float: right;
}

footer a {
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 75%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: 100;
}

footer a:hover {
  color: #fff;
}

footer .useful a:last-of-type {
  border-bottom: 0;
}
