
p{
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
hr{
  color: black;
}
.btn{

  border-radius: 0;
  font-weight: 400;
  padding: 15px;
  }
  a {
    color: white;
    text-decoration: none;
    background-color: #404040;
    margin-top: 10px;
  }
.footerbox{
  margin-top: 20px;
  background-color: #424242;
  color: white;
}
.bottombox{
  margin-top: 20px;
  background-color: #424242;
  color: white;
  padding-bottom: 120px;
}
h3{
  padding-top: 20px;
}
h4{
  font-weight:400;
}
