#berries {
  max-width: 100%;
}

#text {
  background-color: rgb(240, 240, 240);
  text-align: center;
}

span {
  font-size: 1.9em;
  color: #252b3b;
  font-weight: bold;
}

td {
  width: 500px;
}

p {
  color: #555;
  padding-bottom:20px;
}

button {
  padding: 5px;
  color: #252b3b;
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(240,240,240);
  font-family: serif;
  border-width: 2px;
  border-style: solid;
}
