.boxed {
  width: 500px
  border:1px solid black;
  background-color: rgb(240, 240,240)
}

.boxed{
  text-align:center;
  padding: 182px;
  : 30px;
}

h2{
  color:#252b3b;
  font-size: 1.9em;
}

p {
  color:#555;
  padding-bottom: 20px;
}

.button p{
display:inline;
padding:5px;
}
