#container {
  //position: relative;
}
.boxes {
  width: 500px;
  float: left;
  display: inline;
  padding: 3px;
}
img {
  width: inherit;
}
#rightBox {
  background-color: rgb(240, 240, 240);
  position: absolute;
  height: 387px;
}
h1 {
  color: #252b3b;
  font-size: 1.9em;
}
p {
  color: #555;
  padding-bottom: 20px;
}
#textContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
a {
  font-weight: bold;
  color: #252b3b;
  border: 2px solid #555;
  padding: 5px;
  text-decoration: none;
}
