div.Berries {
    background-color: rgb(240, 240, 240);
    text-align: center;
    width: 500px;
    height: 400px;
}

h2 {
    color: #252b3b;
    font-size: 1.9em;
}

p {
    color: #555;
    padding-bottom: 20px;
}

footer {
    color: #252b3b;
    border: 2px;
    border-color: #555;
    border-style: solid;
    padding: 5px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;

}

div.image {
    width: 500px;
    height: 400px;
}
