/* overall styling */
html {
  background-size: cover;
  font-family: 'Lato',sans-serif;
  color:#a8a8a8;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}

p{
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}

/* navigation styling */
header{
  margin-left:0;
  margin:0;
}
.innerheader{
  height:120px;
  background-color: white;
  text-decoration: none;
}
.navigation {
  width: 100%;
  background-color: white;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  max-height:inherit;
  margin-left: auto;
  margin-right: auto;
}

.navigationbar{
  float:right;
  padding-left: 30px;
  padding-right: 20px;
  max-width: 1610px;
  max-height:inherit;
  margin-top:50px;
  margin-right:50px;
}

a{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

a:hover{
  color:#000;
}

.fa{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

.fa:hover{
  color:#000;
}

img{
  height:75px;
  padding:20px;
}

/* body styling */
body{
  background-color: #fcfcfc;
  border:0px;
  margin:0px;
  display:block;
}

h1{
  text-align:center;
  font-size:20px;
}

h2{
  text-align:left;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* footer styling */
footer {
  float:bottom;
  text-align: center;
  color:#a8a8a8;
}

.navigationbar2{
  text-align:center;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}
