html{
    background-color: #3C3C40
}

.container{
    margin: 20px 250px;
}

.subsection{
    width: 100%;
}

p {
    text-align: center;
}

.menu{
    display: inline-block;
    background-color: #742F22;
    color: #E7DCB5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.drop-down {
    padding: 0 15px;
}

.info{
    background-color: #E7DCB5;
    display: inline-block;
}

.info section {
    display: inline-block;
    width: 49%;
}


#photos {
    width: 400px;
}

.links{
    display: inline-block;
    background-image: url(./images/footer-banner.jpg);
    color: #E7DCB5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0px;
    width: 100%;
    text-align: center;
}