*{
  font-family: sans-serif;
}
img{
  width:100%;


}

.button{
  background-color: black;
  color:white;
  padding: 10px;
  display:block;
  margin:30px 30px 30px 0;
  width:150px;
  text-align: center;
}

h2{
  font-weight: bolder;
  margin-left: 35px;
  width:100%;
  border-bottom: 1px solid black;
padding-bottom: 10px;
  width:80%;
}

li{
  list-style: none;
  line-height: 2em;
  font-weight: bolder;
  border-bottom: 1px solid white;
}


footer{
  display:inline-flex;
  color: white;
  background-color: #5D5D5D;
  padding-bottom: 20px;
}

.column_2{
  margin-left: 40px;

}
#terms{
  border: none;
}
