div {
  height: 450px;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

section {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: sans-serif;
  margin: auto 50px;
}

h2 {
  font-size: 14px;
  padding-top: 25px;
}

p {
  font-size: 13px;
  line-height: 21px;
  padding-bottom: 40px;
  color: #858585;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 11px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-right: 4px solid #A51A11;
  text-align: center;
  align-self: flex-start;
  color: #818181;
  padding: 11px 16px 11px 16px;
}
