html{

}

body{

}

main{

}

header{

}

nav{

}

#winehp-navbar-collapse{

}

/*------------END OF NAV--------------*/

#hero{
  background-image: url("../img/wine-bg.jpg");
  height: auto;
  width: auto;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 9%;
  text-align: center;
}

#hero img{

}

#aboutimg{

}

#aboutimg img{
  max-height: 650px;
  width: 100%;
}

#abouttext{
  max-height: 650px;
  background-color: red;
}

#abouttext h4{
  padding: 10% 20%;
}

#testimonial{
  background-image: url("../img/wine-bg.jpg");
  height: auto;
  width: auto;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 9%;
  text-align: center;
}


@media all and (max-width: 767px) {

#hero{

}
