body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 900px;
  margin: 0px;
}

header {
  background-color: #2BCDC0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
  height: 600px;
  width: 90%;
  /*font-size: 6em;*/
  /*color: white;*/
  /*   background-image: url('../img/nasa-background.jpg'); */
  /*   background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;  */
}

header h1 {
  display: flex;
  justify-content: center;
  color: white;
  /*   height: 325px;
  width: 850px; */
  /*   background-position: center;
  justify-content: center; */
  width: 100%;
  font-size: 60px;
  font-family: 'Heebo', sans-serif;
  margin-right: center;
  margin-left: center;
}

main {
  color: white;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid white;*/
  background-color: black;
  height: 600px;
  width: 90%;
  margin: 0px;
}


/*#Title {
  justify-content: center;
}*/

.info-box {
  text-align: center;
  /*display: flex;*/
  font-size: 20px;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  /*border: 1px solid black;*/
  width: 270px;
  justify-content: flex-end;
  justify-content: space-between;
  margin: 20px;
  /*justify-content: space-between;*/
}

main img {
  height: 500px;
  display: none;
}

p {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

#box1 h1 {
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
  padding-top: 20px;
  /*border-spacing: 30px;*/
  margin-bottom: 30px;
  border-top: 30px solid #33A8DD;
}

#box2 h1 {
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
  padding-top: 20px;
  /*border-spacing: 30px;*/
  margin-bottom: 30px;
  border-top: 30px solid #F46731;
}

#box3 h1 {
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
  padding-top: 20px;
  /*border-spacing: 30px;*/
  margin-bottom: 30px;
  border-top: 30px solid #2BCDC0;
}

@media all and (max-width: 1024px) {
  body {
    flex-flow: row wrap;
  }
  header {
    flex: 1 100%;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 1.2rem;
    min-height: 20rem;
    background-color: #33A8DD;
  }
  main {
    color: black;
    background-color: white;
    height: 1500px;
    width: 300px;
    flex-direction: column;
  }
  main img {
    display: none;
  }
  .uni {
    margin-left: -150px;
    /*border: 1px solid green;*/
    flex-direction: column;
    display: inherit;
    height: 500px;
    width: 500px;
    font-size: 50px;
  }
  .uni {
    font-size: 90px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    flex-flow: row wrap;
  }
  header {
    flex: 1 100%;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 1.2rem;
    min-height: 20rem;
    background-color: #33A8DD;
  }
  main {
    color: black;
    background-color: white;
    height: 1500px;
    width: 300px;
    flex-direction: column;
  }
  main img {
    display: none;
  }
  .uni {
    margin-left: -150px;
    /*border: 1px solid green;*/
    flex-direction: column;
    display: inherit;
    height: 500px;
    width: 500px;
    font-size: 50px;
  }
  .uni {
    font-size: 90px;
  }
}
