body{
    margin: 0;
    background-color: #18181B;
} 

#siteContainer{
    width: 1300px;
    height: 800px;
    background-color: #CBD0D5;
    margin: auto;
}

main{
    float: right;
    width: 800px;
    height: 800px;
    background-image: url(massage_pooch.jpg);
    /* would like image to have low opacity, but cound't get the children to reset :/ */
    background-size: cover; 
    filter: grayscale(100%);
    /* opacity: 0.2; */
    /* -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH"; would flip, but can't get children to unflip*/
}

#logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 600px;
    height: 200px;
    text-shadow: .25px .5px .25px #66666E;
}

.allLogo{
    float: left;
    clear: left;
}

#topLogo{
    font-size: 100px; 
    height: 80px; 
    font-family: 'Alex Brush', cursive;
}

#midLogo{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Playfair Display', serif;
}   

#lowLogo{
    font-size: 26px;
    font-family: 'Alex Brush', cursive;
}

#bookNow{
    margin-top: 215px;
    margin-left: 310px;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    background-color: #CBD0D5;
}
#bookNow:hover{
    color: #575758;
}

#navBar{
    float: left;
    width: 500px;
    height: 495px;
    font-family: 'Playfair Display', serif;
    font-size: 26px; 
    background-color: #EEF0F2;
}

.navA{
    display: block;
    margin-top: 50px;
    margin-left: 100px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#socialAbout{
    float: left;
    clear: left;
    width: 500px;
    height: 305px;
    background-color: #fdfdfd;
}

#about{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-family: 'Alex Brush', cursive;
    font-size: 24px;
}

.social{
    display: inline;
    width: 50px;
    margin-top: 30px;
    margin-left: 85px;
}

.social:hover{
    filter: invert(50%);
}

