/* Begin Background Images */
.bg1 {
    background-image: url("https://images.unsplash.com/photo-1502142697003-7864044c7772?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e311a7770d810881a469ef585e449f5&auto=format&fit=crop&w=1350&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image: url("https://images.unsplash.com/photo-1508175447268-f8dca053c411?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b3eea5f5f6ca34c562a79072fc09949&auto=format&fit=crop&w=1350&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    background-image: url("https://images.unsplash.com/photo-1514049252003-15aa2bfae9f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e47b95d2201e5b05a66299be62f2835&auto=format&fit=crop&w=1489&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End Background Images */
/* Begin On Screen Location Mods */
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.centeredTop {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
/* End On Scrren Location Mods */
/* Begin Text/Font Mods */
.whiteText {
    color: white;
}
.blackText {
    color: black;
}
.smFont {
    font-size: 2.5vw;
}
.mdFont {
    font-size: 3vw;
}
.lgFont {
    font-size: 5vw;
}
/* End Text/Font Mods */
.container1 {
    position: relative;
    text-align: center;
}
.container2 {
    position: relative;
    text-align: center;
}
.container3 {
    position: relative;
    text-align: center;
}