

.maincontainer {
  background-image: url(http://lorempixel.com/1280/500/nature/);
  background-size: cover;
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.img-top {
  margin-bottom: 4%;
}

.img-fullwidth {
  width: 100%;
}
