/* ========================================== */
/* Grid Set Up */
/* ========================================== */
body {
  display: grid;
  justify-content: center;
}
/* ========================================== */
/* Customization */
/* ========================================== */
h1, h2 {
  text-align: center;
}
.manual-income {
  display: grid;
  justify-content: center;
}
#getMuny {
  border-radius: 50%;
  border-style: none;
}
#currentMuns {
  height: 50px;
  width: 100%;
  border: solid black 3px;
  text-align: center;
  font-size: 45px;
}
.game-state {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
}
.worker-help, .worker-numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}
.upgrades {
  display: flex;
  justify-content: space-between;
}
.upgrades button {
  color: gold;
  background-color: gray;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}
