.navbar-brand {
  font-weight: bold;
  padding-left: 20px;
}
button {
  margin-top: 10px;
  margin-right: 20px;
}
a {
  color: black;
  text-decoration: none;
}
#div1 {
  margin-top: 50px;
}
#div1 #img1 {
  width: 70%;
}
#div1 img {
  background-size: contain;
}
h1 {
  font-family: 'Lalezar', cursive;
  font-size: 60px;
}
#div1a {
  margin-top: -420px;
}
#div1b img {
  width: 60%;
}
#div2 {
  background-color: lightgrey;
  margin-top: 20px;
}
h2 {
  font-family: 'Lalezar', cursive;
  font-size: 32px;
}
#div2 li {
  font-size: 18px;
  display: inline-block;
  text-align: justify;
}
#img1{
  width: 100%;
}
#carousel-example-generic {
  margin-top: 25px;
}
#div2b {
  background-color: lightgrey;
}
#div3 {
  width: 100%;
  margin-top: 20px;
}
#div3 h1 {
  font-size: 48px;
}
#div3 img {
  background-size: cover;
  width: 150%;
}
#div3 .row {
  margin-top: 10px;
}
#img2 {
  max-height: 198px;
}
#img3 {
  max-height: 198px;
}
#img4 {
  max-height: 145px;
}
#button1 {
  height: 100px;
  width: 200px;
  font-size: 24px;
  margin-left: 30%;
}
#div3 h5 {
  font-size: 24px;
  line-height: 48px;
}
#div3 ul {
  font-size: 24px;
}
#img4 {
  width:100%;
}
#div4 {
  background-color: lightgrey;
}
#div4 img {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 48px;
  }
  #div1a {
    margin-top: -350px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  #div1a {
    margin-top: -280px;
  }
}
@media (max-width: 767px) {
  button {
    margin-left: 10px;
  }
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
  #div1a {
    margin-top: 0px;
}
