img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
p:hover::first-letter{
  font-size: 150%;
  color: red;
}
p{
  font: 1em "Open Sans", sans-serif;
  padding-left: 1.5em;
}
h1{
  font: 2em "Open Sans", sans-serif;
  font-weight: bold;
  padding-left: 0.5em;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dimgrey;
}
li{
  float: right;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font: 0.9em "Open Sans", sans-serif;
}
li a:hover{
  background-color: black
}
footer p{
  font: 0.8em "Open Sans", sans-serif;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
