
body {
    background: url('../img/bg.jpg');
    background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.container {
  margin-top: 100px;
  background-color: white;
  padding: 30px;
  border: solid 2px #3C96E2;
  width: 50%;
}

form {
  margin-top: 60px;

  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sf {
  display: flex;
  flex-flow: column;
  padding-bottom: -10px;
  margin-bottom: -70px;
}

.navbar-right {
  padding-right: 20px;
}
