html, body {
  background-color: #444;
}

.navbar-inverse, .panel, .btn, label, input {
    border-radius: 0 !important;
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.4);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.nav {
  float: right;
}

main {
  margin-top: 0;
  background-image: url(../img/Akunyili-Crosby-I-Still-Face-You-800x630.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px;
  width: 100%;
  margin-bottom: 60px;
}

.panel, .panel-default >.panel-heading, .panel-title, .panel-body {
  background-color: transparent;
  color: #eee;
}

.btn {
  background-color: #ccc;
  border: none;
}

/* TYPOGRAPHY */

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #333;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }

  p, span, label, a, .btn {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
  }
