body {
    width: 95%;
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand {
    position: relative;
    padding: 10px;
    top: -10px;
    font-size: 1.5em
}

.panel {
    width: 40%;
    margin: 0 auto;
}

.contact {
    height: 300px;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.fa {
    position: relative;
    bottom: -5px;
    margin: 0 15px 0 0;
    font-size: 1.75em;
    /*vertical-align: middle;*/
}

form, input {
    margin: 5%;
}

.submit {
    position: relative;
    left: -15px;
}

.email {
    position: relative;
    left: -15px;
    width: 100%;
}

.panel-heading {
    padding: 2%;
    text-align: center;
}

.question {
    position: relative;
    bottom: -5px;
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
}

.fa-question {
    position: relative;
    top: -.4px;
    right: -3px;
    font-size: 12pt;
}

.panel-title {
    margin-bottom: 10px;
}

.panel2 {
    position: relative;
    height: 420px;
    overflow: scroll;
}

.form2>p {
    position: relative;
    text-align: center;
}

.panel2 input {
    margin-top: -.5%;
    width: 90%;
    ;
}

.submit-butt {
    position: relative;
    bottom: -10px;
}

@media (min-width:400px) and (max-width:634px) {
    .panel {
        width: 66.6%;
    }
    .panel-title {
        line-height: 25px;
    }
}

@media (min-width:635px) {
    .panel {
        width: 55%;
    }
}
