body {
  font-family: 'Indie Flower', cursive;
}

#hero {
  background: url("http://i.amz.mshcdn.com/erKUnrEJT8LkipmrORtXJtamM8o=/1200x627/2015%2F12%2F19%2F0c%2Fbeatles.str.7ee5a.jpg");
  height: 550px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #60FE00;
  margin-bottom: 40px;
}

h1 {
  font-size: 80px;
  margin: 40px 0;
}

h4 {
  font-size: 30px;
  margin: 40px 0;
}

form {
  text-align: center;
  padding: 20px 0;
  background-color: #60FE00;
}
