#box{
background-image:url("../img/hwtsd.jpg");
text-align: center;
padding-top: 350px;
padding-bottom: 200px;
padding-left: 666px;
padding-right: 300px
background-repeat: no-repeat;
background-size: contain;
color: black;
background-color: black;
opacity: inherit;
font-family: 'Timmana', sans-serif;
}

h1{
  color: black;
  font-family: 'Timmana', sans-serif;
}
