body {
  width: 100%;
  height: 1200px;
}

header {
  height: 150px;
  background-color: light gray;
  border-bottom: 5px solid black;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 4em;
  margin-left: 40px;
  background-color: pink;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin-left: 40px;
}

.headermenu {
  float: right;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin-right: 100px;
  margin-top: -80px;
}

.homenav {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: yellow;
}

.aboutnav {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: orange;
}

.illustrationsnav {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: violet;
}

.contactnav {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: lightgreen;
}

main {
  background-image: url('../img/cool-background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.aboutheader {
  font-family: 'Emilys Candy', cursive;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

.aboutcontent {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2em;
  text-align: justify;
  color: white;
  text-indent: 50px;
  margin: 50px 100px;
}

.illustrationsheader {
  font-family: 'Emilys Candy', cursive;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

.illustrationscontent {
  margin: 40px 40px 40px 40px;
}

.contactheader {
  font-family: 'Emilys Candy', cursive;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

.email:hover {
  background-color: pink;
}

.contactcontent {
  text-align: center;
  font-size: 1.5em;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  background-color: cornflowerblue;
  font-style: italic;
  color: black;
}

#hashtagcolor {
  color: hotpink;
}
