body {
  width: 100%;
  height: 800px;
}

header {
    height: 150px;
    background-color: light gray;
    border-bottom: 5px solid black;

}

h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 4em;
  margin-left: 100px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin-left: 100px;
}

.headermenu {
    float: right;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin-right: 100px;
    margin-top:-80px;
}
#home {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: yellow;
}
#about {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: orange;
}
#illustrations {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: violet;
}
#contact {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  background-color: lightgreen;
}
main {
  background-image: url('../img/cool-background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}
