body {
  width: 100%;
  height: auto;
  background-color: #303235;
  background-image: url(../img/adam-birkett-209727.jpg);
  background-size: cover;
}
header {
  width: 97%;
  margin: 3% auto;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #303235;
  font-size: 4em;
  font-family: sans-serif;
}
figure {
  border-radius: 50%;
}
