body{
  margin:auto;
  background-color:darkgray;
}
.jumbotron{
  height:250px;
  background-image: url("../img/banner.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    text-shadow: 3px 3px 1px red;
}
img{
  height:200px;
  margin:10px;
  border:15px solid black;
  border-radius:15px;
}

a{
  background-color:black;
  font-size:32px;
  margin-top:100px;
  padding:40px;
  border:5px solid red;
  border-radius: 100%;
  color:white;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
a:hover{
  text-decoration: none;
  text-shadow:none;
  background-color:red;
  border-color:black;
  padding:50px;
}
a:visited{
  color:white;
  text-decoration: none;
}
.beginBtn{
  margin-top:50px;
}
.frames{
  /*margin-top:75px;*/
  margin-bottom:50px;
}

.timerBox{
  height:100px;
  background-color: black;
  color:white;
  border: 3px solid red;
}
#timer{
  padding-top:15px;
  font-size:40px;
  font-weight: bold;
}
