section{
  width: 100%;
  display: flex;
  -webkit-box-shadow: 22px 21px 70px 2px rgba(114,89,168,0.54);
}
h1{
  font-size: 20px;
  font-family: sans-serif;
  color: violetblue;
}
section:first-of-type{
    background: linear-gradient(45deg, yellow, blue);
}
img{
  border-radius: 45%;
  margin:10px;
  height: 200px;
  width: 200px;
}

.intro{
  background-color: #22bcde;

display: flex;
  width: 850px;
  height: 300px;
margin-bottom: 10px;
}

.main{
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRg8o14-GA7Q7nhvUX_E_BcoHzYUilRFXzdfCmcSI6ZdaLtUCfO");
  display: flex;
  width: 850px;
  height: auto;
  margin-top: 10px;
}

@keyframes duction {
from{opacity: 0.1;}
to{opacity: 1;}
}

img{animation-name: duction;
    animation-duration: 4s;}
