html, body, h1, h2, p {
  font: inherit;
}

body {
font-family: 'Open Sans', sans-serif;
  color: black;
	background-color: #CCCCCC;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #000;
	background-color: #E57F00;
  background-size: cover;
  padding: 40px;
  border: 5px solid black;
  border-radius: 25px;
	text-shadow: 4px 6px 0 #999999;
  margin: 10px;
  font-weight: bold;
}

h2	{
	text-align: center;
	font-size: 10px;
	color: white;
	margin: 10px;
	background-color:  black;
	border-radius: 25px;
	padding: 5px;
}

.headdivide	{
  color: black;
  margin: 10px;
	background-color:  #E57F00;
	border: 2px solid black;
	border-radius: 25px;
	padding: .1px;
}

.actionbox	{
  color: black;
	margin-right: 150px;
	background-color:  #E57F00;
	border: 2px solid black;
	border-radius: 25px;
	padding: 4px;
	float: right;
}

a:link {
  color:black;
  background-color:transparent;
  text-decoration:none;
}

a:visited {
  color:black;
  background-color:transparent;
  text-decoration:underline;
}

a:hover {
  color:yellow;
  background-color:transparent;
  text-decoration:underline;
}

.thumbnail {
  float: left;
  border-radius: 50%;
  width: 210px;
  height: 190px;
  margin: 15px;
}
