/*my colors are uggggggleeee*/

body {
  background-color: midnightblue;
}
h1{
  display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}
h3 {
  display: block;
font-size: 1.17em;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}
header {
  background-color: goldenrod;
  color: midnightblue;
  text-align: center;
  padding: 30px;
  padding-right: 35%;
  padding-left: 20%;
}
/*Most of this code resizes pretty well except for the image
Fix this crap!!*/
img {
  max-height: 40%;
  max-width: 20%;
  position: absolute;
  right: 15px;
  top: 0;
}
section {
  color: goldenrod;
  text-align: center;
  padding-top: 30px;
  padding-right: 35%;
  padding-left: 20%;
  padding-bottom: 30px;
  }
aside {
  background-color: goldenrod;
  color: midnightblue;
  text-align: center;
  padding: 20px;
  position: absolute;
    height: 100%;
    right: 0;
    width: 15%;
    }
footer {
  text-align: center;
    position: fixed;
    width: 85%;
    bottom: 10px;
    }
