
* {
  text-align: center;
}
body {
  background-color: #c5dad8;
  font: helvetica, sans-serif;
}
ul {
    list-style: disc;
    width: 9%;
    padding: 25px;
    margin: auto;
}
ol {
  width: 18%;
  margin: auto;
  padding: 50px;
  list-style: decimal;
}

#bands img {
  vertical-align: middle;
}
#shows img {
  vertical-align: middle;
}
