
.header {
  background-image: url("https://www.zagat.com/proxy/v1.4?m=image&a=resize&url=http%3A//storage.googleapis.com/zgt-photos/0x8644b4eb0d6ab761_0x2598e12d816a7aca/5e9fb17e105d9b6776af3886a2d62345.jpg&width=497&height=286&key=abbc09b7c840c10937a4db331422c98b");
  height: 280px;
  background-position: center center;
  text-align: center;
}

body{
  background:darkred;
  width: auto;
}

img{
  float:right;
  border-style: solid;
  border-width:4px;
  border-color:black;
}

.text h1{
  color: White;
  text-align:center;

  margin: 0;
  padding: 10px;
}

.text h2{
  color: White;
  text-align:center;
  margin: 0;
  padding: 0px 0px 80px 0px;
}

.meatman{
   color: lightgray;
}

.Favoritelists{
  color: lightgreen;
}

h1{font-size:40px;
  color: white;
  font-family: Georgia, Times, serif;
  font-weight:bold;
   }

   h2{font-size:18px;
     color: white;
     font-family: Georgia, Times, serif;
     font-weight:normal;
      }

h3{font-size:22px;
  color:red;
  font-family: Georgia, Times, serif;
  font-weight:bold;
   }

   h4{font-size:22px;
     color:darkorange;
     font-family: Georgia, Times, serif;
     font-weight:bold;
      }

p {
  font-size: 16px;
  font-family: Georgia, Times, serif;
  font-weight:normal;
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:darkorange;
}
