
#bio-pic{
  transform: rotate(-90deg);
width: 300px;
height: auto;
}


h1 {
  font-size: 50px;
  color: #7E2B8E;
  text-align: center;
text-shadow: 80%;

}

p {
  text-align: center;
  margin: 25px;
}
section img {
  max-width: 15%;
  height: auto;
}
li{
  font-size: 18px;
  color: blue;

}
h3 {
  font-size: 25px;
  style: bold;
}
