html {
   background: #d6f5f5;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

li {
  text-align: center;
}

ol {
  text-align: center;
}
