.header {
  background-color: pink;
  height: 100px;
  width: 100%;
}

nav{
  background-color: magenta;
  height: 30px;
  width: 100%;
}

.welcome {
  background-color: orange;
  height: 500px;
  width: 100%;
}

.about {
  background-color: turquoise;
  height: 350px;
  width: 100%;
}

.menu {
  background-color: yellow;
  height: 500px;
  width: 100%;
}
