html {
  font-family: "Madre Script"
}
.header {
  width: 100%;
  border: 1px solid red;
  background-color: pink;
}

#logo {
  height: 100px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  border: 1px solid red;
}

nav {
  text-align: center;
  border: 1px solid blue;
  word-spacing: 100px;
  margin-left: 230px;
  margin-right: 230px;
}

.welcome {
  background-color: orange;
  height: 550px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("fruit_background.jpg");
}

.about {
  background-color: turquoise;
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
}

.menu {
  background-color: yellow;
  height: 500px;
  width: 100%;
}
