body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bitcoin {
  width: 200px;
  height: 200px;
  margin-left: 215px;
}

img {
  transition: all 3s;
  transition-timing-function: linear;
  cursor: pointer;
}

h4 {
  text-align: center;
}

#current-total {
  margin-left: 165px;
  width: 300px;
  height: 100px;
  background: linear-gradient(#874111, #EFD75A);
  border-radius: 10px;
  font-size: 75px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
}

.button {
  margin-right: 10px;
  width: 150px;
  height: 50px;
  background-color: #157EFB;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
