html{
/*background-color: #1A32D4;*/
}

body{
background-color: #1A32D4;
}

main{
background-color: white;
}

#hero{
  text-align: center;
}

.jumbotron{
  background-color: #1A32D4;
}

#faqcol{
  background-color: #1A32D4;
}
#billingcol{
  background-color: lightblue;
}
#promocol{
  background-color: #1A32D4;
}
#notifcol{
  background-color: lightblue;
}

#contacthelp{
  text-align: center;
  height: 200px;
  padding-top: 100px;
}


@media all and (max-width: 990px) {

  #faqcol{
    background-color: #1A32D4;
  }
  #billingcol{
    background-color: lightblue;
  }
  #promocol{
    background-color: lightblue;
  }
  #notifcol{
    background-color: #1a32d4;
  }
}
@media all and (max-width: 760px) {

  #faqcol{
    background-color: #1A32D4;
  }
  #billingcol{
    background-color: lightblue;
  }
  #promocol{
    background-color: #1A32D4;
  }
  #notifcol{
    background-color: lightblue;
  }
}
