body {
  font-family: 'Audiowide', cursive;
  width: 100%;
}

/* image used in header */
#guitar-image {
  width: 100%;
  height: 360px;
}
/* container for menu list*/
.menu-icons {
  width: 100%;
  margin-left: 7%;
  margin-top: 30px;
}

/* styleing for menu links*/
li{
  color: brown;
  font-size: 30px;
  list-style: none;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
/* changes color of links from the default color to brown*/
a {
  color: brown;
}
/* changes color of links to red when cursor hovers over */
a:hover {
  color: red;
}
/* styling for headings of sections */
.section-title {
  text-align: center;
  font-size: 40px;
  color: #663355;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
}
/* styling for main section images*/
.left {
  float: left;
  padding: 0 20px 0px 20px ;
  max-width: 30%;
  max-height: 500px;
}
/*container for the middle section */
#featured-container {
  width: 80%;
  height: 1100px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40px;
  border: 4px solid #663300;
}
/* styling for the <p>s*/
.real-text {
  padding: 10px 10% 0px 5%;
  font-size: 22px;
  color: #663355;
}
/* styling for line between sections */
.dividing-line {
  width: 90%;
  border-bottom: 2px solid #663300;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
}
/* container for youtube video section */
#video-background {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
/* nexting of youtube code */
#video-background iframe {
  margin-top: 20px;
  margin-right: 33%;
  margin-bottom: 100px;
  margin-left: 33%;
}
/*container for social media */
#social-media {
  width: 90%;
  height: 230px;
  border: 2px solid #663355;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
}
/* heading for socal media section*/
h4 {
  text-align: center;
  font-size: 40px;
  color: #663355;
  font-weight: bold;
  margin-bottom: 20px;
}
/* container for social media images/links*/
#social-box {
  width: auto;
  margin-left: 22%;
  margin-right: 22%;
  padding-top: 20px;
}
/* styling for social media images*/
.social-images {
  width: 110px;
  height: 95px;
  float: left;
}
/* styling for the footer */
footer {
  text-align:center;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
  font-style:oblique;
  color: brown;
}
