body {
  font-family: 'Audiowide', cursive;
}

.top-header{
  background-image: url('../img/ternion-web-header-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

#header-text {
  Margin-top: -3%;
  Margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 50px;
  text-shadow: 5px 5px brown;
}


.menu-links {
color: brown;
font-size:30px;
list-style: none;
display: inline-block;
margin-left: 50%;
margin-right: auto;
}

li {
  list-style: none;
  display: inline-block;
}

.section-title {
  text-align: center;
  font-size: 40px;
}

#left {
  float: left;
  padding: 0 20px 20px 20px ;
  max-width: 360px;
  max-height: auto;
}

#real-text {
  padding: 0 10% 0px 5%;
}

#video-background {
  width: 50%auto;
  height: 40px;
  border: 2px solid black;
}
footer {
  text-align:center;
  font-size: 14px;
  font-style:oblique;
  color: brown;
}


/*#top-box-right {
  float: right;
  width: 35%;
  height: 200px;
  background-color: #404062;
}*/
