@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Roboto+Slab:300,400');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .border-1 {
  border: 2px solid red;
}
.border-2 {
  border: 1px solid blue;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 80%;
  flex: 1;
  box-shadow: 1px 1px 1px 0px rgba(134,134,134.0.1);
}
.card__content {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 0;
  flex: 1;
  order: 2;
}
.card__content div {
  margin-bottom: 1.3em;
}
.card__content .subtitle {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;

}
.card__content .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 30px;


}
.card__content .description {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 20px;

}
.card__content .link a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;


}
.card__image {
  background: url(../css/images/karly-gomez-360069-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  order: 1;

}




@media  (min-width: 576px) {
.card__content {
  padding: 2em;
}
.card__content .description {
  line-height: 16px;
}
.card {
  flex: 2;
}
}

@media  (min-width: 768px) {
  .card {
    flex-direction: row;
  }
.card__content {
  order: 1;
  padding: 6em 2em 0;
}

.card__content .description {
  line-height: 22px;

}

.card__image {
  order: 2;
  flex:2;

}
}

@media (min-width: 992px){
  .card {
    height: 550px;
    width: 900px;;
  }
}

