@charset "utf-8";

body{
  margin: 20px;
}
h1{
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 40px;
  font-weight: 100;
  color: black;
  text-align:center;
  line-height: 20px;



}
.header {
  display: -webkit-flex;
  display: flex;
  background-color:#33a8dd;
  height: 356px;
  width: 450px;
  justify-content: center;
  align-items:center;
}

.header-item {
      width: 250px;
      text-align:center;
      font-family: "Palatino Linotype", "Book Antiqua", serif;
      font-size: 48px;
      color: white;
      text-align:center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 450px;
    height: 999px;
  	font-family:  Tahoma, Geneva, sans-serif;
  	font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
    color: black;
    background-color: lightgray;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}

.item {
    width: 180px;
    text-align:center;
}

#blue-box {
  background-color:#33a8dd;
  width: 180px;
  height: 30px;
}

#orange-box {
  background-color:#f46731;
  width: 180px;
  height: 30px;
}

#green-box {
  background-color:#2bcdc0;
  width: 180px;
  height: 30px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
