#top-stories {
  display: none;
}

#flexbox-1 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

#flexbox-1 section {
  width: 80%
}

img {
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

#intro {
  font-size: 16px;
}

.type-tag {
  width: 100px;
  padding: 8px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#flexbox-3 {
  justify-content: space-around;
}

h3 {
  font-size: 16px;
}

#flexbox-3 div div {
  font-size: 12px;
}
