
/*header*/

header{
  background-color: lightblue;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;


}
/*body*/

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  margin-bottom: : 250px;
  background-color: black;

}



#bluebar{
  background-color:;
  border: blue;
  border-top: 30px solid #169dff;
  color: #ffffff;
  text-align: center;
  padding-left: auto;
}

#orangebar{

  border-top:30px solid orange;
  color: #ffffff;
  text-align: center;
}

#tealbar{

border-top: 30px solid pink;
color: #ffffff;
text-align: center;
}





@media screen and (max-width: 767px){
  main{
    /*float: none;*/
    /*text-align: center;*/
    width: 100%;
    background-color: #red;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightgreen;
  }
}
@media screen and(min-width: 768px) and (max-width:991px){
main{
    background-color: blue;
    float: none;
    text-align: center;
    width: 100%;
  }
}
