.body-container
{
  background-color: white;
  width: 80%;
  margin-left:10%;
  border: solid;
  border-left: none;
  border-bottom: none;
  height: 600px;
  border-width: thin;
}
img
{
  width: 66%;
  height: auto;
  padding-left: 30px;
  padding-top: 30px;
  display: inline-block;
  background-color: white;
}
.top-story
{
background-color: white;
width: 20%;
height: auto;
border: none;
display: inline-block;
top: 0px;
position: absolute;
margin-left: 57%;
margin-top: 32px;
}
li
{
  font-family: arial;
  font-weight: bold;
  list-style-type: none;
  font-size: 13.5px;
}
.stanford
{
  padding-bottom: 25px;
}
.new
{
  padding-bottom: 25px;
}
.rug
{
  padding-bottom: 25px;
}
.offer
{
  padding-bottom: 25px;
}
h1
{
  border: solid;
  border-width: thin;
  border-top: none;
  border-right:none;
  border-left: none;
  font-size: 25px;
  margin-top: -1px;
}
h2
{
  background-color: white;
  width: 66%;
  font-size: 30px;
  margin-left: 30px;
  font-family: arial;
  font-weight: lighter;
}
p
{
  background-color:white;
  width: 71%;
  font-size: 22.5px;
  margin-left: 30px;
  word-break:break-all ;
  font-family: arial;
  font-weight: lighter;
}
h3
{
  margin-left: 30px;
  font-size: 20px;
  margin-top:20px;
  border: solid;
  width: 140px;
  position: absolute;
  margin-top: -10px;
  padding: 5px;
  background-color: rgb(80,80,80);
  color: white;
  font-family: arial;
  font-weight: lighter;
}
.flexbox
{
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .body-container
  {
    background-color: white;
    width: 90%;
    margin-left:10%;
    border: solid;
    display: block;
    border-left: none;
    height: 100%;
    border-width: thin;
    padding-bottom: 32px;
  }

  img
  {
    width: 92%
  }
  .top-story
  {
    display: none;
  }
  h2
  {
    width: 600px;
    background-color:white;
    font-size: 25px;
  }
  p
  {
    background-color:white;
    width: 92%;
    font-size: 19px;
    margin-left: 30px;
    word-break:break-all ;
    font-family: arial;
    font-weight: lighter;
  }
  h3
  {
    margin-left: 30px;
    font-size: 20px;
    margin-top:20px;
    border: solid;
    width: 140px;
    position: absolute;
    margin-top: -10px;
    padding: 5px;
    background-color: rgb(80,80,80);
    color: white;
    font-family: arial;
    font-weight: lighter;
}
.flexbox
{
  display: none;
}
}
@media (max-width: 767px) {
  .body-container
  {
    background-color: white;
    width: 80%;
    margin-left:10%;
    border: solid;
    display: block;
    border-left: none;
    border-bottom: none;
    height: 100%;
    border-width: thin;
    padding-bottom: 32px;
  }

  img
  {
    width: 81%
  }
  .top-story
  {
    display: none;
  }
  h2
  {
    width: 250px;
    background-color:white;
    font-size: 20px;
  }
  p
  {
    background-color:white;
    width: 81%;
    font-size: 15px;
    margin-left: 30px;
    word-break: keep-all;
    font-family: arial;
    font-weight: lighter;
  }
  h3
  {
    margin-left: 30px;
    font-size:15px;
    margin-top:20px;
    border: solid;
    width: 106px;
    position: absolute;
    margin-top: -10px;
    padding: 5px;
    background-color: rgb(80,80,80);
    color: white;
    font-family: arial;
    font-weight: lighter;
}
.flexbox
{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  background-color: rgb(80,80,80);

}
h4
{
  text-align: left;
  margin-left:20px;
}
.useful
{
  width: 36%;
  display: inline-block;
  background-color: rgb(80,80,80);
  margin-left: 20px;
  color: white;
  font-weight: bold;

}
.medias
{
  width: 36%;
  display: inline-block;
  background-color:rgb(80,80,80);
  margin-left: -10px;
  color: white;

}
li
{
  border-bottom: solid;
  border-width: thin;
  color: white;
  text-align: left;
  margin-left: -10px;
  background-color:none;
  padding-bottom: 5px;
  padding-top: 5px;
}
.terms
{
  border: none;
}

}
