.bg-pic {
  width: 725px;
  height: 428px;
  margin-left: 18px;
}

.top-flex {
  display: flex;
  flex-direction: column;
  float: right;
  width: 230px;
  padding-top: 10px;
}

h1 {
  border-bottom: 1px solid black;
  font-family: 'Dosis', sans-serif;
  width: 80%;
}

ul {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  font-size: 14px;
  padding-right: 20px;
}

.h2-flex {
  margin-left: 20px;
}

.flex-text {
  margin-left: 20px;
}

.button {
  width: 125px;
  height: 40px;
  font-size: 17px;
  margin-left: 20px;
}
