.main-img {
  width: 100%;
}

main {
  padding-bottom: 20px;
}

.top-right-div {
  display: none !important;
}

footer {
  background-color: #5D5D5D;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.footer-links {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

.left-div {
  width: 50%;
}

.right-div {
  padding-left: 50px;
  width: 50%;
}
