main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

aside {
  display: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 40px;
  width: 400px;
}

.bottom {
  font-family: 'Hind Madurai', sans-serif;
}

div {
  text-align: left;
}

img {
  width: 100%;
}

button {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  color: white;
  font-family: 'Hind Madurai', sans-serif;
}

@media (min-width: 576px) {
  footer {
    display: none;
  }
}

@media (min-width: 768px) {
  aside {
    display: block;
  }
}