#flexbox-3 {
  display: none;
}

#flexbox-1 {
  justify-content: space-around;
  margin-top: 40px;
}

#main-content {
  width: 70%;
}

img {
  width: 100%;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

#intro {
  font-size: 20px;
}

#top-stories {
  width: 20%;
}

h2 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 15px;
}

#top-stories div {
  font-weight: 600;
  font-size: 15px;
  padding-top: 15px;
}

.type-tag {
  width: 124px;
  padding: 12px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
