#top-stories {
  display: none;
}

#flexbox-3 {
  display: none;
}

#flexbox-1 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

#main-content {
  width: 90%
}

img {
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

#intro {
  font-size: 18px;
}

.type-tag {
  width: 112px;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
