* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

/*mobile*/

.container {
  display: flex;
  margin: 5px;
  flex-direction: column;
  width: 90%;
  border: 1px solid black;
}

.responsive {
  display: block;
  width: 90%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.dt-articles {
  display: none;
}

.flex-item2 {
  margin: 5%;
}

.flex-item2 p {
  margin-top: 5%;
}

button {
  margin: 2% 0;
  background-color: #5d5d5d;
  height: 30px;
  width: 120px;
  color: #eaeaea;
  font-size: 14px;
  border-style: none;
}

.container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: #5d5d5d;
  justify-content: space-around;
  align-items: stretch;
}

.links .social {
  width: 200px;
}

.social h3, .links h3 {
  padding-top: 20px;
  color: #eaeaea;
}

.social ul, .icons ul, .links ul {
  list-style: none;
}

.social li, .links li {
  margin-top: 10px;
  width: 100px;
}

.social a, .links a, .icons i {
  color: #eaeaea;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

i {
  margin-left: 12px;
}

/*tablet*/

@media (min-width: 768px) {
  .container2, .social, .links {
    display: none;
  }
  .flex-item2 h1 {
    font-size: 38px;
    font-weight: lighter;
  }
  .flex-item2 p {
    font-size: 18px;
  }
}

/*desktop*/

@media (min-width:992px) {
  .container {
    width: 100%;
  }
  .container3 {
    display: flex;
    flex-direction: row;
  }
  .responsive {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .dt-articles {
    display: block;
    margin-top: 40px;
    width: 300px;
    align-self: flex-start;
  }
  .flex-item1 {
    margin-right: 35px;
  }
  .flex-item1 h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  .flex-item1 p {
    padding: 10px 0;
    font-weight: 600;
  }
  .flex-item2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .flex-item2 h1 {
    font-size: 55px;
    font-weight: lighter;
  }
  .flex-item2 p {
    width: 70%;
    margin-top: 20px;
    font-size: 35px;
  }
}
