  .body {
  width: 412px;
  height: auto;
}

nav{
  color:white;
  text-align: center;
  font-size: 140px;
}

img {
  width: 288px;
  height: 201px;
}

a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.tech-box {
  color: white;
  background-color: black;
  width: 110px;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.page-text {
  margin: 0;
  width: 291px;
  word-break: keep-all;
}

h1 {
  font-size: 15px;
}

main {
  margin: 10px;
  width: 301px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

footer {
  background-color: gray;
  margin-left: 10px;
  margin-top: 0;
  width: 302px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  background-color: gray;
  color: white;
  align-items: flex-start;
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

.top-stories {
  display: none;
}

 .social-media a img{
  width:15px;
  height:15px;
  float:right;
}

/*@media all and (max-width:767px) {

}*/

@media all and (min-width: 768px)
/*and (max-width:991px)*/

{
  .hide-footer {
    display: none;
  }
  img {
    width: 525px;
    height: 320px;
  }
  main {
    margin: 10px;
    width: 747px;
  }
  .page-text {
    margin: 0;
    width: 524px;
    word-break: keep-all;
  }
  .body {
    width: 412px;
    height: auto;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 792px;
    height: 322px;
  }
  .top-stories {
    display: inline-block;
    width: 322px;
    padding: 0;
    font-size:small;
    margin:5px;
  }
  ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
}
