.top-flex {
  display: none;
}

.bg-pic {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 180px;
  padding-top: 20px;
  padding-left: 15px;
}

.tech-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 325px;
  padding-left: 15px;
}

.h2-flex {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

.flex-text {
  font-size: 15px;
  font-family: 'Hind', sans-serif;
}

.button {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  width: 105px;
  height: 30px;
  background-color: #5D5D5D;
  border: 1px solid black;
  color: white;
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #5D5D5D;
}

.table {
  border-collapse: collapse;
  width: 100px;
  color: white;
}

th, td {
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #7E7E7E;
  width: 30%;
}

.useful-text {
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}

.social-text {
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}

.social {
  margin-bottom: 54px;
}

.fa-facebook {
  margin-left: 15px;
}

.fa-instagram {
  margin-left: 13px;
}

.fa-twitter {
  margin-left: 27px;
}
