@media (min-width: 768px) and (max-width:991px){
    .main{
      display:flex;
      justify-content:center;

    }
    .news{
        display:none;
    }
    .main{
        width:100% !important;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    footer{
        display:none;
    }
  }
  @media (max-width:768px){
    .main{
        width:100% !important;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .news{
        display:none;
    }
    .title-container{
        width:100%;
    }
    footer{
        display:flex !important;
        justify-content: center;
        align-items: baseline;
        color:white;
    }
    footer>ul,li{
        list-style-type: none;
    }
  }

img{
      width:100%
  }

  .tech-world>p{
      font-size: 18px;
      max-width:590px;
  }

  .button{
    background-color: gray;
    color: white;
    height:30px;
  }

  .main{
      float:left;
      width:70%;
      margin:5px;
      padding:5px;
  }
  .news{
      float:right;
      width:25%;
  }
  .stories > li{
      list-style: none;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
  }
  .news-story{
      padding:5px;
  }
footer{
    float:right;
    background:gray;
    display:none;
    width:100%;
    /* justify-content:space-around; */
    /* box-sizing: border-box; */
}
