body {
    font-family: 'Roboto', sans-serif;
  }
  
  .masterContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    transition: 2s;
    margin: auto;
    align-content: center;
  }
  
  .masterTopContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    align-content: center;
  }
  
  .topContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: space-evenly;
  }
  
  .picture>img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  
  .rightContainer {
    height: auto;
    margin-left: 15px;
    font-weight: bold;
  }
  
  .rightContainer>div:nth-of-type(1) {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
  }
  
  .bottomOuterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    display: none;
    justify-content: space-evenly;
    background-color: rgb(63, 61, 61);
  }
  
  .bottomOuterContainer>div:nth-of-type(1) {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }
  
  .bottomOuterContainer>div:nth-last-of-type(1) {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }
  
  .bottomOuterContainer>div>div {
    border: 0;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
  }
  
  .bottomOuterContainer>div>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
    border: 0;
    margin-top: 10px;
  }
  
  .bottomOuterContainer>div:nth-of-type(2)>div:nth-of-type(5) {
    border-bottom: 0;
  }
  
  .bottomOuterContainer>div:nth-of-type(2)>div:nth-of-type(6) {
    border-bottom: 0;
  }
  
  .bottomOuterContainer>div:nth-of-type(1)>div:nth-of-type(6) {
    border-bottom: 0;
  }
  
  .topContainer>div:nth-of-type(2) {
    font-size: 30px;
    text-align: center;
    margin: 5px;
  }
  
  .topContainer>div:nth-of-type(4) {
    color: white;
    font-size: 15px;
    background-color: rgb(63, 61, 61);
    width: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .bottomOuterContainer>.bottomInnerContainer:nth-of-type(2)>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bottomOuterContainer>.bottomInnerContainer:nth-of-type(2)>div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bottomOuterContainer>.bottomInnerContainer:nth-of-type(2)>div:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .facebook {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 19px;
  }
  
  .instagram {
    background-image: url("../img/instagram.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 19px;
  }
  
  .twitter {
    background-image: url("../img/twitter.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 23px;
    height: 19px;
  }
  
  @media screen and (max-width: 768px) {
    .rightContainer {
      display: none;
    }
  }
  
  @media screen and (max-width: 576px) {
    .rightContainer {
      display: none;
    }
    .bottomOuterContainer {
      display: flex;
    }
    .topContainer>div:nth-of-type(2) {
      font-size: 25px;
<<<<<<< HEAD
    }
=======
    }
  
>>>>>>> cbd5057229d160774ec77bc08c2e868772af517a
