body {
  height: auto;
}

.top-flex {
  display: none;
}

.bg-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 326px;
  padding-top: 30px;
  margin-left: 50px;
}

.h2-flex {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  margin-left: 50px;
}

.flex-text {
  font-size: 20px;
  font-family: 'Hind', sans-serif;
  margin-left: 50px;
}

.button {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  width: 105px;
  height: 30px;
  background-color: #5D5D5D;
  border: 1px solid black;
  color: white;
  font-size: 17px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.table {
  display: none;
}
