body{
    color: white;
    background-color: black
}
header{
  height: 400px;
  background-color: #5CCDC0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36pt;
}
section{
  display: flex;
  justify-content: space-around;
}
section div{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 18%;
  margin-top: 60px;
  margin-bottom: 100px;
  padding-top: 10px;
}
.blue{
  border-top: 30px solid #53AADB;
margin-left: 10%;
}
.orange{
  border-top: 30px solid #E66639;
}
.teal{
  border-top: 30px solid #5CCDC0;
  margin-right: 10%;
}
h2{
  font-size: 20pt;
  margin-bottom: 20px;
}
@media (max-width: 576px){
  header{
    background-color: #53AADB;
  }
