header{
  height: 600px;
  padding-top: 75px;
  padding-left: 50px;
  background-image: url("../img/nasa-background.jpg");
  top: 0;
  left: 0;
  width: 1000px;
  height: 450px;
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: 100%
  }
