footer {
  display: none;
}
h2 {
  padding-top: 25px;
}

.nav {
  margin: 20px;
}

.technology {
  background-color: #000000;
  display: inline;
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px){
  nav {
    display: none;
  }

  footer {
    display: none;
  }
}
@media (max-width: 767px) {
footer {
  display: block;
}
 }


.flex-container {
  background-color: #54626F;
  height: 225px;
  display: flex;
}

.flex-item {
  width: 250px;
}

p {
  margin: 5px;
  padding: 5px;

}
