/*this is for a desktop*/
@media (min-width: 990px){
    body {
        display: flex;
        flex-direction: column;
    }
    div.topbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        background-color: white;
    }
    h1 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    hr {
        color: black;
    }
    div.image {
        display: flex;
        margin-top: 30px;
        min-width: 80%;
        background-color: white;
    }
    .image img {
        width: 100%;
    }
    div.aside {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 0px;
        color: black;
        background-color: white;
    
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }
    li {
        margin-bottom: 30px;
    }
    h1.bottom {
        margin-top: 25px;
    }
    div.bottombox {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color:white;
        font-family: Arial, Helvetica, sans-serif;
    }
    span {
        background-color: rgb(75, 64, 64);
        color: white;
        padding: 10px;
    }
    footer {
        display: none;
        visibility: none;
    }
    div.footsie {
        display: none;
        visibility: none;
    }

}

/*this is for a tablet*/
@media (max-width: 989px){
    body {
        display: flex;
        flex-direction: column;
    }
    div.topbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        background-color: white;
    }
    h1 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    div.image {
        display: flex;
        margin-top: 30px;
        width: fit-content;
        background-color: white;
    }
    .image img {
        width: 100%;
    }
    div.aside {
        visibility: hidden;
        display: none;
    }
    h1.bottom {
        margin-top: 25px;
    }
    div.bottombox {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:white;
        font-family: Arial, Helvetica, sans-serif;
    }
    span {
        background-color: rgb(75, 64, 64);
        color: white;
    
    }
    footer {
        display: none;
        visibility: none;
    }
    div.footsie {
        display: none;
        visibility: none;
    }

}


/*this is for a phone*/
@media (max-width: 700px){
    body {
        display: flex;
        flex-direction: column;
    }
    div.topbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        background-color: white;
    }
    h1 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    div.image {
        display: flex;
        margin-top: 30px;
        width: fit-content;
        background-color: white;
    }
    .image img {
        width: 100%;
    }
    div.aside {
        visibility: hidden;
        display: none;
    }
    h1.bottom {
        margin-top: 25px;
    }
    div.bottombox {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:white;
        font-family: Arial, Helvetica, sans-serif;
    }
    span {
        background-color: rgb(75, 64, 64);
        color: white;
    
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }
    li {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    hr {
        height: .5px;
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        color: white;
        background-color: rgb(75, 64, 64);
    }
    div.footsie {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        color: white;
        font-family: helvetica, sans-serif;
    }

}
