.header1 {
  margin: 0px;
  border: 0px;
  padding: 20px;
  color:  blue;
  background-color: yellow;
  text-align: center;
  font-size: 40px;
}


.buttonlink{
  padding: 15px;
  border: 10px;
  background-color: blue;
}



.button {
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  background-color: yellow;
}


.propic {
  height: 250px;
  width: 33%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}


#about-me {
  text-align: center;
  background-color: blue;
  color: yellow;
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#portfolio {
  text-align: center;
  background-color: blue;
  color: yellow;
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact {
  text-align: center;
  background-color: blue;
  color: yellow;
  font-size: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
