h1 {
font-family: Georgia;
}

p {
font-family: Georgia;
}

body {
background-image: url ("https://scontent-dft4-2.xx.fbcdn.net/t31.0-0/p206x206/12771819_10154012975093447_3920519070704882823_o.jpg");
}
