h1 {
font-family: Georgia;
}
h4 {
  font-size: 16px;
  font-family: Georgia;
}
p {
font-family: Georgia;
background-image: url("milky way.jpg");
color: white;
}
body {
  background-color: black;
  color: white;
}
