body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 11pt;
    color: #555;
    padding: 0px 200px;
}

h1, h2, h3, h4, strong {
    color: #333;
}

header > h1, h3 {
    //display: inline;

    //padding: 50px;
}

.name {
  margin-left: 150px;
}

.crop {
  float: left;
  width: 102px;
  height: 102px;
  overflow: hidden;
  border-radius: 100%;
}

.crop img {
    width: 150px;
    height: 150px;
    margin: -24px 0px 0px -24px;
}

a {
  text-decoration: none;
}
