body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 40px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  /*position: fixed;
  z-index: 10;*/
}

.flexbox-nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 90%;
  margin: 0 auto;
}

#flexbox-menu {
  display: none;
}

#flexbox-connect {
  display: none;
}

main {
  width: 100%;
}

.white-background {
  width: 90%;
  margin: 0 auto;
}

#hero {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

#introduction

h1 {
  font-size: 22px;
}

#introduction-text {
  width: 50%;
  margin: 0 auto;
}
