/*main styling for webpage*/
body {
  position: relative;
  left: 50px;
  overflow: hidden;
  font-family: 'Indie Flower', bold;
  color: yellow;
  width: 100%;
	height: 100%;
	background-image: url("../img/aquarium.jpg");
}
/*header styling*/
h1 {
  font-size: 50px;
}
/*id=fishie image parameters*/
#fishie {
  width:250px;
  height:250px;
  background-color: transparent;
}
/*styling for number of clicks*/
#currentTotal {
  width:250px;
  height:40px;
  border:2px solid white;
  border-radius:15px;
  font-size: 38px;
  text-align: center;
  padding-bottom: 15px;
}
/*styling for class=button*/
.button {
  width:250px;
  height:30px;
  border:2px solid white;
  border-radius:25px;
  font-size: 21px;
  text-align: center;
  cursor:pointer;
}
/*styling for anchor link back to portfolio page*/
a {
  color: orange;
  font-family: 'Indie Flower', bold;
  font: 15px;
  text-align: center;
  padding-left: 10px;
}
