body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Sedgwick Ave Display', cursive;
}

#wheel {
  width:300px;
  height:300px;
  background-color: brown;
  border-radius:150px;
}

img {
  transition: all 3s;
  transition-timing-function: linear;
  border: 3px solid black;
   /* transform: rotate(-28deg); */
}

 .scouter {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width:150px;
   height:50px;
border:4px solid black;
border-radius: 15px;
background: url(../img/scouter.png);
background-repeat: no-repeat;
background-size: cover;


 }


#currentTotal {
  width:150px;
  height:50px;
  border:4px solid black;
  background:yellow;
  text-align: center;
  font-size: 48px;
  border-radius: 15px;
}



.button {
  width:150px;
  height:20px;
  border:1px solid black;
  border-radius:25px;
  text-align: center;
  cursor:pointer;
  margin-top: 10px;
}
