html {
  width: 90%;
  padding: 5%;
}

#head {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}


#hero {
  padding-left: 45px;

}
.mccartney {
  position: absolute;
  top: 70%;
  left: 63%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
  color: white;
  padding: .5em 1em;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-weight: 300;
}
