.header {
  background-image: url("https://imageresizer.static9.net.au/FK3rGfJgu-eI7xkHL6XjuPhNQaQ=/1024x0/http%3A%2F%2Fprod.static9.net.au%2F_%2Fmedia%2FNetwork%2FImages%2F2017%2F06%2F21%2F14%2F09%2F170621coach_coffee_beans.jpg");
  height: 50%;
  font-style: Arial, Helvetica, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* logo will stay in middle of header */
.logo {
  border: none;
  width: 30%;
  border: none;
  padding: 10px;
  margin-left: 500px;
  margin-right: 400px;
  float: center;
}
/* keep left */
.nav {
  overflow: hidden;
  background-color: #996633;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* change to lighter brown */
.nav a:hover {
  background-color: #ecd9c6;
  color: black;
}

.ourstory {
  background-image: url("http://www.freeimageslive.com/galleries/backdrops/textures/preview/cardboard.jpg");
  font-style: Arial, Helvetica, sans-serif;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourstory h1 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 70px;
}

.ourstory img {
  margin-left: 250px;
  margin-right: 50px;
  margin-top: 65px;
}

.ourstory div {
  font-style: Arial, Helvetica, sans-serif;
  width: 80%;
  border: none;
  padding: 30px;
  margin: 50px;
  line-height: 1.2;
}
/*same color as nav*/
.footer {
  padding: 5px;
  text-align: center;
  background-color: #996633;
}

.footer h2 {
  color: white;
}
