@media (min-width: 768px){
  .container-fluid {
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    /*opacity: .5;*/
  }

  .box {
    text-align: center;
    color: white;
    text-shadow:
      -.25px -.25px 0 #000,
      .25px -.25px 0 #000,
      -.25px .25px 0 #000,
      .25px .25px 0 #000;
  }

  .name h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 250px;
    position: relative;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 50px;
  }

  .box ul {
    list-style-type: none;
    font-size: 32px;
  }

  .longname {
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 24px;
  }

  .socialmedia ul {
    display: flex;
    flex-direction: row;
  }

  .socialmedia li {
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .row {
    padding: 30px;
  }

  .row p {
    font-size: 20px;
  }
  .hr {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
  }
  .list a {
    font-size: 12px;
    border-top: 1px solid white;
    padding-right: 60px;
    margin-right: 90px;
  }

  a.link, a:visited {
    text-decoration: none;
    color: white;
  }

  .websites {
    padding: 5px;
  }

  .websites img {
    width: 389px;
    height: 200px;
  }

  .forms {
    color: black;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  input[type=text], input[type=password] {
    margin: 5px;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  .form input-placeholder {
    background-color: black;
    color: black;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: auto;
    flex-direction: column;
  }

  .box {
    text-align: center;
    color: white;
    text-shadow:
      -.25px -.25px 0 #000,
      .25px -.25px 0 #000,
      -.25px .25px 0 #000,
      .25px .25px 0 #000;
  }

  .name h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 150px;
    position: relative;
    text-align: center;
  }

  .box ul {
    list-style-type: none;
    font-size: 32px;
  }

  .longname {
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 18px;
  }

  .socialmedia ul {
    display: flex;
    flex-direction: row;
  }

  .socialmedia li {
    margin-left: 50px;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }

  .row {
    padding: 10px;
  }

  .row p {
    font-size: 14px;
  }

  .hr {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
  }

  .list a {
    font-size: 12px;
    border-top: 1px solid white;
    padding-right: 30px;
    margin-right: 40px;
  }

  a.link, a:visited {
    text-decoration: none;
    color: white;
  }
  .websites {
    padding: 5px;
  }

  .websites p {
    background-color:;
  }

  .websites img {
    width: 389px;
    height: 200px;
  }

  .form {
    border-style: solid;
    border-width: 10px;
    border-color: black;
  }
  .form input-placeholder {
    background-color: black;
    color: black;
  }

}
