.container-fluid {
  background: #bccad6;
}
.container {
  display: flex;
  border: solid blue 1px;
  text-align: center;
}
h1 {
  font-size: 80px;
  font-family:'Amaranth', sans-serif;
}
h2 {
  font-size: 40px;
  margin-bottom: 25px;
  font-family: 'Lato', sans-serif;
}
.navcontain {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Lato', sans-serif;
}
.navbutton:hover {
  background: #8d9db6;
  font-size: 22px;

}
.firstrow {
  margin-left: 50px;
  margin-right: 50px;
}
.maincontain{
  text-align: center;
}
.navbutton {
  height: 40px;
  padding-top: 5px;
  font-size: 20px;
}
.myworkwrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.workcontain {
  height: 300px;
}
.workcontain:hover {
  background: #8d9db6;
}
.stockimg {
  height: 125px;
  margin-top: 20px;
}
.contactwrap{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}
.contactimg {
  display: flex;
  align-items: center;
  height: 250px;
  border-radius: 25px;
  margin-left: 150px;
}
.contactlist {
  list-style: none;
  font-size: 20px;
  justify-content: center;

}
.namebox{
  width: 300px;
  margin-bottom: 20px;
}
.messagebox {
  width: 300px;
  height: 125px;
}
.textarea {
  resize: none;
  width: 400px;
  height: 175px;
}
.button {
  margin-top: 10px;
}
