
header {
    font-size:20px;
    color:turquoise;
    text-align:center;
}
body {
    background-image:url("../images/200321206-001.jpg");
    background-size:cover;
}
main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:1000px;
    height:600px;
    border:2px dashed green;
    margin:auto;
}
#content {
    width:500px;
    height:600px;
    grid-column:1fr;
    border:1px solid orange;
    text-align:center;
    background-color:white;
}
#catnip:hover & {
    transform: scale(2);
}
#catNip {
    width:200px;
    height:250px;
    margin-top:100px;
  }
  
  #currentTotal {
    width:150px;
    height:50px;
    border:1px solid black;
    margin-left:175px;
    font-size: 48px;
  }
  #buttons{
      width:400px;
      margin-left:100px;
  }
  .button {
    width:300px;
    height:30px;
    border:1px solid black;
    border-radius:25px;
    text-align: center;
    cursor:pointer;
  }
  #kitties {
      width:600px;
      height:600px;
      grid-column:1fr;
      border:1px solid black;
      background-image: url("../images/maxresdefault.jpg");
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }
  .fert {
      grid-column: 1fr;
      grid-row:1fr;
  }
  .fert > img {
      width:200px;
  }
  .kitt {
    grid-column: 1fr;
    grid-row:1fr; 
  }
  .kitt > img {
      width:250px;
  }
  .ca {
    grid-column: 1fr;
    grid-row:1fr;
  }
  .ca > img {
      width: 300px;
  }
  .clow {
    grid-column: 1fr;
    grid-row:1fr;
  }
  .clow > img {
      width:300px;
  }