body {
    display: grid;
    justify-content: center;
}
h2 {
    margin-top: 30px;
    margin-bottom: none;
}

#wheel {
    background-color: black;
    border-radius:150px;
  }
  
  img {
    transition: all 3s;
    transition-timing-function: linear;
  }
  
  #winnings {
    width:150px;
    height:50px;
    border:1px solid black;
    text-align: center;
    font-size: 48px;
  }