body {
  width: 100%;
  height: auto;
  margin: 1%;
  background-color: lightgray;
  background-image: url(../img/adam-birkett-209727.jpg);
  background-size: cover;
  color: #343A40;
}

header {
  width: 100%;
  height: 520px;
  margin: 1% 30% 30% 1%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6em;
}

main {
  margin: 5%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about {
  width: 100%;
  height: 520px;
  padding-top: 65px;
  margin-bottom: 220px;
}

#skills {
  width: 100%;
  height: 520px;
  padding-top: 90px;
}

#examples {
  width: 100%;
  height: 520px;
  margin-top: 100px;
  padding-top: 90px;
}

#contact {
  width: 100%;
  height: 520px;
  margin-top: 60px;
  padding-top: 90px;
}

ul {
  font-size: 20px;
}

i:hover {
  color: #FF63A4;
}

a:link {
  color: #343A40;
}

a:hover {
  color: #FF63A4;
}

p {
  text-indent: 15px;
  font-size: 1.7em;
}

img {
  border-radius: 40px;
}

.col-xs-4 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  color: white;
  text-shadow: 1px 1px black;
}

h1 {
  text-shadow: 0.5px 0.5px white;
}

.col-xs-12 {
  margin: 10px;
}

footer {
  text-align: center;
  color: #FF63A4;
  text-shadow: 2px 2px black;
}
