body {
    background-image:url(../images/US_RouteGuides_Teaser_Austin.jpg);
    width:100%;
    height:auto;
    background-size:cover;
    background-attachment:fixed;
    font-family:Arial Narrow, sans-serif;
}
span {
    padding:10px;
}
header {
    color:#622B42;
    background: rgb(243, 243, 243, 0.75);
    margin:auto;
    margin-top:30px;
    width:1000px;
    height:120px;
    text-align:center;
    font-size:50pt;
    padding-top:50px;
}
nav {
    background: rgb(243, 243, 243, 0.75);
    width: 800px;
    height:50px;
    margin:auto;
    margin-top:30px;
    text-align:center;
    padding-top:30px;
    font-size:14pt;
}
nav a:link {
    color:#006C66;
}
nav a:visited {
    color:#2C4470;
}
nav a:hover {
    color:#622B42;
}
section {
    background: rgb(243, 243, 243, 0.75);
    width:700px;
    height:400px;
    margin:auto;
    margin-top:40px;
}
section p {
    font-size:24pt;
    padding-top:70px;
    padding-left: 80px;
    padding-right:80px;
    line-height:40px;
    padding-bottom:80px;
    text-align:center;
    color:#622B42;
}
section .love {
    color:red;
    font-size:30pt;
    font-style:italic;
}
p .finding {
    font-style:italic;
}
p .stress {
    font-weight:bold;
}
footer {
    font-size:14pt;
    color:white;
    text-align:right;
    margin-right:40px;
    margin-bottom:10px;
}
.about {
    height:500px;
    margin-bottom:40px;
    padding-bottom:40px;
}
.about p {
    padding-bottom:80px;
}
.services2 {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:90px;
    padding-bottom:30px;
}
article h1 {
    color:#006B65;
    font-size:24pt;
    font-weight:bold;
    text-decoration:underline;
}
.services {
    height:500px;
}
ul li {
    padding-top:30px;
    padding-bottom:30px;
    margin-left:60px;
}
.testimonials {
    height:1600px;
}
.meta{
    padding-top:20px;
    padding-bottom:200px;
}
.meta > h1 {
    font-size:18pt;
    font-weight:bold;
    color:#006B65;
    line-height:40px;
}
.meta > p {
    font-size:14pt;
    padding-top:40px;
    padding-bottom:40px;
}
.meta > .tom {
    margin-top:50px;
}
.meta > .tim {
    margin-bottom:50px;
}
.meta > h1 {
    margin-left:20px;
}
.callie {
    margin-top:300px;
}
.contact {
    height:300px;
}
.emailphone {
    font-size:20pt;
    padding-top:30px;
    padding-bottom:20px;
    margin-top:40px;
}
