* {
font-family: Helvetica, "Times New Roman", sans-serif;
margin:5px 5px 5px 5px;
}

body {
    border: 1px solid red
}
.container-left {
    margin:0;
    background-color:aliceblue;
    padding:2px;
    float: left;

}

.box1 {
    font-size: 12px;
    font: black;
    text-align: left;
    padding: 2px;
    background-color: aliceblue;
}

.container-right {
    margin:0;
    background-color:aliceblue;
    padding:2px;
    float: right;
    
}
