/* overall styling */
html {
  background-size: cover;
  font-family: 'Lato',sans-serif;
  color:#a8a8a8;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  margin:0;
}

/* navigation styling */
header{
  margin-left:0;
}
.innerheader{
  height:120px;
  background-color: white;
  text-decoration: none;
}
.navigation {
  width: 100%;
  background-color: white;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  max-height:inherit;
  margin-left: auto;
  margin-right: auto;
}

.navigationbar{
  float:right;
  padding-left: 30px;
  padding-right: 20px;
  max-width: 1610px;
  max-height:inherit;
  margin-top:50px;
  margin-right:50px;
}

a{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

a:hover{
  color:#000;
}

.fa{
  color:#a8a8a8;
  font-style:normal;
  text-decoration: none;
}

.fa:hover{
  color:#000;
}

img{
  height:75px;
  padding:20px;
}

/* body styling */
body{
  background-color: #fcfcfc;
  border:0px;
}

ul {list-style-type: none;}

.calendar{
  font-family: 'Lato',sans-serif;
  margin-top:100px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:0px;
}

/* Month header */
.month {
    padding: 30px 25px;
    width: 100%;
    background: #008080;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#fcfcfc;
    width: 100%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.whiskey101{
  margin:100px;
}
h2{
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}
/* footer styling */
footer {
  float:bottom;
  text-align: center;
  color:#a8a8a8;
}

p{
  font-family: 'Lato',sans-serif;
  text-align:center;
  font-size: 16px;
}

.navigationbar2{
  text-align:center;
  font-family: 'Lato',sans-serif;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}
