body {
  background-image: url("https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
}

.box {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20px;
  width: 1000px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

div {
  font size: 50px;
  font-family: fantasy;
  color: grey;
  justify-content: flex-end;
}

header {
  font-size: 40px;
  font-stretch: expanded;
  font-family: cursive;
  color: grey;
  text-align: left;
}

.wrapper {
  border: 20px black;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr grid-auto-rows:minmax (100px, auto);
  align-items: start grid-gap:20px;
  color: #FFA07A;
}

.box1 {
  border: 10px solid white;
  font size: 30px;
  color: black;
}

.box2 {
  font size: 35px;
  font-weight: bold;
  color: white;
}

/*small and up (landscape Phones)*/

@media (min-width:576px) {
  .box1 {
    border: 10px solid black;
  }
  /*just
use the same as extra small above*/
}

/*Extra Large and up (Wide Screen Desktops)*/

@media/min-width:992px {
  */just use the same as large above*/
}