html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.mainpic {
  height: 40%;
  padding: 12% 0;
  background-image: url(../img/book1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*Need to learn the shorthand for putting in size and no-repeat*/
}

.mainpic > h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 350%;
  color: #31636B;
}

.bottom {
  margin: 2% auto;
}

.smpics > img {
  height: 50%;
  width: 90%;
  margin: 5% auto;
}

.botright > img {
  margin-top: 5%;
  height: 150%;
  width: 90%;
}
