body {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 45px;
}

.hero {
  padding-top: 150px;
  width: 100%;
  height: 625px;
  margin: auto;
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
}

.row {
  margin: auto;
}

.col {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.vert {
  margin: auto;
}

img {
  padding-top: 50px;
}

.packages {
  background-color: #F0F0F0;
}

.silver {
  width: 80%;
  background-color: white;
}
