#hero {
      height:800px;
      background-image:url(../img/03.jpg);
      backround-repeat:no-repeat;
      background-size:cover;
      background-position:center;
}

.tile {
      overflow:hidden;
      background-size:cover;
      max-height:180px;
      margin-bottom:10px;
      margin-right:5px;
      margin-left:5px;

}


.aside {
      max-height:370px;
      overflow:hidden;
      margin-left:0;
}

#margin {
      margin-right:0;
}





img {
      width:100%;
}



#hero {
      margin-bottom:2%;
}
