.container {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
}

.mainpic {
  width: 1000px;
  height: 600px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)),
      url("../img/03.jpg");
  background-size: cover;
  box-sizing: border-box;
}

.mainpic > h1 {
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
  font-family: sans-serif;
}

.lowersection {

}
