header{
  display:flex;
  justify-content: center;

}

.headerwrap {
  background-image: url("../img/headerimg.jpg");
  height:450px;
  width:700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;

}
