* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  background: black;
  top: 0;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;

  padding: 10px;
  color: white;

}

li {
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
    display: inline;
}

a {
  text-decoration: none;
  decoration: none;
  color:rgba(255,255,255,0.8);
}

a.site {
  color: black;
}

a.site:hover {
  color: hotpink;
}

.mymain {
  background-image: url("../workspace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:550px;
  width: 100%;
  background-attachment: fixed;
}

.wrap {
  margin-top:40px;
  background-color: rgba(255,255,255,0.5);
  height: 350px;
  width: 100%;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
  display: inline;
}

.jennifer {
  position: absolute;
  left: 200px;
  top: 150px;
}

.riess {
  position: absolute;
  top: 150px;
  left: 510px;
  color: white;
}

h2 {
  position: absolute;
  left: 275px;
  top: 230px;
  font-family:'Josefin Slab', serif;
  font-size: 25px;
  display: inline;
}

h3 {
  color: black;
  text-align: center;
  padding: 100px;
}

.pages {
  height: 550px;
}

.aboutme {
  position: relative;
  top: 200px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-family: "Open Sans",sans-serif;
}

.intro {
  height: 600px;
  margin-bottom: 140px;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
}

/*computers*/
article {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-left: 100px;
  margin-right: 20px;
}

img {
  height: 200px;
  width: auto;
}

p {
  font-family:'Josefin Slab', serif;
  padding: 10px;
}

/*moving around text*/
.typo {
  display: flex;
  margin-right: 20px;
  margin-left: -40px;
}


.main2 {
  background-image: url("../coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  height: 600px;
  width: 100%;
  background-attachment: fixed;
}

.contact {
  height:450px;
}

.forms {
  display: block;
  margin-left: 38%;
  margin-top: 5%;
}

.input {
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}

.message {
  margin-top: 10px;
  padding: 0;
  height: 200px;
  width: 320px;
}

button {
  padding: 5px;
  position: relative;
  left: 174px;
  width: 150px;
  height: 30px;
  margin-top:5px;
}


#modx, #git, #word {
  margin-right: 5px;
}

footer {
  text-align: center;
  padding: 30px 0 0 0;
  height: 200px;
  width: 100%;
  color: white;
  background-color: black;
}

@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {

  }
}
