body{
  background-color: #f2f2f2;
}
header{
  height: 600px;
  background-image: url(../img/backgroundportfolio.jpg);
  background-size: cover;
}
header h1{
  font-size: 100px;
}
header .container .row>p:nth-child(2){
  font-size: 24px;
}
header .container .row p a{
  text-decoration: underline;
}
header .container .row p a:hover{
  font-size: 20px;
  font-weight: bold;

}
header .container .row div a{
  margin: 0px auto;
  padding: 10px 30px;
}
main{
  margin: 0px auto;
}

article{
  height: 200px;
  border: 10px solid darkgrey;
}

.one article:first-child{
  background-image: url(../img/nasa.png);
  background-size: cover;
}

.one article:last-child{
  background-image: url(../img/dailyplanet.png);
  background-size: cover;
}

.two article:first-child{
  background-image: url(../img/bootstrapgrid.png);
  background-size: cover;
}

.two article:last-child{
  background-image: url(../img/mediaqueries.png);
  background-size: cover;
}

.three article:first-child{
  background-image: url(../img/bootstrapcomponents.png);
  background-size: cover;
}

.three article:last-child{
  background-image: url(../img/checkpoint2.png);
  background-size: cover;
}
.github{
  background-color: lightgrey;
  padding: 20px 130px;
}
footer{
  padding-top: 20px;
  height: 300px;
  background-image: url(../img/footer.jpg);
  background-size: cover;
}
