body {
  overflow-x: hidden;
}

.parallax-window {
  min-height: 800px;
  min-width: 300px;
  background-color: rgba(73, 54, 78, 0.1);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

.parallax-window2 {
  min-height: 800px;
  min-width: 300px;
  background-color: rgba(73, 54, 78, 0.1);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  margin: 0 auto;
  margin-top: -90px;
}

#title {
  color: white;
}

.topbtn .btn {
  width: 60%;
  height: 60px;
  margin-top: 160px;
  border-radius: 10px;
}

.topbtn a {
  /*padding: 10%;*/
  font-family: Georgia;
  font-size: 2.4em;
  /*border: solid 2px rgb(42,21,72);*/
  background-color: rgba(42,21,72, 0.8);
  color: #DEC6FF !important;
}

.topbtn a:visited {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}

.topbtn a:hover {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}

.topbtn a:active {
  text-decoration: none;
  border: solid 2px rgb(42,21,72);
  background-color: rgba(42,21,72, 0.2);
  color: #DEC6FF !important;
}

#logo2 {
  width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-hero {
  height: 560px;
  /*border: solid 5px black;*/
  padding-left: 0px;
  padding-right: 0px;
}

.work-hero iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*.work-preview {
  height: 500px;
  border: solid 5px black;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -15px;
}

.work-preview iframe {
  width: 400px;
  height: 100%;
  border: none;
}

.preview {
  height: 250px;
}*/

/*#midbtn .btn {
  width: 60%;
  height: 60px;
  margin-top: 60px;
  border-radius: 10px;
}

#midbtn a {
  font-family: Georgia;
  font-size: 2.4em !important;
  color: #EDD45F;
  background-color: rgba(141,93,36, 0.8);
}

#midbtn a:visited, a:hover, a:active {
  text-decoration: none;
  border: solid 2px rgb(141,93,36);
  background-color: rgba(141,93,36, 0.2) !important;
  color: #EDD45F !important;
}*/

.fa1 {
  font-size: 4em;
  color: rgb(237,165,49);
  animation-duration: 2s;
  animation-delay: 5s;
}
