* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../image.jpg");
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-size: cover;
  font-size: 24px;
  font-family: 'Berkshire Swash', cursive;
}

h2 {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align:center;
  padding: 20px;
}

h2:hover {
  background-color: lavender;
  opacity: .7;
}

h3:hover {
  background-color: lavender;
  opacity: .7;
}
