h1 {
    font-family: 'Lily Script One', cursive;
    text-align: center;
    font-size:4em;
    margin:40px 0px;
  }
.row{
    width:75%;
    margin: 0 auto;
  }
img{
  width:100%;
  margin:0 auto;
  border:1px solid grey;

}
article figure figcaption{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 14px;
    background-color: #66d9c1;
}
article {
  text-align: center;
}
.title a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color:rgb(84, 84, 84);
  font-size:1.1em;
}
.title{
  padding: 20px 0px 20px 0px;

}
.button {

  background-color: rgb(84, 84, 84);
  color:white;
  font-weight: bold;
  padding:15px;
  font-size:1.25em;
  margin:30px;
}
