h1 {
  font-family: Lily Script One, cursive;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 35px;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  margin-bottom: 40px;
}

.photo {
  height: 270px;
  width: 270px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #e5e5e5;
}

.price {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px 10px;
  color: #fff;
  background-color: #66d9c1;
  font-size: 18px;
  font-weight: 600;
}

.title {
  position: relative;
  height: 50px;
  width: 270px;
  border: 1px solid #e5e5e5;
}

.titlep {
  position: absolute;
  text-align: center;
  bottom: 5px;
  right: 100px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.link {
  height: 100px;
  width: 270px;
  position: relative;
  border: 1px solid #e5e5e5;
}

.add {
  height: 45px;
  width: 130px;
  color: #fff;
  background-color: #3a4543;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 72px;
  padding-top: 13px;
}

.sale {
  background-color: tomato;
  width: 50px;
  height: 30px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position: absolute;
  left: 0px;
  padding: 5px 0 0 0;
}

.one {
  background-image: url("./img1.jpg");
}

.two {
  background-image: url("./img2.jpg");
}

.three {
  background-image: url("./img3.jpg");
}

.four {
  background-image: url("./img4.jpg");
}
