img {
    width: 268px;
    height: 268px;
    {
        display: inline-block;
        position: relative;
    }
}

a {
    {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

body {
    padding: 0px 120px;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Leckerli One', cursive;
}
