h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.container {
position: relative;
}

.bottomright {
position: absolute;
bottom: 0px;
right: 25px;
font-size: 25px;
background-color: #7FFFD4;
color: white;

}

img {
width: 100%;
height: auto;
}

div {
margin-bottom: 10px;
}
