@font-face{
  font-family:'audrey';
  src:url('fonts/audrey.otf'); format('opentype')';
}
body{
  font-family:'audrey';
  background-color:#876248;
  color:white;
}
.nav{
  height:80px;
  display:flex;
  justify-content: flex-end;
  padding-top:25px;
}
.nav a{
  font-size:20px;
  padding:15px;
  color:white;
}
.nav a:hover{
  border:2px solid #8B4513;
  background-color: rgba(205,133,63,.7);
  text-decoration:none;
  border-radius:15px;
}

.jumbotron{
  background-image:url("https://images.unsplash.com/photo-1441336558687-a06957a7642a?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  height:600px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity:.7;
}
.jumbotron h1{
  font-size:100px;
  margin-top:490px;
  color:white	;
  letter-spacing: 10px;
  font-weight: bold;
  font-style:italic;
}
div h3{
  font-size:40px;
  /*margin-left:100px;*/
}
div p{
  font-size:20px;
  /*margin-left:80px;*/
}

#beansimg{
  display:flex;
  justify-content:center;
}
