.headeraffix img{
  margin-left: 10px;
  margin-right: 10px;
}

.centertitle {
  background-color: #ffffff;
}​

.tester{
  background-color: red;
}


iframe{
  width:100%;
  min-height: 315px;
  margin-bottom: 10px;
}

.fantasticappbox{
  display: flex;
  flex-direction: row;
}

.headeraffix{
  background-color: #ffffff;
  position: sticky;

}

@media(min-width:785px){ /*Media Queries for Controlling fixed header */
  .titlerow{
    margin-top: 150px;
  }
}

@media (min-width: 826px) and (max-width: 991px) { /*tablet*/
  .titlerow{
    margin-top: 150px;
  }
}

@media (max-width: 825px){ /*mobile*/
  .titlerow{
    margin-top: 20px;
  }
}
