aside{
  margin-top: 2%;
}
aside img{
  padding-top: 5px;
  padding-bottom: 5px;
}

.centerTitle {
    background-color: #ffffff;
    margin-left: 17.5%;
    margin-top: 144px;
}​

.tester{
  background-color: red;
}

.articleConstrainer{
  max-width: 560px;
  max-height: 580px;
}

iframe{
  margin-bottom: 10px;
}

.fantasticappBox{
  display: flex;
  flex-direction: row;
}

.headerAffix{
  background-color: #ffffff;
}

@media(min-width:785px){

.headerAffix{
  width: 100%;
  margin-left: 25%;
  position: fixed;
}

}

@media (min-width: 826px) and (max-width: 991px) {

.headerAffix{
  width: 100%;
  margin-left: 15%;
  position: fixed;
}
}

@media (max-width: 825px){
  .headerAffix{
    display: none;
  }
}
