* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; /* this is required to keep viewport window from resizing. */
}

main {
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  max-height: 884px;
}

img {
}

/* In order to make design responsive the moving images had to be created with
the same dimensions as the the background image (#stage) and Aabsolutely positioned
at (0,0). The "Overflow: hidden" had to be assined to the * selector to keep the viewport from resizing */

#stage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 0;
}

#drapes {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 30;
}

#sun {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 10;
}

body:hover #sun {             /* Hover on body so any mouse movement triggers animation */
  transition: transform 3s;
  transform: translateY(6vw);  /* had to be set to vW, not vH to stay proportional */
}

#cloud1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 15;
}

body:hover #cloud1 {
  transition: transform 6s 3s;
  transform: translateY(9.2vw);
}

#cloud2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 15;
}

body:hover #cloud2 {
  transition: transform 6s 3s;
  transform: translateY(12vw);
}

#cloud3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 15;
}

body:hover #cloud3 {
  transition: transform 6s 3s;
  transform: translateY(7.8vw);
}

#balloon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 20;
}

body:hover #balloon {
  transition: transform 12s 9s;
  transform: translateX(85vw);
}





/* 1st attempt

#stage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  z-index: 0;
}

#mural {
  position: absolute;
  top: 50vh;
  width: 100vw;
  height: auto;
  z-index: 100;
  display: none;
}

#balloon {
  position: fixed;
  top: 42vh;
  left: 5.5vw;
  width: 21vw;
  height: auto;
  z-index: 20;

}

body:hover #balloon {
  transition: transform 15s;
  transform: translateX(69vw);
}

#cloud1 {
  position: absolute;
  top: 17vh;
  left: 11vw;
  z-index: 10;
  width: 23vw;
  height: auto;
}

body:hover #cloud1 {
  transition: transform 5s;
  transform: translateY(4vh);
}

#cloud2 {
  position: absolute;
  top: 14vh;
  left: 49vw;
  z-index: 10;
  width: 13.5vw;
  height: auto;
}

body:hover #cloud2 {
  transition: transform 5s;
  transform: translateY(10vh);
}

#cloud3 {
  position: absolute;
  top: -3vh;
  left: 65vw;
  z-index: 10;
  width: 22.5vw;
  height: auto;
}

body:hover #cloud3 {
  transition: transform 5s;
  transform: translateY(16.5vh);
}

----- 1st attempt ------  */
