* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; /* this is required to keep viewport window from resizing. */
}

/* In order to make design responsive under all conditions the moving images had to be created with
the same dimensions as the the background image (#stage) and Absolutely positioned at (0,0).
The "Overflow: hidden" had to be assined to the * selector to keep the viewport from resizing */

main {
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  max-height: 884px;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
}

/*********************** Z-INDEXES ****************************************** */

#stage {
  z-index: 300;
}

#flagpoles {
  z-index: 400;
}

#wire_pole, #wire_stage, #flagpole_hiders {
  z-index: 500;
}

#wire_hider {
  z-index: 600;
}

#wire_hider_hider {
  z-index: 700;
}

#sun {
  z-index: 1000;
}

.cloud {
  z-index: 2000;
}

.letter {
  z-index: 5000;
}

#balloon {
  z-index: 6000;
}

#drapes {
  z-index: 7000;
}

/*********************** TARNSISTIONS *************************************** */

#sun {
  transition: transform 3s;
}

#flagpoles {
  transition: transform 3s 3s;
}

#cloud1 {
  transition: transform 6s 3s;
}

#cloud2 {
  transition: transform 6s 3s;
}

#cloud3 {
  transition: transform 6s 3s;
}

#wire_pole {
  transition: visibility 0.1s 8s;
}

#balloon {
  transition: transform 19s 9s;            /* 19s 9s      82vw  */
  transition-timing-function: linear;      /* 18.5s 9s    80vw  */
}

#wire_hider {
  transition: transform 18.5s 9s;            /* 19s 9s      82vw  */
  transition-timing-function: linear;      /* 18.5s 9s    80vw  */
}

/* Regarding the "Transition: visibility" rules:
Duration parameter needs to present, but its value doesn't alter how quickly the
image becomes visible. Regardless of its value, visibility is instantaneous. */

#letter01 {
  transition: visibility 0.1s 9s;
}

#letter02 {
  transition: visibility 0.1s 10s;
}

#letter03 {
  transition: visibility 0.1s 11s;
}

#letter04 {
  transition: visibility 0.1s 12s;
}

#letter05 {
  transition: visibility 0.1s 13s;
}

#letter06 {
  transition: visibility 0.1s 14s;
}

#letter07 {
  transition: visibility 0.1s 15s;
}

#letter08 {
  transition: visibility 0.1s 17s;
}

#letter09 {
  transition: visibility 0.1s 18s;
}

#letter10 {
  transition: visibility 0.1s 20s;
}

#letter11 {
  transition: visibility 0.1s 21s;
}

#letter12 {
  transition: visibility 0.1s 23s;
}

#letter13 {
  transition: visibility 0.1s 24s;
}

#letter14 {
  transition: visibility 0.1s 25s;
}

#letter15 {
  transition: visibility 0.1s 26s;
}

#letter16 {
  transition: visibility 0.1s 27s;
}

/*********************** INITIAL VISIBILITY: HIDDEN ************************* */

.letter, #wire_pole {
  visibility: hidden;
}

/*********************** ON HOVER ******************************************* */

body:hover .letter, body:hover #wire_pole {
  visibility: visible;
}

body:hover #sun {
  transform: translateY(6vw);
}

body:hover #balloon {
  transform: translateX(82vw);
}

body:hover #wire_hider {
  transform: translateX(80vw);
}

body:hover #flagpoles {
  transform: translateY(-16.7vw);
}

body:hover #cloud1 {
  transform: translateY(9.2vw);
}

body:hover #cloud2 {
  transform: translateY(12vw);
}

body:hover #cloud3 {
  transform: translateY(7.8vw);
}
