body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
}

main {
  width: 100%;
  height: 350px;
  background-image:url("../images/Artificial-Intelligence.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  color: white;
  font-size: 28px;
  text-shadow: grey 2px;
  grid-area: main;

}
.symbols {
  color: silver;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #333;
  padding-top: 20px;
  margin-bottom: 20px;
  grid-area: symbols;
  font-family: Terminator Real NFI;

}

.picbox1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: picbox1;
}
.picbox2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: picbox2
}

.futuretech {
  color: silver;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  grid-area: futuretech;
  font-family: Terminator Real NFI;
}


.exosuit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  width: 100%;
  padding-top: 20px;
  grid-area: exosuit;
}


.skynet {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
  grid-area: skynet;
}

footer {
  grid-area: footer;
}

/* end grid area settings */

/* Top navbar settings below*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav .icon {
  display: none;
}

  /* end topnav besides media setting*/

  .flex-container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .headerwords {
    font-size: 28px;
    padding-left: 25px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 20px;
  }

p {
font-size: 40px;
color: red;}

.mainwords {
  padding-top: 90px;
  display: flex;
  margin-left: 50%;
}

.text {
  margin-top: 20px;
}

.text2 {
  font-size: 28px;
  padding-top: 30px;
  padding-bottom: 115px;
}


/* Gallery instructions */

div.gallery {
    margin: 5px;
    border: 1px solid lightgrey;
    width: 100%;
    height: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
/* Gallery End */
/* media links formatiing */

.smedia {
  display: flex;

  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;

}

.smedia a{
  font-size: 30px;
  padding: 20px;
  color: silver;

}


  /* Extra Small and up */
  .grid {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "symbols"
    "picbox1"
    "picbox2"
    "futuretech"
    "exosuit"
    "skynet"
    "footer";
  }

  .topnav a:not(:first-child) {display: none;}

  .topnav a.icon {
    float: right;
    display: block;}

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  /* Small and up (Phones) */
  @media (min-width: 576px) {


  }




  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "header     header"
      "main       main"
      "symbols    symbols"
      "picbox1    picbox2"
      "futuretech futuretech"
      "exosuit    skynet"
      "footer     footer";
    }



    .topnav a:not(:first-child) {
      display: block;}
    .topnav a.icon {
      float: right;
      display: block;

    .topnav a.icon {
      float: right;
      display: block;}


    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .text2 {
      padding-top: 20px;
      margin-bottom: 100px;
    }
  }

  /* Large and up (Desktops) */
  @media (min-width: 992px) {



  }
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {

    /* topnav media instructions */

  }
