body{
  position: relative;
}

.headeraffix img{
  margin-left: 10px;
  margin-right: 10px;
}

.navIconBorder{
  border: solid 2px yellow;
}

.centertitle {
  background-color: #ffffff;
}​

.tester{
  background-color: red;
}

.hr{/*horizontal Line*/
  border: 1px solid #008ABA;
  width: auto;
}

.skillRow{
  background-color: #A33633;
  color: #ffffff;
  min-height: 200px;
}

.skill{
  min-height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill h2{
  animation-delay: 1.5s;
}

.skill ul{
  animation-delay: 2s;
}

iframe{
  width:100%;
  min-height: 315px;
  margin-bottom: 10px;
}

.fantasticappbox{
  display: flex;
  flex-direction: row;
}

.headeraffix{
  background-color: #A33633;
  position: sticky;

}

#dkimg{
  animation-delay: .25s;
}

#tstoimg{
  animation-delay: .50s;
}

#fappimg{
  animation-delay: .75s;
}

#shredimg{
  animation-delay: 1s;
}

@media(min-width:785px){ /*Media Queries for Controlling fixed header */
  .titlerow{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 826px) and (max-width: 991px) { /*tablet*/
  .titlerow{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 825px){ /*mobile*/
  .titlerow{
    margin-top: 20px;
  }
}
