.background-image{
  border-color: black;
  border-style: solid;
  background-image: url("http://data.whicdn.com/images/116361381/large.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 25px;
}
header :hover{
  transform: scale(1.4);
}
img{
  height: 350px;
  width: 375px;
  border-radius: 50%;
  margin: auto;
}
.photo{
  width: 375px;
  margin: auto;
  padding-top: 25px;
}
.photo :hover{
  transform: rotate(180deg);
}
h1 {
  text-align: center;
  font-size: 45px;
}
nav :hover{
  background-color: #555;
  color: white;
}
nav {
  text-align: center;
}
.flexbox-container1 {
  display: flex;
}
.flexbox-container2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.flexbox-container3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#about {
  height: auto;
  background-color: #E8E8E8;
  padding: 15px;
  margin-bottom: 30px;
  border-style: groove;
}
#about :hover{
  background-color: black;
  color: yellow;
}
#skills {
  height: auto;
  background-color: #E8E8E8;
  padding: 15px;
  margin-bottom: 30px;
  border-style: groove;
}
#skills :hover{
  background-color: black;
  color: yellow;
}
#school {
  height: auto;
  background-color: #E8E8E8;
  padding: 15px;
  margin-bottom: 30px;
  border-style: groove;
}
#school :hover{
  background-color: black;
  color: yellow;
}
#contact {
  height: auto;
  background-color: #E8E8E8;
  padding: 15px;
  border-style: groove;
}
#contact :hover{
  background-color: black;
  color: yellow;
}
#jobs {
  height: auto;
  background-color: #E8E8E8;
  border-style: groove;
}
#jobs :hover{
  background-color: black;
  color: yellow;
}
