
/*@media and column attributes taken from bootstrap.css*/
/*Used related css entries from themeforest site*/
.nav {
  width:auto;
  text-align: right;
  background: blue;
  color:white;
}

h1 {
  text-align: center;
}

.my-portfolio .work-area .image img {
  width: 100%;
  height: auto;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left
}


/* Extra small devices (phones, less than 768px) */

@media screen and (max-width:767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd
  }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left
  }
  .col-sm-12 {
    width: 100%
  }
  .col-sm-11 {
    width: 91.66666667%
  }
  .col-sm-10 {
    width: 83.33333333%
  }
  .col-sm-9 {
    width: 75%
  }
  .col-sm-8 {
    width: 66.66666667%
  }
  .col-sm-7 {
    width: 58.33333333%
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-5 {
    width: 41.66666667%
  }
  .col-sm-4 {
    width: 33.33333333%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-2 {
    width: 16.66666667%
  }
  .col-sm-1 {
    width: 8.33333333%
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left
  }
  .col-md-12 {
    width: 100%
  }
  .col-md-11 {
    width: 91.66666667%
  }
  .col-md-10 {
    width: 83.33333333%
  }
  .col-md-9 {
    width: 75%
  }
  .col-md-8 {
    width: 66.66666667%
  }
  .col-md-7 {
    width: 58.33333333%
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-5 {
    width: 41.66666667%
  }
  .col-md-4 {
    width: 33.33333333%
  }
  .col-md-3 {
    width: 25%
  }
  .col-md-2 {
    width: 16.66666667%
  }
  .col-md-1 {
    width: 8.33333333%
  }
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  /*background-color: #fff;*/
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*highlights the form field when you click in them*/
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

textarea.form-control {
  height: auto
}

.form-group {
  margin-bottom: 15px
}

/*clearfix*/
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before,  .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " "
}

/*clearfix option*/
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .pager:after, .panel-body:after, .row:after {
  clear: both
}


.flexbox{
  display: flex;
}
.flexbox div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100%;
  height:15px;
  position: relative;
  margin-top:15px;
}
.blue-box {
  background-color: blue;
}
.orange-box {
  background-color: orange;
}
.yellow-box {
  background-color: yellow;
}
.box:hover{
opacity: 0.2;
}
section.contact{
margin:10px;
}
