@font-face {
  font-family: 'leosler_rough_iconroughiconRg';
  src: url(CheckPoint2/fonts/elements-leosler-B7SPRJ-2017-03-15/LeOsler_Rough-Regular.ttf);
}

body {
  background-color: #54aacc;
  background-image: url("http://i.imgur.com/o36c1sc.png");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Top Nav Bar*/

.nav {
  display: flex;
  justify-content: space-between;
  /*background-color: cadetblue;*/
  margin-top: 15%;
  box-shadow: 2px 2px 3px white;
}

.nav h4 {
  font-size: 1.2em;
  padding: 2px 30px 0 0;
}

.dropdown-toggle {
  font-size: 1.2em;
}

.dropdown-menu {
  font-size: 1.1em;
  /*background-color: aliceblue;*/
}

/* Top Section*/

.top-sec {
  width: 100%;
  display: flex;
  justify-content:center;
  background-color: #3495b3;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
  border-radius: 50%;
  opacity: .8;
  box-shadow: 6px 6px 8px antiquewhite;

}
.top-sec h1 {
  color: white;
  width: 150%;
  height: 100%;
  text-align: center;
  font-size: 18em;
  font-family: 'Ewert';
  text-shadow: 4px 6px 4px black;
}

.top-sec h1:hover {
  transition: all 1s ease-in-out;
  color: darkblue;
  transform: scale(1.2);
  text-shadow: 3px 3px 3px black;

}


.top-sec h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
  color: antiquewhite;
  font-style: italic;
  font-family: 'Lobster';
  padding-bottom: 30px;

}

/*Mid About Me Section*/

.left article {
  display: flex;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 5%;
  padding: 30px;
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom, rgba(175, 171, 150, .8), rgba(175, 171, 150, .5));

}

.left img {
  position:absolute;
  left:0;
  transition: opacity .5s ease-in-out, scaleX(-1);
  margin: 5%;
  border: 2px solid antiquewhite;
  box-shadow:4px 4px 6px black;
  border-radius: 4%;
}

#left {
  float: left;
  margin-right: 1%;
}

#left img.top:hover {

  opacity: 0;
}

#left p {
  color: black;
  font-family: 'Raleway';
  font-size: 1.2em;
  text-shadow: 2px 2px 1px silver;
}

h2.aboutme {
  color: slategrey;
  text-align: center;
  font-size: 30px;
  font-family: 'Pacifico';
  font-variant: small-caps;
  text-shadow: 1px 1px 1px black;
  text-decoration: underline;
}

h4.aboutme {
  font-family: Arial;
  text-shadow: 2px 2px 1px silver;
}



/*Form Section*/

#form-container {
  margin-top: 30%;
  background: linear-gradient(to bottom, rgba(175, 171, 150, .5), rgba(175, 171, 150, .3));
  width: 100%;
  height: 700px;
}

form {
  margin: 12%;
}

.form-box h2 {
  font-size: 2em;
  font-family: 'Josef';
}

label {
  display: block;
  margin: 10px;
  font-size: 1.1em;
  font-family: 'Heebo', sans-serif;
}

.formimg {
  position: relative;
  bottom: 60px;
  right: 15px;
  width: 300px;
}

input {
  width: 250px;
  height: 30px;
}

textarea {
  width: 250px;
  height: 100px;
}

fieldset {
  border: none;
}

.labelone {
  margin-top: 10px;
}

.btnone {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: steelblue;
  border-radius: 15px;
  box-shadow: 0 2px darkgrey;
  text-shadow: 1px 1px 1px black;
}

.btnone:hover {
  color: powderblue;
  background-color: royalblue;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.btnone:active {
  background-color: slategrey;
  box-shadow: 2px 2px blue;
  transform: translateY(6px);
}

#form-container h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
}

/*Middle Icon Bar*/

#icon-bar {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

#icon-bar a {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

#smicono:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;
}

#smicont:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;
}


#smiconth:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;
}

#smiconf:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;
}

.pert1info {
  margin-top: 2%;

}
.educ p{
  width: 200px;
  text-align: center;
  border-radius: 50%;
  padding:30px;
  margin-right: 20%;
  font-size: 2em;
  background-color: antiquewhite;
  font-variant: small-caps;
}

.edu {
  font-size: 1.4em;
  border-left: 5px double white;
  color: black;
  text-shadow: 1px 1px 1px silver;
}

.pro {
  border-left: 5px double white;
  color: black;
}

.pro :hover {
  color: black;
}

.cex {
  font-family: 'Raleway';
  font-size: 2em;
}

#dialog-window {
  font-family: 'Josefin Sans';
  color: black;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px silver;
  font-variant: small-caps;
}

.coo {
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  font-size: 1.2em;
  color: darkblue;
}

.cot {
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  font-size: 1.2em;
  color: darkblue;
}

.coth {
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  font-size: 1.2em;
  color: darkblue;
}

.jto {
  font-size: 1.1em;
  font-variant: small-caps;
  list-style: none;
}

.jtt {
  font-size: 1.1em;
  font-variant: small-caps;
  list-style: none;
}

.jtf {
  font-size: 1.1em;
  font-variant: small-caps;
  list-style: none;
}

.car {
  margin-top:5%;
}
.car p{
  width: 200px;
  text-align: center;
  border-radius: 50%;
  padding:30px;
  font-size: 1.7em;
  background-color: antiquewhite;
  font-variant: small-caps;
}

.car a{
  font-size: 1.4em;
  color: black;
  text-shadow: 1px 1px 1px silver;
}

.car a:hover {
  color: darkblue;
}

/*Specialties Section*/

#specinfo {
  margin-top: 2%;
}

#specinfo p {
  text-align: center;
  font-size: 2em;
  font-variant: small-caps;
  color: black;
  text-shadow: 1px 1px 1px silver;
}

#specinfo ul{
  font-size: 1.3em;
  color: black;
  text-shadow: 1px 1px 1px silver;
}

#dialog-window {
  height: 300px;
}

#scrollable-content {
  height: 280px;
  overflow: auto;
  background-color: white;
  font-size: 1.5em;
  background-image: url(http://i.imgur.com/NzTJOtK.jpg);
  padding-right: 20px;
}

#footer {
  height: 20px;
  background-color: antiquewhite;
}

.contactbar {
  margin-top: 3%;
  text-align: center;
}
.env {
  width: 50px;
}

.env:hover {
  background-color: yellow;
  transition: all 1s ease-in-out;
  transform: rotateZ(-360deg) scale(1.2) translateY(0);
}
.ph {
  width: 50px;
}

.ph:hover {
  background-color: orange;
  transition: all 1s ease-in-out;
  transform: rotateX(-360deg) scale(1.2) translateX(0);
}

.ft {
  display: flex;
  justify-content: flex-start;
  color: white;
}

/*tablet*/
@media (min-width: 786px) and (max-width: 991px) {

  .top-sec h1 {
    font-size: 12em;
    text-align: center;
    color: darkcyan;
  }

  .top-sec h2 {
    font-size: 2em;
    text-align: center;
  }

  #left p {
    font-size: 1em;
  }



}
/*phone*/
@media (max-width: 786px) {

  .top-sec h1 {
    font-size: 8em;
    text-align: center;
  }

  .top-sec h2 {
    font-size: 2em;
    text-align: center;
    color: cadetblue;
  }

  .tc {
    display: none;
  }

  #icon-bar {
    display: flex;
    flex-direction: row;
  }
  #form-container {
    width: 100%;
    height: 40%;
  }

  .contactbar{
    background-color:cadetblue;
    opacity: .3;
  }

}
