@font-face {
  font-family: 'Radon Deco';
  src: url(CheckPoint2/Radon_font/Radon Deco.svg);
}

body {
  background-image: url("http://i.imgur.com/o36c1sc.png");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {

}

/* Top Nav Bar*/

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Abril Fatface';
  font-size: 1.3em;
  /*background-color: cadetblue;*/
  margin-top: 10%;

  box-shadow: 2px 2px 3px black;
  z-index: 4;
}

.nav h4 {
  font-size: 1.2em;
  padding: 2px 30px 0 0;
}

.dropdown-toggle {
  font-size: 1.2em;
}

.dropdown-menu {
  font-size: 1.1em;
  background-color: lightblue;
}

/* Top Section*/

.top-sec {
  width: 100%;
  display: flex;
  justify-content:center;
  background-color: #3495b3;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
  opacity: .8;
}

.top-sec h1 {
  color: white;
  width: 150%;
  height: 100%;
  margin-left: 5%;
  text-align: center;
  font-size: 18em;
  font-family: 'Radon Deco','Ewert';
  text-shadow: 6px 6px 4px black;
}

.top-sec h1:hover {
  transition: all 1s ease-in-out;
  color: steelblue;
  transform: scale(1.2);
  text-shadow: 3px 3px 3px black;
}

.top-sec h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  color: antiquewhite;
  font-style: italic;
  font-family: 'Lobster';
  padding-bottom: 30px;
}

/*Mid About Me Section*/

.left article {
  display: flex;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 5%;
  padding: 30px;
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom, rgba(175, 171, 150, .8), rgba(175, 171, 150, .5));
}

.left img {
  position:absolute;
  left:0;
  margin: 5%;
  border: 2px solid antiquewhite;
  box-shadow:2px 2px 4px black;
  border-radius: 4%;
  transition:  1s ease-in-out, scaleX(-1);
}

#left {
  float: left;
  margin-right: 1%;
}

.left img.top:hover {

  opacity: 0;
}

#left p {
  color: black;
  font-family: 'Raleway';
  font-size: 1.2em;
  text-shadow: 2px 2px 1px silver;
}

h2.aboutme {
  color: slategrey;
  text-align: center;
  font-size: 3em;
  font-family: 'Handlee';
  font-variant: small-caps;
  text-shadow: 1px 1px 1px black;
  text-decoration: underline;
  margin-bottom: 20px;
}

h4.aboutme {
  font-family: Arial;
  text-shadow: 2px 2px 1px silver;
}

/*Form Section*/

#form-container {
  margin-top: 30%;
  background: linear-gradient(to bottom, rgba(175, 171, 150, .5), rgba(175, 171, 150, .3));
  width: 100%;
  height: 700px;
}

form {
  margin: 12%;
}

.form-box h2 {
  font-size: 2em;
  font-family: 'Abril Fatface';
}

label {
  display: block;
  margin: 10px;
  font-size: 1.1em;
  font-family: 'Heebo', sans-serif;
}

.formimg {
  position: relative;
  bottom: 60px;
  right: 15px;
  width: 300px;
}

input {
  width: 250px;
  height: 30px;
}

textarea {
  width: 250px;
  height: 100px;
}

fieldset {
  border: none;
}

.labelone {
  margin-top: 10px;
}

.btnone {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: steelblue;
  border-radius: 15px;
  box-shadow: 0 2px darkgrey;
  text-shadow: 1px 1px 1px black;
}

.btnone:hover {
  color: powderblue;
  background-color: royalblue;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.btnone:active {
  background-color: slategrey;
  box-shadow: 2px 2px blue;
  transform: translateY(6px);
}

#form-container h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
}

/*Middle Icon Bar*/

#icon-bar {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

#icon-bar a {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

#smicono:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: black;
}

#smicont:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: #0077B5;
}


#smiconth:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: darkblue;
}

#smiconf:hover {
  text-decoration: none;
  transition: all .6s ease-in-out;
  transform: rotateY(-360deg) scale(2) translateX(0);
  color: #1DA1F2;
}

/*Specialties Section*/

.spec {
  margin-top: 2%;
}

.specinfo p {
  width: 200px;
  text-align: center;
  border-radius: 50%;
  padding:30px;
  margin-top: 40%;
  margin-right: 20%;
  font-size: 2em;
  background-color: antiquewhite;
  font-variant: small-caps;
  color: darkgoldenrod;
}

.spec ul{
  font-family: 'Raleway';
  font-size: 1.2em;
  color: cornsilk;
  text-shadow: 2px 1px 1px black;
}

.spec h4{
  font-family: 'Raleway';
  font-size: 1.3em;
  color: cornsilk;
  text-shadow: 2px 1px 1px black;
}

.cex ul{
  font-family: 'Raleway';
  font-size: 1em;
  color: cornsilk;
  text-shadow: 2px 1px 1px black;
}

.cex p{
  width: 200px;
  text-align: center;
  border-radius: 50%;
  padding:30px;
  margin-top: 80%;
  margin-right: 20%;
  font-size: 1.7em;
  background-color: antiquewhite;
  font-variant: small-caps;
  color: darkgoldenrod;
}

.educ p{
  width: 200px;
  text-align: center;
  border-radius: 60%;
  padding:30px;
  margin-top: 20%;
  margin-right: 20%;
  font-size: 2em;
  background-color: antiquewhite;
  font-variant: small-caps;
  color: darkgoldenrod;
}

.edu {
  font-family: 'Raleway';
  font-size: 1.2em;
  color: cornsilk;
  text-shadow: 2px 1px 1px black;
}

.pro :hover {
  color: black;
}

.proa {
  margin-top:5%;

}
.proa p{
  width: 200px;
  text-align: center;
  border-radius: 50%;
  padding:30px;
  margin-top: 20%;
  font-size: 1.7em;
  background-color: antiquewhite;
  font-variant: small-caps;
  color: darkgoldenrod;
}

.proa a{
  font-family: 'Raleway';
  font-size: 1.2em;
  color: cornsilk;
  text-shadow: 2px 1px 1px black;
}

.proa a:hover {
  color: dodgerblue;
}

.pro li {
  font-family: 'Raleway';
  font-size: 1.2em;
  color: gainsboro;
  text-shadow: 2px 1px 1px black;
}

.contactbar {
  margin-top: 3%;
  text-align: center;
}

.env {
  width: 50px;
}

.env:hover {
  background-color: yellow;
  transition: all 1s ease-in-out;
  transform: rotateZ(-360deg) scale(1.2) translateY(0);
}

.ph {
  width: 50px;
}

.ph:hover {
  background-color: orange;
  transition: all 1s ease-in-out;
  transform: rotateX(-360deg) scale(1.2) translateX(0);
}

.ft {
  display: flex;
  justify-content:center;
  color: white;
}

/*tablet*/
@media (min-width: 787px) and (max-width: 991px) {

  .top-sec h1 {
    font-size: 16em;
    text-align: center;
    color: darkcyan;
  }

  .top-sec h2 {
    font-size: 2.5em;
    text-align: center;
  }

  #left p {
    font-size: 1em;
  }

  #form-container {
    display: flex;
    justify-content: center;
  }

  .specinfo {
    color: darkolivegreen;
  }

  .specinfo ul {
    color: gainsboro;
    margin-bottom: 10%;
  }

  .cex {
    margin: 20px 0;
    color: darkgoldenrod;
  }

  .educ {
    color: darkolivegreen;
  }

  .edu {
    margin-bottom: 15%;
    color: gainsboro;
  }

  .pert2info {
    margin: 20px 0;
  }

  .proa p{
    color: darkgoldenrod;
  }

}
/*phone*/
@media (max-width: 786px) {

  .top-sec h1 {
    font-size: 8em;
    text-align: center;
  }

  .top-sec h2 {
    font-size: 2em;
    text-align: center;
    color: cadetblue;
  }

  .tc {
    display: none;
  }

  #icon-bar {
    display: flex;
    flex-direction:row;
  }
  #form-container {
    width: 100%;
    height: 40%;
  }

  #left img{
    width: 90%;
  }

  .specinfo {
    color: darkolivegreen;
  }

  .spec h4{
    color: gainsboro;
  }

  .specinfo ul {
    color: gainsboro;
    margin-bottom: 10%;
  }

  .cex {
    margin: 20px 0;
    color: darkgoldenrod;
  }

  .educ {
    color: darkolivegreen;
  }

  .edu {
    margin-bottom: 15%;
    color: gainsboro;
  }

  .pert2info {
    margin: 20px 0;
  }

  .proa p{
    color: darkgoldenrod;
  }

}
