.title
{
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: white;
  font-family: 'Anton', sans-serif;
  color: black;

}

.contact
{
  font-family: 'Anton', sans-serif;
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: white;
  color: black;


}
.cl
{
  text-align: center;
  color:white;
  width: 100%;
  font-size: 20px;
}
.pic
{
  width: 50%;
  height: auto;
  border: solid;
  border-width: thick;
  border-style: groove;
  border-color: black;
  margin-left:30%;
  background-color: green;
}
.skill
{
  border-bottom: solid;
  border-width: thin;
  border-color: white;
  text-align: center;
  color: black;
  font-family: 'Anton', sans-serif;
}
li
{
  list-style-type: none;
  text-align: center;
  font-family: font-family: 'Lato', sans-serif;
  color:white;
}
.me
{
  text-align: center;
  color: black;
  font-family: 'Anton', sans-serif;
}
p
{
  text-align: center;
  line-height: 30px;
  border: solid;
  border-width: thin;
  font-family: font-family: 'Lato', sans-serif;
  padding: 10px;
  color:white;

}
a:link
{
  color:blue;
}
footer
{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 30px;

}
