

body {
  background-image: url(https://github.com/konarie1990/web-workbook/blob/gh-pages/checkpoint2/img/astronomy-constellation-dark-998641.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: auto 160px 160px auto;
  grid-template-rows: repeat(5, 160px);

}

.box {
  border: white solid 2px;
}