* {
  background-color:Wheat;
  text-align: center;
  font-family:sans-serif;
}

div.header {
  margin:5% 25%;
  padding: 10px;
}

#pic {
  max-height:25%;
  border-radius: 20%;
  border:10px solid beige;
  float:left;
}

h1 {
  font-family: cursive;
  color: saddlebrown;
}

h3 {
  color: saddlebrown;
  clear:left;
}

div.company {
  margin:auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 3px solid beige;
  border-radius: 20px;
  width:50%;
  min-width: 500px;
}

footer {
  border-top: 3px solid saddlebrown;
  padding:20px;
}

a {
  color: saddlebrown;
}

a:hover {
  color: mediumseagreen;
}
