* {
  background-color:Wheat;
  text-align: center;
  font-family:sans-serif;
}

#pic {
  max-height:25%;
}

h1 {
  font-family: cursive;
  color: saddlebrown;
}

h3 {
  color: saddlebrown;
}

div.company {
  margin:auto;
  border: 3px solid beige;
  border-radius: 20px;
  width:50%;
  min-width: 500px;
}
