* {
  font-family:sans-serif;
}


h1 {
  font-family: cursive;
  color: saddlebrown;
}

h3 {
  color: saddlebrown;
  text-align: center;
}

img {
  border-radius: 25%;
  width: 100%;
  max-width: 400px;
}

div.company {
  margin:auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid beige;
  border-radius: 20px;
  width:75%;
  max-width: 600px;
}
