body{
  margin:0;
  background-color: #e6e6e6;
}

a{
  text-decoration: none;
  color: orange;
  padding-right: 2px;
}

nav{
  top:0;
  background-color: black;
  text-align: right;
  height:30px;
  padding-top: 10px;
  padding-right: 5px;
}

#name{
color: orange;
}

h1{
  font-family: Verdana;
  text-align: center;
}

p{
  text-align: center;
  display: block;
}

#Experience{
  background-color: white;
  border: 1px solid black;
}

.work{
  text-transform: uppercase;
}
 h4, h6{
   text-align: center;
 }

 h4{
   margin-bottom: 0;
 }

 h6{
   margin-top: 0;
 }
