body {
  margin: 0;
  background-color: #e6e6e6;
}

a:hover {
  color: Blue
}

a {
  text-decoration: none;
  color: black;
  padding-right: 2px;
  font-family: Verdana;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: #e6e6e6;
  text-align: right;
  height: 30px;
  padding-top: 10px;
  padding-right: 5px;
}

#name {
  font-family: fantasy;
}

h1 {
  font-family: Verdana;
  text-align: center;
}

p {
  text-align: left;
  display: block;
}

#Experience {
  background-color: white;
  border: 1px solid black;
}

.work {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: bold;
}

.title {
  font-weight: lighter;
  margin-left: 10px;
}

.overview {
  font-weight: lighter;
  margin-left: 10px;
}

.jobInfo {
  margin-left: 10px;
}


}
h4 {
  margin-left: 10px;
  color: red;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 10px;
}
h6 {
  font-size: ;
  padding-top: 0;
  margin-top: 0;
}
#opening {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-width: 100%;
  border: solid black 5px;
}
#photo {
  border-radius: 100%;
  border: solid black 5px;
  height: auto;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  ;
}
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
#bgwrap{
position: fixed;
z-index: -1000;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
#bio{
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.6)
}
.whiteTxt{
  color: white;
}
