body {
background-image: url("https://images2.alphacoders.com/568/thumb-1920-568747.jpg");
background-size: cover;
background-repeat: no-repeat; }

div h1 {
  font-family:serif;
  text-align:center;
  color:white;
}
h3{
  color:white;
  text-align: center;
}
li {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color:white;
}
p {
  text-align:center;
  color:white;
}
