body {
background-image: url("https://images2.alphacoders.com/568/thumb-1920-568747.jpg");
background-size: cover;
background-repeat: no-repeat;
}

div h1 {
  font-family:serif;
  border:4px solid silver;
  background-color:black;
  text-align:center;
  color:white;
  padding: 25px 10px 25px 10px;
  margin:auto;
}

h3 {
  border:4px solid silver;
  background-color:black;
  text-align:center;
  color:white;
  text-align: center;
}

li {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color:white;
}

p {
  text-align:center;
  color:white;
}
