/*something happened on this page that through the final product completely
out of wack. I will continue to try and figure it out until then I will have
to comment code and get some sleep*/

div {
  border-radius: 5px;
}

#header {
  z-index: 1;
  /*positions the header in either a fixed or floating state*/
  position: realative;
  /*moves the headeer down or up from the top of the page*/
  margin-top: 30px;
  hieght: 50px;
  /*moves the header the length of the page a certain percentage*/
  width: 100%;
  background-color: #C1E3E1;
}


/* button size and border size */

#button {
  border-radius: 5px;
  border: 2px solid #6495ED;
  background-color: #BCD2EE;
  height: 30px;
  width: 120px;
  margin: left;
  text-align: center;
}


/* text inside button*/

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}


/* hover effect for button. will expand in size*/

#button:hover {
  border-radius: 10px;
  height: 50px;
  width: 130px;
  text-align: left;
}


/*hover effect for text inside button*/

div div a:hover {
  font-size: 26px;
}


/* styling for name in header*/

#name {
  text-align: left;
  margin-left: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}


/*styling for email in header*/

#email {
  text-align: center;
  margin-right: 20px;
  padding-top: 10px;
  font-sixe: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}


/* this is the hover effectf for the email link*/

a:hover {
  text-decoration: underline;
  font-size: 26px;
}


/* text styling for all h4 elements*/

h4 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}


/*text styling for the content in */

.right p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  font-family: Garamond, serif;
  color: #000000;
}


/*styling for the blue side border*/

.left {
  position: relative;
  float: left;
  margin-top: 30px;
  width: 5%;
  height: 480px;
  background-color: #89D7D9;
  margin-bottom: 10px;
}


/*background styling and box model for content*/

.right {
  position: relative;
  float: right;
  margin-top: 5px;
  width: 95%;
  height: 400px;
  background-color: #F4EBC3;
  margin-bottom: 20px;
}


/* styling for footer box model*/

#footer {
  width: 100%;
  padding-top: 50px;
  height: 30px;
  clear: both;
  position: relative;
  background-color: #C1E3E1;
}


/*stling for content in footer*/

#footer p {
  position: relative;
  padding-top: 10px;
  text-align: center;
  color: #000000;
  font-family: Verdana, sans-serif;
}
