h1{color:Lime green;
  font-family:"Times New Roman", Times, serif;
font-size: 20px;}
h3{color:Green;
  font-family:monospace;}
body{border-style: double;
  font-family: Georgia,serif;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
background-color: lightblue;}

  footer{font-size: 12px;}
