section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  background-color: #F7F7F7;
}

.colbox {
  height: 70px;
  width: 320px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.coltext {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.foot {
  width: 200px;
  padding: 10px;
}

#left {
  width: 350px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#right {
  height: 300px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

#bordertop {
  border-bottom: 1px solid #838588;
  margin:auto 100px;
  width: 800px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 16px;
  font-weight: lighter;
  color: #838588;
}

h2 {
  font-size: 12px;
  font-weight: lighter;
  color: #838588;
}

p, li {
  font-size: 8px;
  font-weight: lighter;
  line-height: 14px;
  color: #838588;
}

a {
  font-size: 8px;
  text-align: right;
  color: #A2B891;
}

body {
  font-family: Verdana;
  margin: auto 100px;
}

 header {
   text-align: center;
   margin: auto 220px;
 }

 footer {
   display: flex;
   align-content: center;
   justify-content: center;
   margin: auto;
 }

 li:before {
   text-decoration: none;
   content: '✔';
   color: #A2B891;
   margin-left: -1em; margin-right: .100em;
 }

 li {
   list-style-type: none;
 }

 ul {
   padding-left: 9px;
 }

 div.foot a {
   margin-left: 146px;
 }
