body{
  background-color:;
}

form{
  /*border: 1px solid red;*/
}

.profile{
  font-family:'didact Gothic', sans-serif;
/*   border: 1px solid red; */
  display: flex;
  justify-content:flex-start;
  align-items:baseline;
  align-items:center;
  width: 100%;
}

.profile h1{
  margin-right:15px;
}

img{
  max-width:100%;

}

.cheetah{
  width:224px;
  height:236px;
  border: 1px solid #DBDBDB;
}

.profile-section{
  display:flex;
  justify-content: flex-start;
  margin-bottom:10px;
  background-color:#FAFAFA;
}



.edit{
  margin-top:24px;
  display: flex;
  justify-content:flex-start;
  align-items:space-between;

}

.edit-profile{
  background-color:gray;
  /*border: 1px solid red;*/
   height:30px;
   margin-top:12px;
  margin-right:5px;
  color:white;
}

.fa-ellipsis-h{
  align-self:center;
  margin-top:12px;
}



.posts{
 display: flex;
justify-content:flex-start;

}

.posts, .name h4{
  font-family:'Didact Gothic', sans-serif;
}

.posts h4{
  padding-right:14px;
}

.navbar li{
  font-family:'Didact Gothic', sans-serif;
  font-weight:bold;

}


.name{
  display: flex;
justify-content:flex-start;
}


.copy{
  margin-bottom:30px;
}


.form-group{
  text-align:center;
}

.fa {
  padding-right:10px;

}

.navbar-default{
/*   border:1px solid red; */
}


h2, p{
  text-align:center;
}



  .blue-btn{
  display:flex;
  justify-content:center;
/*   border:1px solid red; */
    width:100%;
    margin-bottom:10px;
    margin-top:-9px

}

.load-more{
  background-color: #3897F0;
  border: 1px solid white;
  width: 100px;
  border-radius:13px;
  color:white;
  font-family:'Didact Gothic', sans-serif;
  font-weight: bold;
  font-size: 16px;


}

@media (max-width: 767px) {
  .profile{
    justify-content:center;

  }
  .pic{
    display:flex;
    justify-content:center;
  }
  .posts{
    justify-content:center;
  }
  .name{
    justify-content:center;
  }

    }

@media (max-width: 350px){
  .posts h4{
    font-size:15px;
  }
  .posts{
    justify-content:space-around;
  }
}

@media(min-width:307px){
  .posts{

  }
  .posts h4{
    font-size:15px;
  }

  .profile h1{
    font-size:28px;
  }

}
