Body {

}

header {
  /*background-image: url('../img/towers-header.png');*/
  height: auto;
  width: 100%
}

  #tower-container {
  display: flex;
  height: 100%;
  width: auto;
  background-color: white;
}

[data-stack] {
  background-image: url('img/Pole.png');
  background-color: #8BDAE8;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 300px;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
}

[data-block] {
  height: 25px;
  float: center;
}

.base {
  height: 34px;
  width: 1140px;
  display: flex;
  align-items: center;
}

[data-block="blue"] {
  width: 150px;
  background-color: blue;
  border-radius: 5px;
}

[data-block="green"] {
  width: 200px;
  background-color: green;
  border-radius: 5px;
}

[data-block="red"] {
  width: 250px;
  background-color: red;
  border-radius: 5px;
}

[data-block="yellow"] {
  width: 300px;
  background-color: yellow;
  border-radius: 5px;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

#bottom-container {
  background-color: #12246E;
  display: flex;
  justify-content: center;
  height: 750px;
  width: auto;
}

.rules {
color: white;
font-size: 40px;
font-style: italic;
font-weight: bold;
padding-top: 50px;
}

p {
color: white;
font-size: 25px;
font-style: italic;
}

.reset {
  font-size: 20px;
  font-style: italic;
  align-content: center;
  color: #12246E;
}



/*justify-content: flex-end;
display: flex;
justify-content: flex-start;
align-items: right;*/
