#tower-container {
  display: flex;
  background-color: white;
  height: 100%;
  width: auto;
}

[data-stack] {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(img/Pole.png);
  /*justify-content: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: right;*/
  height: 300px;
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
}

[data-block] {
  height: 25px;
  float: center;
}

.base {
  height: 34px;
  width: 1140px;
  /*background-color: brown;
  border-radius: : 15px;*/
  display: flex;
  align-items: center;
  /*margin-left: 25%;*/
  margin-right: 25%;
}

[data-block="blue"] {
  width: 150px;
  background-color: blue;
  border-radius: 5px;
}

[data-block="green"] {
  width: 200px;
  background-color: green;
  border-radius: 5px;
}

[data-block="red"] {
  width: 250px;
  background-color: red;
  border-radius: 5px;
}

[data-block="yellow"] {
  width: 300px;
  background-color: yellow;
  border-radius: 5px;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

.rules {}

form {
  height: 50px;
  width: 100px;
  font-size: 20px;
  align-content: center;
  color: white;
}
