section {
  width: 380px;
  height: 450px;
  border: 2px solid red;
  background: linear-gradient(100deg, #db623a, #db0000);
}

div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
  margin: 11px;
}

.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
  font-family: helvetica;
  text-align: center;
  font-style: italic;
  background: linear-gradient(100deg, #0074D9, #39CCCC);
}
