div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #silver;
  float: left;
  border: 2px solid #808080;
  font-size: 90px;
  font-style: italic;
  text-align: center;
}

.row {
  clear: both;
}

p {
  font-family: "Segoe UI";
  font-style: bold;
  }

#announce-winner {
  clear: both;
  font-size: 50px;
}
