body {
    background-color: black;
}
.grid {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "politics"
    "banner"
    "footer" ;
    grid-template-columns: 1fr;
}
header {
    grid-area: header;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(0, 0, 0));
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: azure;
}
nav {
    grid-area: nav;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(179, 255, 191);
    height: 55px;
    border-radius: 120px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
nav a:link {
    color: black;
    text-decoration: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    font-size: 20px;
    border: 1px black solid;
    border-bottom: 2px black solid;
    border-right: 4px black solid;
    border-radius: 10px;
    padding: 3px;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 30px;
}
main h1 {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-decoration: underline #B3FFBF;
}
main img { 
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
main p {
    height: 80px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    color: white;
    position: relative;
    bottom: 40px;
    text-indent: 25px;
}
.comment h3 {
    padding-top: 5px;
    background-color:  rgb(75, 250, 101);
    width: 80px;
    height: 20px;
    float: right;
    border-radius: 30px;
    margin-right: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}
.comment a:link {
    color: white;
}
.comment a:visited {
    color: black;
}
.politics {
    grid-area: politics;
    background-color: grey;
    height: 500px;
    width: 100%;
}
footer {
    grid-area: footer;
    background-color: rgb(255, 127, 127);
}

@media (min-width: 481px) and (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-areas:
        "header header"
        "nav nav"
        "main politics"
        "banner"
        "footer" ;
        grid-template-columns: 1fr;
    }
}