*{
  font-family:sans-serif;
}

p{
  font-size:14px;
  color:gray;
}

li{
  font-size:14px;
  color:gray;
}

h2{
  font-weight:normal;
  font-size:18px;
}

h1{
  display:flex;
  justify-content:center;
  color:black;
  font-weight:normal;
}

#top p{
  display:flex;
  justify-content:center;
  margin:0px 380px;
  text-align:center;
}

#left{
width:31%;
font-size:15px;
margin-left:180px;
margin-top:50px;
padding:20px;
padding-bottom:30px;
background-color:rgb(240,240,240)
}

a{
  float:right;
  color:green;
}

#right img{
  width:160px;
  float:left;
}

table{
  display:flex;
  float:right;
  margin-top:-400px;
  margin-right:120px;
  padding-left:0px;


}

table {
    border-collapse: separate;
    border-spacing:10px;
    margin-left:10px;

}

td {
    padding-top: .5em;
    padding-bottom: 30px;;
    border:none;
    background-color:rgb(240,240,240)
}

tr{
  width:-20px;
}

#bottom{
  display:flex;
  justify-content:space-around;
  margin:0px 100px;
  margin-top:60px;
  margin-bottom:30px;
  padding-top:20px;
  padding-bottom:20px;
}

.pricing{
  width:20%;
}

.pricing a{
  float:right;
}

#bottom{
  border-top:solid rgb(240,240,240) 2px;
  border-bottom:solid rgb(240,240,240) 2px;
}

.features{
  border-left:solid rgb(240,240,240) 2px;
  border-right:solid rgb(240,240,240) 2px;
  padding-left:100px;
  padding-right:100px;
}
