.titleZombleMale{
	background-color: darkcyan;
	text-align: center;
	margin-bottom: 30px;
	
}

.titleZombleMale > h1{
	color: royalblue;
}

#ZombieMale{
	width:450px;
	height:450px;
	background-color: brown;
	border-radius: 50px;
	display: flex;
	
}

img{
	transition: all 3s;  /*Change one state to another state in secend */
	transition-timing-function: linear;
	margin: auto;
	
}

img:active{
	transform: scale(1.5);
}

.zombleMale > h1{
	font-size: 50px;
	color: firebrick;
}

#currentTotal{
	border: 5px solid black;
	width: 100px;
	height: 100px;
	margin: auto;
	text-align: center;
	font-size: 48px;
	
}

.powerBag{
	border: 5px solid blueviolet;
	border-radius:25px;
	margin: auto;
	height: 20px;
	width: 150px;
	padding: 5px;
	text-align: center;
	
}

#likeHeart{
	height: 10px;
	width: 10px;
}

#swords{
	height: 10px;
	width: 10px;
}

.button {
	width:150px;
	height:20px;
	border:5px solid blueviolet;
	border-radius:25px;
	padding: 5px;
	margin: auto;
	text-align: center;
	
  }

