/** {
  margin: 0 auto;
}*/

header {
  background-color: red;
  height: 150px;
  margin: 0 auto;
  width: 700px;
}

nav {
  background-color: yellow;
  height: 35px;
  margin: 70px auto 0 auto;
  /*margin-top: 70px;*/
  width: 680px;
}

main {
  background-color: blue;
  height: 500px;
  margin: 0 auto;
  width: 700px;
}

section {
  background-color: green;
  float: left;
  height: 440px;
  margin: 45px 0 5px 10px;
  width: 500px;
}

article {
  background-color: lightblue;
  height: 300px;
  margin: 35px auto 0 auto;
  /*margin-top: 35px;*/
  width: 350px;
}

aside {
  background-color: purple;
  float: left;
  height: 400px;
  margin: 35px auto 0 auto;
  /*margin-top: 35px;*/
  width: 150px;
}

footer {
  background-color: black;
  height: 50px;
  margin: 0 auto;
  width: 700px;
}
