/** {
  margin: 0 auto;
}*/

header {
  background-color: #005387;
  font-family: sans-serif;
  height: 150px;
  margin: 0 auto;
  width: 700px;
}

header h1 {
  font-size: 32px;
  text-align: center;
}

nav {
  background-color: #fdb813;
  height: 35px;
  margin: 70px auto 0 auto;
  width: 680px;
}

nav p {
  display: inline;
  float: right;
}

main {
  background-color: #88aca1;
  height: 500px;
  margin: 10px auto 0px auto;
  width: 700px;
}

section {
  background-color: #8cb811;
  float: left;
  font-family: sans-serif;
  height: 445px;
  margin: 45px 0 5px 10px;
  width: 500px;
}

article {
  background-color: #788cb6;
  height: 350px;
  margin: 35px auto 0 auto;
  width: 480px;
}

aside {
  background-color: #788cb6;
  float: left;
  font-size: 15px;
  height: 445px;
  margin: 45px auto 0 10px;
  width: 170px;
}

footer {
  background-color: #8f8f8c;
  height: 50px;
  margin: 10px auto 0 auto;
  width: 700px;
}
