* {
  margin: 0 auto;
}

header {
  background-color: red;
  height: 35px;
  padding-top: 110px;
  width: 900px;
}

nav {
  background-color: yellow;
  height: 35px;
  width: 850px;
}

main {
  background-color: blue;
  height: 500px;
  width: 900px;
}

section {
  background-color: green;
  float: left;
  height: 400px;
  width: 600px;
}

article {
  background-color: lightblue;
  height: 300px;
  width: 550px;
}

aside {
  background-color: purple;
  float: left;
  height: 400px;
  width: 200px;
}

footer {
  background-color: black;
  height: 150px;
  width: 900px;
}
