html, body {
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
  height: auto;
}

.topbox {
  margin: 25px 0px 25px 0px;
  width: 100%;
  float: left;
}

.company {
  font-size: 24px;
  color: green;
  width: 50%;
  float: left;
}

.moveul {
  width: 50%;
  float: left;
}

.movelink {
  float: right;
  color: green;
  font-size: 24px;
  display: inline;
  margin-left: 20px;
  clear: left;
}

.box1 {
  width: 80%;
  height: 500px;
  background-image: url(../css/dscf7183.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px;
}

.textfix {
  color: white;
  font-size: 36px;
  margin: 20px;
}

.textfix1 {
  color: white;
  font-size: 24px;
}

.box1butt {
  border: 2px solid white;
  margin: 20px;
}

.smallsidepic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  height: 200px;
  width: 900px;
  padding: 100px 0px 100px 0px;
}

.pondflower {
  width: 200px;
  height: 200px;

}

.box2text {
  width: 50%;
  margin: auto;
}

.fourpics {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 900px;
  padding: 40px;

}

.fourbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;

}

.smallpic {
  height: 100px;
}

.addpad {
  padding: 10px;
}

.butterflybox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.butterfly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.shrink {
  width: 75%;
  padding: 20px;
}

.end {
  display: flex;
  align-self: flex-end;
  margin-right: 60px;
}

.lastbox {
  background-image: url("../css/DSCF7202.jpg");
  background-repeat: no-repeat;
  height: 500px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;

}

.dinotext{
  width: 100%;
  font-size: 48px;
  padding: 40px;
}

.run {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px 100px 0px;

}
