html, body {
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

body, header, section, nav, footer {
  box-sizing: border-box;
}

nav {
  display: flex;
  padding: 10px 0 5px 0;
  width: 1000px;
  height: 100px;
  justify-content: space-between;
}

nav a {
  padding-left: 5px;
  padding-top: 20px;
  text-decoration: none;
  color: black;
  background-color: inherit;
}

nav a:hover {
  color: #aaa;
  background-color: inherit;
  font-weight: bold;
}

.logo {
  width: 150px;
  background-image: url("../img/logo.jpg");
  background-size: cover;
}

.links {
  padding-top: 30px;
}

header {
  display: flex;
  width: 1000px;
  height: 400px;
  background: url("../img/purpleflower.jpg");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: inherit;
}

header h1 {
  font-size: 50px;
  margin-bottom: 10px
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

header a {
  display: flex;
  width: 75px;
  height: 30px;
  border: solid 2px white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: inherit;
}

header a:hover {
  background-color: #aaa;
  color: inherit;
}

section {
  width: 1000px;
}

.pinkflowers {
  display: flex;
  padding: 40px 40px;
  justify-content: space-between;

}

.left-box {
  width: 150px;
  height: 220px;
  background: url("../img/pinkflower.jpg");
  background-size: cover;
}

.right-box {
  width: 600px;
  height: 220px;
}

.right-box h2 {
  text-align: center;
}

.redflowers {
  display: flex;
  padding: 50px 0 50px;
  justify-content: space-around;
}

.column {
  width: 120px;
  text-align: center;
}

.column h3 {
  padding: 15px;
}

.image-box {
  width: 120px;
  height: 120px;
  background: url("../img/redflower.jpg");
  background-size: cover;
}

.water {
  display: flex;
  justify-content: space-between;
}

.waterdroplet {
  width: 300px;
  height: 145px;
  background: url("../img/waterdroplet.jpg");
}

.box {
  width: 300px;
  padding: 30px 50px;
}

.box p {
  padding-top: 20px;
  text-align: center;
}
