.container {
  padding-top: 25px;
  margin: auto;
  width: 900px;
}
.header {
  width: 100%;
}
.headerrt {
  text-align: right;
  float: left;
  font-family: inherit;
  width: 48%;
}
.headerlft{
  float: left;
  text-align: left;
  width: 48%;
}
.mainimg {
  padding-top: 250px;
  width: 900px;
  height: 200px;
  float: left;
  margin-top: 10px;
  background-image: url("../img/06.jpg");
  background-size: cover;
  text-align: center;
}
h1 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
}
a {
  padding: 10px;
  height: 30px;
  width: 50px;
  background-color: #b2c752;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}
.imgtxt {
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}
.imgtxtsub {
  font-size: 17px;
  font-family: sans-serif;
  color: white;
}
.main {
  padding-top: 10px;
  width: 100%;
  float: left;
}
.imgsm {
float: left;
}
.imgbg {
  padding-left: 20px;
  float: left;
  width: 75%

}
.imgtxt1 {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}
.maingry {
  width: 100%;
  background-color: rgb(200,200,200);
  height: 330px;
  float: left;
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
}
.maingrysm {
  width: 20%;
  height: 100%;
  padding-top: 15px;
}
.duo {
  width: 45%;
  height: 100%;
  padding: 20px;
  float: left;
}
.duotxtrt {
  text-align: right;
  font-weight: bold;
}
.footer {
  width: 100%;
  background-image: url("../img/07.jpg");
  background-size: cover;
  height: 330px;
  float: left;
  margin-top: 7px;
  padding-top: 100px;
  text-align: center;
}
.footertxt {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
}
