body {
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfv2MFTyTIWhhVgtbsTlKIObrqob7kEUo--9LTDyjiOv2WSaCr9w);
}

div {
  display: flex;
  align-items : center;
  justify-content: center;
  height: 200px;
  width: 300px;

}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 120px;
  background-color: black;
  border: 2px solid red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
