#background {
    background-image: url("../img/wine-bg.jpg");
    width: 1350px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    line-height: 150px;
    text-align: center;
    color: white;
    background-blend-mode: multiply;
    background-color: grey;
}

.years {
    height: 300px;
    width: 750px;
    text-align: center;
    margin-top: 180px;
}

#top {
    display: flex;
    justify-content: space-between;
}

#wine p {
    font-size: 20px;
    width: 400px;
    height: 30px;
}

#wine {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.years h3 {
    color: lightgrey;
}

#background2 {
    background-image: url("../img/wine13.jpg");
    width: 1300px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-blend-mode: multiply;
    background-color: grey;
    padding: 50px;
}

nav {
    float: right;
}

#background h1 {
    font-size: 62px;
}

#background2 h2 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 14px;
}

#background2 {
    color: white;
    text-align: center;
    padding-top: 200px;
}

h4 {
    font-size: 18px;
}

#flex {
    display: flex;
    flex-direction: row;
}

#button {
    background-color: lightgreen;
    color: white;
    padding: 5px;
}
