.container{
  width:75%;
  margin:auto;
}

header{
  height:50px;
  padding:20px;
}

header p, a{
  font-size:30px;
}

header p{
  float:left;
}

header a{
  float:right;
  margin-top:30px;
  margin-bottom:30px;
  padding-right:10px;
}

.grey{
  background-color:grey;
  color:white;
  width:100%;
  height:400px;
  justify-content:center;
  display:flex;
  align-items:center;
  flex-direction:column;
  margin-bottom:20px;
}

.grey a{
  border:dashed;
}

.right{
  float:right;
}

.third{
  margin-bottom:20px;
}

.fourth{
  background-color:grey;
  color:white;
  width:100%;
  height:400px;
  justify-content:space-around;
  display:flex;
  align-items:flex-start;
  margin-bottom:20px;
  padding-top:10%;
  text-align:center;
}

.box{
  background-color:red;
  color:red;
  height:100px;
  width:100px;
}

.fifth{
  background-color:white;
  color:black;
  width:100%;
  height:400px;
  justify-content:space-around;
  display:flex;
  align-items:flex-start;
  margin-bottom:20px;
  padding-top:10%;
  text-align:center;

}

.biggerbox{
  background-color:red;
  color:red;
  height:230px;
  width:410px;
}

.sixth{
  text-align:center;
}

.last{
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  width:15%;
}
