#background {
  background-image: url("../img/wine-bg.jpg");
  width:1350px;
  height:450px;
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
  color: white;
  background-blend-mode: multiply;
  background-color: grey;

}
#wine {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#background2{
  background-image: url("../img/wine13.jpg");
  width:1350px;
  height:250px;
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0 auto;
  background-blend-mode: multiply;
  background-color:grey;
}
nav {
  float: right;
}
#background h1 {
  font-size: 62px;}
#background2 h2  { font-size: 30px;

}

}
#background p {
  font-size: 10px;
}

#background2 {
  color:white;
  text-align: center;
  padding-top: 200px;

}

h4 {
  font-size: 18px;
}

#flex {
  display: flex;
  flex-direction: row;
}
