body {
  font-family: 'Playfair Display', serif;
  color: #365978;
  background-color: #C2D652;
}
h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}
.article {
  font-size: 20px;
}
