* {
 margin: 0px;
 padding: 0px;
}

.s1 {
  width: 100%;
  height: 350px;
  background-image: url("../hike1.jpg");
  background size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  height: 58px;
  width: 100%;
  background-color: #74ccd1;
  border-bottom: 2px solid teal;
}

ul {
  display: flex;
  font-family:'Source Sans Pro', sans-serif;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  text-transform: uppercase;
  color: #444;
  padding-top: 16px;
}

.s2 {
  background-image: url("../hike2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 365px;
  width: 100%;
}

.s3 {
  margin-bottom: 1.5em;
  margin-left: 280px;
  margin-right: 280px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: left;
}

h1 {
  font-family:'Oswald', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 2.3em;
}

h3 {
  font-family:'Oswald', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
}

p {
  font-family:'Raleway', sans-serif;
}

footer {
  display: flex;
  font-family:'Raleway', sans-serif;
  margin-bottom: 3.5em;
  text-align: left;
  margin-left: 280px;
  padding-left:10px;
  margin-right: 280px;
}
