body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

  button {
  width: 200px;
  height: 100px;
  color: white;
  background-color: green;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin-top: 40%;
}

button:hover {
  background-color: blue;
}
