/*@media (max-width: 600px) {


}*/
body{
  font-size: 30px;
}

header{
  display: flex;
  font-weight: bold;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
  background-color: #2BCDC0;
  font-family: 'raleway', sans-serif;
}

header h1{
  color: white;
}

span{
  font-weight: bold;
  text-align: center;
}

main{
  width: 100%;
  height: auto%;
  background-color: black;
}

p{
  margin-top:10%;
}

  #title-box{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    margin-left: 2%;
    margin-right: 10%;
    align-content: center;
    text-align: center;
    font-family: 'raleway', sans-serif;
  }


  .left-title{
    display: flex;
    flex-direction: column;
    border-top: 20px solid #33A8DD;
    padding-top: 5%;
    margin-top: 5%;
    width: 100%;
    font-size: 30px;

  }

  /*.left-paragraph {
  border-top: 20px solid #33A8DD;
  width: 25%;
  padding-top: 10%;
  margin-left: 10%;
  flex-direction: column;
  }*/

  .middle-title{
    display: flex;
    flex-direction: column;
    border-top: 20px solid #33A8DD;
    padding-top: 5%;
    margin-top: 5%;
    width: 100%;
    font-size: 30px;

  }

  .right-title{
    display: flex;
    flex-direction: column;
    border-top: 20px solid #33A8DD;
    padding-top: 5%;
    margin-top: 5%;
    width: 100%;
    font-size: 30px;

  }


/*  .title-middle{
    display: flex;
    align-items: flex-start;
    font-size: 25px;
  }

  .middle-paragraph {
    border-top: 20px solid #F46731;
    width: 25%;
    padding-top: 10%;
  }

  .right-paragraph {
    border-top: 20px solid #2BCDC0;
    width: 25%;
    padding-top: 10%;

    }*/



/*.left-box {
    dsplay: flex;
    color: white;
    font-size: 15px;
    width: 33%;
    align-content: space-between;
    color: white;

  }*/
