main {
    box-sizing:box-model;
}
body {
    background-color:gray;
    margin:auto;
}
header {
    background-color:black;
    text-align:center;
    height:350px;
    color:gray;
    width:75%;
    margin:auto;
}
header > h1 {
    padding-top:100px;
    font-family:georgia;
    font-size:24pt;
}
header > p {
    font-size:24pt;
}
header > img {
    width:300px;
    border-radius:100px 20px;
    float:left;
    margin-top:-190px;
    margin-right:20px;
}
nav {
    background-color:white;
    width:200px;
    height:400px;
    font-size:15pt;
    margin-left:175px;
    margin-top:50px;
    text-align:center;
    line-height:40pt;
    box-sizing:border-box;
    border: 1px solid black;
}
nav > img {
    width:150px;
}
div {
    display:inline-block;
    background-color:lightblue;
    margin:auto;
    width:50%;
    margin-top:-400px;
    margin-left:400px;
    padding:30px;
}
div > h1 {
    text-align: center;
}

