body {
  font-family: 'Barlow Condensed', sans-serif;
  background-image: url(https://dncache-mauganscorp.netdna-ssl.com/thumbseg/1669/1669297-bigthumbnail.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center;
}

img { /* center #bikeClicker image */
  display: block;
  margin: auto;
}

.heading {
  text-align: center;
  color: white;
}

.buttons {
  margin-top: 5px;
}
