body {
    color: white;
    /*background-color: #222;*/
}

/*  STYLES FOR INDEX PAGE  */

h1 {
    /*font-family: 'Architects Daugher', cursive;*/
    font-size: 3em;
}
h4 {
    font-family: 'Slabo 27px', serif;
}
.main-image {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.inner-box {
    line-height: 3;
}
.green-button a {
    background-color: #91B005;
    width: 250px;
    text-align: center;
    padding: 20px;
    line-height: 4;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
}
.green-button a: hover {
    text-shadow: 2px 2px black;
}

/* STYLES FOR SERVICES PAGE */

.body_services {
  /*text-align: center;*/
  color: black;
}

li {
  margin-left: 20px;
  font-size: 1.2em;
}

.about_us {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/flowers.jpg) center no-repeat;
    /*height: 260px;
    width: 370px;*/
    /*padding: 10%;*/
    height: 400px;
    padding: 20px;
}
.contact_us {
    /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/pots.jpg) center no-repeat;*/
    background: #526303;
    /*height: 260px;
    width: 370px;
    margin-top: 10px;*/
    /*padding: 10%;*/
    height: 400px;
    padding: 20px;
}
.services {
    /*float: left;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sunflowers.jpg) bottom no-repeat;
    /*width: 750px;
    height: 530px;*/
    padding: 10%;
}

.margin_top {
  margin-top: 20px;
  margin-bottom: 20p
}
