body {
  background-color: gray;
}

#showroom {
  background-image: url('../img/showroom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
  text-align: center;
  padding-top: 200px;
  margin-top: 30px;
  width: 100%;
  height: 600px;
  color: white;
}

/*#guitars-text {
  background-color: black;
  color: white;
}*/

#acoustic-guitar {
  width: 100%;
}

#marshall {
  width: 100%;
  margin-top: 20px;
}

#left {
  text-align: center;
}

#orange {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#middle-left {
  text-align: center;
}

#knobs {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#middle-right {
  text-align: center;
}

#amp-room {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#right {
  text-align: center;
}

#accessories1 {
  width: 94%;
}

#accessories2 {
  width: 100%;
}

#slash-footer {
  background-image: url('../img/slash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  color: white;
  text-align: center;
}
