.bump {
    margin-bottom: 80px;
}

section {
    position: relative;
    margin: 0 auto;
    width: 95%;
}

.fox {
    height: 500px;
    z-index: -1;
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: darken;
}

.fox h6, h2 {
    position: relative;
    margin: 0 auto;
    color: white;
    vertical-align: middle;
}

.fox h2 {
    top: -10%;
    font-size: 4em;
}

.fox h6 {
    bottom: -6%;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 20px;
    font-weight: 100;
    font-style: italic;
}

#about {
    padding: 10% 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 75%;
}

.guy img {
    position: relative;
    height: 500px;
    background-position: top;
}

#about h5, h3, p {
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

#about h5 {
    font-weight: lighter;
    color: gray;
}

#about h6 {
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

#about p {
    font-size: .95em;
    width: 75%;
}

#testimonial {
    height: 500px;
    z-index: -1;
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: darken;
}

#testimonial h3, p {
    color: white;
    padding: 0;
    padding: 0 10%;
}

#testimonial h3 {
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
    padding-bottom: 70px;
}

#testimonial p {
    color: white;
}

.brews {
    text-align: center;
}

.product {
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

.product img {
    width: 200px;
}

.product>h4, p {
    color: black;
    margin: 0 auto;
    height: 60px;
}

.product h4 {
    font-size: 1.5em;
    font-family: cursive;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
}

.container {
    margin: 0 0;
    width: 98%;
}
