body, nav a {
	font-family: 'Roboto', 'Arial', sans-serif;
}

nav.navbar {
	margin-bottom: 0;
}

#brand {
	font-weight: bold;
}

h1 {
	font-size: 4em;
	font-weight: bold;
}

h2 {
	font-size: 2.5em;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	font-size: 1.25em;
	padding: 10px;
}

#home {
	font-weight: bold;
}

#home:hover {
	color: darkgray;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#hero {
	background-image: url('../img/platter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
  	background-blend-mode: multiply;
  	height: 700px;
  	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#hero button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: lightgreen;
	border: none;
}

#hero button:hover {
	background-color: green;
}

#hero button:hover > a {
	color: white;
}

p.date {
	font-size: .85em;
}

#ourFriends {
	background-image: url('../img/friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
  	background-blend-mode: multiply;
  	height: 700px;
  	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

#ourFriends > div > h2 {
	margin: 0px 40px;
}

#ourFriends > div > button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: lightgreen;
	border: none;
	display: inline;
	float: left;
	margin-right: 10px;
}

#ourFriends > div > button:hover {
	background-color: green;
}

#ourFriends > div > button:hover > a {
	color: white;
}

#ourFriends.jumbotron {
	margin-bottom: 0;
}