.timer {
  position: fixed;
  background: white;
  top: 9px;
  right: 9px;
  height: 25px;
  width: 100px;
  text-align: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.box {
  height: 100px;
  width: 95%;
  background: red;
  margin: 1px;
  transition: all .2s ease;
}

.box:nth-child(20n+1),
.box:nth-child(20n+3),
.box:nth-child(20n+5),
.box:nth-child(20n+7),
.box:nth-child(20n+9),
.box:nth-child(20n+12),
.box:nth-child(20n+14),
.box:nth-child(20n+16),
.box:nth-child(20n+18),
.box:nth-child(20n)
{
  background: blue;
}

.hideBox {
  visibility: hidden;
}

.hideGameBox {
  visibility: hidden;
}

.alertBox {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  margin-left:-70px;
  margin-top:-50px;
  height: 150px;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.fadeOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  100% { opacity: 0; }
  50% { opacity: 1; }
  0% {opacity: 1}
}

@keyframes fadeinout {
  100% { opacity: 0; }
  50% { opacity: 1; }
  0% {opacity: 1}
}
