/* Instructions styling */
html{
  background-color: #8FBC8F;
  font-family: Georgia, serif;
  font-size: 19px;
  text-align: center;
  color: white;
}
/* Timer instyling */
#timer{
  color: red;
}
/* Puzzle piece styoling */
#puzzle {
    background-color: #8FBC8F;
    height: 720px;
    width: 720px;
    margin: 22px auto;
    position: relative;
}
/* Board styling */
#board div {
    background: url("./images/sashi.png");
    height: 175px;
    line-height: 175px;
    position: absolute;
    text-align: center;
    width: 175px;
    box-shadow: 0 0 30px white;
}
