
body {
    font-family: 'Arial', sans-serif;
}

header, main, footer {
    width: 1024px;
    margin: auto;
}

header {
    background-color:royalblue;
    padding: 10px;
}

header, h1 {
    font-weight: 100;
    font-size: 30px;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    color:lightblue;
}
h2 {
    font-size: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 24px;
    font-weight: 200;
}

 p {
    font-size: 12px;
    color: #555;
}

aside {
    background-color: #f3f3f3;
    padding: 15px;
}

footer {
    padding: 15px;
}

