.pics {
  display: block;
  margin: 0 auto;
  -webkit-user-select: none;
}

#about {
  font-family: open sans condensed;
  height: 400px;
  margin-top: 120px;
}

#about h2 {
  text-align: left;
  font-style: bold;
  font-size: 22px;
  margin-left: 5px;
}

#about p {
  font-size: 19px;
  text-align: left;
  line-height: 27px;
  margin-bottom: 50px;
  padding-right: 22px;
}

::selection {
    color: white;
    background: #377037;
}

button {
  width: 220px;
  height: 40px;
  border-style: none;
  color: white;
  background-color: #377037;
}


@media (max-width: 768px) {

.pics {
  display: inline;
}

#about {
  height: 500px;
  margin-top: 80px;
}

#about h2 {
  display: inline;
  text-align: left;
  font-style: bold;
  font-size: 22px;
  margin-left: 26px;
}

#about p {
  font-size: 19px;
  text-align: left;
  width: 60%;
  margin-bottom: 50px;
  margin-left: 130px;
  padding-right: 22px;
  line-height: 27px;
}


}
