body {
  background-color: #3AB371;
}

h1 {
  color: white;
  font-weight: bolder;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  color: grey;
  text-decoration: none;
}

.tutorial {
  color: grey;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.top {
  display: flex;
  flex-direction: row;
}

.top-left {
  margin-right: 20px;
  background-color: white;
}

.top-left-img {
  width: 100%;
}

.top-right {
  background-color: white;
}

.top-right-img {
  width: 100%;
}

.middle {
  padding: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.bottom-left {
  background-color: white;
  width: 25%;
  margin-right: 1%;
}

.bottom-left-img {
  width: 100%;
}

.bottom-middle {
  background-color: white;
  width: 26%;
}

.bottom-middle-img {
  width: 100%;
}

.bottom-right {
  background-color: white;
  width: 52%;
  margin-left: 21px;
}
