


/*top*/


header{
  height: 450px;
  width: 850px;
  background-image: url("../nasaimg/nasa-background.jpg");
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{

}



/*body*/

.box{
  width: 270px;
  padding-left: 20px;
  vertical-align: top;
  box-sizing: border-box;

}



.button_1{
  background: #ffffff;
  color: black;
  font-size: 10px;
}

#boxes{
  display: flex;
  justify-content: space-between;
  height: 324px;
  width: 850px;
  background-color: lightgrey;
  margin-top: 5px;

}
