
body {
  background-color: honeydew;
  font-family: Verdana;
}

header h1 {
  font-size: 48px;
  color: orange;
  padding: 10px;
  margin: 0 20px;
}

header p {
  padding: 25px;
  margin: 0px;
}

header nav {
  display: inline-flex;
  align-items: right;
  padding-right: 40px;
  font-size: 18px;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 20px;
}

.col-sm-4 {
  background-color: white;
  height: 350px;
  border: 2px solid;
}

.info-container {
  display: flex;
  margin: 25px;
  width: auto;
  text-align: justify;
}

.info-container img {
  max-width: 95%;
}

.contact-container {
  margin: 0 25px;
  text-align: center;
}
