.flex-container {
  background-image: url("img/overhead.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 25px;
  width: auto;
}

.flex-container h1 {

  text-align: center;
  font-size: 48px;
  color: orange;
}

.flex-container nav {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  margin: 25px;

}
body {
  background-color: #9BA17B;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  text-align: center;
  color: white;
  font-size: 12px;
}
