/* Global Styling */
body{
  background-color: #6c757d;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
img {
    vertical-align: unset;
    max-height: 100%;
  }
.fa, .fab, .fal, .far, .fas {
  padding-right: 5px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
/* End Global Styling */

/* Header Styling */
.header-branding {
  font-size: 2em;
}
/* End Header Styling */

/* Nav Styling */
.navbar {
  background-color: #000000 !important;
  padding: 0;
  border-bottom: 1px solid white;
}
.navbar-nav {
  display: flex !important;
  justify-content: space-around !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255,255,255);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #018D80;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #018D80;
}
nav.navbar ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
nav.navbar ul li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}
.gummy-bears {
  max-height: 18px;
  bottom: -4px;
  position: relative;
}
#bear-1 {
  fill: #FF0000;
}
#bear-2 {
  fill: #1A01F6;
}
#bear-3 {
  fill: #14B519;
}
#bear-4 {
  fill: #7F0472;
}
#bear-5 {
  fill: #F1F90B;
}
/* End Nav Styling */

/* Body Styling */
section {
  background-image: url('../img/gummy-bear-flavors.gif');
  background-size: cover;
  padding: 2em 0;
}
.card-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: center;
}
.main-text .card {
  min-height: 445px;
}
.main-text .card-block {
  padding: 2em;
}
.main-text .card-block p {
  text-indent: 50px;
}
/* End Body Styling */

/* Footer Styling */
footer {
    height: 50px;
    position: relative;
  }
footer p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Footer Styling */

/* Tablet Styling */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}
/* End Tablet Styling */

/* Mobile Styling */
@media (max-width: 768px) {
  .navbar-toggler {
    background-color: #fff;
    margin: 10px;
  }
  .navbar-collapse {
    margin-left: 10px;
  }
}
/* End Mobile Styling */
