body{
    margin: 0;
    background-color: white;
    font-family: "semplicitapro", sans-serif;
}
header{
    height: 90px;
}
#logo{
    float: left;
}
menu{
    float:right;
    margin:35px 400px 0px 0px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
a{
    color:#808080;
    padding: 5px;
    text-decoration: none;
}
main{
  font-weight: lighter;
  line-height: 170%;
  font-size: 19px;
  letter-spacing: 2px;
}
#Home{
  background-color: rgb(38,141,199);
  padding: 50px;
  height:600px;
}
.container-img{
  float: left;
  margin-top: 90px;
}
.container-text {
font-weight: lighter;
line-height: 170%;
font-size: 19px;
letter-spacing: 2px;
color:white;
display: block;
float: left;
width: 500px;
padding-left: 20px;
margin-top: 90px;
margin-left: 20px;
}
.subheading{
  font-size: 30px;
  font-weight:normal;
  margin: 120px 0px 15px 0px;
}
#Company{
  background-color: white;
  height:300px;
  padding: 50px;
}
.graph{
margin:0px 0px 50px 625px;
}

.graph-text{
  text-align: center;
}
#Services{
  background-color:#bfbfbf;
  height: 170px;
  padding: 50px 165px;
}
.service-img{
  display: block;
  margin:5px 80px;
  float: left;
  width: 100px;
  height:100px;
  /*border: 1px solid red;*/
}

.service-tag{
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  color: white;
  text-align: center;
  float: left;
  /*border: 1px solid blue;*/
}

footer{
  background-color: #e6e6e6	;
  height:600px;
  padding-left: 125px;
}
.footer-services{
font-weight: lighter;
line-height: 170%;
font-size: 16px;
letter-spacing: 1px;
color:#999999;
display: block;
float: left;
width: 250px;
height:400px;
padding: 20px 0px 0px 20px;
margin-top: 90px;
margin-left: 30px;
/*border: 1px solid green;*/
}
.footer-header{
  font-size: 20px;
  font-weight: bold;
  color:black;
}
