body{
    margin: 0;
    background-color: white;
    font-family: "Arial", sans-serif;
}
header{
    height: 90px;
}
#logo{
    float: left;
}
menu{
    float:right;
    margin:35px 400px 0px 0px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
a{
    color:#808080;
    padding: 5px;
    text-decoration: none;
}
#Company {
  background-color: rgb(38,141,199);
  padding: 50px;
  height:580px;
  border: 1px solid yellow;
}
.container-img{
  float: left;
  margin: 10px;
}
.container-text{
  display: block;
  float: right;
  padding-left: 10px;
  border: 1px solid red;
}
