.navbar{
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}
/*hero image section*/

.vineyard {
  position: relative;
  filter:brightness(60%);
}

.logo {
  position:absolute;
  top:20%;
  right:30%;
}
#hero h4 {
  position: absolute;
  text-align: center;
  top:70%;
  right:33%;
  color:white;
  font-family: Georgia;
  font-size: 1.5em;
  font-style: italic;
}

#hero p{
  position: absolute;
  top:80%;
  right:40%;
  text-align: center;
  color:white;
  font-family: sans-serif;
}

/*about section*/

.row {
  display: block;

}

.col-md-pull-6{
  float:left;

}
#text{
  display:block;
  padding-top:80px !important;
  text-align: center;

}
.sign{
  height:100px;
  width:200px;
}

#text h4{
  font-size: 24px;
  color:gray;
  text-align: center;
  font-family:Georgia;
  padding-top: 20px;
  font-style: italic;
}

#text h2{
  text-align: center;
  font-size: 2.5em;
  font-style: italic;
  font-family:Georgia;

}
#sweeper {
  display: block;
}
#text p{
  text-align: center;
  font-size: 1.5em;
  font-family: Georgia;
  color:gray;
}


/*Testimonial section*/
#wine{
text-align: center;

}

.vines{
  position: relative;
  filter: brightness(60%);

}

#testimonial h1{
  position:absolute;
  text-align: center;
  top: 30%;
  right:13%;
  font-size: 3em;
  font-style: italic;
  font-family: serif;
  color: white;
  padding:100px;
}

#testimonial p{
  position:absolute;
  text-align: center;
  top:50%;
  right:10%;
  color:white;
  font-family: serif;
  font-size: 20px;

}

/*Wine seclection section*/


.col-md-4 img{
  display:block;
  height:500px !important;
  margin:0 auto;
  padding-top: 15px;
}

.col-md-4 h3{
  text-align: center !important;
}
.col-md-4 h5{
  text-align: center!important;
}

.shop-btn {
  border: 0;
  background-color: #91a05c;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

/*responsive section-tablet and phone*/

@media (max-width: 767px){


.logo{
  position:absolute;
  right:30%;
  top:20%;
  max-width: 200px;
}

#hero h4 {
  position: absolute;
  text-align: center;
  top:50%;
  right:15%;
  color:white;
  font-family: Georgia;
  font-size: 1.5em;
  font-style: italic;
}
#hero p{
  position: absolute;
  top:60%;
  right:36%;
  text-align: center;
  color:white;
  font-family: sans-serif;
}

.vines{
  position: relative;
  filter: brightness(60%);
  max-width: 100%;

}

#testimonial h1{
  position:absolute;
  text-align: center;
  top: 5%;
  right:13%;
  font-size: 2em;
  font-style: italic;
  font-family: serif;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 20px;

}

#testimonial p{
  position:absolute;
  text-align: center;
  top:70%;
  right:10%;
  color:white;
  font-family: serif;
  font-size:1em;
  margin-left: 30px;

}
#text{
  display:block;
  padding-top:80px !important;
  text-align: center;
  max-width: 100%;
  margin-left: 40px;

}

#sweeper {
  display: block;
  max-width: 100%;
}


}
