body {
    margin: 0 auto !important;
    font-family: georgia, serif;
}
/*main navigation*/
.navbar-brand img {
  display: inline;
    max-height: 50px;
    max-width: 150px;
}

.navbar-default {
    background: transparent !important;
    border: none !important;
    padding: -15px !important;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.navbar.nav-default {
    background: transparent;
}

/*top hero area*/
#hero {
    display: flex;

    align-content: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
background-size: cover !important;
    background-position: center center;
    background-attachment: fixed !important;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wine-bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-repeat: no-repeat;
}
.author {
    font-family: "raleway", "helvetica neue", Helvetica, arial, sans-serif;
    color: white;
    padding-top: 20px;
}
#hero img {
    padding-top: 50px;
    opacity: .7;
}
/*about section*/
.quote {
    font-family: georgia;
    font-style: italic;
    color: white;
    font-weight: 300;
    line-height: 1.4;
    font-size: 21px
}

.est {
    text-align: center;
    padding-top: 100px!important;
}

.winemaker {
    height: 720px !important;
    width: 100% !important;
padding: -35px !important;

}
.wino{
  padding: 0 !important;
}


.signature {
    max-height: 125px;
    max-width: 130px;
    padding-bottom: 30px;
}



.centered p {
    font-family: georgia;
    font-size: 16px;
    color: #777;
    line-height: 40px;
    text-align: center;
}

.centered h4 {
    font-family: georgia;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
 /*testimonials section*/
#testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wine13.jpg);
    height: 100vh;
    width: 100vw;
    padding-top: -15 !important;
    margin-top: -15 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;

}


#testimonial h3 {
    font-family: georgia;
    font-style: italic;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: white;
}

#testimonial p {
    font-family: georgia;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    color: white;
}
/*shopping section*/
.wines img {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.wines h6 {
    font-family: georgia;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    padding: 20px;
    text-align: center;
}

.wines p {
    font-style: italic;
    margin-bottom: 40px;
    line-height: 20px;
    text-align: center;
    font-family: georgia;
    font-size: 16px;
    font-weight: 400;
}

.shopnow {
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(150, 155, 98);
    display: block;
    border: none;
    margin-bottom: 44px;
}

/*media queries*/@media (min-width: 400px) {
    .centered {
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media (min-width: 990px) {
    .centered {
        height: 100%;
        padding-bottom: 100px !important;
        padding-top: 100px;
    }
}
