header div {
  background-color: #212a37;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  color: white;
  font-weight: bold;
}

ul {
  margin-bottom: 0;
}

ul li {
  display: inline-block;
  padding-left: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

#first, #aboutMe {
  background-color: #d5d9dd;
  /*flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

#first img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

hr {
  border: 2px solid black;
  width: 40%;
}

#line {
  width: 25%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
}

#line p {
  font-size: 1.5rem;
}

h1 {
  font-weight: bold;
  color: #212a37;
}

h3 {
  color: #212a37;
  opacity: 0.8;
}

#portfolio {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

h2 {
  color: #212a37;
  font-weight: bold;
}

.images div {
  display: flex;
  justify-content: space-around;
}

.paragraph div {
  display: flex;
  justify-content: center;
}

#aboutMe .row p {
  width: 80%;
}
