body {
  font-family: "Georgia",serif;
  margin-bottom: 10%;
}

.mynav {
  font-family: "Open Sans",sans-serif;
  background-color: transparent;
  padding-right: 5%;
}

.mytoggle {
  margin-top: 2%;
}

.mybrand {
  font-size: 30px;
  text-transform: uppercase;
}

.mynavlinks {
  text-transform: uppercase;
}

#home {
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #888;
  background-image: url("../img/wine-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
}

#home img {
  margin: 4% auto 1%;
  opacity: 0.5;
  /*width: 25%;*/
  align: center;
}

#home span {
  font-size: 32px;
}

#home p {
  text-align: center;
  font-size: 30px;
  font-weight: 85;
  color: #fff;
  line-height: 150%;
  margin-bottom: 2%;
}

#home h2 {
  color: #fff;
  text-align: center;
}

.quote {
  font-style: italic;
  font-weight: 300;
}

#about {
  width: 100%;
}

.abouttext {
  padding: 5% 3% 0;
  text-align: center;
}

.abouttext h1 {
  font-size: 38px;
  font-weight: 500;
  margin-top: 5%;
}

.abouttext p {
  font-size: 20px;
  font-weight: 100;
}

.abouttext p:nth-child(3) {
  margin-top: 5%;
}

.signature {
  margin: 5% auto;
  width: 40%;
}

.powerwash {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.pour {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

#testimonial {
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #888;
  background-image: url("../img/wine13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.testimonialbox {
  color: #fff;
  margin: 15% auto 0;
  text-align: center;
  width: 100%;
}

.testimonialbox h2 {
  font-size: 54px;
  font-weight: 400;
}

.testimonialbox p {
  font-size: 26px;
  font-weight: 100;
  margin: 2% auto 0;
  width: 60%;
}

#product {
  width: 100%;
}

.productbox {
  text-align: center;
}

.productbox img {
  height: 450px;
  margin: 0 auto;
}

.productbox hr {
  margin-top: 0;
}

.productbox h1 {
  font-size: 28px;
  font-style: italic;
  padding-top: 5%;
}

.productbox p {
  padding-top: 5%;
}

.productbox a {
  background-color: #91a05c;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  padding: 4% 12%;
  text-decoration: none;
  text-transform: uppercase;
}

.productlink {
  margin: 10% 0 5%;
}

.socialicons {
  margin-top: 5%;
  text-align: center;
}

.socialicons a {
  margin: 0 2%;
}

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

@media (max-width: 767px) {
  #home img {
    margin: 20% auto 1%;
    width: 50%;
  }
  #home span {
  font-size: 24px;
  }
  #home p {
  font-size: 20px;
  margin: 8% auto;
  width: 80%;
  }

  .aboutbox {
    margin: 0 auto;
    width: 80%;
  }
  .abouttext h1 {
    font-size: 26px;
  }
  .abouttext p {
    font-size: 20px;
  }
  .testimonialbox {
    margin: 25% auto;
    width: 80%;
  }
  .testimonialbox h1 {
    font-size: 28px;
  }
  .testimonialbox p {
    font-size: 20px;
    margin-top: 10%;
  }

  .productbox {
    border-bottom: 2px solid #999;
    padding-top: 1%;
  }
  .productbox h1 {
    padding-top: 0;
  }
  .productbox p {
    padding-top: 0;
  }
  .productbox a {
    padding: 2% 6%;
  }
  .productlink {
    margin: 4% 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home img {
    margin: 12% auto 1%;
  }
  #home span {
    font-size: 32px;
  }
  #home p {
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
  }
  .aboutbox {
    margin: 0 auto;
    width: 80%;
  }
  .testimonialbox {
    margin: 23% auto 0;
    width: 80%;
  }
  .testimonialbox h1 {
    font-size: 32px;
  }
  .testimonialbox p {
    font-size: 24px;
  }
  .productbox {
    border-bottom: 2px solid #999;
    padding-top: 1%;
  }
  .productbox h1 {
    padding-top: 0;
  }
  .productbox p {
    padding-top: 0;
  }
  .productbox a {
    padding: 2% 6%;
  }
  .productlink {
    margin: 4% 0;
  }
}
