header {
  background-image: url("../img/wine-bg.jpg");
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  background-color: rgba(0,0,0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Open Sans";
  max-width: 100%;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

.section-three {
  background-image: url("../img/wine13.jpg");
}

.section-four {
  background-image: url("../img/wine12.jpg");
}

.square-img {
  background-position: center;
  background-size: cover;
  background-image: url("../img/wine16.jpg");
  padding: 0;
  margin: 0;
}

.half-view {
  height: 60vh;
  max-height: 640px;
}

footer {
  background-color: #292929;
}
