/* fixed navbar at top---------------- */

.navbar {
  margin-bottom: 0;
  font-family: 'Raleway', 'Helvetica';
  text-transform: uppercase;
  position: relative;
  min-height: 50px;
}

.navbar-default {
  background-color: #f8f8f8;
}

/* HERO section picking grapes img---- */

#hero {
  background-image: url("../img/wine-bg.jpg");
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.col-xs-12 {
  display: flex;
  flex-direction: column;
}

#quote {
  font-family: 'Georgia';
  font-size: 21px;
  font-style: italic;
  text-align: center;
}

#author {
  font-family: 'Helvetica', serif;
  text-align: center;
  font-size: 18px;
  padding: 50px 50px 50px 50px;
}

/* ABOUT page goes here--------------*/

#about {
  text-align: center;
  font-family: 'Georgia', serif;
  font-style: italic;
}

#est {
  padding-top: 150px;
  font-family: 'Georgia';
  font-size: 16px;
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
}

#signature {
  width: 50%;
  height: 50%;
  display: flex;
  align-self: center;
}

/* TESTIMONIAL section  goes here----*/

#testimonial {
  background-image:url("../img/wine13.jpg");
  width: 100%;
  height: 800px;
  text-align: center;
  color: white;
  font-family: 'Georgia';
  padding-top: 275px;
}

h2 {
  font-size: 21px;
}

p {
  font-size: 16px;
}

/* WINE SELECTION goes here ------*/

#wine {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  text-align: center;
  width: 75%;
  height: 400px;
  font-family: 'Georgia';
  font-style: italic;
}

.shop-btn {
  background-color: #91a05c;
  padding: 10px 30px;
  color: white;

}
