#hero {
  background-image: url("../img/wine-bg.jpg");
  background-repeat: no-repeat;
  width:100%;
  display: flex;
  justify-content: center;
}

#quote {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'Times New Roman';
  color: white;
}

#author {
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman';
  color: white;
}

#about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.container-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Times New Roman';
  color: #767b80;
}

.container-two {
  width: 100%;
}

#testimonial {
  background-image: url("../img/wine13.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: 'Times New Roman';
  width: 100%;
  height: 800px;
}

.container {
  padding-bottom: 100px;
}

#wine {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.shop-btn {
  background-color: #91a05c;
  font-family: 'Raleway', 'Helvetica';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color:white;
  padding: 10px 30px;
}
