div {
  width: 80%;
  background-color: #233461;
  text-align: center;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  line-height: 14.5px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 50%;
}
