div {
  width: 80%;
  background-color: rgb(35, 52, 97);
  margin: auto;
}
h1 {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
p {
  line-height: 14.5px;
}
a {
  text-decoration: none;
  font-weight:bold;
}
img {
  resize: 50%;
}
