div{
  width: 80%;
  background-color: #355297;
  margin: auto;
}

h1{
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

p{
  line-height: 14.5px;
}

a{
  text-decoration: none;
  font-weight: bold;
}

img{
    resize: 50%;
}
