body {
   font-family: Arial;
}
body p {
   font-size: 9pt;
}

header {
   background-color: #0066FF;
   width: 100%;
   height: 140px;
}

h1 {
   font-size: 25pt;
   color: white;
   padding-left: 5px;
   padding-top: 50px;
}

a  {
   color: white;
   padding-left: 8px;
}

.intelcore > h1 {
   color: black;
   font-size: 12pt;
   padding-top: 5px;
}

.rwc h1  {
   font-size: 10pt;
   color: black;
   margin-top: 45px;
}

.rwc p {
   margin-left: 5px;
   margin-right: 500px;
}

div.icsupport h1  {
   color: black;
   font-size: 12pt;
}

div.icsupport {
   background-color: #F8F8F8;
   margin-top: 195px;
   padding-bottom: 5px;
}

div.icsupport a  {
   color: blue;
}

div.overview h1 {
   color: black;
   font-size: 12pt;
   margin-top: 1px;
}

div.img2  {
   margin-left: 25.5%;
}

div.img2 h1 {
   font-size: 12pt;
   color: black;
}

.aotf img {
   align: left;
}
