<<<<<<< HEAD
body {
  font-family: clear sans-serif;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #0171C5;
  width: auto;
  height: 200px;
  color: white;
}
a, a:active, a:visited {
  color: white;
}
a:hover {
  color: #d24dff;
}
header h1 {
  padding-top: 70px;
}
header nav {
  padding-left: 15px;
  padding-top: 40px
}

table td {
  width: auto;
}

h3, h4, p, h2, section, header nav, header h1{
  padding-left: 15px;
}
section {
  background-color: #F3F3F3;
  padding: 15px;
}
=======

>>>>>>> refs/remotes/AustinCodingAcademy/gh-pages
