/* CSS Reset */

body, h1 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  width: 80%;
}
header {
  background-color: blue;
  color: white;
  padding: 10px;
}
header h1 {
  padding: 5px;
}
nav a {
  color: white;
}
#core h3 {
  text-transform: capitalize;
}
table, div {
  border-collapse: collapse;
}
#mid {
  clear: both;
  background-color: #CCC;
  padding: 5px;

}
