
body {
  font-family: sans-serif;
  background: #fff;
}

/*
** Header Styles
*/

header {
  display: flex;
  flex-flow: column;
  height: 103px;
  color: white;
  background: #blue;
  font-weight: normal;
}
header > h1, header > nav {
  margin-left: 5px;
}
header > nav > a {
  margin-right: 10px;
  color: white;
}

/*
** Section and Article Styles
*/
#container1, #container2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#container2 > div {
  margin-left: 20px;
}

#customer-support {
  background: #F3F3F3;
}
#customer-support > h3 {
  padding-top: 10px;
}
#customer-support > p {
  padding-bottom: 10px;
}
#customer-support >  h3, #customer-support > p {
  margin-left: 10px;
}
