body{
  margin: auto;
  width: 80%;
  font-family: tahoma,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
}
header{
  background-color: #0071c5;
  color:white;
  }
  header a{ color: white;}

  div.Csupport{
    background-color: lightgrey;
        padding-top: 3px;
        margin: -1px;

  }

h1,h2,h3{
    font-weight: normal;
}

table{
      margin-bottom: -19px;
}
