body {
  background-color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
}

.attributes {
  vertical-align: middle;

}


.navbar {
 position: fixed;
  opacity: .5;
  border: 2px solid gray;
  background-color: black;
}

.navbar-brand {
  font-family: 'Special Elite', cursive;
}

.navbarli {
  margin: 0 20px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.leadin {
  text-align: center;
  position: relative;
  padding: 0px;
  margin-bottom: 60px;
}

.frontul {
  text-align: center;
  padding-left: 0;
  margin-top: 50px;
}

.animated {
  margin-top: 5vh;
  text-align: center;
}

#map {
  height: 400px;
  width: 400px;
}



/* Contact.html */
h1 {
  text-align: center;
  padding-bottom: 25px;
}

h2 {
  margin-top: 10px;
}

label {
  font-size: 24px;
  min-width: 125px;
  text-align: center;
}

textarea {
  width: 100%;
}

.inputbox6 {
  width: 30vw;
}

.subjectbox {
  width: 100%;
}

.carousel-inner{
  min-height: 85vh;
}

.submitform {
  font-size: 24px;
  position: fixed;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: #33CC00;
  color: lightgray;
  margin-top: 7px;
}

/*Portfolio css*/
.porth1 {
  text-align: center;
}

.modal-dialog {
 margin: 0;
}

.modal-content {
  width: 90vw;
  padding: 0;
  margin: 5vw;;
}

.modal-title {
  text-align: center;
  padding-bottom: 25px;
}

.img1 {
  background-image: url(../img/DSCF5677.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 85vh;
}

.img2 {
  background-image: url(../img/DSCF6127.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 85vh;
}

.img3 {
  background-image: url(../img/DSCF6408.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 85vh;
}

@media ( max-width: 750px ) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
