* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}
body {
  background-image: url(".././img/farm-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background:rgba(0,0,0,0.5);
  border-bottom: 2px double black;
  color: white;
  height: 80px;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
header img {
  width: 100px;
  height: 70px;
}
header h1 {
  font-size: 60px;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftContainer {
  width: 400px;
  margin-left: 10px;
}
.instructions {
  text-align: center;
  border: 3px solid black;
  background:rgba(255,255,255,0.5);
  border-radius: 5px;
  margin-bottom: 50px;
}
.instructions p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
.instructions button {
  margin: 5px;
  padding: 10px;
}
.rightContainer {
  background:rgba(255,255,255,0.5);
  border: 3px solid black;
  height: 60px;
  text-align: center;
}
.bottomContainer {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
.pupper img {
    width: 150px;
}
.pupper > img:hover {
    transform: scale(1.5);
}
