body {
  background-image: url("./migas_wordpress.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:#C2DEF4;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}

.topnav {
  background-color: #C2DEF4;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
}

.juices {
  padding-right: 850px;
}

.text {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.food {
  padding-left: 850px;
}

.menu {
  padding-right: 450px;
}

.bottomnav {
  background-color: #C2DEF4;
  padding-top: 5px;
  padding-bottom: 5px;
}