.container{
  height:1020px;
  width:600px;
  margin: 0 auto;
}

section{
  height:660px;
  background-image:url("../img/bg2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.first{
  height:171px;
  width:318px;
  padding-top:130px;
  padding-left:40px;
}

.first > h1{
  width:330px;
  font-size: 47px;
  color:white;
}

.first > p{
  width:130px;
  font-size:12px;
  color:white;
}

.second{
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  color:black;
  background-color:#F7F7F7;
}

article{
  width:530px;
  height:180px;
  padding-left:20px;
}

article > p{
  color:#27292b;
}
