h1, h2, p {
  font-family: 'Sumana', serif;
}

main {
  width: 100%;
  height: 45%;
  background: url(../img/bg2.jpg);
    /*add image into html and zoom in our research how to resize bgimg*/
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-left: 7%;
  /*changed from 15% to 10% for phone*/
  padding-top: 5%;
  text-align: left;
}

main > h1 {
  font-size: 200%;
  font-weight: bold;
  /*changed line height 150 to 140% for phone*/
  line-height: 110%;
}

main > p {
  /*changed font-size from 80% to 65%*/
  font-size: 55%;
  margin-top: 4%;
    /*added margin-right; changed for phone view*/
  margin-right: 70%;
  font-family: 'Open Sans', sans-serif;
  /*added line height*/
  line-height: 170%;
}

article {
  width: 100%;
  height: 30%;
  display: block;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
  background-color: #F7F7F7;
}

section {
  padding-left: 3%;
}

section > h2 {
  color: black;
  font-size: 90%;
  margin: 3% auto;
}

section > p {
  color: #71767A;
  font-size: 60%;
  line-height: 175%;
}
