#background {
    background-image: url("../img/bg.jpg");
    width: 1300px;
    height: 444px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

h2 {
    font-size: 46px;
    width: 350px;
    padding-top: 120px;
    padding-left: 30px;
}

h6 {
    font-size: 10px;
    width: 400px;
    padding-left: 30px;
}

#left {
    background-color: #EAEAEA;
    width: 600px;
    height: 225px;
}

#right {
    background-color: #EAEAEA;
    width: 600px;
    height: 225px;
}

#flex{
  display: flex;
  flex-direction: row;
  color: grey;
}
h3 {
  padding: 15px;
}

p {
  padding: 18px;
}


@media (max-width: 640px) {
  #background {
      background-image: url("../img/bg2.jpg");
      width: 600px;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
  }

  #flex{
    display: flex;
    flex-direction: column;
  }

  h6 {
    height: 200px;
    width: 200px;
  }


}
