CSS
body{
 max-width: 100%;
 margin: 0 auto;
}

main{
 max-width:80%;
 margin:0 auto;

}

#backgroundpic{
 background-image: url('../img/bg.jpg');
 background-blend-mode: multiply;
 background-repeat: no-repeat;
 background-size: cover;
 height: 475px;
 width:100%;
 padding-left: 20px;
 margin-top: 20px;

}
h1{ font-size: 34px;
 width:60%;

}



#pictext{
 padding-top: 100px;
 color:white;
 width:40%;
 margin-left: 50px;
}
#left{
 width:430px;
 height:150px;
 float:left;
 background-color: #cacecd;
 padding-right: 20px;
}
#right{
 width:420px;
 height: 150px;
 background-color: #cacecd;
 float:left;
 padding-left: 20px;
}
h3{
 font-size: 20px;
}
#textleft{
 padding-left: 50px;
 font-size: 10px;
}
#textright{
 padding-left: 20px;
 font-size: 10px;
}






@media (max-width:640px)
