body {
  width: 1173px;
  margin: 0 auto;
}

.navbar {
  background-color: #fff;
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

.company {
  font-family: 'Yesteryear', cursive;
  font-size: 30px;
  color: #000;
  font-weight: lighter;
}

.home {
  border-bottom: 2px solid yellow;
}

.first {
  margin-top: 50px;
}

.yellow {
  background-color: yellow;
  width: 575px;
  height: 590px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.hero {
  width: 450px;
  font-size: 40px;
  line-height: 60px;
}

.yellow > p {
  width: 450px;
  font-size: 20px;
}

.pic {
  width: 100%;
}

.pictext {
  visibility: hidden;
}

.textbottomh {
  width: 100%;
  font-size: 30px;
  margin-top: 70px;
}

.textbottomp {
  font-size: 16px;
}

.bottom {
  margin-top: 20px;
}

.second {
  margin-top: 30px;
}

.gray {
  background-color: gray;
  width: 575px;
  height: 590px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.gray > p {
  width: 450px;
  font-size: 20px;
}

.animated:hover .pictext {
  transform: translateX(100px);
  transform: translateY(50px);
  position: absolute;
  top: 150px;
  font-size: 14px;
  width: 100%;
  background-color: white;
  padding: 30px;
  visibility: visible;
}
