body {
  font-family: 'Roboto', sans-serif;

}

.one {
background-color: #f4ed48;
}
.four {
  background-color: #eeeeee;
}
 .eight {
   background-color: #eeeeee;

 }
.ten {
  background-color: #eeeeee;
}
.ten-hide {
  background-color: #eeeeee;

}
