.yellowbox {
  height: 500px;
  background-color: yellow;
  color: inherit;
}

.verticalrow {
  height: 500px;
  background-color: gray;
  color: inherit;
}

.box1 {
  height: 240px;
  background-color: yellow;
  color: inherit;
}

.box2 {
  height: 240px;
  background-color: yellow;
  color: inherit;
  transform: translateY(8%);
}

.box3 {
  height: 240px;
  background-color: yellow;
  color: inherit;
}

.box4 {
  height: 240px;
  background-color: yellow;
  color: inherit;
  transform: translateY(8%);
}
