#wheel {
    width:150px;
    height:150px;
    background-color: brown;
    border-radius:150px;
  }
  
  img {
    transition: all 3s;
    transition-timing-function: linear;
  }
  
  #currentTotal {
    width:150px;
    height:50px;
    border:1px solid black;
    text-align: center;
    font-size: 48px;
  }
  
  .button {
    width:150px;
    height:20px;
    border:1px solid black;
    border-radius:25px;
    text-align: center;
    cursor:pointer;
  }