/*This css formats the "Craig's Web Projects" Title*/
/*Used cssWarp to create http://csswarp.eleqtriq.com/*/

#warped {position: relative; display: block; width:931px; height:562px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'Rock Salt';font-size:38px;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(-5.26rad);-webkit-transform: rotate(-5.26rad);-o-transform:
rotate(-5.26rad);-ms-transform: rotate(-5.26rad); transform: rotate(-5.26rad);
width: 34px; height: 24px; left: 44.61px; top: 98px;}

#warped .w1 {-moz-transform: rotate(-5.48rad);-webkit-transform: rotate(-5.48rad);-o-transform:
rotate(-5.48rad);-ms-transform: rotate(-5.48rad); transform: rotate(-5.48rad);
width: 37px; height: 24px; left: 66.88px; top: 129.72px;}

#warped .w2 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
width: 27px; height: 24px; left: 101.38px; top: 151.02px;}

#warped .w3 {-moz-transform: rotate(-6.28rad);-webkit-transform: rotate(-6.28rad);-o-transform:
rotate(-6.28rad);-ms-transform: rotate(-6.28rad); transform: rotate(-6.28rad);
width: 12px; height: 24px; left: 133.11px; top: 156.09px;}

#warped .w4 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
width: 28px; height: 24px; left: 149.37px; top: 152.29px;}

#warped .w5 {-moz-transform: rotate(-6.76rad);-webkit-transform: rotate(-6.76rad);-o-transform:
rotate(-6.76rad);-ms-transform: rotate(-6.76rad); transform: rotate(-6.76rad);
width: 10px; height: 24px; left: 180.84px; top: 142.86px;}

#warped .w6 {-moz-transform: rotate(-6.84rad);-webkit-transform: rotate(-6.84rad);-o-transform:
rotate(-6.84rad);-ms-transform: rotate(-6.84rad); transform: rotate(-6.84rad);
width: 22px; height: 24px; left: 192.82px; top: 132.64px;}

#warped .w7 {-moz-transform: rotate(-6.85rad);-webkit-transform: rotate(-6.85rad);-o-transform:
rotate(-6.85rad);-ms-transform: rotate(-6.85rad); transform: rotate(-6.85rad);
width: 16px; height: 24px; left: 216.33px; top: 119.78px;}

#warped .w8 {-moz-transform: rotate(-6.67rad);-webkit-transform: rotate(-6.67rad);-o-transform:
rotate(-6.67rad);-ms-transform: rotate(-6.67rad); transform: rotate(-6.67rad);
width: 44px; height: 24px; left: 233.07px; top: 103.16px;}

#warped .w9 {-moz-transform: rotate(-5.8rad);-webkit-transform: rotate(-5.8rad);-o-transform:
rotate(-5.8rad);-ms-transform: rotate(-5.8rad); transform: rotate(-5.8rad);
width: 22px; height: 24px; left: 280.56px; top: 102.59px;}

#warped .w10 {-moz-transform: rotate(-5.25rad);-webkit-transform: rotate(-5.25rad);-o-transform:
rotate(-5.25rad);-ms-transform: rotate(-5.25rad); transform: rotate(-5.25rad);
width: 28px; height: 24px; left: 298.21px; top: 124.49px;}

#warped .w11 {-moz-transform: rotate(-5.14rad);-webkit-transform: rotate(-5.14rad);-o-transform:
rotate(-5.14rad);-ms-transform: rotate(-5.14rad); transform: rotate(-5.14rad);
width: 16px; height: 24px; left: 315.57px; top: 150.72px;}

#warped .w12 {-moz-transform: rotate(-5.62rad);-webkit-transform: rotate(-5.62rad);-o-transform:
rotate(-5.62rad);-ms-transform: rotate(-5.62rad); transform: rotate(-5.62rad);
width: 34px; height: 24px; left: 324.28px; top: 174.39px;}

#warped .w13 {-moz-transform: rotate(-6.25rad);-webkit-transform: rotate(-6.25rad);-o-transform:
rotate(-6.25rad);-ms-transform: rotate(-6.25rad); transform: rotate(-6.25rad);
width: 37px; height: 24px; left: 360.75px; top: 186.82px;}

#warped .w14 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
width: 26px; height: 24px; left: 402.74px; top: 182.9px;}

#warped .w15 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
width: 25px; height: 24px; left: 432.51px; top: 175.04px;}

#warped .w16 {-moz-transform: rotate(-6.63rad);-webkit-transform: rotate(-6.63rad);-o-transform:
rotate(-6.63rad);-ms-transform: rotate(-6.63rad); transform: rotate(-6.63rad);
width: 22px; height: 24px; left: 460.58px; top: 166.09px;}

#warped .w17 {-moz-transform: rotate(-6.64rad);-webkit-transform: rotate(-6.64rad);-o-transform:
rotate(-6.64rad);-ms-transform: rotate(-6.64rad); transform: rotate(-6.64rad);
width: 28px; height: 24px; left: 485.89px; top: 155.83px;}

#warped .w18 {-moz-transform: rotate(-6.6rad);-webkit-transform: rotate(-6.6rad);-o-transform:
rotate(-6.6rad);-ms-transform: rotate(-6.6rad); transform: rotate(-6.6rad);
width: 27px; height: 24px; left: 517.21px; top: 145.11px;}

#warped .w19 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
width: 22px; height: 24px; left: 548.31px; top: 137.18px;}
