header {
  background-color: black;
  height: 80px;
  width: 100%;
  color: white;
  font: 40px "Tangerine", italic;
  text-align: center;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}
main {
  background-image: url(../img/BlueMorpho.jpg);
  background-size: cover;
  height: 900px;
}
.navbar{
  box-sizing: border-box;
  position: relative;
  top: 120px;
  float: left;
  border: 6px;
  border-color: none;
  border-radius: 6px;
  background-color: black;
  height: 70px;
  width: 80px;
  margin-left: 80px;
}
a:visited {
    color: royalblue;
}
