header {
  background-color: black;
  height: 80px;
  width: 100%;
  color: white;
  font: 40px "Tangerine", italic;
  margin-top: 30px;
  margin-right: 20px;
}
main {
  background: url("../img/BlueMorpho.jpg") cover;
  height: 700px;
  width: 100%;

}
.navbar{
  box-sizing: border-box;
  border: 6px;
  border-color: none;
  border-radius: 6px;
  font: 40px "Tangerine" italic;
  color: white;
  background-color: black;
  height: 100px;
  width: 200px;
  margin-left: 80px;
  position: relative;
  top: 120px;
  float: left;

}
.animals{
  text-decoration: none;
}
.nature {

}
.people {

}
.me {

}
