body{
  width: 1000px;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #5F4B8B;
}
.page{
  width: 980px;
  height: 82px;
  border: 0px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: white;
}
.top-of-page{
  width: 100%;
  height: 100%;
  border: 0px;
  border-color: white;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: white;
}
nav + h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  float: right;
  font-family: "open sans condensed", sans-serif;
  color: black;
}
nav li{
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline;
  float: right;
  font-family: "open sans condensed", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}
.top-of-page>h1{
  border: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: inline;
  float: left;
  font-family: "open sans condensed", sans-serif;
  font-size: 60px;
  color: black;
}
main{
  width: 100%;
  height: 786px;
}
.box1{
  width: 980px;
  height: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #d3c4e6;
}
/* end of title and navigation box check to see if you can take out anything extra */
.box2{
  width: 980px;
  height: 350px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #e2d8e2;
  float: right;
}
.box3{
  width: 50%;
  height: 350px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: right;
  position: relative;
}
img.align-center{
  display: block;
  position: absolute;
  bottom: 0px;
  left: 75px;
  border: 0px;
  margin: 0px auto;
}
/* this is the image of the bookcase*/

.text-block{
  position: absolute;
  bottom: 0px;
  left: 50px;
  height: 25%;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  margin: 5px;
  padding: 5px;
}
.overlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: background 0.5 ease;
}
.box3:hover .overlay2 {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.button2 {
  position: absolute;
  width: 500px;
  left: 0px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
.button2 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.box3:hover .button2 {
  opacity: 1;
/* end of new-arrivals*/
}
.box4{
  width: 50%;
  height: 350px;
  border: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #f7f7f7;
  float: left;
  position: relative;
}
img.align-center-left{
  width: 50%;
  display: block;
  position: absolute;
  bottom: 70px;
  left: 100px;
  border: 0px;
  margin: 0px auto;
}
/*this is the image of the hexagon side table*/

.text-block2{
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 25%;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  margin: 5px;
  padding: 5px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: background 0.5 ease;
}
.box4:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.button {
  position: absolute;
  width: 500px;
  left: 0px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.box4:hover .button {
  opacity: 1;
}
/*end of sale*/
/* end of the first row*/
.box5{
  width: 980px;
  height: 300px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  background-color: #e2d8e2;
  float: right;
}
/*box5 is the box holding the 3 imgs on the bottom row*/

.box6{
  width: 33%;
  height: 310px;
  position: absolute;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding left: 0px;
  background-color: #f7f7f7;
}
/*box6 is the box holding the couch picture*/

img.align-center-bottom{
  height: 265px;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0px;
  border: 0px;
  margin: 0px auto;
  padding: 5px;
}
/*couch picture*/

.text-block3{
  position: absolute;
  bottom: 0px;
  left: 10px;
  height: 30%;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  margin: 5px;
  padding: 5px;
}
/*couch price and description*/

.box7{
  width: 33%;
  height: 310px;
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding left: 0px;
  background-color: #f7f7f7;
  float:right;
}
/*box7 is the box holding the lounge chair*/

img.align-center-bottom2{
  height: 190px;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 60px;
  border: 0px;
  margin: 0px auto;
  padding: 5px;
}
/*lounge chair image*/

.box8{
  width: 33%;
  height: 310px;
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 50px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding left: 50px;
  background-color: #f7f7f7;
  float: right;
}
/*box8 is the box holding the cocktail table*/

img.align-center-bottom3{
  width: 75%;
  display: block;
  position: absolute;
  top: 0px;
  right: 50px;
  border: 0px;
  margin: 0px 0px 0px 50px;
  padding: 5px;
}
/*cocktail table image*/

.text-block4{
  position: absolute;
  bottom: 0px;
  right: 180px;
  height: 30%;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  margin: 5px;
  padding: 5px;
}
/*description of the lounge chair*/

.text-block5{
  position: absolute;
  right: 95px;
  bottom: 0px;
  width: 60%;
  background-color: #f7f7f7;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  margin: 0px auto;
  padding: 0px;
}
/*description of the cocktail table*/
.overlay3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: background 0.5 ease;
}
.box7:hover .overlay3 {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.button3 {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
.button3 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.box7:hover .button3 {
  opacity: 1;
}
