body{
  background-color: grey;
  background-image: url(../images/woodenbg.jpg);
  color: white;
  font-family: 'Raleway', sans-serif;
}


header{
  background-image: url(../images/header.jpg);
  box-shadow: 0.5em 0.5em 1.68em #775843;
  background-size: cover;
  width: 50em;
  margin-left: 12.5em;
  padding: 5em;
  margin-bottom: 0px;
}

header img{
  width: 20em;
}

nav{
  background-color: #222222;
  width:50em;
  width: 55em;
  margin-left: 12.5em;
  height: 2em;
  padding-top: 1em;
  padding-right: 5em;
  box-shadow: 0.5em 0.5em 1.68em #775843;
}

nav a{
  float: right;
  color: white;
  text-decoration: none;
  margin-left: 1em;

}
nav a:hover{
  color: #E6CF71;
}

main{
  background-color: #580200;
  width: 50em;
  height: inherit;
  margin-left: 12.5em;
  margin-top: 0em;
  padding: 2em 5em 2em 5em;
  box-shadow: 0.5em 0.5em 1.68em #775843;
}


h1{
  font-size: 4em;
  text-align: center;
}

h2{
font-size: 2.5em;
text-align: center;

}

.wineTastings{
  float: left;
  width: 25em;
}

.wineTastingimg{
  float:left;
  width:23em;
  margin-left: 2em;
  margin-top: 5em;
  margin-bottom: 1em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 2em #380000;
}


.comeVisit{
  border: 1px solid white;
}

#contactInfo{
  margin-left: 7em;
}

.contact{
  width: 18em;
  margin: 1em;
  float: left;

}

.buyWine{
  margin-top: 2em;
}

.wineLabel{
  width: 10em;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 2em #380000;
  float:left;
}

.wineDescription{
  width: 35em;
  float: left;
  margin-left: 3em;
  height: 13em;
}

footer{
background-color: #222222;
margin-left: 12.5em;
width: 55em;
padding-left: 5em;
box-shadow: 0.5em 0.5em 1.68em #775843;
}


#footerLogo{
  height: 3em;

}
