

.boxy {
  border: 5px solid white;
  padding: 10px;
}
header {
 height: 400px;
 float: none;
}
a {
  float: right;
  height: 90px;
  padding-right: 50px;
}

#container {
  width: 1420px;
  height: 1200px;
  margin: auto;
  background-color: #cccccc;
}
#image {
  width: 1390px;
  height:1200px;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
   font-size: 50px;
   text-align: center;
}

#menu {
  font-family: 'BenchNine', sans-serif;
  font-size: 225%;
  height: 40px;
  color: white;
}
body{
  background-image: url(japan.jpg);
  background-color: #cccccc;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 600%;
  text-align: center;
  text-shadow: 1px 1px;
  height: 80px;
  float: left;
}
h1:hover {
  transform: scale(1) translateX(100px)rotate(1080deg);
  transition: 2s;
}

h2 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 130%;
  height: 40px;
  float: none;
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
}

h2:hover {
  transform: translateY(300px);
  transition: 3s;
}

p {
   color: white;
   font-family: 'BenchNine', sans-serif;
   font-size: 125%;
   text-indent: 50px;
   letter-spacing: 2px;
   float: none;
   -ms-hyphens: auto;
}

p2 {
  color: white;
  font-family: 'BenchNine', sans-serif;
  font-size: 125%;
  letter-spacing: 2px;
}
p3 {
  color: white;
  font-family: 'BenchNine', sans-serif;
  font-size: 125%;
  letter-spacing: 2px;
}

footer {
  height: 65px;
  font-size: 100%;
  font-family: 'BenchNine', sans-serif;
  color: black;
}
#logo {
  height: 60px;
  width: 100px;
  float: right;
}
