body{
  background-image: url(../images/woodenbg.jpg);
}
header{
  background-image: url(../images/banner1.jpg);
  background-size: cover;
}
nav{
  background-color: #121212;
  width:100%;
  height:40px;
