body {
margin: 0;
}
h1,h2,h3,h4,h5{ font-family: 'Pangolin', cursive;
font-weight: xx-large;
text-align: center;
color:black;
}

.header {
  background-color: #3D524A;
  width:auto;
  Height:300px;
  margin: 0px;
  border-style: solid:30px;color: #3D524A;
  padding: 0px;

}

.logo{
    width: 28%;
    height: 100%;
    /* object-position: center; */
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 100px;
    margin-left: 212px;
}
.lightImg{
    width: 20%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 136px;
}
