/*.background{
  background-image: url("../lake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/
/*I decided this background was not quite right for the contact information page. I commented it out just in case I change my mind again.*/
body{
  background-color: #db7093;
}
.contact{
  font-size: 42px;
  font-weight: bolder;
  text-decoration: underline;
  color: white;
  text-align: center;
  /*margin-left: 35px;*/
  /*margin-top: 30px;*/
}
.tile{
  width: 530px;
  height: 530px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
