
  body {
  margin: 0;
}
h1{ font-family: 'Pangolin', cursive;
  font-size: xx-large;
  text-align: center;
}
h2,h3,h4{font-family: 'Pangolin', cursive;
  color:black;
  font-size: xx-large;
  text-align: center;
}
h5{font-family: 'Pangolin', cursive;
  color:black;
  font-size: x-large;
  }
h6{font-family: 'Pangolin', cursive;
    color:black;
    text-align: center;
  }


.header {
    background-color: #3D524A;
    width:auto;
    Height:435px;
    margin: 0px;
    border-style: solid:30px;color: #3D524A;
    padding: 0px;
  }

.topnav {
  display:flex;
  flex-direction: row;
  width:auto;
  height:50px;
  background-color: black;

}

/* Style the topnav links */
.topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px;
    margin-left: 120px;
    margin-right: 120px;
    text-decoration: none;

}

.topnav a:hover {
    background-color:none;
    color:#6597C9;
}

/* Create three unequal columns that floats next to each other */
/*.column {
    float: left;
    padding: 20px;
}*/

/* Left column */
.column.side {
    width: 25%;
    font-size: xx-large;
    margin-right: 50px;
    border-right: solid 4px; color:black;
    padding-right: 40px;
    background-color: #eee;
    float:left;


}

/* Middle column */
.column.middle {
  display;flex;
  width: 75%;
  background-color: white;
  margin-left: 100px;
}
.logoImg {
  margin: 0 auto;
  position:absolute;
  left:470px;
  right:470px;
}

.lightImg{
    margin-right: 111px;
    margin-top: 92px;
    padding-top: 3px;
    padding-right: 100px;
    padding-left: 8px;
    padding-bottom: 173px;;
}
.bodyParty{
  display:flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
}
#img {
    float: right;
    margin: 0 0 15px 15px;
  width:30%;height:30%;
}

p {
    font-family:Arial, Helvetica, sans-serif;
  }

p.quote {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
  }


p.small {
    font-variant: small-caps;
}

a:hover {
    color: red;
}

 /*.row:after {
    content: "";
    display: table;
    clear: both;er the columns
  }*/
