* {
  font-family: 'Open Sans Condensed', sans-serif;
}

nav {
  padding: 40px;
  width: 100%;
  height: auto;
  display: inline-block;

}

ul.navlinks {
  list-style: none;
  white-space: nowrap;
  margin: 0px 0px 0px 380px;
  display: inline-block !important;
  position: relative;
  bottom: 20px;
}

li {
  float: left;
  margin: 0px 20px 0px 0px;
}
.navlinks a {
  text-decoration: none;
  float: left;
  font-family: 'Open Sans', sans-serif !important; /*using important, a requirement from previous project*/
  color: black;
}

.navlinks a:hover {
  color: #c8b170;
}

.topbanner img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.about p {
  font-size: 30px;
  margin: 20px 100px;
}

.titlebar {
  background-color: #c8b170;
  width: 100%;
  height: auto;
  display: inline-block;
}

.titlebar h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 5px 0px 5px 110px;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.15);
}

h2 {
  font-size: 30px;
}


.gallery {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 50px 100px;
}

.about {
  float: left;
  margin: 50px 110px;
}

.about img {
  float: left;
  margin: 0px 50px 0px 0px;
}

.contact p {
  font-size: 30px;
  margin: 50px 110px;
}

a {
  text-decoration: none;
  color: #c8b170;
}

.dropcap1 {
  font-size:40px;
  font-family: 'Caslon', serif !important;
  border:1px solid #b69e59;
  width:auto;color:#b69e59;
  line-height:1.4em;
  min-width:1.5em;
  margin:-0.1em 5px -0.1em 0px;
  padding:0 12px 5px 12px;
}


.servicelist {
  margin: 50px 110px 5px 110px;
  font-size: 20px;
  border-top: solid 1px #ededed;
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
  padding: 0px 110px 0px 110px;
}

.servicelist div.bridal {
  float: left;
  margin: 0px 150px 0px 100px;
}

.servicelist table td {
  padding: 15px 50px 15px 0px;
  border-bottom: solid 1px #ededed;
}

.servicelist table td:nth-child(even) {
    font-weight: 600;
}

footer {
  color: #9b9b9b;
}
