

/* sets the basic parameters of the body section*/
body {
  background-color: #6E4622;
  color: aliceblue;
  margin-left: 125px;
  margin-right: 125px;
}

/* Defines the top navigation bar style*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: auto;
  background-color: #868861;
}

.title {
  margin-right: 20px;
  font-size: 300%;
  text-shadow: 15px 15px 30px #000000;
}


a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 105%;
  font-weight: bolder;
}

a:visited {
  color: white;
}

li {
  display: inline-flex;
  background-color: #DF7603;
  border-radius: 5px 15px;
  padding: 10px;
  margin-right: 5px;
  border: solid 1px #DFBC3C;
}
/* END of Navigation bar styling*/

/* Defines the description and about section style*/
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  margin-top: 15px;
}

.description {
  width: 600px;
}

.description h1, .description h2 {
  margin: 10px;
}

.description h2 {
  color: aliceblue;
}

.about {
  background-color: #9F7A43;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:600px;
}

#about_desc {
  width: 60%;
  height: auto;
  margin: 10px;
}

.about_pic {
  width: 50%;
  margin: 10px;
}
/* END of Description and About styling*/


/* Defines the main section containing pics and descriptions*/
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pic {
  background-color: #868861;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
  box-shadow: 15px 15px 30px #000000;
  -webkit-transition: -webkit-transform 5s;
  transition: 1s;
}

.right:hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(2.0);
}

.left:hover {
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%) rotate(360deg) scale(2.0);
}

.left_column, .right_column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
/* END of Main Section styling*/


/* Defines common styles across multiple elements*/
h1 {
  color: #DFBC3C;
}

h2 {
  margin-bottom: 0px;
  font-size: 175%;
  color: #DFBC3C;
}

p {
  width: 600px;
  height: 100px;
  font-size: 120%;
  margin-top: 5px;
}


/* this allows images to be automatically resized slighty
    smaller than the parent container */
img {
    max-width: 95%;
    max-height: 95%;
}
