* {
  margin: 0;
padding: 0;
}
body {
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1em;
  }
header {
  height: 120px;
  background: linear-gradient(to bottom, black, red);
  border-bottom: 5px solid black;
}
header h2 {
  text-indent: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
}
header p {
  text-indent: 1em each-line;
  padding-top: .5em;
}
span {
  position: relative;
  left: 100px;
    color: white;
}
 ul {
  height: 120px;
  list-style-type: none;
  float: right;
  text-align: justify;
  position: relative;
  top: -40px;
}
li {
  display: inline;
}
h1 {
  color: white;
  text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000,
  0px -18px 40px red;
  text-align: center;
  font-size: 5em;
  position: relative;
  left: 150px;
  font-family: 'Dancing Script', cursive;
}
/*LINKS CONTROL*/
/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: light blue;
}
/* selected link */
a:active {
    color: dark blue;
}
