/* CSS Document */
*{
  font-family: 'Montserrat', sans-serif;
}
/* #header,h1 styled the name of the company */
#header{
background-color: lightgrey;
width: 100%;
height: auto;
border-style: ridge;
border-color: lightgrey;
border-width: 5px;
position: relative;
margin:0 auto;
}
h1{
  font-size: 300%;
  text-transform: uppercase;
  text-align: center;
  color: blue;
  margin: auto;
}
/* #nav, li, and <a> is styling for links to
   different pages of site */
#nav {
  height: auto;
  width: 100%;
  background-color: blue;
  border-style: ridge;
  border-color: lightgrey;
  border-width: 5px;;
  position: relative;
	margin:0 auto;
  }
li{
  text-transform: capitalize;
  display: inline-block;
  color: white;
  width: 20%;
  text-align: center;
  padding-left: 3%
}
a:link{ color: white;   font-weight: normal;}
a:visited{ color: white; font-weight: normal;}
a:hover{ color: lightgrey; font-weight:bold;}
a:active{ color: white; font-weight:normal;}
/* Centered picture */
#content{
  text-align: center;
  margin: 2%;
}
/* Styled company information
   (#infobar)*/
#infobar{
  background-color: blue;
  width: 100%;
  height: auto;
  border-style: ridge;
  border-color: lightgrey;
  border-width: 5px;
  position: relative;
  margin:0 auto;
  color: white;
}
/* Styled company information
   copyright */
p{
  margin: 1%;
  text-align: center;
}
/* Styling for copyright */
#footer{
  background-color: lightgrey;
  width: 100%;
  height: auto;
  border-style: ridge;
  border-color: lightgrey;
  border-width: 5px;
  position: relative;
  margin:0 auto;
  color: blue;
}
