header, footer {
  background-color: #99BEC3;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

main {
  display: flex;
}

nav {
  background-color: purple;
  width: 186px;
  height: 640px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


section {
  width: 1039px;
  min-height: 640px;
  background-color: #C9D3D1;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  width: 47%;
  height: 214px;
  background-color: #94A5B3;
  margin: 10px;
}

article:nth-child(1) {
  width: 100%;
}


@media (max-width: 375px) {
  main {
    display: block;
  }
  nav {
    height: 100px;
  }
  article, section, nav {
    width: 100%;
}

@media (min-width: 375px) and (max-width: 900px) {
  nav {
    height: 100px;
  }
  article, section, nav {
    width: 100%;
  }
}
