/* Begin Background Images */
.bg {
    background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e471a27144269e4b573dfdee025e7327&auto=format&fit=crop&w=1440&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image: url("https://images.unsplash.com/photo-1477696957384-3b1d731c4cff?ixlib=rb-0.3.5&s=86b2819f89043353c41e169c90103b42&auto=format&fit=crop&w=1350&q=80");
    height: 100%; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-o {
    background-color: white;
    opacity: .9;
}
/* End Background Images */
/* Begin Containers */
.container1 {
    position: relative;
    text-align: center;
}
/* End Containers */
/* Begin position mods */
.centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* End position mods */
/* Begin Text mods */
.whiteText {
    color: white;
}
#upload {
    margin: 7px;
}
.largeText {
    font-size: 4vw;
}


/* End Text mods */
