.lesson a{
  color:white;
  border:1px solid white;
  text-decoration:none;
  padding-left:10px;
  font-size:20px;
  background-color:rgba(0,0,0,.5);
  padding:10px;
}
.header{
  background-color:#d9b857;
  text-align:center;
  marging:auto;
  height:60px;
  margin-top:-22px;
  padding-top:10px;
  padding-bottom:200px;
  font-size:40px;
  font-family:Serif;
}
.lesson{

  width:50%;
  height:300px;
  float:left;
}
.lesson h3{
  color:white;
  padding:10px;
  font-size:40px;
  margin-bottom:10px;
}
.one {
  background-image:url("https://images.unsplash.com/photo-1459519331056-8ecc519bf864?dpr=1&auto=compress,format&crop=entropy");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.two{
  background-image:url("https://images.unsplash.com/photo-1430080369629-afa4c2ae5121?dpr=1&auto=compress,format&crop=entropy&");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}
.three{
  background-image:url("https://images.unsplash.com/photo-1433444306168-f18e2a8dde77?dpr=1&auto=compress,format&crop=entropy&f");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}
.four{
  background-image:url("https://images.unsplash.com/photo-1422043286302-c7e382c867ac?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.five{
  background-image:url("https://images.unsplash.com/photo-1460134846237-51c777df6111?dpr=1&auto=compress,format&crop=entropy&");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.six{
  background-image:url("https://images.unsplash.com/photo-1461950209984-1ce1f03a1be9?dpr=1&auto=compress,format&crop=entropy&");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.seven{
  background-image:url("https://images.unsplash.com/photo-1432838933001-a143b529ea43?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.eight{
  background-image:url("https://images.unsplash.com/photo-1414338064484-43f58c33aeb3?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.nine{
  background-image:url("https://images.unsplash.com/photo-1455593984172-9f753a2e1ebd?dpr=1&auto=compress,format&crop=entrop");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.ten{
  background-image:url("https://images.unsplash.com/photo-1457694716743-eb419114c894?dpr=1&auto=compress,format&crop=entropy&");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.eleven{
  background-image:url("https://images.unsplash.com/photo-1464206704386-46415fa8107c?dpr=1&auto=compress,format&crop=entropy&");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.twelve{
  background-image:url("https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.thirteen{
  background-image:url("https://images.unsplash.com/photo-1447272567514-98639cbdaf9c?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.fourteen{
  background-image:url("https://images.unsplash.com/photo-1464981093170-0a547e55c54c?dpr=1&auto=compress,format&crop=entropy&");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.fifteen{
  background-image:url("https://images.unsplash.com/photo-1467991521834-fb8e202c7074?dpr=1&auto=compress,format&crop=entropy");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.sixteen{
  background-image:url("https://images.unsplash.com/photo-1448716061616-5856dfdb900e?dpr=1&auto=compress,format&crop=entropy&f");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.seventeen{
  background-image:url("https://images.unsplash.com/46/sh3y2u5PSaKq8c4LxB3B_submission-photo-4.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.eighteen{
  background-image:url("http://vxotic.com/wp-content/uploads/2016/07/vintage-cameras-used.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.nineteen{
  background-image:url("http://img.wallpaperfolder.com/f/49B4B8D84E1B/1920x1200-vintage-coca-cola-bottles.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
.twenty{
  background-image:url("http://www.magic4walls.com/wp-content/uploads/2014/02/vintage-landscape-bridge-photos-river-fog.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
