.hero {
  background-image:url("../img/nasa-background.jpg");
  color:white;
  background-color:inherit;
  background-position:center;
  width:850px;
  height:450px;
  text-align:center;
}

.hero h1 {
  padding:180px;
  font-size:90px;
}

.info {
  float:left;
  text-align:left;  
}
