section {
  background-image: url(../img/nasa-background.jpg);
  width: 850px;
  height: 450px;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  padding-top: 175px;
  font-size: 80px;
  font-family: Arial Black;
}

footer {
  background-color: #E6E6E6;
  height: 324px;
  width: 850px;
}

.info {
  float: left;
  width: 270px;
  text-align: left;
  padding-left: 10px;
}

.form1 {
  width: 200px;
  height: 25px;
  background-color: white;
}

.form2 {
  width: 200px;
  height:75px;
  background-color: white;
}

.submit {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: #4D4D4D;
  color: white;
  font-family: Arial;
  padding-top: 10px;
  font-size: 18px;
}

h2 {
  font-family: Arial Black;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.format {
  font-family: Arial;
}
