body {
    margin: 0 auto;
    width: 90%
}

#nasa {
    background-image: url(../img/nasa-background.jpg);
    width: 850px;
    height: 450px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    margin-left: 200px;
}

h1 {
    color: white;
    text-align: center;
    ;
    padding-top: 175px;
    font-size: 100px;
}

.social {
    height: 324px;
    width: 270px;
    padding-right: 20px;
    float: left;
    background-color: rgb(240, 240, 240);
    list-style: none;
    margin-left: 200px;

}

a {
  color: black;
  text-decoration: none;
}

.office {
    height: 324px;
    width: 270px;
    padding-right: 20px;
    float: left;
    background-color: rgb(240, 240, 240);
    list-style-type: none;
    line-height: 150%
}

.contact {
    height: 324px;
    width: 270px;
    float: left;
    background-color: rgb(240, 240, 240);
}

.clearfix {
    display: block;
    content: " ";
    clear: both;
}

button {
    width: 85px;
    height: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #737373;
    border: none;
}
