/********* Light **********/

.form-submit-button-light{

    cursor: pointer;

    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;

    padding:6px 18px;

    color: #7c868d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;

    text-shadow:1px 1px 0px #ffffff;

    border:1px solid #dfdfdf;

    -moz-box-shadow:inset 0 1px 0 0 #ffffff, 0 1px 1px 0 rgba(0, 0, 0, 0.40);
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff, 0 1px 1px 0 rgba(0, 0, 0, 0.40);
    box-shadow:inset 0 1px 0 0 #ffffff, 0 1px 1px 0 rgba(0, 0, 0, 0.40);

    background: #eaeaea; /* old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* ie */
    background: linear-gradient(top, #fafafa 0%, #eaeaea 100%); /* W3C */
}

.form-submit-button-light:hover{
    color: #7c868d !important;
    border:1px solid #dfdfdf !important;
    background: #f4f4f4; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* webkit */
    background: linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* ie */
}

.form-submit-button-light:active{
    color: #7c868d !important; 
    border:1px solid #dfdfdf !important;
    -moz-box-shadow:inset 0 2px 2px 0 #c7c7c7;
    -webkit-box-shadow:inset 0 2px 2px 0 #c7c7c7;
    box-shadow:inset 0 2px 2px 0 #c7c7c7;

    background: #f0f0f0; /* old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #f9f9f9 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f9f9f9)); /* webkit */
    background: linear-gradient(top, #f0f0f0 0%, #f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f9f9f9',GradientType=0 ); /* ie */
}

