.container-fluid {
  background-color: #b7d7e8;
}
.nav {
  text-decoration-color: black;
}
.headcontainer {
  height: 80px;
}
h1 {
  font-size: 60px;
  font-family:'Amaranth', sans-serif;
  text-shadow: 2px 2px 2px #002966;
}
.wrapper {
  width: 900px;
}
.centered {
  margin: auto; max-width: 3000px;
}
.navbutton{
  text-align: center;
  height: 40px;
  padding-top: 5px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  border-bottom: solid black 1px;
}
h2 {
  font-family:'Amaranth', sans-serif;
  text-decoration: underline;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.maincontain {
  height: 500px;
  width: 50%;
  /*border: solid black 1px;*/
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}
.experiencecontain {
  width: 100%
}
.workcontain {
  width: 100%;
}
.aboutphoto {
  border-radius: 15px;
  margin-top: 30px;
  height: 190px;
  box-shadow: 3px 3px 3px black;
}
ul {
  list-style: none;
}
li {
  font-weight: bold;
  font-size: 20px;
}
.workcontain {
  display: flex;
  flex-wrap: wrap;
}
.workbox {
  border: solid black 1px;
}
