* {
  font-family: 'Martel Sans', sans-serif;
}

.top * {
  color: #fff;
}

.top {
  height: 525px;
  background-image: url(../images/hero-cookied-base.jpg);
  background-size: cover;
}

header {
  padding: 17px;
  height: 35px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  text-align: center;
}

.logo {
  position: absolute;
  top: 17px; left: 25px
}

header img, header nav {
  display: inline-block;
}

.top a {
  text-decoration: none;
}

.nav-bar {
  height: 40px;
  margin: 10px auto;
}

.header-buttons {
  position: absolute;
  top: 17px; right: 17px;
}

.nav-bar li {
  float: left;
  height: 28px;
  padding: 0 10px;
  margin-right: 16px;
  height: 40px;
  list-style: none;
  font-size: .8em;
  font-weight: bolder;
}

nav li:hover {
  border-bottom: 3px solid #fff;
}

.button {
  font-weight: bolder;
}

header nav .button {
  height: 15px;
  width: 50px;
  border-radius: 20px;
  float: right;
  font-size: .7em;
  border: 1px solid #fff;
  margin-left: 12px;
  padding: 8px 16px 12px 16px;
}

.login {
  background: transparent;
}

.signup {
  background-color: #fff;
  color: #090a05;
}

main {
  margin-top: 20px;
}

.top h1 {
  font-size: 3.7em;
  font-weight: lighter;
  margin: 100px 0 10px 0;
  line-height: 140%;
}

.top p {
  font-size: 1.37em;
  line-height: 140%
}

.top h1, .top p {
  text-align: center;
}

.main-buttons {
  margin: 0 auto;
}

main a:link {
  display: block;
  font-size: .85em;
  text-align: center;
  height: 35px;
  width: 270px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 13px 0 2px 10px;
  border-radius: 23px
}

.learn {
  background-color: #009cde;
  border-style: none;
  margin-top: 20px;
}

main .login {
  margin-top: 17px;
  border: 1px solid #fff;
  padding-bottom: 10px;
}


.bottom {
  background-color: #f7f9fa;
  padding: 87px 22px 10px 22px;
  text-align: center;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.2em;
}

h2, h3 {
  font-weight: lighter;
}

.cards {
  margin-top: 20px;
}

.card {
  height: 205px;
  width: 235px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  display: inline-block;
}

.first-three-cards {
  margin-right: 16px;
}

.card img {
  margin: 25px 0 0 0;
}

.bottom a, footer a {
  text-decoration: none;
}


.bottom a:hover, footer a:hover {
  text-decoration: underline;
}

.bottom a {
  color: #2b77be;
}

h5 {
  font-size: .83em;
  font-weight: bolder;
  color: #2b77be;
  margin-top: 40px;
  margin-bottom: 75px;
  text-align: center;
}

footer {
  height: 216px;
  padding: 18px;
}

.search-lang {
  padding: 10px;
  margin: 0 auto;
}

footer svg {
  margin-right: 25px;
}

.flag {
  height: 18px;
}

footer {
  color: #707070;
  text-align: center;
}

footer a {
  color: #707070;
}

#lowest-outer li {
  line-height: 15px;
}

.table {
  display: table;
  margin: 0 auto;
}

.table ul {
  list-style: none;
  font-weight: lighter;
}

.table li {
  display: inline;
  font-size: .8em;
}

.top-list li {
  margin-right: 20px;
}

.middle-list {
  margin-top: 28px;
}

.middle-list li {
  margin-right: 10px;
}

#middle-outer li, #lowest-outer li {
  padding: 8px;
}

#lowest-outer li {
  font-size: .7em
}

strong {
  color: #444;
}
