html{
    font-family: sans-serif;
}

div, section {
  border: 1px solid red;
}

main {
    padding: 0 auto;
    text-align: center;
}

main h1 {
    color: #f35626;
    font-size: 3em;
}

.container div{
  height: 570px;
}

.container section {
  height: 570px;
  border: 1px dashed green;
}

.container article{
  border: 1px dotted teal;
  height: 270px;
}

.myslide  {
  height: 570px;
}

/* IMG SQUARES*/

#books{
  background-image: url("../img/work6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pencil{
  background-image: url("../img/work4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#chicken{
  background-image: url("../img/work7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
