html{
    font-family: "Slabo 27px", serif;
}

/*div{
  border: 1px solid red;
}*/

main {
    padding: 0 auto;
    text-align: center;
}

/*main h1 {
    color: #f35626;
    font-size: 3em;
    line-height: 50px;
}*/

.container {
  height: 540px;
  padding: 0;
}

article#book  {
  background-image: url("../img/worksnip.JPG");
}

article#chicken {
  background-image: url("../img/work7.jpg");
}

.container article{
  height: 270px;
  /*border: 1px solid gold;*/
  background-image: url("../img/work6_re.jpg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}



.vertical-align {
  display: flex;
  align-items: center;
}

.1-square {
  height: 270px;
  padding: 0;
}

#myCarousel {
  height: 540px;
  -webkit-box-shadow:inset 0px 0px 0px 14px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px 14px #ffffff;
  box-shadow:inset 0px 0px 0px 14px #ffffff;
}

#myCarouselGray {
  height: 540px;
  -webkit-box-shadow:inset 0px 0px 0px 14px #ffffff;
  -moz-box-shadow:inset 0px 0px 0px 14px #ffffff;
  box-shadow:inset 0px 0px 0px 14px #ffffff;
}

.item, .item .active  {
  height: 540px;
}

.tile-copy{
  display: inline-block;
  padding: 150px 15px 0;
  line-height: 40px;
  font-family: "Slabo 27px", serif;

}

.tile-copy h2 {
  line-height: 50px;
  font-size:
}

.yellow-slide {
  background-color: rgb(244,237,71);
  height: 540px;
}

.gray-slide {
  background-color: rgb(238,238,238);
  height: 540px
}

#square-gray{
      background-image: none;
}

#square-gray-bottom{
      background-image: none;
}

#square-gray .tile-copy{
  background-color: rgb(238,238,238);
  height: 240px;
  padding-top: 70px;
}


#square-gray-bottom .tile-copy{
    background-color: rgb(238,238,238);
    height: 240px;
    padding-top: 70px;
}
