html{
    font-family: sans-serif;
}

div{
  border: 1px solid red;
}

main {
    padding: 0 auto;
    text-align: center;
}

main h1 {
    color: #f35626;
    font-size: 3em;
}

.container {
  height: 540px;
  padding: 0;
}


.container article{
  height: 270px;
  border: 1px solid gold;
  background-image: url("../img/work6_re.jpg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.1-square {
  height: 270px;
  padding: 0;
}

.yellow-slide {
  background-color: yellow;
  height: 540px;
}

.gray-slide {
  background-color: gray;
  height: 540px
}

#square-gray{
      background-image: none;
}

#square-gray-bottom{
      background-image: none;
}

#square-gray .tile-copy{
  background-color: gray;
  height: 240px;
  padding-top: 70px;
}


#square-gray-bottom .tile-copy{
    background-color: gray;
    height: 240px;
    padding-top: 70px;
}
