body {
}

header {
    width: 75%;
    font-size: 1em;
    float: left;
    }

 nav  {
    display: inline-block;
    float: left;
    width: 19%;
    }


#hero{
  background-image: url("../img/scroller.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 90%;
  height: 350px;
  font-size: 40px;
  text-align: center;
  color: blue;
  float: right;
  padding: 3px;
  margin-top: 0px:
  display: flex;
  align-content: flex-start;
}



body {
width: 100% auto;
margin: 0 auto;
display: block;
font-family: Georgia, serif;
}

nav.navbar{
  font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
}


#hero {
  background-image: url("../img/wine-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  color: white;
  padding-top: 20px;
  text-align: center;
  padding: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero img{
  width: 300px;
  height: 400px;
}

.herotext {
  color: white;
}

#quote {
  font-size: 21px;
}

#about{
  text-align: center;

}

#aboutimage{
  width:100%;
}

#about h3 {
  padding: 50px 15px;
  font-style: italic;
  font-size: 3em;
  font-family: Georgia;
}

#about p{
  padding: 50px 15px;
    font-size: 1.2em;
    margin-top: 30px;
    line-height: 30px;
    font-family: Georgia;
}

#est {
  padding: 50px 15px;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
  font-family: Georgia;
}

#sign {
  width: 178px;
  height: 80px;
}

#third{
  background-image: url("../img/wine13.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  color: white;
  text-align: center;
  padding: 300px;
  font-family: Georgia;
  display: flex;
  flex-direction: column;
}

#bottle{
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
  font-family: Georgia;
}

#bottle img{
  padding-left: 100px;
  height: 500px;
}

#bottle h3{
  font-style: italic;
  margin-bottom: 10px;
  padding: 20px 0;
}

#bottle h5{
  font-style: italic;
  margin-bottom: 40px;
  padding-top: 5px;
  line-height: 20px;
}

.button {
    background-color: green;
    color: white;
    paddding: 2px;
    font-family: "Raleway", Helvetica Neue, Helvetica, Arial, sans-serif;
}


@media screen and (min-width: 800px){


    #third{
      height: 40%auto;
      width: 40%;
      align-self: center;
      margin: 0 auto;
      margin-bottom: -20px;
      margin-top: 20px;
      flex-direction: column;
    }

    #bottle{
      flex-direction: column;
      flex: 1;
      align-content: center;
    }

}
