body {
}

header {
    width: 75%;
    font-size: 1em;
    float: left;
    }

 nav  {
    display: inline-block;
    float: left;
    width: 19%;
    }


#hero{
  background-image: url("../img/scroller.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 90%;
  height: 350px;
  font-size: 40px;
  text-align: center;
  color: blue;
  float: right;
  padding: 3px;
  margin-top: 0px:
  display: flex;
  align-content: flex-start;
}
