nav h1 {
    text-align: left;
    font-size: 30px;
    float: left;
    padding: 5px 5px;
}
nav a {
    font-size: 14px;
    float: right;
    padding: 10px;
    text-decoration: none;
    color: #817b6b;
}
nav a:hover {
    background-color: #817b6b;
    color: white;
}
h1, h3, a, p {
    font-family: lato, sans-serif;
}
#italics {
    font-style: italic;
    padding-bottom: 5px;
}
.headerimage {
    background-image: url("../img/wine-bg.jpg");
    border-top: 40px solid white;
}
.headerimage h1 {
    padding: 180px 0px 50px;
    font-size: 55px;
}
.headerimage p {
    text-decoration: em;
}
.photo {
  height: 500px;
  width: auto;
  background-color: #6e6e6e;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}
.hardwork {
    height: 500px;
    width: auto;
    margin: 0 auto;
    width: 85%;
    background-color: white;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .hardwork h3, .history h3,{
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
  }
  .hardwork h3 {
    padding: 40px 0px;
  }
.hwleft {
    height: auto;
    width: 450px;
    float: left;
}
.hwright {
    background-image: url("../img/wine16.jpg");
    float: left;
    width: 400px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 80px;
}
.est {
    font-size: 10px;
    color: #b9b9b9;
    padding-top: 150px;
}
.est, .hwleft h3, .hwleft p, .bottles h3, .bottles p {
  text-align: center;
}
.history {
  background-image: url("../img/wine13.jpg");
}
.history h3 {
  padding: 200px 0px 35px;
}
.bottles h3  {
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
}
.bottles p {
  font-size: 9px;
  padding-bottom: 10px;
}
.bottles {
    height: 350px;
    width: auto;
  margin: 0 auto;
    width: 70%;
    background-color: white;
  }
.left, .middle, .right {
  float: left;
  width: 185px;
  height: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top:250px;

}
.left {
  background-image: url("../img/wine3.jpg");
}
.middle {
  background-image: url("../img/wine6.jpg");
  margin: 0 120px;
}
.right {
  background-image: url("../img/wine7.jpg");
}

.bottles a {
  background-color: #91a05d;
  color:white;
  text-decoration: none;
  padding: 5px 15px;
}
.bottles a:hover {
    background-color: white;
    color: #91a05d;
    border: #91a05d solid 2px;
