body {
  font-family: 'Open Sans', sans-serif;
}
/*////////////////*/
/*CLEAR FIX END OF CSS*/
/*////////////////*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*////////////////*/
/*the end*/
/*////////////////*/
