* {
    font-family: 'Poiret One', cursive;
    margin: 0px;
    padding: 0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: 3em;
}

nav ul li {
    display: inline-block;
    padding-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
}

.header-image {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11em;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url("../img/wine-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-width: 100%;
}

.header-image h1 {
    font-size: 3em;
    margin-bottom: 1.5em;
}

.business-info {
    display: flex;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
}

.business-info-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    padding-right: 4em;
    text-align: center;
}

.business-info-left * {
    margin-bottom: 1.5em;
}

.business-info-left h3 {
    font-size: 2.25em;
}

.business-info-right img {
    width: 300px;
    height: 400px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.business-info-2 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../img/wine13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5em;
    margin-top: -5px;
}

.business-info-2 * {
    margin-bottom: 1.5em;
}

.business-info-2 h3 {
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin-top: .5em;
}

footer img {
    height: 300px;
    width: 150px;
}
footer button {
  border: #788448;
    ;
}
