main {
  font-family: 'Open Sans';
  text-align: center;
}
p {
  font-size: 16px;
}
#header-box {
  background-image: url("../img/wine-bg.jpg");
  height: 500px;
  color: white;
}
#header-box h1 {
  font-size: 50px;
  padding: 130px 0 50px 0;
}
.bg-img-properties {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
 background-color: #6e6e6e;
}
#experience {
  height: 500px;
  color: black;
}
#experience div img {
  height: 500px;
}
#experience div p:first-of-type {
  padding: 100px 0 30px 0;
  color: #b3b3b3;
  font-size: 15px;
}
#experience h3 {
  font-family: Georgia;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
#knowledge {
  height: 350px;
  background-image: url("../img/wine13.jpg");
  color: white;
}
#knowledge h2 {
  font-size: 30px;
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  padding: 70px 0 30px 0;
}
.products {
  padding: 0 30px;
  margin-bottom: 30px;
}
.products img {
  height:300px;
}
.products h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia;
}
.products button {
  margin-top: 10px;
  border: none;
  background-color: #88cc00;
  color: white;
  padding: 5px 10px;
}
.products button:hover {
  border: 1px solid black;
  color: black;
}
/*PHONE CSS*/
@media (max-width: 767px) {
  #header-box h1 {
    font-size: 40px;
  }
  p {
    font-size: 12px;
  }
  #experience div p:first-of-type {
    font-size: 10px;
    padding: 30px 0 30px 0;
  }
  #experience div p:last-of-type {
    color: white;
  }
  #experience div h3 {
    font-size: 20px;
    color: white;
  }
  #knowledge {
    color: black;
  }
  #knowledge h2 {
    font-size: 20px;
    padding: 30px 0 10px 0;
  }
  #knowledge p {
    padding-bottom: 20px;
  }
}

/*TBALET CSS*/
@media (min-width: 768px) and (max-width: 991px) {
  #header-box h1 {
    font-size: 40px;
    padding-top: 150px;
  }
  p {
    font-size: 12px;
  }
  #experience img {
    margin: auto;
  }
  #experience div p:first-of-type {
    font-size: 20px;
    padding: 50px 0 30px 0;
  }
  #experience div p:last-of-type {
    color: white;
  }
  #experience div h3 {
    font-size: 30px;
    color: white;
    padding: 0 0 30px 0;
  }
  #knowledge {
    color: black;
  }
  #knowledge h2 {
    font-size: 20px;
    padding: 80px 0 10px 0;
  }
  #knowledge p {
    padding-bottom: 20px;
  }
}
